[2018-10-26 07:08] jjwallaby opened #2941 "How to configure correctly minishift to work behind a proxy. Vagrant has no issues."
### General information

  * Minishift version:
  * OS: Windows
  * Guest OS: Centos 7
  * Hypervisor:  VirtualBox

How to configure correctly minishift to work behind a proxy.  Vagrant has no issues.
It seems that minishift can ssh.  BUT the OS certificates are not valid.  how to copy files
like in Vagrant ?  How to copy corporate CA perm to OS ?

-- Starting profile 'minishift'
-- Using proxy fo

[2018-10-26 07:13] gbraad commented on #2941
Just reading the title I am confused about the argument; Vagrant is a virtualization deployment solution, which starts a 'configured' VM, based on a setup script. Minishift also starts a VM, but will deploy and run several containers inside of this. While we are able to deploy needed certificates inside this VM, the containers would have no knowledge of this. This would have been no different when

[2018-10-26 07:13] #2941 closed

[2018-10-26 07:15] gbraad commented on #2941
Note: the startup command did not show use of `--http-proxy` and `--htps-proxy`

[2018-10-26 07:16] gbraad commented on #2880
@jjwallaby this would handle the certificate option

[2018-10-26 07:42] #2933 closed

[2018-10-26 08:01] jjwallaby opened #2942 "How do you force to make the browser look at local PC virtual network and not go outside."
### General information

  * Minishift version: v1.18.0+756b128
  * OS:  Windows
  * Hypervisor:  VirtualBox

Could not set oc CLI context for: 'minishift'

**It seems that the the port forwarding from 127.0.0.1 is not working.  How do you set port forwarding
it seems that it is going outside the network to search public hostname IP 192.168.99.103 .  Should this
not be a PRIVATE network ?**

-- Ch

[2018-10-26 08:08] dgolovin commented on #2938
@LalatenduMohanty @praveenkumar thank you for comments! The reason I created this issue is it is in documentation which I followed and it did not work. I am also aware of second way do that with `minishift openshift component add service-catalog`, but it is not documented yet. I am not sure what is preferred way though. I think both should be documented.

[2018-10-26 08:18] dgolovin opened #2943 "Service-catalog is not available when enabled on minishift 1.23+ with OpenShift 3.10+"
[code]
prints no brokers after running minishift with service catalog enabled ether with extra `oc cluster up` flags or `minishift openshift component add` command. I have this problem on windows and linux workstations. The only way I can test service-catalog related work is by using minishift 1.22.

[2018-10-26 08:32] gbraad commented on #2942
liekly caused by old information, as the oc login command assumed to
use 127.0.0.1 instead.
Has `oc cluster up` been used on this machine directly? like
tarrgeting docker for Windows?

[2018-10-26 08:32] surajnarwade commented on #2943
Hey @dgolovin ,

my minishift version is:

[code]

To enable service catalog on minishift,

[code]

After this,

[code]

[2018-10-26 08:57] anjannath commented on #2096
Upstream PR https://github.com/machine-drivers/machine/pull/10

[2018-10-26 08:59] yayan19 commented on #2910
Hi,

I'm facing similar issues..

[code]
I'm using Windows 7 Professional with VirtualBox 5.2.20.

Here's the minishift version:
[code]

Here's the log when running `minishift start`

[code]

I check the IP and port mentioned in the log.

[code]

Telnet the port 8443, failed.
[code]

Also tried telnet port 22, it succeed.
[code]

I tried to create a specific outbound rule on my Windows Firewall fo

[2018-10-26 08:59] anjannath opened #2945 "Update vendor machine-drivers/machine to latest commit"
After https://github.com/machine-drivers/machine/pull/10 is merged
Related to #2096

[2018-10-26 09:54] #2940 closed

[2018-10-26 10:11] gbraad commented on #2945
:+1

On Fri, Oct 26, 2018 at 4:59 PM Anjan Nath <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-10-26 12:51] ajvillarroelp opened #2947 "Login to registry fails with "conn refused" on ubuntu 16.04, clean install"
### General information

  * Minishift version: minishift-1.25.0-linux
  * OS: Linux / macOS / Windows
Ubuntu 16.04  (elementary OS Loki)
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox
KVM

This is a clean installation of minishift. I run minishift with root user.
Symptom is  that I  cannot build apps (pull or push error).
This command fails:

### Steps to reproduce

  1. minishift start
  2.

[2018-10-26 13:03] ajvillarroelp commented on #2947
Hi,
Thinking about it is not a clean install. Before, I had to to reset minishift because it only works for root user. So I did:

minishift delete
virsh undefine <uuid>

Regards,

Antonio V.

[2018-10-26 13:43] praveenkumar commented on #2947
@ajvillarroelp does your issue is now resolved or you still facing it?

[2018-10-26 15:09] gh0st opened #2948 "Ransomware detected by Trend Micro"
### General information

  * Minishift version:
  * OS: Windows
  * Hypervisor: Hyper-V

I'm getting ransomware warnings when trying to install minishift. Is this normal? Is one supposed to just disable antivirus during install?

### Steps to reproduce

  1. Download the latest version of [minishift](https://github.com/minishift/minishift/releases/download/v1.26.1/minishift-1.26.1-windows-amd64.zi

[2018-10-26 15:55] ajvillarroelp commented on #2947
Not solved.

[2018-10-26 16:11] robin-owen opened #2949 "Typo in cmd/minishift/cmd/util/oc.go"
There's a typo in **_cmd/minishift/cmd/util/oc.go_**:

[code]

"Openshift" should be "OpenShift" here.

Likewise here:

[code]

[2018-10-26 17:59] praveenkumar commented on #2948
@gh0st do you see same warning if you use 1.25.0 or any older release binary during the extraction of zip file?

[2018-10-26 18:04] praveenkumar commented on #2947
@ajvillarroelp I went through the logs https://gist.github.com/ajvillarroelp/d3e02404cf891e70115a3bc1190c9593 and looks like the registry pod was not even up yet. I think you need to wait for some time till pod is up and running something like below.

[code]

[2018-10-26 20:40] putz612 opened #2950 "Unable to create Hyper-V VM"
### General information

  * Minishift version: 1.25.0 and 1.26.1
  * OS: Windows 10 x64
  * Hypervisor:  Hyper-V

### Steps to reproduce

  1. run minishift start to begin the vm creation

### Expected
minishift awesomeness!

### Actual
no awesomeness

### Logs
I know I am in the small percentage where I have a corporate system and my user home is a mapped drive which already makes this harder.

[2018-10-26 22:10] gh0st commented on #2948
Just tried 1.24.0. No warnings from Trend Micro.

[2018-10-26 23:57] #2694 closed

[2018-10-27 13:31] gbraad commented on #397
Artifacts should be the project definition, target OpenShift version,
and the used containers. This has however been a separate discussion.
On Sat, Oct 27, 2018 at 8:41 PM stale[bot] <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-10-28 03:57] gbraad commented on #1895
relevant...

need to consider alternatives approaches whenever possible

On Sun, Oct 28, 2018 at 1:41 AM stale[bot] <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-10-29 01:26] jjwallaby opened #2952 "Error starting the VM: Error creating the VM. Error creating machine: Error checking the host: Error checking and/or regenerating the certs: There was an error validating certificates for host "192.168.99.105:2376": dial tcp 192.168.99.105:2376: i/o timeout"
### General information

  * Minishift version: v1.18.0+756b128
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected

### Actual

-- Starting Minishift VM ......................................... FAIL E1029 09:23:20.226875   13800 start.go:391] Error starting the VM: Error creating the VM. Error creating machine: Error checking the host: Error chec

[2018-10-29 01:41] gbraad commented on #2952
You are experiencing an issue with a changed IP address. Please delete the
instance and start a new one. This is a known issue and can not be worked
around once it happened. There is however a workaround that sets the
address as static after starting. This is since the latest release of
Minishift done by default, else use `minishift ip --set-static`

On Mon, Oct 29, 2018 at 9:26 AM Justin W <notif

[2018-10-29 02:09] jjwallaby opened #2953 "Escape codes are shown on Windows when using ssh+vi"
### General information

  * Minishift version:
  * OS: Windows
  * Hypervisor:  VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected

minishift ssh
]0;docker@minishift:~[?1034h[docker@minishift ~]$ pwed
-bash: pwed: command not found
]0;docker@minishift:~[docker@minishift ~]$ pwd
/home/docker
]0;docker@minishift:~[docker@minishift ~]$

### Actual

### Logs

You can start Mini

[2018-10-29 02:40] jjwallaby commented on #2953
example vi
 vi /tmp/jjw.txt
[?1049h[?1h=[1;24r[?12;25h[?12l[?25h[27m[m[H[2J[?25l[24;1H"/tmp/jjw.txt" [New File][2;1H[1m[34m~                                                                               [3;1H~                                                                               [4;1H~                                                                               [5;1H~

[2018-10-29 03:19] jjwallaby opened #2954 "Get https://registry-1.docker.io/v2/: x509: certificate signed by unknown authority"
### General information

  * Minishift version: v1.26.1+1e20f27
  * OS: Windows
  * Hypervisor:  VirtualBox
  * guest box: Centos 7

Problem is why when it pulls docker the Certificate is unknown authority ?

**Get https://registry-1.docker.io/v2/: x509: certificate signed by unknown authority

Error pulling the openshift container image: ssh command error:
command : docker pull openshift/origin-c

[2018-10-29 04:11] gbraad commented on #2954
This is a duplicate of an earlier issue. You are behind a proxy that uses re-ecnryption. This will be looked into with #2880.

[2018-10-29 04:11] #2954 closed

[2018-10-29 04:12] gbraad commented on #2954
Same issue as #2941

[2018-10-29 05:27] jjwallaby opened #2956 "initialize a new minishift after delete. FAILS to ssh. From a fresh rebuild of centos 7 rror starting the VM: Error starting stopped host: Too many retries waiting for SSH to be available. Last error: Maximum number of retries (60) exceeded. Retrying."
### General information

  * Minishift version:
  * OS: Windows
  * Hypervisor: VirtualBox
  * Guest OS: Centos 7

**NOTE this is an open laptop.  Not using proxy or not behind a proxy.
iso image built from
git clone https://github.com/minishift/minishift-centos-iso.git
using windows.**

### Steps to reproduce

  1.  minishift delete
  2. .\minishift.exe start --vm-driver=virtualbox  --iso-url=fil

[2018-10-29 05:34] amitkrout commented on #2638
@LalatenduMohanty Can you please have a try on your local Win10 setup

[2018-10-29 06:03] amitkrout commented on #2696
Failed due to timeout - https://ci.centos.org/job/minishift-nightly-centos/322/console

[2018-10-29 06:29] jjwallaby commented on #2956
Guess being too optimistic about minishift.  The problem I believe is possible in the build of the centos 7 which clearly states the process for the build...running **Make** which possible has some underlying issues not address.  Even though followed instructions on minishift build **https://github.com/minishift/minishift-centos-iso**
extract :

`$ git clone https://github.com/minishift/minishift-

[2018-10-29 06:55] gbraad commented on #2952
Workaround is available and is documented
Please try the suggestion and if this doesn't work, please re-open this issue

[2018-10-29 06:55] #2952 closed

[2018-10-29 06:56] #2949 closed

[2018-10-29 06:59] gbraad commented on #2956
You can create a new rebuild of the ISO, but be sure to use an fully updated CentOS as the host for the build. In the vagrantfile we do an update, but always check... as this is not the general process we use to create an image.

You can look at the VM console and verify you can login using `root`/`centos`. If you can't, it likely fails with a PAM issue... and this is probable also the reason why

[2018-10-29 06:59] #2956 closed

[2018-10-29 07:00] gbraad commented on #2956
Also, this is an issue that should be filed against the ISO repo if the process didn't work.

[2018-10-29 07:02] gbraad commented on #2953
What shell are you using? We have tested cygwin, posh (+openssh-win32) and git-bash. You could use cmd, but for this you need to use the console2 (new generation on Windows 10) and use a recent ssh client.

This is likely related to how your ssh client handles the term implementation. The funny characters are ESCape codes and are used for controlling the terminal output.

[2018-10-29 07:04] gbraad commented on #2953
You should also not use the VM as a work environment... as this will result in #355. When the `/` (root) filesystem fills up, it might lock-up the virtual environment. You can however use `/var/sda1/` and container images for this.

[2018-10-29 07:06] gbraad commented on #2952
See #1756

[2018-10-29 07:46] jjwallaby opened #2957 "How do you get the certificates been generated successfully on start?"
### General information

  * Minishift version: v1.26.1+1e20f27
  * OS:  Windows
  * Hypervisor:  VirtualBox
  * guest OS:  Centos 7 official build 1.13

### Steps to reproduce

  1. minishift delete --force --clear-cache
  2. minishift start  --vm-driver=virtualbox  --iso-url=file://c:/NotBackedup/dev/anzminishift/minishift-centos7_v1_13.iso --http-proxy=XXXXX --htts-proxy=XXXXX
  3.
  4.

### Ex

[2018-10-29 07:53] amitkrout opened #2958 "Nightly stuck in addon-che.feature file on Java CentOS stack"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. make integration GODOG_OPTS="-tags addon-che"
  2.
  3.
  4.

Place where it stuck - https://github.com/minishift/minishift/blob/master/test/integration/features/addons/addon-che.feature#L50
Reported in CI - https://ci.centos.org/jo

[2018-10-29 08:00] amitkrout commented on #2958
Not sure if any changes has done from che java stack side causing the issue

[2018-10-29 08:35] gbraad commented on #2906
At the moment a connected state is necessary... unless you use the Image-caching functionality. But then, you would still have an issue with resolving the addresses like `*.nip.io` or `*.xip.io` (for this we have an experimental dns resolver as documented in the experimental features section). Running completely disconnected is something that needs experimentation and resolving on your end, as we

[2018-10-29 08:35] #2906 closed

[2018-10-29 08:39] gbraad commented on #2906
Perhaps it is better to also keep an issue focussed on one topic, such as 'off line' use. See #1637 and #397

[2018-10-29 08:43] gbraad commented on #2957
You can only have certificates generated on initial start. This means that you would need to `minishift delete` and do a `minishift start`.

The certificates are stored in the persistent storage of the VM and even when removed by hand (they get regenerated on start) this will result in an issue with the deployed applications. It is therefore best to `minishift delete`, and make sure the IP does no

[2018-10-29 08:44] #2957 closed

[2018-10-29 08:58] braykov commented on #2687
Actually, do not download oc if the same verision of the file is already in the folder.

[2018-10-29 09:14] jjwallaby opened #2959 "how to share a folder from windows to an virtualbox guest OS centos. Like vagrant does ?"
### General information

  * Minishift version: v1.26.1+1e20f27
  * OS:  Windows
  * Hypervisor:  VirtualBox

In vagrant you can add a Windows folder to a VM (virtualbox) guest OS like centos
using the tool

**vagrant plugin install vagrant-sbguest**

And you can mount easily and folder on your windows to the guest OS in the VagrantFile

**config.vm.synced_folder '.', '/mnt/windows'**

This DOES n

[2018-10-29 09:40] jjwallaby commented on #2942
No, As far as I know minishift uses VirtualBox.  I did not use any oc command.  My question how come minishift ssh  works.  But if do normally ssh...it tries to go outside the external network to find address when it is clearly a local IP address.

[2018-10-29 09:52] praveenkumar commented on #2959
@jjwallaby https://docs.okd.io/latest/minishift/using/host-folders.html here you can find around it.

[2018-10-29 09:54] gbraad commented on #2942
I am sorry, but I am not following this.

[code]

works. But how does `if do normally ssh` related to this? I do not see this being mentioned in the OP (original post)

[2018-10-29 09:55] gbraad commented on #2959
Please, read the documentation at: https://docs.okd.io/latest/minishift/ as many of the reported issues have been addressed here.

Closing this issue

[2018-10-29 09:55] #2959 closed

[2018-10-29 10:01] gbraad commented on #2942
From the title:

I am not following what this has to do with Minishift. Is your browser configured to use a corporate proxy? If so, you would need to add an exception or ask your local admins to modify the rules to allow to use a DIRECT connection to the class-address networks, like 192.168.x.x, 172.16.x.x., 10.x.x.x, etc. However, I am confused about the title and now mentioning ssh.

[2018-10-29 10:07] praveenkumar opened #2960 "Run only features which are not part of PR one during nightly job"
I think it would be nice to remove all the `core` feature file from the nightly job since each PR run those, it will help us to trim down some of the timing issues we are having and debug what breaking.

[2018-10-29 10:09] gbraad commented on #1637
Update: setting up a registry mirror could be done with https://gist.github.com/gbraad/7cb36210bd5effdeb788c34d6b433ac8 However, since we now have the `--no-provision` option, you can actually use a local Minishift instance to do this... or just use a vagrant/Virtual machine running CentOS to do the same, as you only have to rely on Docker to be available. Make sure the VMs are on the same virtual

[2018-10-29 10:38] #2938 closed

[2018-10-29 10:40] gbraad opened #2961 "Remove mention of Service Catalog install instruction for OKD 3.9.0 from documentation"
Remove mention of Service Catalog install instruction for OKD 3.9.0 from documentation.

https://docs.okd.io/latest/minishift/using/experimental-features.html#enabling-experimental-oc-flags

[2018-10-29 10:43] LalatenduMohanty commented on #2956
@jjwallaby Please open the issue in https://github.com/minishift/minishift-centos-iso/ .

[2018-10-29 10:49] ajvillarroelp commented on #2947
Hi,

After doing a minishift delete --force and rm -rf ~/.minishift, and minishift start,

docker ps -a
``
a5cf263d8e6a        docker.io/openshift/origin-deployer@sha256:704b5fea748bf7357649f55d5969cad631af20c3b8157d8d4add4c6f4610f0d0        "/usr/bin/openshif..."   2 minutes ago        **Exited (1) 2 minutes ago**                            k8s_deployment_docker-registry-1-deploy_default_38e36681

[2018-10-29 11:03] LalatenduMohanty commented on #2960
@praveenkumar Are you suggesting this as a temporary solution to fix the issues in nightly?

[2018-10-29 11:14] anjannath opened #2963 "Fix commit message for commit d62662"
Circle CI is failing because of the commit message is not in the expected format for commit https://github.com/minishift/minishift/commit/d6266221399a6297aae561011724bdfea5960d08

[2018-10-29 11:56] LalatenduMohanty commented on #2963
We need to do a force push to fix it.

[2018-10-29 11:56] #2963 closed

[2018-10-29 12:10] ajvillarroelp commented on #2947
Hi,

I just saw that a new minishift version is available for download (1.26). so I downloaded, and tried it again. I am happy to say that the problem is solved.

Kind regards,

Antonio V.

[2018-10-29 12:10] #2947 closed

[2018-10-29 13:07] anjannath commented on #2914
@gh0st Which trend micro product do you use, is their free **`RansomBuster`** or is it one of the generic *anti virus/network security* product?

[2018-10-29 18:51] dgolovin commented on #2943
@surajnarwade @praveenkumar thanks, I got it working. That means there is another error in documentation. Will send pr for that.

[2018-10-29 19:10] #2943 closed

[2018-10-30 01:03] jjwallaby commented on #2953
There is no container images.  This is just a fresh launch install of minishift.  As you are aware the Instance of the VM can be accessed via VirtualBox.  So the launch was done from standard windows command prompt.   minishift ssh. This  problem does not appear, if I assume docker has been launched successfully ?
Since I am unable to start minishift behind a proxy, even though proxy environments

[2018-10-30 01:06] jjwallaby commented on #2942
Correct.  Your above assumption is correct.
how come minishift ssh works,  but from the browser or another standard dos ssh does not work ?
As you mentioned to the question,  How to use minishift behind a proxy.  There are no clear instructions.

[2018-10-30 01:11] jjwallaby commented on #2959
We are not allowed to use sshfs. or cifs within a corporation.  Actually vagrant supports windows folder shared called vboxfs.  We request minishift to support vboxfs.  As minishift is using unnecessary security breaches.

[2018-10-30 02:38] jjwallaby commented on #2957
did this.  still same error.  How to get CA certificate copied to virtual host
-- Pulling the Openshift Container Image ..Error pulling the openshift container image: ssh command error:
command : docker pull openshift/origin-control-plane:v3.11.0
err     : Process exited with status 1
output  : Trying to pull repository docker.io/openshift/origin-control-plane ...
Get https://registry-1.docker.io/

[2018-10-30 04:19] gbraad commented on #2953
proxy has nothing to do with this...

you are using the standard command prompt? If so, this does not
support escape codes properly.
On Tue, Oct 30, 2018 at 9:03 AM Justin W <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-10-30 04:29] gbraad commented on #2959
sshfs in our case starts a local client to mimic the same behaviour
and is secured with a local certificate.
cifs is a common solution that is almost any corporation allows due to
the well supported and described nature. (note, v2 that is)
vboxfs is NOT possible in our image due to legal reasons as we can not
embed the needed drivers.

[2018-10-30 04:29] gbraad commented on #2957
As mentioned, CA certificates at the moment can NOT be copied into the VM
and container images. You have to pay attention to issue #2880

On Tue, Oct 30, 2018 at 10:38 AM Justin W <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-10-30 05:32] gbraad commented on #2953
I doubt these laptops are identically configured.
running `minishift ssh --show-libmachine-logs -v5` will reveal which client is used.

Note: as stated 'proxy' does not interfere or change the ssh behaviour

[2018-10-30 05:34] gbraad commented on #2942
Althought this describes some aout CDK, it is basically the same for Minishift with the exception of the RHN username/password combination: https://blog.openshift.com/minishift-and-the-enterprise-proxies/

But as mentioned, you can NOT use a CA certificate at the moment due to #2880

[2018-10-30 05:34] #2942 closed

[2018-10-30 05:37] gbraad commented on #2957
This might be related to a failed authentication request. Check your
password (make sure encoding is properly done related to special
characters).
On Tue, Oct 30, 2018 at 1:25 PM Justin W <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-10-30 06:43] jjwallaby commented on #2957
OKAY now I narrow down the problem.
**Problem 1:**
Our CA certficate is not been updated in the Virtual guest VM minishift Centos 7
/etc/pki/tls/certs/ca-bundle.crt
**Problem 2**
It seems the docker Environment is not been set in
/etc/systemd/system/docker.service.d/https-proxy.conf
/etc/systemd/system/docker.service.d/http-proxy.conf
Example:
[Service]
Environment="HTTPS_PROXY=https://proxy.examp

[2018-10-30 06:48] gbraad commented on #2957
Centos 7

This is as mentioned NOT handled at the moment until #2880 is DONE and
MERGED.

check `cat /etc/systemd/system/docker.service.d/10-machine.conf`
and `docker info` from the VM

also, in a running container, like the origin container you can see the
proixy settings as ENV: `docker exec origin env`

If none of these show the expected results, please check your start
arguments as the proxy s

[2018-10-30 06:51] gbraad commented on #2880
@rdepke I have finished some of the work, but unable to fully test it.

You will need the ISO as mentioned in the first post, and start the PR artifact with `m start --custom-ca-certifcate "/path/to/file/on/disk"`

I will add the artifact location after the build finished

[2018-10-30 06:55] jjwallaby commented on #2957
Now I get this error
-- Starting OpenShift cluster ..Error during 'cluster up' execution: Error starting the cluster. ssh command error:
command : /var/lib/minishift/bin/oc cluster up --https-proxy http://ourproxy:80 --image 'openshift/origin-${component}:v3.11.0' --no-proxy 172.17.0.0/16,localhost,127.0.0.1,172.30.1.1,127.0.0.1,192.168.99.100,192.168.99.101,192.168.99.102,192.168.99.103,192.168.9

[2018-10-30 07:02] gbraad commented on #2957
*> HOW DO YOU make changes permanent for PROXY/CA Certficate file required
changes ?*

*This will be last time I mention this. Custom CA certificates are only
handled in a new task #2880. When this work is not finished and merged this
will NOT be possible. You can NOT add the certificate yourself into the VM
as it will NOT persist, unless you are willing to generate one from the
build process. Any

[2018-10-30 07:09] #2572 closed

[2018-10-30 07:12] #2866 closed

[2018-10-30 08:01] anjannath commented on #2914
@sobkowiak So in order to find out why it is been flagged as unsafe, i tried installed **Endpoint Protection Manager** and exported the client binary and installed in the same system, but i did not get any warning or error. [Screen-shots are attached]
![ep](https://user-images.githubusercontent.com/8885742/47703981-0ede3600-dc48-11e8-8eeb-68f8d6443e03.PNG)
![ep_manager](https://user-images.githubu

[2018-10-30 08:33] amitkrout opened #2964 "Disable java CentOS stack in addon-che.feture file"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

Nightly is being stuck due to issue #2824. For an uninterrupted nightly the specific stack "CentOS stack" will be disabled until it is fixed.

[2018-10-30 08:36] LalatenduMohanty commented on #2824
Upstream Che issue https://github.com/redhat-developer/rh-che/issues/912

[2018-10-30 08:37] agajdosi commented on #2958
@amitkrout I think we could be fine with just issue #2824 here. Lets close this if you agree.

[2018-10-30 08:40] #2958 closed

[2018-10-30 08:52] amitkrout commented on #2824
Workspace stack ```CentOS WildFly Swarm``` also stuck with anyuid.addon enabled. checking the same locally without  enabling anyuid addon.

Seems stack related to CentOS having the issue

[2018-10-30 08:52] hferentschik commented on #2871
Only if I care and only if I want to keep a config per Minishift instance. It is an optional feature and it is up to the user to use it the way she seems fit.

Personally, I don't have an issue with that. It's not that I constantly open and close shells. Also, if you always want to make sure that your shell is using a _oc_ version which aligns with the minishift instance you are talking to, you ne

[2018-10-30 08:59] ibuziuk commented on #2824
@eivantsov maybe you have some ideas? we are currently adding a workaround with adding  user to the 'root' group. But according to the last comments the problem is reproducible regardless of the anyuid configuration.

[1] https://github.com/eclipse/che-dockerfiles/commit/f330ab36ccc390a50f11f04fe25cea2d787374ee

[2018-10-30 10:35] amitkrout commented on #2824
Locally no issue found on stack ```CentOS WildFly Swarm``` without enabling anyuid addon.

[2018-10-30 12:06] praveenkumar commented on #2960
@LalatenduMohanty not temporary but this will help us in long term also because running same features from PR and nightly doesn't make sense since all features are independent.

[2018-10-30 12:08] praveenkumar commented on #2950
@putz612 can you try following and let us know if still same issue?

[code]

[2018-10-30 12:09] praveenkumar commented on #2932
@vdemeester any update on this?

[2018-10-30 12:52] jorgemoralespou commented on #2871
@hferentschik

We're losing user experience every day :-( If we think that adding things to bashrc to fix some behavior is ok. Also, seems as this is thought only to make your life easier rather than the tool better :-(

I meant OpenShift. Why currently the .kube/config a minishift/openshift instance sucks it's because of that buggy behavior and why we need to look into this kind of workarounds.

[2018-10-30 13:54] #2964 closed

[2018-10-30 14:55] putz612 commented on #2950
Same thing with the --iso-url parameter
[code]
Just for giggles I also tried swapping around the /\ in the MINISHIFT_HOME environment as I saw it using the other slash in the output and no change.
[code]

[2018-10-30 15:21] amitkrout commented on #2904
@LalatenduMohanty Will it be default addon for minishift ?

[2018-10-30 15:24] amitkrout commented on #2787
Creating an addons file will be helpful immensely. Is anybody working on creating addons as filed in Issue #2904

[2018-10-30 17:03] vdemeester commented on #2932
@praveenkumar so, making selinux permission (`setenforce 0` right ?) make it works.. I'll try doing the restorecon command :wink:

[2018-10-30 17:06] l0rd commented on #2746
This is still relevant

[2018-10-31 06:53] #2819 closed

[2018-10-31 07:00] gbraad commented on #2950
Before this start, please make sure you run `minishift delete -f`
And can you post the whole output somewhere?

[2018-10-31 07:59] jjwallaby commented on #2953
Yes agree.  I just using 2 laptops.  1 that is open is connected to an open network.  No PROXY.
the other going via a proxy and has firewall ie in corporation which has alot of security controls and disallow many services...etc.    Correct use git-bash shell no issues.  Anyhow will ignore this error. Just wondered why it occurs on different behaviour.  What causes this funny characters..

[2018-10-31 08:17] anjannath commented on #2885
resolved via #2642

[2018-10-31 08:17] #2885 closed

[2018-10-31 09:04] gbraad commented on #2953
Read https://github.com/minishift/minishift/issues/2953#issuecomment-433807531 as the answer had been given. This is related to missing functionality for the shell you are using. Some SSH clients do not support pseudo TTY support or pass the wrong terminal type, and combined with the underlying console, this might get correctly interpreted or not. On Windows this will always be somehow messy. As m

[2018-10-31 09:04] #2953 closed

[2018-10-31 09:38] jjwallaby opened #2966 "Communication with deployed VM fails"
### General information

  * Minishift version: 1.26
  * OS:  Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1.  minishift start --show-libmachine-logs -v5  --vm-driver=virtualbox --iso-url=file://c:/MyTestFolder/dev/myminishift/minishift-centos7_v1_13.iso   --https-proxy=http://ourproxy:80 --http-proxy=http://ourproxy:80
  2.
  3.
  4.

### Expected

### Actual

### Logs

[2018-10-31 09:43] #2924 closed

[2018-10-31 09:58] odra opened #2967 "minishift console redirect issue"
### General information

  * Minishift version: minishift v1.25.0+90fb23e
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. start a minishift instance
  2. run `minishift console`
  3. accept custom cert
  4. redirects to localhost instead of using minishift ip

### Expected

To be redirected to the minishift web console (using minishift ip address).

### Actual

The browser redirect

[2018-10-31 09:59] gbraad commented on #2966
I am not sure where `.100` comes from, but seeing the error, it looks like a restart with old certificates.

Please run:
[code]
before your start. But perhaps even do a remove of the `C:\MyTestFolder\Dev\myminishift.minishift` folder.

From the log I can see that not ALL environment variables and options used are shown here. You are using `$MINISHIFT_HOME` and not describing this in your steps. Pl

[2018-10-31 10:01] gbraad commented on #2966
Please fill in the blanks again

[2018-10-31 10:09] LalatenduMohanty commented on #2966
The only case it can pick a wrong IP where Minishift Ip has changed and Minishift does not have this information. As @gbraad suggested you can try to start a fresh Minishift (i.e. minishift delete -f and then minishift start) and see you still can reproduce it.

[2018-10-31 10:15] LalatenduMohanty commented on #2967
@odra This issue is fixed in 1.26.0 version of Minishift. Please use the latest version of Minishift i.e. 1.26.1  as it contains some critical bug fix on top of 1.26.0 version.

[2018-10-31 10:16] LalatenduMohanty commented on #2967
Closing this issue as we have fixed it already. Please comment if you face any issue.

[2018-10-31 10:16] #2967 closed

[2018-10-31 11:02] odra commented on #2967
Thanks, I just updated it and it is working as expected now :+1:

[2018-10-31 11:35] jjwallaby commented on #2966
Thanks. Thats correct.  As I have a local/roaming account.  and the default account is limited folder so USERPROFILE is not able to use as it has limited disk space.  So  had to set the following.
set HOMEDRIVE=C:
set HOMEPATH=C:\\MyTestFolder\\Dev\myminishift
set MINISHIFT_HOME=C:\\MyTestFolder\\Dev\myminishift\.minishift
set KUBECONFIG=${USERPROFILE}\\.kube\\config
  ALSO:
Before I did minishift

[2018-10-31 11:42] gbraad commented on #2966
Docker for Windows and their Kubernetes deployment might cause issues
with the deployment.
Especially since Docker for Windows will use HyperV, This can not live
on the same machine with VirtualBox. To confirm, which version of
Docker for Windows is it? The latest or the older Docker Toolbox ?
Note, if you are using the LCOW (Linux Containers on Windows)
functionality, your network stack has been

[2018-10-31 12:36] jjwallaby commented on #2966
So Removed Docker for windows, deleted everything and reinstalled VirtualBox and ran minishift.
  This is on Windows 10.  (College PC is Windows 7 - no issue).

The concern is, Which i cannot explain why I cannot ping or tracert to 192.168.99.100

C:\MyTestFolder\dev\myminishift>minishift start --show-libmachine-logs -v5  --vm-driver=virtualbox --iso-url=file://c:/NotBackedup/dev/myminishift/minis

[2018-10-31 14:38] putz612 commented on #2950
Sure, here is test from today with full log output in a gist.  Please let me know what else I can provide

https://gist.github.com/putz612/6a0031b9be51103e9e48792d31832d07

[2018-10-31 14:54] wael216 opened #2968 "logging project empty"
### General information

  * Minishift version: v1.13.1+75352e5
  * OS: ubuntu 16.04
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. install minishift
  2. minishift start with options :  **minishift start --metrics --logging**
  3.  oc login admin
  4. oc project logging
  5. oc get pods

### Expected
EFK stack pods

### Actual
No resources found.
even on the web console there are no pod

[2018-10-31 15:20] agajdosi commented on #2968
Hi @sylva91, thank you for the report. Metrics and Logging had both problems in `oc cluster up` which Minishift uses under the hood for the provisioning of the VM. Both thus got removed from Minishift as these were not functional fully.

I would suggest to update to latest Minishift. Then you can try to enable the metrics and logging using custom flags for `oc cluster up`.

To get more information

[2018-10-31 15:21] gbraad commented on #2966
A corporate machine, right? So, is there something installed like Symantec
Endpoint Protection, McAfee or some other kind of antivirus/firewall
solution?

[2018-10-31 15:39] sylva91 commented on #2968
thank you for your response.

Using the last version of minishift i get both :

**MINISHIFT_ENABLE_EXPERIMENTAL=y minishift start --extra-clusterup-flags "--metrics"**

.Error during 'cluster up' execution: Error starting the cluster. ssh command error:
command : /var/lib/minishift/bin/oc cluster up --base-dir /var/lib/minishift/base --image 'openshift/origin-${component}:v3.11.0' --public-hostnam

[2018-10-31 16:58] putz612 commented on #2950
So this is odd, I ran it again but instead of being on the H: drive I ran the same command with my current working dir on C: and it got farther.  Which is really odd as I have been careful to use absolute pathing on all everything.  All I did was type in
[code]
and run the same command as before and the VM is created.  I can see it in the Hyper-V manager but the start has yet to finish.  It keeps

[2018-10-31 23:19] jjwallaby commented on #2966
This is correct.  It is a corporate machine.   Windows 10.  But another Windows 7 machine corporate it works.   There is McAfee installed.

[2018-11-01 03:12] #2907 closed

[2018-11-01 08:43] nikita-karatun opened #2970 "Ubuntu/Xubuntu 18.10 libvrt installlation issue solution"
### General information

  * Minishift version: 1.26.1-linux-amd64
  * OS: Xubuntu 18.10
  * Hypervisor: KVM

I'm not sure where it is better to post that, if it is wrong place, please let me know.
I had an issue with [Setting Up the Virtualization Environment](https://docs.okd.io/latest/minishift/getting-started/setting-up-virtualization-environment.html).
libvirt install instructions does not wo

[2018-11-01 08:45] praveenkumar commented on #2970
@nikita-karatun sure please create a PR with updated instruction which work with ubuntu 18.10, also after installing those dependencies are you able to run the minishift on top of it?

[2018-11-01 08:54] nikita-karatun commented on #2970
@praveenkumar, yes, I am able to run minishift, sure, I'll create the PR, though I'm going to rerun the installation on clean system first to double check that I have not missed any other required packages, thanks!

[2018-11-01 10:54] deepikathimmegowda commented on #1615
Hi.. i am also facing the same issue too. i m using v3.11 okd.io

i had pushed my local image to openshift docker-registry then facing the below error while pulling that particular image
Failed to pull image "172.30.1.1:5000/play-image-project-2/play-app-image-stream-2@sha256:832d243aea1926e705c0f32fd3c5c1876eea3edbc93599276dbb75190eaed77c": rpc error: code = Unknown desc = Error response from dae

[2018-11-02 00:56] gbraad commented on #1287
@praveenkumar it wants to modify 127.0.0.1. Any idea?

The server should work, but an add-on failed to apply.

On Fri, Nov 2, 2018, 03:29 maf1 <notifications@github.com wrote:

[2018-11-02 06:48] gbraad commented on #2970
Wouldn't:

[code]

be enough?

Also, `virt-manager` is not a bad choiuce, but it is a UI/tool instead of the actual needed `libvirt` daemon. I wonder what other dependencies came with it that caused `libvirt` to work as daemon.

[2018-11-02 07:02] gbraad commented on #2970
The needed dependency can be found here:
https://salsa.debian.org/libvirt-team/virt-manager/blob/debian/sid/debian/control#L21

Please use `libvirt-daemon` instead.

[2018-11-02 07:03] gbraad commented on #2966
Is McAfee installed on both machines? It might be the versions are different and causes this behaviour to look different.

can you login using `minishift ssh` and do `ping 192.168.99.1` ?

[2018-11-02 07:06] gbraad commented on #2950
right... this was my follow suggestion. Make sure you run from `WINDRIVE` (C:), since this is an issue with libmachine.

If this keeps repeating, there is an issue with the ssh client or the actual IP assignment.

Can you delete the VM again and try? If it remains, can you let me know which ssh client you are using?

[2018-11-02 07:11] gbraad commented on #2910
@giorgoch as mentioned: `minishift ip --set-static` allows you to fix the IP address for the instance. On a restart it will use the same IP address as the previous run.

[2018-11-02 07:12] gbraad commented on #2910
@yayan19 how much memory did you assign to use for this instance?

[2018-11-02 07:32] gbraad commented on #2902
We need a general `post-create`, `post-start` hook. this would make it a lot easier to maintain, however... proxy is also done before the VM start.

[2018-11-02 07:34] gbraad commented on #2893
This is actually a duplicate of an earlier issue. I'll look for the issue.

however, when no IP is available ot VM is not running, an error should followed, without the output being `0`

[2018-11-02 08:11] jjwallaby commented on #2966
I can do minishift ssh and do ping 192.168.99.1.
What I find is if I turn off VirtualBox (Power off).  The tracert knows to go to 192.168.99.1 as it says 192.168.99.100 is unreachable.   When it is fired back up with minishift, it timeout when try 192.168.99.100 when it is the IP address.

[2018-11-02 08:17] gbraad commented on #2966
This might be your culprit. It is not the first report.
Some of the antivirus also perform the role of firewall.

Would it be possible to change the setting to some degree?

[2018-11-02 08:33] yayan19 commented on #2910
@gbraad I allocated 4GB memory.

I just tried again with 8GB, but still got the same issue.

[code]

[2018-11-02 14:57] #2945 closed

[2018-11-03 16:18] onderson opened #2972 "minishift start on windows"
### General information

  * Minishift version: minishift-1.26.1-windows-amd64
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Connect to VPN - Cisco Anyconnect - route all traffic configuration, also in corporate network the same situation happens.
  2. minishift start as the following

minishift start --http-proxy=http://username:password@ip:port --https-proxy=https://us

[2018-11-04 07:33] gbraad commented on #2966
IPv6 will not work with openshift when installed with minishift. However,
you have an ipv4 address, so this is not the case... It is related to the
networking stack. Tools like McAfee can intercept and modify on a low level

On Sun, Nov 4, 2018, 13:25 Justin W <notifications@github.com wrote:

[2018-11-04 10:53] #2682 closed

[2018-11-05 03:02] gbraad commented on #2972
Can you post the whole log? This test can FAIL, but it would not prevent the deployment to start. More information is needed to determine what the problem is...

For instance, does the proxy do re-encryption?

[2018-11-05 06:46] amitkrout opened #2973 "Che workspace like Python, PHP ... deployment fails"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. make integration GODOG_OPTS="-tags addon-che"
  2.
  3.
  4.

### Expected
Should go through

### Actual
Fails - https://ci.centos.org/job/minishift-nightly-centos/328/consoleFull
           https://ci.centos.org/job/minishift-night

[2018-11-05 06:52] amitkrout commented on #2973
@agajdosi ^

[2018-11-05 07:10] gbraad commented on #2966
This does not seem to be an issue with the deployment of the VM and the process of assigning IP addresses, but rather where the local configuration prevents communication to happen. As mentioned in earlier posts, this is likelt due to the virus scanner. Can this be verified?

[2018-11-05 07:56] amitkrout commented on #2973
I am not able to reproduce it locally, however the same issue is hit twice [1] [2] in CI.

[1]  https://ci.centos.org/job/minishift-nightly-centos/328/consoleFull
[2] https://ci.centos.org/job/minishift-nightly-centos/329/consoleFull

[2018-11-05 09:09] amitkrout opened #2974 "che feature step reports runtime error"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. make integration GODOG_OPTS="-tags addon-che"
  2.
  3.
  4.

### Expected
Should not through any runtime error

### Actual
Error is coming from - https://github.com/minishift/minishift/blob/master/test/integration/features/addons/a

[2018-11-05 09:12] amitkrout commented on #2974
Locally i am not able to reproduce this on macOS+xhyve

[2018-11-05 09:21] gbraad commented on #2910
@LalatenduMohanty See the previous error... This has been seen several times now.

[2018-11-05 09:29] gbraad commented on #2910
@yayan19 have you been able to use v3.9 ?

[2018-11-05 10:10] robin-owen commented on #2462
Closing this issue, as it's too broad in scope. More targeted issues will be opened in the future to modularize sections of the documentation.

[2018-11-05 10:10] #2462 closed

[2018-11-05 10:19] praveenkumar commented on #2974
@amitkrout is it coming from the CI?

[2018-11-05 10:40] amitkrout commented on #2974
@praveenkumar yes

[2018-11-05 12:20] agajdosi commented on #2974
The error is reported on line 201 in cheAPI.go, which is the return of doRequest() func: https://github.com/minishift/minishift/blob/master/test/integration/che/cheAPI.go#L201. Looking onto the function I have found there is an http request which is not closed directly or via `defer` in the code: https://github.com/minishift/minishift/blob/master/test/integration/che/cheAPI.go#L191. Looks like thi

[2018-11-05 12:55] #2672 closed

[2018-11-05 14:48] agajdosi commented on #2974
@amitkrout @praveenkumar As this issue is intermittent and hard to reproduce I suggest to implement fix for the above hypothesis ^ in separate issue and then wait if this issue comes back in next month or not. If you agree, I am going to create the issue and upload fix with `defer res.Body.Close() ` asap. WDYT?

[2018-11-05 15:49] agajdosi opened #2978 "http.res.Body in func doRequest in test/integration/che/cheAPI.go is not closed"
### General information

Http response is not closed properly in cheAPI.go, which might cause problems. To fix this issue `defer res.Body.Close()` should be added.

This issue might be the cause of #2974.

[2018-11-05 17:15] agajdosi commented on #2974
Resolving the unclosed response in separate issue: https://github.com/minishift/minishift/issues/2978. Lets see if that fixes the problem.

[2018-11-05 23:38] jjwallaby commented on #2966
I dont understand why college win 7vworks my pc does not. Is therre windows tool to prove this.
How cam i tell it is been blocked?  As when shut virtualbox dowm it is going to the correct route gateway 192.168.99.1 which is the vvirtual host only afaptor

[2018-11-06 02:11] onderson commented on #2972
Log is attached in first issue description.

Note: Without proxy and outside of corporate network, it seems ok. it is very hard to enable&disable those kind of settings while flipping between networks.

[2018-11-06 04:31] amitkrout opened #2979 "Disable coolstore.feature in nightly run"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. make integration_all
  2.
  3.
  4.

### Expected
Coolstore works for some nightly during the time when it was last updated. Since then it keeps failing due to the instability from coolstore end.
[code]
So making it disable for nigh

[2018-11-06 06:01] anjannath commented on #2914
@sobkowiak Are you able to run minishift without any issues now? please let us know the version of endpoint protection that flagged it as malware.

[2018-11-06 06:01] anjannath commented on #2914
@gh0st We have filed a reclassification request to trend micro, they haven't replied to us yet, but i'd suggest you to also file a reclassification request.

[2018-11-06 06:07] anjannath commented on #2847
This needs clear consideration of how we present this to the user, an option to delete all profiles at once will be fatal if done mistakenly and without confirmation from the user. Maybe we should deprecate this for now, in the meantime i'd like to know if this option would be helpful for the users?

[2018-11-06 07:10] #2970 closed

[2018-11-06 09:31] anjannath commented on #2703
Reopening, this is still to be addressed!

[2018-11-06 11:46] #2696 closed

[2018-11-06 13:46] rsriniva commented on #2809
Saw this today on my Fedora 29/KVM machine

 rsriniva  ~  oc version
oc v3.10.34
kubernetes v1.10.0+b81c8f8
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.42.174:8443
openshift v3.10.34
kubernetes v1.10.0+b81c8f8
 rsriniva  ~  minishift version
minishift v1.24.0+aa3dd4c
CDK v3.6.0-1

 rsriniva  ~  oc logs webconsole-89846fbf7-2lx8c
W1106 13:41:09.154950       1 start.go:

[2018-11-06 13:46] rsriniva commented on #2809
also seeing with 3.10.45 after a clean minishift delete and start

[2018-11-07 08:49] onderson commented on #2972
@gbraad , did you have a chance to look?

[2018-11-07 09:12] gbraad commented on #2972
I just returned from a short trip and have focussed on a different problem
during that time. I'll examine to logs soon.

On Wed, Nov 7, 2018, 16:49 önder sezgin <notifications@github.com wrote:

[2018-11-07 11:05] agajdosi commented on #2875
@LalatenduMohanty @praveenkumar I am suggesting to raise the priority of this issue from major to blocker as this issue blocks any template update. For now it blocks: https://github.com/minishift/minishift-addons/issues/176 and https://github.com/minishift/minishift/issues/2879.

[2018-11-07 12:54] vbatts commented on #1442
bump

@gbraad I missed your question. My apologies. I thought there were centos7 packages! :-\ perhaps since there are RHEL builds of it then it can't be in EPEL now? I'm confused. @lsm5 do you know where/how to get cri-o packages to centos7?

[2018-11-07 13:51] gbraad commented on #1442
I'll pin this topic

[2018-11-07 13:54] gbraad commented on #1442
We have since made a Fedora ISO: https://github.com/minishift/minishift-fedora-iso
In this ISO we can easily add crio, podman, etc: https://github.com/minishift/minishift-fedora-iso/pull/14

[2018-11-07 14:17] burrsutter opened #2982 "export KUBECONFIG"
respect the KUBECONFIG env variable. This works well with minikube but not minishift.  I have a LOT of minishift instances on my machine, where I would like to have a different KUBECONFIG per minishift instance.  Plus I constantly "minishift delete" and recreate the VM,.

Here are my minikube env vars
export MINIKUBE_HOME=/Users/burrsutter/minikube_0.30.0/bin;
export PATH=$MINIKUBE_HOME:$PATH
expo

[2018-11-07 14:20] lsm5 commented on #1442
On Wed, Nov 07, 2018 at 04:54:50AM -0800, Vincent Batts wrote:

@fkluknav can you please provide info on ^

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2018-11-07 14:22] burrsutter commented on #2982
there is a nice tool called "kubectx" that allows the end-user to more easily see and navigate the KUBECONFIG file.   Here is what has shown up inside of my KUBECONFIG after just about 7 weeks old
kubectx
/192-168-99-100:8443/admini
artemis-jms/192-168-99-101:8443/admin
ci/192-168-99-102:8443/developer
default/13-56-49-163:8443/admin
default/192-168-99-100:8443/admin
default/192-168-99-101:8443/ad

[2018-11-07 14:52] gbraad commented on #1442
@praveenkumar ^^

[2018-11-07 16:39] maf1 commented on #1287
Any news on that? Should I open a separate issue?

[2018-11-07 17:08] fkluknav commented on #1442
@praveenkumar, about maturity, it should be a rebuild of what Red Hat ships, for good or ill.

[2018-11-07 21:39] onderson opened #2983 "config.json is getting updated wrong if http_proxy/https_proxy set in ENV variable in windows"
### General information

  * Minishift version: minishift-1.26.1-windows-amd64
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. configure HTTP_PROXY HTTPS_PROXY and NO_PROXY
  2. minishift start

### Expected
when run  ps>minishift start

http_proxy/https_proxy settings in config.json file in C:\Users\<username>\.minishift\config should be configured properly

"http-proxy":

[2018-11-08 04:01] gbraad commented on #2972
[code]

This would usually indicate that the IP address changed between runs. You have to make sure the address does not change between runs (or make use of `minishift ip --set-static`).

[2018-11-08 04:02] gbraad commented on #2972
Also, VPN with a route all is known to cause issues when needed to reach the VM from the local machine.

[2018-11-08 06:07] anjannath commented on #1287
Have you trid this:
https://medium.com/@kamesh_sampath/can-world-talk-to-my-minishift-b2dfae12073a
On Wed, Nov 7, 2018 at 10:09 PM MAF <notifications@github.com> wrote:

--
ANJAN J NATH
nathearthling.me

[2018-11-08 06:38] onderson commented on #2972
is this https://github.com/minishift/minishift/issues/1127

what i need to follow?

[2018-11-08 09:08] LalatenduMohanty commented on #2638
Assigning to myself.

[2018-11-08 11:00] #2926 closed

[2018-11-08 11:11] amitkrout commented on #2675
Now i am hitting this issue more frequently on our internal CDK 3.7 release bits

[2018-11-08 11:16] #2979 closed

[2018-11-08 12:01] LalatenduMohanty opened #2984 "Deploying sclorg/nodejs-ex through integration tests fails in CentOS CI"
`oc new-app https://github.com/sclorg/nodejs-ex -l name=myapp` is failing in CI https://ci.centos.org/job/minishift-pr/5372/console

### General information

  * Minishift version: 1.26.1
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

Test scenario cmd-openshift.feature

[code]

### Steps to reproduce

  1.  Not able to reproduce locally. It is only seen in Cen

[2018-11-08 12:03] LalatenduMohanty commented on #2984
I guess there is something wrong with the sequence the test is running in the CI. If we can not figure out the root cause of the failure soon I would suggest we disable the test.

[2018-11-08 16:22] deepikathimmegowda commented on #1615
@anjannath  : i tried to deploy Jenkins image from webconsole.
add to project -> browse catalog -> Jenkins (Ephemeral)

This itself errors out when i try to deploy a project  with Jenkins (Ephemeral) image

[2018-11-08 21:33] onderson commented on #2972
I tried --set-static in
both with proxy in corp network and also VPN. i have the same result.

Error: Get https://192.168.99.100:8443/apis/apiregistration.k8s.io/v1beta1/apiservices: dial tcp 192.168.99.100:8443: connect: connection refused

BTW, I can not ping 192.168.99.100

Upgraded virtualbox,
Minishift is latest.

Please suggest a solution or guidance. I read up many issues and tried lots of

[2018-11-08 23:49] yayan19 commented on #2910
@gbraad yes, just tried OKD v3.9.0 using minishift v1.25.0 and it run successfully.

Here's the config.
[code]

And here's the log..
[code]

Also tried using the latest minishift v1.26.1 with both OKD v3.11.0 and v3.10.0, but still having the same issue.

[2018-11-09 03:53] gbraad commented on #2972
This is due to the VPN and the route all.
You should ask your local admins to allow traffic to 192.168., 172.16, etc.

On Fri, Nov 9, 2018 at 5:33 AM önder sezgin <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-11-09 04:11] liangxia opened #2985 "Typo in ROADMAP"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce
Go to https://github.com/minishift/minishift/blob/master/ROADMAP.adoc#minishift-190 and check

### Expected
Ability to use your own certificates for the cluster

### Actual
Ability to use you own certificates for the cluster

### Logs

You can s

[2018-11-09 05:10] gbraad commented on #2910
@praveenkumar @LalatenduMohanty deployment of v3.10 and v3.11 are not stable for some people. I have seen the same...

[2018-11-09 05:29] LalatenduMohanty commented on #2675
@agajdosi @amitkrout can you check failure rate has changed between openshift 3.10 and 3.11.

[2018-11-09 08:57] #2985 closed

[2018-11-09 09:52] sudhirverma commented on #2675
I am also seeing the same error on Win7&Win10+minishift v1.26.1+VirtualBox consistently

[2018-11-09 11:54] LalatenduMohanty commented on #2848
Removed the critical tag because this feature(system tray) is not available to users yet.

[2018-11-09 13:16] anjannath opened #2987 "Circle CI should create artifacts for both minishift with systemtray and without systemtray"
After systemtray PR merge circle CI artifacts only stores minishift with systemtray bits. This should be fixed to having both the bits. (with systemtray  and without systemtray)

[2018-11-10 01:44] #2848 closed

[2018-11-10 11:02] gbraad commented on #1878
Make doc generation use `minishift --no-provision` and avoid the whole
Docker for Mac.

On Sat, Nov 10, 2018 at 6:44 PM stale[bot] <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-11-12 05:09] praveenkumar commented on #2983
@onderson This is a side effect of what we implemented around auto config save option. Till we find out a better way to handle this, I would suggest that to use below in the config.

[code]

[2018-11-12 05:13] praveenkumar commented on #2982
@burrsutter we are already implemented to respect `KUBECONFIG` environment variable part in minishift.

Can you try below and let us know where it is now failing and what error you are getting?

[code]

[2018-11-12 06:59] praveenkumar commented on #2910
@gbraad @yayan19 what about caching all the required images before hand and then using it instead depend on internet bandwidth at beginning.

[code]

[2018-11-12 07:02] anjannath commented on #2028
Still to do!

[2018-11-12 08:36] agajdosi commented on #2675
@LalatenduMohanty With 3.11.0 it started to happen even on machines which were not affected by this issues in 3.10.0. There is workaround proposed on the original issue, I need to try that after 3.7.0 testing is done.

[2018-11-12 08:55] agajdosi commented on #2919
@LalatenduMohanty It is possible some folks could use it as CLI tool. It is however question whether that will really happen. I think that once it is implemented fully we could at least add it under Minishift organization. That way we would have control over it.

Also @LalatenduMohanty I need to add label `quality` to the issue. It is needed by Karel Piwko, who is manager of QE for middleware, to

[2018-11-12 09:53] jorgemoralespou commented on #1031
keep

[2018-11-12 10:51] maf1 commented on #1287
@anjannath I don't want to expose to the internet but only to the local net.
And I want to keep complexity of involved components low, so I'll file a new bug as the feature ["Run Against An Existing Machine"](https://docs.okd.io/latest/minishift/using/run-against-an-existing-machine.html) is not working properly.

[2018-11-12 10:55] maf1 opened #2988 ""Run Against An Existing Machine" feature is not working"
I tried to use an exsiting machine on a headless centos 7 server:

[code]

But the installation aborts with

[code]

On the same machine a plain `minishift start` works fine.

_Originally posted by @maf1 in https://github.com/minishift/minishift/issues/1287#issuecomment-435157408_

[2018-11-12 12:10] KurtStam opened #2989 "minishift won't start"
### General information

  * Minishift version: minishift v1.26.1+1e20f27
  * OS: macOS
  * Hypervisor: xhyve

### Steps to reproduce

 minishift start

### Expected

minishift start and OpenShift too

### Actual

$ rm -fr .minishift/
$ minishift start
-- Starting profile 'minishift'
-- Check if deprecated options are used ... OK
-- Checking if https://github.com is reachable ... OK
-- Checking if

[2018-11-12 14:02] maf1 commented on #2988
@praveenkumar: Yes, the installation works.

However after that I'm not able to run a simple example:

[code]

or

[code]

(the host has full internet access and I can also access external servers from the VM).

[2018-11-12 16:51] maf1 commented on #2988
@praveenkumar: PS: the latter error about `nodejs-ex` I get also with an instance created by
`minishift start --profile second`.
Is this a known issue or something that points to a problem with my setup?

[2018-11-12 17:12] christophlim opened #2990 "minishift start fails on Windows 10 with Virtualbox"
### General information

  * Minishift version: 1.26.1
  * OS: WIndows 10
  * Hypervisor: VirtualBox (5.1.32)

### Steps to reproduce

  1. minishift start --vmdriver virtualbox

### Expected

minishift to create and start VM

### Actual

 FAIL E1112 12:05:07.159730   28168 start.go:491] Error starting the VM: Error creating the VM. Error creating machine: Error running provisioning: Could not fin

[2018-11-13 06:56] liangxia opened #2991 "Extra '{}' exist"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. Visit https://docs.okd.io/latest/minishift/using/run-against-an-existing-machine.html#running-against-existing-remote-machine , and check the last paragraph.

### Expected
By default, Minishift uses the Allow All identity provider.

### Ac

[2018-11-13 08:12] praveenkumar commented on #2988
@amitkrout @agajdosi can you check if you just run a minishift profile can you able to deploy sample nodejs app?

[2018-11-13 09:19] amitkrout commented on #2988
Will verify it

[2018-11-13 10:47] LalatenduMohanty commented on #2837
Resolved via #2975.

[2018-11-13 10:47] #2837 closed

[2018-11-13 11:08] fabiand opened #2993 "Enable KVM nesting"
### General information

A copy of https://github.com/kubernetes/minikube/issues/2553

  * Minishift version: Latest
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. Run KubeVirt inside of minishift

### Expected
VMs can be launched.

### Actual
Does not work - emulation needs to be configured, as nesting is not supported

[2018-11-13 11:08] fabiand commented on #2993
https://github.com/kubernetes/minikube/issues/2553 describes he issue pretty good. It's about a few kmods which need to be enabled in the image.
Actually, if the centos image is used, then it's probably just about enabling nesting.

[2018-11-13 12:01] LalatenduMohanty opened #2994 "Using both "gh-release" and "github-release" is not advisable"
As part of https://github.com/minishift/minishift/commit/0f5ea2eec27347c2bb10cda8a0873b919c28c110  we are using `github-release`. Mostly because `gh-release` can not edit existing release atrifacts. Now we have two packages for github release process in the Makefile. These binaries are used for similar purpose, so we can just use one of them (most likely `github-release`).

[code]

[2018-11-13 12:08] anjannath commented on #2993
this should be moved to the centos repo. https://github.com/minishift/minishift-centos-iso

[2018-11-13 13:21] LalatenduMohanty commented on #2676
We need to test and see if `oc cluster up` in 3.11 has it enabled by default.

[2018-11-13 15:30] agajdosi commented on #2984
@LalatenduMohanty App deployment is fine on my laptop Fedora 29, so the problem is not in the app but probably in the timing as you suggest. Will try tomorrow to figure out whether I can find any command which would wait until needed parts of OKD are ready.

However this is quite common pattern in recent days - we start/restart/change config/do whatever with the cluster and after that we need to w

[2018-11-13 15:46] rosscdh commented on #2601
still a problem with

[code]

[2018-11-13 15:50] siamaksade commented on #2875
+1 on raising the priority

[2018-11-13 16:49] anjannath opened #2995 "Wrong user name in circle ci config"
By mistake from testing, i committed my username to the source.
https://github.com/minishift/minishift/blob/707887ef39b825763cab6d2baef95a099fdff54f/.circleci/config.yml#L150-L154

[2018-11-13 21:55] danseo-reisys opened #2997 "minishift install/start problem on windows 10"
### General information

  * Minishift version: 1.26.1
  * Windows 10
  * VirtualBox

### Steps to reproduce

  PS C:\minishift> .\minishift.exe start --vm-driver=virtualbox -v 5 --show-libmachine-logs

### Expected
complete install

### Actual

### Logs
(minishift) DBG | Checking vm logs: C:\Users\dan.seo\.minishift\machines\minishift\minishift\Logs\VBox.log
(minishift) Waiting for an IP...
(mini

[2018-11-13 23:04] l0rd commented on #2746
@LalatenduMohanty @gbraad can we re-open this issue?

[2018-11-13 23:10] doribd opened #2998 "Minishift start stuck at waiting for ssh for more than an hour"
### General information

  * Minishift version: 3.11
  * OS:  Windows 10
  * Hypervisor:  VirtualBox

### Steps to reproduce
I run it as follow
'minishift-1.27.0-windows-amd64>minishift.exe start --vm-driver virtualbox --show-libmachine-logs -v5

 i see the below, more than one hour
'SSH binary not found, using native Go implementation
&{{{<nil> 0 [] [] []} docker [0x7aed70] 0x7aed40 <nil>  [] 0s}

[2018-11-14 05:17] anjannath commented on #2997
@danseo-reisys The IP address does not look right, the VM that gets created should be getting a proper IP and from the logs it looks like it is trying to ssh into you localhost.

You should do a `minishift delete -f` and then start again. Also are you able to create VMs using virtualbox? the `wsarecv` error i can't tell much @gbraad will be able to provide more information.

[2018-11-14 06:43] anjannath opened #2999 "Make start/stop menu contextual"
Right now in the tray the start/stop menu items do not reflect the state of the machine.
When minishift is running the `start` option should be greyed out/disabled, likewise for `stop`.

[2018-11-14 06:48] anjannath opened #3000 "Implement status icons for windows"
The Start, Stop and Does not exist status are shown only in macOS atm. Need to implement the same for windows.

[2018-11-14 07:47] LalatenduMohanty commented on #2875
@agajdosi Yes, we will fix it in this sprint.  cc @praveenkumar

[2018-11-14 07:49] amitkrout commented on #2988
@praveenkumar @maf1 No issue is found during my verification. I used RHEL 7.5 headless server as my remote machine and minishift release version v1.26.1
[code]
[code]
[code]

[2018-11-14 08:01] LalatenduMohanty commented on #2995
Resolved via #2996

[2018-11-14 08:01] #2995 closed

[2018-11-14 08:34] agajdosi commented on #2974
Today the error appeared again, however was in combination with wrong start (timeout start issue) - https://ci.centos.org/job/minishift-nightly-centos/339/consoleFull. Waiting whether the error appears again with clean start.

[2018-11-14 08:54] maf1 commented on #2988
@amitkrout, I'm not sure that's the same comfig I used, as I run minishift directly on the remote CentOS server:

[code]

leads to the problem mentioned above (I even wiped my minishift instance as I was not sure if there was any effects from the experiments with an existing (local) VM).

The server runs 7.5.1804 and I use minishift v1.26.1+1e20f27 (and docker-machine-driver-kvm 0.10.0).

[2018-11-14 08:59] anjannath commented on #2675
@agajdosi Can you please provide link to the work around, i am seeing this in win10+hyperv with latest minishift.

[2018-11-14 09:13] agajdosi commented on #2675
@anjannath That is great! So slowly the issue affects more and more machines, it started on weak VMs, now it is spreading through laptops, even my 8 core 19gb laptop sees it sometimes. And so the cluster up and Minishift slowly becomes unusable. Luckily the oc team just ignores us, which is great. </sarcasm>

Workaround is here https://github.com/openshift/origin/issues/20617#issuecomment-43325418

[2018-11-14 09:15] anjannath opened #3001 "Build and release single minishift binaries with systemtray"
In this release (v1.27.0), there are two sets of binaries one with systemtray for windows & macOS and the normal minishift binaries for all the platforms.

Going forward we should release single set of binaries with systemtray for all the supported platforms.

[2018-11-14 09:48] anjannath commented on #2675
@agajdosi Thanks i will try the workaround in the issue. Also i saw the issue in a windows VM, not bare metal but it has decent config, 8gb ram and 4 cores.

[2018-11-14 10:24] amitkrout opened #3002 "Preflight check returns false negative through systemtray minishift start"
### General information

  * Minishift version: minishift-systemtray-1.27.0-windows-amd64
  * OS: Windows10
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Use minishift tray bit
  2. minishift start --vm-driver virtualbox
  3. Stop minishift from tray icon
  4. Then start it from tray icon

### Expected
minishift should run

### Actual
Preflight checks fails on virtualbox installation st

[2018-11-14 10:34] l0rd commented on #2824
@ibuziuk @eivantsov I don't know what the root cause is but I figured out last week that the template used by minishift addon hasn't been updated in months. We need to replace it with upstream one. That may be enough to fix this issue.

[2018-11-14 10:42] praveenkumar commented on #2675
@amitkrout @agajdosi @anjannath  you can test https://github.com/openshift/origin/issues/20617#issuecomment-433254181 using https://github.com/minishift/minishift/pull/2903 on the same environment to see if that workaround working for you. That PR is actually that purpose only where we need to make the change first on the config before cluster start.

[2018-11-14 10:47] anjannath commented on #2676
@LalatenduMohanty Checked in v3.11 and they are not enabled by default.

[2018-11-14 11:21] #2991 closed

[2018-11-14 12:05] amitkrout commented on #2675
@praveenkumar It was really a nice tip but could not help. I checked with ```initialDelaySeconds: 120``` too hoping bit increase in delay will fix the issue but facing the same error as it was reported earlier.

No of try - 3

[code]

[2018-11-14 13:28] agajdosi commented on #3002
Reproducible on Windows 7 machine.

[2018-11-14 14:02] agajdosi opened #3003 "Profile stays shown in system tray after it is deleted"
### General information

  * Minishift version: minishift v1.27.0+707887e
  * OS: Windows 7
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. minishift profile new coolprofile
  2. minishift start
  3. see it is shown in the systray
  4. minishift profile delete coolprofile
  5. profile stays listed in systray

### Expected

### Actual

### Logs

You can start Minishift with `minishift star

[2018-11-14 15:02] danseo-reisys commented on #2997
in case of using virtualbox, what is the flag to enforce it to use NAT/dhcp?

[2018-11-14 15:38] danseo-reisys opened #3004 "minishift vm - create ovf"
### General information

  * Minishift version: 1.27.1
  * Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

install was successful.
however, I was hoping to be able to export the working version using Oracle Virtual Box UI ==> export appliance but I don't see minishift in Oracle Virtual Box UI.

what we are trying to do is create a working VM and have our developers simply import the ap

[2018-11-14 16:34] gbraad commented on #2997
That IP is correct for VirtualBox. VB uses port forwarding to map the VM's port 22 to a local port. This means that `minishift ssh` or the internal commands are issues over a local endpoint.

However, the 'forcibly closed' looks like another issue... like a firewall or antivirus. What other software is on this machine?

not sure what you mean... DHCP is used on start and NAT is handled by the host

[2018-11-14 17:06] gbraad commented on #3004
After creation with `minishift start --vm-driver virtualbox` it should show up in the management UI for VirtualBox.

I would not know why this would not be possible... howeverm be aware that we use an ISO to start the machine with. So it is not just a persistent disk. Also, make sure the IP address does not modify between runs... we have some workaround in place for this, but not sure how this wil

[2018-11-14 18:32] danseo-reisys opened #3005 "minishift start timesout on downloading ISO"
### General information

  * Minishift version: 1.27.1
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce
Hi,
Question1 - minishift start times out on downloading ISOs.   it starts and hangs in the middle and I need to reissue the start command but it hangs again.   it repeats and stops on different MB completion.  is it because GitHub is overloaded?  our company internet connectio

[2018-11-14 18:34] danseo-reisys commented on #3005
can we predownload the ISOs manually and flag minishift start command?

[2018-11-14 18:34] gbraad commented on #3004
This might have to do with permissions. I do not have this issue, but I am also a member of the local Administrator group.

[2018-11-14 18:38] danseo-reisys commented on #3004
so, you can see 'minishift' in your virtualbox ui??

[2018-11-14 18:41] gbraad commented on #3005
Local network issues. It is unlikely that Github is the issue as they are providing you an endpoint from one fot he 3 datacenters based on geolocation. It is likely related to the company network. You can however copy the image and place it in the cache folder of the other machines.

This really depends on how it is configured. In general the firewall will allow local connectivity and allows use o

[2018-11-14 18:43] gbraad commented on #3005
yes. in your user profile there is a `.minishift/cache/` folder. this contains the ISO and `oc` binary used. you can also alternatively use `--iso-url file://c:/` to locate the file on disk.

[2018-11-14 19:00] gbraad commented on #3004
yep...

[2018-11-14 19:01] danseo-reisys commented on #3005
can you give me complete example of --iso-url file://xxxx

[2018-11-14 19:02] gbraad commented on #3005
https://docs.okd.io/latest/minishift/using/basic-usage.html

[2018-11-14 19:09] gbraad commented on #3005
Does this answer you question? I would like to close this issue, as it is a duplicate of other reports when people were downloading from a bad/unreliable internet connection; downloads are as reliable and as fast as the lowest common denominator. The worst link determines how reliable it is... and there is not much we can do besides the offered caching. If you have a related question, please add..

[2018-11-14 19:09] #3005 closed

[2018-11-14 19:13] gbraad commented on #3004
As an example, a [random hit](https://blog.dbi-services.com/testing-edb-containers-with-minishift/) from a search that is NOT anyone of the developers of Minishift

![](https://blog.dbi-services.com/wp-insides/uploads/sites/2/2018/04/Selection_040.png)

Although this is on Linux, it is no different on Windows. As mentioned, this might be a permissions issue...

[2018-11-14 19:30] danseo-reisys commented on #3004
it is different on windows with oracle virtualbox version 5.2.22.
it does not get registered on UI.

when I stop and try to restart I get the following error.

PS C:\minishift> minishift.exe status
Minishift:  Running
Profile:    minishift
OpenShift:  Running (openshift v3.11.0+314d321-53)
DiskUsage:  29% of 19G (Mounted On: /mnt/sda1)
CacheUsage: 1.444 GB (used by oc binary, ISO or cached images)

[2018-11-14 19:35] gbraad commented on #3004
Communication with the driver from:

[code]

to

[code]

is all based on the name `minishift`. It should exist, especially in the `status` and `stop` path else these commands would fail. As mentioned, use the `VboxManage` command to verify.

@amitkrout @agajdosi any thoughts on this?

[2018-11-14 19:37] gbraad commented on #3004
Can you also try to use `minishift start --vm-driver virtualbox` for the second time you start it (after the stop).

[2018-11-14 20:53] danseo-reisys opened #3006 "minishift install as 'administrator' but used by another user"
### General information

  * Minishift version: 1.27.1
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce
installed minishift as local ADMINISTRATOR user
but
when a different window user (with local admin access) try to start the minishift, the user gets an error (failed to find the vm status)

is this supported?  is minishift tied to a window user profile?  it can't be shared with

[2018-11-14 20:56] danseo-reisys commented on #3006
Also, is there a way to auto start the minishift on reboot as the original user who installed?

[2018-11-15 05:00] LalatenduMohanty commented on #3006
Ideally when you install something as administrator, then users will not have enough privilege to run it.

The general rule of windows for a normal binary is applicable here. For Windows `minishift` is a binary and all the OS rules applicable to `minishift` as a normal binary.

I have never tried this scenario so cannot comment without testing it first.

[2018-11-15 05:22] LalatenduMohanty opened #3007 "Terminal does not exit after Minishift is stopped through systemtray on macOS"
<img width="455" alt="screenshot 2018-11-15 at 10 50 29 am" src="https://user-images.githubusercontent.com/3125299/48532004-97094000-e8c4-11e8-8cd7-4de7cfc463ba.png">

The terminal windows stays open after Minishift is stopped through systemtray on macOS. This behavior is different as compared to Windows

[2018-11-15 05:51] amitkrout commented on #3004
@danseo-reisys Can you please start VirtualBox manager UI as administrator and check if the minishift vm is seen in the UI ?

[2018-11-15 05:59] LalatenduMohanty commented on #2982
IMO this is duplicate of https://github.com/minishift/minishift/issues/2871 .

[2018-11-15 06:03] amitkrout commented on #2988
@maf1 I think you are using a weak network speed. So pulling the image does not respond in the timely manner. Can you please check the internet speed of your environment and make sure the speed should be healthy one.

[2018-11-15 06:57] LalatenduMohanty commented on #2919
@agajdosi I am against adding label to upstream repository for tracking required for RH.  That tracking needs to be handled differently. Lets talk about it offline.

[2018-11-15 07:02] anjannath commented on #3003
@agajdosi I checked this, and the profiles do get removed from the tray, but there's delay.

There's no synchronous communication between the delete operation and the tray, we have to pool for the list of profiles, and then update it on the tray. so once the profile is deleted it only gets reflected in the tray when we query for the list of profiles again, that happens after a time interval.

We c

[2018-11-15 07:07] anjannath commented on #3007
@LalatenduMohanty Does it also happen in the case of start?

So, for the start operation i think keeping the terminal open makes sense then the user will be able to copy the logs or see if some error occurs. For stop we can close the terminal i think. Or should we change it to remain opened for windows as well for both start and stop?

[2018-11-15 08:07] maf1 commented on #2988
@amitkrout the network link is stable and with good bandwidth. The nodejs example works well on an OsX machine in the same network and also a manual `git clone` on the minishisft VM works well.

[2018-11-15 08:50] praveenkumar commented on #2988
@maf1 can you provide following commands output once your cluster is up and running (`minishift start` process is completed?

[code]

[2018-11-15 08:52] gbraad commented on #2988
this is interesting. This seem like issues on your host that prevent HTTPS/TLS to properly terminate. have you configured a proxy or modified the ca-bundle? are you sure the connectivity is reliable? can you do a git clone from the machine itself? how about starting a named `origin` container alongside the cluster and try to do a git clone from there too? let's see if they succeed. else, try to us

[2018-11-15 09:23] LalatenduMohanty commented on #2879
@agajdosi I think this is duplicate of https://github.com/minishift/minishift/issues/2483

[2018-11-15 09:24] #2879 closed

[2018-11-15 10:21] onderson commented on #2972
@gbraad , please accept my ignorance / being novice about the nextworking part of the requirements of minishift.
could you please guide me through the required settings on windows?
i can see an example setting on macos here https://github.com/docker/machine/issues/1500#issuecomment-121134958

however, not sure how to do something similar either windows or on linux?
I know it is a bit out of scope

[2018-11-15 10:43] maf1 commented on #2988
@praveenkumar

[code]

[2018-11-15 10:47] onderson commented on #2983
@praveenkumar , no configs are saved. that a workaround at least. closing for now.

[2018-11-15 10:48] praveenkumar commented on #2988
@maf1 does this issue resolved for you because looks like you closed it?

[2018-11-15 10:49] maf1 commented on #2988
@sorry, having trouble with my terminal... (I‘m roaming and using an iOs device...).

[2018-11-15 11:12] onderson opened #3008 "minishift start log on ubuntu vm behind proxy"
### General information

  * Minishift version: minishift v1.27.0+707887e
  * OS: Linux - Ubuntu
  * Hypervisor: KVM

### Steps to reproduce

  1. behind enterprise proxy
  2. start minishift

### Expected
starts normally

### Actual
does not start

### Logs

https://gist.github.com/onderson/948e8bd685be1b6f04eddde7d157fed7

[2018-11-15 11:42] KurtStam opened #3009 "Minishift selfsigned root-cert should be in .minishift dir"
This is a feature request.

I use minishift a lot for development and reinstall fresh maybe once a day. So very day I need to click thru the self-signed warnings in the openshift UI. Wouldn't it be possible to store the root-cert in the .minishift dir so that if I re-install the root-cert remains the same?

That way I could import  the root cert in my browser once and be done with it.

Somewhat th

[2018-11-15 11:42] maf1 commented on #2988
@praveenkumar, @gbraad

Issue solved.
It turnes out the on CentOs the git installation is lacking for whatever reasons the certs path (obviously on this machine I only hat used plain http up to now...). So after
[code]
everything works fine.

I had checked this only on the VM, not on the host.
Thanks a lot for pointing me there!
Although this is not a core minishift issue it still might be worth a

[2018-11-15 11:42] #2988 closed

[2018-11-15 12:15] gbraad commented on #3008
Can't open the gist at the moment, but do you perhaps need a CA certificate
as part of the proxy configuration? If so, this is a known issue and a
duplicate... Therr is a PR that handles this, but needs more testing.

On Thu, Nov 15, 2018, 19:12 önder sezgin <notifications@github.com wrote:

[2018-11-15 12:16] gbraad commented on #2988
Thank you for the feedback

On Thu, Nov 15, 2018, 19:42 MAF <notifications@github.com wrote:

[2018-11-15 12:21] LalatenduMohanty commented on #2994
This might automatically get resolved when we integrate the system tray binary with default `minishift` binary.

[2018-11-15 12:29] ibuziuk commented on #2824
@l0rd it is a good point, but template version does not seem to be related to this stack issue.

[2018-11-15 12:41] LalatenduMohanty commented on #2990
@christophlim I have tried to reproduce with Minishift 1.27.0 + Windows 10 + Virtualbox. In my all 4 attempts I could not reproduce this issue. The Windows 10 machine had latest updates.

[2018-11-15 12:49] LalatenduMohanty commented on #2990
@christophlim Can you try uninstalling [1] and starting from fresh? Also we suggest users to use HyperV on Windows10.
[1] https://docs.okd.io/latest/minishift/getting-started/uninstalling.html

[2018-11-15 14:11] budhram commented on #907
@LalatenduMohanty @gbraad

It seems the user need to have the execution policy set to `AllSigned` or `RemoteSigned` in order to run the powershell script.
However, one can control the script's execution by signing it like in this article
https://community.spiceworks.com/how_to/153255-windows-10-signing-a-powershell-script-with-a-self-signed-certificate.

We can use our own minishift singed certifi

[2018-11-15 14:18] budhram commented on #907
@LalatenduMohanty  To enable HyperV in the system, one must run the command in Administrative mode
See https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/enable-hyper-v#enable-hyper-v-using-powershell.

[2018-11-15 16:02] gbraad commented on #907
You are generating the script... which you would then sign in code?
This sounds to me as a inadequate solution and rather want to abandon the
whole idea of a script. Please use an elevated permission shell session
which executes individual commands instead.

On Thu, Nov 15, 2018 at 10:18 PM Budh Ram Gurung <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open So

[2018-11-15 21:32] rafabene commented on #2809
Is there a work around for this issue?

[2018-11-16 00:29] l0rd opened #3010 "Che addon uses an outdated template"
### General information

  * Minishift version: v1.27.0+707887e
  * OS: macOS
  * Hypervisor: xhyve

### Steps to reproduce

  1. Start Che (`minishift addon apply che`)
  2. Create and Open a workspace using `Che 7` stack

### Expected

 A Che 7 workspaces is created

### Actual

The workspace fails to start

[2018-11-16 00:32] l0rd commented on #2824
I had a look at this problem:

1) workspace creation of `Java CentOS` hangs only if `anyuid` is enabled
2) the image used by this stack is [eclipse/centos_jdk8](https://hub.docker.com/r/eclipse/centos_jdk8/tags/) and it's 5 months old
3) the image doesn't contain the fix for [CDK-305](https://issues.jboss.org/browse/CDK-305) that was pushed 4 months ago: https://github.com/eclipse/che-dockerfiles/

[2018-11-16 00:34] l0rd commented on #3010
@agajdosi how can I run Che addon integration tests for this PR?

[2018-11-16 03:38] amitkrout opened #3012 "Nightly fails due to missing external link"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected
Nightly should start. Need to fix missing external link reference in file
[code]
[code]

### Actual
01:01:22 - build/openshift/openshift-client-binary.html
01:01:22   *  External link https://github.com/

[2018-11-16 05:16] dipak-pawar opened #3013 "minishift start is failing to install openshift-web-console-operator"
### General information

  * Minishift version: v1.27.0+707887e
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. `minishift start --cpus 4 --memory 8GB`

### Expected
 minishift should start without error.

### Actual
minishift is starting but failing with exit code 1 with error as `Failed to install "openshift-web-console-operator": timed out waiting for the condition`

### Logs

h

[2018-11-16 06:45] onderson commented on #3008
Not sure, i suspect if this is related to issues listed below;

https://issues.jboss.org/browse/CDK-329
https://github.com/openshift/origin/issues/20496
https://github.com/docker/machine/issues/2740

I know get the same result in windows (either in corporate network or VPN connection) as mentioned here..
https://github.com/minishift/minishift/issues/2972

[2018-11-16 08:10] jjwallaby commented on #2966
OKAY I have another PC, however the UEFI firmware settings for windows 10 is missing even though Virtualization is turned on in the BIOS.  therefore this returns false.  Anyway to by-pass this check ?
wmic cpu get VirtualizationFirmwareEnabled
VirtualizationFirmwareEnabled
FALSE

[2018-11-16 08:39] agajdosi commented on #3010
@l0rd in the Makefile, the is target `make integration_pr`, to run che tests, please change this line https://github.com/minishift/minishift/blob/master/Makefile#L281 to:

[code]

this will just ran the two che tests. We still do not have automation through comments on GH of this. So once it passes, you can just comment link to the build and remove the line.

[2018-11-16 08:51] yadavsachin0995 commented on #1031
Thank you cben.

[2018-11-16 11:38] #3012 closed

[2018-11-18 09:57] #2763 closed

[2018-11-18 23:50] l0rd commented on #3010
@agajdosi I have done that and it worked fine on centos.ci (I had to fix a test first): https://ci.centos.org/job/minishift-pr/5415/

I'm also interested in running those tests locally to extend them with a Che 7 stack but I am not able to run them successfully. I have tried to run:

[code]

but it fails with the following error

[code]

Any idea on the cause of the error. I am running the tests o

[2018-11-19 04:48] dipak-pawar commented on #3013
@praveenkumar it's occurring once in a while. Let me check by updating cached images.

[2018-11-19 10:56] agajdosi commented on #3010
@l0rd Test are prepared to be executed on Linux, Mac and Windows, so it should not be a problem itself to run it on Mac. The error comes from minishift command, so I am wondering whether the issue is persistent on the machine, also are you able to start the minishift normally from the terminal on that machine? It might be temporary network problem or firewall blocking the connection.

[2018-11-19 11:13] l0rd commented on #3010
@agajdosi yes I am able to start minishift locally (`./cmd/minishift`) and I can `minishift ssh` and pull `openshift/origin-control-plane:v3.11.0`. I have tested on fedora and it hangs at step "Given Minishift has state "Does Not Exist"\".

[2018-11-19 11:23] agajdosi commented on #3010
@l0rd So on Mac you can start locally but from the integration tests the minishift start can't start permanently. Once it fails on the start, you can stop the tests, set MINISHIFT_HOME_DIRECTORY to the `out/test-run/.minishift` of the Minishift repository and do minishift ssh to the test VM to see whether it can do the pull.

About the Fedora: when the tests shows green `Given Minishift has state

[2018-11-19 11:44] l0rd commented on #3010
Ok cool will try that

Yes I have waited one hour or so...

[2018-11-19 11:47] amitkrout opened #3017 "Preflight check error report for "config set iso-url ..." varies os to os"
### General information

  * Minishift version: v1.27.0
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  In macOS (Terminal - bash)
  1.

$ ./minishift config set iso-url file:///home/Downloads/my_handmade_centos.iso
['file:///home/Downloads/my_handmade_centos.iso' **file is not present**]

In Windows10 (Terminal - powershell)
  1.

PS C

[2018-11-19 11:57] amitkrout commented on #3017
@anjannath I think poewrshell terminal is not recognize the ```file:///``` protocol

[2018-11-19 12:04] amitkrout commented on #3017
Works for file protocol ```file://C:/home/Downloads/my_handmade_centos.iso``` on windows.

[2018-11-19 12:04] #3017 closed

[2018-11-19 12:18] amitkrout opened #3018 "cmd-config.feature file fails on windows powershell terminal"
### General information

  * Minishift version: master
  * OS: Windows
  * Hypervisor: Hyper-V / VirtualBox

### Steps to reproduce

  1. Use powershell terminal and run
  2. make integration MINISHIFT_BINARY=/path/to/minishift.exe GODOG_OPTS="-tags cmd-config"
[code]
  3.
  4.

### Expected

### Actual
Failing due to file protocol is not defined as per documentation [1] for windows system

[1] ht

[2018-11-19 12:41] #2755 closed

[2018-11-19 13:39] anjannath commented on #3003
@agajdosi actually don't close it yet.

I am looking at alternatives to get the status reflected in the tray
instantaneously or at least within a few seconds.

[2018-11-19 16:41] #1587 closed

[2018-11-20 02:00] jjwallaby commented on #2781
I also get the same error
Using public hostname IP 192.168.99.100 as the host IP
Checking if OpenShift is already running ...
Checking for supported Docker version (=>1.22) ...
Checking if insecured registry is configured properly in Docker ...
Checking if required ports are available ...
Checking if OpenShift client is configured properly ...
Checking if image openshift/origin-control-plane:v3.11

[2018-11-20 07:09] anjannath commented on #2781
Justin, after this failure try to get into the minishift vm `minishift ssh`
then do a `docker ps`
and paste the output here, in my case the kube-apiserver container was only
not running.

Also did you manually change anything in the `master-config.yaml`?

On Tue, Nov 20, 2018 at 7:30 AM Justin W <notifications@github.com> wrote:

--
ANJAN J NATH
nathearthling.me

[2018-11-20 07:51] menza12 commented on #2781
[docker@minishift ~]$ docker ps
CONTAINER ID        IMAGE                                                                                                              COMMAND                  CREATED             STATUS              PORTS               NAMES
0b94ce84ad3c        docker.io/openshift/origin-control-plane@sha256:419a5e7fef555bfd71d7f7dca1bcff2cd877ec3d0a8986e002967649cd4dca08   "/bin/b

[2018-11-20 08:10] anjannath commented on #2781
This is the out put of `docker ps` when everything goes well.
[code]

[2018-11-20 09:39] onderson opened #3020 "error while building minishift"
### General information

  * Minishift version: N/A
  * OS: Linux
  * Hypervisor: N/A

### Steps to reproduce

  1. follow the docs here
https://docs.okd.io/latest/minishift/contributing/developing.html
  2. run make command

### Expected
minishift builds successfully

### Actual
:~/gows/src/github.com/minishift/minishift$ make
go-bindata  -prefix /home/onders/gows/src/github.com/minishift/minishi

[2018-11-20 11:34] LalatenduMohanty commented on #2961
Resolved in #3015

[2018-11-20 11:34] #2961 closed

[2018-11-20 12:14] amitkrout opened #3021 "Command "minishift docker-env" doesn't report docker unavailability on host"
### General information

  * Minishift version: v1.27.0
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. Take a fresh setup or uninstall docker
  2. minishift start
  3. minishift docker-env
  4.

### Expected
Should notify to the user that something like ```Docker is not available on the host```

### Actual
No such statement of docke

[2018-11-20 13:16] praveenkumar commented on #3021
That is expected, `minishift docker-env` is something just put the docker daemon info which is running to VM to the host console. It doesn't have to anything to host docker installation. I am not sure if we should also add this check.

[2018-11-20 14:04] anjannath commented on #2676
Creating an addon for patching the config file is not necessary, as after 3.11 it is not going to change anymore. #3019 directly does the modification after cluster up is run, now these will be enabled by default with minishift.

[2018-11-20 21:53] acbramley opened #3023 "minishift start fails with various errors when ~/.kube exists"
### General information

  * Minishift version: v1.26.1+1e20f27
  * OS: macOS
  * Hypervisor: VirtualBox

May be related to #1827

### Steps to reproduce
This is a pretty hard to reproduce and strange error but I wanted to post something as I've been battling with this for over a week now, only just finding out the fix for it yesterday.

To begin, I think this may have something to do with an exis

[2018-11-21 08:36] menza12 commented on #2781
Any ideas why the kube-apiserver does not start?

[2018-11-21 12:52] agajdosi opened #3024 "PR checks on Travis do not have GH API token defined"
### General information

Test environment on PR build misses GH API token, which causes that some unit tests are skipped and thus the coverage report is lower than it is with token defined.

### Expected

Test environments on Master and PR builds are the same.

### Actual

PR environment does not have GitHub API token defined, thus tests using GH API will fail or will be skipped, making the covera

[2018-11-21 13:01] agajdosi commented on #3024
Absence of GH API token also affects github.com/minishift/minishift/pkg/minishift/openshift/version:

[code]

Thus adding the token should fix the issue with coverage report difference between master and PR builds.

[2018-11-21 13:04] LalatenduMohanty commented on #3024
@agajdosi That's an interesting finding. We should fix it asap.

[2018-11-21 13:20] agajdosi commented on #3024
Seems like the variable missing is by design of Travis: https://docs.travis-ci.com/user/pull-requests/#pull-requests-and-security-restrictions

[2018-11-22 06:09] praveenkumar commented on #3020
@onderson  You need to install `go-bindata` before execute `make`, this is something we need to update in our documents.

[code]

[2018-11-22 06:10] praveenkumar commented on #3013
@dipak-pawar does that works for you now after updating the cached images?

[2018-11-22 06:13] dipak-pawar commented on #3013
@praveenkumar closing this as no longer reproducible after updating the cached images

[2018-11-22 06:13] #3013 closed

[2018-11-22 06:16] budhram commented on #1267
@LalatenduMohanty Badly need a milestone as it has been pending from almost a year now.

[2018-11-22 06:32] budhram commented on #1499
Looks like documentation is still saying we support `minikube iso`, creating a PR for that.
This issues says https://github.com/minishift/minishift/issues/2578 we have completely removed the minikube iso.

[2018-11-22 06:56] budhram opened #3025 "Remove refereces of minikube iso from documentation"
Although the minikube iso support has been removed functionally, I still found few references in documentation like below
https://docs.okd.io/latest/minishift/using/basic-usage.html#choosing-iso-image

[2018-11-22 07:09] budhram commented on #1499
Closing it as remaining references of minikube iso has been taken care by PR https://github.com/minishift/minishift/issues/3025

[2018-11-22 07:09] #1499 closed

[2018-11-22 08:45] #3002 closed

[2018-11-22 09:20] gbraad commented on #1442
It would be useful for the fact that people can use `minishift start
--no-provision` to stand up a cri-o, podman host... but this is not
beneficial to use at the moment. I would suggest that we can refer to the
PR and the artifacts if they wanna test/play with this.

[2018-11-22 10:30] niconiew commented on #2675
I'm experiencing similar issue, CDK v3.6.0-1, minishift v1.24.0+aa3dd4c on Windows10/Virtualbox

ERROR:,
_Error during 'cluster up' execution: Error starting the cluster. ssh command error:
command : /var/lib/minishift/bin/oc cluster up --image 'registry.access.redhat.com/openshift3/ose-${component}:v3.10.45' --public-hostname 192.168.99.101 --routing-suffix 192.168.99.101.nip.io --base-dir /var/l

[2018-11-22 10:47] #3025 closed

[2018-11-22 22:19] onderson commented on #3008
@gbraad ,this does not happen with   `--openshift-version v3.10.0` option.

[2018-11-23 02:31] gbraad commented on #3008
not related to 2740 for docker machine, but there is an issue with proxy-based deployment. at the moment both 3.10 and 3.11 are impeded...

[2018-11-23 08:56] JakesIV commented on #2679
I have version 1.27.0 which was recently released and the same error re-occurs. I downloaded the file supplied by praveenkumar and its marked by AVAST antivirus as containing and virus.

[2018-11-23 09:18] anjannath commented on #2679
Can you try to start minishift on a clean env, (delete ~/.minishift and also ~/.kube/config if you can) that might solve the issue, i am not able to reproduce it in win10, haven't seen this for quite some time now.

@JakesIV AFAICT this is a false alarm, we have seen other reports of anitvirus software reporting as malware/ransomware see #2914. Is the latest minishfit (v1.27.0) is found to be OK b

[2018-11-23 14:31] #1515 closed

[2018-11-23 14:33] LalatenduMohanty commented on #1515
I am not planning to reopen this as I am not sure if this will be relevant when we move to local OpenShift solution for OpenShift 4.0

[2018-11-23 20:02] tunggad opened #3028 "minishift fails to start with message: Failed to retrieve dnsmasq leases from /var/lib/libvirt/dnsmasq/docker-machines.leases"
### General information

  * Minishift version: minishift-1.27.0-linux-amd64
  * OS: Linux / archlinux
  * Hypervisor: KVM / libvirt

[code]

### Steps to reproduce

  1.  minishift start --show-libmachine-logs --v 5
  2.
  3.
  4.

### Expected
minishift starts properly and i can log into the web console

### Actual
minishift fails to start

### Logs

[code]
[Full log](https://gist.github.com/tun

[2018-11-24 11:29] tunggad commented on #3028
I found this issue in Fedora Bugzilla reported back in June 2015: https://bugzilla.redhat.com/show_bug.cgi?id=1228631

It states that libvirt for some reasons from particular version does not use the dnsmasq managed lease database (the .leases files) anymore, that's why for the libvirt-managed networks there is also no .leases file -> no file under /var/lib/libvirt/dnsmasq/docker-machines.leases f

[2018-11-24 11:38] tunggad commented on #3028
For the network docker-machines, i also tried to add this following line to /var/lib/libvirt/dnsmasq/docker-machines.conf (the configuration file of the dnsmasq instance created by libvirt for the network)

`dhcp-leasefile=/var/lib/libvirt/dnsmasq/docker-machines.leases`

But it does not make any effect, still get the error when starting minishift

[2018-11-24 11:49] anjannath opened #3029 "Add scenario for checking kube config"
[code]
Right now we check OpenShift master and node configs, we should also check for kube config `--target kube`.

[2018-11-24 11:54] anjannath commented on #3028
@tunggad Just wondering, do you have another instance of dnsmasq running other than the one started by libvirt? I have used minishift on ArchLinux not very long ago, without any issues.

[2018-11-24 11:58] tunggad commented on #3028
@anjannath: hi, no, the default instance of the dnsmasq systemd deamon is not running because i have disabled the systemd dnsmasqd.service immediatelly after installing dnsmasq package

[2018-11-24 15:32] gbraad commented on #3028
we are at a fixed version of the driver at the moment. are you using the binary as stated or do you compile your own version?

also, we do not use docker-machine as external binary... so I beg to question, are you maybe using the driver as a dependency from the docker-machine installation/recipe?

[2018-11-24 22:39] tunggad commented on #3028
@gbraad: Hi, i installed the driver as required by the [minishift installation guide](https://docs.okd.io/latest/minishift/getting-started/setting-up-virtualization-environment.html) for arch linux, as root i executed these two commands:

[code]

[2018-11-24 23:12] tunggad commented on #3028
@mwiens: hi Max, how did you solve this issue https://github.com/kubernetes/minikube/issues/906 2 years ago? Two years later i stuck with same problem.

[2018-11-25 20:16] tunggad commented on #3028
i think i come closer to the problem, but it's still not a solution. Somehow the VM started by kvm driver can't get/lease an IP from the dnsmasq instances started by libvirtd for the two networks: default and docker-machines. That's why both functions `getIPByMACFromLeaseFile()` and `getIPByMacFromSettings()` in `GetIP()` can't get the IP of the VM.

libvirt shows the the same, no IP has been leas

[2018-11-26 03:57] gbraad commented on #3023
@praveenkumar can you have a look?

It sounds odd that `~/.kube` has anyhing to do with it... but then again `oc` does tend to read the config from here and use this to authenticate. However `connection refused` is a network refusal and not a login refusal.

When doing:
[code]

you remove the profile and old images, and the kube config... could you share what is in the config?

[2018-11-26 04:30] acbramley commented on #3023
@gbraad yeah that's right, I was never running both at the same time but you are right maybe they were claiming the same IP?

[2018-11-26 05:27] Talisen opened #3030 "Minishift on Windows initial start up failing due to non-recursive DNS server response"
### General information

  * Minishift version: 1.27.0 (using Centos 7 ISO)
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Have a DNS server defined in Windows settings where the DNS server is configured to not allow recursion on requests
  2. Attempt to run minishift startup with **minishift start --vm-driver=virtualbox**

### Expected

The minishift start process / dock

[2018-11-26 05:36] gbraad commented on #3030
There is likely no secondary defined... can you check `minishist ssh -- cat
/etc/resolv.conf`... you can start `minishift start --network-nameserver
8.8.8.8` to force additional nameservers.

[2018-11-26 05:45] LalatenduMohanty opened #3031 "The nightly test is failing in docs builder task"
The nightly test is failing in docs builder task with error `"OPENSHIFT_VERSION=v3.11.0" is not a valid `.

https://ci.centos.org/job/minishift-nightly-centos/351/console

[code]

[2018-11-26 06:06] Talisen commented on #3030
Hi @gbraad,

Once I removed the local non-recursive DNS server from my Windows networking settings, the installation worked.

If I delete the minishift, re-add my non-recursive DNS server to my Windows network settings, it fails again. I ran your command with the following output:

[code]

If you add that --network-nameserver flag, then it works properly. My thought was that the minishift start sc

[2018-11-26 06:33] LalatenduMohanty commented on #2984
+1.  Hopefully, we might be able to improve the code for 4.0 .  As we are planning to maintain Minishift 1.x for a considerable time, if we can make the CI consistent then it would reduce our maintenance effort significantly.

[2018-11-26 08:04] budhram commented on #1515
Agree :+1:

[2018-11-26 08:12] budhram commented on #2445
@ryanpetrello , could you able to verify again with latest version as it seems the mentioned bugzilla ticket is closed.
We are planning to close it we couldn't hear from you in a week as we are not able to reproduce it.

[2018-11-26 08:46] budhram commented on #2107
@paoloantinori , I just verified with new installation of Fedora and Minishift. I am not able to reproduce this issue.

[code]

Having said that we do have few issues with `~/.kube/config` conflicts in previous cases.

If `~/.kube/config` is not having important configurations from other Kubernetes project, I would recommend you to delete it and restart.
It should work.

[2018-11-26 08:49] budhram commented on #2773
@praveenkumar @gbraad I would let you guys decided what to do here. :smile:

[2018-11-26 10:44] amitkrout commented on #3031
@LalatenduMohanty Thanks for creating the issue

[2018-11-26 10:53] amitkrout commented on #3029
Do we have certain command/mechanism of patching like ```minishift openshift config set --patch ...``` other than origin ?

[2018-11-26 11:37] kameshsampath commented on #2809
@praveenkumar @gbraad  any update on this issue ? I just got to hit this again in 1.27 https://www.dropbox.com/s/ab5g97pxg2uurr6/Screenshot%202018-11-26%2017.05.40.png?dl=0

CC: @nicolaferraro

[2018-11-26 12:09] kameshsampath commented on #2809
I see one of the consistent causes being enabling `anyuid` addon

[2018-11-26 13:25] lycollicott opened #3032 "Checkpoint vpn interferes with minishift start"
### General information

  * Minishift version:  v1.27.0+707887e
  * OS:  Windows
  * Hypervisor:  VirtualBox

I have to run Checkpoint VP, but it causes this error on "minishift start"....

-- Starting Minishift VM .... FAIL E1126 09:11:10.844730   16764 start.go:491] Error starting the VM: Error starting stopped host: Error setting up host only network on machine start: C:\Program Files\Oracle\V

[2018-11-26 18:48] #292 closed

[2018-11-26 20:42] manjrem commented on #1354
(minishift) DBG | Waiting for VM "minishift" to power on...
(minishift) DBG | VM "minishift" has been successfully started.
(minishift) DBG | }
(minishift) DBG | STDERR:
(minishift) DBG | {
(minishift) DBG | }
(minishift) DBG | Checking vm logs: C:\Users\mmanjrek\.minishift\machines\minishift\minishift\Logs\VBox.log
(minishift) DBG | Getting to WaitForSSH function...
(minishift) DBG | Using SSH cl

[2018-11-26 20:49] manjrem opened #3033 "C:\Program' is not recognized as an internal or external command"
### General information

  * Minishift version: minishift v1.27.0+707887e
  * OS:  Windows 10
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. download minishift
  2. minishift config set vm-driver virtualbox
  3. minishift.exe start  --show-libmachine-logs -v5

### Logs

(minishift) DBG | Waiting for VM "minishift" to power on...
(minishift) DBG | VM "minishift" has been successfully star

[2018-11-26 23:34] burrsutter commented on #2809
this is now eating me - webconsole CrashLoopBackOff
minishift version
minishift v1.27.0+707887e

minishift profile set istio1270
minishift config set memory 8GB
minishift config set cpus 3
minishift config set disk-size 50g
minishift config set vm-driver virtualbox
minishift config set image-caching true
minishift config set openshift-version v3.11.0
minishift addon enable admin-user
minishift add

[2018-11-27 02:18] gbraad commented on #2809
This is unlikely related to Minishift itself (as the platform to host the containers), but with OpenShift. Are you using a version that contains the fix as mentioned in: openshift/origin#21250 ?

[2018-11-27 02:48] #2016 closed

[2018-11-27 02:48] #2181 closed

[2018-11-27 02:48] #2207 closed

[2018-11-27 04:11] praveenkumar commented on #2809
This is fixed upstream and might be the case that your cached images are out of date, you can also check #3013 which is fixed after updating the cached images.

[2018-11-27 05:07] budhram commented on #3033
@manjrem You are using external client being provided by `Gow`.
See below:
[code]

Check either:
1. Removing `Gow` folder and make sure no other such client is being used
2. Remove `C:\Program Files (x86)\Gow\bin` from Environment Variable `PATH`

[2018-11-27 05:48] #2400 closed

[2018-11-27 07:56] anjannath commented on #3029
@amitkrout We can pass a flag `--target kube` to patch the kube-apiserver config.

[2018-11-27 08:22] anjannath commented on #3033
Duplicate of #1354

[2018-11-27 08:48] #2403 closed

[2018-11-27 10:57] gbraad commented on #1354
@manjrem remove Gow from your path. It is an awful hack anyway, as `plink` is not compatible with the actual `ssh` command.

[2018-11-27 10:58] gbraad commented on #1354
@LalatenduMohanty @robin-owen document this?

[2018-11-27 11:03] gbraad commented on #3033
WONTFIX

this is an issue with how Gow wraps `plink`. There is not much we can do about this, as the script itself is faulty, and it is an awful hack anyways as `plink` is not really comptaible with `ssh` as command. The solution is to prevent the use of Gow by uninstalling, removing from path, or perhaps by implementing to force the native ssh implementation #2570.

[2018-11-27 11:05] gbraad commented on #3033
I suggest to do both: #2570 and #1354

  * #2570 as a workaround to force native client
  * #1354 to document this as a 'known issue'

[2018-11-27 11:07] #3033 closed

[2018-11-27 11:54] robin-owen commented on #1354
@gbraad @LalatenduMohanty Documenting this in the troubleshooting section makes sense to me.

[2018-11-27 13:11] burrsutter commented on #3013
How do you "update cached images"?
and is it a specific image or all images? :-)

[2018-11-27 13:51] dipak-pawar commented on #3013
@burrsutter In my case I did, `minishift delete`, also removed `~/.minishift` completely. Then started minishift using `minishift start`. I assume in this I got all cached images updated.

I am not sure about any specific image. Maybe @praveenkumar can help you here

[2018-11-27 14:03] onderson commented on #3020
@praveenkumar , i run `~/gows/src/github.com/minishift/minishift$ go get -u github.com/jteeuwen/go-bindata/...`

but it still says;

`go-bindata  -prefix /home/onders/gows/src/github.com/minishift/minishift/addons -o /home/onders/gows/src/github.com/minishift/minishift/out/bindata/addon_assets.go -pkg bindata /home/onders/gows/src/github.com/minishift/minishift/addons/...
make: go-bindata: Command

[2018-11-27 16:14] jcrossley3 commented on #2809
I just blew away my `~/.minishift` and my webconsole is still crashlooping with minishift 1.27 and openshift v3.11.0. Hopefully this gist contains the relevant details: https://gist.github.com/8702dae7b39320ebcd0dcbe84ed3798f

 I think we'd all be eternally grateful if you could please tell us in detail what we're doing wrong, @praveenkumar

Should we be using something other than v3.11.0?

[2018-11-28 02:02] onderson commented on #3008
@LalatenduMohanty @gbraad , i can confirm this does not happen in two different platforms which are windows and ubuntu vm with --openshift-version v3.10.0

[2018-11-28 02:18] gbraad commented on #3008
To summarize; this does not happen with:

  *  with `--openshift-version v3.10.0` option (Ubuntu) https://github.com/minishift/minishift/issues/3008#issuecomment-441127904
  *  does not happen in two different platforms (Windows, Ubuntu) with `--openshift-version v3.10.0` https://github.com/minishift/minishift/issues/3008#issuecomment-442290275

Right, as this issue impedes newer releases as menti

[2018-11-28 03:34] praveenkumar commented on #2809
@jcrossley3 yes this gist have all required information but this is what fixed upstream side and also we are not seeing this during our CI jobs (nightly or PR specific). For you, it is consistent or happens time to time?

I don't think that you should stop using 3.11.0. Can you also try to manually delete that pod and see if it can come up again without this issue?

[2018-11-28 04:37] jcrossley3 commented on #2809
I would estimate it fails half of the time. I'm guessing it's a race condition that CI isn't hitting. I've tried bouncing the pod in the past, but it comes back with the same failure. I'll keep digging, but I have a hard time understanding why you think it's fixed upstream. Either it's not fixed, or those of us hitting it aren't using whatever binary includes the fix, and if it's the latter, we ob

[2018-11-28 07:09] gbraad commented on #3032
This is a known issue and is documented in the troubleshooting segment.
See #1309

[2018-11-28 07:09] #3032 closed

[2018-11-28 07:11] gbraad commented on #3032
This behaviour is part of the driver. You could create the VM without being attached to the VPN and from the Virtualbox management console modify to use the host-only adapter. However, you would still run into issues that the VPN software will use `0/0` route all, which prevents traffic to reach the VM correctly

[2018-11-28 07:16] gbraad commented on #3009
the certificate creation is done why `oc cluster up`. there is not much control we have over this step. We would have liked to even be able to force recreation of the certificates, but hasn't happened either. I doubt this regarded as important from their end. :-s

[2018-11-28 07:33] praveenkumar commented on #2809
We had continue failure on our CI about it and after https://github.com/openshift/origin/pull/21250 merged we are not seeing it from CI side.

As you said you removed `~/.minishift` so that means you also removed any cached images, in this case you should have updated binary which consist this fix.

@kameshsampath @burrsutter does updating cache images or removing them works for you?

[2018-11-28 07:50] kameshsampath commented on #2809
@praveenkumar i can remove ~/.minishift as i got other profiles and apps running. is there any other way to clear the cached images ?

[2018-11-28 07:54] LalatenduMohanty opened #3035 "Invalid link in minishift start preflight check"
Incorrect link in `minishift start` preflight check error

![minishift_doc_404](https://user-images.githubusercontent.com/3125299/49136754-9f279d80-f310-11e8-972b-7ab2d5c15c6e.PNG)

[code]

The above link should be replaced by https://docs.okd.io/latest/minishift/getting-started/setting-up-virtualization-environment.html#for-windows

[2018-11-28 07:57] LalatenduMohanty commented on #3035
Looks like ` make link_check_docs` only checks links in docs directory and not in the code.

[2018-11-28 08:12] budhram commented on #865
@tigert Just a gentle reminder :smile:

[2018-11-28 08:13] budhram commented on #2707
Closing as per @LalatenduMohanty comment.

[2018-11-28 08:13] #2707 closed

[2018-11-28 08:13] LalatenduMohanty commented on #3035
Looks like it is already fixed in the master https://github.com/minishift/minishift/blob/master/cmd/minishift/cmd/start_preflight.go#L58
[code]

[2018-11-28 08:13] #3035 closed

[2018-11-28 08:14] budhram commented on #2064
Just to give an update here.
We are blocked on modularization of docs.
The plan is to add tutorial as part of documentation.

[2018-11-28 09:15] gbraad commented on #3009
@praveenkumar @LalatenduMohanty I am inclined to make this a 'WONTFIX' as this is not something we can do from Minishift, without modifying the `oc cluster up` bootstrap code.

[2018-11-28 09:38] KurtStam commented on #3009
@gbraad isn't cluster up being deprecated? If so where would this functionality then end up?

[2018-11-28 10:07] praveenkumar commented on #3009
@KurtStam for 3.11 `oc cluster up` still there so we need to maintain current state of minishift around 3.11 lifecycle. What come next is still not sure atm and we sent mail to minishift user ML about it https://lists.minishift.io/archives/list/minishift@lists.minishift.io/thread/BNSSBI2KYCWHJSEUUBIW4LNXG3N3TLJS/

[2018-11-28 11:17] budhram commented on #1775
Closing this issue as per above discussion.

[2018-11-28 11:17] #1775 closed

[2018-11-28 11:20] budhram commented on #1793
@praveenkumar The origin issue has been closed and we need to decide this issue's fate as well.

[2018-11-28 11:43] onderson commented on #3020
@praveenkumar

also tried like this;
there is obviously something missing? but what is that?

`:~/gows/src/github.com/minishift/minishift$ go get -u github.com/go-bindata/go-bindata/...
onders@ondersvbvm:~/gows/src/github.com/minishift/minishift$ make
go-bindata  -prefix /home/onders/gows/src/github.com/minishift/minishift/addons -o /home/onders/gows/src/github.com/minishift/minishift/out/bindata/

[2018-11-28 12:16] KurtStam commented on #3009
So you are saying I should bring this up the openshift team who are maintaining `oc`?

[2018-11-29 08:42] praveenkumar commented on #3013
@burrsutter you can remove complete image cache by using `minishift images delete -a` and then you update all the images back.

What I would do in this case.

[code]

[2018-11-29 08:45] praveenkumar commented on #2809
@kameshsampath https://github.com/minishift/minishift/issues/3013#issuecomment-442751321 you just try it with a different profile since image cache is profile specific not global.

[2018-11-29 20:17] anjannath opened #3037 "system tray auto start config setting not working"
https://github.com/minishift/minishift/blob/5981f99603534104c3b557c6cd610976c88dfc84/cmd/minishift/cmd/start.go#L258-L262

The config value is not checked and tray is always started.

[2018-11-30 05:39] #3037 closed

[2018-11-30 11:15] denisjc7 commented on #2722
Hi,
@LW81 I am experiencing the same issue on basically the same configurations as yours. Did you find a solution? Thank you

[2018-11-30 11:39] denisjc7 commented on #2722
BTW I am new concerning this topic as I am trying to start learning with edx.org.
I check the portforwarding rule in virtualbox, which is generated whenever i run minishift however it stops at .(minishift) DBG | Getting to WaitForSSH function...
Note But when I run  "PS C:\WINDOWS\system32>ssh localhost -p 50074" i am requested to enter a password. I dont know the username and password. Your help

[2018-11-30 11:40] anjannath commented on #3030
Closing this as the issue can be solved using the `--network-nameserver` flag

[2018-11-30 11:40] #3030 closed

[2018-11-30 15:16] mojari opened #3039 "MiniShift is starting using virtual box but unable to start using hyperv on windows"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected

### Actual

### Logs

You can start Minishift with `minishift start --show-libmachine-logs -v5` to collect logs.
Please consider posting this on http://gist.github.com/ and post the link in the issue.

[2018-11-30 15:17] mojari commented on #3039
(minishift) DBG | [executing ==>] : C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -NonInteractive (( Hyper-V\Get-VM minishift ).networkadapters[0]).ipaddresses[0]
(minishift) DBG | [stdout =====>] :
(minishift) DBG | [stderr =====>] :
(minishift) DBG | [executing ==>] : C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -NonInteractive ( Hyper-V\Get-VM mini

[2018-11-30 15:19] mojari commented on #3039
![image](https://user-images.githubusercontent.com/29124348/49297683-6559c100-f4e1-11e8-9761-ca8f03275348.png)

[2018-11-30 15:32] anjannath commented on #3039
Can you post the complete logs? so that we can find out at which point it
fails.

The logs you posted now ends at trying to get the ip address of the VM.

On Fri, Nov 30, 2018, 8:58 PM mojari <notifications@github.com wrote:

[2018-11-30 16:57] mojari commented on #3039
Complete log:

D:\minishift-1.27.0-windows-amd64>minishift start --vm-driver hyperv --hyperv-virtual-switch "External Virtual Switch" --show-libmachine-logs -v5 --skip-registration
-- minishift version: v1.27.0+707887e
-- Starting profile 'minishift'
-- Check if deprecated options are used ... OK
-- Checking if https://github.com is reachable ... OK
-- Checking if requested OpenShift version 'v3.1

[2018-11-30 16:58] mojari commented on #3039
did you
create a virtual switch or using the "Default Switch"?: Created virtual Switch.

[2018-11-30 16:59] mojari commented on #3039
As, this was giving error for switch:

D:\minishift-1.27.0-windows-amd64>minishift start --vm-driver hyperv --skip-registration
-- Starting profile 'minishift'
-- Check if deprecated options are used ... OK
-- Checking if https://github.com is reachable ... OK
-- Checking if requested OpenShift version 'v3.11.0' is valid ... OK
-- Checking if requested OpenShift version 'v3.11.0' is supported ...

[2018-11-30 17:11] anjannath commented on #3039
This is still not the full logs.. :/

If minishift fails to start it shows an error.

On Fri, Nov 30, 2018, 10:27 PM mojari <notifications@github.com wrote:

[2018-11-30 17:13] anjannath commented on #3039
was the ip address retrieved?

On Fri, Nov 30, 2018, 10:27 PM mojari <notifications@github.com wrote:

[2018-11-30 17:14] anjannath commented on #3039
You have to wait for sometime, there are retrys, till the vm comes up.

On Fri, Nov 30, 2018, 10:27 PM mojari <notifications@github.com wrote:

[2018-11-30 18:13] mojari commented on #3039
okay. Thanks. Let me once validate in office network and using VPN.
**This should work in VPN env as well. right?**
I will test. And update, if issue is there.

Thanks

[2018-11-30 18:33] dgolovin commented on #3023
I have exactly the same message about `minishift_kubeconfig` is missing.
[code]
when running on Windows 10 Pro with Hyper-V.

I noticed it usually (not always) happens to me when I stop and then start minishift. I don't do any changes to in ~/.minishift folder manually.
To recover from that error I do `minishift stop`, `minishift delete` and then wipe all except `cache` folder form `~/.minishift`

[2018-11-30 19:26] mohitsuman opened #3040 "adding template-service-broker fails repeatedly on macOS"
### General information

  * Minishift version: `minishift v1.27.0+707887e`
  * OS: `macOS`
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox : `Default`

### Steps to reproduce

  1. Run: `./minishift openshift component add template-service-broker`

### Expected
The command should execute without errors and be consistent on macOS

### Logs
https://pastebin.com/q7UQgbKC

Can you please have a lo

[2018-11-30 20:38] #1620 closed

[2018-11-30 22:09] dgolovin opened #3041 "'minishift addon apply xpaas' fails for minishift v1.27.0"
### General information

  * Minishift version: minishift v1.27.0+707887e
  * OS: Windows 10 Pro
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. minishift start
  2. minishift addon apply xpaas

### Expected
Applied xpaas without errors

### Actual

[code]

### Logs

N/A

[2018-12-01 12:08] LW81 commented on #2722
Hi,

the only way for me to get around this was to disable the Windows 10
built-in OpenSSH Client, via Windows Features.
After that minishift used its internal ssh client and proceeded.
Unfortunately i am running into another issue after that, where the
control-plane pods are not starting and the minishift deployment fails,
since the API access times out.

Would be inteeresting to see if you get t

[2018-12-01 12:36] anjannath commented on #3039
@mojari This is most probably because of VPN. Can you try to start without VPN, and wait till the end, and keep watching the logs, you'll see different commands run through ssh, not just `exit 0`, if it progresses.

[2018-12-01 14:34] LW81 commented on #2781
Hi,

i am facing the same issue with Minishift 1.27 on my Windows 10 laptop.
Looks like the kube-apiserver container is started several times, but always dies.
Running docker logs on such an instance does not reveal any clue what might be wrong.

Those are the last entries before its gone:

[restful] 2018/12/01 14:29:15 log.go:33: [restful/swagger] listing is available at https://10.0.2.15:8443/sw

[2018-12-01 15:12] LW81 commented on #2781
What is interesting, checking the logs of the etcd container reveals this:

`I1201 15:10:41.215374       1 run.go:81] Started etcd at 192.168.99.100:4001
2018-12-01 15:10:41.215423 I | embed: ready to serve client requests
2018-12-01 15:10:41.217192 I | embed: serving client requests on [::]:4001
WARNING: 2018/12/01 15:10:41 Failed to dial 0.0.0.0:4001: connection error: desc = "transport: authent

[2018-12-03 07:01] mojari commented on #3039
I had ran the minishift in office net and getting follow9ing error from an hour:

(minishift) DBG | [stderr =====>] :
(minishift) DBG | [executing ==>] : C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -NonInteractive (( Hyper-V\Get-VM minishift ).networkadapters[0]).ipaddresses[0]
(minishift) DBG | [stdout =====>] :
(minishift) DBG | [stderr =====>] :
(minishift) DBG | [execu

[2018-12-03 07:09] gbraad commented on #3039
You had a succesful deployment before as I can see from the logs you posted.

However, you can not use VPN (as in most caes they do a route all) as this
prevents the DHCP request to be handle. If you want to be sure you get an
IP address, you can use `--network-ipaddress` on hyperv, Please read the
docs for the needed variables, as you also need `--network-nameserver` etc
(needed when using an int

[2018-12-03 07:11] gbraad commented on #3039
[code]

your instance does not get an IP address using DHCP

[2018-12-03 07:18] gbraad commented on #3039
https://docs.okd.io/latest/minishift/troubleshooting/troubleshooting-driver-plugins.html#hyperv-fails-openvpn

[2018-12-03 07:19] gbraad commented on #3039
Alternatively you can try to do the following:
https://docs.okd.io/latest/minishift/using/static-ip.html#static-ip-hyperv

Note: howver, VPN software could still prevent traffic to the VM when a route all is used.

[2018-12-03 07:38] denisjc7 commented on #2722
I will keep you posted concerning that issue...thank you

[2018-12-03 07:54] gbraad commented on #3020
always set your path with something like PATH=$PATH:GOPATH/bin to make the
executables available for use.

On Mon, Dec 3, 2018 at 3:26 PM önder sezgin <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-12-03 07:56] anjannath commented on #3041
@dgolovin from the error looks like openshift deployment did not happen successfully?
`minishift openshift restart` or `minishift stop => start` should fix this error.

[2018-12-03 07:57] anjannath commented on #3040
@amitkrout Can you try to reproduce this on your mac?

[2018-12-03 09:30] amitkrout commented on #3040
@anjannath Checking

[2018-12-03 10:10] amitkrout commented on #3040
@anjannath I am not able to reproduce it
[code]
@mohitsuman It seems the component add command executed much earlier before the ```apiserver``` is responsive. Can please try it again on a clean setup.

[2018-12-03 13:56] marcpascual opened #3043 "'oc cluster up' port 8443 starting up in ipv6 address, but not ipv4"
### General information

  * Minishift version: v1.27.0+707887e
  * OS: Windows 10 Home
  * Hypervisor: VirtualBox 5.2.22

### Steps to reproduce

  1.  ./minishift.exe delete -f
  2.  ./minishift.exe start --vm-driver virtualbox --show-libmachine-logs -v5 2>&1

### Expected

port 8443 opening up on the ipv4 address

### Actual

port 8443 is opening up on the ipv6 address, resulting to failure of

[2018-12-03 15:33] dgolovin commented on #3041
@anjannath OpenShift seems to work fine. I can do all I need to do except mentioned add on problem.
Here is 'minishift start' output:
[code]

[2018-12-03 16:30] marcpascual commented on #3043
I noticed that the master api tries to start up but eventually dies.
I dumped the docker logs for the master api pods. The first one ended with:
[code]

The second and subsequent attempts just ended with:
[code]
I'm not sure why the pod suddenly terminates after the "Starting Oauth2 API" log entry.

[origin.log](https://github.com/minishift/minishift/files/2640277/origin.log)
[master-api.c71d96131

[2018-12-03 20:41] onderson commented on #3020
See @gbraad ' [comment](https://github.com/minishift/minishift/pull/3042#issuecomment-443619766) in https://github.com/minishift/minishift/pull/3042

[2018-12-03 20:41] #3020 closed

[2018-12-04 03:18] anjannath commented on #3041
@dgolovin I'll give it a try today on the windows machine, and let you know if i face the same issue or not.

[2018-12-04 08:28] coolbrg opened #3045 "Document the known behavior related to pre-requisite installer"
Taking the reference of this PR description https://github.com/minishift/minishift/pull/3027#issue-232942367

One known behavior is following
`
If there exists an external switch in HyperVisor, then, it is being observed that it is not able to created new external switch(Default behavior, only one switch is bound to one network adapter).
`

I think this should be added as `Note` in the documentati

[2018-12-04 08:39] budhram opened #3046 "Document the intermittent issue of user addition in Computer Management utility"
Taking the reference of PR description here https://github.com/minishift/minishift/pull/3027#issue-232942367

`
In-spite of user being added to HyperV admin group, through Computer Management UI utility, it is not visible. It is not consistent.
`

It would be good to document this intermittent behavior in somewhere.
Probably, at known issue section.
Not sure though.

[2018-12-04 10:27] coolbrg opened #3047 "Try to find ways to implement "minishift setup" without running shell in admin mode"
Right now, one need to start the powershell in the administrator mode to run `minishift setup`.
Investigate ways to execute `minishift setup` without starting in admin mode.

[2018-12-04 13:59] gordillo-ramon-redhat commented on #2730
@rhuss, I have tried with Local policy, and it works fine. Example:

[code]

[2018-12-04 16:18] danmikita commented on #2822
Has there been any forward motion on this issue? If not this is just a bump to keep the issue from closing.

[2018-12-05 04:27] jroper opened #3048 "Only some images are cached when image caching is true"
On minishift v1.26.1+1e20f27:

[code]

When image-caching is true:

[code]

Only some images get cached:

[code]

The rest of the images:

[code]

Are not cached. For me this is a big problem, my home internet connection is terrible, so slow in fact that most of the time, minishift fails to start due to timeouts.

[2018-12-05 05:53] gbraad commented on #3048
You can add images to cache by configuration.
We have only selected a subset to get the environment running.

[2018-12-05 06:29] eliu opened #3049 "Minishift Start Failed: The Minishift VM does not support network assignment"
### General information

  * Minishift version: `v1.28.0+48e89ed`
  * OS: macOS
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Run `minishift config set iso-url b2d`
  2. Run `minishift start`

### Expected
Minishift started up and running.

### Actual
Start failed with the following messages:
[code]

[2018-12-05 07:03] dgolovin commented on #3041
@anjannath It is not easy to replicate. But when it is happening to me I know minishift instance will fail to restart. So it is a probably consequence o another unknown error.

[2018-12-05 11:58] anjannath opened #3050 "Add-on to create imagesecret for registry.redhat.io"
Ref: #2875

[2018-12-05 13:01] gbraad commented on #3049
B2D is not a supported ISO type anymore...
Also, B2D never can support network assignment...

So yes, the message is therefore very right...

WONTFIX -> invalid
On Wed, Dec 5, 2018 at 2:29 PM Liu Hongyu <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-12-05 13:02] gbraad commented on #3049
@praveenkumar @LalatenduMohanty maybe the message should add "WARN" instead.
But also when started with b2d we should fail...

[2018-12-05 14:06] eliu commented on #3049
i see. i wonder if the b2d way should be removed from documentation since it is not suppoerted anymore.

[2018-12-05 14:11] gbraad commented on #3049
The documentation should not mention this (or state it is not supported anymore)... where did you find it?

[2018-12-05 14:13] gbraad commented on #3049
https://docs.okd.io/latest/minishift/using/basic-usage.html

Hmmmm, @LalatenduMohanty @robin-owen ?

[2018-12-05 14:19] robin-owen commented on #3049
@gbraad I wasn't aware that b2d was unsupported and could result in failure. If that's the case, removing it from our documentation is absolutely the right thing to do. As far as I know, b2d is still listed in the help text for `minishift start`, as well.

[2018-12-05 14:20] gbraad commented on #3049
I just noticed this... but we dropped it actually quite a while ago due to
the persistent issues it caused.

[2018-12-05 14:22] robin-owen commented on #3049
That makes sense to me, and I have no problem removing b2d from our documentation. What should we use as an alternative example for the "Choosing the ISO Image" section in that case? The Fedora ISO?

[2018-12-05 14:50] pmorie commented on #2809
It looks to me like https://github.com/openshift/origin/pull/21250/files is not present when I start a new cluster using the latest minishift. Here's the relevant excerpt from the web console yaml:

[code]

However, this code is supposed to be in the latest cli image under the 3.11 floating tag. This would seem to indicate that minishift is using an older `oc` to deploy the webconsole. Will someon

[2018-12-05 15:03] mojari commented on #3039
Thanks gbraad .
But, my requirement is minishift should run with company network. I am not using vpn. I am using company network, where dhcp is unable to provide ip. But I need in that environment then only, I can connect with other application.

[2018-12-05 15:23] nicolaferraro commented on #2809
If I compare the `oc` binary downloaded by minishift and the one I can download from [origin releases](https://github.com/openshift/origin/releases) (`diff ~/.minishift/cache/oc/v3.11.0/linux/oc /usr/bin/oc`), I see no difference.

And since the patch has been merged on November 1st and the release is from October, it would never work.

I wonder if compiling a `oc` binary from the OpenShift 3.11.x

[2018-12-05 15:24] anjannath commented on #3039
For this you can manually assign ip address to the VM on Hyper-v. what @gbraad suggested in https://github.com/minishift/minishift/issues/3039#issuecomment-443611817 should work for you.

[2018-12-05 15:26] anjannath opened #3051 "Remove b2d iso support completely"

[2018-12-05 15:30] praveenkumar commented on #2809
@pmorie @nicolaferraro I think you are comparing the wrong binary. The one which minishift download on the host is only for the cluster interaction purpose it doesn't use to do `cluster up`. If you really want to know the version of oc binary which used for `cluster up` then do following.

We are doing this because `oc cluster up` drop support to provision to a remote docker daemon so we needed oc

[2018-12-05 15:40] gbraad commented on #3039
If you are unable to provide an address usig DHCP from the company network
(bridged), you would need to use the aforementioned static IP assignment,
or set up a local DHCP server on your Windows host. This is however beyond
the scope of our application.

[2018-12-05 16:29] robin-owen opened #3053 "Remove b2d ISO from documentation"
**Note:** This will leave the CentOS ISO as the only supported option. Move the "Choosing the ISO Image" section to the advanced usage section of the documentation accordingly.

[2018-12-05 18:59] jcrossley3 commented on #2809
I just saw the crash locally using v1.27.0+707887e of minishift:
[code]
So does `v3.11.0+0323629-61` include the fix? And if not, why does my vm have that version?

[2018-12-06 00:38] gbraad commented on #2809
@nicolaferraro @jcrossley3 did you do `minishift delete` before running `minishift start` ?

The latest release is:
[code]
this release was done on [Oct 11](https://github.com/openshift/origin/releases/tag/v3.11.0)

Can we make sure this is also what we see on CI? /cc: @agajdosi Can we have this dumped on start of the tests?

[2018-12-06 00:50] gbraad commented on #2809
Inside the VM, right after startig the VM, pulling the container image and copying the oc, I break and do:

[code]

this is the version as returned from the container images as https://hub.docker.com/r/openshift/origin-control-plane/

[2018-12-06 00:52] gbraad commented on #2809
Make sure you are using `minishift config set image-caching false` or `minishift delete --clear-cache` to make sure you do not import an old container image into the VM.

[2018-12-06 01:04] gbraad commented on #2809
On a completely new environment and doing `minishift delete --clear-cache -f` between consecitive runs:
[code]

I have done this now 5 times and I do not see an issue with the webconsole...

[2018-12-06 01:08] jcrossley3 commented on #2809
@gbraad  This is the first I've heard of `--clear-cache` but yes I run `minishift delete` between each attempt. Here's my most recent run that shows the failing webconsole and the versions: https://gist.github.com/c5a684dc6e24513c8f28e4ada69712ee

[2018-12-06 01:13] gbraad commented on #2809
@jcrossley3 please delete cache:

[code]

this means it could use older container images that are tagged as `v3.11.0`, but do not contain the patches as mentioned before.

[2018-12-06 01:16] jcrossley3 commented on #2809
@gbraad wouldn't `rm -rf ~/.minishift` effectively clear the cache, too?

[2018-12-06 01:17] gbraad commented on #2809
@praveenkumar we are still using a subset of v3.11 images to cache... this might also lead to issues: #3048, etc. I once filed an issue for this, but unable to find now...

@jcrossley3 yes...

[2018-12-06 01:29] gbraad commented on #2809
@jcrossley3 I can not confirm correct behaviour/actions taken from https://github.com/minishift/minishift/issues/2809#issuecomment-442118282 as the referred gist is not related to minishift. It might have been an instance of minishift to got restarted, perhaps the `rm -rf` did not happen, etc. I can not be sure. At least now, as you removed the folder and cache, it works as expected. I still concl

[2018-12-06 01:37] jcrossley3 commented on #2809
@gbraad I'm just trying to give you enough information to solve the problem. The gist is most certainly related to my local minishift, after following the suggestions given here.

But just so I'm clear: do I need to always clear the cache when I `minishift delete`? Or should I be good to go from this point forward and I shouldn't expect the console to crash-loop any longer?

[2018-12-06 01:48] gbraad commented on #2809
@jcrossley3 I understand, but it was incomplete to do a full assesment. It would always be wiese to include the startup log as it can show if the VM got restarted, images got imported, etc. It was related, but without context of how this state came to be.

it is always advised to do a `minishift delete --clear-cache` when updating between versions of Minishift. Although we do not mention this, as

[2018-12-06 01:50] gbraad commented on #2809
This is not a gaurantee, unless you add all these images with `minishift image cache-config add`.

[2018-12-06 01:50] jcrossley3 commented on #2809
@gbraad so after that successful run, I simply stopped, deleted, restarted, and the console failed with the same old error: https://gist.github.com/fe1c55886d32e304ba2c70eb0201afaf

Can we please rule out version discrepancies now? :)

[2018-12-06 01:52] gbraad commented on #2809
[code]

[2018-12-06 01:56] jcrossley3 commented on #2809
[code]

[2018-12-06 02:18] gbraad commented on #2809
Using the default settings of Minishift:

[code]

[code]

unable to reproduce the issue as you reported. But I see in your output:

[code]
and
[code]

can you share your settings?

[code]

[2018-12-06 02:21] jcrossley3 commented on #2809
Sure thing:
[code]

[2018-12-06 02:37] gbraad commented on #2809
Notice that:
[code]

are not the same as I have... is this consistent between runs?

[2018-12-06 02:39] gbraad commented on #2809
@jcrossley3 and `minishift addons list`

[2018-12-06 02:48] jcrossley3 commented on #2809
I noticed the `<none>` as a difference, too, but hadn't paid attention to it before. I will.

[code]

[2018-12-06 02:49] gbraad commented on #2809
I do not have addons enabled, so I will run with... `anyuid` tends to change behaviour quite a bit.

[2018-12-06 02:53] gbraad commented on #2809
Hmmm... I also get now:
[code]
this aren't the image IDs I got before. interesting... maybe related to Docker hub and their caching... but 2 days already... ? hmmm... anyway, web-console is `Running` happily for `6m`:

[code]

[2018-12-06 02:56] gbraad commented on #2809
@jcrossley3 what is the configuration of the machine you run this on? I run on a `i7-8700` exclusively for this purpose (headless), with a decent amount of memory. As you mentioned it might be a race condition... it could, but wanna be sure we can exclude this. like no swapping, etc.

[2018-12-06 03:02] jcrossley3 commented on #2809
Fedora 28 on a Lenovo T450s (i7-5600U @ 2.60GHz) with 20GB of memory.

Most of the guys on my team who see this error run Fedora, but we have one guy who claims he's never seen the crashloop and he runs OSX. Not sure if that's relevant or not.

[2018-12-06 03:12] gbraad commented on #2809
I run Fedora 29 on that particular system... and I also run on Hyper-V on a T460p. The Hyper-V setups runs additionally nested KVM for both CentOS and Fedora 28 (mostly to do proxy tests and registry mirrors), and I have never seen this before :-s (puzzled)

[2018-12-06 03:12] gbraad commented on #2809
Ran once with `anyuid`:

[code]

[2018-12-06 03:20] gbraad commented on #2809
Twice:

[code]

[2018-12-06 04:32] gbraad commented on #3009
`oc` will not be used for cluster bring up. The new installer is a completely different thing and handles certificate in a controlled manner, unlike how clusterup generated it's own every time.

[2018-12-06 04:35] gbraad commented on #3009
In other words, as you mentioned this is deprecated going forward, although 3.11 will still be maintained. With emphasize on maintained, not enhanced... So this will unlikely be considered to be changed. We have requested similar functionality for more than a year.

[2018-12-06 04:39] gbraad commented on #2901
Any update ?

[2018-12-06 04:54] gbraad commented on #2809
just came back from lunch and will run it some additional times (made a copy of the failing vm). so, at the moment we both run at least the same versions... and both have `anyuid` enabled.

[2018-12-06 05:02] gbraad commented on #2901
Might there be a way to check if the user has enough permissions?

[2018-12-06 05:03] LalatenduMohanty commented on #3050
@anjannath  Why do we need an add-on for this, We are fixing this with a extra flag in https://github.com/minishift/minishift/pull/3016

[2018-12-06 05:04] LalatenduMohanty commented on #3049
Follow up issues created #3051 and #3053

[2018-12-06 05:04] #3049 closed

[2018-12-06 05:08] LalatenduMohanty commented on #3048
I think OpenShift used to require the images we cache by default, but with recent changes in OpenShift it needs more images. So we need to revisit this and update the list of default images for caching.

[2018-12-06 05:40] gbraad commented on #2809
it is about every third time... twice it deploys well, and then it fails once...

[2018-12-06 05:41] gbraad commented on #2809
retrying without enabling `anyuid` to verify

[2018-12-06 05:45] anjannath commented on #3050
@LalatenduMohanty It seems that login to docker is not necessary, creating the secret is enough. I asked @praveenkumar on IRC yesterday, he can confirm!

[2018-12-06 06:38] LalatenduMohanty commented on #3045
I do not think only having this information in documentation is enough, we should communicate the same through the command output.

[2018-12-06 06:50] gbraad commented on #2809
over 9+ runs without the addon, and none of them failed.

[2018-12-06 06:52] LalatenduMohanty commented on #3041
@dgolovin How frequently you can reproduce this?

[2018-12-06 07:08] gbraad commented on #2809
@jcrossley3 can you try without this addon?

[2018-12-06 07:10] LalatenduMohanty commented on #3023
We tried to fix these issues in the past and fix some of them. But some of them are really difficult to reproduce and most of the time a particular environment specific.  If guys have definite steps to reproduce we can definitely try to find the root cause of this.

I remember long back we had got an issue with ~/.kube, but could not reproduce the issue AFAIR.  It is usually the combination of cle

[2018-12-06 07:37] LalatenduMohanty commented on #3021
Agree with @praveenkumar . If docker is not available then `minishift start with fail as `oc cluster up` is dependent on it. I going to close this issue. Let me know if you disagree and want to reopen this.

[2018-12-06 07:37] #3021 closed

[2018-12-06 07:43] LalatenduMohanty commented on #3009
@KurtStam I also do not see this getting fixed in 3.11. However we can see how minishift usecase for OpenShift 4.0 handles this.

[2018-12-06 07:49] LalatenduMohanty commented on #2900
@praveenkumar I am inclined to close this issue as we moving toward OpenShift 4.0.

[2018-12-06 08:00] LalatenduMohanty commented on #2175
I think it is better to keep this closed as we do not have plans to fix this issue.

[2018-12-06 08:02] LalatenduMohanty commented on #2016
@agajdosi I think lets keep ot as it is as we are moving towards OpenShift 4.0

[2018-12-06 08:04] LalatenduMohanty commented on #1303
Not planning to open this as e do not any plans around this issue.

[2018-12-06 08:04] LalatenduMohanty commented on #665
Does not as a priority at this point of view. Keeping it as closed.

[2018-12-06 08:05] LalatenduMohanty commented on #603
Not re-opening it as we do not have any plan to fix this.

[2018-12-06 08:06] LalatenduMohanty commented on #292
Not planning to fix this as we are going for a new solution for OpenShift 4.0

[2018-12-06 08:14] nicolaferraro commented on #2809
Does the `anyuid` addon need to be included at first cluster startup in order to work, or it can be added also later? I'm thinking it gets activated too early for some reason...

[2018-12-06 13:30] jcrossley3 commented on #2809
@gbraad I assume it's because images we're running can't run with a random user id, right? If I must run those images, what's the alternative to the anyuid addon?

[2018-12-06 15:19] pmorie commented on #2809
I spent some time with @jcrossley3 and I believe we have a better understanding of what's happening now.

TLDR: there seems to be a race that can result in the webconsole pod sometimes being matched against the `anyuid` scc when the anyuid addon is enabled.

As evidence, I submit the following:

Crashing pod:

<details>

[code]
</details>

Working pod:

<details>

[code]
</details>

Differences be

[2018-12-06 15:54] gbraad commented on #2809
The `anyuid` is applied AFTER the cluster signals back that it succesfully finished, while in fact the webconsole is the last to start and barely shows 1s as lifespan. as @nicolaferraro said, maybe the `anyuid` gets set too early? I do not think it is too early... but probably it happens at the same time. applying security constraints aren't atomic.

as mentioned, it would seem the `minishift addo

[2018-12-06 16:04] gbraad commented on #2809
@jcrossley3 can you try:

[code]

and see if this changes the behaviour for you... I will just run a few tests this way, just to confirm if the success comes too early.

[2018-12-06 16:15] gbraad commented on #2809
running:
[code]
a few times...

[2018-12-06 17:19] gbraad commented on #2809
We could try to implement a liveliness/healthcheck to see if the webconsole is (or other services are) functional before continuing with the installation of addons. This however would need to be planned and will likely not be done 'soon-ish'.

[2018-12-06 17:19] gbraad commented on #2809
@LalatenduMohanty ^^

[2018-12-06 17:40] gbraad commented on #2809
@jcrossley3 @nicolaferraro it seems a delayed apply does the trick as a workaround. It does however need to be around 10secs to back off...

In the meantime we will look into a real solution to be problem.

[2018-12-06 17:42] gbraad commented on #2809
@kameshsampath can you confirm if you enabled addons?

[2018-12-06 19:55] kameshsampath commented on #2809
yes i did

[2018-12-07 05:53] gbraad commented on #2809
@kameshsampath I suggest you to disable this addon for the time being, and only use `apply` to enable the addon after the cluster came up. but allow enough time for the webconsole to come up. We are looking into a fix, but I think for the time being this is going to be documented as a known issue.

/cc: @robin-owen @LalatenduMohanty @praveenkumar

[2018-12-07 06:05] jalalsfs commented on #2781
I think I am facing the same problem

`   Importing 'registry.access.redhat.com/openshift3/ose-control-plane:v3.10.45' . CACHE MISS
   Importing 'registry.access.redhat.com/openshift3/ose-docker-registry:v3.10.45' . CACHE MISS
   Importing 'registry.access.redhat.com/openshift3/ose-haproxy-router:v3.10.45'  CACHE MISS
-- OpenShift cluster will be configured with ...
   Version: v3.10.45
-- Pulling

[2018-12-07 06:07] jroper commented on #3048
I found where the list is and am happy to submit a PR to fix, except one thing that I don't understand - the list currently has images such as `openshift/origin-control-plane:v3.11.0`, but the images I found in the docker registry are `docker.io/openshift/origin-control-plane:v3.11.0`, ie, prefixed with `docker.io/`. I don't know if that's significant or not, and also should the list contain only

[2018-12-07 14:15] gorkem opened #3054 "A way to start system tray without starting the cluster"
I would like to be able to start the system tray without starting the cluster. I have tried `minishift services systemtray` which starts the systemtray but it is not permanent.

[2018-12-07 14:16] gorkem opened #3055 "Add feature to open openshift console from system tray"
A menu item to open the openshift console directly from tray.

[2018-12-08 00:59] anjannath commented on #2734
If you are able to start vm using virtualbox. Then you might be able to
start minishift by skipping the check.

`minishift config set skip-check-virtualbox-install true`

On Fri, Dec 7, 2018, 1:46 PM stale[bot] <notifications@github.com wrote:

[2018-12-08 01:00] anjannath commented on #2734
Have you tried a recent version of minishift?

On Sat, Dec 8, 2018, 6:29 AM Anjan Nath <kaludios@gmail.com wrote:

[2018-12-08 14:18] gastaldi opened #3056 "Replace <username> with $(whoami) for easy copy/pasting"
### General information

  * Minishift version: Latest
  * OS: Linux
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. Go to https://docs.okd.io/latest/minishift/getting-started/setting-up-virtualization-environment.html#kvm-driver-fedora
  2.  Copy/paste the command in there
  3. See it fail because the `<username>` token needs to be replaced

### Expected
Copy/past

[2018-12-08 15:07] #2276 closed

[2018-12-09 14:03] jalalsfs commented on #3023
For me, I don't have ~/.kube folder at all, and have an issue to start minishift,
I got this error

[code]
I don't know is my issue related to kube,
My OS: Fedora 29 with KVM

[2018-12-09 16:51] lin1000 commented on #2432
I tried to minishift start --network-nameserver 8.8.8.8 , then it works!

[2018-12-10 07:39] anjannath opened #3059 "Support Go v1.11.2 in CI"
We need to fix the `gofmt` errors. In centos ci with go version 1.11.2 there's some gofmt errors, that are preventing the integration test from running.
[code]
-----------------------------------
[code]

centos ci console: https://ci.centos.org/job/minishift-pr/5484/console

[2018-12-10 21:40] acbramley commented on #3023
@jalalsfs are you connected to a VPN? I'm using a Cisco AnyConnect VPN, and it seems if I connect to the VPN then try `minishift start` I get similar errors to you (also stuff about cert generation sometimes). To fix it I usually have to reboot, then `minishift start` before connecting to the VPN.

[2018-12-11 04:43] anjannath commented on #2840
Setting up the Virtualization environment in mac for minishift means:
1. We need the xhyve driver binary in PATH, with proper permissions.
2. That's it!

The challenge right now is that the xhyve driver needs to be compiled on the host's version of macOS for it to work. which means we need a working golang dev env setup in the users machine.

Or we could use machine-drivers org, and release the bi

[2018-12-11 09:52] #3059 closed

[2018-12-11 11:14] agajdosi opened #3062 "Add command to close systemtray"
### General information

  * OS: macOS / Windows

### Expected

Subcommand for closing system tray from CLI.

### Actual

System tray cannot be closed via CLI.

[2018-12-11 12:54] szEvEz opened #3063 "Minishift installer for Windows"
Hello,

is there some further documentation regarding the Minishift Installer for Windows which is mentioned in version 1.28.0?

Regards

[2018-12-11 13:59] lhw commented on #391
I think @gbraad is currently still working on this in #2587 I could at least use the
```minishift services proxy --upstream http://localhost:3128 -r -p 3130```
line to reencrypt my traffic before it was handed off to openshift/docker. I think there are supposed to be some extra flags for the start-up of the minishift instance but they don't seem to be in yet so you just have to point your https?-p

[2018-12-11 14:06] gbraad commented on #391
The problem with a custom certificate is more complicated, as the container
images do not have knowledge on /etc/tls/ and certs that are located on the
host. We therefore have to inject them... and as mentioned, I was working
on this, but got blocked by an issue with proxies in general on v3.11. This
is now hopefully resolved...

[2018-12-11 18:34] aldettinger opened #3065 "An already installed minishift instance does not start without internet connection"
### General information

  * Minishift version: minishift v1.27.0+707887e
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. minishift start (without internet connection)

### Expected
  Minishift starts with an internet connection for installation.
  After the installation, I would like to be able to start without internet connection.

### Logs
  Logs with an without internet connect

[2018-12-12 07:54] #2900 closed

[2018-12-12 08:51] anjannath commented on #3065
@aldettinger From the attached logs, you are hitting the issue #2675 which happens irrespective of the network connection. You should keep an eye on #2675 and put your findings there.

[2018-12-12 10:21] pablonautic commented on #2096
Hi guys,

in case someone follows my path, I will just leave a quick note - I just landed here trying to solve my basic problem with running minishift:

[code]

The switch name and everything was fine, so after trying several possible solutions, I run:

`C:\Users\pawel\Downloads\minishift-1.28.0-windows-amd64>minishift config set hyperv-virtual-switch external-vswitch`

With the output:
`[Virtual

[2018-12-12 11:10] gbraad commented on #2096
Can you use PowerShell and confirm the output with:

[code]

[2018-12-12 11:17] LalatenduMohanty commented on #3051
Resolved via #3052

[2018-12-12 11:17] #3051 closed

[2018-12-12 11:20] LalatenduMohanty commented on #3056
resolved via #3057

[2018-12-12 11:20] #3056 closed

[2018-12-12 18:36] aldettinger commented on #3065
Thanks for answering @anjannath.

I had a try with the workaround described in #2675 without success. Actually, I doubt that this is the same issue. Users in #2675 are reporting an intermittent issue, while on my laptop minishift consistently start with an internet connection. And conversely, minishift consistently does not start without an internet connection.

I try to go further, invoking oc cl

[2018-12-13 05:43] anjannath commented on #3063
@LalatenduMohanty @robin-owen We need to add docs for this i think.

[2018-12-13 05:51] gbraad commented on #3065
Minishift needs an internet connection for the initial start, as it tries to pull container images that are needed for the chosen OpenShift version. After a succesful deployment, the instance can be restarted. However, a redeployment needs to pull images again, as at the moment not all of them are correctly cached.

The issue described in #2675 has happened for other users that had too little memo

[2018-12-13 06:54] karthiklabs opened #3068 "Minishift Start Failed: The Minishift VM does not support dns server assignment on windows"
### General information

  * Minishift version:  3.11.0
  * OS: Windows 10
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Install minishift on Windows 10
  2. Run the below command
  3. minishift start --network-nameserver 8.8.8.8 --vm-driver=virtualbox --memory=2GB

### Expected
Minishift should be started

### Actual
Minishift was not started with below message.

Writing current config

[2018-12-13 09:39] gbraad commented on #3068
can you share:

[code]

and start with:

[code]

[2018-12-13 11:38] adietish commented on #2180
@LalatenduMohanty @jrichter1 just stumbled upon this error and found this issue :) (just saying that the issue still exists)

[2018-12-13 13:15] adietish commented on #2180
@gbraad indeed, uninstalling via the uninstaller that's on the installation disk image helps. Once uninstalled one can start minishift.

[2018-12-13 13:39] gbraad commented on #2180
@adietish VirtualBox gets installed as a yellow box `.pkg`, so it installs libraries on system-level. Because of this they act very different from the install by drag to `/Applications` of an `.application` bundle. For `.pkg` installations you should always use an uninstall function.

[2018-12-13 15:59] anjannath commented on #2180
@gbraad The check exists in the driver code, which can be removed, the issue already present (https://github.com/machine-drivers/docker-machine-driver-xhyve/issues/134). I'll take out some time to fix this by the weekend if no one else does. There's someone who mentioned in the comments about taking it up.

[2018-12-13 23:36] cshaw5 opened #3069 "Error to register VM: Error attempting to get plugin server address for RPC: Failed to dial the plugin server in 10s"
### General information

I followed the [Microsoft ](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/setup-nat-network)link to setup an internal virtual switch and then followed [OKD](https://docs.okd.io/latest/minishift/using/static-ip.html)'s instructions to launch minishift with an IP address and network info.

I am not able to use an External Switch because it sev

[2018-12-13 23:40] cshaw5 commented on #3069
Windows 10 hyper-v "Error attempting to get plugin server address for RPC" #1381
Seemed to have a similar issue, but I've tried to rerun it. I get the same error ever time.

After the error occurs I can't stop or delete it using minishift.
[code]
[code]

[2018-12-14 05:19] LalatenduMohanty commented on #3024
I agree. I think that's the fair way to run the tests equivalent to master and it wont compromise the security

[2018-12-14 06:15] anjannath commented on #2875
Closing this in favour of #3050

[2018-12-14 06:15] #2875 closed

[2018-12-14 06:19] #2605 closed

[2018-12-14 06:19] #2530 closed

[2018-12-14 12:41] leonidaxx90 opened #3075 "minishift start: "invalid argument: could not find capabilities for domaintype=kvm""
### General information

  * Minishift version: v1.28.0+48e89ed
  * OS: Linux (ubuntu 18.10)
  * Hypervisor: KVM

### Steps to reproduce

  1. sudo apt install qemu-kvm libvirt-daemon libvirt-daemon-system
  2. sudo usermod -a -G libvirt root
  3. newgrp libvirt
  4. curl -L https://github.com/dhiltgen/docker-machine-kvm/releases/download/v0.10.0/docker-machine-driver-kvm-ubuntu16.04 -o /usr/local

[2018-12-14 13:19] leonidaxx90 commented on #3075
I solved the issue. The problem is the nested virtualization. In virtual box I'm not able to enable this feature.
Then I used VmWare. In properties tab on my vm ubuntu I set processor as image below

![vmw](https://user-images.githubusercontent.com/6053465/50005625-4102e780-ffab-11e8-8312-aefffe6de0ac.PNG)

[2018-12-14 13:20] #3075 closed

[2018-12-14 14:41] VincentG85 commented on #2968
@praveenkumar Following the guide you mentionned, we seem to need an 'inventory' and an 'OPENSHIFT_ANSIBLE_DIR'.
Where are those ?

[2018-12-14 14:59] #3024 closed

[2018-12-14 16:59] #2840 closed

[2018-12-14 17:01] LalatenduMohanty opened #3078 "minishift setup should get the compatible version of docker machine xhyve plugin."
Followup issue for https://github.com/minishift/minishift/pull/3067#discussion_r241317767

[2018-12-14 18:05] anjannath commented on #3078
Before we can implement code to fetch the compatible version of `docker-machine-driver-xhyve` we need to release (in mahcine-drivers org) the binaries for all the versions of macOS we support.

[2018-12-15 00:34] batchu opened #3079 "Minishift Windows 7 - code VBOX_E_OBJECT_NOT_FOUND (0x80bb0001), component VirtualBoxWrap, interface IVirtualBox, callee IUnknown"
### General information

  * Minishift version: 1.28
  * OS: ~~Linux~~ / ~~macOS~~ / Windows
  * Hypervisor: ~~KVM~~ / ~~xhyve~~ / ~~Hyper-V~~ / VirtualBox

### Steps to reproduce

[code]

### Logs
[code]

[2018-12-15 11:59] Foroughi opened #3080 "How to pull container images from an alternative registry (when docker.io is not available)"
### General information

  * Minishift version: 1.28
  * OS: Windows
  * Hypervisor: Hyper-V

### Steps to reproduce without

  1. minishift start

### Actual
As my current location is banned by docker.io, minishift can't download the container image and it faces with Error 503 which is obvious why.So I started to use a proxy with openshift v3.10 (also v3.11). But after reading previous threats i

[2018-12-15 12:01] Foroughi commented on #3080
I found this switch in the docs. how i can use it ? is there any other resources online so i can fill it up this switch and prevent the minishift to download the docker from docker.io?

[2018-12-15 15:18] PoojaChirp opened #3081 "'minishift start' fails at the end with an error Error: Get https://apis/apiregistration.k8s.io/v1beta1/apiservices: dial tcp :8443: connect: connection refused"
### General information

  * Minishift version: 1.28.0
  * OS: Linux / macOS / Windows: Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox: Hyper-V

### Steps to reproduce

minishift start

### Logs

C:\Users\user>minishift delete
You are deleting the Minishift VM: 'minishift'. Do you want to continue [y/N]?: y
Deleting the Minishift VM...
Error deleting the Minishift VM: exit status 1

C:

[2018-12-15 17:34] szEvEz commented on #3063
Thanks for the quick answer.

`minishift setup` does the job for me for now.

Thanks!

[2018-12-16 03:36] grugrugrunpa commented on #3081
- Minishift version: 1.28.0
- OS: Windows 10
- Hypervisor: VirtualBox

i changed /var/lib/minishift/networking-eth1

to

it seems to work.

[2018-12-16 10:40] gbraad commented on #3063
Since when do we merge stuff without documentation...
@lalatenduMohanty what happened here?

[2018-12-16 15:31] campbellwp commented on #2266
@lance thank you for documenting your solution, even though you mentioned that it may be unique. As it turns out I have the exact same configuration (U-Verse and USG), and switching to Google DNS now allows me to access github from OpenShift. I too have tried a number of different networking configurations to no avail. Thanks again!

[2018-12-16 18:18] aldettinger commented on #3065
I've reinstalled from scratch just in case, but still the same issue. At this stage my current understanding is that minishift needs an internet connection at ***each*** startup, not only when installing.

I propose to remove the ***resolution/duplicate*** tag on this issue and wait few weeks in case someone as an idea.

[2018-12-16 18:32] gbraad commented on #3065
I will have to look into this. This doesn't sounds like it is supposed to be. It could very well be that v3.11 is th cause of a regression. We were able to deploy without a connectivity before... and I always test like this (v3.10), but have to admit that since v3.11 had proxy issues, I haven't deploy this as often as I would have liked.

[2018-12-17 01:50] gbraad commented on #2777
Yes (and no). It needs to be a user that can perform sudo.
If the user can, log into the remote server and do

[code]

to inspect why it fails

On Mon, Dec 17, 2018 at 5:25 AM Sergii Kabashniuk <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-12-17 01:56] gbraad commented on #3080
you have to use

[code]

to begin with, but when docker.io is unavailable, you have to look for a registry mirror. For more details see: https://docs.docker.com/registry/recipes/mirror/ . You can specify this option with a config option `registry-mirror`. You could actually try to use the Chinese mirror (whcih is one I sometimes test with).

If this does not work, you would have to resort to using

[2018-12-17 03:05] gbraad commented on #3079
You probably ran into this issue after removing the VM from the VirtualBox management interface, or the delete action you performed did not remove all the folders. If you did not intend to remove the VM, please check if the machine exists.

Else, use `minishift delete -f` to remove the VM... perhaps you would have to run the command twice, and try to use `minishift start` again.

If this did not s

[2018-12-17 03:07] gbraad commented on #3078
Can you explain which binaries we need to provide (driver?)? And where in the organisation? I do not remember we had a xhyve/hyperkit repo. Isn't there an alnternative by utilizing `brew` ?

[2018-12-17 03:09] gbraad commented on #3069
Are you somehow connected to a VPN... or do you have anti-virus software installed?

I am a little unsure about the startup. Did the deployment succeed? The gist provided is not correctly given.

[2018-12-17 03:12] gbraad commented on #3062
We need not just a command to close the systray, but also to stop the background process of the sshfs hostfolder. They work according to the same way... so any issue that exists in the systemtray related to lifecycle, applies to 3 other components; proxy, sshfs, systray.

I would suggest to have a general kill/quit function that performs stop ob all these services and have the systray handle this

[2018-12-17 03:13] gbraad commented on #3055
Please indicate in title that this is a request/feature and provide context.

[2018-12-17 03:14] gbraad commented on #3054
[code]

should actually perform a running process... @anjannath ? Any idea... or does this also exist in proxy? I do not recall. If we need to solve this, let's solve it for all services.

[2018-12-17 03:44] gbraad commented on #3048
you do not need to prefix them. The prefix is not relevant... and actually gets added due to the `docker.io` registry offering them. If the images would be pulled from a registry mirror, or an alternative repository, you would have this a prefix. this way this also applies and works correctly when the Red Hat registry is used.

[2018-12-17 03:56] gbraad commented on #3080
We can not distribute the images by alternative means. If the aformentioned functionality does not work for you there is not much we can do.

[2018-12-17 03:56] #3080 closed

[2018-12-17 04:09] anjannath commented on #3054
@gbraad Yes, it does, but running this command doesn't start the tray in background, it'll block the terminal the command is run from, in the implementation we run this command but also put it to background by modifying some attributes of the Cmd struct before we run it.

It is the same for the
[code]

[2018-12-17 04:18] anjannath commented on #3078
@gbraad Right the `docker-machine-driver-xhyve` binaries, and we need to provide them here: https://github.com/machine-drivers/docker-machine-driver-xhyve/releases

well, then we need brew installed in the host system, if we can avoid that dependency it'd  be nicer, don't you think?

[2018-12-17 07:12] #2810 closed

[2018-12-17 07:12] #2788 closed

[2018-12-17 08:12] #2757 closed

[2018-12-17 08:49] LalatenduMohanty commented on #3078
@anjannath @praveenkumar We have always discussed about how the xhyve docker machine driver plugin might be incompatible to various OSX versions and we need to compile it for the particular version. However I do not remember a single instance of issue originated from incompatibility or may be I missed it. Can you you point me to one or if have you reproduced the issue locally.

[2018-12-17 09:08] LalatenduMohanty commented on #2676
Resolved by #3044

[2018-12-17 09:10] #2676 closed

[2018-12-17 09:12] #2654 closed

[2018-12-17 12:02] praveenkumar commented on #3081
@PoojaChirp As per your logs look like you didn't delete the previous instance completely and had the error.

[code]

Can you try to delete it with logging option and see why it is failed?

[code]

[2018-12-17 12:14] praveenkumar commented on #3065
From the logs which @aldettinger share, looks like with 3.11 it always polls some of the images from outside and not use what might be inside in the VM.

[code]

[2018-12-17 12:46] #2180 closed

[2018-12-17 12:50] anjannath commented on #3078
@LalatenduMohanty I haven't found issues till now with it, i was able to start minishift using the currently available binaries on macOS mojave, which i am certain the binaries weren't compiled on. But i am only an occasional user of macOS, i don't use it everyday so....

[2018-12-17 13:12] #2580 closed

[2018-12-17 13:12] #364 closed

[2018-12-17 14:12] #2227 closed

[2018-12-17 16:09] cshaw5 commented on #3069
Good morning - I did a minishift delete -f and minishift start, and even though it hadn't worked before... It worked this time.

Thank you for taking the time to respond.

[2018-12-17 17:50] #3069 closed

[2018-12-17 17:52] gbraad commented on #3078
I can remind myself two situations, but they were caused due to upgrades to Sierra or High Sierra, while the user was still using the older binaries.

[2018-12-17 20:08] skabashnyuk commented on #2777
[code]

@gbraad
can you comment such statement
this command works, exit code 0 but it require me to enter password.
[code]
Who/how will enter password here ?https://github.com/minishift/minishift/blob/master/pkg/minishift/remotehost/remotehost.go#L75

[2018-12-17 22:56] #3053 closed

[2018-12-17 23:23] #3050 closed

[2018-12-18 06:21] LalatenduMohanty opened #3082 "Jobs in ci.centos.org/job/minishift-docs is failing"
Jobs in https://ci.centos.org/job/minishift-docs/63/consoleFull failing as it seems gpg key for RVM has changed.

Here is the code responsible for failure https://github.com/minishift/minishift/blob/master/centos_ci.sh#L165-L166

[code]
Refer : https://ci.centos.org/job/minishift-docs/63/consoleFull

[2018-12-18 06:39] LalatenduMohanty opened #3083 "Xpaas add-on should be dependent on `redhat-registry-login` add-on"
https://github.com/minishift/minishift/tree/master/addons/xpaas add-on should have a dependency on `redhat-registry-login` add-on as the iimage streams in the add-on is dependent on red hat registry secret.

[2018-12-18 06:40] LalatenduMohanty commented on #3083
@agajdosi @anjannath WDYT?

[2018-12-18 07:02] magicluo0755 opened #3084 "Error during setting 'minishift' as active profile: The specified path to the kube config '/home/laurence/.minishift/machines/minishift_kubeconfig' does not exist"
### General information

  * Minishift version:  minishift v1.28.0+48e89ed
  * OS: Ubunut 16.04 LTS
  * Hypervisor:  Virtualbox-5.2_5.2.22-126460~Ubuntu~xenial_amd64.deb
  * Path  env variable config:
        export MINISHIFT=/opt/minishift
        export PATH=$PATH:$MINISHIFT

### Steps to reproduce

  1.  minishift start --vm-driver virtualbox --show-libmachine-logs -v5

### Expected
minishift s

[2018-12-18 07:42] LalatenduMohanty commented on #3082
Tested with latest gpg2 RPM, but the issue is still reproducible if I use the gpg key mentioned in `centos_ci.sh`

[2018-12-18 08:22] #3082 closed

[2018-12-18 09:15] anjannath commented on #3083
@LalatenduMohanty Yes this is needed, I think @agajdosi is going to handle this also in PR #3034

[2018-12-18 17:19] LalatenduMohanty opened #3087 "minishift docs CI job is failing"
https://ci.centos.org/job/minishift-docs/65/console

[2018-12-18 18:08] MehdiAroui commented on #2852
still have the same problem

[2018-12-18 18:24] anjannath commented on #3084
@magicluo0755 You might want to try out the work around mentioned here: https://github.com/minishift/minishift/issues/3023#issue-382863194

But, that won't work for you as you do not have a `~/.kube` folder. Have you try deleting the minishift instance and trying to start again?

[2018-12-19 03:15] #1190 closed

[2018-12-19 10:06] magicluo0755 commented on #3084
minishift delete  && minishift start  try  many times, the error still exists，but win10/virtualbox running OK.
no idea about this problem...

[2018-12-19 20:28] samuzzal-choudhury opened #3089 "RBAC role creation step for etcd-operator failed"
### General information

  * Minishift version: v1.27.0+707887e
  * OS: macOS
  * Hypervisor: xhyve and VirtualBox

### Steps to reproduce

  1. `oc login https://<ip address>:8443 -u system`
  2. `minishift addons enable admin-user`
  3. `curl https://raw.githubusercontent.com/coreos/etcd-operator/master/example/rbac/cluster-role-template.yaml | sed -e 's/<ROLE_NAME>/etcd-operator/' | oc apply -f

[2018-12-19 20:56] markllama opened #3090 "Github Rate Limiting interferes with user-modeled testing"
### General information

  * Minishift version: v3.11.0
  * OS: Linux CentOS
  * Hypervisor: KVM

### Description

A user can get an apparent failure when trying to run minishift if enough users from their network are pulling information from Github.  The current solution is to offer users a troubleshooting option to create and use a Github API token.

This is an undo burden on the user.  Will see

[2018-12-19 21:44] fabiand commented on #3090
+1

We are recommending to use minishift for testing kubevirt on Openshift. Issues like this can easily disturb the first steps of newcomers. And are actually hard to fix for a user.

For us devs it would be easy enough to store the binary in a non-ratelimited location. ... For such an key demo component

[2018-12-20 04:23] gbraad opened #3091 "Fail when configuration is invalid"
Currently when the ocnfiguration file has been hand edited for instance, the Read will not fail and just return an empty configuration.

[2018-12-20 05:39] #2984 closed

[2018-12-20 11:18] anjannath commented on #2871
Since the `KUBECONFIG` env variable can hold multiple kube config files, and the resulting configuration is sum of all the configs, we can just append the minishift config file to it. This would also let the user access the already existing clusters in the other config file.
[code]

[2018-12-20 11:44] agajdosi opened #3093 "Add tolerance to coverage drops on PRs"
Codecov.io reports failed status on PRs when coverage drops - even if by as little as -0.03%. It is quite impractical. We should implement a tolerance to coverage drops, so small drops won't fail the status of PRs.

[2018-12-21 06:48] birajdarabhishek1 opened #3094 "curl: (56) Received HTTP code 403 from proxy after CONNECT"
I have installed Minishift with Proxy setting.
The server is accessible via web console at:
https://192.168.42.76:8443/console

You are logged in as:
User: developer
Password:

To login as administrator:
oc login -u system:admin

Issue:
[root@minishift ~]# oc status
Unable to connect to the server: Forbidden

[root@minishift ~]# oc login -u system:admin
error: Forbidden

[root@minishift ~]# curl h

[2018-12-21 07:16] anjannath commented on #3090
By default, we fail when this preflight check does not go as expected (like hitting the rate limiting issue), Maybe we should change this to just WARN and continue? @minishift/minishift-dev WDYT?

[2018-12-21 07:18] anjannath commented on #3094
/cc @gbraad

[2018-12-21 07:39] anjannath commented on #3089
To use the `admin-user` add-on, you have to apply it `minishift addons apply admin-user`.
Enabling an add-on applies it automatically after minishift start.

Follow these steps:
[code]

[2018-12-21 18:06] kcken commented on #2852
I too am still having this problem with the latest CDK from Red Hat.  Can we get this fixed, or is there a work-around?

Checking if OpenShift is already running ...
Checking for supported Docker version (=>1.22) ...
Checking if insecured registry is configured properly in Docker ...
Checking if required ports are available ...
Checking if OpenShift client is configured properly ...
Checking if im

[2018-12-21 21:10] #2706 closed

[2018-12-21 21:10] #2253 closed

[2018-12-21 21:18] markllama commented on #3090
The problem is that any block due to API rate limiting will frustrate a potential customer.  I suspect there are ways to get the same information without using a potentially blocking data source.

[2018-12-23 14:16] #2878 closed

[2018-12-24 05:20] praveenkumar commented on #3091
fixed by #3092

[2018-12-24 05:20] #3091 closed

[2018-12-24 06:07] praveenkumar commented on #2872
Resolved by #3088

[2018-12-24 06:07] #2872 closed

[2018-12-24 06:19] praveenkumar commented on #3018
resolved by #3061

[2018-12-24 06:19] #3018 closed

[2018-12-25 04:31] coolbrg commented on #2841
I think this can be closed as the initial two issues are closed.

[2018-12-25 04:32] coolbrg commented on #3063
@LalatenduMohanty what happened here?

I think we missed the part of documentation.

[2018-12-25 05:30] gbraad commented on #2841
The original issue talks about NATIVE installers.
This might still be an issue going ahead... depending on possible
needed dependencies.

I will however close it as it is an old issue and related issue have
been addressed.
If this need arises, we will create new issues.

[2018-12-25 05:31] gbraad commented on #3063
Right. I think Lala is already looking into this.

On Tue, Dec 25, 2018 at 12:32 PM Budh Ram Gurung <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-12-25 05:31] #2841 closed

[2018-12-25 08:00] b0wser commented on #3084
Having same issue. Helped following steps:

1. minishift delete -f
2. minishift startv --profile minishift

[2018-12-26 05:16] praveenkumar commented on #3094
@birajdarabhishek1 Can you export `192.168.42.76` as `no-proxy` env variable and then try again?

[2018-12-26 05:20] praveenkumar commented on #3090
@anjannath If we change it to `WARN` then a user who is going to execute `minishift start` and hit with this API rate limit then how would he/she get to know what is the issue. For a restart (stop-start) I am OK because then mostly user have cached binaries.

[2018-12-26 05:45] praveenkumar commented on #3078
@LalatenduMohanty it depends, if you used brew to install it then it will compile it first as per your current used version of Mac and then all the updates also do same so you might not seen it.

[2018-12-26 06:42] praveenkumar commented on #3089
@samuzzal-choudhury Have a look to https://docs.okd.io/latest/minishift/troubleshooting/troubleshooting-getting-started.html#github-api-rate-limit-exceeded to resolve that Rate limit error and try again.

[2018-12-26 07:12] gbraad commented on #3094
right, can you provide the given proxy information from your shell
(please obfuscate)?
since minishift is hosted inside a VM on your host, the company proxy
should not be used to access it.
For this purpose, add the IP address of the instance to your NO_PROXY
(and no_proxy) variables

On Wed, Dec 26, 2018 at 1:16 PM Praveen Kumar <notifications@github.com> wrote:

--

   Gerard Braad | http://gbra

[2018-12-26 08:27] #3089 closed, assigned to nobody

[2018-12-26 11:55] birajdarabhishek1 commented on #3094
docker@minishift:~$ env | grep proxy
no_proxy=localhost,127.0.0.1,172.30.1.1,192.168.42.100,192.168.42.1
https_proxy=http://10.115.27.54:3128
http_proxy=http://10.115.27.54:3128
docker@minishift:~$
docker@minishift:~$ export no_proxy=192.168.42.100
docker@minishift:~$ env | grep proxy
no_proxy=192.168.42.100
https_proxy=http://10.115.27.54:3128
http_proxy=http://10.115.27.54:3128

Not Working:
[ro

[2018-12-26 11:59] birajdarabhishek1 commented on #3094
minishift config set no-proxy <My Instance IP>

I used this command , but it is not working.

Also please let me know how can I access the console url from my laptop ?

[2018-12-26 14:13] gbraad commented on #3094
your `no_proxy` contained `.100`, but not `.76` ?
Also, `Forbidden` indicates another issue... authentication fails.

Use your browser?

[2018-12-26 16:54] shahtab opened #3095 "minishift 1.28.x doesn't work with service catalog"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

MINISHIFT_ENABLE_EXPERIMENTAL=y  ./minishift start --openshift-version v3.11.0 --memory 2048 --cpus 2 --vm-driver=virtualbox --extra-clusterup-flags "--enable=*,service-catalog"
-- Starting profile 'minishift'
-- Check if deprecated options are

[2018-12-26 17:20] gbraad commented on #3095
Can you try to first deploy openshift and then use `oc cluster add` to enable Service Catalog on a working OpenShift?

We do not provide support for Service Catalog from the side of Minishift. If it fails, they need to be reported upstream at openshift/origin.

[2018-12-27 18:44] LalatenduMohanty commented on #3095
Can you try `$ minishift openshift  component add service-catalog` command. You can list the components using `$ minishift openshift  component list`.

[2018-12-28 07:16] jhahn1234 opened #3096 "Can't install minishift on Ubuntu 18.04"
Trying to install minishift on Ubuntu on AWS but getting the following error. Any help would be greatly appreciated.

### General information

  * Minishift 1.29.0:
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. Downloaded minishift 1.29.0
  2. sudo ./minishift start --show-libmachine-logs -v5
  3.
  4.

### Expected

minishift to start

### Actual

received an error

### Logs
roo

[2018-12-29 10:43] #2891 closed

[2018-12-30 16:30] #2766 closed

[2018-12-30 16:49] mmgil opened #3097 "[SUGGESTION] VMNetworkVLAN in Hyper-v"
### General information

  * Minishift version:
  * OS: Windows
  * Hypervisor: Hyper-V

### Steps to reproduce

In my environment of the virtualization we use vswitch with vland id tag and SDN.

In various moment when we execute:

[code]

Is necessary manually change the Vlan ID of the VM created.

I suggest add one new option for environment that use VLAN in yours vswitch

I use this command for

[2018-12-30 16:52] mmgil commented on #3081
I received this error when i removed the vm manually

You removed manually the VM from your Hyper-V?

In powershell execute Get-VM and see if VM of the minishift appears

[2018-12-30 17:04] mmgil opened #3098 "Error during post cluster up configuration: Unable to add sudoer role: Unable to connect to the server: dial tcp 127.0.0.1:8443"
### General information

  * Minishift version: minishift v1.29.0+72fa7b2
  * OS: Windows
  * Hypervisor: Hyper-V

### Steps to reproduce

  1.  In prompt of the Powershell:

[code]

  2. In the final of the command appears this error:
[code]
  3. I tryed to remove all folders created of the minishift and execute again

[code]

But occurrs the same problem.

### Logs

[code]

[2018-12-31 01:03] mmgil opened #3099 "Minishift and LDAP Provider"
### General information

  * Minishift version:
  * OS:  Windows
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. In a prompt of the Powershell i configurated a hastable with all configurations for the LDAP:

[code]
  2. With this procedure i get the following JSON:

`
{\"oauthConfig\":{\"tokenConfig\":{\"accessTokenMaxAgeSeconds\":86400,\"authorizeTokenMaxAgeSeconds\":300},\"grantConfig\":{\

[2018-12-31 05:36] praveenkumar commented on #3099
@mmgil we never tested the LDAP with minishift but since it just the openshift confit, it should've have worked, another thing is why the patch command didn't complain about wrong patch file but then pods fails :( @anjannath can you take a look to this?

[2018-12-31 16:47] mmgil commented on #3099
@praveenkumar Thank's for participate.

Yeah! The command accepted the JSON sent. Before I saw in other threads how to send the JSON.

I just combined this with Powershell for a more user-friendly visualization and better administration for me.

[2019-01-01 19:47] vCra opened #3100 "Unable to start Minishift on Windows Server"
### General information

  * Minishift version: minishift v1.29.0+72fa7b2
  * OS: Microsoft Windows Server 2019 Datacenter
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. Setup Hyper V as found [Here](https://docs.okd.io/latest/minishift/getting-started/setting-up-virtualization-environment.html#for-windows)
  2. Run minishift setup as an administrator

### Expected
minishift setup should ru

[2019-01-02 07:15] asonhung opened #3101 "Proxy connection issue on "oc new-app" and "create sample app in web console""
### General information

  * Minishift version: 1.29.0
  * OS: Windows 10
  * Hypervisor: VirtualBox 5.2.22

### Steps to reproduce

  1. minishift VM start successully with proxy information
  2. minishift ssh the docker VM and try docker pull some images. It also works to get through our corporate proxy server to download such images
  3. however, when trying this commnad "oc new-app https://git

[2019-01-02 09:26] agajdosi opened #3102 "CentosCI builds fails because of missing artifact at artifacts.ci.centos.org/minishift/minishift/master"
### General information

CentOS CI fails on htmlproofer finding http://artifacts.ci.centos.org/minishift/minishift/master to be a dead link, we should upload the artifacts to that location to fix the problem.

### Logs

[code]

[2019-01-02 18:43] Asgoret opened #3104 "Minishift 3.11 start failed with Istio"
Hi! I use minishift on mac with default hypervisor driver.
For installation Istio i use this [post](https://medium.com/@kamesh_sampath/3-steps-to-your-istio-installation-on-openshift-58e3617828b0) from Medium. One different i use 3.11 version on OKD, not 3.10 like in instruction.

And i catch errors:
[code]
and from webconsole pod
[code]

And if i pin version 3.10.0 i got:
[code]

[2019-01-03 04:14] gbraad commented on #3104
Can you inidcate what you have enabled?

[code]

I guess you have enabled the anyuid addon. If so, please deploy WITHOUT the
addon and use `minishift addon apply anyuid` instead, AFTER the deployment
finished.

On Thu, Jan 3, 2019 at 2:43 AM Asgoret <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2019-01-03 06:19] birajdarabhishek1 commented on #3101
Getting similar kind of error, Please help.

Minishift version: 1.29.0
OS:  CentOs7
Hypervisor: KVM

Getting below Error:
[root@minishift ~]# oc new-app https://github.com/sclorg/nodejs-ex -l name=myapp
warning: Cannot check if git requires authentication.
W0103 10:46:07.983731 23618 dockerimagelookup.go:233] Docker registry lookup failed: Get https://registry-1.docker.io/v2/: dial tcp: lookup reg

[2019-01-03 12:56] LalatenduMohanty commented on #3104
@kameshsampath can you take look?

@Asgoret which version of minishift you are using?

[2019-01-03 12:57] kameshsampath commented on #3104
@LalatenduMohanty  - this does not seem to be Istio issue, this looks more like #2809

[2019-01-03 13:08] LalatenduMohanty commented on #3102
We need to check with CentOS CI folks to keep the http://artifacts.ci.centos.org/minishift/minishift/master available, even if we do not have any build

[2019-01-03 13:09] LalatenduMohanty commented on #3078
I do not remember how I installed it, but can do a test around it.

[2019-01-03 13:39] LalatenduMohanty commented on #3102
I have sent an email to CI users mailing list.  https://lists.centos.org/pipermail/ci-users/2019-January/000930.html

[2019-01-03 15:24] agajdosi commented on #1815
@LalatenduMohanty There was not any activity for a while. It seems to me that we as the community got used to the Gherkin formatting we use and that no longer there is any need for automated check of it. I am suggesting to close this.

[2019-01-03 15:36] agajdosi commented on #1895
@LalatenduMohanty @gbraad It is nearly a year this issue got created. Retries are needed in the tests to make them executable. As we do not really expect improvement on the OKD side in its version 3 I think retry statements are not something wrong, but instead the only option to make the tests executable. On weaker machines one just needs to wait sometimes. And even on powerful machines it takes s

[2019-01-04 05:01] gbraad commented on #3001
I question this at the moment. It would be ideal to do so... but since we have a setup command, we can go the route of having this being pulled for the platform. It allows us to prevent bloating the regular (CLI-only) binary. WDYT?

[2019-01-04 05:04] gbraad commented on #2127
@robin-owen  It has been assigned for quite some time and has been postponed several releases. Is there anything you need or is information missing? Perhaps the issue is out of date?

[2019-01-04 05:05] gbraad commented on #2638
Is this reproducible for you @LalatenduMohanty ?

[2019-01-04 05:15] LalatenduMohanty commented on #2878
@agajdosi Do you want to reopen this ? IMO it is fine to close this issue with respect to the current scope of the project.

[2019-01-04 05:20] LalatenduMohanty commented on #2810
Keeping it as closed because the change in the scope of Minishift project. We are more focused now to make OpenShift 4.0 working for Minishift usecase.

[2019-01-04 05:32] gbraad commented on #2788
At the moment we aren't even sure if this functionality will provide any benefit for 4.0. I would rather keep it to 3.0 only for the moment

[2019-01-04 05:33] anjannath commented on #2788
Creating a tag to track to the issues that needs to be ported to 4.0 will be useful i think.

[2019-01-04 05:53] gbraad commented on #2788
can we use `staus/needs-discussion`? WDYT ?

[2019-01-04 06:45] LalatenduMohanty commented on #2788
I agree. Lets use `staus/needs-discussion`.

[2019-01-04 07:01] asonhung commented on #3101
@birajdarabhishek1 Since the minishift VM hosting on Windows 10 Virtual box is getting NAT ip address, the web console is accessible from the Windows 10 desktop only.

Already turn on logging "minishift start -v5 --show-libmachine-logs" and see that the "oc cluster up" has such "http-proxy" parameter. Wildly guessing that the proxy configuration may have bug. Hope it could be fixed asap so that co

[2019-01-04 07:09] birajdarabhishek1 commented on #3101
#1287
Still they are working on same.

[2019-01-04 07:11] anjannath commented on #3096
@jhahn1234 Looks like you have a stale VM from previous runs, please delete it using `minishift delete -f` and start afresh.

Also, please follow the guide to add yourself to libvirt group: https://docs.okd.io/latest/minishift/getting-started/setting-up-virtualization-environment.html#kvm-driver-ubuntu, and possibly don't run with sudo.

[2019-01-04 07:15] LalatenduMohanty commented on #2982
Closing this as a duplicate.

[2019-01-04 07:15] #2982 closed

[2019-01-04 07:51] agajdosi commented on #2878
@LalatenduMohanty I agree this can stay closed as it is not necessary.

[2019-01-04 07:55] LalatenduMohanty opened #3105 "Minishift prerequisite installer for Fedora/CentOS/RHEL"
At this point we do not have implementation for `minishift setup`  to work on Fedora/CentOS/RHEL7 . So creating this issue to track it.

[2019-01-04 08:18] agajdosi commented on #3008
@LalatenduMohanty Thanks to the fact that OKD uses just major and minor and ignores patch versioning on images I cannot confirm that there was a problem previously on my setup, however with current v3.11.0 and v3.10.0 I can start with the proxy without a problem.

@onderson How it goes for you, is it fixed with the latest images?

[2019-01-04 12:16] LalatenduMohanty opened #3106 "Missing documentation for hyperkit installation"
We do not mention in the documentation [1] that user need to have the `hyperkit` binary for the docker-machine-driver-hyperkit to work.

User can get the `hyperkit` binary by running `$ brew install hyperkit` or `docker for mac`.

[1] https://docs.okd.io/latest/minishift/getting-started/setting-up-virtualization-environment.html#setting-up-hyperkit-driver

[2019-01-04 12:31] LalatenduMohanty commented on #3106
https://github.com/machine-drivers/docker-machine-driver-hyperkit/issues/1

[2019-01-04 13:34] robin-owen commented on #2127
@gbraad Apologies, this issue escaped my notice. I believe this issue is out of date at this point -- we currently have documented examples for SSHFS- and CIFS-based host folders.

[2019-01-06 09:41] GrahamDumpleton commented on #2400
This should be re-opened as it is still a problem.

[code]

The bot should be prevented from closing it.

That this still doesn't work can be a big problem, as it would always be possible to work around it if is a third party application/image you are using.

[2019-01-06 10:12] gbraad commented on #2400
This is actually an upstream issue
It can be marked as status/pinned but not really in favour of this...

[2019-01-06 10:14] gbraad commented on #2400
@Graham Dumpleton make sure the issue upstream has the right status;
as it has can stale there too:
https://github.com/openshift/origin/issues/20497

On Sun, Jan 6, 2019 at 6:12 PM Gerard Braad <me@gbraad.nl> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2019-01-06 14:58] ivekpi opened #3107 "Can't do docker login to minishift docker registry."
I can't login to minishift docker registry on widows host.

### General information

  * Minishift version: v1.17.0+f974f0c
  * OS: Windows 10 Pro
  * Hypervisor: Hyper-V
  * Docker engine: 18.09.0

### Steps to reproduce
  1. minishift start --openshift-version v3.9.0 --cpus=2 --memory=8192
  2. docker login -u admin
  3. oc adm policy add-cluster-role-to-user cluster-admin developer
  4. minishi

[2019-01-06 22:41] EAWright commented on #2852
Getting the same issue here;

Determining server IP ...
Using public hostname IP 192.168.99.100 as the host IP
Checking if OpenShift is already running ...
Checking for supported Docker version (=>1.22) ...
Checking if insecured registry is configured properly in Docker ...
Checking if required ports are available ...
Checking if OpenShift client is configured properly ...
Checking if image opensh

[2019-01-07 15:09] ryanpetrello commented on #2445
I've downloaded the very latest from
https://github.com/minishift/minishift/releases/download/v1.29.0/minishift-1.29.0-darwin-amd64.tgz and am still encountering this issue, unfortunately.

[code]

[2019-01-07 15:40] ryanpetrello commented on #2445
For others who may encounter this, I was being rate-limited by Github:

[code]

https://github.com/minishift/minishift/blob/master/docs/source/troubleshooting/troubleshooting-getting-started.adoc#github-api-rate-limit-exceeded

Creating a personal access token and using it:

[code]

...fixed my problem right away.

@coolbrg would it be worth updating the Troubleshooting guide for this?  I had to r

[2019-01-07 15:51] #2445 closed

[2019-01-08 05:48] ALRubinger opened #3108 "Improve Error Message when GitHub Rate Limiting hits"
### General information

  * Minishift version: `minishift v1.29.0+72fa7b2`
  * OS: Linux / macOS / Windows: `Fedora release 29 (Twenty Nine)`
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox: `KVM /usr/local/bin/docker-machine-driver-kvm`

### Steps to reproduce

  1. Start Minishift : `$ minishift start --memory=8GB`
  2. If unauthenticated requests at the time of start have maxed out the rate

[2019-01-08 06:14] gbraad commented on #3108
This issue is very specific to the network where people access github resources.
We rather do not add documentation links as this location has been moved around before and causes people to get 404 or unknown host as failure. Also, adding the skip would NOT resolve the actual issue, as you will be unable to download due to the rate limit when doing so.

The documentation specifies what to do... or

[2019-01-08 08:09] #3102 closed

[2019-01-08 09:13] ALRubinger commented on #3108
I hear you.  Here's another perspective: I consider myself an above average technologist and seasoned RHT engineer.  I blocked on this issue for over a full day because the error message made it appear that the rate limit was exceeded for my IP block.  I wasn't aware that this was a global limit for unauthenticated requests, affecting all users of Minishift.

IMO this is not a problem we should de

[2019-01-08 09:17] teslasoderstrom commented on #3023
I got the same error
`Could not set oc CLI context for 'minishift' profile: Error during setting 'minishift' as active profile: The specified path to the kube config '/Users/<user>/.minishift/machines/minishift_kubeconfig' does not exist`
right on the first start after the installation. No ~/.kube exists.
MacOs 10.13.6 / xhyve / minishift v1.27.0+5981f996 / CDK v3.7.0-1

[2019-01-08 09:44] ALRubinger opened #3110 "Minishift VM networking appears to not work: docker pull fails"
### General information

  * Minishift version:
[code]
  * OS: Linux / macOS / Windows
[code]
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox
[code]

### Steps to reproduce

  1. Start up Minishift fresh, after `minishift delete` and `rm -rf ~/.minishift`
[code]
  2.  Observe above that the pull from Docker Hub fails from inside the VM
  3.  SSH into Minishift and try this manually
[code]
  4.

[2019-01-08 09:47] praveenkumar commented on #3110
@ALRubinger I think this is only the issue with the nameserver, can you try following and see if that works?

[code]

[2019-01-08 10:01] ALRubinger commented on #3110
Same thing, @praveenkumar !

[code]

Thanks!  Ideas?

[2019-01-08 10:06] praveenkumar commented on #3110
@ALRubinger let the first connectivity fails `retrieving` one . Can you ssh to that VM and see if the pull again fails? Also, what is the content of `/etc/resolv.conf` in the VM.

[2019-01-08 10:10] anjannath opened #3111 "rvm installation failing in centos ci"
https://ci.centos.org/job/minishift/806/console
The issue is likely on the following line

https://github.com/minishift/minishift/blob/42afb63013a8d2f39e5da7db46a8220cacdd8b7a/centos_ci.sh#L167