[2018-07-06 19:43] InfoSec812 commented on #2560
I noticed that when the containers start up the `resolv.conf` files have some interesting options:

[code]

I wonder if `options ndots:5` has something to do with it? Could it be that trying to resolve `github.com.ad.zanclus.com` exceeds the limits?

Just thinking out loud.

[2018-07-07 06:55] anjannath commented on #2560
@InfoSec812 You can use the flag `--network-nameserver` with `minishift start` to use a different dns server from the vm.

[2018-07-07 08:02] gbraad commented on #2560
This is how DNS works.
The search add the local domain to traverse until it finds a result.

It seems Kubernetes handles the request and therefore I guess a NXDOMAIN is
given
This is likely a configuration issue, related to `oc cluster up`

But I am wondering why you need to set the `search` option.

Note: this is also standard behaviour on Hyper-V with the default switch,
but resolving does succe

[2018-07-07 16:36] InfoSec812 commented on #2560
@anjannath I have been using the `--network-nameserver` option. It does not resolve the issue.

@gbraad I'm quite familiar how DNS works as I used to work for DNS.com and have implemented both authoritative and recursive DNS services. The resolution SHOULD be as follows when attempting to resolve `github.com` with a search parameter as shown in my example:

# Attempt to resolve `github.com.ad.zanc

[2018-07-07 17:35] gbraad commented on #2560
Note: the `options ndots:5` is part of Kubernetes since about 2015 => https://github.com/kubernetes/kubernetes/pull/10266/commits/23caf446ae69236641da0fdc432d4cfb5fff098d#diff-0db82891d463ba14dd59da9c77f4776eR66

[2018-07-07 17:41] InfoSec812 commented on #2560
@gbraad I am having this problem on `oc cluster up`. I do not have sufficient hardware at home to create a "true" OpenShift cluster. The machine I am running on is a SuperMicro Dual Xeon with 16 cores and 64GB of RAM. It is running Debian, Kernel 4.13, Docker 18.05.0-ce, and OpenShift client 3.9.0 downloaded from GitHub.

[2018-07-07 17:47] gbraad commented on #2560
That is what I guessed. I will try to reproduce it on a OpenShift minimal cluster setup, but that will likely happen after the weekend. I suspect this to be something specific to `oc cluster up`.

[2018-07-07 17:50] gbraad commented on #2560
BTW, that is enough to run a small VM setup (and perhaps even an all-in-one) of OpenShift on. I do this with even an i7 octo, 32GB as that is all that my budget allowed ;-)

[2018-07-08 06:49] MarcuSacramento opened #2568 "Start: SSH cmd err, output: exit status 255"
### General information

  * Minishift version: 1.19.0-windows-amd64 and 1.20.0-windows-amd64
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Execute `minishift delete --force --clear-cache`
  2. clear .minishift directory
  3. Reinstall Virtualbox
  4. Execute `minishift.exe start --vm-driver virtualbox`

Repeat steps with other iso's of centos.
Error in command line not

[2018-07-08 06:52] gbraad commented on #2253
Has this been resolved?

On Sun, Jul 8, 2018 at 2:51 PM, stale[bot] <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-08 07:22] kameshsampath opened #2569 "OpenShift Config Patch does not work as expected"
### General information

  * Minishift version: `v1.19.0+1750702`
  * OS: Linux / macOS / Windows:  macOS
  * Hypervisor: xhyve

### Steps to reproduce

  1.  Run minishift openshift config set --patch '{
  "oauthConfig": {
    "identityProviders": [
      {
        "challenge": "true",
        "login": "true",
        "mappingMethod": "claim",
        "name": "htpasswd",
        "provider": {

[2018-07-08 11:32] InfoSec812 commented on #2560
Looks like the issue is related to https://github.com/openshift/origin/issues/17316

[2018-07-08 11:44] InfoSec812 commented on #2560
Since that issue covers all of the other projects (minishift et. al.), I will close this issue and track the work there.

[2018-07-08 12:00] gbraad commented on #2560
I would prefer to keep this open

[2018-07-08 13:25] gbraad opened #2570 "Add option to force the use of the native SSH client"
This can be helpful on Windows to force the native/embedded SSH client instead.

[2018-07-08 16:04] gbraad commented on #2568
Make sure you VM has an IP address. you can check this by opening it from the VM console and use `ip a`. It you have, use the `ssh` client you have and connect as `ssh root@$(minishift ip)`. If this fails, you likely have a faulty SSH client. You have tested with openssh-win32 and some others. but not all OpenSSH builds are correct.

You could remove the ssh binary from the search path and force o

[2018-07-09 00:51] blomquisg commented on #1360
Looks like this change should be in golang/glog. I'll copy the issue up there.

[2018-07-09 03:39] MarcuSacramento commented on #2568
Thanks for your repply,

Just for documentation: the last update of Windows 10 enabled the ssh feature in my machine. If you have a git client or, in my case, cmder prompt interface, you need to disable some of them.

Example for  windows:

1. Windows key + x
2. Apps and Feature Menu
3. Programs and Feture Options
4. Turn Features On or Off

Disable SSH feature and start a new cmd

[2018-07-09 03:39] #2568 closed

[2018-07-09 07:52] praveenkumar commented on #2569
@kameshsampath I tried below and now everything works as expected. We will try to have an addon soon which will resolve it soon.

[code]

the problem which you had in your patch config is the path of the file it assumes the file should be in `/var/lib/minishift/openshift.local.config/master/` and also doesn't need absolute path.

[2018-07-09 08:29] #2254 closed

[2018-07-09 08:33] anjannath commented on #2570
It is out of beta now?

[2018-07-09 08:34] gbraad commented on #2570
?

[2018-07-09 08:37] anjannath commented on #2570
earlier i tried to use the native ssh and had to enable it from windows features after enabling developer mode, is it available directly now without enabling developer mode?

[2018-07-09 08:38] gbraad commented on #2570
No... the native solution is the one provided from the minishift binary
(using the golang library).

On Mon, Jul 9, 2018 at 4:37 PM, Anjan Nath <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-09 08:42] anjannath commented on #2570
Ohh.. minishift native, got it :-)

[2018-07-09 08:48] kameshsampath commented on #2569
is this minishift restriction because of persistence, IIRC OpenShift allows me to have that file anywhere as long as I have right permissions for it.

anyways thanks for the analysis and I wish the error message should be bit more clearer as I dont see any info in the logs, I did had a doubt regarding filepath.

Worth checking with OpenShift guys ?

[2018-07-09 15:22] amitkrout opened #2572 "Cover more scenario in addon-registry-route.feature file"
### General information
Split the 5th scenario in addon-registry-route.feature file to avail fixes from both iso and addon side.

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. ```make integrtion GODOG_OPTS="-tags addons-registry-route"```
  2.
  3.
  4.

### Expected

Split [this scenario](https://gith

[2018-07-10 05:46] LalatenduMohanty commented on #390
Refer https://github.com/minishift/minishift-addons/issues/133

[2018-07-10 05:49] gbraad opened #2574 "Inconsistent use of hostIP"
SSH hostfolder functionality uses it's own hostIP() function: https://github.com/minishift/minishift/blob/a1927e0329339f0b2b1e085578a19953780bfbbf/pkg/minishift/hostfolder/sshfs_hostfolder.go#L115, while other parts of the code use `DetermineHostIP`

ame probably for console.go using `cluster.GetHostIP`

[2018-07-10 09:21] praveenkumar opened #2576 "Update centos ISO version from v1.10.0 to v1.12.0"

[2018-07-10 09:26] praveenkumar opened #2578 "Remove minikube iso support completely"
We added depreciation message for this log time back but didn't removed it completely, we should now remove this ISO and it's usuage completely.

[2018-07-10 09:52] LalatenduMohanty commented on #2450
This is fixed as part of https://github.com/minishift/minishift-centos-iso/issues/251

[2018-07-10 09:52] #2450 closed

[2018-07-10 09:57] anjannath commented on #2569
@praveenkumar Can we close this? as this was not a bug in the command but because the package was not present..
/cc @kameshsampath

[2018-07-10 09:58] anjannath commented on #2058
Closing this as it is not minishift specific, https://github.com/openshift/origin/issues/20204#issuecomment-403145282

[2018-07-10 09:58] #2058 closed

[2018-07-10 10:47] LalatenduMohanty commented on #2576
Resolved via #2577

[2018-07-10 10:47] #2576 closed

[2018-07-10 11:01] #2520 closed

[2018-07-10 11:01] LalatenduMohanty commented on #2520
Resolved via https://github.com/minishift/minishift/pull/2523

[2018-07-10 13:32] praveenkumar commented on #2569
Yes, close this, @kameshsampath any objection?

[2018-07-10 14:13] rkratky opened #2579 "Docs issues in "Run against an Existing Machine""
Minishift docs at https://docs.openshift.org/latest/minishift/using/experimental-features.html#run-against-an-existing-machine

There are a number of language issues in that section:

* running 'against' a machine sounds unnatural; consider 'using a remote instance' or similar
* "To use an existing machine with Minishift , it needs to be configured as follows" -- space before comma
* "CentOS7/RHEL

[2018-07-10 15:12] LalatenduMohanty commented on #2579
@rkratky @robin-owen  Are you planning to fix the issues ?

[2018-07-10 15:15] rkratky commented on #2579
@LalatenduMohanty I think it's not a priority issue, so I expect @robin-owen to pick this up some time post downstream GA. I just wanted to file it while it was fresh in my mind.

[2018-07-10 15:17] robin-owen commented on #2579
@LalatenduMohanty @rkratky I'm happy to fix these when I can. Unfortunately, I wasn't aware of the PR that got these changes merged into the documentation.

[2018-07-10 15:19] LalatenduMohanty commented on #2579
@robin-owen somehow missed the review from you. May be you were on vacation that time.  If you fixing it for downstream them you can send the PR with the same changes to the upstream.

[2018-07-10 15:21] rkratky commented on #2579
@LalatenduMohanty Perhaps we could prevent this from happening in the future if @robin-owen was automatically tagged for a review & approval of PRs that fix 'documentation'-labelled issues? I believe he has proved his expertise in the docs area by now.

[2018-07-10 15:25] LalatenduMohanty commented on #2579
@rkratky We do not have a bot to assign people for PR review. But yes, auto assignment would be great.

[2018-07-10 15:37] rkratky commented on #2579
@LalatenduMohanty You can enable automatic requiring of PR reviews from specific people by:

* Creating a `CODEOWNERS` file: https://help.github.com/articles/about-codeowners/ (make @robin-owen  the owner of the contents of the `docs/source/` directory)
* Configuring 'master' as a protected branch: https://help.github.com/articles/configuring-protected-branches/
* Enabling required reviews for pul

[2018-07-10 16:36] dischello opened #2580 "Error during 'cluster up' execution: Error starting the cluster."
### General information

  * Minishift version: minishift v1.17.0+f974f0c
  * OS: Windows 10
  * Hypervisor: VirtualBox 5.2.12 r122591 (Qt5.6.2)

### Steps to reproduce

  1. ./minishift.exe start --profile ${HOSTNAME} --vm-driver virtualbox --iso-url centos -v6 --public-hostname ${HOSTNAME}.kyiv.epam.com --routing-suffix ${LAN_IP}.nip.io --show-libmachine-logs -v 5

### Expected
Ability to get ac

[2018-07-10 16:48] gbraad commented on #2403
We are currently looking into proxy related issues. Can you confirm if this is still the case?

[2018-07-10 16:54] gbraad commented on #2434
At the moment we are looking into proxy related issues. Is the one reported here still reproducible?

Also, take note that `minishift start --openshift-version v3.7.0 --vm-driver=virtualbox --http-proxy=http://:@:/ --https-proxy=http://:@:/` should have been enough, as the docker environment variables will be applied by us.

[2018-07-10 16:55] tylerauerbeck commented on #2578
@praveenkumar So I just did a quick search through the files on minikube*iso*, which returned a number of files. I see a number (and probably some of the harder ones to untangle) lie in pkg/minikube/cluster/cluster.go (and cluster_test.go). With the minikube iso going away, does that actually mean that everything underneath pkg/minikube/* is going away? Or is minikube still used for other componen

[2018-07-11 00:29] gbraad commented on #2580
Not sure why the startup would fail, but might be related to the setup as I see IPv6 being used. Currently this is not supported.

Also, accessing the machine from the same network is not possible without additional changes. This is related to how the virtual networking stack is setup. See #1287.

[2018-07-11 06:09] #2569 closed

[2018-07-11 06:12] anjannath commented on #2421
@santosh3702 Were you able to start minishfit on your aws instance?

[2018-07-11 10:05] LalatenduMohanty opened #2582 "Enable addon-xpaas tests in nightly and release job"
We had disabled the tests because of https://github.com/minishift/minishift-centos-iso/issues/251 . Now that it is fixed we should re-enable these tests.
https://github.com/minishift/minishift/commit/cf7e5ac95a6e406d821a37a2728024cba93e5c11

[2018-07-11 10:12] ragava0786 commented on #271
minishift) Failed to create the VM: [Code-8] [Domain-44] invalid argument: could not find capabilities for domaintype=kvm
. FAIL E0711 10:11:06.231264    4109 start.go:368] Error starting the VM: Error creating the VM. Error creating machine: Error in driver during machine creation: [Code-8] [Domain-44] invalid argument: could not find capabilities for domaintype=kvm . Retrying.
Error starting the

[2018-07-11 10:12] ragava0786 commented on #271
iam also face same error

[2018-07-11 10:24] agajdosi commented on #271
Hi @ragava0786, @khoukhaa thank for the report. Unfortunately the original issue seems unrelated to the problems you are facing. If you could please open new issue then it would be great. Solving the issues here would make it much more unclear to the team and other users. Thank you for understanding.

[2018-07-11 10:30] LalatenduMohanty opened #2583 "Docker in Minsihift VM is not using the cached images"
### General information
It seems docker daemon in the Minishift VM is not reusing the layers from the imported image (which was cached).

### Steps to reproduce

  1.  $ export MINISHIFT_ENABLE_EXPERIMENTAL=True
  2.  $ minishift start --no-provision
  3.  $ minishift images export centos/nodejs-8-centos7:latest
  4.  $ minishift delete -f
  5.  $ minishift start --no-provision
  6.  $ minishift i

[2018-07-11 10:55] praveenkumar commented on #2583
upstream issue https://github.com/containers/image/issues/477 to track it.

[2018-07-11 13:35] dischello commented on #2580
@gbraad

Yes, also i managed to setup minishift correctly(got access to minishift UI from external machine in the same LAN.) for once, but after recreating minisgift vm this issue occur. @gbraad

[2018-07-11 15:13] LalatenduMohanty commented on #2566
Resolved via #2567

[2018-07-11 15:13] #2566 closed

[2018-07-11 19:34] LalatenduMohanty commented on #2565
@gbraad will do.

[2018-07-12 03:15] gbraad opened #2585 "Proxy tests using self-signed (CA) certificates"
At the moment we do not test against a proxy with TLS using certificates that are signed (HTTPS proxy).

Related to #391

[2018-07-12 03:16] gbraad opened #2586 "Proxy tests using basic authentication"
Proxy tests should setup to test against a a HTTP proxy with Basic authentication

[2018-07-12 03:19] gbraad opened #2587 "Local proxy for Minishift"
We should figure out if it is possible to host an on host proxy that mediates between the VM and the external proxy. This would allow the on-host proxy to use SSL against a corporate HTTPS proxy using self-signed certifcates (preventin the need to place these on the VM).

Related to #391

[2018-07-12 05:53] LalatenduMohanty commented on #1012
I am inclined to close this issue as we do not need to do anything here.

[2018-07-12 05:55] #1063 closed

[2018-07-12 06:05] gbraad commented on #1012
taken care of by others

[2018-07-12 06:12] LalatenduMohanty commented on #1971
@cmoulliard do you still want this get fixed? Last time we tried we cloud not change the limit.

[2018-07-12 06:35] anjannath commented on #1971
We _can_ change the limit, i.e, `pods-per-core` and `max-pods` but the
result is dependent on how much resources the node has.

[2018-07-12 06:35] LalatenduMohanty commented on #2306
Moving to "Need To Be Planned" because  we should first get some confidence around what kind of implementation we would keep for local DNS solution.

[2018-07-12 07:09] jorgemoralespou commented on #1971
This should be done in an add-on.
That config is removed in 3.10

[2018-07-12 07:12] gbraad commented on #2547
It would be easy to embed CoreDNS inside minishift as a separate services:

See:
https://github.com/coredns/coredns/blob/master/coremain/run.go#L41

[2018-07-12 07:30] LalatenduMohanty commented on #2435
Resolved vy #2581

[2018-07-12 07:30] #2435 closed

[2018-07-12 08:36] bigon commented on #2403
I tried again an now I have:

So at least now it's a hard failure

[2018-07-12 08:39] bigon commented on #2403
Note that having using http for HTTP_PROXY is working for all other applications

If I'm changing to https:// instead, it goes a bit further but I still have an issue where it tries to resolve the `https` hostname

[2018-07-12 08:40] gbraad commented on #2403
can you show show what you are specifying and what is in your `m config
view` ?

On Thu, Jul 12, 2018 at 4:39 PM, Laurent Bigonville <
notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-12 08:57] bigon commented on #2403
You mean?

Setting the proxy with the following commands my bash terminal allows me to reproduce the issue:

[code]

`minishift v1.21.0+a8c8b37`

[2018-07-12 09:01] amitkrout opened #2588 "proxy.feature integration test shows false positives"
### General information

  * Minishift version: minishift v1.20.0+1bd6d5c
  * OS: Linux / macOS / Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. make integration MINISHIFT_BINARY=```<path to minishift binary>``` RUN_BEFORE_FEATURE="config set vm-driver virtualbox" GODOG_OPTS="-tags proxy"
  2.
  3.
  4.

### Expected
Should fail on virualbox driver

### Actual
Passing

### Logs

[2018-07-12 09:10] camilamacedo86 opened #2589 "minishift start --insecure-registry is not working"
### General information

  * Minishift version: 3.9
  * OS: Mac
  * Hypervisor: xhyve

### Steps to reproduce

  1. Install minishift
  2. Run `minishift start --insecure-registry 172.30.0.0/16`
  3. Run `oc cluster up`

### Expected
 Docker daemon is running with --insecure-registry 172.30.0.0/16

### Actual
[code]

[2018-07-12 09:41] camilamacedo86 commented on #1287
The priority here should not be minimal since it doesn't allow the user to test another components/projects with Minishift.

[2018-07-12 09:50] LalatenduMohanty commented on #1517
We are going to schedule it in the current sprint.

[2018-07-12 09:55] gbraad commented on #2403
We recently merged: https://github.com/minishift/minishift/pull/2546

I will check... but why both lower- and uppercase?

On Thu, Jul 12, 2018 at 4:57 PM, Laurent Bigonville <
notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-12 09:57] gbraad commented on #1287
Alternatives exist, such as deploying using the "Existing machine" other
(generic driver). This is why this is classified as a low prio.

[2018-07-12 09:57] bigon commented on #2403
It's what GNOME (via gnome-control-center) is doing, apparently it's needed for some applications

[2018-07-12 10:01] gbraad commented on #2403
However, why does your HTTP proxy terminate TLS on the same port?

The error says: `
-- Starting profile 'minishift'
Proxy URL 'https://http://10.0.75.101:3128/' is not valid.
`

maybe I am in error, but it should not specify scheme HTTP in the case of
HTTPS

On Thu, Jul 12, 2018 at 5:57 PM, Laurent Bigonville <
notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Op

[2018-07-12 10:55] bigon commented on #2403
Like I said, it's working for any other applications (curl, wget,...)

[2018-07-12 11:08] gbraad commented on #1256
Closing as comments have been off-topic.

[2018-07-12 11:08] #1256 closed

[2018-07-12 11:10] gbraad commented on #2403
Sorry, I see the issue... will resolve this.

[2018-07-12 11:32] gbraad commented on #2475
Found an issue with the PR. Will send a patch...

[2018-07-12 11:33] #2475 closed

[2018-07-12 11:34] gbraad commented on #2475
I will create a new issue...

[2018-07-12 12:38] bashterm opened #2590 "Minishift gets stuck on enter key for id_rsa"
### General information

  * Minishift version: v1.21.0+a8c8b37
  * OS: Linux
  * Hypervisor: KVM

My machine uses an SSH Key to connect to Git repos. I don't know much about how that works, but is it possible that that's the problem?

### Steps to reproduce

  1.  Run `minishift start`

### Expected
Minishift starts up normally

### Actual
Minishift prompts:
[code]
Any passphrase I enter fails to

[2018-07-12 13:22] agajdosi opened #2591 "Add file comparison step into integration testsuite"
**Proposal**
Step will be able to check whether two files - one local and the second probably online (raw file on GitHub) are the same, for example:

`Then file "<path>" is same as "<url>"`

**Usecase**
With the step we will be then able to use this step at several places:
- in **minishift** to check whether templates in xpaas addon are up to date with templates at respective branch (currently 3.9

[2018-07-12 13:58] praveenkumar commented on #2590
@bashterm We don't use any passphrase when create those key, can you tell step by step what you did and also try below steps one.

[code]

[2018-07-12 14:01] praveenkumar commented on #2589
@camilamacedo86 you are doing something unexpected here, when you start minishift it means you already have a openshift cluster running which can be access using `https://192.168.64.9:8443` through we console or you can do `minishift oc-env` and then `oc login 192.168.64.9:8443 -u developer -p developer` which will let you access this cluster using CLI.

[2018-07-12 14:03] camilamacedo86 commented on #2589
Yep .. I found the reason for what I want to do did not work .. please feel free to close it.

[2018-07-12 14:03] #2589 closed

[2018-07-12 14:09] praveenkumar opened #2592 "Update all the CI to use golang-1.10"
We need to update all our CI to use golang-1.10, `openshift/origin` migrated to 1.10 a few days back (5 July).

[2018-07-12 15:19] bashterm commented on #2590
I've followed the instructions on the [cdk getting started guide page](https://access.redhat.com/documentation/en-us/red_hat_container_development_kit/3.4/html-single/getting_started_guide/index#installing-minishift), all the way up to where I run `minishift start`. I'm running RHEL.

[2018-07-12 16:15] gbraad commented on #2590
This isn't standard behaviour. Have you modified your local ssh_config
perhaps?

On Thu, Jul 12, 2018 at 11:19 PM, Aidan Sciortino <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-12 16:16] gbraad commented on #2589
Can you elaborate what the reason of the failure was?

[2018-07-12 19:59] bashterm commented on #2590
@gbraad I figured it out! My home directory is mounted from a network drive, while the rest of my system is local. I moved the minishift binary to /bin/ and ran it as root, which worked perfectly.

Sorry to put up a false alarm about a problem on my end.

[2018-07-12 19:59] #2590 closed

[2018-07-13 02:48] praveenkumar commented on #2579
resolved by #2584

[2018-07-13 02:48] #2579 closed

[2018-07-13 03:49] gbraad opened #2594 "Correctly deal with defaultScheme for proxy validation check"
The current check assumes https is required for https-proxy, which is not the case as it is merely the method of the proxy for communication.

[2018-07-13 04:21] LalatenduMohanty commented on #2594
@gbraad you are right, missed that in the review.

[2018-07-13 04:56] LalatenduMohanty commented on #1796
Resolved via https://github.com/minishift/minishift/commit/781349690090db8711a30d0f5fd3d84accc27732 #2502

[2018-07-13 04:56] #1796 closed

[2018-07-13 05:38] gbraad commented on #2594
Bad mistake from my side... was sure the previous check was OK, but still
changed it. Shouldn't do this without feedback. Anyway, I would say this is
very important... justify a new release?

On Fri, Jul 13, 2018, 12:21 Lalatendu Mohanty <notifications@github.com>
wrote:

[2018-07-13 05:42] gbraad commented on #2403
Can you try the release here:
https://github.com/minishift/minishift/pull/2595

Binary is here: http://artifacts.ci.centos.org/minishift/minishift/pr/2595/

On Thu, Jul 12, 2018, 19:10 Gerard Braad <me@gbraad.nl> wrote:

[2018-07-13 05:43] amitkrout commented on #2591
I think this will increase the code integration test code maintenance overhead. I am good with the suggestion made by @praveenkumar  that any addons which are part of default cdk should be in minishift repo instead of the community so that these can be validated through nightly cc_ @minishift/minishift-dev

[2018-07-13 06:10] praveenkumar commented on #2594
We all make mistake.

@gbraad so this only affect if a user doesn't use the scheme when defining the proxy right, and this is something we recently added. If you think a lot of users don't use scheme then I am all in for a minor release (1.21.1).

[2018-07-13 06:12] gbraad commented on #2594
It does not pass the validation on startup if you had set it before or use
the environment variables.

On Fri, Jul 13, 2018, 14:10 Praveen Kumar <notifications@github.com> wrote:

[2018-07-13 09:18] praveenkumar opened #2596 "Move che addon from minishift-addon to minishift repo"
Most of the time, we forget to sync `che` addon properly downstream and this cause last-minute issue for us, better to move this addon since it deliverable for downstream.

[2018-07-13 09:19] praveenkumar opened #2597 "Add nightly test for che addon"
once #2596 is done we should add nightly test for che addon which should tested against `anyuid` enabled and disabled mode.

[2018-07-13 09:48] praveenkumar opened #2598 "Move addon from viper config file to instance config file."
with #1796 resolved now we have an instance-specific config file which has details about the instance specific but addons are still part of viper config file.

[2018-07-13 10:11] gbraad commented on #2598
Right. Add-ons also describes the deployment, so would be relevant if we ever export

[2018-07-13 11:20] bigon commented on #2403
The `Proxy URL 'https://http://proxy.example.com:8080/' is not valid.` error is gone, so that's good

But I still get:

[2018-07-13 12:07] gbraad commented on #2403
can you let me know what you specified on start of minishift, and what the
VM says?

On Fri, Jul 13, 2018 at 7:20 PM, Laurent Bigonville <
notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-13 12:47] gbraad commented on #2403
Please, take note that you should not specify the proxy with an ending
slash.

Do:
export HTTP_PROXY=http://10.0.75.101:3128
export https_proxy=http://10.0.75.101:3128
export http_proxy=http://10.0.75.101:3128
export HTTPS_PROXY=http://10.0.75.101:3128

-- Checking if https://github.com is reachable ... OK

Not:
export HTTP_PROXY=http://10.0.75.101:3128/

-- Checking if https://github.com is reach

[2018-07-13 13:50] bigon commented on #2403
Well, like I said it's GNOME (via gnome-control-center) that is adding the final slash

[arch wiki](https://wiki.archlinux.org/index.php/proxy_settings#Environment_variables) also add an ending slash

AFAICS, there is no central authority that fixes the format and your implementation should support that ending slash

[2018-07-13 14:29] gbraad commented on #2403
I did not say I disagree, but it is the cause for the failing proxy request.
It might fail in more places where golang is used...

Curl's documentation (manpage) shows the following example:

-x, --proxy <[protocol://][user:password@]proxyhost[:port]>
  Use the specified HTTP proxy.
  If the port number is not specified, it is assumed at port 1080.

... but in code they will drop any mention after

[2018-07-13 15:16] gbraad opened #2600 "Correctly handle ending slashes for proxy addresses"
At the moment we do not strip ending slashes (or we encode them), and therefore lookup with the proxy will fail:

[code]

[code]

[2018-07-13 18:26] philips opened #2601 "oc login -u system:admin password?"
### General information

  * Minishift version: minishift v1.21.0+a8c8b37
  * OS: macOS
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. `minishift start --vm-driver virtualbox`
  2. See start message with login instructions.

[code]

  3.  `oc login -u system:admin` with a random password returns `error: username system:admin is invalid for basic auth - verify you have provided the correc

[2018-07-13 18:36] robin-owen opened #2602 "Docs for Run Against an Existing Machine reference explicit example IP address"
The documentation for Run Against an Existing Machine currently includes a reference to an explicit example IP address despite using generic information previously in the documentation. This explicit reference should be replaced with the same generic information.

[2018-07-14 22:53] biels commented on #1287
Coud you please explain how can we use [Existing machine](https://docs.openshift.org/latest/minishift/using/run-against-an-existing-machine.html) to expose minishift to the public network? (listening on all intrefaces)

[2018-07-15 01:19] gbraad commented on #1287
you can in that case use bridged networking for the VM or deploy to the
host itself.

On Sun, Jul 15, 2018 at 6:53 AM, Biel Simon Rojas <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-15 01:35] gbraad commented on #1287
You can not modify the settings after the VM started, as this would mean
the IP changes. This renders the openshift deployment unusable due to
generated certificates. The documentation states this several times; so
make sure you do not change the IP and if possible make sure it is assigned
statically.

On Sun, Jul 15, 2018, 09:28 Biel Simon Rojas <notifications@github.com>
wrote:

[2018-07-15 01:44] biels commented on #1287
Okay so then how do I actually tell minishift to use a bridge network
interface instead of a host-only? Through the cli I guess... But how?

On Sun, Jul 15, 2018, 03:35 Gerard Braad <notifications@github.com> wrote:

[2018-07-15 19:09] donovanmuller opened #2604 "Applying admin-user addon with --openshift-version 3.10.0-rc.0 results in 'No such file or directory'"
### General information

  * Minishift version:

[code]

  * OS: Linux / macOS / Windows

macOS

  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

xhyve

### Steps to reproduce

  1. Start a `minishift` instance with `--openshift-version 3.10.0-rc.0`
  2. Wait for successful start
  3. Try to apply the `admin-user` addon with `minishift addons apply admin-user`

### Expected

`admin-user` addon

[2018-07-16 05:00] praveenkumar commented on #2601
@philips for user `system:admin` you don't need any password.

It should work as below.

[code]

[2018-07-16 06:06] zhangtbj opened #2605 "host 127.0.0.1 doesn't work on any pod of the minishift"
### General information

  * Minishift version:  `minishift v1.21.0+a8c8b37`
  * OS: Linux / macOS / Windows: `Ubuntu 14.04.5`
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox: `VirtualBox`

### Steps to reproduce

  1. Execute `minishift start --cpus 4 --disk-size 100G --memory 8G --vm-driver virtualbox`
  2. Access any of the pod on minishift
  3. Execute `host 127.0.0.1` or `host -r 127.0.0.1

[2018-07-16 07:08] zhangtbj commented on #2605
And I don't see the kubernetes related pods in the namespace kube-system, this is the result of `minikube`, is it the reason?:

[code]

[2018-07-16 09:38] LalatenduMohanty commented on #1971
I do not think we need to fix this issue as the restriction is removed from OpenShift side as mentioned by @jorgemoralespou and also Calyton  (in an mail thread) . @cmoulliard  let us know if you differ.

[2018-07-16 09:38] #1971 closed

[2018-07-16 22:08] claudio4j opened #2606 "Add section to setting-up-virtualization-environment.adoc to start libvirt service"
I started reading minishift doc on https://github.com/minishift/minishift/blob/master/docs/source/getting-started/setting-up-virtualization-environment.adoc#configure-libvirt-networking

The section to check the libvirt networking, it results in the following error
[code]
But, after some search, I see the libvirtd service must be running. So I suggest to add to that doc, the user must start the li

[2018-07-17 01:36] zhangtbj commented on #2605
Hi @gbraad ,
Thanks for the reply, I also remove `options ndots:5` or the `search` item in `/etc/resolv.conf`:
[code]

I see the issue #2560 is also not be resolved and this issue is easy to reproduce:
1, install and start minishift
2, access any pod to execute `host 127.0.0.1`
3, it will fail

Any idea? Thanks!

[2018-07-17 07:01] #2602 closed

[2018-07-17 07:02] budhram commented on #2601
@philips I hope you @praveenkumar helped you to resolve your query. Let us know if you still face any issue.

Please feel free to close the issue. :smile:

[2018-07-17 07:57] zhangtbj commented on #2605
Hi @gbraad ,

Let me show some more information.

When I verify on other kube platforms, such as minikube or IBM Kube service, I can see they have a kube-dns service:
[code]
And all pods use this dns can resolve localhost and 127.0.0.1:
[code]

But in minishift, it doesn't have all kubernets related pods (for example no kube-dns service and pod), it only includes one kube service:
[code]

So every

[2018-07-17 08:19] gbraad commented on #2605
This is what I thinbk is the issue. `oc cluster up` might not have provided
all the services and/or expected config. We will try to veirfy this with a
general OpenShift install... but it might also help to report this anyway
to openshift/origin repo's issue tracker.

[2018-07-17 09:07] #2457 closed

[2018-07-17 10:56] amitkrout opened #2609 "Minishift start goes well using default driver when staring a stopped openshift cluster created on non default hypervisor(VirtualBox)"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox/generic

### Steps to reproduce

  1. Setup virtual box on macOS or Linux so that user can switch between drivers
  2. Run ./minishift start —vm-driver virtualbox
  3. ./minishift stop
  4. ./mishift start

### Expected
Should fail because this will run on defau

[2018-07-17 11:01] praveenkumar commented on #2609
This is expected. VM is not created because of https://github.com/minishift/minishift/blob/master/pkg/minikube/cluster/cluster.go#L69-L90 so it just checks if already exist => state of VM => if stopped => just start it without creating a new one. VM creation happen https://github.com/minishift/minishift/blob/master/pkg/minikube/cluster/cluster.go#L327 here

I am planning to close this issue as not

[2018-07-17 11:03] gbraad commented on #2609
Do not completely understand the issue here. This is a restart... It should pass

[2018-07-17 11:05] praveenkumar commented on #2609
That's right.

[2018-07-17 11:20] #2609 closed

[2018-07-17 11:26] budhram opened #2610 "Update minishift architecture to reflect new changes"
The current minishift architecture seems to be quite old.

![minishift_architecture](https://user-images.githubusercontent.com/1132451/42814555-35946732-89e2-11e8-8f8f-eea9f9e0ab54.png)

We have new changes now.
[code]

[2018-07-17 11:53] LalatenduMohanty commented on #2610
@budhram As you mentioned we need to mention container images in cache.

[2018-07-17 12:02] robin-owen commented on #2610
@budhram Personally, I don't think that we should be listing explicit version numbers in the diagram at all. Having the version numbers causes the need to continually update this diagram. I think we need to make it more generic so that the need to update it isn't quite so frequent.

[2018-07-17 12:15] praveenkumar commented on #2610
Right, we should just use `v3.x.x` instead hard code the complete version, which should be much better. Also regarding the file structure change we can add it with addition of image cache (as lala mentioned).

[2018-07-17 13:14] budhram commented on #2610
I think the first no can also change later on, so `vX.X.X` ?

[2018-07-17 14:07] gbraad commented on #2610
what is the use of specifying the version anyway?

[2018-07-17 14:12] zhangtbj commented on #2605
@praveenkumar ,

I am not sure if your two nameservers (nameserver 67.207.67.2, nameserver 67.207.67.3) make you work, but mine is still fail by using the same commands:

[code]

Can I know which minishift version do you use? And can I know where you get these two DNS nameservers? are they come from native kube directly or you added it later?

Thanks!

[2018-07-17 14:15] robin-owen commented on #2610
@gbraad Personally, I'm not convinced that it adds any value.

[2018-07-17 14:17] zhangtbj commented on #2605
Hi @gbraad ,

I also opened an issue in openshift git:
https://github.com/openshift/origin/issues/20339

It is still blocking us, pls let us know if you have any news. Thanks a lot! :)

[2018-07-17 14:17] gbraad commented on #2610
Me neither...

[2018-07-17 14:18] gbraad commented on #2605
Can you explain why it actually blocks you?

[2018-07-17 14:23] zhangtbj commented on #2605
Hi @gbraad ,

Sorry, It blocks our kube application, our kube applications have the pre-check script to check `host -r 127.0.0.1` works fine or not, if not, our whole system (with these kube applications) will fail and cannot be deployed correctly.

So from minishift level, it may a not urgent issue, but from our kube app level, it is a blocking issue. And minishift is for our product POC on opens

[2018-07-17 14:41] gbraad commented on #2605
I would wonder what the purpose is to use a reverse lookup on localhost
(127.0.0.1)
To me this kind of pre-flight check sounds like unnecessary... :-s

On Tue, Jul 17, 2018 at 10:23 PM, JordanZT <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-17 14:48] zhangtbj commented on #2605
We are deploying Cloud Foundry (CF) on Kube/OpenShift,

The router related pre-check scripts will check that... :(, for example:

Router:
https://github.com/cloudfoundry/routing-release/blob/87d5f821179587d0a3da3486165ec08ad6d9c16d/jobs/gorouter/templates/run_gorouter.erb#L12

Router-api:
https://github.com/cloudfoundry/routing-release/blob/dca19fb30607b5044883fbb7c42e84f0f5c147fc/jobs/routing-api

[2018-07-17 14:53] gbraad commented on #2605
Added this to the origin report

[2018-07-17 15:52] mackenza commented on #2421
I just tried against EC2 and was not successful...
[code]
In the installing on existing machine instructions (btw the link that @praveenkumar posted above seems to have been moved to https://docs.openshift.org/latest/minishift/using/run-against-an-existing-machine.html), it says `CentOS7/RHEL7/Fedora(>26) are the suggested Linux distributions for this feature.`. I am using Amazon Linux 2 AMI. Is t

[2018-07-17 16:46] jorgemoralespou opened #2611 "Configuration used to start a profile is not saved"
We need to persist the configuration used for a profile (at least the relative to driver, memory, cpu, etc....) as in a second start a user might not know all the parameters he used to create the profile and he can mess it up.

Background:

I provisioned a fedora VM on Virtualbox, to use the generic driver.
I provisioned the cluster with:

[code]

I used the cluster for a while. Note that I used a

[2018-07-17 17:03] robin-owen commented on #2610
It's worth noting that #2463 is related to this, as well.

[2018-07-17 18:39] myron-randall commented on #1587
I updated Virtualbox and Minishift to the latest versions on Windows 7.
minishift v1.21.0+a8c8b37
Virtualbox Version 5.2.16 r123759 (Qt5.6.2)
I tried to start minishift and still receive the error.

C:\WINDOWS\system32>minishift start --show-libmachine-logs -v5
-- minishift version: v1.21.0+a8c8b37
-- Starting profile 'minishift'
Found binary path at C:\cygwin\bin\minishift.exe
Launching plugin se

[2018-07-17 20:06] myron-randall commented on #1587
I retried after doing a minishift stop and now I get the following error, that seems to loop:

checking docker daemon
(minishift) Calling .GetSSHHostname
(minishift) Calling .GetSSHPort
(minishift) Calling .GetSSHKeyPath
(minishift) Calling .GetSSHKeyPath
(minishift) Calling .GetSSHUsername
SSH binary not found, using native Go implementation
&{{{<nil> 0 [] [] []} docker [0x7b5120] 0x7b50d0 <nil>

[2018-07-17 20:22] myron-randall commented on #1587
It is even happening on the minishift stop command
[code]

[2018-07-17 20:48] philips commented on #2601
I am getting this:

[code]

[2018-07-17 20:53] philips commented on #2601
Hrm, I started and stopped minishift and got this:

[code]

[2018-07-17 21:07] philips commented on #2601
Weird... I tried to delete and start again and got:

[code]

[2018-07-17 21:12] philips commented on #2601
Ok, I dug through the code and found the error. Why is the oc command trying to open cert files... it shouldn't matter

[code]

Fixed this by doing

[code]

I would strongly argue we shouldn't be doing `--flatten` as the code does. https://github.com/minishift/minishift/blob/781349690090db8711a30d0f5fd3d84accc27732/pkg/minishift/oc/oc.go#L115

We should drop that flag, right? Like we shouldn't rew

[2018-07-18 03:17] gbraad commented on #2601
good question... @praveenkumar @jorgemoralespou WDYT?

[2018-07-18 03:18] gbraad commented on #1587
are you using an application firewall or VPN?

On Wed, Jul 18, 2018 at 4:22 AM, myron-randall <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-18 05:48] jorgemoralespou commented on #2601
@gbraad AFAIK, system:admin is not a user but a service account, so it has no password but a token. What oc cluster do is get the token and write it in kubeconfig for so you can directly access.
What your asking is probably a better question for @liggitt.

Remember that I oppose to how we (origin) manage the kubeconfig for entirely.
https://github.com/openshift/origin/issues/18645

[2018-07-18 05:50] philips commented on #2601
@jorgemoralespou I think my issue with system:admin is entirely because minishift failed to setup my kubeconfig. I just hadn't noticed the error before on `minishift start` of `Error during post cluster up configuration: unable to view kubeconfig file`

[2018-07-18 05:53] budhram commented on #2601
Yes @philips  mostly, it is related to kubeconfig file. We haven't able to get such error at our end (macOS) till yet.

We would like to explore more here.

[2018-07-18 05:56] gbraad commented on #2601
this looks like a leftover from a previous run eg. with minikube perhaps? something referenced this file ...

[2018-07-18 06:02] jorgemoralespou commented on #2601
@philips, I would think that because how we manage the kubeconfig file, and how IPs are reused by minishift you're hitting a race condition where you have information in that kubefile that belonged to a different previous cluster.

I think that in order to prevent this, minishift should provide an option that guarantees you use the profile specific kubeconfig file, like we do for docker-env.

I'm

[2018-07-18 06:11] gbraad opened #2612 "Unexpected error deploying web console when using proxy"
When using a proxy, the following error might occur:

[code]

This might be related to a missing `no-proxy` entry.

[2018-07-18 06:18] amitkrout commented on #2601
@budhram Even me either
[code]

[2018-07-18 06:20] gbraad commented on #2601
@amitkrout this is related to previous configs inside the .kube config file. this might be due to using multiple runs of minikube and minishift

but as mentioned, we should try to isolate the .kube files used for a profile.

[2018-07-18 07:20] praveenkumar commented on #2612
`no-proxy` entry in Openshift config or somewhere else?

[2018-07-18 08:14] praveenkumar commented on #2611
@jorgemoralespou one way to resolve this is to put those remote options in the config file itself like we do for cpus, memory ..etc and don't use any of the options during the start.

[code]

[2018-07-18 08:29] praveenkumar commented on #2601
@philips I used this because of that what best way to merge the kube config file as kubernetes documents. We needed to do it to make sure `system:admin` service account set properly with the user `kube` config file without the extra step.

@jorgemoralespou we can actually do that easily and when a user does `oc-env` then it also set the kubeconfig file which is minishift specific but then if a use

[2018-07-18 08:47] praveenkumar commented on #2605
[code]

@zhangtbj those were the remote machine DNS nameservers (digital ocean one). From the pod below is what I have.

[code]

[2018-07-18 09:10] jorgemoralespou commented on #2611
@praveenkumar I know the workarounds, but IMHO this is not the correct experience. That configuration should be preserved by default.
Are you saying that this is not an issue because it can be saved in the configuration using a miriad of config set commands?

[2018-07-18 09:21] zhangtbj commented on #2605
Hi @praveenkumar ,

mine is `minishift v1.21.0+a8c8b37`, the latest one

How can I install your version?

[2018-07-18 09:29] zhangtbj commented on #2605
Hi @gbraad from the release page:
https://github.com/minishift/minishift/releases/tag/v1.21.0
The tag is: `a8c8b37`

OK, let me try the latest commit, and BTW, do you have doc to show me how to build it by myself?

Thanks!

[2018-07-18 09:41] praveenkumar commented on #2611
@jorgemoralespou Till now we always say to use same options for `start` command if you do start => stop => start this is not any different and most of the time a user uses `config` to persist this.

[2018-07-18 09:55] jorgemoralespou commented on #2611
@praveenkumar and I've always said it's a bad experience 😄
When you use multiple flags in start, you have to remember them all. If one needs to use the config file to avoid remembering these flags, why don't saving them in config on first start?
I think that your answer confirms that this should be the default behavior.

[2018-07-18 09:56] jorgemoralespou commented on #2611
If you all guys oppose to fixing this, at least provide a --persist flag to start that will do it when passed. Not ideal, but better.

[2018-07-18 09:59] gbraad commented on #2605
Praveen could have used a build from master, but there are different ways
to build minishift. Have a look at:
https://docs.openshift.org/latest/minishift/contributing/developing.html or
follow one of the CI build definition files.

[2018-07-18 11:24] praveenkumar commented on #2611
@jorgemoralespou sure, we will try to handle it soon, one way or other but I think there is already existing issue, will check and put it here.

[2018-07-18 13:42] jeka commented on #2283
I am sorry for commenting on closed bug but this is completely wrong.
I mean If one decides to use special characters in their username/password he should make sure to  escape them while exporting http[s]_proxy variables. It is not minishift's job to escape them.
After all these variables are not minishift specific.

[2018-07-18 23:41] philips commented on #2601
@praveenkumar `--flatten` is not necessary and changes how I want to use kubeconfig for my existing clusters by moving my x509 certs from files into the kubeconfig embedded.

See this upstream example of merging using `kubectl config view` which is essentially what minikube does.

https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-kubeconfig-env

[2018-07-19 06:04] jorgemoralespou commented on #2601
@philips,
Have you used oc?
Can you do:
[code]

And look into the generated kubeconfig and see if that's what you would expect?

Minishift uses internally OC cluster up and OC command and some context management is fine by this tools

[2018-07-19 06:16] gbraad commented on #2587
`proxy1.go`
[code]

`proxy2.go`
[code]

[2018-07-19 06:17] amitkrout commented on #2612
@gbraad @praveenkumar I have seen this but not consistently. As practice i mostly clean up the old configs before the next ```m start``` if same web console error happens. So could not realize it is an issue

[2018-07-19 06:32] praveenkumar commented on #2601
@philips for our case it is required as you go through the codebase you know what we are doing is setting the KUBECONFIG as ~/.kube/config:~/.minishift/machine/minishift_kubeconifg and then after view, we are writing back to the `~/.kube/config` but if we don't use the `--flatten` then the certs will not be part of this :(

We can take a look at this code and see if we directly can consume it.

[2018-07-19 07:29] budhram commented on #2064
Just to update here, I am reading https://redhat-documentation.github.io/modular-docs/#introduction on how to do modularization of docs.

[2018-07-19 09:09] amitkrout commented on #2588
Seems fix of #2587 will resolve this issue

[2018-07-19 09:19] jeka opened #2615 "Do not escape special charecters from proxy system environment variables"
Escaping proxy username/password using special characters is not a minishift's job for system set environment variables.
The proxy env variables (http_proxy and friends) must contain **already** escaped values.

[2018-07-19 09:23] gbraad commented on #2615
hi @jeka, can you be more precise?

the reason why we escape is related to passing the variables to the shell environment (we escape the values to pass them on). What is the problem you have?

[2018-07-19 09:31] gbraad commented on #2615
if you have concerns about how your variables are passed into the shell environment, you can also put them as part of the config `m config set http-proxy/https-proxy <value>` which overrides the shell environment variables.

[2018-07-19 11:31] gbraad commented on #2615
We could change behaviour to only allow the encoding to happen from the
variables http-proxy and https-proxy, but not the environment variables.

But, you want actually experienced this as an issue? Why else the question
'what will happen'? Please provide steps and info to properly produce an
error as at the moment this is merely a pleading for a revert. My
colleagues so far have not been convince

[2018-07-19 11:33] jeka commented on #2615
Well with last release breaking proxy handling I was "playing" with the code locally and actually hit this problem in one of our labs ....

[2018-07-19 11:35] jeka commented on #2615
No offense but "pleading" as you say is a bug report.
No other and I mean no other software in linux world is fiddling with http_proxy et al variables.
So why openshift? What is the gain? From my point of view its a clear bug

[2018-07-19 11:36] praveenkumar commented on #2615
@jeka you can always specify those details using either config set or `--http-proxy/--https-proxy` options in the start command so it will not care about your env variables.

[2018-07-19 11:38] praveenkumar commented on #2615
@jeka Because we saw it as a issue from newbie side, most of desktop application or even when you set proxy to browsers they do same conversion for the proxy special char.

[2018-07-19 11:38] jeka commented on #2615
@praveenkumar why I have to do this is the question ...
See, if these variables are **NOT** escaped already no software using them (besides minishift currently) will work.
And if they are properly escaped currently *only* minishift is broken with handling them

[2018-07-19 11:42] praveenkumar commented on #2615
@jeka complete revert still doesn't make sense, what we can do is just ignore the escape part if details coming from the system environment variable but again I am pretty sure some other user come back and ask why this is changed.

[2018-07-19 11:49] amitkrout opened #2617 "Some integration step definition does not report ssh failure if any"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

Some integration step definition are prone to ssh failure catch
### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected
Code like https://github.com/minishift/minishift/blob/master/test/integration/util/util.go#L250 and https://github.com/minishift/minishift/

[2018-07-19 11:51] jeka commented on #2615
@praveenkumar The way you are handling minishift's commandline parameters is up to you of course.
If my opinion matters, your suggestion is leading to confusion: different ways of handling the **same* information depending of the source.
Just don't bother escaping. Put it as note (passwords**must** be escaped) if you wish.
I am just puzzled why  was not this issue closed as non-issue.
(just google

[2018-07-19 11:53] gbraad commented on #2615
Please as you ask with please, bit you would have to provide a full description to the motivation and error you are seeing. If developers aren't convinced of the need, it will not be reverted. However, i'd rather see a solution somewhere in the middle.

[2018-07-19 11:54] gbraad commented on #2615
The password can be escaped when provided using `m config set` else ignore and do not escape. Wdyt?

[2018-07-19 11:56] praveenkumar commented on #2615
@jeka That's what I am saying we shouldn't revert that commit directly as it is but what we can do is in case of getting from environment variable just ignore the escaping part which means now we follow basic linux command line tools philosophy and also we are good with if user use explicit our own provided flags. Does that sound good to you?

[2018-07-19 12:06] jeka commented on #2615
@praveenkumar as I said its up to you.
It will be confusing for **my** workflow, for example.
I mean *IF* I am using a password which needs to be escaped I already have it escaped (and exported in environment). *IF* I have to provide another credentials on command line most probably I will have them already in escaped form (if they need escaping) so for me its just a matter of copy/paste.

I reall

[2018-07-19 12:09] gbraad commented on #2615
This is why I suggest we IGNORE the need to escape from environment variables and only do this for provided by config.

[2018-07-19 12:31] praveenkumar commented on #2615
@jeka I changed the title of the issue a bit to make sure we are not misunderstood what exactly we want.

[2018-07-19 12:57] jeffmaury commented on #2142
Still todo

[2018-07-19 17:01] philips commented on #2601
_why_ do the certs need to be part of it?

On Wed, Jul 18, 2018, 11:32 PM Praveen Kumar <notifications@github.com>
wrote:

[2018-07-19 19:50] LalatenduMohanty commented on #2592
Resolved via #2593

[2018-07-19 19:50] #2592 closed

[2018-07-19 20:22] LalatenduMohanty commented on #2611
This might be a better idea than `--persist` flag. At least make things consistent e.g. `minishift config view` will return what flags users had run minishift with.  Basically we  will save the viper config in config.json during every start.  Need to check if it will create any complications.

[2018-07-20 05:05] gbraad commented on #2615
@jeka you point is valid, but unfortunately it always takes some time before everyone agrees. We had discussed this already on IRC and decided to only ignore the environment variables. When people specify from startup or config, we need to to take care of their unescaped strings; as they have a nature of being a one-off or long-term but not committed for other usage (profile or just minishuft base

[2018-07-20 06:07] gbraad commented on #2617
when no response comes back, or fails, the scenario will conclude something is wrong anyway.
has something happened that this comes up?

[2018-07-20 06:47] amitkrout commented on #2617
Right, However this is to make the test step error message precise if any failure in case of ssh connection.

This is review comment https://github.com/minishift/minishift/pull/2614#discussion_r203646358  from @agajdosi on #2614.

[2018-07-20 11:57] gbraad commented on #2615
We are not in the position to educate the users, but we rather want to be assisitve. We describe a lot in the documentation, but you also know... almost nobody reads the fine manual ;-)

Although the information you refer to is not conclusive, as at this stage we can be considered to producie the URI from the given input:

with the exception that we do not detect re-encoding:

and this is wrong (a

[2018-07-20 14:24] LalatenduMohanty commented on #2601
The challenge is with how  "oc cluster up" generates the config inside the VM and then we need to copy the relevant config to ~/.kube on the host (as  we run "oc cluster up" to provision the OpenShift). We are looking in to this.

[2018-07-22 15:33] kripskroll opened #2620 "How to create a SPAN port on the ovs bridge ?"
### General information

  * Minishift version: 1.21 on CentOS 7
  * OS: Windows 2012 Server
  * VirtualBox : 5.1.28

### Steps to reproduce

  1.  I would like to be able to use OVS SPAN capabilities using ovs-vsctl command and as explained in OVS documentation at http://docs.openvswitch.org/en/latest/faq/configuration/?highlight=promiscuous

### Expected

Send traffic to a POD with a tcpdump or

[2018-07-22 17:40] tiny-dancer commented on #1468
resolved same error by executing `rm -rf ~/.minishift` from the [uninstall docs](https://docs.openshift.org/latest/minishift/getting-started/uninstalling.html) and re-running `minishift start`

[2018-07-23 04:50] zhangtbj commented on #2605
Hi @gbraad and @praveenkumar ,

I have tried the `latest` minikube (6ab4799), but it doesn't work!

[code]

I think Praveen's environment is different with mine or the official env, that I only have one nameserver in `minishift ssh`:
[code]

This is the result again:
[code]

This is how I start minishift:
`minishift start --cpus 4 --disk-size 100G --memory 8G --vm-driver virtualbox`

I think you c

[2018-07-23 05:29] praveenkumar commented on #2601
@philips it will not solve the issue which we are trying to solve what we want is something like append functionality for kube config file so that we don't modify existing one but add the content of minishift kube config to it. As of now with flatten we merge 2 config file and rewrite the kube config file :( so instead merge we need to append but last time I checked it is something not possible by

[2018-07-23 06:21] Antibrumm opened #2621 "Minishift date desynced during host standby?"
### General information

  * Minishift version: minishift v1.20.0+53c500a / openshift 3.9.0
  * OS: macOS
  * Hypervisor: xhyve

Hi
I don't know if this relates to minishift only or if this is a general issue on openshift.
It seems that when the host is on standby and minishift is started we will see an increasing amount of time desynchronization.
**The longer the standby the bigger the time diffe

[2018-07-23 10:20] norbix7 opened #2623 "Starting Minishift VM ..............-- Setting proxy information ... ......FAIL"
### General information

  * Minishift version: v1.20.0+1bd6d5c
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. minishift setup-cdk
  2. minishift start --skip-registration --http-proxy http://webproxy.internal.com:9082 --https-proxy https://webproxy.internal.com:8092

### Expected

### Actual

### Logs

[code]

[2018-07-23 10:32] LalatenduMohanty commented on #1910
Lets check with Origin 3.10 and see if it is still an issue.

[2018-07-23 11:04] budhram opened #2624 "Support "latest" tag in openshift-version flag"
The start flag `--openshift-version` should support `latest` tag. This should be the latest tag from the version list `minishift openshift version list`.

[2018-07-23 12:03] praveenkumar commented on #2623
@norbix7 when you did `minishift setup-cdk` did it ask for overwrite/delete the existing minishift home path? Looking as per logs nothing suspicious :(

[2018-07-23 12:08] praveenkumar commented on #2606
@LalatenduMohanty if it is resolved then we should close it right?

[2018-07-23 12:18] #2617 closed

[2018-07-23 12:22] LalatenduMohanty commented on #2606
@praveenkumar yes, I forgot to close it.

[2018-07-23 12:22] #2606 closed

[2018-07-23 12:51] LalatenduMohanty commented on #2623
@norbix7 Can you please tell us the output of `minishift version`.

[2018-07-23 14:02] norbix7 commented on #2623
@LalatenduMohanty
[code]

[2018-07-23 14:39] norbix7 commented on #2623
@praveenkumar
Take a look at the attached dump file from minishift boot process.

[minishift_boot_dump.txt](https://github.com/minishift/minishift/files/2219721/minishift_boot_dump.txt)

[2018-07-23 19:30] vertexvaar opened #2625 "Minishift should not use HOMEBREW_GITHUB_API_TOKEN to access api.github.com"
### General information

  * Minishift version: minishift v1.21.0+a8c8b37
  * OS: Linux VerteXUbun2 4.15.0-23-generic #25-Ubuntu SMP Wed May 23 18:02:16 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Donwload minishift from releases page
  2. copy minshift to ~/.local/bin (which is in $PATH)
  3. run `minishift openshift version list`

### Expected

[2018-07-23 20:52] pavankjadda opened #2626 "Unable to add user to Cluster Admin group"
I installed Minishift on Ubuntu 18.04 and started with 10Gb RAM and 4 CPUs. When I try to add cluster-admin role to user I got **Error from server (NotFound): the server could not find the requested resource** error.

### General information

  * Minishift version: minishift v1.21.0+a8c8b37
  * OS: Linux (Ubuntu 18.04)
  * Hypervisor:  VirtualBox

### Steps to reproduce
  1.` minishift addons enab

[2018-07-23 21:52] #2626 closed

[2018-07-24 01:51] gbraad commented on #2625
Please provide

[code]

[2018-07-24 03:37] gbraad commented on #2625
Not sure what you mean with this ...

[2018-07-24 03:42] gbraad commented on #2621
This is a problem caused by the hypervisor. There are workarounds ... like running a NTP query from the VM.

[2018-07-24 03:47] gbraad commented on #2621
Similar reports are here with xhyve: https://github.com/docker/for-mac/issues/1260#issuecomment-278733016

[2018-07-24 04:01] gbraad commented on #2620
The minishift VM does not come with openvswitch. Although OpenShift SDN is configured using openvswitch, https://docs.openshift.com/enterprise/3.0/architecture/additional_concepts/sdn.html#overview we are running an all-in-one setup (master and node) on one machine. I think it is best to ask #openshift about your needs.

[2018-07-24 04:17] gbraad commented on #2611
Related to an old issue #179. As mentioned on that issue, it is best to print out the ignored options and what is run, and/or save the sane expectation. Options we provide on start aren't supposed to be a one-off use.

[2018-07-24 05:14] praveenkumar commented on #2604
@donovanmuller I tried as following and it works as expected.

[code]

[2018-07-24 05:17] Antibrumm commented on #2621
Thanks gbraad for that finding! I was searching in the wrong place and did not think that this has an underlying issue.

[2018-07-24 05:17] #2621 closed

[2018-07-24 05:46] LalatenduMohanty commented on #2604
I am reproduce it on macOS+ Xhyve on latest master .

[code]

[code]
The file is not present in the location

[code]

[2018-07-24 06:08] vertexvaar commented on #2625
[code]

I created a Dockerfile
[code]
and executed `docker build . -t minishift`, `docker run -it minishift bash` and `minishift -v5 openshift version list` which worked perfectly fine.

[2018-07-24 06:16] LalatenduMohanty commented on #2604
For me I can only reproduce this issue when I am running on non default profile. On default profile this is not reproducible.

[2018-07-24 07:01] LalatenduMohanty commented on #2604
I can manually run the commands without any issue. You can use this as workaround also.

[code]

[2018-07-24 07:11] LalatenduMohanty commented on #1910
As per https://github.com/openshift/origin/issues/18119#issuecomment-407052375 it is fixed in 3.10.

[2018-07-24 07:35] gbraad commented on #2625
Ah, this is the very first test... this seems like a local proxy setting maybe?

[code]

and check what is set for `_PROXY` or `_proxy`
?

[2018-07-24 07:49] LalatenduMohanty commented on #2625
This issue seems very odd as AFAIK `GET https://api.github.com/repos/openshift/origin/releases: 401 Bad credentials` should not need any credentials. I had faced similar issue when I had an invalid GH token https://github.com/minishift/minishift/issues/564

[2018-07-24 07:50] LalatenduMohanty commented on #2625
@vertexvaar can you give us the out put of `env` command.

[2018-07-24 07:55] LalatenduMohanty commented on #2623
@norbix7 As this is a CDK issue I will move the issue to https://issues.jboss.org/projects/CDK/issues/ . Guthub is only used for upstream Minishift issues.

[2018-07-24 08:06] vertexvaar commented on #2625
Here you go. (Token values are censored)

[code]

[2018-07-24 08:07] LalatenduMohanty commented on #2623
@norbix7 Or if you or we can reproduce the issue with upstream Minishift then it is relevent to upstream too.

[2018-07-24 08:10] gbraad commented on #2580
Can you explain more about the used network setup (also you mention an external machine accesses the web console), and about other programs on the machine, like vpn or firewall tools

[2018-07-24 08:11] LalatenduMohanty commented on #2625
@vertexvaar can you remove the `GH_TOKEN` from the env variables and try `minishift start` again?

[code]

[2018-07-24 08:12] norbix7 commented on #2623
@LalatenduMohanty

As I far as I know the minishift is included in RHCDK as well.
Correct ?

[2018-07-24 08:17] gbraad commented on #2625
the same goes for the `HOMEBREW_` one, as in the github.go file we do:

https://github.com/minishift/minishift/blob/dfccef22f5e6abcaae9b6b842486c3b4fee8945e/pkg/util/github/github.go#L82

[2018-07-24 08:19] gbraad commented on #2623
CDK is based on code from the Minishift project, although the actual
deployed OpenShift is different, as the used ISO (which is RHEL-based).

[2018-07-24 08:37] vertexvaar commented on #2625
After `unset`ing the `HOMEBREW_GITHUB_API_TOKEN` it works, seems that this token was outdated (i don't use linuxbrew anymore).
Thank you for your guidance.
I'd never guess minishift uses a Homebrew specific env variable,  this feels really odd to be honest :sweat_smile:

[2018-07-24 08:39] norbix7 commented on #2623
@gbraad

I did some investigation however would like to confirm with you whether below is correct ?
==
-OpenShift Origin (upstream; Community PaaS)
	-RH OpenShift Enterprise (downstream; Private PaaS)
	-RH OpenShift Online (downstream; Public PaaS)
-MiniShift (upstream)
	-RHCDK (downstream) has free developer subscription at https://developers.redhat.com/

[2018-07-24 08:43] gbraad commented on #2625
and for this reason I would like to reopen this. It would be better to remove this from the code...

[2018-07-24 08:45] gbraad commented on #2623
Right...

Origin and Minsihift are the projects, while OCP and CDK are the products

[2018-07-24 08:58] norbix7 commented on #2623
@gbraad

Whether Orign and MiniShift are sharing the same codebase or these are two independent projects ?

[2018-07-24 09:10] LalatenduMohanty commented on #2532
Resolved via #2564

[2018-07-24 09:10] #2532 closed

[2018-07-24 11:37] praveenkumar commented on #2623
@norbix7 I tried it but not able to reproduce :(, once you get failure can you do `minishift ssh` and manually try to execute `export HTTP_PROXY=http://webproxy.internal.com:9082 http_proxy=http://webproxy.internal.com:9082 HTTPS_PROXY=https://webproxy.internal.com:8092 https_proxy=https://webproxy.internal.com:8092 NO_PROXY=localhost,127.0.0.1,172.30.1.1,192.168.42.250,192.168.42.1 no_proxy=local

[2018-07-24 13:37] budhram opened #2629 "Apply --set-static option automatically after start of an instance/profile"
Taken from @burrsutter mail:

Here is the seriousness of the situation.  I use profiles - like so
[code]

Yet, at the next location, I get a new IP address and the following error.  This particular VM's IP was 106, yet it reverted back to 101.

Caused By:
[code]

the demos are basically:
https://bit.ly/msa-instructions
https://bit.ly/istio-tutorial
https://bit.ly/faas-tutorial
and you can not real

[2018-07-24 13:41] gbraad commented on #2629
So have you actually verified this? Burr's email was based on a wrong
usecase

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-24 13:46] gbraad commented on #2629
They are not stored as part of the profile configuration, but as part of the VM itself. IP configuration can not be part of the config as we are unable to set these on startup before the VM has been provisioned once.

The following

should be

[code]

[2018-07-24 13:53] gbraad commented on #2629
No where in the instructions have I seen the use of `m ip --set-static`, so I this is not reproducible.

[code]

This means you can ONLY make the IP sticky after it has been provisioned to the VM on start once.
Note: Only for Hyper-V you can provide it on startup.

[2018-07-24 13:56] gbraad commented on #2629
As mentioned on the ML:

---
The option to --set-static is not applied automatically to the VM as the current implementation is not very fast.

It would be possible to make this a standard option to be performed after the VM has been started, but so far no request or demand for this came up.

... until now?

[2018-07-24 14:07] gbraad commented on #2629
The option to --set-static is not applied automatically to the VM as the current implementation is not very fast.

You are probably looking for a:

[code]

option which will take affect after startup. But so far no request or demand for this came up.

... until now?

[2018-07-24 14:45] burrsutter opened #2630 "minishift image export docker.io/openshift/jenkins-2-centos7:<none>"
### General information

  * Minishift version: minishift v1.21.0+a8c8b37
  * OS: MacOS
  * Hypervisor: VirtualBox

### Steps to reproduce

  1.  minishift image export docker.io/openshift/jenkins-2-centos7:\<none\>

### Expected
that it would export the image

### Actual
-bash: syntax error near unexpected token `newline'
it dislikes <none>, it should just handle that more gracefully

### Logs

Y

[2018-07-24 17:20] LalatenduMohanty commented on #2163
I have the same weird error for `--set-static`

[code]

[2018-07-24 18:17] LalatenduMohanty commented on #2630
@burrsutter  Are you suggesting that Minishift should ignore the last `:` character and you are seeing the below error

[code]

After I remove the `:` everything works fine.

[code]

[2018-07-24 21:33] cboggs commented on #2625
For what it's worth, this happens even without an Github token env vars set at all. When working from my main office, given the number of people hitting Github at any given time, we hit the rate limit frequently.

I can't reliably use minishift, as it relies on an external list of valid OpenShift versions, and it would appear that those calls to Github's API don't take into account the MINISHIFT_G

[2018-07-24 23:40] gbraad commented on #2625
The variable needs to be set in an environment where many people share the
same IP address. Github else denies service. Not sure what you meant that
even setting MINISHIFT_ fails? If so, make sure the value is correct. Even
for our own CI this is necessary, wo it gets tested on a continuous basis.
Can you provide more details about your setup?

On Wed, Jul 25, 2018, 05:33 Cody Boggs <notifications

[2018-07-24 23:44] gbraad commented on #2630
Did you type the name including the redirect symbols `<none>` as suggested
see in the title? If so, this gets interprete by the shell and we can't do
much about it.

On Wed, Jul 25, 2018, 02:17 Lalatendu Mohanty <notifications@github.com>
wrote:

[2018-07-25 02:43] zhangtbj commented on #2605
Hi @gbraad ,

Do you have any news about this issue? Thanks a lot! :)

[2018-07-25 03:07] gbraad commented on #2605
nope... I think it needs to be escalated to OpenShift. @LalatenduMohanty, WDYT?

[2018-07-25 03:08] gbraad commented on #2605
I do notice that your VirtualBox didn't provide the DNS for the host-only network. Did you modify these settings?

And has this also been reproducible on other systems?

[2018-07-25 04:20] LalatenduMohanty commented on #2630
Fixed @burrsutter 's description where \<none\> was not visible

[2018-07-25 04:36] gbraad commented on #2630
how about specifying as:

minishift image export "docker.io/openshift/jenkins-2-centos7:<none>"

On Wed, Jul 25, 2018 at 12:28 PM, Lalatendu Mohanty
<notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-25 04:37] gbraad commented on #2630
how about specifying as:
[code]

[2018-07-25 04:49] gbraad commented on #2630
This would result in:
[code]

so, we can close as it is a shell issue and specification without `<none>` works.

[code]

[2018-07-25 04:49] #2630 closed

[2018-07-25 05:07] gbraad commented on #2625
@cboggs can you file an issue for this? Let's investigate ...

[2018-07-25 05:38] yogeshpahilwan opened #2631 "Error setting up host only network on machine start due to a well known VirtualBox bug"
### General information

  * Minishift version: 1.14.0
  * OS: Windows 10
  * Hypervisor: VirtualBox 5.2.8

I am new to Minishift and trying to install on my local laptop machine with ethernet connectivity.

When I run following command:

C:\Users\xyz\Minishift\minishift-1.14.0-windows-amd64> .\minishift.exe start --vm-driver=virtualbox --disk-size=40GB --memory=4GB -v5 --show-libmachine-logs --al

[2018-07-25 06:37] gbraad commented on #2631
Also, please uninstall first before updating (or reinstalling). Your
network setup might not be correct/modified.

On Wed, Jul 25, 2018 at 2:26 PM, Praveen Kumar <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-25 06:44] gbraad commented on #2631
I hope you also readt the actual error message. It is duplicate of earlier filed issues:

[code]

[2018-07-25 06:52] LalatenduMohanty commented on #2604
Resolved via #2627

[2018-07-25 06:52] #2604 closed

[2018-07-25 06:55] LalatenduMohanty commented on #2548
Resolved via #2608

[2018-07-25 06:55] #2548 closed

[2018-07-25 07:08] praveenkumar commented on #2629
@gbraad I think this would be good to have that just after VM start and supported by the driver (ignore otherwise) this way we will get more feedback around this feature.

[2018-07-25 07:16] gbraad commented on #2629
I updated the title to reflect the changed nature of this report: "Apply --set-static option automatically after start of an instance/profile"

[2018-07-25 07:20] LalatenduMohanty commented on #2598
Resolved via #2599 .

[2018-07-25 07:20] #2598 closed

[2018-07-25 07:46] dhanugithub commented on #870
Hello,
I am running Minishift on windows 7 with virtualbox.

Minishift VM starts and openshift origin works fine but it seems docker is not working properly.

$minishift docker-env
SET DOCKER_TLS_VERIFY=1
SET DOCKER_HOST=tcp://192.168.99.101:2376
SET DOCKER_CERT_PATH=C:\Users\dhanashree\.minishift\certs
REM Run this command to configure your shell:
REM     @FOR /f "tokens=*" %i IN ('minishift dock

[2018-07-25 07:56] zhangtbj commented on #2605
Thanks @gbraad ! After I change to use my Mac, the problem resolved.... I think there is something wrong with my Ubuntu machine. I don't know the root cause, but I can continue my work.

Thanks a lot for the info. I will close this issue :)

[2018-07-25 08:12] dhanugithub commented on #870
Hello,
I am running Minishift on windows 7 with virtualbox.

Minishift VM starts and openshift origin works fine but it seems docker is not working properly.

$minishift docker-env
SET DOCKER_TLS_VERIFY=1
SET DOCKER_HOST=tcp://192.168.99.101:2376
SET DOCKER_CERT_PATH=C:\Users\dhanashree\.minishift\certs
REM Run this command to configure your shell:
REM     @FOR /f "tokens=*" %i IN ('minishift dock

[2018-07-25 08:22] praveenkumar commented on #2605
@zhangtbj I would say not close but can you get all the info about the DNS and put same on your Ubuntu and see if there also it work then you finally close it?

[2018-07-25 08:23] yogeshpahilwan commented on #2631
@praveenkumar @gbraad  - Thank you. I will try to use the latest version of minishift.

[2018-07-25 10:03] praveenkumar commented on #870
@dhanugithub this more looks like you didn't have docker client installed on windows, first you need to install it to make it work.

[2018-07-25 10:35] dhanugithub commented on #870
Thank you @praveenkumar for quick reply. I just downloaded and installed Docker Toolbox (following https://docs.docker.com/toolbox/toolbox_install_windows/). It created a VM called 'default' in virtualbox.
Before installing docker client, I stopped my minishift VM, now when I restarted it to check if docker works or not, the VM started with different IP address and gave error. How should I proceed

[2018-07-25 10:48] LalatenduMohanty commented on #2625
@cboggs You can disable the startup checks if these creating problem for you https://docs.openshift.org/latest/minishift/troubleshooting/troubleshooting-getting-started.html#minshift-startup-check-failed

[2018-07-25 11:53] praveenkumar commented on #870
@dhanugithub you can delete the existing minishift VM using `minishift delete -f` and start new one. Also, you don't need to run the toolbox VM as part of docker client.

[2018-07-25 12:07] dischello commented on #2580
@gbraad
Yeah sure.
My workstation connected to corporate network. Every machine in this network have access to each other(There is no restricting for inboud or outbound traffic).
Also on my machine installed symantec endpoint protection, there is no VPN configured.

[2018-07-25 15:18] #2625 closed

[2018-07-25 19:01] cboggs commented on #2625
@gbraad, my apologies for being unclear, I'll open a new issue and will explain it better there. :-)

@LalatenduMohanty I'll give that a shot, though based on that doc it didn't seem that the OS version check was one of those to be skipped by that flag. Thanks for the pointer and I'll see what it does for me. :-)

[2018-07-26 04:31] yogeshpahilwan commented on #2631
@praveenkumar  Even after using the latest version 1.21.0 I am facing with the same issue. Do I need to use VirtualBox version 5.0.12 as specified in the error message?

[2018-07-26 04:57] gbraad commented on #2631
...or later

Have you unimstalled and rebooted the machine? If on macOS, do not delete
the application, but run the removal application from the disk image. On
Windows, use "Add or remove software" from the control panel/settings.

On Thu, Jul 26, 2018 at 12:31 PM, yogeshpahilwan <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-26 08:51] gbraad commented on #2629
It would work like `automount-hostfolders` which is not default at this
moment

On Thu, Jul 26, 2018 at 4:26 PM, Lalatendu Mohanty <notifications@github.com

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-26 09:45] LalatenduMohanty commented on #2631
@yogeshpahilwan It seems your Virtualbox is not functioning properly. Can you create and runs VMs on your virtualbox? Are you sure Intel VT-x, virtualization support enabled in BIOS?

[2018-07-26 12:30] amitkrout opened #2635 "Deprecated env variable HYPERV_VIRTUAL_SWITCH need to be replaced with MINISHIFT_HYPERV_VIRTUAL_SWITCH"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected
We have reference of deprecated env variable  ```HYPERV_VIRTUAL_SWITCH``` in doc [1] of ```Assign IP Address to Hyper-V``` need to be replaced with ```MINISHIFT_HYPERV_VIRTUAL_SWITCH```. Also the flag ```--iso-

[2018-07-26 13:08] amitkrout commented on #2635
I think ```Assign IP Address to Hyper-V``` is no more an experimental feature iirc or is it still an experimental feature if I am wrong ? Perhaps something is wrong in the doc. I can see this as experimental features [1] and in the same doc reference its being listed as a full feature [2]

[1] https://docs.openshift.org/latest/minishift/using/experimental-features.html#hyperv-static-ip

[2] https:

[2018-07-26 13:18] dangtrinhnt commented on #1630
@dharmit install qemu-kvm in Ubuntu 16.04 works for me. Thanks.

[2018-07-26 13:45] anjannath commented on #2128
I think we can just close this, WDYT @minishift/minishift-dev ?

[2018-07-26 13:47] gbraad commented on #1630
Something missing in the documentation? @lalatenduMohanty @praveenkumar

On Thu, Jul 26, 2018 at 9:18 PM, Trinh Nguyen <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-26 14:04] anjannath commented on #2447
Closing this as nothing can be done from our side.

[2018-07-26 14:04] #2447 closed

[2018-07-26 14:08] anjannath commented on #1630
@gbraad Nope, it's mentioned in the docs,
https://docs.openshift.org/latest/minishift/getting-started/setting-up-virtualization-environment.html#kvm-driver-debian

[2018-07-26 14:17] agajdosi commented on #1097
@prbhadra Is this still an issue for you? I am facing nearly the same issue with CDK 3.5.0 on some Linux machines, so I am wondering whether it preservers also in your case.

[2018-07-26 19:07] LalatenduMohanty commented on #2273
@gbraad Have you seen this?

[2018-07-26 19:08] LalatenduMohanty opened #2636 "Make hyperkit vm-driver a generally available feature"

[2018-07-27 06:17] sanketraut commented on #1097
I am using Windows 10 home edition and the issue persists over. When I had tried to install it on another machine which was using Windows 10 Professional it had worked fine without any errors.

[2018-07-27 06:27] budhram opened #2637 "Is it right to list team members in minishift.io page?"
Hi,

I am just wondering whether it is fine to have team members listed as this https://dgplug.org/team/ in our OpenShift page https://www.openshift.org/minishift/ or not.

/cc @gbraad  @praveenkumar  @LalatenduMohanty

So, people can directly get to know through https://www.openshift.org/minishift/team page who are ones behind Minishift and can get contact us via IRC or social media.

Just a thou

[2018-07-27 06:30] LalatenduMohanty commented on #2637
IMO we do not this. The contributors page anyway have information around active contributors.

[2018-07-27 06:31] gbraad commented on #2637
hard to maintain going forward... it will ALWAYS lag behind the actual contributors list on Github

[2018-07-27 06:31] amitkrout opened #2638 "Assign IP Address to Hyper-V feature doesn’t work"
### General information

  * Minishift version: master
  * OS: Windows
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. Get a clean Win10+Hyper-V setup and follow the doc https://docs.openshift.org/latest/minishift/using/static-ip.html#static-ip-hyperv
[code]
  2. However keeping the same ```m start``` arguments in a single line looks fine but ```m start``` fails due to VM start failure.
[cod

[2018-07-27 06:33] budhram commented on #2637
Closing as it is not needed.

[2018-07-27 06:33] #2637 closed

[2018-07-27 06:50] gbraad commented on #1097
@sanketraut the version of Windows should not matter; Pro or Home should both work.

[2018-07-27 07:12] Sispheor commented on #2623
Hello, on my side I cannot set an HTTP url proxy in HTTPS settings.

[code]

[code]

But this work
[code]

[2018-07-27 07:36] sanketraut commented on #1097
@gbraad Then maybe antivirus software? I have got Symantec on the machine which works and McAfee on the one which doesn't.

[2018-07-27 07:39] anjannath commented on #2638
@amitkrout Just to verify, the gateway ip address is the vswitch ip address..right?

make sure that the ip address you are assigning is on the same network as the vswitch.

[2018-07-27 07:41] anjannath commented on #2636
we also need to setup CI for the repo: https://github.com/machine-drivers/docker-machine-driver-hyperkit

[2018-07-27 07:43] gbraad commented on #2638
Can you verify the netmask?
You are using 192.168.1.10/255.255.255.240
Perhaps you should be using: 192.168.1.10/255.255.255.0

Set `--network-netmask 24` or `--network-netmask 255.255.255.0`

Let me know if this helps

On Fri, Jul 27, 2018 at 3:39 PM, Anjan Nath <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-27 07:44] gbraad commented on #1097
Firewall software (or antivirus using applicatio firewalls) are often the
cause of issues, so perhaps it might be the reaon

On Fri, Jul 27, 2018 at 3:37 PM, Sanket Raut <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-27 07:54] anjannath commented on #2623
You need to set `http-proxy` config value for using a http proxy, here you
are trying to set the value for
a https proxy.

Try using `minishift config set http-proxy http://10.235.201.1:9080`

[2018-07-27 08:12] Sispheor commented on #2623
Yes his what I do and it works. But if some https URL needed to be reach, I suppose that minishift would use the https config. And this one is empty. My compagny force to use the same "http" proxy for both protocol.

[2018-07-27 08:50] gbraad commented on #2623
There is a small error with the current release. #2595 needs to be merged.
Can you run again with:
http://artifacts.ci.centos.org/minishift/minishift/pr/2595/
and set both http-proxy and https-proxy to the same value

On Fri, Jul 27, 2018 at 4:13 PM, Nicolas Marcq <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-27 08:59] Sispheor commented on #2623
`minishift config set https-proxy http://10.235.201.1:9080` pass without any issue this time.
Thanks.

[2018-07-27 09:14] Sispheor commented on #2623
But
[code]

[2018-07-27 09:30] gbraad commented on #2623
can you start with `-v5 --show-libmachine-logs` after `m start` ? I miss some information.
Also, `m config view` might help to make sure correct settings are there

[2018-07-27 11:18] #1722 closed

[2018-07-27 12:04] anjannath commented on #2157
@riddins you can pass the extra options using the `--options` flag for `hostfolder add` command.
Please give it a try with binary from http://artifacts.ci.centos.org/minishift/minishift/pr/2508/

`minishift hostfolder add --type cifs --source //host/share --target /path/to/mount --options "username=share_user, password=share_pass, uid=minishift_user, gid=minishift_group, rw, file_mode=0777, dir_mo

[2018-07-29 04:04] vinicius-martinez opened #2639 "Missing web-console when using openshift-version v3.9.0"
### General information

  * Minishift version: v1.21.0+a8c8b37
  * OS: macOS
  * Hypervisor: xhyve

### Steps to reproduce

  1. Start minishift using openshift-version v3.9.0: minishift start --openshift-version v3.9.0
  2. Try to access OCP webconsole (example): https://192.168.64.3:8443/console

### Expected

Openshift webconsole should be displayed

### Actual

When trying to access Openshift

[2018-07-29 04:38] #2384 closed

[2018-07-29 17:51] anjannath commented on #2420
The gitlab template for openshift is at fault here.

On Sun, Jul 29, 2018, 22:08 stale[bot] <notifications@github.com> wrote:

[2018-07-29 17:53] anjannath commented on #2384
Still to do..

On Sun, Jul 29, 2018, 10:08 stale[bot] <notifications@github.com> wrote:

[2018-07-30 00:29] #2387 closed

[2018-07-30 01:58] gbraad commented on #2387
You likely would be better of to use the followiunf functionality:
https://docs.openshift.org/latest/minishift/using/run-against-an-existing-machine.html
but to be honest, I am not sure how `oc cluster up` handles this at all. It
would be better to ask in #openshift if this is possible for an all-in-one
deployment.

On Mon, Jul 30, 2018 at 8:29 AM, stale[bot] <notifications@github.com>
wrote:

--

[2018-07-30 08:05] LalatenduMohanty commented on #2459
Resolved via #2613

[2018-07-30 08:05] #2459 closed

[2018-07-30 08:50] praveenkumar commented on #2639
@vinicius-martinez Is it reproducible for you? Can you try to do `minishift delete` and `minishift start` again?

[2018-07-30 08:54] amitkrout commented on #2638
Seems there is problem in my internal switch. Checking it on freshly created switch.

[2018-07-30 11:56] alezzandro commented on #2308
Hi,

Any news on this?

I've the same issue with latest Fedora 28 and minishift v1.21.0+a8c8b37

[code]

The following commands do not solve the issue:
$ minishift delete -f
$ rm -rf $HOME/.minishift/

[2018-07-30 12:24] sergeiwaigant commented on #2544
Same problems here, but with "oc new-app" command.

### General information
Minishift version: v1.21.0+a8c8b37
OS: MacOS
Hypervisor: xhyve

### Steps to reproduce
1. Have a non-default registry called MY-REGISTRY:18443 somewhere.
2. Push some image called MY-IMAGE to it from an external running Jenkins.
3. Set insecure-registry config for minishift or start with parameter, both dont work.
3.1. min

[2018-07-30 13:12] finp commented on #1287
@biels  good question, anyone know?

[2018-07-30 13:41] robin-owen commented on #2635
@amitkrout You're right, as far as I know, the ability to set a static IP address for Hyper-V is not an experimental feature anymore.

[2018-07-30 14:04] amitkrout commented on #2638
Set `--network-netmask 24` or `--network-netmask 255.255.255.0`

@anjannath @gbraad Again i followed the steps and suggestions mentioned above on a fresh setup
[code]
[code]
[code]
[code]
Also i tried it with some other mask length but could not break through it. Please have a look and if possible try from your end once.

[2018-07-30 14:44] Sispheor commented on #2623
So, with the last release
[code]
I can only bypass by setting a fake https proxy URL
[code]

And then
[code]

[2018-07-30 16:31] praveenkumar commented on #2623
@Sispheor, once it fails, can you please execute following and let us the results?

[code]

[2018-07-30 19:37] #2594 closed

[2018-07-30 19:39] LalatenduMohanty commented on #2600
Resolved via #2595

[2018-07-30 19:39] #2600 closed

[2018-07-30 19:44] LalatenduMohanty commented on #1517
Resolved via https://github.com/minishift/minishift/commit/563b6f8e5fd9574d153e4d5c170de4d92aaf16e2 #2616

[2018-07-30 19:44] #1517 closed

[2018-07-30 19:48] LalatenduMohanty commented on #2157
Resolved via #2508

[2018-07-30 19:48] #2157 closed

[2018-07-31 04:42] LalatenduMohanty commented on #2635
Resolved via #2640

[2018-07-31 04:42] #2635 closed

[2018-07-31 04:48] praveenkumar commented on #2582
resolved by #2641

[2018-07-31 04:48] #2582 closed

[2018-07-31 04:50] praveenkumar commented on #2639
Also, check https://bugzilla.redhat.com/show_bug.cgi?id=1608505 looks like there is a bug already filed against it.

[2018-07-31 06:42] anjannath commented on #2308
Maybe this has something to do with selinux?

/cc @praveenkumar

On Mon, Jul 30, 2018 at 5:26 PM, Alessandro Arrichiello <
notifications@github.com> wrote:

--
ANJAN J NATH
nathearthling.me

[2018-07-31 07:07] praveenkumar commented on #2308
@alezzandro Can you paste the output of the following command?

[code]

[2018-07-31 07:16] Sispheor commented on #2623
Here you go.
[code]

[2018-07-31 08:27] alezzandro commented on #2308
Yes I checked SELinux and spent the whole afternoon troubleshooting..

At the end I solved it (and I don't know how it could be possible) with launching again the commands for adding my user to libvirt group (I was already part of libvirt group):

[code]

[2018-07-31 12:28] budhram opened #2643 "Remove CI for b2d and minikube as we are not maintaining"
I think its time to completely remove the CI parts related to b2d and minikube ISO as it is creating more confusion than proving useful.

The one which we care about i.e CentOS iso nightly is working fine https://ci.centos.org/job/minishift-nightly-centos/.

[2018-07-31 13:06] LalatenduMohanty opened #2644 "EAP tests failing for release job"
We enabled the xpass add-on as the root cause of the original failure was fixed. Refer #2582 . However it still fails.  https://ci.centos.org/job/minishift-release/100/consoleFull

Refer #2645 also

[code]

[2018-07-31 13:37] LalatenduMohanty opened #2645 "Disable EAP add-on test for release and nightly job"
We enabled the xpass add-on as the root cause of the original failure was fixed. Refer #2582 . However it still fails.  https://ci.centos.org/job/minishift-release/100/consoleFull , https://ci.centos.org/job/minishift-release/101/consoleFull

https://github.com/minishift/minishift/issues/2644 is created to track the failure.

[code]

[2018-07-31 14:26] praveenkumar commented on #2645
Disable only from the release for time being not from mightly.

[2018-07-31 14:41] LalatenduMohanty commented on #2645
Resolved via #2646

[2018-07-31 14:41] #2645 closed

[2018-08-01 02:57] gbraad commented on #2643
right, so please go ahead. the sooner the better

[2018-08-01 02:58] gbraad commented on #2639
Is this reproducible? Do not see the same behaviour

[2018-08-01 04:34] LalatenduMohanty commented on #2643
Lets check how much downloads we are getting from these ISOs.

[2018-08-01 05:36] LalatenduMohanty opened #2647 "Move htpasswd-identity-provider add-on to Minishift repository"
Move htpasswd-identity-provider add-on to Minishift repository because we expect users need to use it with generic driver.

https://github.com/minishift/minishift-addons/tree/master/add-ons/htpasswd-identity-provider

[2018-08-01 05:45] gbraad commented on #1962
this would be a needs-discussion

[2018-08-01 05:45] gbraad commented on #2601
what is the action we should take here?

[2018-08-01 05:49] praveenkumar commented on #349
@LalatenduMohanty why we reopened this, do you still think we should provide a wrapper around oc command? Personally, I don't think it would be a good effort.

[2018-08-01 06:14] gbraad commented on #2588
@amitkrout I am not sure how this would resolve it...
you mean it is because of the actual proxy does not work as expected?

this is not clear from the issue

[2018-08-01 06:27] LalatenduMohanty commented on #2585
I guess we lack the knowledge to create an proxy server which need `TLS using certificates` for authentication.

[2018-08-01 06:40] gbraad commented on #2585
we do not actually need to authenticate with the certs. it is only to trust
the foreign server.
this is somethimg that alreadycan work, but we can not perform Basic auth
for now.

On Wed, Aug 1, 2018 at 2:27 PM, Lalatendu Mohanty <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-08-01 06:53] LalatenduMohanty commented on #2207
@mshahat  Do you still need `--logging` to work with versions < 3.7.0?

[2018-08-01 06:55] mshahat commented on #2207
Hi @LalatenduMohanty , would be great if it works. at the moment, i'm happy if it's a later version.

Thanks

[2018-08-01 07:13] LalatenduMohanty commented on #364
@minishift/minishift-dev  What should we do with this issue? Can we close this? It is a very old issue and it depends on libmachine code.

[2018-08-01 08:32] amitkrout commented on #2588
@gbraad TBH i thought (without primary investigation) if actual proxy does not work as expected then there might be a chance in wrong integration test behavior. However later i did a basic investigation and found that the integration test proxy code nowhere related to #2587. Unfortunately i forgot to update here.

In this sprint i am going to take this. Sorry for the inconvenience

[2018-08-01 09:07] Sispheor opened #2648 "NO_PROXY no set in env after starting Minishift"
### General information

  * Minishift version:
[code]

* OS: Linux
* Hypervisor: KVM (in nested VM in VMware)

### Steps to reproduce

[code]

### Expected

NO_PROXY is set in the current env session

### Actual

NO_PROXY is not set, need to do it manually with `export NO_PROXY="localhost,<minishift_ip>"`

BTW, same for the OC client. I could be added to the path. After starting I do `export PATH

[2018-08-01 09:17] praveenkumar commented on #2648
when do set it using the following code snip but looks like it only valid till the minishift run happen and that's the reason it doesn't fail in the post cluster up operation. Now to make it available for terminal we need to add it to bashrc file for creating a new file then source it. I am now not sure if that something we should do as part of the code or this is something we can just document.

[2018-08-01 09:29] praveenkumar commented on #2648
Same can be reproduced by below snip.

[code]

[2018-08-01 10:24] gbraad commented on #2615
* if the string does not contain a percen, but reserved characters, the strings not encoded.
  * when the string contains a percent symbol, but not followed by a number (`%` = `%25`), the string is not encoded.
  * if the string contains a percent symbol and reserved characters the string is not encoded,
  * else we assume the string is encoded

However, we are not going to apply any of this logic

[2018-08-01 11:44] praveenkumar commented on #2601
I am still looking how this can be done cleanly. Will update to it soon.

[2018-08-01 13:01] gbraad commented on #2612
https://github.com/openshift/origin/issues/20496

[2018-08-01 14:10] Sispheor commented on #2648
Would be nice to keep the current value if exist. If you finally decide to update it for the user.
[code]

[2018-08-02 06:06] praveenkumar commented on #2511
I am closing this issue, after bit discussion it doesn't make much sense.

[2018-08-02 06:06] #2511 closed

[2018-08-02 08:36] praveenkumar commented on #2648
@gbraad what we can achieve with `proxy-env` command? Are you thinking to modify users bash rc file with that or set the respective value to current session like we do for `docker-env` ?

[2018-08-02 08:47] anjannath commented on #2400
https://github.com/openshift/origin/issues/20497

[2018-08-02 09:18] amitkrout commented on #2647
@LalatenduMohanty Would you please add some more clarification to this such as why we need this ? What benefit it brings to minishift ?

[2018-08-02 10:15] anjannath commented on #2643
@budhram If this is for removing the jobs, then maybe a issue should be created in the https://github.com/minishift/minishift-ci-jobs repo?

[2018-08-02 10:16] amitkrout commented on #2638
@gbraad @anjannath Would you please have a look into it

[2018-08-02 10:25] amitkrout commented on #2631
@yogeshpahilwan Feel free to comment if you still face the same issue

[2018-08-02 10:53] amitkrout commented on #2639
Unable to reproduce it on latest minishift release [v1.22.0](https://github.com/minishift/minishift/releases/tag/v1.22.0)

[2018-08-02 12:32] praveenkumar commented on #2016
@LalatenduMohanty @agajdosi any update on this?

[2018-08-02 22:04] greebean opened #2654 "Minishift Does Not Start Properly With Failed to retrieve dnsmasq leases error"
### General information

  * Minishift version:
v1.22.0+7163416

  * OS: Linux / macOS / Windows
Distributor ID:	SUSE
Description:	SUSE Linux Enterprise Desktop 12 SP3
Release:	12.3

  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox
KVM

### Steps to reproduce

  1. Minishift does not start correctly.  I am unsure how to proceed.

[code]

[2018-08-03 04:40] bjethwan opened #2655 "Proxy not being used for CDK/RHEL unregistration."
### General information
Proxy not being used for CDK/RHEL unregistration.

  * Minishift version: minishift v1.20.0+1bd6d5c/CDK v3.5.0-1
  * OS: Windows 7
  * Hypervisor: VirtualBox 5.2

### Steps to reproduce
[code]
### Expected

### Actual

### Logs

You can start Minishift with `minishift start --show-libmachine-logs -v5` to collect logs.
Please consider posting this on http://gist.github.com/

[2018-08-03 04:46] bjethwan opened #2656 "HTTP Proxy not being used for https://registry.access.redhat.com/v1/_ping"
### General information
[code]

**Otherwise while accessing https://registry.access.redhat.com/v1/_ping from IE while in office network is returning "true" .**

  * Minishift version: minishift v1.20.0+1bd6d5c/CDK v3.5.0-1
  * OS: Windows
  * Hypervisor:  VirtualBox 5.2

### Steps to reproduce

C:\>minishift start --http-proxy=http://company-proxy:8001/ --https-proxy=http://ap-auto.pro
xy.att.com:

[2018-08-03 04:57] praveenkumar commented on #2656
@bjethwan can you provide the following details.

[code]

[2018-08-03 06:02] bjethwan commented on #2656
Hi Praveen,

I ran the commands you gave me, it didn't come out with any new information.

[code]

[code]

`C:\WINDOWS\system32>minishift ssh`
[code]

[code]

[2018-08-03 06:07] praveenkumar commented on #2656
@bjethwan Thanks for providing the details, I can't see proxy details for docker info side. We will look into it soon, which version of windows are you using?

@amitkrout Can you check the latest version of CDK on windows + proxy + VirtualBox, is it reproducible from our end?

[2018-08-03 06:15] bjethwan commented on #2656
You're welcome Praveen.
My laptop is running on Windows 7 Professional with Service Pack 1.
I will be happy to help. Let me know.
-Thanks

[2018-08-03 06:32] amitkrout commented on #2656
@praveenkumar I am not observing any such failure with Win10+CDK-3.5+proxy+VirtualBox. What i can see from @bjethwan m start log is
[code]
might cause the problem

@bjethwan would you please check your proxy setting to allow ```https://mirror.openshift.com```

[2018-08-03 06:41] praveenkumar commented on #2656
@bjethwan What is the version of the VirtualBox you are using?

[2018-08-03 07:41] agajdosi opened #2657 "Move Che add-on tests to Minishift repo"
This is follow up issue for https://github.com/minishift/minishift/issues/2596. Once Che add-on is migrated, we should also migrate its integration tests package from minishift-addons.

[2018-08-03 07:56] praveenkumar commented on #2654
@greebean looks like you already have a running instance as per logs can you do the following and let us know if it still issues for you?

[code]

[2018-08-03 08:18] agajdosi commented on #2016
@praveenkumar From logs on passing PRs it looks fine, no retries reported:
- https://ci.centos.org/job/minishift-pr/4677/consoleFull
- https://ci.centos.org/job/minishift-pr/4674/consoleFull
- https://ci.centos.org/job/minishift-pr/4669/consoleFull
- https://ci.centos.org/job/minishift-pr/4651/consoleFull
- https://ci.centos.org/job/minishift-pr/4648/consoleFull

Can create a PR to remove it, or w

[2018-08-03 10:20] LalatenduMohanty opened #2658 "Make openshift 3.10 as the default version"
https://github.com/openshift/origin/releases/tag/v3.10.0 is released.

[2018-08-03 13:15] adambkaplan opened #2660 "Cannot Set CLI Context for Minishift - empty path to oc"
### General information

  * Minishift version: v1.22.0+7163416
  * OS: macOS 10.13.6 (17G65) High Sierra
  * Hypervisor: xhyve

### Steps to reproduce

  1. `$ minishift start --openshift-version v3.10.0`
  2. Reports error `Could not set oc CLI context for 'minishift' profile: Error during setting 'minishift' as active profile: The specified path to oc '' does not exist`

### Logs

https://gist.

[2018-08-03 13:23] yogeshpahilwan commented on #2631
This is working for me now, the problem was with the Virtualbox not functioning properly. Reinstalled everything and it started working. But, facing with below new issue:

About to run SSH command:
docker pull openshift/origin:v3.9.0
....SSH cmd err, output: Process exited with status 1: Trying to pull repository docker.io/openshift/origin ...
Get https://registry-1.docker.io/v2/: dial tcp 34.201.

[2018-08-03 13:23] greebean commented on #2654
Thank you for the reply.

Info below.  I have tried deleting repeatedly along with deleting the cache.  I also manually removed the directories.  I tried deleting the networks and recreating them, but I seem to continue to have the same problem.  The original output was after running minishift start.  The VM is created and is running, but the status shows OpenShift as stopped.  I am wondering if i

[2018-08-03 15:19] anjannath commented on #2660
Hi Adam, is this reproducible? can you try to do `minishift delete -f` and
start again using `minishift start`

On Fri, Aug 3, 2018 at 7:07 PM, Adam Kaplan <notifications@github.com>
wrote:

--
ANJAN J NATH
nathearthling.me

[2018-08-03 17:02] adambkaplan commented on #2660
After doing `delete-f`, `minishift start` did work properly. Must have been an issue with the VM...

[2018-08-03 17:02] #2660 closed

[2018-08-03 17:08] praveenkumar commented on #2631
This might be a network issue to VM or from the host. Are you behind the proxy or VPN?

[2018-08-03 18:06] LalatenduMohanty opened #2661 "Provide a stable way to provision service catalog with Minishift"
Service catalog not working with openshift-version v3.10.0

### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. $ minishift start --openshift-version v3.10.0 --extra-clusterup-flags --service-catalog

[code]

[2018-08-03 18:28] LalatenduMohanty commented on #2661
[code]

[2018-08-03 20:18] klauern opened #2662 "Minishift Start fails - Error getting host IP: unknown error occurred."
### General information

  * Minishift version: 1.22.0+7163416
  * OS: Windows 10
  * Hypervisor:  Hyper-V

### Steps to reproduce

  1. `minishift profile set shifttest`
  2. `minishift start` (will fail, but this at least bootstraps the images and VM)
  3. `minishift stop`
  4. `minishift start` (2nd time)

### Expected

Minishift starts

### Actual
[code]

### Logs

https://gist.github.com/klau

[2018-08-03 20:18] anjannath commented on #2661
The flags have changed for v3.10, now its --enable <component_name>

minishift start --extra-clusterup-flags "--enable service-catalog" should
work.

On Fri, Aug 3, 2018, 23:58 Lalatendu Mohanty <notifications@github.com>
wrote:

[2018-08-03 21:07] klauern commented on #2662
Here's another log file starting from "scratch" (`minishift stop`, `minishift delete --clear-cache`, `minishift start`):

https://gist.github.com/klauern/b8f89023c7e7b471086d476d971a49b0#file-third-try-log

[2018-08-03 21:22] klauern commented on #2662
Something seems to be erroring in the way it's trying to install the server key:

[code]

[2018-08-04 00:02] praveenkumar commented on #2661
@LalatenduMohanty flags is changed now and recent meeting I told details to @amitkrout  about how to enable the service-catalog flag.

[code]

[2018-08-04 00:44] vinicius-martinez commented on #2639
Ho @praveenkumar, thanks for jumping in.

I don't believe this is the same issue/bug because in my case, both pod and even the openshift webconsole namespace is not deployed, therefore, i think it must be something wrong with the ansible playbook maybe ? How can I debug/trace/view the playbook that is used to deploy OCP ?

┌─[vmartine][skylab][~]
└─▪ oc get pods --all-namespaces
NAMESPACE   NAME

[2018-08-04 00:59] vinicius-martinez commented on #2639
Hi @amitkrout , you're right. After updating minishift to the latest version, everything seems to work just fine.

─[vmartine][skylab][~]
└─▪ minishift version
minishift v1.22.0+7163416
┌─[vmartine][skylab][~]
└─▪ minishift config view
- iso-url                            : centos
- memory                             : 6144
- openshift-version                  : v3.9.0
- vm-driver

[2018-08-04 01:51] klauern commented on #2662
I honestly haven't gotten Minishift/OpenShift working on my computer yet, and I've tried 1.21, 1.22, Openshift Client on Windows for Docker 3.9, 3.10, etc.

There's not been one issue that felt the same, so I've been trying different things to see if I can get OpenShift running **somewhere**, but so far, absolutely no luck within my corporate network.  ON my personal laptop, sure, but that's not w

[2018-08-04 01:53] klauern commented on #2662
For this particular instance, I've gone as far as to attempt to make it a 'clean start', by stopping, removing, and cleaning the cache of the MiniShift profile instance, so I can get some kind of consistently.  Unfortunately, nothing has really appeared different to me, getting as far as creating the Hyper-V machine, but not getting the OpenShift components to work.  I'm not seeing anything debugg

[2018-08-04 02:17] klauern opened #2663 "Minishift Start fails on Hyper-V - VM does not have any nameserver setup"
### General information

  * Minishift version: minishift v1.22.0+7163416e
  * OS: Windows 10
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. `minishift profile set <some new one>`
  2. `minishift start`

### Expected
Minishift starts

### Actual
Minishift VM starts, but OpenShift does not.

### Logs

https://gist.github.com/klauern/f6f54a324a94c8607e56aa2c7b940762

[2018-08-04 08:52] rhnewtron opened #2664 "Minishift "openshift" container dies (api not reachable) under load"
### General information

  * Minishift version: minishift v1.22.0+7163416
  * Openshift: v3.9
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1.  Start Minishift
  2.  Deploy Applications (without request and limit for mem and cpu)
  3.  Increase Pod Count (e.g. scale up spring boot app to more pods)
  4.  tail the log of openshift container

### Expected

When memory pressur

[2018-08-04 10:10] #2395 closed

[2018-08-04 20:00] rhnewtron opened #2665 "Minishift with enabled addons failes to set profile"
### General information

  * Minishift version: minishift v1.22.0+7163416
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Start minishift with a custom profile name
  2. Enable and install addons
  3. Stop Minishift
  4. Start again

### Expected

* addons are executed on every run

### Actual

* addons are only executed on first run, then an error is printed:

[code]

###

[2018-08-06 03:37] bjethwan commented on #2656
@praveenkumar
Hi Praveen,
I am sorry for delayed response.
I am using `VirtualBox-5.2.16-123759-Win.exe `
And I am on Windows 7.

@amitkrout
Hi Amit,
Sure. I will check with the IT team in my office.
BTW, the reason I opened the ticket on minishift instead of internal ticket is that the same http proxy is working perfectly fine when I connect those `https://mirror.openshift.comand redhat docker re

[2018-08-06 04:38] amitkrout commented on #2663
cat /etc/resolv.conf | grep -i '^nameserver' | wc -l | tr -d '
'
SSH cmd err, output: <nil>: 0
FAIL
VM does not have any nameserver setup

@klauern I am not able to reproduce it. Seems there  might be a temporary ssh error during m start. Would you please try it again.

[2018-08-06 04:43] amitkrout opened #2666 "minishift profile set xxxx reports “…: no such file or directory”"
### General information

  * Minishift version: v1.22.0/master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. Make sure no previous minishift configuration should present on the system
  2. Make sure no minishift sub command should run which creates the ```.minishift``` dir
  3.
[code]
  4.

### Expected
Should create ```Test``` pro

[2018-08-06 04:47] amitkrout commented on #2661
It works with ```—extra-clusterup-flags "--enable=*,service-catalog”```. We should update the experimental feature file along with the pr of #2658.
[code]

[2018-08-06 04:50] bjethwan commented on #2656
FYI. I ran into another issue

Stopping the OpenShift cluster...
Unregistering machine
Current Minishift VM is registered, but unregistration failed. Do you want to continue [y/N]?: y
Cluster stopped.

You are deleting the Minishift VM: 'minishift'. Do you want to continue [y/N]?: y
Deleting the Minishift VM...
Minishift VM deleted.

Setting up CDK 3 on host using 'C:\Users\<removed>\.minishift' a

[2018-08-06 05:05] LalatenduMohanty opened #2667 "Replace Origin as OKD in Minishift documentation"
https://blog.openshift.com/okd310release/

[2018-08-06 05:47] LalatenduMohanty commented on #2661
@praveenkumar @minishift/minishift-dev @amitkrout  IMO we can not change the way service catalog with openshift releases. Because changing the command line interface is a pain for users. As per docs it is ` minishift start --openshift-version v3.10.0 --extra-clusterup-flags --service-catalog` and we do the code change to keep it the same.

[1] https://docs.okd.io/latest/minishift/using/experimenta

[2018-08-06 06:11] praveenkumar commented on #2661
@LalatenduMohanty `--extra-clusterup-flags` are always behind experiment and used for what exposed by `oc cluster up` not minishift as flag suggest so this change happen from oc cluster up side so I don't think it's good idea to manipulate this from minishift side.

[2018-08-06 07:11] radekvokal opened #2668 "docker doesn't start in boot2docker image"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

minishift v1.22.0+7163416
libvirt + KVM
Fedora release 28 (Twenty Eight)

### Steps to reproduce

  1.  minishift start
  2.  VM fails to start
  3.

[code]
4. ssh to boot2docker image
5. docker ps - doesn't work
6.  /etc/init.d/docker start doesn't start
7. docker da

[2018-08-06 08:37] amitkrout commented on #2668
@radekvokal centos has replaced b2d as default image for minishift. It seems the failure is caused by some old configuration in ```.minishift``` being used by m start. I would suggest first clean the environment, i mean delete ```~\.minishift``` dir then try again.

[2018-08-06 08:49] LalatenduMohanty commented on #2661
@praveenkumar I would strongly suggest that we keep our user interfaces constant and I think that's one of the area where Minishift should add value. Also it is time we move --extra-clusterup-flags out of experimental feature.

[2018-08-06 09:17] gbraad commented on #2661
extra clusterup flags aren't things we should ectually expose. We can not
verify them. This is the motivation to call them "experimental". Else we
will get an influx of issues that are "supposed to work" when they related
to untested workflow or parameters. besides, do we have any indication of
this usage or need?

we need this flag ONLY for the use of service catalog fo the current
release, as in

[2018-08-06 09:42] LalatenduMohanty commented on #2661
@gbraad thats a valid point what about keeping it  same `minishift start --openshift-version v3.10.0 --extra-clusterup-flags --service-catalog` ?

[2018-08-06 09:43] gbraad commented on #2661
I thought it is currenly like this... so, we will keep it also as-is...
confused about the question if we should keep it as such...

[2018-08-06 10:09] rhnewtron commented on #2664
Once https://github.com/minishift/minishift/issues/2665 is solved, a custom addon can be used to set the container priority as a workaround.

[2018-08-06 10:10] LalatenduMohanty commented on #2661
I think I agree that we should not interpret  anything passed through`--extra-clusterup-flags ` as it is against the original design. However the issue is how to provide a way (may be a new) for users to start service-catalog and it should not change even if the underlying "oc cluster up" changes.

[2018-08-06 10:31] LalatenduMohanty commented on #2661
I guess the best way to do is `--enable-component string                   Enable cluster up components: [automation-service-broker, rhel-imagestreams, service-catalog, template-service-broker]`

Basically it would be used for components which are disabled by default i.e. check "oc cluster up usage"  `Disabled-by-default components: automation-service-broker, rhel-imagestreams, service-catalog, te

[2018-08-06 10:52] LalatenduMohanty commented on #2668
@radekvokal  Are you sure you are running boot2docker ISO because from https://github.com/minishift/minishift/releases/tag/v1.19.0 CentOS has been the default ISO with Minishift.

Please provide output of `minishift config view ` and the debug logs i.e. you can start Minishift with `minishift start --show-libmachine-logs -v5` to collect logs. Please consider posting this on http://gist.github.com/

[2018-08-06 11:10] radekvokal commented on #2668
Removing configuration file really helped. Thanks folks!

[2018-08-06 11:10] #2668 closed

[2018-08-06 11:17] LalatenduMohanty commented on #2666
@amitkrout @anjannath I can not reproduce this issue on mac. Is it a windows specific issue?

[2018-08-06 11:26] LalatenduMohanty commented on #2666
It is reproducible when ~/.minishift directory is not present.

[code]

[2018-08-06 21:40] bahadurbaniya opened #2671 "Default username password does not work in virtual machine login, minishift could not setup OpenShift"
### General information

  * Minishift version: minishift v1.22.0+7163416
  * OS:  Windows 10 version 1607
  * Hypervisor: Hyper-V
  * Virtual machine : CentOS LInux 7 (Core) Kernel 3.10.0-862.6.3.el7.x86_64 on an x86_64

**HyperV Virtual switch "hyperv"**
![hyperv virtual switch](https://user-images.githubusercontent.com/1377938/43752707-9ea7002c-9a45-11e8-8ed2-63fa926b86c3.png)

`minishift start

[2018-08-07 04:32] zhangtbj opened #2672 "How can I use 80/443 for my own service"
### General information

  * Minishift version: `minishift v1.21.0+a8c8b37`
  * OS: Mac
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Start a new minishift
  2. create a new kube service:
[code]
  3. Then access this service and report:
[code]
  4.  But my service config is correct.
After I change service to use port 81 and 444, then it works fine. So I think minishift is using the 80/4

[2018-08-07 07:31] LalatenduMohanty commented on #2596
Resolved via #2653

[2018-08-07 07:31] #2596 closed

[2018-08-07 07:47] LalatenduMohanty commented on #2578
Resolved via #2650 .

[2018-08-07 08:28] anjannath commented on #2672
Minishift do not use those ports for itself. This is more of an OpnShift related issue than minishift, maybe try asking on the #openshift-dev irc channel or open an issue in https://github.com/openshift/origin.

mean while we'll try to verify if this is the case also with `oc cluster up`

[2018-08-07 09:26] LalatenduMohanty commented on #2643
Today the download numbers for b2d is `4,739` lets see if it changes after couple of week.

[1] https://www.somsubhra.com/github-release-stats/?username=minishift&repository=minishift-b2d-iso

[2018-08-07 09:27] LalatenduMohanty commented on #2643
We can remove CI for minikube ISO image for sure as we have removed the code from Minishift.

[2018-08-07 09:29] LalatenduMohanty commented on #2644
@agajdosi @amitkrout Can you take a look.

[2018-08-07 09:51] praveenkumar commented on #2661
@LalatenduMohanty yes but then are you suggesting to add one more start flag, there is also a concept of `oc cluster add` which add the component. I think we should first think those over instead of blocking the 3.10 PR.

[2018-08-07 10:40] agajdosi opened #2673 "command "addons list" fails when Minishift home directory is empty"
### General information

  * Minishift version: master
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. delete Minishift home
  2. run `minishift addons list`

### Expected

Prints out all installed addons.

### Actual

[code]

[2018-08-07 10:44] amitkrout opened #2674 "Add pr template for minishift"
Fix of issue(s):

How to test:

1.
2.
3.
4.

[2018-08-07 10:45] amitkrout commented on #2674
As per one of the retro item this is the pr template that me and @agajdosi have agreed upon. @minishift/minishift-dev please provide your valuable feedback

[2018-08-07 10:59] agajdosi commented on #2667
Should Minishift now be Miniokd?

[2018-08-07 11:06] LalatenduMohanty commented on #2256
Resolved via #2652

[2018-08-07 11:06] #2256 closed

[2018-08-07 11:28] budhram commented on #2667
Ha haa :) What about downstream?

[2018-08-07 12:57] LalatenduMohanty commented on #2674
Is there a way in github to add a template for PR similar to issue template?

[2018-08-07 13:11] agajdosi opened #2675 "Cluster up fails with getsockopt: connection refused ()"
### General information

  * Minishift version: 1.22
  * OS: RHEL 7.5
  * Hypervisor: KVM

### Steps to reproduce

[code]

Any ideas what to try?

### Logs

Full log here: https://gist.github.com/agajdosi/11008377248500a4dd6e9c01607d65f0

[2018-08-07 13:29] LalatenduMohanty commented on #2673
I can not reproduce this on macOS

[code]

[2018-08-07 13:37] 123avi commented on #2666
Getting the same
```  ./minishift profile set tutorial ```
result :
``` Cannot create file '/home/avi/minishift-1.22.0/config/global.json': open /home/avi/minishift-1.22.0/config/global.json: no such file or directory ```

[2018-08-07 14:31] amitkrout commented on #2674
@LalatenduMohanty [1] is the current template we are using for Issue. Probably we need similar kind of mechanism for pr also.

[1] https://github.com/minishift/minishift/blob/master/.github/ISSUE_TEMPLATE.md

[2018-08-07 14:34] anjannath commented on #2673
@agajdosi Most probably this is because go-bindata not packing che, try a `make clean` and then `make`.

[2018-08-07 14:44] anjannath commented on #2671
@bahadurbaniya The credetials you referred to are for logging into the OpenShift console not the CentOS VM, so they won't work.

However looking at the logs, OpenShift should have started properly. To get the openshift console url you can use the command `minishift console --url`.

I would suggest to start clean, first delete any existing VMs you have using `minishift delete -f` then start again u

[2018-08-07 15:12] agajdosi commented on #2673
@anjannath that fixes it, thanks.

[2018-08-07 15:12] #2673 closed

[2018-08-07 15:13] agajdosi commented on #2674
@LalatenduMohanty @amitkrout Seems it should be possible: https://blog.github.com/2016-02-17-issue-and-pull-request-templates/

[2018-08-07 17:57] pmorie opened #2676 "Enable mutating and validating webhooks by default"
Mutating and validating webhooks are central to the story of extending Kubernetes. We should ensure the experience of evaluating or running Kubernetes extensions that use these features is as painless as possible in minishift.

When getting [Knative](https://github.com/knative) to run with OpenShift, we found this to be the formula to use to get webhooks enabled:

https://github.com/knative/docs/b

[2018-08-07 18:06] LalatenduMohanty commented on #2666
Resolved via #2670

[2018-08-07 18:06] #2666 closed

[2018-08-07 20:44] bahadurbaniya commented on #2671
Line from the  `minishift start` log:

`-- Checking for IP address ... FAIL
   Error determining IP address`

`>minishift console --url`
Cannot access the OpenShift console. Verify that Minishift is running. Error: IP not found

[2018-08-07 20:56] bahadurbaniya commented on #2671
If I want to see ethernet configs of VM when OpenShift console is not working, VM username and password would  be helpful

[2018-08-07 23:27] bahadurbaniya commented on #2671
First, second, third `minishift start` failed  with error `-- Checking for IP address ... FAIL Error determining IP address`

Fourth 'minishift start` gave me ipv6 address to login.

Fifth which is my last attempt, now I am able to login to OpenShift  with ipv4 address.

Thanks for helping out.

[2018-08-07 23:27] #2671 closed

[2018-08-08 05:04] praveenkumar opened #2677 "Provide a way to modify the kube-apiserver config same as openshift-apiserver."
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

With 3.10 now there is now 2 different config one for openshift-apiserver which you can modify with the `minishift config set` command and other one is for kube-apiserver for which we don't have any straightforward way to modify.

We might need to add flag to `openshi

[2018-08-08 05:18] praveenkumar commented on #2675
@agajdosi In the message it says `Error: timed out waiting for OpenShift container "origin"
   WARNING: 192.168.42.206:8443 may be blocked by firewall rules` this mean you might have check the firewall setting or if you are using the central CI then might be enable that port from the UI.

[2018-08-08 05:33] amitkrout commented on #2644
I am looking into it

[2018-08-08 06:11] LalatenduMohanty commented on #2116
@felixbecker The steps to run service-catalog has changed in Minishift. Refer https://docs.okd.io/latest/minishift/using/experimental-features.html#enabling-experimental-oc-flags

I am closing the issue as `MINISHIFT_ENABLE_EXPERIMENTAL=y minishift start --service-catalog` is not a valid way of running service catalog

[2018-08-08 06:11] LalatenduMohanty commented on #2116
Let us know if you face the issue again

[2018-08-08 06:11] #2116 closed

[2018-08-08 06:37] gbraad commented on #2661
the question is what we do... provide the enabled components on start with `oc cluster up`, or we perform apost cluster and do `oc cluster add`. I prefer the latter option, because in that case the cluster is up and usable.

[2018-08-08 06:41] praveenkumar commented on #2661
@gbraad  Again what would be the user-facing option for it? I do like that idea to make it part of post cluster up.

[2018-08-08 07:01] agajdosi commented on #2675
@praveenkumar Joke is I am using same image on multiple instances and on some it runs fine, on some it just can't start.

[2018-08-08 07:07] gbraad commented on #2661
we are abstracting the runtime for OpenShift, but shoudln't introduce management tools to maintain OpenShift or setup the cluster. If we do, we are doing the wrong thing... this should be part of the management tooling of `oc`/OpenShift... and we can do this; document the use of `oc cluster add ...`

[2018-08-08 07:53] agajdosi commented on #2675
@praveenkumar Also, if I am not mistaken, this is problem of `oc cluster up` which is called in the VM Minishift creates. So the rules on host should not play a role, is this right?

[2018-08-08 08:31] amitkrout commented on #2644
<img width="512" alt="image" src="https://user-images.githubusercontent.com/19851115/43825471-5d6f95de-9ae4-11e8-8290-a33af62a7c7c.png">
Mostly the template eap71-tx-recovery-s2i is failing because readiness probe is failing after updating the deployment config. However sometime all the pod services rollout successfully without updating dc using readiness probe. IMO we are duplicating checks of se

[2018-08-08 10:01] gbraad commented on #2661
If I think about it more, I wonder why we even consider a new command.

If we can do `oc cluster add ...` why not wrap this in an actual add-on and use existing infra to solve this, as an add-on can invoke any `oc` command, therefore also `oc cluster add`.

[2018-08-08 10:04] praveenkumar commented on #2661
@gbraad you mean running this command using the addon like something following?

[code]

[2018-08-08 10:07] gbraad commented on #2661
Yep

[2018-08-08 11:13] #2053 closed

[2018-08-08 12:20] agajdosi commented on #2644
Some cool findings, @amitkrout. For the `oc delete all --all`, can you please report that to OKD? It seems like a bug if that command does not delete all resources.

+1 for keeping the runs in separate projects and delete them after each deployment :+1:, was thinking about that also.

Are you sure it is due to memory?

[2018-08-08 21:31] cunningt opened #2679 "minishift : could not set oc CLI context for 'minishift' profile : path to oc does not exist when stop => start"
### General information

  * Minishift version: minishift v1.22.0+7163416
  * OS: Mac OS X
  * Hypervisor: xhyve

### Steps to reproduce

  1. minishift delete; minishift start

lilguylaptop:~ cunningt$ minishift start
-- Starting profile 'minishift'
-- Check if deprecated options are used ... OK
-- Checking if https://github.com is reachable ... OK
-- Checking if requested OpenShift version 'v3.9

[2018-08-09 05:11] amitkrout commented on #2644
right, before creating the issue I want to confirm the same behaviour on local ```oc cluster up``` environment

Its clearly mention in the attached snap shoot. So nothing encourages me to doubt on other resources. Here mostly memory issue is due to resources in use after ```oc delete all —all``` in the same namespace. So i think 4GB memory would be enough to run template in a fresh namespace.

[2018-08-09 05:34] amitkrout commented on #2677
Pasting the exact lines of **Veer Muchandi**

I tried that option. It seems to bring up the ValidationAdmissionWebhook and MutatingAdmissionWebhook per the logs here:

$ oc logs -f master-api-localhost  -n kube-system | more
..
..
I0808 00:18:11.861983       1 plugins.go:149] Loaded 1 admission controller(s) successfully in the following order: MutatingAdmissionWebhook.
I0808 00:18:11.862037

[2018-08-09 07:14] endejoli opened #2681 "Status: unknown flag: --signature-verification while starting minishift container"
### General information

  * Minishift version:  minishift v1.22.0+7163416
  * OS: Linux / macOS / Windows: Linux (Windows subsystem for Linux)
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox : Generic driver (https://docs.okd.io/latest/minishift/using/run-against-an-existing-machine.html)

### Steps to reproduce

  1. ./minishift start  --vm-driver generic --remote-ipaddress 52.8.87.184 --remo

[2018-08-09 07:34] praveenkumar commented on #2679
@cunningt Thanks for bug report, @amitkrout can you try it on the Mac OSx and see if that is something reproducible?

[2018-08-09 07:44] praveenkumar commented on #2681
@endejoli what is on your remote machine, does it have fedora/centos or RHEL or something else?

[2018-08-09 07:45] praveenkumar commented on #2677
@amitkrout Thanks for putting it here :100:

[2018-08-09 07:51] amitkrout commented on #2644
Using proposed solution 1 but keeping the memory of 4GB

[2018-08-09 08:09] endejoli commented on #2681
cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"

CENTOS_MANTISBT_PROJECT="CentOS-7"
CENTOS_MANTISBT_PROJECT_VERSION="7"
REDHAT_SUPPORT_PRODUCT="centos"
REDHAT_SUPPORT_PRODUCT_

[2018-08-09 08:15] agajdosi opened #2682 "Minishift stop often fails with Xhyve driver"
Integration tests on Mac often fails on `minishift stop`. Similar behaviour was reported in #2067.
I am able to reproduce only if I follow the steps which are part of basic.feature.

### General information

  * OS: macOS
  * Hypervisor: xhyve

### Steps to reproduce

  1. run basic.feature

### Logs

Steps executed before the stop:
[code]
And here is the stop:
[code]

[2018-08-09 09:25] amitkrout commented on #2679
@praveenkumar @cunningt I am unable to reproduce this. Did a fresh start -> delete -> start
[code]
[code]
[code]

[2018-08-09 09:48] LalatenduMohanty commented on #2679
I can not reproduce this too. My guess is something gone wrong in the setup. we need to uninstall Minishift and start fresh.

[2018-08-09 10:00] LalatenduMohanty commented on #2644
Thats not correct. We are creating the readiness probe with `oc set` command and then checking it.

This something seems correct. If it is a resource issue we will see similar issues.

sounds good to me.

[2018-08-09 10:07] praveenkumar commented on #2681
@endejoli looks like you have a different package of docker which does not come from the official repo of centos. I spinned a cento-7.5 vm on the digital ocean and able to provision without any issue.

[code]

[2018-08-09 10:31] pipinet commented on #2679
same error.
[code]

[2018-08-09 10:48] anjannath opened #2683 "Use PersistentPreRun to stop version, completion commands from creating instance dirs"
Right now we are doing a check in `root.go` to stop PersistentPreRun from executing for the two commands, Instead we should use `cobra.Command.PersistentPreRun` to achieve the same.

https://github.com/minishift/minishift/blob/a9f8d156fdb5864fba88baeac98bdce78ac84bf6/cmd/minishift/cmd/root.go#L65-L68
--------------------------------------------------------------------------
https://github.com/mini

[2018-08-09 10:51] endejoli commented on #2681
that looks like a pretty old version. I followed this documentation to install docker => https://docs.docker.com/install/linux/docker-ce/centos/#install-docker-ce-1

[2018-08-09 11:31] pipinet commented on #2679
try it will fix this error.
[code]
because ~/.minishift/machines/minishift-state.json   OcPath is empty.

[2018-08-09 11:42] VeerMuchandi commented on #2677
@amitkrout Thanks for posting here.
@praveenkumar Any next steps for me to figure out?

[2018-08-09 12:40] agajdosi commented on #2675
When using OKD v3.10, the result has a little bit different look:

[code]

[2018-08-09 13:04] cunningt commented on #2679
Running the steps above that @pipinet mentioned fixed it for me as well, although I removed my entire .minishift and started fresh.

Is there a way to specify the path to oc with minishift config so I wouldn't have to blow away my minishift installation if I ran into this again?

[2018-08-09 13:13] praveenkumar commented on #2679
@cunningt @pipinet it should automatically create that config file and put the path to that location but looks like something not behaved as expected but if you again hit the same issue then might be you can put what inside ~/.minishift/machine/ directory.

[2018-08-09 13:50] kadel opened #2685 "Unable to start minishift after it was stopped when using OpenShift 3.10.0"
### General information

  * Minishift version: v1.21.0+a8c8b37
  * OS: macOS
  * Hypervisor: VirtualBox

### Steps to reproduce

My minishift configuration
[code]

  1.  minishift start
  2.  minishift stop
  3.  minishift start

### Expected
running openshift in minishift vm

### Actual

[code]

[2018-08-09 14:48] praveenkumar commented on #2685
@kadel as error suggest what actually happen when you first-time starts than those components actually enabled as expected but after stop and start doesn't create again the base dir but use what already exist and that have details about it. Best you can do if you are enabling any component in the first start then later you don't need to use same flag.

We will try to fix that soon.

[code]

[2018-08-09 14:50] gbraad commented on #2612
@LalatenduMohanty I think this is a blocker for deployments in a proxied environment.

[2018-08-09 16:41] ywliow opened #2686 "minishift cannot start on centos in Virtualbox 5.2.16"
### General information

  * Minishift version: 1.22
  * OS: Linux - Centos 7
  * Hypervisor: VirtualBox

### Steps to reproduce

[root@Minishift bin]# ./minishift start --vm-driver=virtualbox
-- Starting profile 'minishift'
-- Check if deprecated options are used ... OK
-- Checking if https://github.com is reachable ... OK
-- Checking if requested OpenShift version 'v3.9.0' is valid ... OK
-- Che

[2018-08-09 16:46] vorburger opened #2687 "Download of large files like ISO and OC should resume"
### General information

  * Minishift version: v1.22.0+7163416
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

due to https://github.com/minishift/minishift-centos-iso/issues/259, I have to run minishift multiple times.

### Expected

In an ideal world, it could perhaps resume download for already partially grabbed OC and ISO binaries.

Safely of course, with some checksum.

### Actual

[2018-08-10 04:06] gbraad commented on #2682
This is very likely related to an issue with the driver and system updates. Usually when EOF were noticed, it was related to a permission error; files were still locked.

[2018-08-10 06:46] LalatenduMohanty commented on #2683
Resolved via https://github.com/minishift/minishift/commit/8ca303ac99a28038b2d606d55df3bc5c5d6fbf4f

[2018-08-10 06:46] #2683 closed

[2018-08-10 08:28] agajdosi opened #2688 "Add scenario for "minishift addons list --verbose""
--verbose output of addons list is not tested now and so we should add it. Output of the command:

[code]

[2018-08-10 10:03] kadel commented on #2685
thank you @praveenkumar  this helps

[2018-08-10 11:17] amitkrout commented on #2644
@LalatenduMohanty @agajdosi https://github.com/openshift/origin/issues/20600

[2018-08-10 14:02] robin-owen commented on #2667
Most of the references to Origin in the documentation are related to image names, file paths, and URLs. There's only one reference explicitly to OpenShift Origin (in **_contributing/writing_docs.adoc_**).

[2018-08-10 14:39] cunningt commented on #2679
@praveenkumar I'm hitting it repeatedly and have it reproduced currently - what can I put in ~/.minishift/machine/?    Or did you want the contents of something in ~/.minishift/machine for debugging?

[2018-08-10 14:57] praveenkumar commented on #2679
@cunningt Can you put the content of `ls -al ~/.minishift/machine` and also put conent of whatever present on the `minishift-state.json` or `minishift.json`?

[2018-08-10 15:12] cunningt commented on #2679
`lilguylaptop:machines cunningt$ pwd
/Users/cunningt/.minishift/machines
lilguylaptop:machines cunningt$ ls -al
total 40
drwxr-xr-x   7 cunningt  staff   224 Aug  8 17:52 .
drwxr-xr-x  12 cunningt  staff   384 Aug  8 17:48 ..
drwx------  10 cunningt  staff   320 Aug 10 10:12 minishift
-rw-r--r--   1 cunningt  staff   258 Aug 10 10:13 minishift-state.json
-rw-r--r--   1 cunningt  staff  5704 Aug  8

[2018-08-10 18:10] endejoli commented on #2681
Isn't it a good idea to support the latest docker version, also mentioned in docker documentation? I believe that is what most people will( or should) follow anyway for installing docker.  Centos looks like doesn't care about updating the docker versions

[2018-08-10 19:08] LalatenduMohanty commented on #2685
@kadel We are looking in to how we can keep the user experience around service catalog constant around service catalog #2661.

[2018-08-10 19:10] LalatenduMohanty commented on #2685
Also can we close the bug as we have #2611 ?

[2018-08-11 10:15] praveenkumar commented on #2687
@vorburger Thanks for the bug report but as the workaround I can provide a hack, we will look the resume part. :)

[code]

[2018-08-11 10:37] LalatenduMohanty commented on #2647
@amitkrout  When generic driver is used for used for machines available through public IPs (example virtual machines in public cloud ) then using minishift to provision OpenShift in it can be a security issue as the user name name password to login to the openshift instance is constant. This add-on will help user to custom create user/password, so going to be useful to the user.

[2018-08-12 12:49] #2412 closed

[2018-08-13 05:39] amitkrout commented on #2615
@jeka Would you please use the bits in [1] and let us know if it solves the problem

[1] http://artifacts.ci.centos.org/minishift/minishift/pr/2651/

[2018-08-13 07:14] #2688 closed

[2018-08-13 08:12] agajdosi commented on #2137
@budhram Big :+1: for the ability to list, install and update the addons from the community repository. It would also help the users to have more up-to-date addons.

Last but not least this feature would lower the pressure to release CDK with all addons up-to-date, if there is a bad timing of CDK and eap-cd/xpaas/che releases it would not be big problem no longer. We could just update the reposito

[2018-08-13 08:14] praveenkumar commented on #2686
@ywliow As per documents `VirtualBox version 5.1.12 or later is required. Ensure that you download and install VirtualBox before using the embedded drivers`, so this should be good. @amitkrout @agajdosi Can you please check this once?

[2018-08-13 09:15] agajdosi commented on #2686
@ywliow I am not able to reproduce on RHEL7 with minishift 1.22 and VirtualBox 5.2.16. What is your version of VB, is it on PATH?

[2018-08-13 10:01] budhram commented on #2137
The another aspect is if we allow this then we might need to keep our community add-ons update to date and workable all the time else if user try to install/apply community add-on and found that it is not working it is likely that he would create issues.
Now, we need to decide whether we would consider this aspect and implement this feature and let the issues come in or not implement this feature

[2018-08-13 10:07] budhram opened #2692 "CentOS nightly jobs are failing always post #2582"
After doing #2582 , our centos nightly has started to continuously failing, not a single success. See https://ci.centos.org/job/minishift-nightly-centos/.

First job which failed https://ci.centos.org/job/minishift-nightly-centos/234/.

We should try to find why our jobs https://ci.centos.org/job/minishift-nightly-centos/246/console (or similar) are failing. These are failing mostly in `eap-app` d

[2018-08-13 10:11] kadel commented on #2685
fine by me ;-)

[2018-08-13 10:13] amitkrout commented on #2692
@budhram Already we have a pr #2680.

[2018-08-13 10:44] vorburger commented on #2687
@praveenkumar yeah I figured, that's what I do every time I hit DL issues in minishift.

[2018-08-13 11:32] LalatenduMohanty commented on #2644
Resolved via https://github.com/minishift/minishift/pull/2680

[2018-08-13 11:32] #2644 closed

[2018-08-13 11:36] budhram commented on #2692
Will close only tomorrow once our nightly job starts passing :)

[2018-08-13 11:36] LalatenduMohanty commented on #2692
@budhram It is a duplicate of https://github.com/minishift/minishift/issues/2644

[2018-08-13 11:37] LalatenduMohanty commented on #2692
We should not revert but should fix the actual issue.

[2018-08-13 11:40] LalatenduMohanty commented on #2667
Nope because OpenShift means the same thing as before. As @robin-owen mentioned we should change to OKD where it meant OpenShift Origin.

[2018-08-13 11:49] #1396 closed

[2018-08-13 11:56] agajdosi commented on #2682
@gbraad Cleaned .kube, .minishift folders, installed all updates, restarted the computer, having latest xhyve driver, but issue still persist. :cry:

[2018-08-13 12:57] amitkrout commented on #2686
@ywliow I am unable to reproduce it. ```minishift start --vm-driver virtualbox`` went fine on ```centos + VirtualBox (5.2.16r123759)```.

Form the console log i am sure that your VirtualBox installation is not correct. Can you run ```VirtualBox``` in your terminal and check if it reports any error. If yes fix them first else reinstall VirtualBox and try again.

[2018-08-13 13:04] LalatenduMohanty commented on #2667
We need to change some log, console messages too. e.g. `cmd/minishift/cmd/openshift/list_versions.go:           atexit.ExitWithMessage(1, fmt.Sprintf("Error while trying to get list of available Origin versions: %s", err.Error()))` should be `cmd/minishift/cmd/openshift/list_versions.go:           atexit.ExitWithMessage(1, fmt.Sprintf("Error while trying to get list of available Origin OKD version

[2018-08-13 13:17] LalatenduMohanty opened #2694 "Code/log/comment changes required for OKD branding"
Some simple changes required in code for https://blog.openshift.com/okd310release/

For documentation changes refer  https://github.com/minishift/minishift/pull/2693

Example `cmd/minishift/cmd/openshift/list_versions.go:           atexit.ExitWithMessage(1, fmt.Sprintf("Error while trying to get list of available Origin versions: %s", err.Error()))` should be `cmd/minishift/cmd/openshift/list_vers

[2018-08-13 14:18] ywliow commented on #2686
Hi,
OS verion: CentOS Linux release 7.5.1804 (Core)
Minishift path "/usr/local/bin"
Virtualbox: 5.2.16 r123759

I'm able to install Openshift origin 3.9 on the same host and running on different guest/VM.
Please where to get the error log.
Please advise any setting I need to configure in virtualbox and where to get the error log. Thank you

Regards

[2018-08-13 16:54] amitkrout commented on #2686
@ywliow I am using the same versions what you mentioned above.

This is fine because Origin installation does not need any virtualization layer on the host. But Minishift creates a VM and inside the VM ```oc cluster up``` is invoked as part of the installation process.

Use ```--show-libmachine-logs``` with verbose level  5 to get the installation log. For example ```minishift start --vm-driver vi

[2018-08-14 08:11] praveenkumar commented on #2679
@cunningt your oc path is already in `minishift-state.json` which it makes use for CLI context, from our end we are not able to reproduce it. I tried deleting everything and started fresh or even with the profile :(

[2018-08-14 08:32] #2647 closed

[2018-08-14 09:03] budhram commented on #2692
@LalatenduMohanty and @amitkrout , looks the #2680 has fixed our nightly job.
It started passing now. https://ci.centos.org/job/minishift-nightly-centos/247/
I am closing it now.

[2018-08-14 09:03] #2692 closed

[2018-08-14 09:18] ywliow commented on #2686
Hi @praveenkumar @amitkrout @LalatenduMohanty @agajdosi

Here is my System configuration:
Host OS: MacOS 10.13
Virtualization: Virtualbox 5.2.16
Guest OS: CentOS Linux release 7.5.1804 (Core)

Is the error due to Virtualbox on MacOS 10.13 that does not have virtualbox VM driver?

[2018-08-14 11:06] anjannath commented on #2685
Closing as suggested!

[2018-08-14 11:06] #2685 closed

[2018-08-14 11:48] pjos commented on #2675
Running into, what looks like, the same  symptom but with CDK 3.5.0-1.

- CDK v3.5.0-1 (minishift v1.20.0+1bd6d5c)
- OS Windows 10 (1709)
- Hypervisor: Hyper-V

[code]

[2018-08-14 12:37] agajdosi commented on #2597
More information about the issue at its original location: https://github.com/minishift/minishift-addons/issues/132

[2018-08-14 12:43] agajdosi opened #2696 "Che integration tests needs timeouts on individual steps"
Migrated minishift-addons issue: https://github.com/minishift/minishift-addons/issues/127

[2018-08-14 12:57] #2674 closed

[2018-08-14 13:03] amitkrout commented on #2675
I am also seeing the same error with similar setup + ```VirtualBox + ocp 3.10.14 + proxy```

[code]

[2018-08-14 13:04] pjos commented on #2675
@agajdosi. CDK 3.5.0-1 with OCP 3.10.14 fails every time for me on my corporate laptop which is connected behind a corp-proxy, Hyper-V with static IP on the VM.  Our previous configuration running CDK 3.4.0-2 hosting OCP 3.9.14 has been working perfectly. I will have to make some more test with different OCP versions to see if this problem affects only OCP 3.10.14 .

And here comes the interesting

[2018-08-14 14:01] ywliow commented on #2686
@amitkrout
Where you want to start minishift (on host or on guest) ? i think you are trying it on guest right ? if yes can you try it on host OS ?
Minishift on guest OS.

@praveenkumar @amitkrout @LalatenduMohanty @agajdosi
I performed another installation on the following platform;
Host OS: Windows 10
Virtualization: Virtualbox 5.2.16
Guest OS: CentOS Linux release 7.5.1804 (Core)
I get the same

[2018-08-14 15:05] amitkrout commented on #2686
@ywliow You are doing wrong. I would suggest follow the doc [1] properly.

However i am writing the steps to run minishift on your MacOS
[code]
**NOTE : you don't need a ```CentOS``` guest OS because by default ```minishift starts --vm-driver virtualbox``` download and provision ```CentOS``` iso for you and runs a single node cluster inside the ```CentOS``` VM**

[1] https://docs.okd.io/latest/min

[2018-08-14 15:35] ywliow commented on #2686
@gbraad @amitkrout

I managed to install minishift successfully on;
Host OS: Windows 10
Virtualization: Virtualbox
Guest OS: Pull from Github when run minishift on Window 10

My initial setup was;
Host OS: Windows 10
Virtualization: Virtualbox
Guest OS: Centos. (I thought of installing minishift in Guest OS. I guest it not supported option)

I will try homebrew for MacOS.

Thank you all.

[2018-08-14 15:35] #2686 closed

[2018-08-14 16:04] amitkrout commented on #2686
Still you can run minishift on guest VM running on host those supports nested virtualization like linux, macOS. If you want to use VirtualBox driver inside the guest OS then you need to install VirtualBox again inside the guest OS. See the above comment https://github.com/minishift/minishift/issues/2686#issuecomment-412587771. Then you can run ```minishift start --vm-driver virtualbox``` inside th

[2018-08-14 16:28] amitkrout commented on #2639
@vinicius-martinez I am not able to reproduce it on minishift v1.21.0 too. Might be some temporary issue you faced that moment. As of now i am closing the issue, will reopen it or create a new one if this occurs again and again.

[2018-08-14 16:28] #2639 closed

[2018-08-14 20:26] pjos opened #2698 "Apply registry-route fails on CDK minishift with OCP 3.10.14"
### General information

  * Minishift version: CDK 3.5.0 (minishift 1.20.0)
  * OS: Windows 10 1803
  * Hypervisor: Hyper-V

### Steps to reproduce

  1.  Successfully install and start CDK minishift
  2.  `minishift addons apply registry-route`

### Expected
Successful registry route configuration

### Actual
[code]

### Logs
CDK versions
[code]

Origin/OKD versions
[code]

You can start Minishi

[2018-08-14 20:44] mechevarria opened #2699 "How to apply Che addon?"
Now that the Che addon is part of the default addons, how do you apply it?  I don't see it listed in the defaults and you can no longer install it from the minishift-addons repo
[https://github.com/minishift/minishift-addons/tree/master/add-ons/che](https://github.com/minishift/minishift-addons/tree/master/add-ons/che)

### General information

  * Minishift version: v1.22.0+7163416
  * OS: Linux

[2018-08-15 08:31] praveenkumar commented on #2699
@mechevarria can you try below and then let us know if still have the same issue?

[code]

[2018-08-15 08:31] agajdosi commented on #2699
Hi @mechevarria, thank you for reporting. This is a temporary problem, Che add-on will be present in next Minishift build.

To get it working now, you have two options:
- build Minishift from latest master, more information at the [Developing Minishift guide](https://docs.okd.io/latest/minishift/contributing/developing.html#build-minishift),
- install the add-on from this repository manually.

For

[2018-08-15 08:53] LalatenduMohanty commented on #2667
Resolved via https://github.com/minishift/minishift/pull/2693

[2018-08-15 08:53] #2667 closed

[2018-08-15 09:09] LalatenduMohanty opened #2700 "Fix typo in Che add-on readme file."
s/GitHub client secred to be used in Che workspaces/GitHub client secret to be used in Che workspaces/

[1] https://github.com/minishift/minishift/blob/master/addons/che/README.md#addon-variables

[2018-08-15 12:27] agajdosi commented on #2675
@pjos Does your sandbox laptop work on the same network as your corporate one? I am facing this issue on servers where I can't change network, so if you could try that on different networks, that would be great...

[2018-08-15 14:20] pjos commented on #2675
@agajdosi, sandbox is located outside the corporate network so it could explain why it works.

[2018-08-15 16:59] vbusch commented on #2679
I have been hitting this issue repeatedly for the last 1/2 a week.

$ minishift start --cpus 2   --insecure-registry=docker-registry.engineering.redhat.com --memory=8192 --openshift-version v3.10.0
-- Starting profile 'minishift'
-- Check if deprecated options are used ... OK
-- Checking if https://github.com is reachable ... OK
-- Checking if requested OpenShift version 'v3.10.0' is valid ... OK

[2018-08-15 17:05] mechevarria commented on #2699
Appreciate the update.  I was able to install by cloning the repo and then installing manually.  Should I close this issue or leave it open until the the next minishift build?

[2018-08-15 17:48] gbraad commented on #2699
Closing, as there isn't a real issue.

The addons repo need to be downloaded before being usable, and so is the
temporary situation with the Che addon... but as said, this is temporary,
and unlikely to cause much trouble. (most people have already downloaded
and can use the addon this way)

On Thu, Aug 16, 2018 at 1:05 AM, Mike Echevarria <notifications@github.com>
wrote:

--

   Gerard Braad | ht

[2018-08-15 21:20] pjos commented on #2698
Thanks @agajdosi , yes  the workaround solves my problem.  And thanks for the CDK JIRA link, now i know where to go with my CDK problems :-)

[2018-08-16 02:49] #2699 closed

[2018-08-16 05:54] amitkrout opened #2701 "Addons apply error message does not display the range of OpenShift-Version metadata"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. Create a addon file ```test-addon.addon``` and put it in ```test-addon``` directory
[code]
  2. Run m start and then apply test-addon
[code]
  3. Reported error message won't display the range of OpenShift-Version
[code]
  4.

### E

[2018-08-16 05:57] amitkrout commented on #2701
@praveenkumar Fix of this can go along with pr #2678

[2018-08-16 06:29] praveenkumar commented on #2701
@amitkrout that I already did, since now it's a separate function so it handle for both minishift and openshift version range. I am closing this issue.

[2018-08-16 06:29] #2701 closed

[2018-08-16 06:58] amitkrout commented on #2701
Cool!!!
Thanks

[2018-08-16 07:15] GrahamDumpleton commented on #2379
If using minishift with OKD 3.10, even though image policy configuration exists, image lookup doesn't work at all. Patching the config with what knew used to work doesn't help. So looks like things are totally broken now and no way to fix it. :-(

[2018-08-16 07:59] praveenkumar commented on #2679
I can now reproduce this when stop and start minishift.

[code]

[2018-08-16 08:11] agajdosi commented on #2698
@pjos welcome :) glad that workaround works for you. I am closing this issue as progress on its fix will be tracked in [CDK-326](https://issues.jboss.org/browse/CDK-326).

[2018-08-16 08:11] #2698 closed

[2018-08-16 09:09] amitkrout commented on #2679
I am also able reproduce it with the same sequence of ```start -> stop -> strat```

[2018-08-16 10:14] budhram commented on #2700
Resolved by https://github.com/minishift/minishift/pull/2697.

[2018-08-16 10:14] #2700 closed

[2018-08-16 11:28] anjannath opened #2703 "Remove anyuid Add-on from docs and put a generic example Add-on definition that can show all the add-on features"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Expected
A generic add-on definition file that showcases all the add-on commands and meta data that can be
used write a minishift add-on.

/cc @robin-owen

[2018-08-16 12:50] lsm5 commented on #2681
as far as fedora and centos Virt SIG go, I guess the main reason is I'm just too slammed with other distractions. `moby-engine` has been approved for Fedora, and I'll upload a build soon. See:https://bugzilla.redhat.com/show_bug.cgi?id=1539161 . But RE: CentOS Extras (IOW, RHEL), I'll let @mrguitar comment.

[2018-08-16 15:31] paul-snively commented on #2679
@praveenkumar @amitkrout Glad you were both able to reproduce it! Please let me know if I can help further diagnoses in any way.

[2018-08-16 19:09] #2213 closed

[2018-08-16 19:09] #2211 closed

[2018-08-17 02:43] #2233 closed

[2018-08-17 05:33] #2578 closed

[2018-08-17 05:41] praveenkumar commented on #1649
@jorgemoralespou since now we have a global config option, do you still think this will add any more value from profile perspective?

[2018-08-17 07:23] akram opened #2705 "Minishift installation on OSX prevents OSX to sleep because of use of nfsd"
Minishift installation on OSX prevents OSX to sleep because of use of nfsd

it adds the following line in /etc/exports
[code]

nfsd is invoked by launchd while booting by the accompanying com.apple.nfsd.plist file in /System/Library/LaunchDaemons/.
it's only kept alive, when /etc/exports exists. If the path doesn't exist, nfsd will not run.

So removing /etc/exports will disable nfsd temporarily u

[2018-08-17 07:25] gbraad commented on #2705
This is an issue with the driver. Please consider filing an issue against
the driver.

Note: this issue can be kept around for reference

[2018-08-17 08:12] praveenkumar commented on #2679
@cunningt @paul-snively @vbusch can you folks try the following artifact and let us know if that solves it for you without any workaround.

- http://artifacts.ci.centos.org/minishift/minishift/pr/2704/

[2018-08-17 08:17] gbraad commented on #2682
This permission issue is consistent, right. It is not related to the shutdown/stop procress of the driver...

[2018-08-17 09:52] amitkrout commented on #2638
Any update ?

[2018-08-17 11:50] coelho-extremosistemas commented on #2246
Hi @budhram.
The suggestion from @GuilhermeCamposo, help-me to find a solution.
At the beginning, the file "var/lib/minishift/openshift.local.config/master
/master-config.yaml" does not exist, but I use `./minishift openshift config set --patch` to change this conf and create this file.
I add my domain to the list of allowedRegistriesForImport.

Thanks for all

[2018-08-17 11:50] #2246 closed

[2018-08-17 14:32] paul-snively commented on #2679
On Darwin, that build resolves this issue for me. I've successfully switched between two profiles, `minishift` and another, both with not specifying the profile to `minishift start` (i.e. defaulting to the last profile) and with `--profile`, all without issues.

Thanks so much!

[2018-08-18 03:57] #2429 closed

[2018-08-18 04:53] #2679 closed

[2018-08-18 10:57] #2438 closed

[2018-08-19 23:24] candychiu opened #2706 "Start Minishift VM - Get stuck at getting ip address"
### General information

  * Minishift version: v1.22
  * OS: Windows
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. set up external virtual switch "External (Wireless" in Hyper-V Manager
  2. minishift start --hyperv-virtual-switch "External (Wireless)" --show-libmachine-logs -v5

### Expected

VM starts successfully

### Actual

minishift gets stuck at pulling ip address

### Logs

-- min

[2018-08-19 23:29] gbraad commented on #2706
Does the wireless network hand out IP addresses using DHCP?

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-08-20 05:37] amitkrout opened #2707 "Some text message is out of frame due to bad indentation in SSHFS documentation"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. Check - https://docs.okd.io/latest/minishift/using/host-folders.html#sshfs-2
  2.
  3.
  4.

### Expected
``Tip``` message should come inside the frame

### Actual
Currently some part of tip message is out of frame

### Logs

You ca

[2018-08-20 06:32] praveenkumar commented on #2707
@amitkrout that's expected I think because `Tip` also have the Image which take some space and after that only message come. I don't think it out of frame. @robin-owen Can you please confirm and close this issue if that is true.

[2018-08-20 06:43] praveenkumar commented on #2676
@pmorie As I can see https://github.com/openshift/origin/issues/20530 is already taken into consideration so once it's part of `oc cluster up`, it will become part of minishift also.

As per documentation, I think you can use `minishift openshift config set --patch` command which will make required changes.

[0] https://docs.okd.io/latest/minishift/openshift/openshift-client-binary.html#example-co

[2018-08-20 06:45] praveenkumar commented on #2665
This is fixed and was same as https://github.com/minishift/minishift/issues/2679 one.

@rhnewtron Can you verify once with below artifacts?

- http://artifacts.ci.centos.org/minishift/minishift/pr/2704/

[2018-08-20 06:46] praveenkumar commented on #2664
@rhnewtron #2665 is solved, can you check now?

[2018-08-20 06:50] praveenkumar commented on #2656
@bjethwan Does that mean the issue is resolved for you or you still have the same issue with proxy stuff?

[2018-08-20 07:18] amitkrout commented on #2707
<img width="1027" alt="screen shot 2018-08-20 at 12 47 26 pm" src="https://user-images.githubusercontent.com/19851115/44325747-28455380-a449-11e8-8c1e-f8e614af2c7b.png">

cc_ @praveenkumar @robin-owen

[2018-08-20 07:37] LalatenduMohanty opened #2708 "Integration test for start->stop->start scenario test"
We got an issue which was only reproducible only after `minishift start -> stop -> start`. This is an important workflow for users and we need to add an integration test  in basic.feature for this workflow.

### update

We have https://github.com/minishift/minishift/blob/master/test/integration/features/addon-registry-route.feature#L46-L50 but it is resulting in to a false positive because of #271

[2018-08-20 07:39] LalatenduMohanty commented on #2679
Created #2708

[2018-08-20 08:02] praveenkumar commented on #2707
@amitkrout yes that's what I am saying is expected from my side :)

[2018-08-20 08:13] budhram commented on #2707
@amitkrout @praveenkumar @robin-owen  Two more options

### First Option
![screenshot from 2018-08-20 13-41-31](https://user-images.githubusercontent.com/1132451/44328318-e20ae700-a47e-11e8-84a2-31bcbca4015e.png)

### Second Option
![screenshot from 2018-08-20 13-41-55](https://user-images.githubusercontent.com/1132451/44328322-e6370480-a47e-11e8-8939-33d954b02883.png)

### Keep it as it is

[2018-08-20 08:57] praveenkumar opened #2709 "Increase memory resource from 2GB to 4GB"
At this moment we have only 2GB memory as default but need to put 4GB to make CI and app developer happy.

[2018-08-20 08:59] praveenkumar opened #2710 "Disable proxy.feature for 3.10.0 till it's resolved by cluster up"
Check https://github.com/openshift/origin/issues/20496

[2018-08-20 09:10] LalatenduMohanty opened #2712 "minishift start should return non-zero exit code when it fails with error "could not set oc CLI context for 'minishift' profile""
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

In the code we do not exit when we see the error  #2679 `could not set oc CLI context for 'minishift' profile` , hence `minishift start` returns `0` as the exit code when it should return a non-zero exit code.

[code]

### Steps to reproduce

The issue #2679 is fixed

[2018-08-20 09:10] LalatenduMohanty commented on #2708
Looks like we have https://github.com/minishift/minishift/blob/master/test/integration/features/addon-registry-route.feature#L46-L50 but it is resulting in to a false positive because of #2712

[2018-08-20 09:12] praveenkumar opened #2713 "Enable proxy integration feature once oc cluster up resolve it."
Once we have https://github.com/openshift/origin/issues/20496 resolved we should again add this to our integration test.

[2018-08-20 09:13] LalatenduMohanty commented on #2712
Because of this issue we did not catch #2679 in the integration tests https://github.com/minishift/minishift/issues/2708#issuecomment-414250103

[2018-08-20 09:49] budhram commented on #2709
@praveenkumar I didn't get what 4GB will make CI happy?

[2018-08-20 09:50] gbraad commented on #2710
Proxy feature or proxy tests

[2018-08-20 09:54] praveenkumar commented on #2623
@Sispheor looks like this is working, I am not sure why `export HTTP_PROXY=http://10.235.201.1:9080 http_proxy=http://10.235.201.1:9080 HTTPS_PROXY=https://10.235.201.1:9080 https_proxy=https://10.235.201.1:9080 NO_PROXY=localhost,127.0.0.1,172.30.1.1,localhost,127.0.0.1,192.168.42.14,192.168.42.1 no_proxy=localhost,127.0.0.1,172.30.1.1,localhost,127.0.0.1,192.168.42.14,192.168.42.1` this is faili

[2018-08-20 10:07] gbraad commented on #2709
Since we use the CentOS iso and have quite a heavy load for testing.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-08-20 10:18] amitkrout commented on #2623
Sure, will check and update

[2018-08-20 10:52] bjethwan commented on #2656
It's not resolved.
Let me check with Infra group once on proxy logs/trace.
I will keep you posted.

-Thanks

On Mon, 20 Aug 2018 at 12:20, Praveen Kumar <notifications@github.com>
wrote:

[2018-08-20 13:03] amitkrout opened #2716 "Adding of hostfolder through non interactive mode does not throw any error if name field is blank"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. Add hostfolder through non interactive mode
[code]
  2.
  3.
  4.

### Expected
Should throw error like it does in interactive mode
[code]

### Actual
No error thrown

### Logs

You can start Minishift with `minishift start --show-l

[2018-08-20 13:37] amitkrout commented on #2623
@praveenkumar I am not able to reproduce it on proxy used for our testing. Verified on Frdora28+kvm and win10+hyperv with cdk-3.5.0

[2018-08-20 14:00] #2712 closed

[2018-08-20 14:03] LalatenduMohanty commented on #2709
Resolved via https://github.com/minishift/minishift/pull/2702/

[2018-08-20 14:03] #2709 closed

[2018-08-20 14:04] LalatenduMohanty commented on #2658
Resolved via https://github.com/minishift/minishift/pull/2702/

[2018-08-20 14:04] #2658 closed

[2018-08-20 14:04] LalatenduMohanty commented on #2710
Resolved via https://github.com/minishift/minishift/pull/2702/

[2018-08-20 14:04] #2710 closed

[2018-08-21 06:44] praveenkumar opened #2717 "Change openshift/origin image to openshift/origin-control-plane for image caching"
From openshift-3.10.0 now origin image renamed to `origin-control-plane` and till now it is tagged at both place but moving forward 3.11.0 time frame looks like this will not the case and we need to rely on new `origin-control-plane` images. As of now, we are caching the `origin` image which should be replaced with `origin-control-plane` one.

- https://hub.docker.com/r/openshift/origin/tags/
- ht

[2018-08-21 07:50] LalatenduMohanty commented on #1313
Resolved via #2678

[2018-08-21 07:50] #1313 closed

[2018-08-21 07:59] agajdosi opened #2718 "Mistake in basic.feature file"
### General information

Basic.feature contains an undefined step. The step uses time in seconds, however the implementation and matching accepts only values in ms.

### Expected

`And with up to "10" retries with wait period of "100ms" the "status code" of HTTP request to "/console" of OpenShift instance is equal to "200"`

### Actual

`And with up to "10" retries with wait period of "1s" the "st

[2018-08-21 08:02] praveenkumar commented on #2718
That is something I change recently, didn't know it only matching the `ms` :(

[2018-08-21 08:46] #2615 closed

[2018-08-21 08:57] gbraad commented on #2615
thanks

On Tue, Aug 21, 2018 at 4:46 PM, Lalatendu Mohanty <notifications@github.com

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-08-21 10:05] #650 closed

[2018-08-21 10:28] budhram opened #2720 "Separate tests into core/primary and extra/secondary to be run in CI"
I think its time now that we need to start thinking on categorizing which tests are our core or primary ones and which are secondary or extra which we care less.

By core tests means
- Unit tests,
- Fmtcheck
- Basic Integration tests
- Those integration tests cases which we really care and should be part of PR job as well

By non-core / extra / secondary means
- Those integration tests which we ca

[2018-08-21 10:33] praveenkumar commented on #2720
@budhram which test as of now you think shouldn't be part of the PR and only part of nightly? That is something you should add in the issue and then we can have a discussion around it.

[2018-08-21 12:42] agajdosi commented on #2720
IMO we can move from PR testing and test **only on nightly basis** all scenarios which test external applications. For example, deployment of application to OpenShift or similar, like:

- addon-che.feature - deploy and test all workspaces
- addon-xpaas.feature - deploy and test the applications

However into the **PR testing**, probably cmd-addons.feature I would add check that those addons can be

[2018-08-21 13:06] #2624 closed

[2018-08-21 13:10] budhram commented on #2624
Resolved by https://github.com/minishift/minishift/pull/2628

[2018-08-21 13:11] budhram commented on #2647
Resolved by https://github.com/minishift/minishift/pull/2691

[2018-08-21 13:12] budhram commented on #2053
Resolved by https://github.com/minishift/minishift/pull/2619

[2018-08-21 15:53] siamaksade opened #2721 "xpaas addon version doesn't match OpenShift version"
Starting minishift with:
[code]

And apply the xpaas addon, installs the imagestreams from v3.9:
[code]

[2018-08-21 17:05] anjannath commented on #2718
1s would be 1000ms right?

[2018-08-21 18:37] LalatenduMohanty commented on #1649
Yes, it would be still useful. Because it copies add-ons and its state too.

[2018-08-21 19:18] EagleIJoe commented on #2047
The problem still exists and is within docker-machine. I have handed in the following PR to correct it: https://github.com/docker/machine/pull/4557

[2018-08-21 20:30] LalatenduMohanty commented on #2379
@GrahamDumpleton As discussed in the mail thread about this issue, the root cause needs to be fixed in `oc cluster up`.

[2018-08-21 20:39] LalatenduMohanty commented on #2682
@agajdosi Is your macOS is updated with latest updates?

[2018-08-21 21:01] agajdosi commented on #2718
@anjannath yes

[2018-08-22 08:00] anthonyvdotbe opened #2722 "Minishift fails to start using the Windows-native OpenSSH Client"
### General information

  * Minishift version: 1.23.0
  * OS: Windows 10.0.17134.228
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. in Windows, install the optional feature "OpenSSH Client" (via Apps and Features -> Manage optional features)
  2. minishift.exe start

### Expected

Minishift starts without issues

### Actual

Minishift fails upon "Getting to WaitForSSH function...", retries

[2018-08-22 08:16] agajdosi opened #2723 "Allow both seconds and milliseconds as units in integration tests"
### General information

Integration tests have some steps which works with time - mostly for setting up a timeout on the step. These steps currently only allows milliseconds as units. Sometimes use of seconds would be however more appropriate.

### Actual

`And with up to "10" retries with wait period of "1000ms" the "status code" of HTTP request to "/console" of OpenShift instance is equal to "2

[2018-08-22 08:18] agajdosi commented on #2718
@gbraad Agree. In some cases however milliseconds are also practical. I have created https://github.com/minishift/minishift/issues/2723 to provide support for both units.

[2018-08-22 09:33] DuncanDoyle opened #2724 "Add tcpdump to Minishift VM"
### General information

  * Minishift version: v1.15.1+f19ac09
  * OS: macOS:
  * Hypervisor: xhyve

I often have a use-case where I want to monitor the HTTP traffic between pods to debug problems in my RESTful service calls between my Pods. There is a neat little trick (https://access.redhat.com/solutions/3480421) which uses "nsenter" and "tcpdump" to dump the network traffic of a particular pod

[2018-08-22 10:04] agajdosi commented on #2682
@LalatenduMohanty Yes, it was updated 9 days ago + cleaned .kube, .minishift, checked xhyve version... nothing helped really.

[2018-08-22 12:00] szEvEz commented on #2665
Using the artifact provided by @praveenkumar solved this issue:

I've executed the following steps
1. Started minishift with a custom profile name
2. Enabled an addon
3. Stopped Minishift
4. Started Minishift

Add-ons are now executed on every run - the error message ` Could not set oc CLI context for 'minishift-virtualbox-default' profile: Error during setting 'minishift-virtualbox-default' as ac

[2018-08-22 12:35] siamaksade commented on #2721
Agree with your points. A short-term solution (1) for quick implementation and then a long-term one for new vars (2) makes sense. Adding the new vars is a good practice since other add-ons might also need it for the same reason.

[2018-08-22 12:36] gbraad commented on #2724
this seems like a very exceptional usecase. You can modify the iso from the repo at https://github.com/minishift/minishift-centos-iso

[2018-08-22 12:37] gbraad commented on #2724
since tcpdump is quite small, you might even get away by forcing the install: `minishift ssh -- yum install -y tcpdump` (but this can lead to a lockup of the VM).

[2018-08-22 13:05] agajdosi opened #2725 "Do not apply templates in xpaas addon one by one"
### General information

`oc apply` command can accept individual template, but also a whole directory containing the templates - applying them all at once. Interestingly applying them all at once makes the whole process of `minishift addons apply xpaas` much faster which can save us some time during `minishift start`.

### Actual

[code]
cca 110 of `oc apply`

### Proposed

[code]

### Log

[code

[2018-08-22 19:34] LalatenduMohanty commented on #2665
Duplicate of #2679

[2018-08-22 19:34] #2665 closed

[2018-08-22 20:16] VeerMuchandi commented on #2677
@praveenkumar can we expedite this on minishift?

This is holding knative work.

On Wed, Aug 22, 2018, 3:27 PM Ben Browning <notifications@github.com> wrote:

[2018-08-23 01:55] LalatenduMohanty commented on #2722
@agajdosi @amitkrout @minishift/minishift-dev  we need to reproduce this.

[2018-08-23 02:54] gbraad opened #2728 "Perform automated performance tests"
As a follow-up to #640 and the recent move to v3.10, we might want to look for a way to perform automated performance tests. This can help with early detection if memory increase #2709 for instance is needed.

We could use something like PCP (Performance Co-Pilot, pcp.io) to perform a before, during, after and on restart monitoring. Since we do not have a pre-deploy step, we might be able to accom

[2018-08-23 04:50] LalatenduMohanty commented on #2663
cc @gbraad

[2018-08-23 04:56] praveenkumar commented on #2656
@bjethwan sure, keep us posted.

[2018-08-23 04:57] praveenkumar commented on #2655
closing as duplicate #2656

[2018-08-23 04:57] #2655 closed

[2018-08-23 05:00] praveenkumar commented on #2654
@greebean Apologize for delay but can you run any VM on the KVM not the minishift specific?

Also have a look to https://github.com/minishift/minishift/issues/709 might be you need to update the kvm driver.

[2018-08-23 05:42] LalatenduMohanty commented on #2662
@klauern We have fixed some bugs in minishift start in the latest release https://github.com/minishift/minishift/releases/tag/v1.23.0 . Can you please give it one more shot. You might have found some genuine bugs in Minishift when running in corporate network.

[2018-08-23 05:48] gbraad commented on #2662
Which ssh client are you using?

[2018-08-23 06:04] LalatenduMohanty commented on #2648
I guess at least we need to document this i.e. telling user that it might be required to add minishift VM IP as no-proxy.

[2018-08-23 06:28] amitkrout commented on #2722
i am  not able to reproduce it. ```minishift start``` went fine with the windows default ```OpenSSH Client```
[code]

@anthonyvdotbe Would you please confirm if you are running on drive other than user profile ? if yes try it on the default user profile

[2018-08-23 06:32] LalatenduMohanty commented on #2421
@mackenza  We have never tested Amazon Linux 2 AMI. We will look in to it. But I would highly recommend you to  use CentOS or Fedora to get started.

[2018-08-23 06:36] amitkrout commented on #2722
@anthonyvdotbe can you please check if path ```D:\Minishift\machines\minishift\``` exist in your system ?

[2018-08-23 06:36] gbraad commented on #2421
this will fail with the generic driver, as Amazon's AWS Linux is not a 'real' RHEL-derivative. At least, it is not indicated as such from the os-release. Therefore the provisioner will not work (as there is no default).

[2018-08-23 06:56] gbraad commented on #2722
If the 'native' OpenSSH command (windows beta release of openssh), this might get resolved in the next release of Windows 10's update. The problem likely lies in the fact htye do not offer psuedo tty support.

please try openssh-win32 instead, or try the insider build and let us know.

[2018-08-23 06:59] gbraad commented on #2722
@minishift/minishift-dev I suggest we use an option to force the golang native ssh implementation to be used. something that can be toggled with `m config set internal-ssh` or whatever, as this is not the first time we have this issue... and the native golang implementation has been fixed by me to support our usecase.

Note: you can test this by removing the any `ssh.exe` from the `PATH`.

[2018-08-23 07:27] LalatenduMohanty commented on #2721
@agajdosi your suggestions sound good but I am against downloading templates on the fly as the default behavior because it would make minishift more dependent on internet and we can control if some faulty templates gets downloaded. So I guess we need to provide option to user to download on the fly but it should not be the default behavior.

[2018-08-23 07:28] agajdosi commented on #2721
@LalatenduMohanty It is not going to be downloaded on the fly, take a look on #2721.

[2018-08-23 07:28] LalatenduMohanty commented on #2725
@agajdosi sounds good.

[2018-08-23 07:38] amitkrout commented on #2722
@gbraad m start works for me without openssh-win32. I am using win version ```10.0.17134.0``` and the ssh version ```OpenSSH_7.6p1``` installed from windows feature.

[2018-08-23 07:50] LalatenduMohanty commented on #2721
@agajdosi Ack. We also have https://github.com/minishift/minishift/issues/2483 . I am going to close that issue in favor for this issue.

[2018-08-23 07:57] LalatenduMohanty commented on #390
We have added htpasswd-identity-provider as a default add-on i Minishift. So we need to re-evaluate this issue.

[2018-08-23 07:58] rhuss opened #2730 "Cannot use imagestream with insecure registry"
### General information

  * Minishift version: minishift v1.23.0+91235ee
  * OS: macOS
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Start Minishift with an insecure registry

[code]

  2. Verify that the Docker Daemon picked it up

[code]

  3. Check that you can pull that image with the internal Docker daemon

[code]

  4. Create an ImageStream

[code]

  5. Check Status of image str

[2018-08-23 08:05] praveenkumar commented on #2421
Created https://github.com/machine-drivers/machine/issues/7 once it is added to machine repo it will be resolved.

@LalatenduMohanty should we close this or have it open to track?

[2018-08-23 08:06] LalatenduMohanty commented on #2128
@anjannath This issue was created to see if we want to add something to default experience of sshfs host folder. Even through users can use these options through `--options flag ` but it wont be part of default behavior. So the question do we want to add any option to the default user experience?

[2018-08-23 08:33] praveenkumar commented on #2730
@rhuss you need to add openshift secret or use https://docs.openshift.com/container-platform/3.9/dev_guide/managing_images.html#insecure-registries for insecure registry in your image stream.

[2018-08-23 10:57] praveenkumar commented on #2379
@GrahamDumpleton looks like as per ML thread discussion this setting should be part of kube-apiserver also, we added `kube-apiserver` patch command also which you want to try and see if that now works and let us know.

Artifact: http://artifacts.ci.centos.org/minishift/minishift/pr/2731/

command:

[code]

[2018-08-23 10:59] rhuss commented on #2730
Thanks for the hint, but unfortunately, adding

[code]

to the `ImageStream` meta doesn't help (if when the imagestream is recreated).

Still I get

[code]

even when the Docker info yields

[code]

[2018-08-23 11:16] praveenkumar commented on #2544
@svenstaro If I am not wrong you said that this is something you want to document. Do you have steps to overcome this issue?

[2018-08-23 13:26] svenstaro commented on #2544
Right, so what I did was write a script which did essentially:

[code]

I didn't find a better way but this was good enough for me at least.

[2018-08-23 13:32] praveenkumar commented on #2544
@svenstaro Thanks good to know.

[2018-08-23 13:33] praveenkumar commented on #2730
@rhuss Also check https://github.com/minishift/minishift/issues/2544#issuecomment-415413190 , I think we can close this issue as duplicate also.

[2018-08-23 13:37] svenstaro commented on #2544
Maybe put this into the docs somewhere as I imagine this is a common problem.

[2018-08-23 14:28] rhuss commented on #2730
No, I don't think its a duplicate as its a different issue. I had the issue mentioned in #2544, too and applied the patch (which helped for the whitelisting).

However, here I already could create the imagestream (with having the registry not whitelisted you couldn't even create the imagestream) but OpenShift still tries to pull the image with https instead of http, despite that I added the annota

[2018-08-23 14:32] rhuss commented on #2730
@praveenkumar  I disagree as https://docs.openshift.com/container-platform/3.9/dev_guide/managing_images.html#insecure-registries says

So only either making the daemon pull from insecure registry **or** having local reference policy (in the case when the docker daemon can't pull from insecure registries). This makes sense IMO.

Just not sure whether this is an OpenShift or Minishift issue.

[2018-08-24 04:05] bjethwan commented on #2656
There's slight progress after I got the correct https proxy from our infra
team.
Minishift starts fine and I am able to get to the minishift console.
But a failure and a couple of warnings below are bothering. Since I am onto
another urgent work-item, I am unable to spend more time working on
minishift.

C:\WINDOWS\system32>*minishift start --http-proxy=http://a:8080
<http://a:8080> --https-proxy=

[2018-08-24 05:41] amitkrout commented on #2722
Good to hear that it works for you on user profile partition

+1

[2018-08-24 05:42] praveenkumar commented on #2730
@jorgemoralespou any idea if we missed something or this is the openshift behavior?

[2018-08-24 05:50] gbraad commented on #236
https://github.com/docker/machine/blob/1e3b6b64504f2970252b06119d6dc1fb1982b4b4/libmachine/mcnutils/b2d.go#L195-L204

if changes are needed, we can now make them at machine-drivers/machine

[2018-08-24 05:59] praveenkumar commented on #2656
@bjethwan Thanks for all the information, can you also tell that after that application deployment happen?

Also this is warning which shouldn't be there at first place, it comes if the docker daemon not setup for proxy.

We can sync more once you are done your urgent work. Thanks again for providing the relevant stuff.

[2018-08-24 06:06] gbraad commented on #2656
It should be possible to fix this on our end, as this check likely does not
use the proxy

On Fri, Aug 24, 2018 at 1:59 PM, Praveen Kumar <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-08-24 06:42] praveenkumar opened #2732 "Remove util.VersionOrdinal since now downstream also use semantic versioning."
Since now downstream follow the semantic versioning so we should remove all the redundant code around this version comparison.

Mostly `VersionOrdinal` function and it's usage.

[code]

[2018-08-24 06:43] jorgemoralespou commented on #2730
@praveenkumar sadly this is one of the differences that OC cluster has with regards to a real cluster. The admissions controllers don't have the correct configuration for reference Local to work.

Adding @grahamdumpleton as he might be able to give you all the details and the patch command to fix it and a link to the issue if there's one. I know we've discussed this over email.

[2018-08-24 06:47] praveenkumar commented on #2730
@jorgemoralespou Thanks. that would be helpful.

[2018-08-24 06:48] gbraad commented on #2728
[code]

[2018-08-24 06:57] GrahamDumpleton commented on #2730
How is the image referenced by the image stream being deployed? The local lookup policy issue is only relevant if using init containers in DeploymentConfig, Deployment, StatefulSet, Jobs, or raw Pod.

[2018-08-24 07:09] rhuss commented on #2730
It's a standard `DeploymentConfig` however as mentioned I haven't set the referencePolicy of the istags to 'Local' but configured (and ensured) the Docker Daemon to be able to access the insecure registry (verified by a `docker pull`). According to the docs, this should be sufficient.

[2018-08-24 07:10] rhuss commented on #2730
I will retry later with a local reference policy, too.

[2018-08-24 07:12] GrahamDumpleton commented on #2730
If using a standard DeploymentConfig, with image in main container and you have appropriate trigger for ImageChange, then should be fine. This looks to be a different issue related to insecure registry and nothing to do with local lookup policy.

[2018-08-24 07:31] gbraad commented on #2728
@agajdosi try it out and would like to know your comments...

[2018-08-24 07:42] jorgemoralespou commented on #2730
@grahamdumpleton, thanks, I was confused as you always give so much details that I eventually don't understand what you say, so no idea when things are same or different 🤪
That's why I always need you to come in, cause you know the stuff.

[2018-08-24 08:00] praveenkumar commented on #2724
@DuncanDoyle does https://github.com/minishift/minishift/issues/2724#issuecomment-415017123 works for you.

[2018-08-24 08:18] gbraad commented on #2724
The reasoning is that I also like to add `pcp` (as for #2728, but it seems it is OK to do so using a series of install commands and `--no-provision` if needed. I'd rather not bloat the image unnecesarily.

[2018-08-24 09:48] amitkrout opened #2733 "secure(https) route of deployed eap template is not accessible"
### General information

  * Minishift version: v1.23.0
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce
Reference https://issues.jboss.org/projects/CDK/issues/CDK-338, created by @agajdosi
  1. m start
  2. add secret to the name space before deploying the template
[code]
  3. Deploy template ```JBoss EAP 7.1 + PostgreSQL (Persistent with

[2018-08-24 10:15] #2725 closed

[2018-08-24 10:30] gbraad commented on #2663
Did you install Docker for Windows with LCOW (Linux Containers of Windows) as an option? If so, this is a known issue from Microsoft. We have a workaround for this... you can use `--network-nameserver 1.1.1.1` to force a nameserver to be provided on start.

[2018-08-24 10:36] gbraad commented on #2654
Can you try to update the driver for KVM? If that did not help, can you verify the file `/var/lib/libvirt/dnsmasq/docker-machines.leases` is a valid JSON document? (It might be the file is damaged and therefore will not be parsed).

[2018-08-24 10:43] gbraad commented on #2638
can you try to use `--network-gateway 192.168.1.1`

[2018-08-24 10:48] gbraad commented on #2565
I would like to first align the Host IP code in the generic solution and SSHFS (this is now duplicated and not completely identical).

[2018-08-24 10:49] gbraad commented on #2638
@anjannath @budhram can you try to use the Internal switch type? I have LCOW, so I can not really test this fully...

[2018-08-24 10:50] gbraad commented on #2565
#2574

[2018-08-24 11:08] gbraad commented on #2403
@bigon can you please verify on the current release of Minishift? This should have been fixed...

[2018-08-24 13:29] greebean commented on #2654
So I think I have gotten by this original issue.  I had given but, but noticed the following in the messages file when looking at something else.

apparmor="DENIED" operation="mknod" profile="/usr/sbin/dnsmasq" name="/var/lib/libvirt/dnsmasq/virbr0.status.new

I removed dnsmasq from apparmor, and this allowed the startup to get beyond this point.

However, now I get the following.

./minishift sta

[2018-08-25 00:16] gbraad commented on #2654
If you are behind a proxy, you also need to configure Minishift to use this:

[code]

please set `http-proxy` and `https-proxy` accordingly (either by config or from the start command)

[2018-08-25 11:41] rvm8h commented on #2248
Hi,
What is the replacement for --host-data-dir?

[2018-08-25 16:09] dhrumil-shah opened #2734 "minishift start failing for hypervisor virtualbox failing"
### General information

  * Minishift version: v1.23.0+91235ee
  * OS: Windows 8.1
  * Hypervisor: VirtualBox - Version 5.2.18 r124319 (Qt5.6.2)

### Steps to reproduce

  1. install virtualbox Version 5.2.18 r124319 (Qt5.6.2)
  2. minishift start --vm-driver virtualbox

Note:
1.  minishift is running from c: drive and minishift path is added to PATH
2. already ran minishift delete --clear-cache

[2018-08-25 16:11] EagleIJoe commented on #2047
I used the latest stable as well as built from source. The problem lies not within your code in openshift but in the line I changed in docker/machine/drivers/hyper/... The previous code line errors out in PowerShell. Hence, your check in OpenShift works fine, but the later process of actually creating the machine errors out...

What exactly do you mean by proposing it to machine-drivers/machine?

[2018-08-26 14:46] candychiu commented on #2706
@gbraad Yes it does.

[2018-08-27 05:14] amitkrout commented on #2638
@anjannath @budhram Please follow the doc for reference [1]. It will be helpful to update doc if there is some possible changes in the step of implementation.

[1] https://docs.okd.io/latest/minishift/using/static-ip.html#static-ip-hyperv

[2018-08-27 10:04] surajnarwade opened #2735 "Template service broker is not working properly"
I used following command to start minishift instance:

[code]

when I check for brokers,

[code]

I can only see `openshift-automation-service-broker` but not `template-service-broker`.
Further, I checked deployments of `template-service-broker`, that is perfectly fine

[code]

[2018-08-27 11:01] agajdosi commented on #2720
Added to 1.24 milestone as this issue was requested on #2695 and needs to be implemented before its merge.

[2018-08-27 12:25] agajdosi opened #2736 "Introduce built-in addon variables for OpenShift version"
### General information

Some addons might require differences for various OpenShift versions. For example, the xpaas addon should ideally apply different templates for 3.9, 3.10 and 3.11 OpenShift. To have this behaviour fully automated new built-in addon variable `openshift-version` would be practical. This variable should contain info about major and minor version of OpenShift (being string `3.

[2018-08-27 12:29] gbraad commented on #2433
Closing, as this issue is related to a changing IP address. Workarounds and solutions are available, such as the static command on restart, or pre-configure as for hyper-v, or for general purpose, use an existing VM instead.

[2018-08-27 12:29] #2433 closed

[2018-08-27 13:34] rhnewtron commented on #2664
So the addon can be used as workaround, however the base issue should be fixed in minishift right ?

[2018-08-27 13:35] amitkrout commented on #2736
@agajdosi We have already ```OpenShift-Version``` metadata field is in place. Please check [1] for more details

[1] https://docs.okd.io/latest/minishift/using/addons.html#addon-openshift-version-semantics

[2018-08-27 14:00] robin-owen commented on #2462
Work on this issue in ongoing. Updates and a WIP PR should be submitted in the near future.

[2018-08-27 14:03] budhram commented on #2462
Thanks @robin-owen :smile:

Waiting for quite sometime :wink:

[2018-08-27 14:27] agajdosi commented on #2736
OpenShift-Version provides a way how to restrict the addon on some versions of OpenShift. However it does not provide a way how to get the information about actual version of OpenShift being run. It can't be used to differentiate the execution of addon based on OKD version.

[2018-08-27 14:27] robin-owen commented on #2462
@budhram I'm aware -- unfortunately, I've been busier than expected lately. ;)

[2018-08-27 23:00] ryanj opened #2739 "Minikube Feature: config option --vm-driver=none (no VMs, run directly on the host)"
### General information

  * Minishift version: unscheduled
  * OS: Linux only
  * Hypervisor: none; use the host machine's container engine

### Steps to reproduce

  1. This feature is not currently supported in minishift, but it is available in minikube:

     minishift start --vm-driver=none

### Expected
1. I want the openshift instance and it's apps to be accessible from other machines. I sh

[2018-08-28 04:59] amitkrout commented on #2736
@agajdosi This is what addons owner should take control of it. It's addons owner responsibility to confirm on which version of oc is compatible for the desired addons. So minishift provide a addons meta data field ```OpenShift-Version``` to resolve the propose.

@minishift/minishift-dev Please share your thoughts

[2018-08-28 05:12] amitkrout commented on #2733
@LalatenduMohanty @agajdosi I am able to reproduce it with OKD-3.10.0 + Fedora28 + kvm. Now its clear that minishift is not causing the issue.

Steps :
[code]
$ curl -k https://secure-eap-app-myproject.127.0.0.1.nip.io
curl: (35) OpenSSL SSL_connect: SSL_ERROR_SYSCALL in connection to secure-eap-app-myproject.127.0.0.1.nip.io:443
[code]

Not sure where i should report this issue . I am confused be

[2018-08-28 06:07] agajdosi commented on #2736
@amitkrout OK, so in xpaas I want to separate the templates in directories `v3.9`, `v3.10` so for each version the correct templates are applied. Two ways to do: use manually entered parameter for version, or have it as a variable. Using the OpenShift-Version restriction the only way I can take care of correct version is to restrict the addon for just one version of OpenShift - 3.9 or 3.10.

[2018-08-28 06:16] praveenkumar commented on #2736
On Tue 28 Aug, 2018, 11:37 AM Andreas Gajdosik, <notifications@github.com>
wrote:

Yes, it would be good to have this as default add-on variable like we have
for route, in future we can have different folder at least for xpass add-on
which can applied as per openshift version.

—

[2018-08-28 06:32] LalatenduMohanty commented on #2733
@amitkrout We need to file issue against OKD.

[2018-08-28 06:32] LalatenduMohanty commented on #2733
Lets keep the issue open for people who would face this issue in Minishift

[2018-08-28 08:52] siamaksade commented on #2734
Keeps happening for me too on Mac OSX with minishift v1.23.0+91235ee

[2018-08-28 10:30] jorgemoralespou commented on #2736
@agajdosi Not sure as a developer you will want the xpaas templates that were latest when the openshift version was released or if on the contrary you always want the latest version of the templates that should work? IMHO you're getting into deep waters if you want to support this. The openshift/library project should contain latest and the released versions, I would always install latest and refe

[2018-08-28 10:46] amitkrout commented on #2675
Reproducible on 3.6 alpha.1 darwin bits without proxy, but this is not consistent. After the first failure, in the next 3 consecutive run did not see the issue.

[2018-08-28 11:00] LalatenduMohanty commented on #2739
@ryanj you can do that using `--vmdriver generic` in Minishift. Check https://docs.okd.io/latest/minishift/using/run-against-an-existing-machine.html

[2018-08-28 11:01] LalatenduMohanty commented on #2739
@ryanj I am closing this issue as we have what you are looking for. Let us know if you want to re-open this issue.

[2018-08-28 11:01] #2739 closed

[2018-08-28 11:27] LalatenduMohanty opened #2740 "Minishift should use native keychain methods versus endorsing storage of plaintext passwords"
Copying text from https://issues.jboss.org/browse/CDK-230

The Minishift documentation suggests:

[code]

which then goes on to suggest exporting your Red Hat Developer Login information into .bashrc or .bash_profile.

This strikes me as terrible advice - passwords should not be stored plaintext on the filesystem, let alone encouraged to be.

Other commandline utilities like Git or Docker leverage

[2018-08-28 13:25] jcantrill commented on #2207
@phawzy I would expect you to be able to provision Openshift with logging and metrics using 'oc cluster up' and origin images for versions: 3.7-3.9.  Versions 3.10-3.11 are just broken to be fixed in later releases.
I've copied my instructions to [1] which work at the time I wrote it. You may need to fiddle with a few things if they have changed and they very slightly between the various versions.

[2018-08-28 13:25] gsaslis commented on #2379
@praveenkumar just tried the artifact you shared (the macOS build, on an openshfit 3.10 cluster), but no luck I'm afraid... :(

[2018-08-28 13:54] LalatenduMohanty commented on #2181
Now that #2339 fixed, we can fix this issue.

[2018-08-28 20:37] jorgemoralespou commented on #2736
--latest-online? What's the value?

[2018-08-28 21:02] GrahamDumpleton commented on #2379
It doesn't work in 3.10 for other reasons. Right now from discussions I have seen there will be no fix available in ODK 3.10 version of ``oc cluster up`` for it, which Minishift relies on. Suggest continuing to use minishift v1.22.0+7163416 and OpenShift 3.9 and not upgrade to latest, which uses ODK 3.10 as default.

[2018-08-28 23:43] gbraad commented on #2736
the only 'latest' we can know about, is a possible reference to the addon
in the minishift-addons or minishift repo.
Anythinbg beyond that will create unnecessary complexity to handle, eg. an
upstream repo link to resolve from the addon?
I'd rather not want to describe more metadata... and also do not think an
online 'version file' (just as needed for `--latest-online`) will help...
... as this su

[2018-08-29 05:32] amitkrout commented on #2638
@gbraad ```--network-gateway 192.168.1.1``` could not help, same issue ```Last error: Maximum number of retries (60) exceeded``` occurred.

@anjannath @budhram Please get some time to try it out.

[2018-08-29 05:49] LalatenduMohanty commented on #2720
IMO we should not do this as when we run more tests in nightly the previous tests which passed during PR can still fail. This is rare but one test failing because some other test induced some behavior is a fair probability.

We should still test this as part of the PR testing as experimental features important too from each PR point of view.

[2018-08-29 05:49] gbraad commented on #2638
@anjannath please try if you can rerproduce

On Wed, Aug 29, 2018 at 1:32 PM, amitkrout <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-08-29 06:32] geoand opened #2741 "Service Catalog command in docs is not working for 3.10"
In the docs about the experimental features, the command that is used to start Minishift with Service Catalog support does not work for 3.10

[2018-08-29 08:11] LalatenduMohanty commented on #2741
Resolved via https://github.com/minishift/minishift/pull/2737

[2018-08-29 08:11] #2741 closed

[2018-08-29 08:12] LalatenduMohanty commented on #2643
I checked the download numbers again and it is 4,936

[2018-08-29 08:18] LalatenduMohanty commented on #2643
200 downloads in 3 weeks  is very less compared to CentOS ISO (as CentOS downloads numbers are around 10K in the same time frame). I think we are pretty good to remove the remove the CI for B2D.

[2018-08-29 08:18] gbraad commented on #2643
Total, or last month?
Compared to?

But no matter what, we have decided to move ahead and deprecate B2d.