[2017-02-20 15:36] thatdocslady commented on #353
@hferentschik I'm wondering if there's a way to hijack github labels to indicate issues that are deferred to a later time so that they're not bugging our (my) peripheral vision and result in premature discussions...

[2017-02-20 16:21] gbraad opened #440 "Use MINISHIFT_VM_DRIVER for integration tests"
The VM driver should be controlled by MINISHIFT_VM_DRIVER, instead of the VM_DRIVER in `flags.go`.

[2017-02-20 16:48] gbraad commented on #353
This is what I miss on GitHub, but have on GitLab, a kanban board. You have outside tools for this...

but the simplest solution is to add a `backlog` label to an item. WDYT @hferentschik ? maybe even the `doing`, `in QA`, etc. this makes the flow of items more visual.

[2017-02-20 19:26] hferentschik commented on #353
why don't you look at the milestones?

[2017-02-20 19:35] hferentschik commented on #434
I am taking this one. I know what it is. Mea culpa. I will create a pull request.

[2017-02-20 19:37] hferentschik commented on #434
Merged, thanks.

[2017-02-20 19:40] hferentschik commented on #429
Merged via pull request #431

[2017-02-20 19:40] #429 closed

[2017-02-20 19:42] LalatenduMohanty commented on #430
@sokoow What steps you did to add the insecure registry?

[2017-02-20 19:46] sokoow commented on #430
I just did:
[code]

[2017-02-20 20:13] LalatenduMohanty commented on #434
I can reproduce this on Fedora 25 too
[code]

[2017-02-20 20:25] sokoow commented on #430
okay, I think I know what's going on:

 --insecure-registry stringSlice  - this doesn't work at all, when I add another repo after the comma, it is not adding it to **/var/lib/boot2docker/profile**

I think it should be adding multiple lines to that file, as following:

[code]

[2017-02-20 20:29] LalatenduMohanty commented on #434
@hferentschik Somehow the mutiple commits as part of https://github.com/minishift/minishift/pull/379 is breaking the git bisect to work :(

[2017-02-20 20:32] hferentschik commented on #434
@LalatenduMohanty no need to debug this further. I got it. Shame with beset though.

[2017-02-20 20:37] LalatenduMohanty commented on #434
@hferentschik ack. thanks

[2017-02-21 02:21] budhrg opened #443 "fmtcheck and fmt targets are using different command line flags"
Currently, `gofmt` is failing in master HEAD due to commit https://github.com/minishift/minishift/commit/60b8ddcc504113313d81bd6e32e4b66053a02530.

Weird how it passed last time.

[code]

Check https://ci.centos.org/job/minishift/199/console  ---> `00:08:43.561` time.

[2017-02-21 02:52] budhrg opened #445 "Enable fmtcheck and prerelease checks in Circle CI"
CircleCI is only checking unit test and cross compilation -  https://github.com/minishift/minishift/blob/master/circle.yml#L25.
We should enable it to also check `gofmt` and `prerelease`.

[2017-02-21 04:25] budhrg opened #447 "Enable fmtcheck check in Appveyor CI"
Appveyor CI is only checking unit test and cross compilation -  https://github.com/minishift/minishift/blob/master/appveyor.yml#L26.
We should enable it to also check `gofmt`.

I don't think `prerelese` check is needed here and doubt it work.

[2017-02-21 05:11] gbraad commented on #434
[code]

[2017-02-21 07:17] gbraad commented on #422
Documented in #449

[2017-02-21 07:27] Preeticp opened #450 "Restructuring and modifying Using.md"
We need to restructure and modify Using.md document to more accurately reflect Minishift's role as well as split the document at natural break points. The doc is already quite huge and the addition of PR #449 will add material to the split doc.

[2017-02-21 07:56] gbraad commented on #443
LGTM

[2017-02-21 08:46] hferentschik commented on #434
merged via pull request #441

[2017-02-21 08:46] #434 closed

[2017-02-21 08:58] hferentschik commented on #443
The problem is that the _fmt_ and the _fmtcheck_ target don't use the same command line switches. The latter also applies the '-s' option which applies some code transformations as well (on top of pure formatting). The _fmt_ target did not do that, leading to a disconnect between the two targets.

They both needs to apply/check for the same formatting and transformations, but whereas _fmt_ applies

[2017-02-21 09:02] LalatenduMohanty commented on #443
+1 @hferentschik I am was wondering about the same too. I do not think we need two different ways to check code formatting.

[2017-02-21 09:03] hferentschik commented on #443
Merged via pull request #444.

[2017-02-21 09:03] #443 closed

[2017-02-21 09:04] hferentschik commented on #443
There are two different things. One is a check one is an actual check and transform. Both are valid targets to have imo. They just need to be configured properly. On a CI environment for example you want to use _fmtcheck_.

[2017-02-21 09:06] gbraad commented on #443
OK, agree. Note: I did correct my comment earlier ;-)

[2017-02-21 09:16] hferentschik commented on #445
Merged via pull request #446

[2017-02-21 09:16] #445 closed

[2017-02-21 09:17] LalatenduMohanty commented on #443
I understand.  I was trying to say that if `make fmt` does not suggest any code changes `make fmtcheck` should not complain. So I am suggesting either we use `-s` in make fmt also or completly drop it from `make fmtcheck`.  I would go for including -s in make fmt.

[2017-02-21 09:18] hferentschik commented on #447
Merged via pull request #448

[2017-02-21 09:18] #447 closed

[2017-02-21 09:22] LalatenduMohanty opened #451 "Add "gofmt -s" to "make fmt" target in Makefile"
Currently `fmtcheck` target uses `-s` which simplifies the code on top of formatting.  However "fmt" does not uses it. So some of the CI jobs fails as "make fmtcheck" complains where "make fmt"(which developers perform before sending the pull request)

[code]

[2017-02-21 09:27] LalatenduMohanty commented on #451
This is fixed as part of #443

[2017-02-21 09:27] #451 closed

[2017-02-21 09:28] hferentschik commented on #451
This has already been addressed :-)

[2017-02-21 10:05] jstrachan commented on #257
I think minishift should enable CORS OOTB - as its the only way to deploy additional consoles inside OpenShift with OAuth & we should assume developers may want to deploy other things without manually patching openshift.

Sure operations may disable CORS in production clusters; but developers should be free to install other consoles

[2017-02-21 10:09] LalatenduMohanty opened #452 "Unauthenticated proxy not working in Minishift"
[code]

[2017-02-21 10:52] hferentschik commented on #178
Merged via pull request #425

[2017-02-21 10:52] #178 closed

[2017-02-21 12:16] thatdocslady commented on #353
@hferentschik not sure milestones would be helpful here, and this discussion I think is bigger than just for doc tasks but beyond (like @gbraad suggests state/status tags can be helpful for all issues). Maybe we should realtime-talk about this, to the docs team milestones are too arbitrary (and this v1.1.0 milsetone doesn't even have a due date on it so how can I plan ahead to know what's coming,

[2017-02-21 12:17] hferentschik opened #454 "Upgrade to B2D ISO 1.0.1"

[2017-02-21 12:26] budhrg commented on #435
Not working at the moment.

[2017-02-21 12:51] hferentschik commented on #452
Merged via pull request #453

[2017-02-21 12:51] #452 closed

[2017-02-21 12:51] hferentschik commented on #454
Merged via pull request #455

[2017-02-21 12:51] #454 closed

[2017-02-21 12:58] hferentschik commented on #316
Merged via pull request #449

[2017-02-21 12:58] #316 closed

[2017-02-21 13:06] budhrg opened #457 "Update CentOS CI build icon to point to master build"
Since, this job https://ci.centos.org/job/minishift-build-master/ show the master status of minishift repo, we should use this job icon instead of https://ci.centos.org/job/minishift/ which is actually a PR based.

[2017-02-21 13:23] jstrachan opened #458 "Developer should be allowed to create Persistent Volumes OOTB"
lets make the OOTB security in minishift so that developers can create PVs on their own laptop

[2017-02-21 13:50] hferentschik commented on #458
yes, it is on the roadmap to let the user configure persistence volumes. See also issue #389. We will piggy back on what _cluster up_ is going to offer and wrap some utility commands around this.

[2017-02-21 14:22] hferentschik commented on #435
Resolved.

[2017-02-21 14:47] thatdocslady commented on #423
@gbraad is this ready to be tackled now? It was a little confusing navigating thru the issue you lined, and also I saw that in PR #449 you added some docs already :) if the content is there, maybe I can give it a quick proofread. Also in general (cc @hferentschik ) I'm happy to see some dev tasks that involve writing docs, but I'm thinking maybe it'll be prudent to involve at least one of the writ

[2017-02-21 15:14] budhrg commented on #435
Reopening again since found not working from this build https://ci.centos.org/job/minishift-build-master/12/console.

Error message :
[code]
shows that the *rsync* command to archive server is not working as I used rsync command as ([source](https://github.com/budhrg/minishift/blob/35d6aee77ae9a55de9739b783ea06dc7b61365d9/centos_ci.sh#L91))
[code]
as per this suggestion http://stackoverflow.com/a/

[2017-02-21 15:23] gbraad opened #460 "Add GitLab CI runner build defintion"
Although not essential, it is something I use myself, and runs on my own instance of GitLab. It however, can also run public as can be seen on: https://gitlab.com/gbraad/minishift-build and an example build: https://gitlab.com/gbraad/minishift-build/builds/10847637

However, the current setup relies on webhooks to have a build triggered, as the definition lives outside the archive. If a slightly m

[2017-02-21 15:25] thatdocslady commented on #450
Excellent idea to track things here, I would recommend maybe waiting until we do the asciidoc conversion (or at least you can throw ideas in here and then I can get some head start while I do the conversion, to be followed by collaborating on it further). WDYT?

[2017-02-21 15:28] thatdocslady commented on #412
@gbraad are these instructions a part of "expected behavior" or should they be presented as troubleshooting for Windows devs? also, at which stage of development is this needed (i.e. before/during/after development)?

[2017-02-21 16:11] gbraad commented on #412
@thatdocslady At the moment we have not resolved the issue about eliminating Cygwin from the development flow. This is related to before and during development. We will have to come up with solution that either uses cygwin completely (without the chocolatey install) or not using cygwin and only powershell. for now, let's postpone documenting this. WDYT?

[2017-02-21 16:14] budhrg commented on #412
Make sense :+1:

[2017-02-21 18:55] jorgemoralespou commented on #367
@hferentschik Just upgraded to minishift 1.0.0-beta.4, renamed $HOME.minishift, and started minishift. Same issue.

[code]

[2017-02-21 19:20] #435 closed

[2017-02-21 19:21] hferentschik commented on #435
Let's not re-open when a issue is is part of a closed milestones. That makes the changelog and everything around inconsistent. Re-opening is ok while the release has not happened yet. After that we need a new issue.

[2017-02-21 19:35] hferentschik commented on #412
+1

[2017-02-21 21:54] jorgemoralespou commented on #397
@LalatenduMohanty @hferentschik I would not cache the disk, but provide a command load/unload or whatever that does the provisioning. This will take some time (more than using the disk) but also is more reusable. I'm still thinking in profiles ;-)

Main problem with docker save is that it saves full images in a tar, so I would rather have something like [this script](https://gist.github.com/hydra1

[2017-02-21 22:06] hferentschik commented on #367
Hmm, ok. I will try to dig a bit deeper here. My problem is that I cannot even re-produce this. I am running `minishift start && minishift delete` in a loop and it does not fail. OOI, what OS X version are you using? Sierra? I recall some people reporting issues and they were all on Sierra. I myself am still on El Capitan.

[2017-02-21 22:09] hferentschik commented on #397
I never intended to cache the disk. That makes no sense from what we try to achieve. What we need are the Docker images. The brute force approach is the import/export. But as you say, there are many ways on which we could improve on this. Thanks for the pointers to the scripts. We take a closer look at this, once it becomes more current.

[2017-02-21 22:45] jorgemoralespou commented on #367
@hferentschik yes, both me and @marekjelen in Sierra

[2017-02-22 02:27] gbraad commented on #427
[code]

Not reproducible. Can you try this again? The error is not an error from Minishift, but OpenShift. If it persists, it is likely better to report it for the origin project.

[2017-02-22 06:22] gbraad commented on #440
[code]

currently `VM_DRIVER` is used in the `centos_ci.sh` script, which controls a parameter, which else takes the default of `virtualbox` in `flags.go`, which is used in the integration tests.

[2017-02-22 06:54] Preeticp commented on #450
@thatdocslady , when do you plan to start with the Ascidoc conversion? Sure let's collaborate and work on this.
This issue emerged out of discussions on Persistent configuration section with @hferentschik

I see three tasks emerging from the discussion and did not intend to track any more for this issue, for now.
1. Rewording the first section to capture the exact nature of the commands and what e

[2017-02-22 08:03] warmchang opened #461 "After restart minishift, the pod can not run"
Host OS: Microsoft Windows 2012
Minishift version: minishift-1.0.0-beta.4-windows-amd64
vm-driver: virtualbox

1. Run the minishift start and setup nodejs sample project, all of the pod is ok:

2. Run minishift stop.

3. Rerun minishift start, the status of pod is ImagePullBackOff:

4. describe pod Events:

5. Check the default project, the status of docker-registry pod&service is running:

[2017-02-22 08:23] hferentschik commented on #450
Why would this depend on the Asciidoc conversion. I assume that we first get the new tooling in place and then do the (automated) conversion. If this in in place by then no problem, right? Also, I would also think that the tooling can render Markdown and Asciidoc. After all the generated docs will stay in Markdown. So I would suggest we get tooling on place without changing anything in the docs ye

[2017-02-22 08:26] hferentschik opened #463 "Broken link in README"

[2017-02-22 08:29] hferentschik commented on #463
Merged via pull request #462.

[2017-02-22 08:29] #463 closed

[2017-02-22 08:31] hferentschik commented on #367
I think we might be onto something here. Let me do some digging. Need to see whether I can get hold of a Mac running Sierra. I don't want to upgrade my version for various reasons.

[2017-02-22 09:26] jorgemoralespou commented on #367
@hferentschik ping me if you need to schedule some help. Happy to do so.

[2017-02-22 09:34] jorgemoralespou commented on #461
@hferentschik I kind of recall that in oc 1.4.1 the registry is not persistent and that might introduce this type of problems, where you have the metadata in etcd pointing to the registry but there is no layers.

https://github.com/openshift/origin/pull/12456/files#diff-289dd62730ab075b34eb10a03a9687e6R735

Adding @csrwong so he can chime in on the correctness of my assessment

[2017-02-22 10:05] jorgemoralespou commented on #427
@RoyKandru It looks like you don't have internet connectivity, that's why you get such an error. Can you verify that?

[2017-02-22 10:28] thatdocslady commented on #450
Following discussion with @Preeticp , points 1+2 will be done before the asciidoc conversion, and point 3 isn't ready to document anyway so it will be deferred.

@hferentschik to your question, a reminder that we already spoke about it when we set the tooling mission going, the manually-authored content needs to be converted to asciidoc anyway and stored in gh because of conditional text and conte

[2017-02-22 10:35] Preeticp commented on #450
@thatdocslady, Point 3 is already in the Using.md doc, and can be done as a separate issue. I pointed this comment as reference for this.

[2017-02-22 10:37] LalatenduMohanty opened #464 "RFE: "minishift openshift" should allow to save the json locally and allow applying the modified json as a patch"
The current `minishift openshift config set --patch` command allows users to patch the OpenShift Config.
e.g. :
[code]
We can improve the user experience if we let uses save output of openshift config -> Modify it (as required) -> then use the modified file to patch the config.

refer : https://github.com/minishift/minishift/pull/379#issuecomment-280616680

[2017-02-22 10:40] hferentschik commented on #464
There is already `minishift openshift config view`, but it prints the config plain. One would need to add a `--json` flag to view as JSON.

[2017-02-22 10:45] hferentschik opened #465 "Move OpenShift related commands into the 'openshift' context"
The introduction of the 'openshift' command (view, set, restart), it might make sense to move some other commands under there as well while we are still in beta state. I am thinking of

* 'service'
* ' get-openshift-versions' (renaming it to 'versions')
* 'logs' - we could keep two logs. One in root for the VM system logs and one for the OpenShift logs under 'openshift'

I am after something like

[2017-02-22 10:54] jorgemoralespou commented on #465
@hferentschik I think this might end being too verbose. What commands would not require openshift in the middle? just start/stop/delete? on the other hand, I keep looking into alignment with upstream, so minikube users has the easiest entry path into openshift.

[2017-02-22 11:04] hferentschik commented on #465
right, verbosity is an issue here. On the other hand one gains clarity and consistency. Especially since we most likely add an `oc` context as well. logs is for sure discussable, but at least versions and service should go into openshift. versions is specific to Minishift anyways. service also differs in the sense that we need to change the implementation of this command.

config, console, start,

[2017-02-22 11:09] sspeiche commented on #367
Hitting the issue as well on OS X 10.12.3 and using xhyve

[2017-02-22 11:26] hferentschik opened #466 "Improve the manual install steps for xhyve driver"
Currently we document to compile the driver from source. Instead we should document to download version x.y.z from the release page. Then we need to document the two main approaches to actually use the driver:

* Modify PATH
* Add to docker-machine default location

[2017-02-22 11:43] sspeiche commented on #367
Used brew install method, then uninstalled via this method and then manually downloading.

[2017-02-22 12:09] cmoulliard opened #467 "Provision an existing VM which has been already created"
It should be interesting that Minishift could provide an option to provision :

- An existing VM which has been already created (Virtualbox, ...)
- A VM accessible using SSH

[2017-02-22 12:12] jorgemoralespou commented on #465
As long as there is no commands in minikube that we move to the openshift context, you have a +1 from me.

[2017-02-22 12:17] hferentschik commented on #465
Fair enough :-)

[2017-02-22 15:00] sspeiche commented on #367
I've been able to get xhyve to work and then fail again. I *think* it is related to when I do a `minishift start`. If I'm connected to VPN when the machine is created, it will fail. If I `minishift delete`, disconnect VPN, run `minishift start` it seems to still fail. If I run `minishift start --vm-driver virtualbox` it will work. Then I stop and then start with default (xhyve) it works.

I have a

[2017-02-22 15:18] LalatenduMohanty opened #468 "Registration code never called for non proxy use cases"
Because of the below code change the "registration code moved behind the if loop of proxy information .So it is only called when proxy is provided.
[1] https://github.com/minishift/minishift/commit/60b8ddcc504113313d81bd6e32e4b66053a02530

[2017-02-22 15:26] LalatenduMohanty commented on #468
During testing I manually checked if the VM is registered only for proxy use cases. For non proxy use cases I just checked if "minishift start" is working fine and I missed this.

[2017-02-22 15:26] budhrg commented on #468
I just now feel how important it is to have negative test case too.

[2017-02-22 16:15] gbraad commented on #468
Please create a PR, so a test build will be created in CI.

[2017-02-22 16:22] hferentschik commented on #468
Merged via pull request #469

[2017-02-22 16:22] #468 closed

[2017-02-22 16:26] hferentschik commented on #367
@sspeiche, thanks. Some more leads on this. I am pretty sure that networking setup and VPN plays a role here. We will try various scenarios in order to reproduce.

[2017-02-22 18:36] LalatenduMohanty commented on #392
This will also unlock an use case where developer can reuse a VM running in public cloud to run Minishift.

[2017-02-22 18:36] LalatenduMohanty commented on #467
@cmoulliard I think it is similar to https://github.com/minishift/minishift/issues/392.

[2017-02-22 18:41] LalatenduMohanty commented on #468
@budhrg The unit test actually do not run the command on the VM,  So we need to discuss and plan it.

[2017-02-22 19:38] hferentschik commented on #257
They are right? They just have enable CORS. I guess there are pro and cons for both sides. It might be initially more convenient for user to have this enabled per default, but then when he takes it into production, he suddenly hits a wall. If it is, however, simple to do (for example one additional command), then it becomes explicit and the user/developer becomes aware of the problem from the star

[2017-02-22 19:42] hferentschik commented on #257
@jstrachan Aside of this, does `minishift openshift config set` solve your problem for now? At least you should be able to provision Fabric8 now, right? Whether '{"corsAllowedOrigins": [".*"]}' becomes a default is something which imo we should take some time to decide.

[2017-02-22 22:03] jorgemoralespou commented on #367
@hferentschik note that @sspeiche got it working with virtualbox, stopped and started with xhyve im and worked is wrong as if he don't delete still will be using virtualbox AFAIK.

I'm never connected to the VPN, so I'm more inclined to a Sierra specific problem.

[2017-02-23 04:34] gbraad commented on #423
@thatdocslady I agree with future documentation tasks being reviewed by one of you. The current write-up happened in #449. It is a technical explanation ATM, but we hope to resolve this...

@budhrg At the moment we are using External Virtual Switch for the Hyper-V setup (as a recommendation). This means that the share can be mounted as:

[code]
Since you were trying this earlier and had some issue

[2017-02-23 07:55] cmoulliard commented on #467
The other use case implies that a docker daemon has been deployed and is running within the VM @LalatenduMohanty

[2017-02-23 08:21] jstrachan commented on #257
While fabric8 is still quite broken on the new minishift; if I use the latest release, run `minishift start`; manually enable CORS then login as `system:admin` I can now login with the fabric8-console thanks!

So the reason I want minishift to enable CORS by default is that minishift is a developer tool; it should default to open security wise & for things to run as its focus is for use by develop

[2017-02-23 08:32] jstrachan commented on #257
BTW if CORS was a trivial thing we could just check for in all apps on the internet; I'd agree we could just go out and patch all apps on the internet to check for CORS, check if they are on minishift and if not tell the user in a nice way "this app won't work right now as you are running on minishift without CORS - please type these commands on the console to fix it...".

The problem is we're tal

[2017-02-23 10:09] LalatenduMohanty commented on #423
@thatdocslady @Preeticp I think it would be a good practice to tag you folks for reviewing the doc PRs. We used to do that in ADB.

[2017-02-23 10:27] LalatenduMohanty commented on #466
The manual installation section for Xhyve drive [1] now has steps to compile the code i.e. we expect the user to compile and build the driver Which is not user friendly.
As @hferentschik suggested , we should change the steps similar to KVM driver i.e. we should be able to take the released binary , keep it in the right location of the OSX and then give required access permission.

[1] https://git

[2017-02-23 10:40] jorgemoralespou commented on #467
@cmoulliard can you explain me what the value of this could be? I see that this can potentially introduce many problems while I don't see any benefit.

[2017-02-23 10:52] gbraad opened #470 "Edit and expand CONTRIBUTING.md"
At the moment our `CONTRIBUTING.md` reflects our parent project.

[2017-02-23 11:45] LalatenduMohanty opened #471 "Issues with minishift config command"
I observed following issues with `minishift config` command.

1. Irrespective of the VM state i.e. even if machine is deleted, `minishift config set memory <>`  returns the same output/message.

e.g.
[code]
2. There is no mention of unit of configurable properties mentioned in the usage.  For example if I want to set 2GB RAM ,  there is no mention what should be the value of the RAM i.e. 2GB , 204

[2017-02-23 12:14] richardfontana opened #472 "Restore Kubernetes copyright notices"
This commit https://github.com/minishift/minishift/commit/6abc7d6b73aa903b8d542f311e72d528a7a27e32
and anything similar need to be reverted to the extent that any code from Minikube remains in a source file from which the Kubernetes copyright notice was removed. It would be okay for such files to have, for example:

But you can't delete the earlier copyright notice.

[2017-02-23 12:25] cmoulliard commented on #467
Added value could be to provision a VM created using VMWare or any hypervisor and running on another machine which is not local (Google Cloud, Azure, Amazon EC2, Private cloud, ...)

[2017-02-23 12:47] LalatenduMohanty commented on #405
+1 for asking for confirmation and `--force` flag.

[2017-02-23 13:05] amitkrout commented on #471
I am seeing the issue with cygwin terminal while setting the log_dir
[code]

[2017-02-23 13:20] budhrg opened #474 "Enable CI to upload master branch artifacts"
Currently, the PR https://github.com/minishift/minishift/pull/442 which suppose to fix upload of master build artifacts seems to be not working https://ci.centos.org/job/minishift/14/.

[2017-02-23 13:36] praveenkumar commented on #432
Why we need proxy parameters for across all three comands? Since when we do the start it automatic set proxy at VM level which can be used it's lifetime (until it deleted).

[2017-02-23 13:43] jstrachan opened #476 "`developer` is not allowed to create new projects via `oc apply`"
e.g. save this as foo.yml:

[code]

then try:

[code]
you get:
Error from server: error when retrieving current configuration of:
&{0xc420b2c180 0xc42038a690  foo.yml &ProjectRequest{ObjectMeta:k8s_io_kubernetes_pkg_api_v1.ObjectMeta{Name:foo,GenerateName:,Namespace:,SelfLink:,UID:,ResourceVersion:,Generation:0,CreationTimestamp:0001-01-01 00:00:00 +0000 UTC,DeletionTimestamp:<nil>,DeletionGracePe

[2017-02-23 13:56] gbraad commented on #423
part of the confusion came from a rename, will resulted in having two tasks
with a "Document" in the title. I changed the other task reflect the
technical nature. And as mentioned, it is likely a good idea to tag you,
but also include a status label.

[2017-02-23 14:06] jstrachan commented on #476
looks like we should run something like this (as user system) on startup:
[code]

Then the `developer` role can create projects via `oc apply -f`

[2017-02-23 14:07] #474 closed

[2017-02-23 14:08] amitkrout opened #477 "minishift config set log_dir does not work"
I dont see any log items in the directory set through ```minishift config set log_dir /dir_path```
[code]

[code]

[2017-02-23 14:12] budhrg commented on #477
@amitkrout Does this happens in Windows and Linux or only in Mac ?

[2017-02-23 14:34] budhrg commented on #423
@gbraad

This command seems to be not working for me. Getting following error:
[code]

I don't know but looks like I need to do that first, now when I remove that still the mount is working.

[2017-02-23 14:36] amitkrout commented on #477
@budhrg Checked on fedora, no log items found for the same

[2017-02-23 14:56] gbraad commented on #423
@budhrg on VirtualBox? Expected, as vbox does not set a DNS that can resolve local addresses to an IP address: DESKTOP-8MV1CPM.

[2017-02-23 16:46] thatdocslady commented on #470
Details:
- Remove CLA
- Expand contribution process info

[2017-02-23 22:14] jorgemoralespou commented on #467
@cmoulliard but what state should you expect from that VM? Minishift uses Docker from the Boot2Docker (centos/rhel) isos, so, unless those VMs in VMWare or cloud could have the same base iso I think it wouldn't be possible to do it properly.

If VMWare is a target, there should be a vm-driver for VMWare as the solution. If Google Cloud, Azure, AWS is a target, there should be a similar --provider=

[2017-02-23 22:26] jorgemoralespou commented on #257
@hferentschik I agree with @jstrachan in that minishift should provide some developer friendly defaults, and make clear in the documentation what these are and how to disable them, in case the developer want to test things in an scenario closer to their real production.

The developer should interact with the environment in the most easier way, but we can fall in the trap that then he hands of an

[2017-02-23 22:34] jorgemoralespou commented on #476
@jstrachan AFAIK ProjectRequest is what "oc adm new-project" does. On the contrary "oc new-project" goes through an authorizer for the user, as it can limit the "self provisioning" capability.

I would recommend you to raise the question of what "ninja stuff" is there, and whether a developer should be allowed to create projects via API.

I guess you're using that for the fabric8 template yml file

[2017-02-24 06:36] gbraad opened #480 "Auto mounting functionality for shared folders"
1. ~~Allow configuration to auto mount shares~~
2. ~~Prevent remounting mounted shares~~
3. ~~Check if host is reachable~~
4. ~~Command to add configuration by name~~
5. ~~Command to remove configuration by name~~
6. ~~Command to mount share by name~~
7. ~~Command to unmount share by name~~
8. ~~Auto mount option for `Users` share~~

[2017-02-24 06:39] gbraad commented on #480
Development can be tracked in the branch: https://github.com/gbraad/minishift/tree/mount-shares

  * https://github.com/gbraad/minishift/commit/cf05002d591b980c149e52224568990f475c7fae

Configuration needed:

[code]

[2017-02-24 07:48] cmoulliard commented on #467
My idea is the following in order to avoid to have something too complex to manage/develop:

1) Create a VM Linux box according to the Minishift requirements [1]
2) Add a new command to minishift (= provision) in order to pass the SSH parameters (user/password/key) that minishift will use to issue the commands required to provision the machine [2]

[1] : What are the requirements needed by minishi

[2017-02-24 08:04] jstrachan commented on #476
I don't see any reason on minishift for ProjectRequest creation to be disabled for developers when using OpenShift Templates or `oc apply` - can you think of a reason why a developer isn't allowed to create projects on their laptop?

[2017-02-24 08:22] agajdosi commented on #477
Same situation on RHEL 7 workstation.

[2017-02-24 09:27] hferentschik commented on #472
@LalatenduMohanty can you please hold off in this one?

[2017-02-24 11:27] hferentschik commented on #257
@jorgemoralespou, out of interest, then - why do you think that is would be Minishift enabling CORS for all domains and not _cluster up_? Same for running containers as root. Why are they not enabled per default in _cluster up_? Do you think _cluster up_ has a different use case / audience?

+1 I agree. I think we can make this very easy in the end. Whether one needs to run one additional command

[2017-02-24 11:31] hferentschik commented on #257
What I did is that I made this issue a feature request. We need to build the foundation for this first. Once we have this we can discuss what and what not should be enabled via this mechanism per default.

At least one can configure CORS now using the 'config set' command, even though this is a manual extra step for now.

[2017-02-24 12:02] hferentschik commented on #470
Merged via pull request #479

[2017-02-24 12:02] #470 closed

[2017-02-24 12:19] hferentschik commented on #423
Merged via pull request #478.

[2017-02-24 12:19] #423 closed

[2017-02-24 12:25] gbraad commented on #480
@hferentschik @LalatenduMohanty I would not really like to introduce a new verb as command, but I think this is needed? ...

[code]
This feels weird...

So, what about?
[code]

Or place them inside the `config` command?

And how to structure them for edit and save? WDYT?

[2017-02-24 12:39] hferentschik commented on #480
Sure. How do you want to use that? Once Minishift is up you do mount/umount? I guess I am trying to figure out how this is tied into the current behavior of say VirtualBox and that it transparently mounts your home directory (same for xhyve with the appropriate flags).

Will host folder mounts on Windows with Samba shares work differently (in terms off when and how they are established) than with

[2017-02-24 12:41] hferentschik commented on #480
Another question in my mind. How is Windows shares host folder mounting working together with another potentially exiting host folder mount. Taking VirtualBox again. If I start the default B2D image on Windows, what's going to happen?

[2017-02-24 14:32] agajdosi commented on #477
@budhrg Logging seems to be working when minishift start fails. When I start minishift with bad --username / --password combination on RHEL 7 server, I can later find following files in log_dir:
- minishift.ERROR
- minishift.INFO
- minishift.localhost.hudson.log.ERROR.20170224-092595.17470
- minishift.localhost.hudson.log.INFO.20170224-092595.17470
- minishift.localhost.hudson.log.WARNING.20170224

[2017-02-24 19:42] hoeghh opened #481 "Error when oc get cs"
I get an error when running this command right after minishift start has finished.

[code]

I don't know if its supposed to be this way?

[2017-02-24 22:37] asghar62 opened #482 "Starting minishift on OS X fails"
$ minishift start --vm-driver xhyve
E0224 14:34:14.175766    8230 start.go:98] Error starting host:  Error starting stopped host: Error setting up host only network on machine start: The host-only adapter we just created is not visible. This is a well known VirtualBox bug. You might want to uninstall it and reinstall at least version 5.0.12 that is is supposed to fix this issue
Error starting stop

[2017-02-25 06:21] budhrg commented on #482
Hi @asghar62 ,

I can notice that you are using quite old version of minishift `0.9.0` which was based on minikube.
From 1.0.0-beta onwards, we have migrated into `oc cluster up` approach.

Could you try with latest version of minishift - https://github.com/minishift/minishift/releases/tag/v1.0.0-beta.4 ?

[2017-02-25 17:29] budhrg commented on #457
This issue is no longer valid since now the the build status icon point to master build that https://ci.centos.org/job/minishift/ .

This happened automatically after the name change of jobs - https://github.com/minishift/minishift-ci-jobs/pull/19

[2017-02-25 17:29] #457 closed

[2017-02-25 18:59] jorgemoralespou commented on #257
Totally. If you see that I haven't pushed all the requirements/features we've implemented in the cluster-wrappers into oc cluster is mainly because openshift engineers identify the tools for different audiences. I'm in the process of writing a blog post to summarize this, but mainly "oc cluster" gets you a raw/default openshift cluster. They struggle with adding some developer friendly capabilitie

[2017-02-25 19:08] jorgemoralespou commented on #476
@jstrachan I agree with you that there's many things that developers should be able to do on their laptops that are not allowed in other environments, but if this requires modify the process that minishift uses to bootstrap clusters maybe needs to fall into one of the 2 options:

- Modify minishift and provide some same defaults for developers
- Provide a bundle mechanism that modifies these defau

[2017-02-25 19:11] jorgemoralespou commented on #467
@cmoulliard @hferentschik I still think that instead of relying on the user creating that VM, if we want to support clouds, we can have images there, like the ISOs required for minishift, that can be used, so the user just needs to provide the cloud credentials/keys and minishift will do all the bootstrapping, like is currently doing. This will minimize amount of potential issues.

But I agree tha

[2017-02-26 04:29] praveenkumar commented on #482
@asghar62 also xhyve driver is not the latest one so you do need to update it along with minishift version.

[2017-02-26 07:46] cmoulliard commented on #467
As openshift-ansible as designed scripts/instructions to provision gce, aws, ... we coule reuse what they did. The credentials or additional infos could be passed using a yaml file

[code]

[2017-02-27 07:20] gbraad commented on #480
Implemented in https://github.com/gbraad/minishift/commit/bbec16711170ee64478e3ec8ef5b1236f02cfa30:

* `minishift hostfolder`
  * `mount name`
  * `umount name`

[code]

[2017-02-27 09:15] hferentschik commented on #257
+1 Nice. Maybe there will be something we can use for our docs.

Sure. I am all for making life easier. However, it needs to stay transparent as well. Magic black box changes are not helping imo. I think we will be able to strike a pretty good balance here, once we have the required underpinnings.

Ok

+1 this is a scheduled task

+1 we have that. Obviously you need to pass the proxy settings, but

[2017-02-27 09:18] hferentschik commented on #177
@jorgemoralespou, out of your experience what type of commands does one need to do configuration of OpenShiff. Obviously _oc_, but do you also need to run arbitrary system commands on the VM for example (via ssh). I am trying to figure out whether for a user provided configuration bundle we get away with a list of _oc_ commands which we just execute, or whether we need to handle different types of

[2017-02-27 09:21] LalatenduMohanty commented on #432
@praveenkumar Logically if you need proxy parameters for registration then you need them for unregistration too. The current implementation for proxy parameters is not clean as the start command takes  the proxy parameters and somehow we store in the VM but what will happen if we anything other than subscription-manager and it does not store proxy level information in the VM. So we need a consiste

[2017-02-27 09:22] hferentschik commented on #467
Hmm, I see this more as a special case of issue #392 and the ability to run Minishift on any Docker daemon. In a first step we need to decouple the VM management from all the other OpenShift operations. This could give us in a first step the ability to provision on any host running a Docker daemon. The next step would then be to also for example provision the machine on AWS or Azure. It is definit

[2017-02-27 09:23] LalatenduMohanty commented on #432
The other issue with registration is that , if you reboot the VM then it will loose the registration information , so we need to store registration information is persistent storage , so that `minishift start` -> rebot -> "yum instal" should work.

[2017-02-27 09:28] praveenkumar commented on #432
Logically we already doing it so when user start the VM using proxy then it set proxy for the VM not only for openshift/docker. you can try to run a vm and then start=>stop=>start it suppose to have proxy already.

That is #396, when you say reboot you mean start => stop => start (right) then we already have condition that start parameter always be same one we start the VM so even reboot it should

[2017-02-27 09:30] hferentschik commented on #432
Really? I thought that's what _subscription-manager config _ addresses as well. And anyways, this is assuming you don't pass the parameters again. ATM, we are saying anyways you need to repeat the exact command line on a re-start. Otherwise you are in trouble. For me that falls under #179.

[2017-02-27 09:36] LalatenduMohanty commented on #432
Thats not user friendly at all.

[2017-02-27 09:38] praveenkumar commented on #432
Yes but we don't have any option right now until we break start command (because it manage 2 different set of stuff) with create and then start which we discussed many time and part of #179

[2017-02-27 09:39] LalatenduMohanty commented on #432
@praveenkumar @hferentschik The issue is little different than #179 here. The host reboot causes the rootfs to go back to original state, so I am not sure if unregister actually removes the entitlement clearly.

[2017-02-27 09:43] praveenkumar commented on #432
If a user try do start => stop => start then in the stop time it is unregister which is clear (please try it once). we have unregister hooked with stop and delete command.

[2017-02-27 09:44] praveenkumar commented on #466
There is only one down-fall of using xhyve docker driver directly from binary - if user is using latest version of OSx then binary may or may not work and in that case it's always good  to compile it manually before consume. So what we should do is put a note around same so when user hit a not working driver binary then manually compile and install it.

[2017-02-27 09:45] hferentschik commented on #432
Yes and no. I expect that we end up with something where we specify parameters in start/create, but then in successive restart we don't have to specify anything. In this case, also the registration parameters would be re-applied.

Seems to me that either we make sure that the registration state persists or we don't use _subscription-manager config _ and go back to what we had.

[2017-02-27 09:46] LalatenduMohanty commented on #432
@praveenkumar Nope, thats not the point .We have to cross check that when we register the host, an entitlement given to an user ( I can see them  by logging to access.redhat.com ) but when we unregister if the entitlement is removed. At this moment I have so much entitlements that I cannot verify if the entitlement is removed.

[2017-02-27 09:47] praveenkumar commented on #432
This is already what I tested when implemented register/unregister, I am not sure why so much confusion around it.

[2017-02-27 09:49] LalatenduMohanty commented on #432
@praveenkumar May be I am the only person confused here. So I am assuming that you have tested that entitlement is removed properly if I unregister after reboot , right?

[2017-02-27 09:50] praveenkumar commented on #432
Agree

Right now we are not using persistence subscription-manager config_ (or we do?) I think that is part of #396

[2017-02-27 09:52] praveenkumar commented on #432
if here reboot you means start => stop => start then entitlement is removed properly (during stop) and then again attached properly (during start).

[2017-02-27 09:52] LalatenduMohanty commented on #432
@hferentschik These are two different things IMO. We do not have persistence config because we use live-rw filesystem which does not persists reboots.

[2017-02-27 09:53] LalatenduMohanty commented on #432
I mean start -> `minishift ssh` -> reboot -> unregister

[2017-02-27 10:01] praveenkumar commented on #432
Why would you reboot after ssh to minishift? In that case you not even get openshift running after reboot. I don't think that is a valid case @hferentschik ?

[2017-02-27 10:08] LalatenduMohanty commented on #432
@hferentschik @praveenkumar it is a valid user case, may be not a high priority. But we have all the commands for the users to reboot if they are are experimenting with the VM. Also some user tend to shutdown VMs to save resources.

[2017-02-27 10:09] bronhaim opened #484 "Add support for NFS volumes"
mounted folder is set with /nfsshare/pgdata  *(rw,sync,no_root_squash) in remote host (which is accessible from within the vm by fqdn)

the pod definition is as follow:

    apiVersion: v1
    kind: Pod
    metadata:
      labels:
        app: test
      name: test
    spec:
      containers:
        - image: training/webapp:latest
          name: test
          imagePullPolicy: "IfNotPresent"

[2017-02-27 10:10] LalatenduMohanty commented on #432
The important point is entitlements are expensive and so it should not be wasted.

[2017-02-27 10:16] praveenkumar commented on #432
@LalatenduMohanty  for me valid use case for a user if want to save state/resource then `minishift stop` not do ssh and reboot from there (that doesn't save the state/resource). I agree that entitlement is expensive and we should use it carefully.

[2017-02-27 11:40] #432 closed

[2017-02-27 11:41] hferentschik commented on #432
Merged via pull request #483.

[2017-02-27 14:26] hferentschik commented on #477
AFAIU the _log_dir_ is meant in conjunction with the lib machine logs. Try while specifying a --show-libmachine-logs as well and maybe even a higher log level (-v).

This is really all inconsistent and we need to address this via issue #169. For the user it is about the Minishift logs. If he sets a log_dir all logging should go in there, not just the lib machine logs.

[2017-02-27 14:32] gbraad opened #485 "Improve feedback to the user during startup"
As part of an improved user experience, the user should be told what defaults has been chosen for him, or which values he has given, to make the starting process easier to understand.

For instance,
  * initial/default values can be conveyed to the user
  * Misinterpreted values become visible (use as 4 or 4096, when the user expects something to be in GB?)
  * Progress tracking, which can indicat

[2017-02-27 14:39] gbraad opened #486 "Invalid startup specification is only logged"
On `minishift start` it seems values are logged, but not regarded as startup errors.
[code]

For invalid values (eg. wrong unit, or too little) we need to fail startup.

Providing user feedback to indicate the other values can be part of #485.

[2017-02-27 15:48] jorgemoralespou commented on #177
@hferentschik so far, in my experience all where "oc" and "oc adm" and "openshift" commands to deploy stuff and change configuration.
Also I have some util functions to check things like:
- Is it connected to internet (for when the plugin will pull down things from the internet, not to execute if there's no connectivity) [example](https://github.com/openshift-evangelists/oc-cluster-wrapper/blob/oc

[2017-02-27 15:51] jorgemoralespou commented on #467
@hferentschik +1

But be sure to support issues that arise on running on a random docker daemon. There's many breaking changes in Docker, and Openshift is just supported on RHEL/centos docker versions.

[2017-02-27 16:12] bronhaim commented on #485
- The defaults are presented as part of the help doc which is enough imo.
- start --memory flag accepts only int value for amount of mb - so --memory 4GB doesn't exist.
- The progress tracking - do you mean some kind of ./minishift events watch command ? not sure its really needed. there is status command which is good enough. maybe we can improve the output there.

Maybe this issue should be abou

[2017-02-27 16:23] gbraad commented on #485
@bronhaim a principle of HCI is to have the user be in control, and if defaults are chosen, they should be given or shown. At the moment, when `minishift start` is done, no feedback is given. this leaves people guessing. I understand that document is a way to provide this information, but it is often not up-to-date, or people just do not consult the document. ;-)

The progress tracking is more alo

[2017-02-27 16:36] budhrg opened #487 "Create minishift-data.json to persists data specific to minishift instance"
We need `minishift-data.json` to persists few data specific to minishift instance like 'oc' version etc.

Currently, we need following data as:
[code]

`isRegistered` is updated when we register a VM, so that we can read that in stop/delete instead of having to ssh into the VM (which might be in an error state) and `ocVersion` and `ocPath` are needed to make sure we are using correct oc version on

[2017-02-27 18:26] hferentschik commented on #487
In code we need utility methods to read/write the config file and parse it into a types config struct of sorts.

[2017-02-27 18:58] hferentschik commented on #467
Sure, tbh I think it will take some time before we cross this bridge.

[2017-02-28 06:31] praveenkumar opened #489 "subscription-manager version call failing in proxy environment"
Currently we are parsing proxy details using regex and then passing it to subscription manager. subscription manager do honor the shell proxy env and should consumed it instead we do extra work from parsing.

[2017-02-28 06:43] gbraad commented on #487
@hferentschik @budhrg This is something I also need for the hostfolders.

[2017-02-28 09:12] gbraad commented on #394
Currently running into the following issue: https://github.com/docker/docker/issues/16092

Unable to take ownership of thin-pool (%s) that already has used data blocks

[2017-02-28 11:54] chiippy commented on #254
As Vagrant openshift isn’t working  under windows now, so I have had a look at minishift (1.0.0-beta.4) and getting this problem when open up the docker-registry. Seems like no a resolution at the moment.

Looking in the dockerd, the docker-registry service URL isn’t marked as insecure.  I can change the docker.service to include this but surely no a simple way.

So, I performed :
1)	Minishift del

[2017-02-28 12:30] budhrg commented on #254
@chiippy , thanks for the workaround.

The last thing we tried is mentioned here https://github.com/minishift/minishift/issues/277#issuecomment-272689327  which seems to be not working from host.

[2017-02-28 13:34] chiippy commented on #254
I am using Windows 7 + VirtualBox. minishift uses the boot2docker.iso image.  Looking at the comments in #277. I am a bit lost about 'no working from host ?'.  I guess host mean the VirtualBox VM ?  I am running minishift from my PC and I didn't change  anything inside the VM, so I don't have the problem losing changes inside the VM after minishift stop/start.
As you can see from my previous reply

[2017-02-28 13:47] agajdosi commented on #477
@hferentschik thank you for information. I can confirm that on RHEL logs are saved in log_dir folder when minishift is started with --show-libmachine-logs and -v 5. I agree with you that all logs should go in there as it is quite expectable when opposite is not explicitly mentioned, e.g. in "minishift config set --help".

[2017-03-01 03:16] gbraad opened #491 "Investigate if nested virtualization is possible for Windows-based CI"
Currently we are using AppVeyor to provide builds (and tests) on Windows. However, since Docker Machine (libmachine) needs a hypervisor, the CI would need to support nested virtualization to support running integration tests.

[2017-03-01 03:21] gbraad commented on #491
We have been granted access to the 'Windows Server 2016` [ref](https://github.com/appveyor/ci/issues/1150#issuecomment-283103564).

[2017-03-01 04:19] gbraad commented on #491
https://ci.appveyor.com/project/gbraad/appveyor-test/build/1.0.8

[code]

[2017-03-01 04:35] praveenkumar commented on #465
@hferentschik below is the minikube commands and if we are agree on we shouldn't move any commands to openshift context which is part of minikube then we don't have anything left for this issue (version, logs and service is part of main minikube).

[code]

[2017-03-01 06:53] gbraad commented on #358
You might need something to get the host IP addresses? I needed something similar: https://github.com/gbraad/minishift/commit/164c0ae61a8a4724d39ae9f50c0e017dd9743234

[2017-03-01 09:20] hferentschik commented on #465
@praveenkumar

* _version_ of course needs to stay. It reports the Minishift version, what should more is _get_openshift_version_. A benefit of this is that once it moves into the _openshift_ context, we can get rid of the strange name and just call it _version_
* _logs_ also needs to stay. What I am proposing is to change the semantics a bit. _minishift logs_ shows the system logs of the VM, and

[2017-03-01 09:21] hferentschik commented on #491
:-(

[2017-03-01 09:26] hferentschik commented on #358
Indeed I do :-)

In fact now that I get a better grasp of this, I think there is a lot of overlap with the Windows shares stuff. I definitely see how windows shares vs sshfs are two different types of host folders we want to somehow offer under a unified ux. We need to sync on this asap.

I am a bit surprised that you expose the host IP via a command though. Is this not something you would need in

[2017-03-01 09:32] gbraad commented on #358
testing purposes

[2017-03-01 09:56] hferentschik commented on #59
I am closing this as a duplicate of #177 which seems to have the more relevant discussion.

[2017-03-01 09:56] #59 closed

[2017-03-01 10:08] thatdocslady commented on #388
@hferentschik I marked this as needs-investigation (new label, looks good), please let me know when I can pick this up

[2017-03-01 10:30] agajdosi opened #493 "'openshift config' command rejects all patches as non valid JSON"
[code]
I am following docs - [Updating OpenShift configuration](https://github.com/minishift/minishift/blob/724f750d5b1116b8651d5b5f75378906ed91a357/docs/using.md#updating-openshift-configuration). Running example command in both cmd and powershell gives me following message: "The specified patch need to be a valid JSON." I tried several alternations of quotes but without success:

[code]

[2017-03-01 11:50] jorgemoralespou commented on #465
+1 to all your suggestions @hferentschik

[2017-03-01 12:35] hferentschik commented on #493
@agajdosi Have you tried wrapping the string in '@', using here strings - http://stackoverflow.com/questions/18116186/escaping-quotes-and-double-quotes?

[2017-03-01 12:38] magick93 opened #494 "How to connect to database on host from container in minishift?"
Im trying to connect to a postgres database, from a springboot application deployed in minishift.

The postgres server is running on the same host that minishift is running on.

I've tried setting the postgres serve to listen on a specific IP address, and use this same address in the springboot jdbc connection url but I still get `org.postgresql.util.PSQLException: Connection to 172.99.0.1:5432 re

[2017-03-01 13:07] jorgemoralespou commented on #494
https://docs.openshift.org/latest/dev_guide/integrating_external_services.html#external-mysql-database

This means that the host IP is accessible from the guest minishift VM.

[2017-03-01 13:36] agajdosi commented on #493
@hferentschik Strangely it seems my power shell v2.0 does not recognize herestrings.

    PS C:\Users\CDK> minishift openshift config set --patch @'{"corsAllowedOrigins" : [".*"]}'@
    Unrecognized token in source text.
    At line:1 char:40
    + minishift openshift config set --patch  <<<< @'{"corsAllowedOrigins" : [".*"]}'@
        + CategoryInfo          : ParserError: (:) [], ParentContainsE

[2017-03-01 15:08] budhrg commented on #493
Hi @agajdosi ,

This is interesting. I searched a bit around this and found it is common thing in powershell.

Try https://msdn.microsoft.com/en-us/powershell/reference/3.0/microsoft.powershell.utility/convertto-json
or http://stackoverflow.com/questions/33217907/powershell-convert-string-to-json .

We need to properly document it how we get it correct.

[2017-03-01 18:13] agajdosi commented on #489
@praveenkumar I have found two problematic things in current proxy solution, but I am not sure if this is going to help you as I was unable to somehow understand your changes. However those 2 things are:
1. If you mean by "shell proxy env" the http_proxy variable, then checking for subscription-manager version is currently being executed before setting up http_proxy.
2. But more importantly: "subs

[2017-03-01 18:38] hferentschik opened #495 "Enable Travis CI webhook notifications"

[2017-03-01 19:34] thesteve0 opened #497 "Windows 10 not working with Beta4"
So I did minishift delete then deleted .minishift and then replaced the beta3 binary with my beta4 binary.

I do this command:
PS C:\Users\steve> minishift start
Starting local OpenShift cluster using 'hyperv' hypervisor...

and it just hangs there. The VM starts up - I can see it running and connect it to from the hyper-v console. But when I connect in I just see the boot2docker prompt and nothin

[2017-03-01 20:21] fabiand commented on #484
This is eventually similar to kubernetes/minikube#1174 where iSCSI volumes can not be used because of missing iscsiadm and kmods.

[2017-03-02 01:45] starksm64 opened #498 "Web Console not displaying, OS X, --vm-driver vmwarefusion, 1.0.0-beta.4"
I have started a mini shift cluster using the vmwarefusion driver on OS X 10.11.6. I'm using the 1.0.0-beta.4 build download.
[tmp 572]$ minishift version
Minishift version: 1.0.0-beta.4

while I am able to start the cluster and deploy apps, I am unable to view the web console. When I login, I see:

![webconsolescreen](https://cloud.githubusercontent.com/assets/332210/23489156/bf47288a-fea5-11e6-9

[2017-03-02 02:15] praveenkumar commented on #489
Before it was doing that but now with the PR it does setup proxy before executing any subscription-manager commands.

The way I can see is you are executing sudo without preserving the environment variables so when you use sudo with subscription manager then use `-E` option of sudo which also part of the PR.

I recommend you to do a manual build from this PR and you are able to see subscription-ma

[2017-03-02 05:09] gbraad commented on #497
Can you verify the virtual switch that has been assigned to the virtual machine? You can see this from the Hyper-V Manager interface. At the moment it is suggested to use an External switch, so DHCP can provide an address.

[2017-03-02 05:10] gbraad commented on #497
Related to #417, maybe #419

[2017-03-02 05:30] gbraad commented on #419
@LalatenduMohanty we might have to implement something like IP reachability checks and report these as part of #485. Have implemented something similar for #480 to detect the IP of the host.

[2017-03-02 06:40] budhrg commented on #498
@starksm64 , We haven't tested vmwarefusion driver well enough yet.

By any means, you are using Safari to open web console? You might want to look this issue https://github.com/minishift/minishift/issues/199.

We will try to first reproduce it at our end.

[2017-03-02 06:46] starksm64 commented on #498
Yes, I was using Safari. I have tried opening the console in Chrome and I am able to login and see the web console as expected.

[2017-03-02 06:49] praveenkumar commented on #498
@starksm64 right, I can confirm in safari we get same issue and `minishift console` use default browser driver which is safari for mac. We will try to find out why this is not handled properly in safari.

Thanks for trying out minishift on a different vm-driver 👍

[2017-03-02 07:10] budhrg commented on #498
I think we can close this issue as it is duplicate of #199

[2017-03-02 07:19] Preeticp commented on #389
Adding this note to track required documentation. We will need to update documentation and add an example, on the lines of the example we had for the /data host directory earlier, in the Interacting with your local OpenShift>Persistent volumes section.

[2017-03-02 07:19] praveenkumar commented on #465
👍

what do you mean by system logs here something like `dmesg`? we do need to keep in mind that all the iso should have same command to access those details.

I agree, we can move it to `openshift` context.

[2017-03-02 07:33] LalatenduMohanty commented on #497
@gbraad I think there might be something else is an issue here as @thesteve0 mentioned beta3 was working for him.

[2017-03-02 07:40] gbraad commented on #497
@LalatenduMohanty he removed the configuration/virtual machine with `minishift delete`

[2017-03-02 07:46] praveenkumar commented on #498
I agree, closing this because of duplicate of #199

[2017-03-02 07:46] #498 closed

[2017-03-02 08:00] gbraad commented on #497
@thesteve0 can you check the content of: `C:\Users\[username]\.minishift\machines\minishift\config.json`. Specifically the value of `VSwitch` as mentioned above. If the value is `""`, it means the default option was chosen.

After this, please verify the Virtual Switch assigned to the network adapter of the Minishift instance. you can find this in the settings page of the virtual instance in Hyper

[2017-03-02 08:18] budhrg commented on #497
I am not able to reproduce this issue.
I did :
- `minishift start` with binary version 1.0.0-beta3
- `minishift delete` and removed `.minishift` folder
- Replaced the beta3 binary with my beta4 binary
- Performed minishift start and able to see the Openshift server started message.

Before anything above, I need to create a proper *external* switch with working network.

@thesteve0 Could you show

[2017-03-02 08:21] gbraad commented on #497
I added the 'Cannot reproduce' tag, but will keep it open because of 'Need info'. Although the reported issue looks so much like reported in #419.

[2017-03-02 08:26] gbraad commented on #497
Example of a working configuration:
![external](https://cloud.githubusercontent.com/assets/1894/23498940/e9290fb4-ff64-11e6-810f-1e63de195479.png)
Note: as long as Wireless is connected to a network that has a DHCP server (like a home router)

[2017-03-02 08:57] LalatenduMohanty commented on #489
This looks like a bug with the code and it is blocker issue.  I have assumed that the version command is a local command and does not need network access.
So not testing minishift in an environment where internet is limited to pass though only proxy was a mistake from me.
We should file a separate bug and track it.

[2017-03-02 09:04] LalatenduMohanty commented on #489
@praveenkumar if @agajdosi 's observation is correct than we have a bug in below code. Which did not change from the first attempt of adding proxy. So I think your current PR will also fail for @agajdosi
[code]

[2017-03-02 09:09] budhrg commented on #342
This command seems to be working well but needs some documentation changes.

[code]

@hferentschik For me it seems that we need documentation changes here. WDYT ?

[2017-03-02 09:13] hferentschik commented on #489
@agajdosi good catch :+1: - so here we have an issue regardless of which approach we are taking.

[2017-03-02 09:13] LalatenduMohanty commented on #489
I manually tested and I agree with @agajdosi , Saw below in the proxy server access log when I executed teh version command.

[code]

[2017-03-02 09:14] LalatenduMohanty commented on #489
@hferentschik yes, the config command needs to run first then anything else

[2017-03-02 09:16] praveenkumar commented on #489
@LalatenduMohanty even config command run then also if we use sudo with `-E` then it will have same issue. I updated the PR with all the bits and will test it once we have CI passed along with @agajdosi

[2017-03-02 09:18] hferentschik commented on #342
@budhrg so what are you actually saying here?

[2017-03-02 09:23] praveenkumar commented on #359
I spent some time before this PR and tried to understand why we can't use same approach as kubernetes do for context - https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/start.go#L175-L194  here you can see that before it set the context it have kubernetes up and running and then they create the config file.

Since we are using oc cluser up approach `oc` itself create config file

[2017-03-02 09:32] LalatenduMohanty commented on #489
@praveenkumar Sorry I did not get you.  I mean the `subscription-manager config` command with proxy details need to run first and the the `subscription-manager version` command needs to run with respect to existing implementation.

[2017-03-02 10:04] jstrachan opened #501 "Allow Minishift to be easily configured to use `nip.io` instead of `xip.io`"
I find `xip.io` to be pretty flaky really - it often goes dark on me for a few minutes. I've found `nip.io` to be much more stable.

Whats the simplest way to get minishift to use it for route postfixes?

[2017-03-02 10:05] jstrachan commented on #501
we maybe wanna make nip.io the default anyways?

[2017-03-02 11:14] agajdosi commented on #489
@praveenkumar RHEL is being registered successfully in OpenStack with build of your PR branch. Verified with functionality of yum. Only problem I am facing is I have to use MINISHIFT_USERNAME and MINISHIFT_PASSWORD, when using --username and --password flags I am getting following error:
[code]
But this can be also problem with bad configuration on my side: I am using rhel.iso from cdk beta2 build

[2017-03-02 11:23] hferentschik commented on #495
Merged via pull request #496

[2017-03-02 11:23] #495 closed

[2017-03-02 11:46] hferentschik commented on #501
$ minishift openshift config set --patch '{"routingConfig": {"subdomain": "192.168.99.101.nip.io"}}'

The IP differs. That's the IP of your VM. You can get it via `minishift ip`.

There is also a `--routing-suffix` flag as part of the `minishift start` command, which would set the specified prefix as part of the _cluster up_. However, since IP are dynamic, you would not know beforehand what IP you

[2017-03-02 11:57] hferentschik opened #502 "Travis CI builds keep hitting GitHub rate limit for unit tests"
Despite having set _MINISHIFT_GITHUB_API_TOKEN_ as an environment variable in the Travis CI settings,  builds still regularly hit the GitHub API rate limit during unit tests.

It seems the environment variable is not set/available for the process running the unit tests.

The reason might be, that Travis CI only sets the variable for the main build process. Make in turn starts a sub process for eac

[2017-03-02 12:01] jorgemoralespou commented on #501
FYI,
oc-cluster has moved from xip.io to nip.io in master code. Not sure what
version will bring it, but I doubt it will be 1.5.

cc/ @csrwng

[2017-03-02 12:08] hferentschik commented on #501
Interesting, I guess they did some tests then.

Not sure whether we should put something in the Minishift right now or whether we just wait that oc-cluster uses nip.io

[2017-03-02 12:10] jorgemoralespou commented on #501
A correction, the PR is not yet merged.

https://github.com/openshift/origin/pull/13023

I would think that we should want to set nip.io as default if no
--routing-suffix has been set, so would make the transition to this
easier/smoother for users.

https://github.com/openshift-evangelists/oc-cluster-wrapper/blob/master/oc-cluster#L51

[2017-03-02 12:13] hferentschik commented on #501
Fair enough. Easy enough change to make on our side.

[2017-03-02 12:14] jorgemoralespou commented on #359
@praveenkumar @hferentschik I would request you to think about profiles (if you have already thought on how to implement them) as the context setting will be very relevant to when that happens.

[2017-03-02 12:14] praveenkumar commented on #465
Did a basic check from system logs side and looks like it's not consist across iso. So we are not going to touch `logs` command options.

For b2d iso

[code]

For CentOS/RHEL iso

[code]

[2017-03-02 12:22] jorgemoralespou commented on #389
@hferentschik For this issue, it should be pretty simple to create the volumes in versions pre 1.5 using same approach as "oc cluster does", it's running a Job creating a sufficient number of persistent volumes.

https://github.com/openshift/origin/blob/master/pkg/bootstrap/docker/openshift/pvsetup.go

Although, oc versions pre-1.5 will not have the registry configured as persistent.

The goal her

[2017-03-02 12:25] budhrg commented on #342
After discussion, we come into conclusion that this should be based on https://github.com/minishift/minishift/issues/465.

[2017-03-02 12:29] hferentschik commented on #450
Merged via pull request #473

[2017-03-02 12:29] #450 closed

[2017-03-02 12:52] hferentschik commented on #359
What do you mean with profiles in this case? The ability to have multiple Minishift instances and switch between them? Or the ability to bootstrap OpenShift instances with different configurations (more or less secure for example). Profiles has been used recently for both of this.

I assume you mean the former. I would think that 'minishift' is the context for now, but effectively the context will

[2017-03-02 13:04] jstrachan commented on #501
@hferentschik there's the catch 22 as you don't know the IP address until you run `minishift start`. Is there a way to pass in the `route-suffix-suffix`? ;) so that `route-suffix` gets set to use the dynamically created IP + the `route-suffix-suffix` as part of the regular `minishift start` CLI?

[2017-03-02 13:52] hferentschik commented on #502
Actually all wrong ;-) Sub process do get the env variable set as well. In fact all is working fine on master.

The issue is that pull requests from forked repositories don't get the environment variable applied out of security reasons - https://docs.travis-ci.com/user/pull-requests#Pull-Requests-and-Security-Restrictions. This means pull request builds won't have the GitHub token variable injecte

[2017-03-02 14:50] jorgemoralespou commented on #359
@hferentschik Yes, the former, since the later I guess you're not contemplating keeping all the configured instances and being able to switch between them (which is a poor's man version of the former).

And yes, what I mean is that you shouldn't make it too hardcoded to the context name, as in the future I envision the context name mapping to the profile (e.g. minishift-test, minishift-ocp34, ...

[2017-03-02 15:32] budhrg commented on #502
I also see following in their security reason page -

I think they should at least allow Pull requests from forked repositories that belongs to members with write access to the repository.

Can we query them about it?

[2017-03-02 16:20] kameshsampath opened #503 "Allow installing openshifit-cli"
It will be nice if openshift-cli can be checked during minishift start and prompt for the user to install the same.

[2017-03-02 18:16] magick93 opened #504 "Unable to access postgres route"
Hello

I'm trying to access a postgres service.
I've installed https://github.com/sclorg/postgresql-container/tree/master/9.5, and apparently if I set the `POSTGRESQL_ADMIN_PASSWORD` env var, then pg will allow remote connections. I did that but it seems pg is not listening.

I also tried to telnet to the route, and port 5432, but got:
`telnet: Unable to connect to remote host: Connection refused

[2017-03-02 18:22] thesteve0 commented on #497
Just to clear up - each time I delete the .minishift dir as well. Is that the wrong thing to do.

Both times I tried this on the RH network at Mtn View.

It is also not working when I try to go back to beta3
![externallan](https://cloud.githubusercontent.com/assets/1404099/23520987/01f8a564-ff32-11e6-9671-e516f206ea92.png)
![machinelan](https://cloud.githubusercontent.com/assets/1404099/23520988/0

[2017-03-02 18:24] thesteve0 commented on #497
CRAP - it is attaching to the non-wifi external. I just noticed when looking for the bazillionth time. I have to go to a Drs appt this morning. Will try later when I get back and on a network. Thanks for working with me and hold off on putting any more effort into this until I bump again.

It would be great if we could "automagic" away some of this difficult network experience. How does Docker do

[2017-03-02 18:27] hferentschik commented on #503
If you are talking about _oc_, then it is already installed. In fact it is used to provision the OpenShift cluster. You can add it to your PATH. See also https://github.com/minishift/minishift/blob/master/docs/interacting-with-openshift.md#openshift-client-binary-oc

What's missing is to offer a helper command which prints out the right export syntax based on your OS and shell, similar to _docker-

[2017-03-02 18:29] hferentschik commented on #504
@magick93 - can you provide some more info. How did you install this image? Can you provide the steps to reproduce. I would think that you don't expose the service port.

[2017-03-02 18:37] gbraad commented on #497
I was about to ask, "are you on cable or WiFi?". It is a common mistake that I really wanna tackle soon. Part of this is #485 and doing preflight checks and reporting to the user.

Docker does not do it very smoothly either, but they utilize the fact that IPv6 is enabled. This is why I have #418 as a reported error...

[2017-03-02 18:37] magick93 commented on #504
Steps to reproduce

1. `minishift start`
2. login to web console as developer
3. In myproject click on `Add to project`
4. Click on `Data Stores`
5. Click on `Select` on `PostgreSQL (Ephemeral)`
6. Customize or go with defaults and click `Create`
7. Then go to deployment config for the newly created data store
8. Click on `Environment` and click on `Add environment variable`
9. Add `POSTGRESQL_ADM

[2017-03-02 18:39] gbraad commented on #497
I will close the issue for now. But please do find me... as I really want to solve this, but it needs several things before we get there.

[2017-03-02 18:39] #497 closed

[2017-03-02 20:04] hferentschik commented on #472
Merged via pull request #488

[2017-03-02 20:04] #472 closed

[2017-03-02 21:17] hferentschik commented on #177
@jorgemoralespou awesome, thanks a lot. That helps a lot.

[2017-03-02 21:27] hferentschik commented on #177
@jorgemoralespou regarding self referencing values, would you think that we can define a reasonable subset of variables (ip, route suffix, etc) which is useful. I don't think it is realistic to be able to "interpolate" any sort of variable used w/i OpenShift. WDYT?

[2017-03-02 21:56] thesteve0 commented on #497
Ok @gbraad @budhrg  works with the alpha 3 binary. Now will try with the alpha4 binary - if you don't hear from me assume it worked. Sorry for the alarm.

[2017-03-02 21:58] hferentschik commented on #481
Well, no I guess. However, this is not really a Minishift issue in this case, but rather an OpenShift one -
https://github.com/openshift/origin/issues/3667

I am going to close this issue, since everything related to this should go there.

[2017-03-02 21:58] #481 closed

[2017-03-02 22:41] jorgemoralespou commented on #177
@hferentschik I don't understand your question really well, but I will take a guess and say that only a subset related to the things that might change are relevant. Usually domain, master ip, hostname, and possibly some others (In my case Platform, but I understand here is not relevant).

[2017-03-02 22:47] jorgemoralespou commented on #504
You will most likely not be able to use a route for postgresql. Routes are
for http/https (or ssl over SNI), as in secure traffic SNI is required to
do the mapping from requested url to service.
If you want to test from your localhost, there is 2 easy options:

- port forwarding, where you open forward your localhost:5432 to the
pod:5432. Look into oc port-forward -h examples
- nodePort. This is a

[2017-03-02 23:26] thesteve0 commented on #497
Ok everything is working but I do think we should have upgrade instructions for people who do minishift delete. They are going to have to ctrl-c to quit the command. Manually stop the VM. Change to network adapter to whichever one is on the network. Then do oc cluster up and wait.

[2017-03-02 23:31] gbraad commented on #497
This procedure applies in general... and yes, better instructions for this are needed. Will mention this again during the standup. /cc: @LalatenduMohanty

[2017-03-03 05:20] praveenkumar opened #507 "Interacting with openshift link is broken in the README"
In current Readme file at Quickstart section there is broken link for `Interacting with OpenShift` which need to be point to correct doc link.

[2017-03-03 07:28] LalatenduMohanty commented on #501
@hferentschik did `minishift start --routing-suffix nip.io` work for you? I got the route with .nip.io but it did not work.  I think first we need to check why `--routing-suffix` does not work ( I have not looked in to the code yet and not sure if it works for others). As @jorgemoralespou mentioned `cluster up` is moving to nip.io and I can see https://github.com/openshift/origin/pull/13023 merged

[2017-03-03 07:45] LalatenduMohanty commented on #501
So the issue is https://github.com/minishift/minishift/issues/501#issuecomment-283648141 as @jstrachan mentioned.

[2017-03-03 08:53] LalatenduMohanty commented on #501
I believe this is a change we should drive in upstream i.e. in oc cluster up (which is already done). If nip.io is better than xip.io then it should be true for Minishift and "cluster up". I would be inclined to wait for "cluster up" to bring the feature and fix the -routing-suffix

[2017-03-03 08:54] hferentschik commented on #501
If you got the route, then all should be good. Did you do a dig on the hostname?

Sure, it seems nip.io is more stable and even OpenShift is moving to it, however, it is not clear when this change will arrive. Since this is a simple change, we might as well be a bit proactive.

[2017-03-03 08:55] hferentschik commented on #359
+1 Same here

[2017-03-03 09:00] hferentschik commented on #501
It is driven upstream. We just want to be proactive. Also more consistent in fact. Say the feature comes in 1.5. If people then use OpenShift 1.4 they get xip.io and when they use 1.5, they get nip.io. If we apply the route suffix it is consistent.

Why? Here is one of the points where we could benefit how we are setting things up with Minishift. For once something is easy to do.

[2017-03-03 09:07] hferentschik commented on #504
@magick93 can you try this and verify whether this works for you? If you want to temporary access the db, I guess port forward is easiest. If you are more looking for how to set this up in a more permanent way, I'd say take a look at the NodePort feature.

[2017-03-03 09:08] praveenkumar commented on #501
Did a test so if we just use --routing-suffix nip.io then subdomain will not have vm ip and not able to route properly.

[code]

Default run
[code]

[2017-03-03 09:10] hferentschik commented on #177
ok

they are the usual suspects I guess

we would need to be more specific here ;-) Maybe we start with supporting the obvious ones and then add more as people request them

What do you mean with that?

[2017-03-03 09:12] hferentschik commented on #501
that cannot work per definition. nip.io and xip.io require the IP to return to be encoded in the hostname/route. Unless I made a mistake this is also not what I did in the pull request, but I combine IP + nip.io

[2017-03-03 09:15] hferentschik commented on #507
Merged via pull request #508

[2017-03-03 09:15] #507 closed

[2017-03-03 09:42] agajdosi commented on #489
@praveenkumar Tested your PR on RHEL7 behind blocking proxy. Issue with not accepting --password --username is gone. MINISHIFT_PASSWORD/MINISHIFT_USERNAME works also well. Proxy registration in both cases went fine. Seems fine to me. 👍

[2017-03-03 10:03] praveenkumar opened #509 "Give the developer sudoers role"
Recently @hferentschik pointed a nice article about how we can implement same linux philosophy of having sudo to perform admin tasks and I think this will helpful for us and for users.

- https://bierkowski.com/openshift-cli-morsels-sudo-and-user-impersonation/

[2017-03-03 10:09] #427 closed

[2017-03-03 10:09] praveenkumar commented on #489
@agajdosi Thank you for testing it out :+1:

[2017-03-03 10:12] hferentschik commented on #502
Merged via pull request #505

[2017-03-03 10:12] #502 closed

[2017-03-03 10:59] dominicalston opened #510 "No symlink from /var/lib/docker/containers/ to /var/log/containers"
According to the fluentd documentation, it states the kubelet creates symlinks that
capture the pod name, namespace, container name & Docker container ID
to the docker logs for pods in the `/var/log/containers` directory on the host. We see no such containers directory in the host.

##### Version
Host is running 4.4.27-boot2docker
kubernetes v1.4.0+776c994
features: Basic-Auth GSSAPI Kerberos SPNE

[2017-03-03 11:01] praveenkumar opened #511 "Add a version command as openshift subcommand"
Currently user doesn't know which version of OpenShift they are using/running, adding version command will help in that sense.

[2017-03-03 11:07] marekjelen opened #512 "KVM driver fails when --forward-ports set to true"
Hi,

KVM seems to be failing on F25, my configuration is

[code]

and running `minishift start` fails on

[code]

[2017-03-03 11:14] jorgemoralespou commented on #177
In my use case, as oc-cluster can be run on linux, docker for mac, and docker for windows, there's some things I do that depends on the platform, like get the IP of the cluster. On linux it's native, on Mac runs on a VM, ... And there's some other stuff, like the file permissions, SELinux on the host. When I mount volumes from the host, if Platform is Linux, I fix SELinux tags. Also, to remove thi

[2017-03-03 11:16] hferentschik commented on #511
If we add the version command _minishift openshift version_ reporting the version of the currently running OpenShift cluster, we could add the _list_versions_ command as subcommand: _minishift openshift version list_. This would align with _minishift openshift service_ and _minishift openshift service list_.

[2017-03-03 11:18] jorgemoralespou commented on #501
Correct.

e.g. "--routing-suffix 127.0.0.1.nip.io" as that will give back from nip
127.0.0.1.

So if you provide a --routing-suffix you should preserve that one, else,
you should provide (hostIP).nip.io to "oc cluster" so that versions < 1.6
will use nip.io and not xip.io

[2017-03-03 11:19] jorgemoralespou commented on #509
Agree.

https://github.com/openshift-evangelists/oc-cluster-wrapper/blob/master/oc-cluster#L475-L478

[2017-03-03 11:29] budhrg commented on #487
As a first cut of it, we agree to have minimal config.json file with :
[code]
As we go further, we can add more properties.

[2017-03-03 11:38] agajdosi commented on #135
@gbraad I got some ideas looking onto your .feature file. I think it is really needed to specify minishift state in when statement so it is clear that scenario covers start from non existing state or from stopped state or it covers behaviour when starting on running instance of minishift. Next two ideas are more about our attitude, are moc speculative: features could be written from application pe

[2017-03-03 11:43] hferentschik commented on #465
Merged via pull request #500.

[2017-03-03 11:43] #465 closed

[2017-03-03 11:50] praveenkumar commented on #512
That looks like firewall issue can you open "8443" port for localhost (using firewalld) and try again? May be recently fedora made changes against firewalld.

[2017-03-03 11:52] praveenkumar commented on #511
We might to look into to get tags from the docker hub for the released so that in downstream we can just change the url to internal registry and everything works.

[2017-03-03 11:57] #489 closed

[2017-03-03 11:59] hferentschik commented on #489
Merged via pull request #490

[2017-03-03 12:28] wkulhanek opened #513 "CDK refuses OpenShift Container Platform versions"
I downloaded the Minishift as part of the CDK 3 Beta. It downloads OCP 3.4.1.2 oc client binary. Current is 3.4.1.7.

So I tried to start it with "minishift start --openshift-version v3.4.1.7"

which results in:

Minishift does not support Openshift version v3.4.1.7. You need to use a version >= 1.3.1.

There seem to be some remnants of the Origin stuff still there. Also in my book 3.4 is bigger t

[2017-03-03 12:31] lulf opened #514 "Exposing internal services for development"
When using minishift for local development, it is sometimes useful to be able to connect to 'internal' services in the openshift application for debugging.

This is possible when using 'oc cluster up', because all services are accessible from the host. With minishift, these services are now hidden inside the VM. For HTTP it is possible to work around this by exposing a route.

However, for non-HTT

[2017-03-03 12:36] hferentschik commented on #513
Nice.

Well technically it is the _oc_ binary bundled with the _minishift_ binary and extracted via the _setup-cdk_ command.

That's not working atm. This is an outstanding issue of the CDK 3 (it's still beta) - https://issues.jboss.org/browse/CDK-51

The next version of the CDK will allow you to switch the image to a later version. As you say, right now there is still some Origin logic in place.

[2017-03-03 12:37] LalatenduMohanty commented on #513
You have to just stick to the packaged OCP version now till we fix it i.e. no `--openshift-version`

[2017-03-03 12:39] LalatenduMohanty commented on #512
The default `minishift start` works for me on F25. I will try the exact settings mentioned in the report.

[2017-03-03 12:39] hferentschik commented on #513
I am going to close this issue here, since it is tracked in CDK-51 and all CDK related issues should go there - https://issues.jboss.org/projects/CDK

[2017-03-03 12:39] #513 closed

[2017-03-03 12:41] budhrg opened #515 "Include SHA ID in version string"
I am thinking here that should we include SHA ID in the version command?

I observed that both Openshift origin and Docker machine includes SHA ID in their version as

[code]

I am thinking of this for minishift :
[code]

Any thoughts?

[2017-03-03 12:46] hferentschik commented on #510
Can you provide a pointer to the documentation you are referring to? And can you also describe what you want to do?

Personally I never heard of this, so this needs some investigation first.

[2017-03-03 12:49] hferentschik commented on #512
@marekjelen and that's F25 specific? Aka it works on other Fedora versions? What's about another driver? Basically I am wondering whether this is an issue related to KVM / Fedora or the fact that you use port forwards.

[2017-03-03 12:57] dominicalston commented on #510
The documentation is part of the fluentd implementation of origin-aggregated-logging, documentation here:
https://github.com/openshift/origin-aggregated-logging/blob/master/fluentd/configs.d/openshift/README

The symlink creation is required by the origin-aggregated-logging stack fluentd implementation.

[2017-03-03 13:08] hferentschik commented on #493
This is what works for me:

    $  .\minishift.exe --% openshift config set --patch "{\"routingConfig\": {\"subdomain\": \"192.168.99.101.nip.io\"}}"

See http://stackoverflow.com/questions/24745868/powershell-passing-json-string-to-curl

So you need '--%' to stop powershell to do any kind of substitutions and then you need to escape the " themselves. Not pretty, I agree. Moving forward we will of

[2017-03-03 13:14] marekjelen commented on #512
@hferentschik do not know, I have only F25 set up.

@praveenkumar tried enabling net.ipv4.ip_forward and adding port 8443/tcp to firewalld public zone

[2017-03-03 13:15] utherp0 opened #516 "Minishift reports 'virtual' as 'virutal'"
Just cosmetic - if Minishift fails on startup due to lack of --vm-driver it reports all errors with the word 'virutal' instead of 'virtual'

Example:

E0302 08:53:29.141736   15907 start.go:150] Error starting the VM: Error registering the VM: This virutal machine requires registration. Credentials must either be passed via the environment variables MINISHIFT_USERNAME and MINISHIFT_PASSWORD  or th

[2017-03-03 13:16] praveenkumar commented on #512
@marekjelen can you unset all your shell variable and the just try `openshift start` by default it use kvm driver.

[2017-03-03 13:18] praveenkumar commented on #516
@utherp0 Thanks for report it just a typo, we are happy if you can send patch for it otherwise we will take care.

[2017-03-03 13:18] marekjelen commented on #512
@praveenkumar

[code]

[2017-03-03 13:22] praveenkumar commented on #512
@marekjelen Now we got something different, can you follow below steps and let me know if still fails?

[code]

[2017-03-03 13:26] marekjelen commented on #512
@praveenkumar yes, that worked

[code]

[2017-03-03 13:29] praveenkumar commented on #512
@marekjelen your issue was with port forward nothing else and second time you got different result because first time run made minishift home profile dirty so once it cleaned you got expected result.

[2017-03-03 13:32] LalatenduMohanty commented on #516
Here is the wrong spelling https://github.com/minishift/minishift/blob/master/pkg/minishift/registration/utils.go#L48

[2017-03-03 13:39] marekjelen commented on #512
@praveenkumar awesome, wiped all the stuff as you suggested; set the env vars except port forward; rerun and works fine

@hferentschik looks like the problem is the port forwarding :)

[2017-03-03 13:40] praveenkumar commented on #512
@marekjelen Thanks you for trying something different :)

[2017-03-03 13:52] LalatenduMohanty commented on #512
I can reproduce the issue on Fedora 25

[code]

[2017-03-03 16:33] agajdosi commented on #493
@hferentschik I have been experimenting with --% but I do not remember this particular tip with escaping " with \, so it is possible it will help. However I do not have Windows environment here right now, so confirmation will come probably on monday.

[2017-03-03 23:55] sobkowiak commented on #343
I could successfully play with `v1.0.0-beta.4` yesterday. I could stop it and start again. But when I'm trying to start it today I'm getting following error

[code]

[2017-03-04 10:10] jorgemoralespou commented on #343
This error is basically because the ip of the vm has changed since it was created.
It's a known issue of oc cluster.

cc/ @hferentschik @csrwng

[2017-03-04 10:11] jorgemoralespou commented on #343
This is a WIP PR for the issue. https://github.com/openshift/origin/pull/13112

[2017-03-04 10:14] jorgemoralespou commented on #512
@LalatenduMohanty @hferentschik for linux os (which is always the case) port forward should always be false. I think that this option should be silently swallowed by minishift in case the user specifies it.

cc/ @csrwng

[2017-03-04 10:19] jorgemoralespou commented on #512
Here.
The second error that @marekjelen had was because the VM got a different ip. This is s known issue in oc cluster. I have described this in another issue.
If the vm can not always get the same ip once created, we're going to run into issues until 1.6 of oc. This might be specific to the KVM driver here.

cc/ @csrwng another occurrence of this issue

[2017-03-04 15:27] hagishun opened #518 "Can not redirect kibana view from web console"
Hi,I'm new member, so apologies if providing too much detail or not enough.

According to the method written on this page, I deploy log-deployer
 * https://docs.openshift.org/latest/install_config/aggregate_logging.html *

Now deploy successed.
But I can't see Kibana web console view.

Step:
1.Log in Open shift web console.
2.select logging project.
3.I access this URL(https://kibana-ops.example.c

[2017-03-05 13:16] hferentschik commented on #516
Merged via pull request #517

[2017-03-05 13:16] #516 closed

[2017-03-05 14:48] gbraad commented on #487
I think the use of 'MinishiftData' confuses as it has not much to do with the actual data for minishift (such as the volume files for an instance). It is better to call this something with 'instance' in the naming.

[2017-03-05 15:06] hferentschik commented on #487
+1 especially once we can manage multiple instances

[2017-03-05 15:15] gbraad commented on #480
Will finish the mount check and IP reachability, and then defer configuration to instance specific helper functionality (see #487)

[2017-03-05 16:32] hagishun commented on #518
If need more detail or informatin, please tell me.
I will add.

[2017-03-06 03:49] gbraad commented on #135
@agajdosi a lot of good suggestions. We will incorporate some of these in later increments. At the moment I will implement some of the changes that were suggested on the commit.

[2017-03-06 05:26] #295 closed

[2017-03-06 05:27] praveenkumar commented on #512
@jorgemoralespou If that is the case shouldn't we put it in the docs as known issue for kvm, port forward not allowed, @hferentschik  wdyt?

[2017-03-06 06:37] LalatenduMohanty commented on #512
@jorgemoralespou IMO  in that case the best thing would be let user know when the `minishift start` gets executed  and till we have that , we must document it.

[2017-03-06 06:44] gbraad commented on #440
The change has to be done in `centos_ci.sh`... we should NEVER be using `VM_DRIVER`, but the already define `MINISHIFT_VM_DRIVER`.

[2017-03-06 06:50] budhrg commented on #440
@gbraad

Along with changes in `flags.go` https://github.com/minishift/minishift/blob/master/test/integration/flags.go#L36.

For me, it looks like we don't need `vmDriver` in `flags.go` at all.

[2017-03-06 06:52] gbraad commented on #440
@budhrg It has already been removed in my changeset ;-)

[2017-03-06 08:08] budhrg commented on #440
@gbraad

Then, mention in the PR that it is also fixing this issue ;-)

[2017-03-06 08:12] gbraad commented on #440
Added

[2017-03-06 09:26] hferentschik commented on #177
So here is what I am thinking right now:

The key for this is a (config) bundle. A bundle consist of some meta data (for now name and description should do). There are built-in bundles, like the ability to change the default security policy around running containers to 'run-as-any'.

A user can also write a custom bundle by creating a simple text file (*.bundle) and placing it into
_$MINISHIFT_HOM

[2017-03-06 12:09] agajdosi commented on #493
@hferentschik Found that --% flag is not implemented in Powershell v2 which is native on Windows 7. However tried to play with your proposed solution and got it to work.

Workaround for CMD is easy:

    minishift.exe openshift config set --patch "{\"routingConfig\": {\"subdomain\": \"192.168.99.101.nip.io\"}}"

For Powershell v2 I've found that it does not consume it directly, however when putted

[2017-03-06 12:18] agajdosi commented on #386
@gbraad Testing proposed workaround I have found one difference from expected behaviour, see below:

[code]

[2017-03-06 13:11] gbraad commented on #386
@agajdosi this can be covered with
[code]

but maybe do not do the `rm -rf`, but instead do `minishift delete` after removing all the snapshots.

[2017-03-06 15:18] hferentschik commented on #493
@agajdosi, cool. So for now really a case of documentation I guess. WDYT?

[2017-03-06 15:30] agajdosi commented on #493
@hferentschik I agree, for me it looks like problem of command lines on Windows 7, good to cover it in documentation.

[2017-03-06 16:03] jorgemoralespou commented on #518
Can you enable CORS, by doing:

minishift openshift config set --patch '{"corsAllowedOrigins": [".*"]}'

Not sure if it will require openshift instance to be restarted or if the
patch process restarts the origin container (I guess the later), but if it
don't work, just restart minishift.

[2017-03-06 16:06] jorgemoralespou commented on #512
@LalatenduMohanty IMHO, since "oc cluster" is made to support multiple OS, but in minishift it will always be run on the same OS, which happens to be linux, and that flag is not meant for linux, I would try to avoid user errors, rather than given them feedback to fix their errors. But that is the approach I would take.

For the KVM issue, yes, I agree that is a know issue, but it's not really an i

[2017-03-06 16:06] agajdosi commented on #386
@gbraad Thank you for information. It works for me. @Preeticp, for me complete procedure working is then this:

[code]

[2017-03-06 16:06] hferentschik commented on #518
The restart is implicit by the patch command.

[2017-03-06 16:07] hferentschik commented on #518
See also https://github.com/minishift/minishift/blob/master/docs/interacting-with-openshift.md#updating-openshift-configuration

[2017-03-07 03:45] hagishun commented on #518
Thanks. I tried it.
But not changed.

Step:
1. set config
PS C:\Users\XXXXX> $command='{"corsAllowedOrigins" : [".*"]}'
PS C:\Users\XXXXX> echo $command
{"corsAllowedOrigins" : [".*"]}

2.reboot minishift
minishift stop
minishift start

3.Access web console
URL:https://kibana.example.com/
display string : Unauthorized
And under the log display to kibana-proxy

172.17.0.1 - - [07/Mar/2017:03:39:53

[2017-03-07 04:50] praveenkumar commented on #512
That make sense now so actually we should hide that flag for the minishift so user don't even set it.

What is the KVM issue for the driver?

[2017-03-07 09:11] LalatenduMohanty opened #522 "Include bashcompletion for Minishift"
At this point we have to type the complete command for minishift, but we should find out a way to have bash completion for the commands.
[1] http://freecode.com/projects/bashcompletion

[2017-03-07 09:52] LalatenduMohanty commented on #460
@gbraad I think it would be useful for community developers who want to contribute to minishift project, right?

[2017-03-07 10:15] gbraad commented on #460
yes... as they easily replicate an environment that can build, and eventually even test.

[2017-03-07 10:32] hferentschik commented on #135
Merged via pull request #433

[2017-03-07 10:32] #135 closed

[2017-03-07 10:33] hferentschik commented on #440
Merged via pull request #433

[2017-03-07 10:33] #440 closed

[2017-03-07 11:22] praveenkumar commented on #485
During testing with openstack CI @agajdosi hit another situation when VM is not able to mount the disk and it failing without any feedback. Something we can add in the part of feedback process where tell user that mount didn't happen.

[2017-03-07 12:08] thatdocslady opened #523 "Review OpenShift configuration documentation"
After merging PR #506 new doc review comments are discovered, I will make the changes and submit a new PR.

[2017-03-07 12:10] praveenkumar commented on #522
@LalatenduMohanty how it feasible for windows binary? I think right now what we have as part of viper is good enough which suggest command if you put some wrong one.

[2017-03-07 12:41] gbraad commented on #485
Needed pre-flight checks:
  * does the minishift instance have an IP address?
  * can a remote IP address be reached? (check connectivity)
  * can a remote host be resolved? (check dns)
  * is persistent disk mounted
  * ...

[2017-03-07 12:58] LalatenduMohanty commented on #501
The default is changed to nip.io in commit  https://github.com/minishift/minishift/commit/aafa268f4965dda559cb7c16bc6817b5bb93aae1

[2017-03-07 12:58] #501 closed

[2017-03-07 12:59] budhrg opened #524 "Separate out oc installation implementation from clusterUp function"
Currently, the [`clusterUp`](https://github.com/minishift/minishift/blob/master/cmd/minishift/cmd/start.go#L311) function is downloading and caching 'oc' binary (or oc installation) and then performing `oc cluster up` command which IMO are two separate and individual operations.

This is also making the testing a bit harder.

I am not doing it as part of the PR #487 since it need heady refactoring

[2017-03-07 14:18] hferentschik commented on #487
Merged via pull request #521

[2017-03-07 14:18] #487 closed

[2017-03-07 15:50] praveenkumar commented on #524
@budhrg shouldn't we close it to mark it as duplicate of #409 ?

[2017-03-07 15:58] budhrg commented on #524
@praveenkumar , Ya we can. Will add the issue details in #409 .

[2017-03-07 15:58] #524 closed

[2017-03-07 15:59] budhrg commented on #409
To add one which I came across recently is the [`clusterUp`](https://github.com/minishift/minishift/blob/master/cmd/minishift/cmd/start.go#L311) function is downloading and caching 'oc' binary (or oc installation) and then performing oc cluster up command which IMO are two separate and individual operations.

This is also making the testing a bit harder.

[2017-03-07 16:00] budhrg commented on #524
Commented https://github.com/minishift/minishift/issues/409#issuecomment-284764280

[2017-03-07 16:23] sobkowiak commented on #343
Is it possible to prevent the ip change?

[2017-03-07 16:58] gbraad commented on #480
[code]

[code]

[2017-03-07 17:02] gbraad commented on #480
Currently remaining is: *Auto mount option for Users share*
I have an idea how to tackle this:

  * if driver is hyper-v
    * check if not Users already configed
    * get hostips (check reachable)
    * get hostip in range of instance ip
    * construct uncpath
    * ask for credentials
    * store as preserved hostfolder name: Users

[2017-03-07 19:42] hferentschik commented on #480
this works only for Hyper-V?

[2017-03-08 04:11] gbraad commented on #480
@hferentschik no, I'd rather not... but not sure about conflicts when VirtualBox Guest Additions is used.

Will test with Virtualbox today... Just pushed a WIP for feedback which used the instance configuration. Will move to VirtualBox for some testing.

[2017-03-08 04:54] LalatenduMohanty commented on #277
Just to add

[code]
Will not work after adding insecure registry "docker-registry-default.192.168.64.2.xip.io:80" to docker service file in /etc/systemd/system/docker.service as /etc/systemd/system/docker.service will be over written for each minishift start

[2017-03-08 05:52] hferentschik commented on #480
right, that's what I was assuming and hoping for ;-)

[2017-03-08 05:56] hferentschik commented on #277
FYI, that's why https://github.com/minishift/minishift-centos-iso/issues/83 was created. We were not sure whether this is still required? I guess technically we could add the registry to dockerEnv in start.go. This was it gets re-added every time. @praveenkumar wdyt?

[2017-03-08 06:19] gbraad commented on #277
The docker service file is located in the live-rw filesystem and does not survive a reboot, and even if we do, the provisioner overwrites them: https://github.com/minishift/minishift/blob/master/pkg/minishift/provisioner/utils.go#L58 is the template for CentOS, and we also have one for RHEL.

[2017-03-08 08:10] hferentschik commented on #177
Adding a pointer to my current working branch https://github.com/hferentschik/minishift/commits/issue-177. Feedback welcome. It defines the skeleton structs and interfaces I think are needed.

Some notes:

* I actually settled for _addon_ as term for now. Mainly to align with Minikube's terminology. This is work in progress. As part of the implementation or based on feedback, I might switch back t

[2017-03-08 08:33] budhrg commented on #177
@hferentschik  From your comment https://github.com/minishift/minishift/issues/177#issuecomment-284344200

I hope you mean `set` with `enable` here. Or are we using `set` here?

Is this `config.json` is `MINISHIFT_HOME/config/config.json` or we will have machine specific `config.json`.
I am thinking of multiple machines scenario here since users can have different bundles enabled for different mac

[2017-03-08 08:50] budhrg commented on #177
So this means, we are making it as part of config command not separate `addons` command like `minikube`.

Like the idea :+1:  So I believe parser will take care of all invalid entries in the file, error handling etc.

Rest seems good to me. Exciting to see it live :)

[2017-03-08 08:51] LalatenduMohanty commented on #254
@chiippy Some hypervisors e.g. Xhyve allocates new IP every time we do `minishift start` , so your suggested method is not applicable to all the hypervisors Minishift supports.

[2017-03-08 09:01] LalatenduMohanty commented on #254
Update: While trying the manual steps on CentOS ISO everything works fine except I am seeing an issue i.e. error `unauthorized: authentication required` while pushing the docker image to the local docker registry. I am looking in to it and will keep it posted here.

##Stage -1 (On the Host)
[code]
##Stage -2 (In the CentOS VM)

[code]
`minishift stop and then start` will not work as /etc/systemd/s

[2017-03-08 09:14] hferentschik commented on #177
You are looking at something obsolete.  You need to look at the last comment I made.

Yes, at least initially. It becomes part of the other config options.

Good point and you are right. However, the whole config.json has this problem. Part of switching the "profile" could also be to have different driver or memory and cpus setting. Once we implement profiles we most likely handle config.json in s

[2017-03-08 09:42] LalatenduMohanty commented on #522
@praveenkumar May be not much for Windows CMD and Powershell. Not sure if it will be applicable to the new Windows bash shell. However it will be still useful to OS X and Linux users.

[2017-03-08 10:20] jorgemoralespou commented on #518
@hagishun You're missing an asterisk after the dot (.*) so that any domain is allowed as corsOrigin.

I'm not sure what is the syntax for windows, as I've seen some issues by setting the config on windows, but if you set the right corsAllowedOrigin it should work.

[2017-03-08 10:22] jorgemoralespou commented on #512
@praveenkumar KVM driver should provide the same IP to the VM for every start of the KVM VM. You should be able to verify by starting and stopping several times minishift using KVM and verifying which IP you get for the VM.
I think the minishift drivers should properly configure the networking like xhyve, virtualbox does. Every restart of an already created VM should provide always the same IP, no

[2017-03-08 10:28] jorgemoralespou commented on #343
@praveenkumar @hferentschik @gbraad this problem should be avoided by the Virt driver (KVM, Virtualbox,...). I thought Virtualbox avoided it, but I might be wrong.

[2017-03-08 10:32] jorgemoralespou commented on #277
Why do you add the insecure-registry to /etc/systemd/system/docker.service and not to /etc/sysconfig/docker?
In any case, not sure that /etc/sysconfig/docker will not be overwritten, but definitely it's the place to add it.

[2017-03-08 10:33] hferentschik commented on #518
The syntax for Windows is tricky, since it depends on the type of shell (cmd vs powershell) and the versions thereof. For Windows 10 and Powershell, this works for me:

    $ .\minishift.exe --% openshift config set --patch "{\"corsAllowedOrigins\": [\".*\"]}"

The key is to understand that JSON needs to be passed in the end to the command. The valid JSON is in this case {"corsAllowedOrigins": [".

[2017-03-08 10:33] gbraad commented on #343
At the moment we can not really prevent the IP change well... especially for Hyper-V, and the external switch, we are limited by what the remote DHCP server does. we can try to implement an IP address mechanism, but this could also lead to possible conflicts when vbox (or other hypervisor) would hand out the address to another machine

[2017-03-08 10:38] gbraad commented on #277
@jorgemoralespou `/etc/sysconfig/docker` is not persisted either (actually nothing in `/etc` survives a reboot). but I do believe this more closely matches what really happens.

[2017-03-08 10:40] jorgemoralespou commented on #254
@hferentschik @praveenkumar @LalatenduMohanty @budhrg @gbraad The VMs need to provide the same IP for every minishift restart after it has been created. It don't necessary need to be the same between minishift instantiations, but it would also be nice. Like with Vagrant, were you provided a fixed IP.

There's currently two problems, on is that oc cluster will not start up if the IP you get between

[2017-03-08 10:43] jorgemoralespou commented on #522
And should be easy to implement, like "oc completion bash|zsh" provides
output that can be directly source as bash_completion. Also "oc-cluster"
does it.

[2017-03-08 10:43] gbraad commented on #254
@jorgemoralespou agree, we might have to bump #343

[2017-03-08 10:44] hferentschik commented on #523
Merged via pull request #525

[2017-03-08 10:44] #523 closed

[2017-03-08 10:44] gbraad commented on #343
we might have to bump the IP address issue. Each hypervisor might react differently in these situations...

[2017-03-08 10:44] jorgemoralespou commented on #343
@gbraad in that case, you'll run into issues probably until "oc 1.6"

See https://github.com/openshift/origin/pull/13112

[2017-03-08 10:50] jorgemoralespou commented on #277
I guess you'll have to implement a mechanism that will persist this type of information on a "persistable" space, and reapply on every VM restart.
Think about the insecure-registry, proxy config and certificates for docker. Although I guess you should already have a solution for the proxy, so probably you just need to extend it to other relevant configuration.

[2017-03-08 10:52] hferentschik commented on #277
Right, that's what I am thinking atm. We do it the same way as we apply the proxy settings. That's what I meant with _dockerEnv_ in _start.go_.

[2017-03-08 11:42] hagishun commented on #518
Thank you for your response.

I tried below your suggestino and I seccessed changing minishift-conf.

---------------------------------------------------------------------------------------------------------------
PS C:\Users\XXXXX> .\minishift openshift config set --patch '{\"corsAllowedOrigins\": [\".*\"]}'
Patching OpenShift configuration /var/lib/origin/openshift.local.config/master/master-con

[2017-03-08 12:04] praveenkumar commented on #512
@jorgemoralespou Ack, will test it out and look into it.

[2017-03-08 14:05] gbraad commented on #480
test command for `hostip` now only returns a host IP address in the same network as the minishift instance. Eg.

[code]

this will be used for the construction of the uncpath to the local shares for `//hostip/Users`, but likely also for @hferentschik's sshfs path ;-).

[2017-03-08 14:09] budhrg commented on #480
@gbraad  :+1:  Nice

I would love to have this output though :wink:
[code]

[2017-03-08 14:18] gbraad commented on #480
@budhrg this command will disappear...

[2017-03-09 04:00] gbraad commented on #480
Added config add/remove functionality

[2017-03-09 05:11] gbraad commented on #480
Added `Users` logic which treats the name as a special case and takes the IP address as part of the UNC path.

Code really needs to be refactored and hardened for some error cases, but generally it works...

[2017-03-09 05:20] gbraad commented on #480
@budhrg

On Linux:
[code]

On Windows
[code]

[code]

Note: found a small issue on Windows with the crypto terminal library.

[2017-03-09 06:34] gbraad opened #529 "Slow communication when using Minishift+Hyper-V"
Issuing commands on Windows take a considerable amount of time. This happens for communicating with the libmachine API, but becomes especially noticeable when running command using SSH on the instance.

  * `minishift ip` only communicates with the API
  * `minshift hostip` communicates with the API and issue a command on the instance for a connectivity check

#### Windows

[code]

#### Linux
The

[2017-03-09 07:11] gbraad commented on #522
*Windows?*
This is not possible for Windows WSL, as the application would likely not be able to communicate with the hypervisor (it is a picoprocess). And for PowerShell? Hmmmm... haven't investigate this, as normally the cmdlets can be inspected/introspected by the runtime, but for a regular binary this is not possible.

[2017-03-09 07:18] gbraad commented on #511
#515

[2017-03-09 07:38] jorgemoralespou commented on #518
Kibana is not properly configured. Unless you have kibana installed in that domain kibana.example.com, and if you have it there you will need to add that url to the url_redirects of the oauthclient.

How did you install Kibana?

[2017-03-09 08:47] gbraad commented on #480
`x/crypto/ssh/terminal: ReadPassword broken on Windows`
  * https://github.com/golang/go/issues/11914
  * https://github.com/golang/go/issues/16552

[2017-03-09 12:31] jorgemoralespou commented on #177
@hferentschik Regarding to the profile point that @budhrg  raises, since this type of changes will break compatibility, I would probably at least have an R&D cycle and make things in such a way that compatibility is not an issue.
Also, if the addon will have a descriptor file, for name, description, help, ... it would be interesting to add a compatibility option. Something like "requires >= oc-ver

[2017-03-09 12:53] budhrg commented on #25
Since #276 is closed, I am closing this issue. Feel free to reopen it if the intention is different.

[2017-03-09 12:53] #25 closed

[2017-03-09 12:55] budhrg commented on #29
This is related to #177  and might be duplicate it too. @hferentschik please confirm and do the needful action.

[2017-03-09 13:00] budhrg commented on #133
I am closing this issue as we haven't get any feedback from @nemonik and it is not reproducible at our end too.

Feel free to reopen it with steps to reproduce if you hit again with latest minishift version.

[2017-03-09 13:00] #133 closed

[2017-03-09 13:02] budhrg commented on #142
Related to #465

[2017-03-09 13:03] budhrg commented on #168
Related to #342

[2017-03-09 13:09] budhrg commented on #368
@hferentschik Look like minikube had `virtualbox` as default driver https://github.com/kubernetes/minikube/blob/master/docs/minikube_start.md

[2017-03-09 13:10] budhrg commented on #215
@hferentschik Look like minikube had `virtualbox` as default driver https://github.com/kubernetes/minikube/blob/master/docs/minikube_start.md

[2017-03-09 13:14] budhrg commented on #236
Reason explained here https://github.com/kubernetes/minikube/issues/459#issuecomment-240796185.
Something feel like a limitation to me at the moment.

[2017-03-09 13:24] budhrg commented on #275
@thatdocslady , Since we have added [ROADMAP.md](https://github.com/minishift/minishift/blob/master/ROADMAP.md) , is this issue being used as tracking changes or we can close it?

[2017-03-09 13:27] budhrg commented on #380
We are getting Travis CI notifications now
![screenshot from 2017-03-09 18-55-28](https://cloud.githubusercontent.com/assets/1132451/23752142/1f273b82-04fa-11e7-9d1b-757e17b4774e.png)

Any other notifications we are expecting here @hferentschik  or can we close this issue?

[2017-03-09 13:31] thatdocslady commented on #275
@budhrg this issue is for a documentation roadmap, which isn't related to the development roadmap. In fact, it's more like a documentatio plan than roadmap, but we have no other place to track it for now so please keep this issue open.

[2017-03-09 13:36] budhrg commented on #275
@thatdocslady , title is bit confusing to me on first read :)

[2017-03-09 13:45] agajdosi commented on #251
Process gets stuck on extracting of OpenShift image, so it looks like this is same issue as I am facing with RHEL host in OpenStack which is problem of badly configured NFS on actual host OS, not problem of Minishift.

[2017-03-09 13:46] budhrg commented on #291
@agajdosi Could you also verify the existence of this issue? Thanks

[2017-03-09 13:49] hagishun commented on #518
Thanks.

I installed under the below
# Sorry to long...

c:\Users\XXXXXXXX>minishift start --vm-driver="virtualbox"
Starting local OpenShift cluster using 'virtualbox' hypervisor...
Downloading ISO 'https://github.com/minishift/minishift-b2d-iso/releases/download/v1.0.1/minishift-b2d.iso'

   To login as administrator:
       oc login -u system:admin

c:\Users\XXXXXXXX>oc login -u system:admin
Log

[2017-03-09 13:56] budhrg commented on #428
IMO, chosing `--iso-url` flag is not appropriate here. Now, the flexibility of chosing iso url is lost.

And, I also don't like to mix the values of `--iso-url` as :
[code]
Quite unclear and weird to me.

I would be happy if we have flag like `--iso-type` which IMO provide more clarity.
Now, lines are
[code]

[2017-03-09 14:01] budhrg commented on #426
@thatdocslady http://bit.ly/minishiftci is the slides I prepare for one of my talk. Let me know if you need more help.

Slides definitely missing steps to setup any particular CI.

I can add steps to setup CentOS CI and for other CI @praveenkumar and @hferentschik can add those details.

[2017-03-09 14:53] budhrg commented on #274
I think we have verified here that it doesn't work. Now, as a part of the issue documentation is remaining right ?

[2017-03-09 14:56] budhrg commented on #274
I saw documentation for host folder here https://github.com/minishift/minishift/blob/master/docs/managing-minishift.md#mounted-host-folders.

and track persistent volumes here https://github.com/minishift/minishift/issues/389 and close this issue.

@hferentschik WDYT ?

[2017-03-09 15:12] gbraad commented on #251
The persistent image gets attached to the machine, but can not be configured in the handle-user-data. after inspection, it is concluded that the diskimage did not get created properly. it was not a valid qcow2 image. recreating the file on the local disk worked and made Minishift start.

[2017-03-09 15:19] hagishun commented on #518
And I tied to create oauthclient.

(in test.txt)
kind: OAuthClient
apiVersion: v1
metadata:
 name: kibana-proxy
secret: "..."
redirectURIs:
 - "https://kibana.example.com"
grantMethod: prompt

after I do.
oc create -f test.txt

And then
c:\Users\XXXXXXXX>oc delete oauthclient/kibana-proxy
oauthclient "kibana-proxy" deleted

c:\Users\XXXXXXXX>oc new-app logging-support-template

but not changed...

[2017-03-09 15:25] praveenkumar commented on #251
@agajdosi why it worked with b2d that something we need to debug and let you know but creating persistent disk image is not iso dependent but it's driver dependent.

[2017-03-09 15:49] hferentschik commented on #380
Yes, but not for Travis :-) Also we need to see whether we want to change the message itself, but this will be a different issue.

I think this is really just a duplicate of issue #495 which got properly resolved.

Thanks for pointing this out.

[2017-03-09 15:49] #380 closed

[2017-03-09 15:53] hferentschik commented on #275
@thatdocslady what's about putting the "roadmap" onto the Mojo and create  actionable issues for the things we already know needs to be done?

[2017-03-09 16:10] budhrg opened #531 "Add integration test to verify MACHINE_NAME.json"
Since integration setup in place, add integration test for MACHINE_NAME.json.

Followup of PR https://github.com/minishift/minishift/pull/521.

[2017-03-09 16:10] hferentschik commented on #428
The problem is with --iso-type and --iso-url, that you end up with conflicting settings. I have no problem with short names, after all they stand in for actual URLs. Interested to know how others think about it.

[2017-03-09 16:12] hferentschik commented on #274
@budhrg - let's close it

[2017-03-09 16:12] #274 closed

[2017-03-09 21:16] hferentschik commented on #466
+1

[2017-03-09 21:19] hferentschik commented on #529
I can confirm that I also often have the feeling that things are more sluggish on Windows. We could start with a simple timing harness. Just boot up and some basic operations and then compare the timings across OS / driver / ...

[2017-03-09 21:21] #503 closed

[2017-03-09 21:22] hferentschik commented on #503
Closing this issue, since as described above _oc_ gets installed on the host. If you feel we misunderstood the issue, feel free to open it again.

[2017-03-09 21:24] hferentschik commented on #471
A cygwin path only makes sense in a Cygwin bash. You need to set a Windows path. How would Minishift be able to resolve this path?

[2017-03-10 06:02] amitkrout commented on #471
Agree
[code]

[2017-03-10 06:42] LalatenduMohanty commented on #254
@jorgemoralespou At this point we are dependent on hypervisors to get the IP address. I think we can put some check between start->stop->start to see if we are getting the same IP address else we can give feedback to the user that we need to run delete and then start. WDYT?

[2017-03-10 06:46] LalatenduMohanty commented on #254
I have added few more privileges (as below) as per [1]  to the user  in *Stage-1* i.e. https://github.com/minishift/minishift/issues/254#issuecomment-284985284 , but I am still seeing the issue.
[code]
[1] https://docs.openshift.org/latest/install_config/registry/accessing_registry.html

[2017-03-10 07:59] LalatenduMohanty commented on #254
Sent a mail to OpenShift development list and asked for suggestions http://lists.openshift.redhat.com/openshift-archives/dev/2017-March/msg00005.html

[2017-03-10 08:58] hferentschik commented on #254
Really? Why is that? Now we are opening up everything. Why are these needed. Are you not effectively making the developer an admin?

[2017-03-10 09:22] praveenkumar commented on #254
That only for some testing purpose I think when things were not working as expected.

[2017-03-10 09:29] hferentschik commented on #358
The aim was to establish whether we can use an sshfs based solution as a (default) for host folder mounts. The short answer is, yes. In fact it might be the most generic solution we can provide.

To implement a fully automated solution we should wait for the CIFS support to be merged - see issue #480. The idea is then to align cifs and sshfs in terms of ux and allow the user to select the technolo

[2017-03-10 09:32] hferentschik commented on #254
Fair enough

[2017-03-10 09:34] budhrg commented on #529
For me it is under 1 seconds. This is CDK 3 beta2 build.

[code]

[2017-03-10 09:36] budhrg commented on #529
Interestingly, from `mingw` shell, it is relatively higher for same build:

[code]

[2017-03-10 09:48] LalatenduMohanty commented on #254
@hferentschik Yup, that was for testing purpose.

[2017-03-10 09:52] budhrg commented on #358
Sounds good plan :+1: .

I am more aligned to it then having ssh daemon installed :smile:

[2017-03-10 11:50] agajdosi opened #532 "Split scenario in basic.feature into several smaller scenarios"
basic.feature currently uses one big scenario which covers whole process of using Minishift - it goes from starting minishift, checking ssh functionality, checking docker environmental variables, stopping to deleting minishift. Splitting it into smaller scenarios gives us the possibility to finish other scenarios when one of them fails, currently all steps are skipped when something fails. But mor

[2017-03-10 12:06] thatdocslady commented on #140
TODO: Fix links in the usage docs or anywhere that points to the command ref docs (because we moved them).

[2017-03-10 12:35] praveenkumar commented on #251
After inspecting why b2d worked is it doesn't have restriction on file size and lot of discussion already happen #355 as per this issue it's nfs which is mounted to user path.

[code]

[2017-03-10 12:51] gbraad commented on #251
In short; the b2d image does not regard storage limits at all... is becomes
a black hole after exhausting the actual storage.

[2017-03-10 14:33] budhrg commented on #342
After discussion, we come into new findings.

- `minikube service <app-name>` actual open the application `app-name` in the browser.
   Here, in terms of minishift, we want to open the app route in browser.
- `minikube service list` actually show list of available URL alongwith namespace, app name and URL
  Here, for minishift, we can show namespace, app name and route. One more column will be add

[2017-03-10 14:52] hferentschik commented on #509
Merged via pull request #527

[2017-03-10 14:52] #509 closed

[2017-03-11 11:52] sokoow commented on #430
also, for some strange reasons, adding certs to **/etc/docker/certs.d** doesn't work at all, any ideas?

[2017-03-11 16:20] gbraad commented on #480
I have refactored some of the code to be more generic and a clearer distinction between implementation specific code. However, I will still have several other passes of optimization and refactoring as still duplicate/redundant code is present.

[2017-03-12 10:24] hferentschik opened #533 "Convert README to asciidoc and remove install/quickstart/docker-daemon info"
- Convert to Asciidoc
- Extract all content which is better suited for docs site

[2017-03-12 10:26] hferentschik opened #534 "Review asciidoc documentation"
This covers the non generated markdown documentation

[2017-03-12 10:26] hferentschik opened #535 "Create Jenkins job to build docs"

[2017-03-12 10:28] hferentschik opened #536 "Add Minishift version into docs"
The docs should clearly indicate the version they cover. The version needs to be compiled into the site at build time.

[2017-03-12 10:30] hferentschik opened #537 "Create landing page for new docs site"

[2017-03-12 11:17] #369 closed

[2017-03-12 11:17] #219 closed

[2017-03-12 11:20] hferentschik commented on #21
I am going to close this now. I think we are beyond a point where a name change would make sense.

[2017-03-12 11:20] #21 closed

[2017-03-12 15:20] hferentschik commented on #514
So what exactly would you have in mind there?

[2017-03-12 19:49] hferentschik commented on #494
Closing this, since it is not really an issue.

[2017-03-12 19:49] #494 closed

[2017-03-12 19:57] hferentschik commented on #484
@bronhaim which version of Minishift are you using and which ISO image? The default boot2docker or the CentOS ISO?

[2017-03-13 03:22] gbraad commented on #480
Running state is enforced, error states returned, `Users` is only determined when running (record is used to store credentials), added a `mount-all` command (eg. for when auto-mount is disabled):

[code]

[2017-03-13 05:34] budhrg commented on #535
Cool thinking of the same too :+1:

[2017-03-13 07:08] lulf commented on #514
Not sure what the best approach is, but one way would be to be able to specify some kind of port forwarding or mapping from VM to host, or in some way setup routing on the host to forward packets to the VM for the service IP addresses.

[2017-03-13 07:21] LalatenduMohanty commented on #342
@budhrg @hferentschik We should allow users to run minishift in a remote machine (through SSH) and there are command line browsers too. I am not against opening the route in browser. For example ``minikube service <app-name>` can list route in CLI and `minikube service <app-name> --console`  should open in browser.

[2017-03-13 07:45] LalatenduMohanty commented on #358
+1, sounds good to me. I am assuming this does not cost significant increase in resources (CPU and memory).

[2017-03-13 07:45] budhrg commented on #342
It seems as per `minkube`, it was `minishift service appname` will open application in browser and `minishift service appname --url` will print the url.

[2017-03-13 07:46] LalatenduMohanty commented on #358
Closing the issue as we are done with the investigation and #317 will be used to implement the solution.

[2017-03-13 08:01] hferentschik commented on #535
I this case I am after a dedicated build which gets triggered manually. On completion is should upload the html and potentially the doc files to the archive area. I'd like to make this the default way of handing over our docs to doc.openshift.org.

[2017-03-13 08:03] LalatenduMohanty commented on #342
@budhrg ok, if we are keeping flags from minikube supported in `minishift openshift service` we should be fine.
[code]

[2017-03-13 08:06] hferentschik commented on #342
I don't think that `--format` and `--https` makes so much sense to us. I think we should drop these two flags. Especially flags does not make sense.

[2017-03-13 08:09] hferentschik commented on #342
You do this via the '--url' flag, the same as `minishift console --url`, the equivalent is `minishift openshift service foo --url`

-1 To be consistent, we should keep the existing semantics.

[2017-03-13 08:10] budhrg commented on #535
@hferentschik

You, mean we can comment like "build the documentation" and then this job will trigger.

where ?

That's future and final plan right?

[2017-03-13 08:11] hferentschik commented on #358
I am re-opening this task. I want to add some docs as a result of this task:

[2017-03-13 08:16] hferentschik commented on #535
No, I would expect to go the Jenkins instance, login and trigger the build, potentially adding some parameters (for example branch name). Similar to what we do with the CDK or RHEL ISO builds.

CentOS CI archive area. So I would expect a https://ci.centos.org/job/minishift-docs job with a matching artifacts.ci.centos.org/minishift/minishift/docs/[latest|\<version\>]

[2017-03-13 08:30] budhrg commented on #535
As per last communication, we are not suppose to login to jenkins and most things should be done with JJB.

[2017-03-13 08:41] hferentschik commented on #535
Not sure exactly how JJB works, is this not just a way to define the job? Regarding triggering, how would I trigger a manual job? I guess one could expose a web hook, but that seems overkill.

[2017-03-13 08:45] LalatenduMohanty commented on #342
+1 for existing semantics, I was not sure if we are keeping it. I need to look more about `--format` and `--https` before agreeing or disagreeing on whether we need it or not.

[2017-03-13 08:46] budhrg commented on #535
Will try to see how we can do this scenario in JJB.

[2017-03-13 08:57] bronhaim commented on #484
default b2d image, and the issue was that it doesn't include nfs-utils
package

On Sun, Mar 12, 2017 at 9:57 PM Hardy Ferentschik <notifications@github.com>
wrote:

[2017-03-13 09:27] hferentschik opened #538 "Upgrade to latest B2D ISO"
Should be v1.0.2

[2017-03-13 09:34] thatdocslady commented on #534
This is a duplicate of issue #140, please close one of the issues

[2017-03-13 09:44] hferentschik commented on #140
Closing this issue, since it is a duplicate of #534

[2017-03-13 09:44] #140 closed

[2017-03-13 11:31] hferentschik commented on #538
Merged via pull request #541

[2017-03-13 11:31] #538 closed

[2017-03-13 13:20] LalatenduMohanty commented on #358
Closing this as the documentation PR #542  is merged now.

[2017-03-13 13:20] #358 closed

[2017-03-13 15:58] hferentschik commented on #534
Pul request #530 already does a initial conversion to asciidoc. But it needs to be reviewed correct styling applied.

[2017-03-13 16:11] hferentschik opened #544 "fmtcheck target does not work on Travis CI"

[2017-03-14 09:08] jfclere opened #545 "Weird problem on Fedora 25"
I had minishift running some weeks ago and guess I probably broke some configuration in my box:
+++
   Image pull complete
-- Checking Docker daemon configuration ... FAIL
   Error: Error response from daemon: {"message":"page not found"}
E0314 09:30:02.575007   21003 start.go:364] Error starting the cluster:  exit status 1
++++
More on https://paste.fedoraproject.org/paste/WUKi1kQTVGwvvvTlbxjci15

[2017-03-14 09:10] LalatenduMohanty commented on #545
Copying the error from the pastebin as pastebin tend to get removed
[code]

[2017-03-14 09:14] jfclere commented on #545
note that rm -rf ~/.minishift didn't help.

[2017-03-14 09:39] budhrg commented on #531
Closing as per @hferentschik comment here https://github.com/minishift/minishift/pull/539#issuecomment-286367171

[2017-03-14 09:39] #531 closed

[2017-03-14 10:23] jorgemoralespou opened #546 "Mark oc client downloaded with the platform it is for"
If I have started a minishift instance in an operating system, and I want to make the cached files available to others, by copying some specific files, like the iso and the oc client binary, it will only be possible to use the oc client in the same platform as it was created.

Example:

1. minishift start in OS-X
2. Tar up the folder ~/.minishift/cache/ (this has the file: ~/.minishift/cache/oc/v1

[2017-03-14 10:46] LalatenduMohanty commented on #139
Closing the issue as #530 is merged.

[2017-03-14 10:46] #139 closed

[2017-03-14 10:55] LalatenduMohanty commented on #545
@jfclere have you tried to start with (CentOS ISO)[https://github.com/minishift/minishift-centos-iso/releases/download/v1.0.0-rc.3/minishift-centos7.iso]

I am not able to reproduce this on an updated Fedora 25 machine
[code]

[code]

[2017-03-14 11:20] jfclere commented on #545
Same problem with CentOS ISO see https://paste.fedoraproject.org/paste/nSSfWLlHU~1OHrKo6quXgl5M1UNdIGYhyRLivL9gydE=

I am sure it something wrong in the box... Is there a way to have log/debug from oc cluster up?

[2017-03-14 11:46] veillard opened #547 "We should add an FAQ for the #minishift channel and reference it in the channel topic"
Very common practice, miminize the time spent answering random questions

[2017-03-14 16:48] agajdosi opened #548 "Expand basic.feature to cover elementary usage of Minishift"
Currently basic.feature does not cover much of Minishift use and needs an expansion. After short call on last Friday and further discussion with @amitkrout on this topic we propose following for basic.feature:

- As we are at the start with integration tests, we should focus on covering developers' use first, meaning we should prioritize time over case coverage.
- It would be good to cover element

[2017-03-14 17:11] gbraad commented on #545
During the analysis with @jfclere I noticed that
[code]
which happens in openShift at: https://github.com/openshift/origin/blob/8eafb3dc7a5ae983c8f9b1aeec4363045dfca186/pkg/bootstrap/docker/up.go#L320

This refers to the use of the insecure registries. If an API-call happens at this point, this might explain that a 404 might occur. Just the reasons of the actual 404 is unclear. It might suggest th

[2017-03-14 17:15] gbraad commented on #545
The strange thing for this issue is:
[code]
which is part of our provisioner_detector code? https://github.com/minishift/minishift/blob/master/pkg/minishift/provisioner/minishift_detector.go#L43

The user has a fully updated Fedora installation, and recently a new `openssh` package got pushed. Could there be something wrong with the communication between the host and cluster instance?

[2017-03-14 20:36] hferentschik commented on #172
This has been resolved by issue #139

[2017-03-14 20:36] #172 closed

[2017-03-14 20:42] hferentschik commented on #330
@thatdocslady I think we can close this, wdyt? The last view releases followed the same principles and I think this should be sufficient. Also https://github.com/minishift/minishift/releases does show the release note of all releases.

[2017-03-15 07:15] jfclere commented on #545
OK so the problem comes from openshift when it tries to check that  -insecure-registry x.y.0.0/16.
Any way to trace/debug  openshift from minishift (--server-loglevel nn doesn't seem to work)?

[2017-03-15 07:34] cmoulliard opened #549 "Add a profile for openshiftonline e.g. --profile=openshiftonline"
As OpenShift is currently provisioned with different configs when running online; DevPreview, Dedicated, Online ..., it could be interesting to propose a parameter to Minishift to specify the setup to be used.
Currently, OSO instances are more restrictive concerning the cpu, memory & disk usage like also the number of projects that an end user can create [1]

`minishift start --profile=openshifton

[2017-03-15 08:42] Preeticp commented on #547
We could use this issue to list some of the frequently asked questions we want to include in the docs. @hferentschik , @gbraad, @LalatenduMohanty, others, do we have any questions and related answers we can begin listing for this section.
My 2 cents, both Trouble shooting and FAQ are pretty closely related, hence could reside in the Trouble shooting file itself, with probably a separate section fo

[2017-03-15 10:47] jstrachan opened #550 "Is there any URL we can query to find the OAuth URL inside minishift?"
OpenShift can support a URL to expose the OAuth URL by querying: `https://openshift.default.svc/.well-known/oauth-authorization-server`

When running on minishift 1.0.0.beta-5 we get:
[code]
Is there another URL we could try inside minishift to discover the OAuth authorisation URL (e.g. something like "https://192.168.64.82:8443/oauth/authorize") which we need for OAuthClients to authorize (e.g. c

[2017-03-15 11:02] agajdosi commented on #493
@Preeticp Situation is exactly the same on Windows 10 as it is on Windows 7.
For cmd:
`minishift.exe openshift config set --patch "{\"routingConfig\": {\"subdomain\": \"192.168.99.101.nip.io\"}}"`
For powershell workaround with variable:
`$json='{\"routingConfig\": {\"subdomain\": \"192.168.99.101.nip.io\"}}' `

[2017-03-15 11:13] jorgemoralespou commented on #549
@hferentschik I think this should belong to an addon/bundle as it is a specific feature for a specific user.

[2017-03-15 11:37] thatdocslady commented on #330
The main reason I wanted to have this tracking was so that we remember to list known issues clearly, I don't think we did this up to now because the releases were all beta. Maybe we can rename this issue to "Compile known issues and limitations" or something similar? The rest of the tasks are indeed covered by our regular review process.

[2017-03-15 11:48] thatdocslady commented on #547
My 2 korunas :) if the FAQ is meant as a quick help guide for common issues, then it's basically the same as the troubleshooting guide, and we can probably add more common issues and restructure the existing doc. If the FAQ is meant for more general Q&A (for example, "what's the difference between minishift and openshift" and similar questions) then it should be added to the getting started guide

[2017-03-15 11:54] budhrg commented on #547
For me, FAQ means the list of short questions and answers list which comes on users's mind like below

- What is Minishift ? (I know it is there in README but we can list here too)
- Is it same as OpenShift?
- What is difference between Minishift and OpenShift?
- Can I run in multiple Operating Systems?
- Can we use Persistent Volume ? (No right now is the answer and link to limitation)
- ....

ma

[2017-03-15 12:45] hferentschik commented on #549
Would be my first guess as well.

[2017-03-15 12:48] hferentschik commented on #330
So of we rename it to "Compile known issues and limitation", what would the purpose of the task? If this is supposed to be an issue, what is the actionable thing? If you are talking about some ongoing process thing, then the Mojo might be the place?

[2017-03-15 12:50] thatdocslady commented on #330
Not exactly, I mean compile them for the GA release notes, which means it's a one-off task per release. This issue would track things like unresolved bugs that we defer to the next release, but that might create unexpected behavior for the users.

[2017-03-15 13:00] thatdocslady opened #551 "Potentially missing docs about docker client prerequisite"
While trying to reuse the docker daemon (for make gen_docs) I ran into this error:

https://paste.fedoraproject.org/paste/Tr6MGw6aAET24o5iwltrOl5M1UNdIGYhyRLivL9gydE=

It turns out that the docker client is needed in order to reuse the docker daemon from minishift. But our docs right now don't specify this prerequisite:

https://github.com/minishift/minishift#reusing-the-docker-daemon

@gbraad poi

[2017-03-15 13:13] thatdocslady commented on #536
This can be handled with variables in the docs level, to show latest/previous versions. Asciidoc is good with this :)

[2017-03-15 13:26] gbraad opened #552 "Re-using the docker environment on Fedora 25 fails"
On Fedora 25 we are unable to re-use the docker daemon, as mentioned in https://github.com/minishift/minishift/blob/master/README.md#reusing-the-docker-daemon

Steps to reproduce:
[code]

Original reported as: https://github.com/minishift/minishift-centos-iso/issues/106
It is an issue in Fedora 25 and it is tracked in https://bugzilla.redhat.com/show_bug.cgi?id=1402074

Let's keep this issue open

[2017-03-15 13:47] thatdocslady commented on #275
@hferentschik sure that makes sense, I'll do that and then close this issue

[2017-03-15 15:59] pollosp opened #553 "Example documentation"
Hi,
The section `Deploying a sample application` in the main Readme.md can be confusing at least I miss an hour trying to connect to `curl http://myproject.192.168.99.128.nip.io` because I didn't know anything about the `router` (minishift start --deploy-registry --deploy-router), it is not clearly explained in the example.
Also `https://github.com/openshift/nodejs-ex` requieres a nodejs template

[2017-03-15 16:47] thatdocslady opened #554 "Missing instructions in "Deploying a sample application""
Per @gbraad feedcack on IRC, the current steps are missing the following instructions:

Step 1: Need to add  --allow-missing-imagestream-tags
Step 4: Need to change to `curl http://nodejs-ex-myproject.<cluster_ip>.nip.io` and add a previous step where you retrieve the IP address with `minishift ip`

I can handle this as a part of the README refactoring or separately. Thoughts?

[2017-03-15 16:58] gbraad commented on #554
* Step 4 is certainly correct. Just re-ran the and this works.
* Step 1 I am not sure. I had to do this, but I just noticed my `oc version` is 1.5.0.

[2017-03-15 17:00] thatdocslady commented on #554
@gbraad is there anyone who can confirm step 1? Do we need some testing on this against different oc versions?

[2017-03-15 17:02] gbraad commented on #554
We should probably mention that this is for `minishift start` with OpenShift 1.4.1 maybe? WDYT

[2017-03-15 17:07] thatdocslady commented on #554
If the step/limitation is "temporary" (meaning not a general thing but related to a specific version) then the best practice is either to list is as a note (i.e. "if you use xyz version x or later/earlier, then do this").

[2017-03-15 17:11] gbraad commented on #554
@thatdocslady I ran it again with `oc` v1.4.1 and step 1 is OK as-is. No need to add the `--allow...`, but this is needed for future versions. We will add this when we are ready for this I guess...

[2017-03-15 17:15] gbraad commented on #554
@lalatenduM, how did you perform the tests for release?

[2017-03-15 17:19] starksm64 opened #555 "Error adding developer user to sudoers"
I'm trying the Minishift version: 1.0.0-beta.5 release for OS X(10.11.6 (15G1217)) and I'm seeing an error about not being able to add developer user to sudoers:

[Keycloak 556]$ minishift start --memory=4000 --vm-driver=vmwarefusion --iso-url=https://github.com/minishift/minishift-centos-iso/releases/download/v1.0.0-rc.2/minishift-centos7.iso --docker-env=[storage-driver=devicemapper]
Starting lo

[2017-03-15 17:29] cmoulliard commented on #555
@starksm64 You are using the old centos image and not rc3.

[2017-03-15 17:41] gbraad commented on #555
This is not dependent on the actual image. I have seen this fail on my end too, but during development.
@starksm64, please do a clean install and see if it persists (`rm -rf ~/.minishift`).

[2017-03-15 18:09] gbraad commented on #555
@praveenkumar is something else needed?

[2017-03-15 18:48] starksm64 commented on #555
If I throw away ~/.minishift and retry the command it appears to be hanging:
[~ 516]$ minishift start --memory=4000 --vm-driver=vmwarefusion --iso-url=https://github.com/minishift/minishift-centos-iso/releases/download/v1.0.0-rc.3/minishift-centos7.iso --docker-env=[storage-driver=devicemapper]
Starting local OpenShift cluster using 'vmwarefusion' hypervisor...
Downloading ISO 'https://github.com/

[2017-03-15 18:48] #555 closed

[2017-03-15 19:10] hferentschik commented on #275
@thatdocslady, +1, thanks

[2017-03-15 19:12] hferentschik commented on #536
Sure, it will be a variable in the asciidoc, but this variable has to come from somewhere? We don't want to have this hard coded in the asciidoc. It should be injected ultimately originating from the Make build. Are you sure, you want to do that?

[2017-03-15 19:12] ALRubinger opened #556 "Cannot add "developer" user to sudoers"
When running:

`minishift start --vm-driver=virtualbox`

Startup completes, throwing this error onto the console:

`E0315 14:59:07.313545    4912 start.go:192] Error adding developer user to sudoers exit status 1`

OpenShift Console is available for all operations I've tested under the `admin` user as expected.

[2017-03-15 19:17] gastaldi commented on #556
Same happens with kvm driver

[2017-03-15 19:18] starksm64 opened #557 "Starting with v1.0.0-rc.3 minishift-centos7.iso hangs with vmwarefusion driver"
I'm needing to use the v1.0.0-rc.3/minishift-centos7.iso image, and when I try this after removing my existing ~/.minishift directory, the start simply hangs:

[code]

[vmware.log.zip](https://github.com/minishift/minishift/files/845744/vmware.log.zip)

[2017-03-15 19:20] gastaldi commented on #556
Happens only in 1.0.0-beta.5.

1.0.0-beta.4 does not show this message

[2017-03-15 19:41] hferentschik commented on #553
This is happening per default, you should not have to specify anything explicitly. Are you sure the start completed successfully. Here is how a successful start should look like:

    minishift start --openshift-version v1.5.0-alpha.3
    Starting local OpenShift cluster using 'virtualbox' hypervisor...
    Provisioning OpenShift via '/Users/hardy/.minishift/cache/oc/v1.5.0-alpha.3/oc [cluster up

[2017-03-15 19:49] hferentschik commented on #551
IMO, it is very unlikely that anyone working in this space would not have the docker client. Also, for anyone working with containers it is clear that if there is a daemon and a client. So yes, there are assumptions here, but personally I don't think we need to be more explicit here. Where do you stop?

[2017-03-15 19:53] hferentschik commented on #556
Correct, that's because it is a new feature of Beta 5. See issue #509. It is supposed to allow you to impersonate system:admin which is quite nice when executing a lot of _oc_ commands.

Since we run this provisioning at the very end of the bootstrap, nothing should be really broken in terms of the old functionality. Obviously there seems to be an issue setting the sudoer role, so we need to look

[2017-03-15 20:03] hferentschik commented on #557
Just to make sure, you are saying "Starting with v1.0.0-rc.3 ...", so I assume you used the exact same command with earlier versions and it worked? It works for example with v1.0.0-rc.2.

Also, have you tried with a different driver? For example virtualbox or xhyve? We don't really test against vmwarefusion atm, so we have very little experience with it.

Last, but not least I am not sure whether

[2017-03-15 20:34] starksm64 commented on #557
No, I mean that trying to use a centos based iso when starting minishift is failing. I tried v1.0.0-rc.2 and it failed as well. I cannot try another driver on this particular host because both xhyve and virtualbox cause kernel panics that reboot the host. Using the default iso with the vmwarefusion driver does seem to work fine.

I have used the [storage-driver=devicemapper] option on a rhel syste

[2017-03-15 20:47] hferentschik commented on #553
It is not required, I somehow thought you did want to use a 1.5.x version as well. That was just my bad. Regarding router, registry, and templates the same applies for the default (OpenShift 1.4.1) as for 1.5.

That said, you seem to be trying to upgrade from an existing 0.9 version. The auto-update feature is currently broken. Could you try to delete the _minishift_ binary and download the latest

[2017-03-15 21:31] ALRubinger commented on #556
@hferentschik After deleting my `$HOME/.minishift` folder, I saw the error go away in Beta5.  So maybe it's just a migration issue?  I had a prior `.minishift` folder from Beta4 installations.

[2017-03-15 22:37] LalatenduMohanty commented on #554
@gbraad good catch. I sometimes use OC , sometime console to deploy a new app. The nodejs example example is present in Readme from beginning of the project I think and I did not test it for release. I usually deploy the cakephp one to test. I can test this and confirm cc @thatdocslady

[2017-03-16 03:31] gbraad commented on #556
Duplicate of #555

[2017-03-16 03:35] gbraad commented on #554
I believe the following statement in the README is also wrong:

[code]

this adds the cache to `$PATH`, to allow people to run `oc`, BUT... the search order is wrong. This will resolve a possible executable/binary that is places in `/usr/bin`, `/usr/sbin`, `/usr/local/bin`, etc. first. Therefore they might not be using the cached version, but their own version which might be a different version.

[2017-03-16 04:15] LalatenduMohanty commented on #556
@ALRubinger @hferentschik @gbraad From now onward we should test the update path and add a note in the release notes.

[2017-03-16 04:17] gbraad commented on #556
@LalatenduMohanty agree. In coming release we should prevent doing a `rm -rf ~/.minishift`. Especially getting closer to the actual release of 1.0.0, we need to get into this drill.

[2017-03-16 04:46] gbraad commented on #557
This is not related to our code, as this is the communication channel between VMWare and the Tools inside the virtual machine.

What actually hangs? `minishift` also hang for me due to #555 and #556. You need to use Ctrl+C to break out after openshift got deployed.

I need more information to be able to understand what is wrong as the log is not indicative enough. Can you start `minishift start --

[2017-03-16 05:24] LalatenduMohanty commented on #553
@pollosp good to know that your issue is resolved. We have a note in about it too i.e. `Automatic update of the Minishift binary and the virtual machine ISO is currently disabled. See also issue #204` [1].

Should we close the issue now?

[1] https://github.com/minishift/minishift#installing-minishift

[2017-03-16 05:26] LalatenduMohanty commented on #552
As a workaround you can use docker flags to point to the right certificates e.g. if you want to run `docker ps` you can as below command
`$ docker --tlscacert=/home/lmohanty/.minishift/certs/ca.pem --tlscert=/home/lmohanty/.minishift/certs/cert.pem --tlskey=/home/lmohanty/.minishift/certs/key.pem info`

[2017-03-16 05:31] LalatenduMohanty commented on #551
@hferentschik @thatdocslady I think we should add this to documentation as we expect the user to get the docker client and minishift does not take care of downloading and putting the docker client in to the path.

[2017-03-16 05:36] LalatenduMohanty commented on #552
Or as @gbraad suggested `$ docker --tlscacert=$PWD/.minishift/certs/ca.pem --tlscert=$PWD/.minishift/certs/cert.pem --tlskey=$PWD/.minishift/certs/key.pem info`

[2017-03-16 05:41] LalatenduMohanty commented on #547
+1 good idea. We can add this channel topic .

[2017-03-16 05:44] gbraad commented on #552
to make it slightly more workable for someone
[code]

[2017-03-16 05:56] gbraad commented on #545
@jfclere I am trying something, but this is not easy... Trying to get some additional assistance for this...

[2017-03-16 06:25] gbraad commented on #547
@thatdocslady actiually set a channel topic this morning. An actually single endpoint is easier than just directing people to 'somewhere on minishift.io'

[2017-03-16 06:38] starksm64 commented on #557
This is the output from the minishift command. It has been waiting for the VM to come online for 20 minutes.

[authz 757]$ minishift start --show-libmachine-logs --memory=4000 --vm-driver=vmwarefusion --iso-url=https://github.com/minishift/minishift-centos-iso/releases/download/v1.0.0-rc.3/minishift-centos7.iso --docker-env=[storage-driver=devicemapper]
Starting local OpenShift cluster using 'vmwa

[2017-03-16 06:47] gbraad commented on #557
can you open the VMware interface and open the console of the virtual machine?

[2017-03-16 06:50] starksm64 commented on #557
Yes, but I don't know the login. It is not admin/admin.

[2017-03-16 06:54] gbraad commented on #557
It is defined at: https://github.com/minishift/minishift-centos-iso/blob/master/centos-7.template#L1 => `root`:`centos`

It is probably an issue with networking?
Did `minishift status` return a different state... and what about `minishift ip` ?

[2017-03-16 06:56] starksm64 commented on #557
[Obsidian 771]$ minishift status
Running
[Obsidian 772]$ minishift ip
172.16.156.152
[Obsidian 773]$ ifconfig
lo0: flags=8049<UP,LOOPBACK,RUNNING,MULTICAST> mtu 16384
	options=3<RXCSUM,TXCSUM>
	inet6 ::1 prefixlen 128
	inet 127.0.0.1 netmask 0xff000000
	inet6 fe80::1%lo0 prefixlen 64 scopeid 0x1
	nd6 options=1<PERFORMNUD>
gif0: flags=8010<POINTOPOINT,MULTICAST> mtu 1280
stf0: flags=0<> mtu 1280
en

[2017-03-16 06:58] gbraad commented on #557
Are you able to ping 172.16.156.1 from the minishift instance?
And so, does `minishift ssh` actually work?

[2017-03-16 06:59] starksm64 commented on #557
[Obsidian 774]$ ping $(minishift ip)
PING 172.16.156.152 (172.16.156.152): 56 data bytes
64 bytes from 172.16.156.152: icmp_seq=0 ttl=64 time=0.470 ms
64 bytes from 172.16.156.152: icmp_seq=1 ttl=64 time=0.292 ms
64 bytes from 172.16.156.152: icmp_seq=2 ttl=64 time=0.324 ms
64 bytes from 172.16.156.152: icmp_seq=3 ttl=64 time=0.264 ms
^C
--- 172.16.156.152 ping statistics ---
4 packets transmitted

[2017-03-16 07:04] gbraad commented on #557
Inside the minishift instance,

Can you try to:
  * `ping 172.16.156.1`    # please ping the opposite way... I know, just to make sure...
  * `ip a`
  * `sudo journalctl -u rc-local`
  * `mount`

[2017-03-16 07:10] starksm64 commented on #557
Note that I can ssh into the mini shift instance without using the mini shift ssh command:

[Obsidian 782]$ ssh root@172.16.156.152
root@172.16.156.152's password:
Last login: Wed Mar 15 19:55:29 2017
[root@localhost ~]# ping 172.16.156.1
PING 172.16.156.1 (172.16.156.1) 56(84) bytes of data.
64 bytes from 172.16.156.1: icmp_seq=1 ttl=64 time=0.206 ms
64 bytes from 172.16.156.1: icmp_seq=2 ttl=64

[2017-03-16 07:12] gbraad commented on #557
Inside the instance, please do

  * `cat /proc/partitions`

It seems the provisioning is not running...

[2017-03-16 07:13] starksm64 commented on #557
[root@localhost ~]# cat /proc/partitions
major minor  #blocks  name

  11        0     343040 sr0
   7        0         16 loop0
   7        1       4216 loop1
   7        2     265160 loop2
   7        3   10485760 loop3
   7        4     524288 loop4
 253        0   10485760 dm-0
 253        1   10485760 dm-1
 253        2   10485760 dm-2
   2        0          4 fd0
   8        0   20480000 sda

[2017-03-16 07:16] gbraad commented on #557
Try inside the instance

  * `sudo fdisk /dev/sda`  [p]

[2017-03-16 07:18] starksm64 commented on #557
`[root@localhost ~]# sudo fdisk /dev/sda
Welcome to fdisk (util-linux 2.23.2).

Changes will remain in memory only, until you decide to write them.
Be careful before using the write command.

Device does not contain a recognized partition table
Building a new DOS disklabel with disk identifier 0xfaf8dd39.

Command (m for help): p

Disk /dev/sda: 21.0 GB, 20971520000 bytes, 40960000 sectors
Units =

[2017-03-16 07:20] gbraad commented on #557
The geometry of the disk is correct... but for some reason the provisioning did not run... ?

[2017-03-16 07:24] gbraad commented on #557
Inside the instance

  * `dd if=$UNPARTITIONED_HD bs=1 count=29 2>/dev/null`

[2017-03-16 07:26] starksm64 commented on #557
[code]

[2017-03-16 07:30] gbraad commented on #557
very weird... can you do a `minishift stop && minishift delete` (and it fails, rm -rf ~/.minishift/machines), and start the instance again.

after some time, just open the console and do in the instance

  * `sudo journalctl -u rc-local`

[2017-03-16 07:35] gbraad commented on #557
it might be helpful to drop by in #minishift on freenode. but also let's keep updating this issue...

[2017-03-16 07:36] starksm64 commented on #557
[code]

instance
[code]

[2017-03-16 07:37] starksm64 commented on #557
Ok, I'll do that tomorrow. It's 12:30 am here and I'll be signing off soon.

[2017-03-16 07:37] starksm64 commented on #557
Here is a new message from the mini shift console:

[code]

[2017-03-16 07:39] gbraad commented on #557
In short, the provisioning does not run, so the SSH keys also do not get set correctly... Not sure why yet.

[2017-03-16 08:04] #553 closed

[2017-03-16 08:14] hferentschik commented on #556
+1, I think we might need a `minishift delete --all` though. Also, once we look into re-enabling auto-update we get more control on what's happening.

[2017-03-16 08:18] hferentschik commented on #556
@ALRubinger, ooh did you try to create a new Minishift instance or did you try to restart an exiting one?

[2017-03-16 08:21] gbraad commented on #556
It has to be a new one, as the provisioning step is important for the
sudoers functionality of openshift. The existing configuration would
prevent this from working as expected... (TL;dr provisioning only runs
once).

[2017-03-16 08:23] hferentschik commented on #554
Once issue #342 is resolved, this _curl_ command should be replaced. In fact this should happen as part of the #342 work. The line will become

    $ minishift openshift service myapp

regarding _ --allow-missing-imagestream-tags_, I don't see why this should be required. Not for the NodeJS demo app. Why do you want to add this.

[2017-03-16 08:28] gbraad commented on #554
Read the whole discussion... this is something that happened due to using `oc version` v1.5.0. In newer versions forward, this is likely needed. But yes, it was wrong for these changes.

Nice to have, but this would still hide intent at the moment. too many nifty commands do not really explain what is happening.

[2017-03-16 08:30] hferentschik commented on #554
Regarding the path, you are probably right, you want to add the oc binary to the beginning of the PATH. That said, I am hoping to get rid of this asap via `minishift oc env`. Latest for next sprint.

[2017-03-16 08:31] gbraad commented on #554
or `minishift oc-env` ? it is off-topic, but inconsistent with `minishift docker-env`

[2017-03-16 08:42] hferentschik commented on #552
Sp what is the action we want to take here? I guess at best we can add something to the Troubleshooting guide, right?

[2017-03-16 08:42] budhrg commented on #554
This command actually, open the application URL in the default browser. If one need to extract url then he need to specify `--url` flag.

Now, the flow would be
1. deploy application : `oc new-app https://github.com/openshift/nodejs-ex -l name=myapp`
1. check logs: `oc logs -f bc/nodejs-ex` (I don't get any imagestream issue if I run this command after few seconds like 10 or 20 seconds)
1. expose

[2017-03-16 08:46] Preeticp commented on #386
Resolved with #528

[2017-03-16 08:46] #386 closed

[2017-03-16 08:47] gbraad commented on #554
Is this currently available or integrated? if not, we can not add this to the README. If else, we can use `xdg-url http://nodejs-ex-myproject.$(minishift ip).nip.io` to trigger the browser to open...

[2017-03-16 08:50] hferentschik commented on #554
I got this part. In fact I just started a Minishift instance with 1.5.0-alpha.3 and it worked as expected. If this fall were required, I'd see that as a regression in cluster up and we should take it up there. Hence my question, if you guys are saying this flag is needed, I was wondering where this is coming from, e.g. a change in cluster up?

Why does it hide the intend? It will open the app in y

[2017-03-16 08:51] gbraad commented on #554
curl also not... ;-). but on Windows `start http://` would work.

[2017-03-16 08:52] gbraad commented on #554
No idea... maybe we should ask @jorgemoralespou . It could be this example is not up-to-date.

[2017-03-16 08:52] budhrg commented on #554
:+1: , that the intend here I guess. We should provide more functionalities through minishift CLI then using other ways like curl etc.

[2017-03-16 08:54] hferentschik commented on #554
It depends. If the default namespace is hard coded, then yes. If not and we are just calling out to the oc binary, it should use the current namespace automatically. If not,
yes you are right and the namespace needs to be specified. If this is the case we should dynamically determine the current namespace and apply it (in a follow up issue).

Right, right, my wrong. My main point is that we should

[2017-03-16 08:54] gbraad commented on #554
I try to step in the shoes of a developer and having to learn a new tool... If we use the new command, you also need to explain them at the same time. I am just scared of an information overload or resulting in information hiding, so the developer does not actually know what is happening...

[2017-03-16 08:55] hferentschik commented on #554
@gbraad

Sure, this is how `minishift console` works as well. This is cross platform.

[2017-03-16 08:58] gbraad commented on #554
I mean, is the service command done and merged now? if so, sure go ahead... but I believe the task is still open as #342

[2017-03-16 08:58] hferentschik commented on #554
@gbraad

Yes and no, read the original issue #142. It started with _oc_env_ and it might end up being just that. However, I think there might be more useful _oc_ commands we can offer and in this case it would make sense to have `oc env` where env is a subcommand. This allows to add other subcommands. Also it aligns with `minishift openshift` as well. But the exact name of the command can be discu

[2017-03-16 08:59] budhrg commented on #554
namespace is hardcode here - https://github.com/minishift/minishift/blob/master/cmd/minishift/cmd/openshift/service.go#L88 to `default`.

I think we can change it to `myproject`. WDYT ?

Yes, better to track in separate issue.

[2017-03-16 09:05] hferentschik commented on #556
@gbraad, yeah, but my guess was that it is related to the new json config file we use to store the path to oc. If I would be using an existing machine w/o this config file, the sudoer provisioning would fail. But you are probably right, that if the machine existed, we would not even end up in the part which tries to configure sudoer permissions.

[2017-03-16 09:07] hferentschik commented on #554
hmm, bugger. I wonder what happens if you don't specify it, aka leave it empty

-1, that's in turn not a good idea.

BTW, we should have this discussion on #342

[2017-03-16 09:08] budhrg commented on #342
I think we can change it to myproject. WDYT ?

If not, yes you are right and the namespace needs to be specified. If this is the case we should dynamically determine the current namespace and apply it (in a follow up issue)
Yes, better to track in separate issue.

[2017-03-16 09:17] gbraad commented on #556
@ALRubinger @gastaldi The resolution for now it is perform a delete of ~/.minishift. Could you try this?

[2017-03-16 09:54] hferentschik commented on #179
So, it seems the Minikube folks are onboard with the split of the _start_ command into something like _create_ + _start_. See also:

* https://github.com/kubernetes/minikube/issues/1147
* https://github.com/kubernetes/minikube/issues/364

We should provide input for https://github.com/kubernetes/minikube/issues/364, so that we can eventually keep the same/similar ux for the user.

[2017-03-16 10:16] hferentschik commented on #126
There is a discussion ongoing on Minikube on how this should look like from an ux perspective - https://github.com/kubernetes/minikube/issues/886

[2017-03-16 10:25] jstrachan commented on #550
a workaround is to add ClusterRole / ClusterRoleBinding to your app to be able to list nodes to be able to get the IP address to then default an OAuth URL - but it'd be nice to avoid cluster roles for web consoles if we can avoid it

[2017-03-16 10:27] hferentschik commented on #550
Do you have a pointer to some docs around this? I am wondering whether this is another use-case for an addon as being developed as part of issue #177

[2017-03-16 10:29] hferentschik commented on #532
Merged via pull request #540

[2017-03-16 10:29] #532 closed

[2017-03-16 10:46] gbraad commented on #557
@starksm64

I made a mistake in one of the commands. I left a variable unassigned...
[code]

[2017-03-16 10:49] jstrachan commented on #550
@hferentschik this is about all I could find: https://github.com/openshift/origin/issues/11486#issuecomment-255403817

I tested this on minishift 1.0.0.Beta5 which is 1.4.1 of openshift?

[2017-03-16 11:00] hferentschik commented on #550
That's the default atm, yes. You can also do something like this to get a later version:

    $ minishift start --openshift-version v1.5.0-alpha.3

[2017-03-16 11:18] gastaldi commented on #556
Yes, I did this and it worked. Thanks

Em 16 de mar de 2017 06:17, "Gerard Braad" <notifications@github.com>
escreveu:

[2017-03-16 11:22] thatdocslady commented on #552
@hferentschik For now I just need a workaround to make `make gen_docs` work, otherwise I'm blocked on the doc tasks (too scared to make changes if I can't test locally). Also, I asked in BZ about backporting the fix to F25 (they said it'll be available for F26), but if we see by the end of the sprint that we need this workaround, we should document it.

@gbraad I tried the commands you provided bu

[2017-03-16 11:24] hferentschik commented on #550
So what exactly do you mean with that? Where or how to you try to access this url. This URL won't be accessible on your host. To start with the hostname would not resolve. Even within the VM this hostname does not resolve.

As the issue you are referring to indicates, this allows you to discover the OAuth URL from within a pod. So when I do the following with a running NodeJS app (using Openshift

[2017-03-16 11:29] hferentschik commented on #552
You have multiple options:

* Just install the Docker daemon package and run an independent Docker daemon. You don't need to use Minishift's Docker daemon.
* Run the Rake tasks directly, without Docker. This is the better experience anyways, since then you get true instant live reload. For that you need a Ruby runtime installed on your machine as well. Provided you have that, `gem install bundler

[2017-03-16 11:33] jstrachan commented on #550
On 16 March 2017 at 11:24, Hardy Ferentschik <notifications@github.com>
wrote:

from inside a pod deployed on minishift

seems the curl equivalent inside golang code barfs though. I wonder if its
the --insecure made it look like the URL wasn't here? Here's the code:
https://github.com/fabric8io/exposecontroller/blob/master/controller/controller.go#L300

[2017-03-16 11:34] jstrachan commented on #550
lemme close this issue as it certainly looks like your nodejs container is working fine

[2017-03-16 11:34] #550 closed

[2017-03-16 11:52] thatdocslady commented on #547
@gbraad of course, we should have a single link to the entry point. @LalatenduMohanty if this is indeed what @veillard meant, then I can add a topic to the getting started section and each Q&A will act like a gateway to a different section of the documentation if relevant (for example, "what do I do if I run into a problem? -Here is a link to troubleshooting", and "how do I find out the default dr

[2017-03-16 12:02] thatdocslady commented on #552
@hferentschik I installed the docker-client package and started+enabled the docker-containerd service (I assume that's the daemon?). Now I run `docker ps` and I'm not getting the certificate error anymore (yay!) but I'm getting a `cannot connect to the docker daemon, verify it is running` error (boo.).

[2017-03-16 12:25] thatdocslady commented on #551
Exactly, we specifically say that our developers can reuse the docker daemon so it makes it seem like they don't have to do anything, but similar to the hypervisor requirements and extra steps, for first-time users or people who want to try minishift this step is important and shouldn't be assumed.

[2017-03-16 12:42] hferentschik commented on #551
Two things : "say that our developers can reuse the docker daemon":

* "our developers" - exactly, imo we are targeting developers. Minishift is not a consumer tool, it is for developers. I think one can expect a minimal understanding of containers, Docker, etc from developers starting to think about container orchestration
* "reuse the docker daemon" - I think for anyone working with containers i

[2017-03-16 12:52] gbraad commented on #552
Please stay on topic.

This is what I suggested yesterday, but created this task to follow-up for
the issue that re-use is not possible. @ThatDocsLady: `dnf install -y
docker; systemctl enable docker; systemctl start docker`.

[2017-03-16 12:53] gbraad commented on #342
I believe `--https` still makes sense to keep!
`oc expose` allows you to setup secured routes.

[2017-03-16 12:59] budhrg commented on #342
I think we can keep the flag `--https` since its user choice whether he want to use it or not.

If so, then sure we need it otherwise there is not way user can access secured route until he do `oc get route` himself.

[2017-03-16 13:05] thatdocslady commented on #552
@gbraad I did this and still got the certificate error, so then I installed the docker-client package and now I'm getting a different error. I think this discussion is still on topic because I'm trying to find a workaround for the issue that's described.

[2017-03-16 13:28] thatdocslady commented on #552
Ok so the workaround at the moment seems to be this:

1. Install packages `docker` and `docker-client`, enable and start docker and docker-containerd (sudo systemctl)
2. Enable non-root access to docker daemon: change to root > usermod -a -G docker $USER; chgrp docker /var/run/docker.sock > change back to user > newgrp docker
3. Run docker ps to test

Not sure if this could be valuable as a part o

[2017-03-16 13:35] thatdocslady commented on #551
Well if you feel so strongly about this then I won't fight about it, but let's see if we get any ricochets from not stating this once we start having users who need to use this.

[2017-03-16 13:48] gbraad commented on #551
You try to be inclusive as possible, as new developers are likely to pop up. We had them on chat yesterday... so, the basic tools you need (and how to install) can be described... we do the same for libvirt+kvm. We are not explaining how to install Linux here...

[2017-03-16 13:50] gbraad commented on #551
It is not only the re-use case we deal with...

"I run Minishift, but my Docker does not show the container running"
It is because they issue the command on their local instance...

[2017-03-16 14:00] hferentschik opened #559 "Improve build time by using 'go install' over 'go build'"

[2017-03-16 14:39] gbraad commented on #556
Closing issue...

[2017-03-16 14:39] #556 closed

[2017-03-16 15:07] gbraad commented on #551
Actually, we should not forget, that the usecase of 'Re-using the Docker daemon' is quite relevant for a Windows (and macOS) developers. This way, we provide an alternative to having Docker for Windows installed. Therefore installing the Docker client is almost a necessity... and is as simple as:

[code]

[2017-03-16 19:42] hferentschik opened #560 "Create docs package target to bundle asciidoc files into a tar archive"
The archive should also contain topic map yaml file for inclusion into docs.openshift.org

[2017-03-17 00:48] ALRubinger commented on #555
I've removed `~/.minishift` as well and this appeared to clear the issue temporarily, but it pops up again on subsequent reboots of Beta5.  My original clone of this in #556

[2017-03-17 02:51] gbraad commented on #551
Please add the instructions, because so far 3 people believe this is valuable. I'd rather have added too much information than too little...

[2017-03-17 02:51] gbraad commented on #551
Please add the instructions, because so far 3 people believe this is valuable. I'd rather have added too much information than too little...

[2017-03-17 03:46] gbraad opened #561 "Unable to restart Minishift due to Docker failing to start"
**Steps to reproduce**
[code]

[2017-03-17 03:51] gbraad commented on #555
@ALRubinger are you seeing #561 maybe?

[2017-03-17 05:24] LalatenduMohanty commented on #559
@hferentschik Can you please give more context. I am not sure if I understand. Is this Windows specific?

[2017-03-17 05:28] gbraad commented on #561
Not observed with Minishift beta-4 and CentOS rc-2

[2017-03-17 05:29] LalatenduMohanty commented on #551
I strongly feel we should add the documentation. I will send the PR if required.

[2017-03-17 05:36] LalatenduMohanty commented on #561
[code]

[2017-03-17 05:42] praveenkumar commented on #555
@gbraad I am not sure if we need to add something but will try to reproduce it and let you folks know.

[2017-03-17 05:49] gbraad commented on #179
Will this mean we will wait for them to implement this and port back... or... do it ourselves?

[2017-03-17 06:11] budhrg opened #562 "Add flag or make new target to avoid compiling binary while running integration test"
Right now `make integration` compiles the binary and use it to verify integration test.

One might need to test the local binary or download from URL for integration tests.

This IMO can be achieved by two ways:
- create flag like URL=`some url` to use url, like `make integration URL=<url>`
- create flag like BINARY=`path to binary`, `make integration BINARY=<path to binary>`
- new target altogeth

[2017-03-17 06:11] gbraad commented on #561
Retried with master and rc3. Not repoducible

[2017-03-17 07:01] gbraad commented on #561
Correction... it happens again... consistently.

  1. `minishift delete`
  2. `minishift start --show-libmachine-logs --iso-url https://github.com/minishift/minishift-centos-iso/releases/download/v1.0.0-rc.3/minishift-centos7.iso`
  3. `minishift stop`
  4. `minishift start --show-libmachine-logs`

[2017-03-17 07:11] gbraad opened #563 "During OpenShift provisioning 'oc login' takes a long time"
On KVM+Libvirt, Fedora 25, using current master and centos-rc3. After OpenShift is deployed it takes about an additional 30+ seconds before the prompt returns to be active. In this time, sudoers for OpenShift is set.

This has also been observed on Hyper-V (but slow command issuing was known here).

[2017-03-17 07:16] LalatenduMohanty commented on #561
I still can not reproduce this . Fedora 25 updated, KVM, minishift latest built from master

[code]

[2017-03-17 07:25] LalatenduMohanty commented on #563
@gbraad How did you reach to conclusion that its the suders command that takes time?

[2017-03-17 07:33] gbraad commented on #561
It is about 50/50 chance...

In some cases doing the start, stop, start cycle will work. maybe even for 2 times in a row...

[2017-03-17 07:37] gbraad commented on #561
[code]

[2017-03-17 07:40] gbraad commented on #561
[code]

[2017-03-17 07:46] gbraad commented on #561
Able to resolve with `sudo rm -rf /var/lib/docker`, which means that the filesystem/images were corrupted.

[2017-03-17 08:05] hferentschik commented on #179
It depends ;-) I am not sure how a backport really would be. It also depends when they start implementing this and how long it takes. Most important imo is to align how this is going to work. Then we can see who is getting to this first. It could also be that we implement it first and contribute to Minikube?

Let's start with trying to reach an agreement how this is going to work and then try to d

[2017-03-17 08:18] gbraad commented on #563
@LalatenduMohanty adding print output
[code]

[2017-03-17 08:38] LalatenduMohanty opened #564 "Workaround in troubleshooting guide when user hits "failed login limit""
Today I hit failed login limit [1]  while starting minishift i.e .downloading OC binary.

Seems like it is related to github API rate limit , but not sure. Once I set GH_TOKEN in the shell environment I I could workaround this issue.

We should document this after confirming if setting GH_TOKEN is the right workaround for this.

[1] https://developer.github.com/v3/#failed-login-limit

[code]

[2017-03-17 08:40] LalatenduMohanty commented on #564
@praveenkumar Also mentioned that he also faced this issue sometimes.

[2017-03-17 08:43] LalatenduMohanty commented on #564
Closing this as I think this was caused because of invalid GH_TOKEN.

[2017-03-17 08:43] #564 closed

[2017-03-17 08:47] agajdosi commented on #562
New target would save some typing only if there is predefined path for binary location e.g. in ~/minishift/minishift, in cases where one specifies her own path there would be flag still needed in this new target. So flag seems better to me.

[2017-03-17 08:54] budhrg commented on #179
:+1:  Sounds good @hferentschik

[2017-03-17 08:57] gbraad commented on #557
If not mistaken, you mentioned this worked for an older release? Would it be possible to run the same setup, but with beta4 and centos rc3 as image? If that fails, centos rc2?

If it starts, send me the output of `sudo journalctl -u rc-local` from the Minishift instance.

Any information that can help in comparing would be appreciated.

[2017-03-17 09:15] hferentschik commented on #535
Once pull request #565 is merged, the target to call is _gen_adoc_tar_. This creates a tar ball in the _docs/build_ directory. This tarball needs to be copied to the archive server.

[2017-03-17 09:27] hferentschik commented on #535
What I would like to end up is, is the following:

    docs
    ├── 1.0.0-beta.5
    │   └── minishift-adoc.tar
    └── latest

The tarball gets uploaded into a directory which matches the Minishift version as per Makefile. _latest_ is a symbolic link to this version.

Assuming we create a job https://ci.centos.org/job/minishift-docs/, then I would expect this to land under http://artifacts.ci.cen

[2017-03-17 09:40] budhrg commented on #535
You mean http://artifacts.ci.centos.org/minishift/minishift/docs/1.0.0-beta.5/minishift-adoc.tar right?

I think it is doable with the current JJB configurations.

Created issue in respective repo - https://github.com/minishift/minishift-ci-jobs/issues/20

[2017-03-17 10:55] agajdosi commented on #561
@LalatenduMohanty @gbraad I am not able to reproduce this issue with beta5 on Fedora 24 with kvm vm-provider. Did 6 runs of which 6 passed.

[2017-03-17 11:08] gbraad commented on #561
have this occurring on three different remote environments... will keep an eye on it...

[2017-03-17 11:43] hferentschik commented on #535
+1

+1

[2017-03-17 13:45] budhrg commented on #559
:+1:   `go install` does caching. Nice!

Found following answer in internet :
[code]

[2017-03-17 13:49] hferentschik commented on #559
Compilation is a lot faster this way. Much faster turn around times when developing.

[2017-03-17 13:59] agajdosi commented on #562
I went for solution with flag, but this can be changed quite fast, if we need. To run on specific binary, one can use URL argument with make integration, e.g. `make integration URL=/home/agajdosi/minishift/minishift`. For this case target is blank so code will not compile extra (and it his case useless) binary if there is any in "/out" folder.
URL argument is in make passed further as --binary fla

[2017-03-17 14:41] jorgemoralespou commented on #556
In coming release we should prevent doing a rm -rf ~/.minishift.

+1, I think we might need a minishift delete --all though. Also, once we
look into re-enabling auto-update we get more control on what's happening.

I would have maybe an option to delete profiles and config but not cached
files (iso, oc, and eventually images) as that will avoid network time for
the next start.

[2017-03-17 14:55] gbraad commented on #556
@jorgemoralespou should `minishift delete --all` remove just ALL the instances (in the future we might have), or really the whole folder. because as you said, I would not like to blow my cache away... or should this become

[code]

much like the `yum clean` or `dnf clean` commands. the `-y` will confirm the deletion... as I miss the confirmation.

[2017-03-17 14:57] jorgemoralespou commented on #563
@gbraad note that although the last thing that happens is the sudoers in oc 1.5 there is a job launched creating 100 PVs and that this might also impact in this face somehow for this provider.

Adding @csrwng for validation.

[2017-03-17 15:08] jorgemoralespou commented on #556
I don't see the value to delete the folder as a command. But I do se the
value to delete things that might have issues when upgrading to be formats,
to delete instancesv and even the cache, although this last one not so
common.

[2017-03-17 15:11] gbraad commented on #556
@jorgemoralespou deleting the cache at the moment is quite a narly one. it is actually needed when you have a cached images, as the new commandline specification will ignore if an image with boot2docker.iso already exist in this folder. However, this will be addressed.

[2017-03-17 15:18] jorgemoralespou commented on #556
@gbraad
Right now you can rm -rf the folder. I think that adding a command for
something that will be addressed is not good decision.

Let's think how this will remain with the end state in mind if this is
closer than a year. I think people can live with rm -rf.

[2017-03-17 17:17] quintesse commented on #556
Btw after deleting `~/.minishift` I got the following error (which didn't seem to affect the final result):

[code]

[2017-03-17 17:49] gbraad commented on #556
execute:

sudo virsh destroy minishift; sudo virsh undefine minishift

[2017-03-17 17:54] starksm64 commented on #557
I had only tried beta5 and centos rc2, and that did not work, but I will take a look at beta4.

[2017-03-17 19:31] gbraad commented on #357
@thatdocslady it is still in the step AFTER having signed up for the dev-preview account.

[2017-03-17 20:17] gastaldi opened #567 "Introduce a command to request an API token"
The following command echoes the URL to request an API token in the console:

[code]
It would be nice if minishift had a command to automatically open that in the browser (similar to what `minishift console` does).

[2017-03-19 00:44] jduncan-rva opened #568 "Inconsistent output between oc and web interface"
I'm using origin 1.4 from a minishift setup with the CentOS image. All functioning and up and running. It is in a kvm VM on Fedora 25.

The list of projects between the web interface and oc are pretty drastically different.

logged into the web UI and oc as system:admin

in the web interface you cannot see the default, openshift, openshift-infra, etc. projects. However they are visible to oc.
If y

[2017-03-19 00:46] jduncan-rva commented on #568
it's configured with an AllowAll identity provider.
ta-da.

[2017-03-19 10:27] hferentschik commented on #568
You really should not use system:admin for creating applications. The default namespace has a special meaning. It is encouraged to use the created 'developer' user  to create applications.

Also whether you see the same projects via the oc CLI and the Web Console will depend on which user you are using. You won't be able to log in to the Console as system:admin (per default). So you cannot really

[2017-03-19 10:29] hferentschik commented on #568
Closing this issue, since also  openshift/origin#13440 is closed. This is really expected behaviour.

[2017-03-19 10:29] #568 closed

[2017-03-19 23:44] dustymabe opened #569 "rpm packages for fedora/centos"
Would be great if we can get `docker-machine-driver-kvm` and `minishift` packages for Fedora and CentOS. I believe `docker-machine` is already packaged for Fedora, but not EPEL yet.

[2017-03-20 00:40] dustymabe opened #570 "Quote passwords when passing them to subscription manager"
Passwords that have special characters in them need to be quoted on the command line (if you run it through a shell which will interpret such characters). We either need to quote the password with `''` or we need to not run the command through a shell, which may be preferable.

Either way, once a fix is proposed, please try to run through the process with some special characters defined (`%$^`, et

[2017-03-20 00:42] dustymabe commented on #570
FYI - if this is not already fixed (maybe I missed it somewhere), then it should probably be fixed before next CDK release.

[2017-03-20 04:32] gbraad opened #571 "Failing builds due to unresolvable glide.sh"
While building on CI the following errors occur:

CentOS-CI: Connection to 172.19.3.110 closed. during the compilation (when glide needs to be installed)
Travis-CI: The command "GLIDE_TAG=$(curl -s https://glide.sh/version)" failed and exited

The domain http://glide.sh is not available: https://github.com/Masterminds/glide/issues/784

This can ofcourse always occur, but maybe it is better to rely

[2017-03-20 05:13] praveenkumar commented on #571
I would say we should use same approach for glide installation (go get), whatever CI we are using, this way we are sure that our all CI have same version because if we use rpm/deb package for centos/travis CI then might be we don't get what master have and hit inconsistent results.

[2017-03-20 07:16] gbraad commented on #571
agree. I also believe the go get method seems to be the better approach.

[2017-03-20 08:03] hferentschik commented on #571
+1

[2017-03-20 08:13] hferentschik commented on #570
@dustymabe, just to better understand the problem here. You are using the latest CDK 3 beta and try to register it by passing your subscription credentials during the start command. You are having a password with special characters which you escape accordingly on the command line when executing the start command. However, this will still fail to start the CDK, since we are internally not passing t

[2017-03-20 08:22] hferentschik commented on #571
Merged via pull request #572

[2017-03-20 08:24] gbraad commented on #571
will prepare another PR for the `go get` method of installation

[2017-03-20 08:32] hferentschik commented on #571
The problems with 'go get'  is that it will always fetch HEAD. This is actually not optimal, since we are exposing us of getting non reproducible builds. Setting a fixed version of Glide is imo the better approach.

I would like to align Glide setup approaches across our CI setups, but preferably in a way we've done here - with a explicitly set Glide version.

Windows still needs some special trea

[2017-03-20 09:31] gbraad commented on #571
Any method will work for me. I prefer version pinned myself to, so I will look into this later. Installing on Windows should not be that much of a problem.

[2017-03-20 09:47] budhrg opened #574 "Remove MAINTAINERS file"
I noticed that [MAINTAINERS](https://github.com/minishift/minishift/blob/master/MAINTAINERS) file contains only @jimmidyson name.

IMO, it's time to update with other names too.

[2017-03-20 09:54] budhrg commented on #559
Closed via https://github.com/minishift/minishift/pull/566

[2017-03-20 09:54] #559 closed

[2017-03-20 09:55] budhrg commented on #412
Although, this PR https://github.com/minishift/minishift/pull/566 fixes the binary building in Windows, let's keep it open to investigate other Makefile operations like `clean` etc

[2017-03-20 10:02] hferentschik commented on #412
+1

[2017-03-20 10:03] johnreytanquinco opened #575 "Pods failed to load with this error "FailedSync Error syncing pod...""
After creating a local OpenShift instance by installing and running minishift following this [chouseknecht/minishift-up-role](https://github.com/chouseknecht/minishift-up-role), and running the playbook, I encountered this error during deployments.

`FailedSync Error syncing pod, skipping: failed to "StartContainer" for "POD" with RunContainerError...
`

Pods were created but failed to start.

Thi

[2017-03-20 10:07] budhrg commented on #575
@johnreytanquinco , looks like some mishap here. Could you update the issue title and description properly?

[2017-03-20 10:30] johnreytanquinco commented on #575
@budhrg I think we have have the same issue encountered, and have you found any solution to [this](https://github.com/minishift/minishift/issues/218)?

[2017-03-20 10:37] budhrg commented on #575
@johnreytanquinco this seems to Openshift issue for us. Check commente here https://github.com/minishift/minishift/issues/218#issuecomment-269002416.

@johnreytanquinco , have you found any application failing due to it?

[2017-03-20 10:46] johnreytanquinco commented on #575
One thing I thought it was a version issue, but I'm already running the latest Minishift version: 1.0.0-beta.5.

If the deployment is successful, it should generates the running Drupal 8 site and the database but unfortunately it not.

[2017-03-20 10:56] budhrg commented on #575
@johnreytanquinco , would you like to join us in #minishift in irc.freenode.net? This seems to be different issue. Our application deployed successfully in spite of having those warning messages.

[2017-03-20 11:50] johnreytanquinco commented on #575
Yes, sure. I'm on it thanks!

[2017-03-20 13:51] agajdosi opened #578 "Add possibility to pass tags to godog via make integration target"
As test suite is going to grow there is need to organize tests in multiple feature files and to be able to select just some of them. Gherkin language implements tags for this case. We can have `@basic` tag on whole basic feature and nowhere else, which will secure that with basic tag only those few tests will run.
[code]
For some cases we can also use tags directly on selected scenarios, so for ex

[2017-03-20 14:17] dustymabe commented on #570
that is correct

i run minishift start with my user/pass in env vars and it fails

[code]

I logged in with my red hat customer portal account and it asks me to create a new JBOSS developer account. This is a barrier to entry I don't think many people are going to jump through.

[2017-03-20 14:20] dustymabe commented on #570
note, I have verified that if I run the subscription-manager command manually with single quotes like `'pa$$word'`, it works. I also will note that I changed my password to not have special characters in it and I do not have this problem with minishift.

[2017-03-20 14:54] budhrg commented on #536
Merged via https://github.com/minishift/minishift/pull/565

[2017-03-20 14:54] #536 closed

[2017-03-20 14:54] budhrg commented on #560
Merged via https://github.com/minishift/minishift/pull/565

[2017-03-20 14:54] #560 closed

[2017-03-20 16:34] csrwng commented on #563
@jorgemoralespou all that happens on startup is that the job is created. The creation of pods by the job controller and completion of that is all done asynchronously and doesn't affect when cluster up actually finishes.

[2017-03-20 16:54] hferentschik commented on #562
Merged via pull request #576

[2017-03-20 16:54] #562 closed

[2017-03-20 19:38] hferentschik opened #579 "CentOS CI test fail due to linkage errors"
See https://ci.centos.org/job/minishift/41/console

[2017-03-21 07:46] gbraad commented on #575
Please provide exact steps on how to reproduce the issue. Deployment using ansible is not something we support directly, as this is still part of the https://github.com/chouseknecht/minishift-up-role project. However, we are more than willing to see if this is an issue on our end, or something that is missing in the ansible-role.

[2017-03-21 08:24] johnreytanquinco commented on #575
As a newbie to this processes, these are the steps I followed to reproduce this issue:

1. I refer to this [document](https://github.com/chouseknecht/minishift-up-role). I'm using Mac device for this.

2. Installed the latest ansible version from its official site.

3. Installed minishift from [this](https://github.com/minishift/minishift#with-homebrew).

4. Role installation
   4.1 Installed the

[2017-03-21 08:29] gbraad commented on #575
As can be seen in the file `drupal8-mysql-webdav.json`, the persistent volume claim is made using the variable `VOLUME_CAPACITY` [ref](https://github.com/jubicoy/drupal8-docker/blob/master/drupal8-mysql-webdav.json#L330), for the size of 10Gi [ref](https://github.com/jubicoy/drupal8-docker/blob/master/drupal8-mysql-webdav.json#L345). If you have used an unmodified yaml, you will likely run into is

[2017-03-21 08:30] amitkrout opened #582 "Error 2 in make integration"
[code]

[2017-03-21 08:36] johnreytanquinco commented on #575
Cool, I'll try to narrow down Drupal8 size to 5Gi to make them identical. I'll update afterwards.

[2017-03-21 08:38] gbraad commented on #582
duplicate of #579

[2017-03-21 08:38] #582 closed

[2017-03-21 08:41] gbraad commented on #579
This also happens in local builds now... :-s

[2017-03-21 09:01] agajdosi commented on #579
Test failures are caused by my PR #576, I am sorry for that. I have changed `integration: $(BUILD_DIR)/$(GOOS)-$(GOARCH)/minishift$(IS_EXE)` to `$(GOPATH)/src/$(REPOPATH)/out/$(GOOS)-$(GOARCH)/minishift$(IS_EXE)`, which worked fine for me, because I did not realized, that target is already build, so everything went fine. However @hferentschik then faced problem with non existing target, because ma

[2017-03-21 09:04] hferentschik commented on #579
See pull request #580

Not sure what you mean

But that's what you expect, right. Assuming you have a compiled binary, you don't want to re-compile until a change is made, right?

[2017-03-21 09:07] hferentschik commented on #579
Merged via pull request #580

[2017-03-21 09:07] #579 closed

[2017-03-21 09:14] hferentschik commented on #579
The problem was there, regardless of the change to the 'integration' test target. It just became apparent, since it forced a default dev build of the binary, opposed to calling _cross_ target.

[2017-03-21 09:18] praveenkumar commented on #367
@hferentschik what we need to investigate here now? I did try xhyve driver with over our vpn and for me it worked. I am not sure if we need something from doc side for this.

[2017-03-21 09:21] hferentschik commented on #367
@praveenkumar, @jorgemoralespou agreed to do a remote debugging session with us. I recommend we schedule some time with @jorgemoralespou and let him drive this on this notebook. Hopefully we can get some insight this way.

[2017-03-21 09:25] LalatenduMohanty commented on #254
I could reproduce the issue on an "oc cluster up" setup on Fedora 25.
[code]

[2017-03-21 09:26] hferentschik commented on #570
I created https://issues.jboss.org/browse/CDK-100 to track this in the CDK issue tracker.

[2017-03-21 09:29] hferentschik commented on #570
Cool. Quoting will work, but only for the cases where the password does not a single quote either. Not running via a shell might not be an option, since we need to source the environment which potentially provides proxy settings.

[2017-03-21 09:31] praveenkumar commented on #367
@hferentschik Ack, that will help us for sure. :+1:

[2017-03-21 09:33] hferentschik commented on #254
@thatdocslady and that's after you successfully logged into the registry?

[2017-03-21 09:43] LalatenduMohanty commented on #254
@hferentschik yes, that is right. I have updated the previous comment.

[2017-03-21 10:01] LalatenduMohanty commented on #570
@dustymabe @hferentschik I have `!!` in my RHN password and worked for me for CDK 3 Beta. Not sure if my Linux shell have something which makes it work.

[2017-03-21 10:22] gbraad commented on #579
@hferentschik
![](http://i.imgur.com/NOLDVgt.png)

[2017-03-21 10:28] gbraad commented on #579
Or is the location of the binary different from before? In other words, make will ONLY publish the binary in $GOPATH/bin and not as ./out/[platform]/minishift anymore?

[2017-03-21 10:29] agajdosi commented on #579
@gbraad seems like ./out/[platform]/minishift is not anymore.

[2017-03-21 10:30] gbraad commented on #579
@agajdosi only with `make cross` I guess. Changed behaviour... :-s

[2017-03-21 10:52] hferentschik commented on #579
It is, for the release and cross compiled binaries. The dev binary gets built into $GOPATH/bin which is the recommended approach.

[2017-03-21 11:02] amitkrout opened #583 "Add multiple feature files to make integration"
Now the current suite is growing bigger where more test scenario will be added to smoke, sanity, docker and many more. As multiple feature file is supported by godog test framework so it's a good idea to keep the test specific scenario in respective feature file rather putting it in a single feature file and making it big and complicated.

For example:
For sanity check put all the sanity scenario

[2017-03-21 11:10] hferentschik commented on #570
@LalatenduMohanty You literally mean '!'? I don't think this is an issue. Biggest issue are most likely quotes. The problem is here https://github.com/minishift/minishift/blob/e2ba93544af908b8f889593cad4d1e300e23f7f9/pkg/minishift/registration/redhat.go#L58-L58. See how we pass the password unquoted to subscription manager?

[2017-03-21 13:09] dustymabe commented on #570
I would say that the biggest issue is probably characters that the shell interprets as special characters. Shell uses `$` to expand variables, so that is the prime candidate. @LalatenduMohanty - try putting a `$` in your password and see if you observe the issue.

[2017-03-21 14:26] hferentschik commented on #359
Merged via pull request #543

[2017-03-21 14:26] #359 closed

[2017-03-21 14:28] hferentschik commented on #265
Merged via pull request #573

[2017-03-21 14:28] #265 closed

[2017-03-21 16:45] agajdosi commented on #583
Seems like we can keep code just at `basic_test.go` for now and then if some functions will be too specific, we can move them into `<name-of-feature>_test.go` to keep `basic_test.go` not extremely long. WDYT @gbraad @hferentschik?

I agree that it is possible to rename `basic.feature` to more exact `smoke.feature` with tag `@smoke`. What do you mean by sanity.feature, what should be there, @amitkr

[2017-03-21 17:09] budhrg commented on #574
Updated the title to "Remove Maintainers file".

[2017-03-21 20:01] hferentschik commented on #548
+1

Here we probably want another common helper which allows us to probe an URL and expect a given HTTP status and potentially response content

+1

+1, we need to decide on how we want to handle determining on when the app is ready

+1 One can start with just checking that the commands set the right values in the underlying JSON config. Whether the set values are properly applied then, could be d

[2017-03-21 20:07] hferentschik commented on #583
I for sure get the step definition into their own file to start with. Really we want to build some sort of re-usable step definition library here.

[2017-03-21 20:12] hferentschik commented on #574
Merged via pull request #585

[2017-03-21 20:12] #574 closed

[2017-03-22 03:23] thesteve0 opened #586 "SCC is not allowing non-random UID"
For minishift I though were supposed to allow root and non-random UID for containers. When I try that I get:

[code]

Please change the SCC to allow non-random UIDs to allow developer to be productive

[2017-03-22 03:35] dustymabe opened #587 "Put oadm on the host machine"
If you need to run `oadm` we need that executable on the host machine somewhere. I think we can get by with just running `oc adm` but maybe a file called `oadm` that just calls `oc adm` would be good enough.

[2017-03-22 03:49] thesteve0 commented on #586
in the meantime, fixed it from my host machine with this

 oc adm policy add-scc-to-group anyuid system:authenticated --as system:admin

[2017-03-22 03:51] thesteve0 commented on #587
problem is that oadm is in the server download and there is actual no install for minishift. So there is no way to make a ln and not even sure how you would do that on windows. This seems like either it should be added to the vm so people can minishift ssh in and use it OR needs doc somewhere

[2017-03-22 04:40] dustymabe commented on #587
like I said `oc adm` worked fine for me. so we simply create a script:

[code]

if we couldn't rely on bash being there then we could make a statically compiled very simple c program (binary) that does the same thing.

[2017-03-22 04:47] dustymabe opened #588 "Plain docker mode: port mapping doesn't seem to work"
*note* this was on cdk 3 beta. I have not yet had a chance to try on centos version

when I run `minishift docker-env` and then try to use docker to run a container and map ports I get an error:

[code]

[2017-03-22 05:36] gbraad commented on #587
the `minishift ssh` approach is not really preferred, as you will pay a penalty for the command invocation (slowness #529). an alias would be a possible approach... also for powershell