[2018-01-31 11:06] praveenkumar commented on #1922
@sosiouxme Today I was trying to get 3.9.0-alpha.3 binary and looks like I am facing issue https://github.com/openshift/origin/issues/18364 even after downloading the linux tarball for oc binary I am not able to extract it :(

[2018-01-31 11:11] budhrg commented on #1959
Thanks @wzzrd :smile:

[2018-01-31 12:02] budhrg commented on #1879
It is not reproducible in last 13 nighly jobs.
https://ci.centos.org/job/minishift-nightly-centos/
Build no 40 is due to minishift didn't start properly in `cmd-docker-env.feature` file.

/cc @LalatenduMohanty @agajdosi

[2018-01-31 12:31] praveenkumar commented on #1956
I am not able to extract the `oc` binary from the release artifact of Openshift. Once I have it then will test https://github.com/minishift/minishift-centos-iso/pull/206 , this is working as expected for lower version of Openshift like 3.6.1, 3.7.1 etc.

[2018-01-31 12:35] budhrg commented on #1819
+1

[2018-01-31 12:35] praveenkumar commented on #1819
Whatever we put in default addons, become our responsibility to update as per Openshift release for imagestream and templates. Only if this is a hard requirement from CDK side then only we put it as default otherwise I don't have an issue with its current location.

[2018-01-31 12:43] robin-owen commented on #1957
@gbraad Fair enough, and... yes, essentially. :)

[2018-01-31 12:51] praveenkumar commented on #1933
@cunningt I did try it on mac with centos images and not able to reproduce it. Can you please try it again and see if works?

[2018-01-31 13:14] praveenkumar commented on #1933
@cunningt I am able to reproduce it with 3.7.1, will look into it more and get back to you.

[2018-01-31 14:26] farbgeist commented on #1927
Verified that  minishift works with virtualbox on Windows 10 within out corporate network. So our team will upgrade to Windows 10. If no one else has this issue, we may as well close it.

[2018-01-31 18:43] #1833 closed

[2018-02-01 09:45] abouchama opened #1960 "Addon: how to retreive a value from an internal variable ?"
### General information
  * Minishift version: v1.11.0+4459917
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

Trying to create a new addon, the diffuculty that i have is that i run an
`oc create -f oauthclient.yml `
in order to set oauthclient and after i use the token generated to create my application:

[code]

the oc new-app take the following value $(oc sa get-token oauth-client) t

[2018-02-01 09:51] budhrg commented on #1960
OPENSHIFT_OAUTH_CLIENT_SECRET=$(oc sa get-token syndesis-oauth-client) ?

I think this type of requirement make sense.

[2018-02-01 10:36] containscafeine opened #1962 "It is not intuitive to get to the OpenShift version list command"
### General information

  * Minishift version: v1.12.0+daa0943
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

It's very unintuitive to start a different OpenShift version than the default version been set.
The current steps are -
- `minishift openshift version list`
- `minishift start --openshift-version v3.7.1`

I'd expect something maybe similar to minikube, `minishift get-openshift

[2018-02-01 11:07] budhrg opened #1963 "Refactor 'createConfigSetting' to accept defaults values"
Need to refactor this function to accept default values for particular config.

https://github.com/minishift/minishift/blob/ad558b3728b3f8fd8ced5579849344c5189dedc8/cmd/minishift/cmd/config/config.go#L141-L152

[2018-02-01 11:11] #1622 closed

[2018-02-01 11:42] anjannath commented on #1962
To persist the openshift version information you can use the `minishift config set openshift-version` command, and `minishift` will use the configured version.

`minishift openshift` commands are used to interect with the running openshift instance, so i kinda agree with you about the `minishift get-openshift-version` to get the list of openshift versions, having said that.. the current set of com

[2018-02-01 11:50] gbraad commented on #1962
we do not favor using flags to retrieve resources. this is a very unintuitive approach, and not in line with resource based apis.

@minishift/minishift-dev wdyt? i am about to label as wontfix

[2018-02-01 12:00] gbraad commented on #1955
is this reproducible using an installed OpenShift cluster, or using an `oc cluster up` based cluster

[2018-02-01 12:00] containscafeine commented on #1962
TIL, thanks! :)

@gbraad how about `minishift list-openshift-versions` or `minishift get-k8s-versions` like minikube does it?

`minishift openshift version list` is really four `-h`s away for an end user.
1. `minishift -h`
2. `minishift openshift -h`
3. `minishift openshift version -h`
4. `minishift openshift version list`

and in none of those help pages does it mention that this is where I can f

[2018-02-01 12:04] gbraad commented on #1962
this seems like a documentation issue, as the commands can be included as help text for `--openshudt-version` and in our published docs.

a top level command `list-` or `get-` seems just as undesirable...

[2018-02-01 12:17] containscafeine commented on #1962
This would _really_ help if changing command structure is not desirable.

[2018-02-01 12:28] LalatenduMohanty commented on #1962
That is a fair expectation for someone who has used minikube prior to minishift. But we have `minishift openshift` command where the list command should stay.  The issue is if a user checks the usage of `minishift openshift` it says `  version     Prints the current running OpenShift version to the standard output.`

[code]
And it is not intuitive to guess that there is a `list` subcommand availab

[2018-02-01 12:33] LalatenduMohanty commented on #1962
What about moving the list subcommand to one hierarchy before i.e. `minishift openshift list-versions` or something similar?

[2018-02-01 12:35] anjannath commented on #1962
we should add the command to help text for `--openshift version`, as @gbraad suggested.
[code]

[2018-02-01 12:43] LalatenduMohanty commented on #1962
+1. But that is not the complete fix to the issue IMO. The `minishift openshift version` usage is also wrong.  At the current structure, it is hard for a new person to intuitively to get the list command.

[2018-02-01 14:48] lucasponce opened #1966 "Changing between projects change the user logged"
### General information

  * Minishift version: minishift v1.12.0+daa0943
  * OS: Linux (Fedora 27)
  * Hypervisor: KVM

### Steps to reproduce

  1. minishift start # From a previous installation
  2. eval $(minishift oc-env)
  3. eval $(minishift docker-env)
  4. oc login $(minishift ip):8443 -u admin -p admin

Login successful.

You have access to the following projects and can switch between t

[2018-02-01 15:07] anjannath opened #1968 "Add integration tests for `che` addon"

[2018-02-01 15:44] lucasponce commented on #1966
Ok, I know what it happens, minishift VM was started from a network A, and changing to a network B, it took under same name a different IP, so $HOME/.kube/ config seems to be corrupted.
A valid (more or less safe) workaround was to remove the $HOME/.kube/ folder and restart minishift config
[code]

[2018-02-01 16:09] gbraad commented on #1955
IS this the same as #1966 ?

[2018-02-01 20:53] indrayam commented on #1827
I am facing the same error with the latest version on a Mac:
Minishift version: minishift v1.12.0+daa0943
OS: Mac
Hypervisor: virtualbox

[2018-02-02 00:08] indrayam opened #1969 "Error during post cluster up configuration: Error reading config file ~/.minishift/machines/minishift_kubeconfig"
### General information

  * Minishift version: v1.12.0+daa0943
  * OS: macOS
  * Hypervisor: VirtualBox

I am running 5.2.6 r120293 of VirtualBox. I already have minikube, gcloud (with kubectl) and Docker for Mac (Edge Channel) with Kubernetes support installed. I connect to k8s clusters hosted at GKE, locally on minikube and by Docker for Mac. Which is to say, I have an existing ~/.kube/config f

[2018-02-02 03:30] praveenkumar commented on #1827
@indrayam Can you provide your `~/.kube/config` file, please make sure you remove all the private token before paste is on github gist or a pastebin.

[2018-02-02 03:33] praveenkumar commented on #1969
@indrayam This might happen because the way we parse the ~/.kube/config and extract minishift specific details but in your case looks like we are not parsing it well enough and `minishift_kubeconfig` file become corrupted. Can you please provide how is your ~/.kube/config file looks like (make sure you remove all the private token from it before pasting it)?

[2018-02-02 10:12] anjannath commented on #1704
This is still relevant, reopening.

[2018-02-02 10:27] agajdosi opened #1970 "Improve packaging capabilities of code around integration tests"
### General information
Currently the integration tests can't be easily used outside of the Minishift repository.

### Current
The `integration_test.go` is mixture of both code which starts the tests and code which defines them. This applies to `integration` package as whole.

### Expected
Move all the code which defines tests and covers its functionality into separate package. This package will b

[2018-02-02 10:49] #1799 closed

[2018-02-02 11:46] cmoulliard opened #1971 "Change limit pod/cpu"
Statement:

"I experiment from time to time such problem on my machine using "oc cluster up"  (openshift origin 3.7.x)

`0/1 nodes are available: 1 Insufficient pods.`

If I look to the to stats generated by the command "oc get node localhost", then I can see that the limit of the pods created has been reached.

As the convention followed by openshift is to limit the number of the pods "available"

[2018-02-02 11:59] agajdosi commented on #1970
Proof of concept at https://github.com/agajdosi/minishift/commit/1bafb75a3a28cd0d452aa46fa53dbac557ac0210. Any comments appreciated.

[2018-02-02 14:13] anjannath commented on #1971
We need a similar command like `minishift openshift config set --patch` which can patch the master config file in `/var/lib/minishift/openshift.local.config/master/master-config.yaml` we just need to patch the `/var/lib/minishift/openshift.local.config/node-localhost/node-config.yaml` file.

right now there's no value set for it in the `node-config` file:
[code]

[2018-02-02 14:52] LalatenduMohanty commented on #1698
Resolved via https://github.com/minishift/minishift/commit/4ccff78fc09a6da882c283a3043a243c61f4798f

[2018-02-02 14:52] #1698 closed

[2018-02-02 15:14] anjannath commented on #1968
This will be fixed in [minishift/minishift-addons#67](https://github.com/minishift/minishift-addons/issues/67)

[2018-02-02 15:14] #1968 closed

[2018-02-02 16:05] LalatenduMohanty commented on #1971
I could reproduce this , steps to reproduce
* minishift start --memory 4GB
* deploy the cake-php application
* increase the pods to 20
* you will see that the last pod will go to pending state. If you check the status of the pod you will see `No nodes are available that match all of the following predicates:: Insufficient pods (1).`

[2018-02-02 16:07] LalatenduMohanty commented on #1971
@anjannath suggested following to patch the node config `minishift openshift config set --target node --patch '{"kubeletArguments": { "max-pods": ["20"] } }`, will get back if it works.

[2018-02-02 16:57] LalatenduMohanty commented on #1971
It did not fix the issue for me. Need to dig more.

[2018-02-02 18:18] DuncanDoyle opened #1972 "minishift start prints password in clear text when RHSM connection fails"
### General information

  * Minishift version:
minishift v1.11.0+d7f374a
CDK v3.3.0-1

  * OS: Linux / macOS / Windows
macOS 10.12.6

  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox
xhyve

### Steps to reproduce
  1. Setup minishift: minishift setup-cdk
  2. Start minishift: minishift start
  3. Enter RHSM credentials
  4. If RHSM is not available, the command that failed is printed, which inc

[2018-02-02 23:54] indrayam commented on #1969
Here you go @praveenkumar
[config.txt](https://github.com/minishift/minishift/files/1691158/config.txt)

I have tried to clean up all my secrets by adding a "..." in between start and end characters. Hope I did not miss any :wink:

[2018-02-03 01:58] kev5 commented on #1352
Please help, I'm getting this problem-

C:\Users\keval\Downloads\minishift-1.12.0-windows-amd64>minishift start
-- Starting profile 'minishift'
-- Checking if requested hypervisor 'hyperv' is supported on this platform ... OK
-- Checking if Hyper-V driver is installed ... OK
-- Checking if Hyper-V driver is configured to use a Virtual Switch ... OK
-- Checking if user is a member of the Hyper-V Ad

[2018-02-03 02:03] kev5 opened #1973 "Error pulling Docker image, caused by Tag v3.6.1 not found in docker.io/openshift/origin"
### General information

  * Minishift version: 1.12.0
  * OS: Windows 10
  * Hypervisor: Hyper-V

Please help, I'm getting this problem-

C:\Users\keval\Downloads\minishift-1.12.0-windows-amd64>minishift start
-- Starting profile 'minishift'
-- Checking if requested hypervisor 'hyperv' is supported on this platform ... OK
-- Checking if Hyper-V driver is installed ... OK
-- Checking if Hyper-V dr

[2018-02-03 06:17] gbraad commented on #1352
Several tests on startup fail, which indicate there is no outside
connectivity possible from the VM. Please check network settings.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-02-03 06:18] gbraad commented on #1973
Please verify your network settings

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-02-03 06:22] gbraad commented on #1972
Known issue. Please file CDK specific issues at jira.jboss.org.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-02-03 06:33] kev5 commented on #1973
Hi @gbraad . Thanks for responding. What and how do you want me to verify?

Also, did you notice the following failure-

-- Checking HTTP connectivity from the VM ...
Retrieving http://minishift.io/index.html ... FAIL
VM cannot connect to external URL with HTTP

[2018-02-03 10:11] #1665 closed

[2018-02-03 11:01] gbraad commented on #1973
Yes, I noticed. I wrote those tests to detect network issues. Please
explain how you created the virtual switch, how is this machine connected
to the network, etc.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-02-03 11:11] #518 closed

[2018-02-03 13:51] #1680 closed

[2018-02-03 13:51] #1157 closed

[2018-02-03 15:25] #1377 closed

[2018-02-03 23:17] gbraad commented on #1962
I do not see why this is wrong. I'm probably more used to think in resources and structures, and believe fluent interfaces lead to intuitive use... I believe this can be solved with focussing more on pointing towards a solution when people discover the interface use => documentation

[2018-02-03 23:32] gbraad commented on #1973
Note: both the `oc` release is available https://github.com/openshift/origin/releases/tag/v3.6.1 and as container at https://hub.docker.com/r/openshift/origin/tags/

Just verified that this error can occur when a faulty connectivity is configured.

[2018-02-05 08:01] cmoulliard commented on #1971
This command was working for me with origin 3.7.1

[code]

[2018-02-05 08:09] anjannath commented on #1971
Well the command would work and it will patch the _node-config.yaml_ file.
What @LalatenduMohanty meant was, the issue with pods being in the pending state, that did not get fixed even after increasing the `max-pods` value. Could you please confirm this @LalatenduMohanty ?

[2018-02-05 09:01] gbraad commented on #1660
Not reproducible in later versions

[2018-02-05 09:01] #1660 closed

[2018-02-05 09:39] anjannath commented on #1585
Fixed via #1942

[2018-02-05 09:39] #1585 closed

[2018-02-05 11:00] anjannath commented on #169
We (@budhrg and /me) looked into the code and found out that, _minishift_ does not use that much of logging, the logging is mostly spit out by _libmachine_. Since there is not much logging in _minishift_, i think its best to understand what is expected out of this. Are we going to handle everything on the stdout using a logging framework? that means the msgs from preflight checks are also handled

[2018-02-05 11:03] gbraad commented on #169
Well, as in the original description, many logs are provided as `fmt.Print`, which can be wrapped as a logging level, either info, error, etc. this has to be reviewed and decided upon.

One of those changes can be to move pre-flight checks to info, and ONLY error out on an actual error.

[2018-02-05 11:08] anjannath commented on #169
Yes, we do have a lot of `fmt.Print`, +1 for having a discussion around this.

[2018-02-05 11:52] xeviknal commented on #1966
It happened to me. Your workaround worked for me as well.

[2018-02-05 12:33] #1735 closed

[2018-02-05 12:42] anjannath commented on #169
After brief discussion on irc about this with @gbraad couple of things came up. Right now we don't log the startup settings, we should be logging that, also the logging to files inside `~/.minishift/logs/` are not done properly.

We show TOO much information regarding the progress of `minishift start` as preflight checks, we could clean that up too, and only show information to user only when some

[2018-02-05 12:47] gbraad commented on #169
* allow logging to a file (either happens to general or profile)
  * allow to log to stdout and stderr
  * allow to set different log levels
    * error
    * info
    * warning
  * possibly allow to increase log level during execution (^1)

^1 - Imagine just showing `-- Starting Minishift: 'cluster02' ................ OK`, but during execution, you could imagine that some steps might take long or

[2018-02-05 13:08] #1963 closed

[2018-02-05 13:11] budhrg opened #1976 "Introduce 'Maintainer' as addon metadata field"
I think we an optional metadata field here for addon as `Maintainer` similar to Docker's MAINTAINER.

The reason is since the add-ons present in https://github.com/Minishift/minishift-addons are mostly community add-ons, at some point, we need to know who is maintaining which addon as part of [CI test](https://github.com/minishift/minishift-addons/issues/67) if any addon fails to install/apply, we

[2018-02-05 13:25] anjannath commented on #1976
This makes sense, but how are we going to contact the maintainer?  if the ci fails we notify the maintainer via mail? in that case the `Maintainer` field will also need to have the email besides github username... right?.

But during development this would be very noisy as the ci is more likely to fail during development.

[2018-02-05 13:27] budhrg commented on #1976
We enable it only during nightly build after many successful iterations. That's my long-term idea.

[2018-02-05 13:28] gbraad commented on #1976
This has been on my mind for quite some time. This can help with offloading support and expectation from our side.

[2018-02-05 14:15] budhrg commented on #169
This is interesting. So, instead of passing via start command option, we increase the log level by pressing `ESC` ?
How, we decide what to show as part of it?

[2018-02-05 14:19] gbraad commented on #1376
Can this be reproduced first? The steps involved will lead to two possible scenarios I guess. Based on this, we need to take appropriate steps.

But checking if Hyper-V is enabled or possible is not an easy check, as having the management tools installed will lead to the same results if not mistaken. I remember an issue for this.

[2018-02-05 14:25] anjannath commented on #169
Yes, so, we won't show any logs just, `Starting Minishift ............................... OK`
Then if the process is stuck and the user wants to see the progress of the current task, he can press `ESC` to get the logs.

That we have to decide, my guess would be all the logs in the info level.

[2018-02-05 16:42] kev5 commented on #1973
Thanks a lot for the response. I created an External Virtual Switch using the Hyper-V Manager. Now when I run it, all the tests passed but it's taking forever to start, haven't yet got through it.

C:\Users\keval\Downloads\minishift-1.12.0-windows-amd64>minishift start
-- Starting profile 'minishift'
-- Checking if requested hypervisor 'hyperv' is supported on this platform ... OK
-- Checking if H

[2018-02-05 17:16] gbraad commented on #1973
This can have several causes, one of them being: "Your VM gets an IP address by DHCP, as the packets with request gets routed correctly... But communication from the host to the VM is not possible due to a route all (0/0) rule. This can be due to the use of a VPN".

Please describe your network setup and settings.

[2018-02-05 17:41] kev5 commented on #1973
My laptop is connected to the WiFi using vEthernet (External VM Switch). I'm not using any VPN. I'm sorry I don't know the command for log output for Windows 10.

[2018-02-05 17:51] gbraad commented on #1973
I have provied the command. When starting:

[code]

[2018-02-06 06:40] praveenkumar commented on #1976
Currently, if you have an addon below then it will not fail to parse at this moment. When you say it should be optional then this feature already their.  I am not sure what you want to implement as part of this?

[code]

[2018-02-06 06:45] praveenkumar commented on #1973
Appart from what @gbraad already pointed out, there is disk creation and covert a raw disk image happen as part VM creation process and we also feel this one take a fair amount of time for HyperV case. Still, please execute the command with log enabled as @gbraad mentioned.

[2018-02-06 06:49] praveenkumar commented on #1966
@lucasponce @xeviknal When you say network A to network B that means you did some work when you were on network A and stopped minishift VM and again started it with network B and start doing work?

[2018-02-06 06:50] praveenkumar commented on #1969
Thanks @indrayam, will look into this and let you know if any more information required from your end.

[2018-02-06 07:16] gbraad commented on #1966
@praveenkumar Slightly confusing yeah, as with KVM the assigned IP address (VM) should not change until the lease expired.

[2018-02-06 07:17] budhrg opened #1978 "Fix integration tests for Centos ISO post image caching enabled"
After image caching is enabled by default, the CentOS ISO was failing in nightly build on the image caching feature file.
See https://ci.centos.org/job/minishift-nightly-centos/47/ onwards.

It seems that the timeout of 20 mins

https://github.com/minishift/minishift/blob/f9ccd57cfef7af081a4a3289948af6d5eed45443/test/integration/minishift.go#L204

is less in case of CentOS ISO.
The timeout of 30 m

[2018-02-06 07:40] LalatenduMohanty commented on #1703
Resolved via #1951

[2018-02-06 07:40] #1703 closed

[2018-02-06 08:30] budhrg commented on #1976
The only difference with currently available optional metadata fields like `Required-Vars` /`Var-Defaults` is these fields get verified.

Making `Maintainer` similar to `Required-Vars` optional field so that it can be verified during installation.

[2018-02-06 08:40] LalatenduMohanty opened #1980 "Some unit tests do not use testify"
### General information
We still do not use `testify/assert` for assertions in some of the units tests. Maybe we missed it in the review. Refer the old issue for using testify https://github.com/minishift/minishift/issues/250 and the patch at https://github.com/minishift/minishift/commit/838f4d50ce96e022f4990d37ba56704869b2f250

  * Minishift version: Latest Master i.e.  acb558a890b0e3afb93304e57a

[2018-02-06 08:44] LalatenduMohanty commented on #1980
I see below in delete_test.go
[code]
Which can be fixed by using https://godoc.org/github.com/stretchr/testify/assert#DirExists

[2018-02-06 08:51] budhrg commented on #1980
[code]

Out of above files, I see `cmd/minishift/cmd/delete_test.go` need to be updated. Rest it seems to be only setup and helper function which doesn't make sense in asserting.

[2018-02-06 09:28] LalatenduMohanty commented on #1980
@budhrg why can not we use https://godoc.org/github.com/stretchr/testify/assert#Assertions.FailNow in place of `Fatal` as it provides better assertions?

[2018-02-06 09:31] budhrg commented on #1980
What is better assertions here?

[2018-02-06 09:53] xeviknal commented on #1966
@praveenkumar it happens to me when, for instance, I am switching from wifi to wire in the office, and viceversa, without stopping minishift before the switch.

[2018-02-06 10:02] anjannath commented on #1980
The `delete_test.go` needs to be changed, the others are setup functions, In the original [PR#comment](https://github.com/minishift/minishift/pull/1755#discussion_r163815922) we decided to not use assertions in test setup, because we are not really asserting anything, and **if** conditions are more symatically correct in that context.

[2018-02-06 10:16] gbraad commented on #1970
Can the expected workflow be described? for instance, what does an addon developer need to do to make this work for him?

[2018-02-06 10:33] LalatenduMohanty commented on #1980
@budhrg @anjannath  I see this in pkg/minishift/addon/manager/addon_manager_test.go and this shoul dbe fixed.
[code]

[2018-02-06 10:37] LalatenduMohanty commented on #1980
@budhrg the setup functions also part of unit tests, we should fix it. Not sure why you think we should not fix them

[2018-02-06 10:41] budhrg commented on #1980
Because we are not verifying there by expecting anything in the setUp by creating temporary directory or other. The error is unusual here.

[2018-02-06 10:48] LalatenduMohanty commented on #1980
I do not agree. So you are fine if I create some setup functions and the failures in these functions we do not use testify. What about consistency?

[2018-02-06 10:51] budhrg commented on #1980
I think it's not about consistency here. There is the difference in the if being used in `setUp` and inside `Test*` function as in the later we are verifying something but not in the `setUp`. Seems overkill of using `assert` in `setUp`.

[2018-02-06 10:56] praveenkumar commented on #1976
When you say verified, verified against what? Are you going to put a parser which will tell a valid email id/ Github username ...etc.?

[2018-02-06 10:57] LalatenduMohanty commented on #1980
@budhrg -1 .If in the setup you are doing any `minishift` openration or running any `minishift` command then the rules for writting tests are also applicable. @minishift/minishift-dev comments?

[2018-02-06 10:58] LalatenduMohanty commented on #1980
@budhrg What is your opinion about https://github.com/minishift/minishift/issues/1980#issuecomment-363380707?

[2018-02-06 11:00] anjannath commented on #1980
I agree with @budhrg here, using `assert` in `setUp` seems like an overkill.

[2018-02-06 11:02] LalatenduMohanty commented on #1971
Right, here are the steps I did to verify

[code]
I could see the issue again i.e. same issue with or without patching the node config where I was expecting that I can start more pods.

[2018-02-06 11:03] LalatenduMohanty commented on #1980
Can you give an example? Are you talking about https://github.com/minishift/minishift/issues/1980#issuecomment-363380707?

[2018-02-06 11:09] anjannath commented on #1980
about [#1980 (comment)](https://github.com/minishift/minishift/issues/1980#issuecomment-363380707)
in `pkg/minishift/provisioner/minishift_detector_test.go` needs change, but in case of `pkg/minishift/addon/manager/addon_manager_test.go` we don't need change IMO, as that is a helper function for the tests, not actually a test.

[2018-02-06 11:09] budhrg commented on #1980
Here, it seems to be valid to assert as it is part of `Test*` functions.

Here, it got missed I guess as in the next test functions, he used assert.

[2018-02-06 11:12] LalatenduMohanty commented on #1980
+1. @anjannath function `getAddOnMetadata` is used in 4 unit tests so it is part of unit tests. The reason it is a separate function because other unit tests re-use the code.

[2018-02-06 11:26] anjannath commented on #1980
Exactly the reason it is called from 4 unit tests makes it a helper function. `setUp` finctions are also used in the unit tests.

If we want `getAddOnMetadat` also to be tested, we need to wrap this function inside a `Test*` function, or else it is not a unit test, we are testing more than one units inside one function. then we can run it as a unit test using `go test`

[2018-02-06 11:34] praveenkumar commented on #1966
@xeviknal Below is what I did to try to reproduce this issue but not able to get what you folks are getting.

Another thing which I noticed from your provided logs which looks like when you disconnect from the internet it tries to connect to `openshift.io` instead minishift.

[code]

Can you also try to do following in disconnected environment and then check `oc whoami`?

[code]

Connected to a wi

[2018-02-06 11:34] budhrg commented on #1980
`getAddOnMetadata` is not a proper helper function and should be removed.
We should however use
[code]

IMO, the proper helper function is `getTestAddonMap`.

[2018-02-06 11:36] LalatenduMohanty commented on #1980
@budhrg works for me.

[2018-02-06 12:54] MansM opened #1982 "minishift config set iso-url minikube doesnt work"
### General information

  * Minishift version:  v1.12.0+daa0943
  * OS: macOS High Sierra
  * Hypervisor: VirtualBox

### Steps to reproduce

  1.  minishift config set iso-url minikube
  2.
  3.
  4.

### Expected
config updated with minikube as iso setting

### Actual
minikube url is not valid: parse minikube: invalid URI for request]

Putting it directly in the config file (see below)  or  as

[2018-02-06 13:10] budhrg commented on #1976
Yes, needed for notification through CI.

[2018-02-06 13:10] praveenkumar commented on #1982
@MansM Thanks for filling this issue, looks like we missed to add our whitelist in term of isos during the refactor :(

[2018-02-06 13:28] MansM commented on #1982
reading the code it aint that hard to fix, will create a pr shortly

[2018-02-06 15:08] xeviknal commented on #1966
[code]
### Connecting to wire

[code]

### Disconnecting from internet
[code]

### Connecting to wifi

[code]

[2018-02-06 15:13] xeviknal commented on #1966
When I can see the problem is when I am logged as admin user and then I am trying to go to a project that this user is supposed to have access to.

Here something it might help regarding this admin user. The following is my minishift profile config. I am using the addon `admin-user`.
It might be some security constraint regarding the fact that when there is a change in the network layer minishift

[2018-02-06 15:16] xeviknal commented on #1966
Followin the previous state, I changed to admin user, switched to tutorial project, and then it is reproducing the bug.

[code]

[2018-02-06 15:44] anshulbehl opened #1985 "Trying the oc annotate command with minishift deployment?"
### General information
Due to somewhat slow backend of my application it was required to annotate the route to application with haproxy timeout using the commands provided in

https://docs.openshift.org/latest/install_config/configuring_routing.html

While doing this it was difficult to get hold of the haproxy hostname as the above link uses openshift origin as reference and not minishift.
Since

[2018-02-06 16:27] jkirklan commented on #1708
Sorry I missed this comment.  I ran the commands you gave me and have the same result.  It looks like it could be a network communication issue.  Is it possible it is talking to the wrong network?

[2018-02-06 19:43] jorgemoralespou commented on #1985
@anshulbehl
You don't need to change the annotation if you want to change the timeout for the router

haproxy.router.openshift.io/timeout=5s

2) oc annotate issues belong to openshift/origin repo. And what you're requesting is something that will not be accepted, as your assumption of how the annotation works was incorrect.

You should close this issue.

[2018-02-06 19:46] jorgemoralespou commented on #1976
-1 for this.
I agree with @praveenkumar that you can request addons maintainers to add that header if they wish. At the end, even if a maintainer get an email notification, he might not act on it ;-)

You can always use the name of the github user that contributed the addon, or all of those who have committed code to the addon.

[2018-02-06 19:52] jorgemoralespou commented on #1971
These should be possibly made as an addon, and not a change by default, IMHO

[2018-02-06 19:58] jorgemoralespou commented on #1966
@praveenkumar @LalatenduMohanty
Contexts in OpenShift don't work as a user would expect. I've created a [little wrapper](https://github.com/openshift-evangelists/oc-wrapper) for me to have the correct behaviour and I'm discussing with OpenShIft engineers.

In the meantime, I recommend that the kubeconfig saved in the profile for the admin user, get's manually tweaked so can work on roaming network

[2018-02-06 20:58] anshulbehl commented on #1985
@jorgemoralespou
Quoting https://docs.openshift.org/latest/install_config/configuring_routing.html
After installing OpenShift Origin and deploying a router, you can configure the default timeouts for an existing route when you have services in need of a low timeout, as required for Service Level Availability (SLA) purposes, or a high timeout, for cases with a slow back end.

As documented the comm

[2018-02-07 04:59] #1982 closed

[2018-02-07 05:00] praveenkumar commented on #1982
resolved by #1984

[2018-02-07 09:04] praveenkumar commented on #522
resolved by #1887

[2018-02-07 09:04] #522 closed

[2018-02-07 09:10] amitkrout opened #1986 "Use a user friendly error message when no *.addon.remove file available"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce
[code]

### Expected
[code]

Out put should be something like as mentioned above suggested by @gbraad

### Actual
$ ./minishift addons remove anyuid
No anyuid.addon.remove file found for 'anyuid' add-on.

By seeing this output user can ha

[2018-02-07 09:15] praveenkumar commented on #1986
I added `good first issue` label, if we don't get a newbie contributor then will take it during '1.15.0` milestone.

[2018-02-07 09:17] praveenkumar commented on #1309
Since @gbraad is doing some experiment with it so I assigned him to this issue.

[2018-02-07 09:31] amitkrout commented on #1986
@praveenkumar i want to take this. This way i get some more exposer to minishift addons and its work flow

[2018-02-07 10:40] praveenkumar commented on #1986
@amitkrout I set milestone `1.15.0` so if you want to do it now please adjust the milestone accordingly.

[2018-02-07 10:46] praveenkumar commented on #1985
After discussing with @anshulbehl  in person, it mostly looks like the issue from openshift/origin side not from minishift because here we don't control it. @anshulbehl can you please close this issue and open to https://github.com/openshift/origin/issues ?

Since minishift always going to have port information for console side so not much can be done on this front.

[2018-02-07 10:50] itscaro opened #1987 "Question: issue with Hyper-V administrateur preflight check"
I'm using Windows 10 17.03 with user on domain. The user is added to Hyper-V Admin group.

Preflight check if user is in the role Hyper-V Admin fails

https://github.com/minishift/minishift/blob/f9ccd57cfef7af081a4a3289948af6d5eed45443/cmd/minishift/cmd/start_preflight.go#L377

This call gives: `The trust relationship between the primary domain and the trusted domain failed.`

What is failing here

[2018-02-07 10:53] gbraad commented on #1987
This was implemented as part of #1541, but fails when a user is part of a domain: duplicate of #1882.

[2018-02-07 10:54] gbraad commented on #1987
@anjannath maybe we should make this WARN by default.

@itscaro please try to start after setting:
[code]

[2018-02-07 10:57] gbraad commented on #1882
@anjannath this needs to be fixed. maybe by setting this as WARN by default... and checking for the error message content? ref: https://github.com/minishift/minishift/issues/1987#issue-295091070

[2018-02-07 10:57] #1987 closed

[2018-02-07 10:57] gbraad commented on #1987
Please continue discussion on #1882

[2018-02-07 11:15] praveenkumar opened #1988 "Rethink about having vendor as part of repo"
Recently https://github.com/jteeuwen/go-bindata/ just vanished and all the minishift CI fails because of it. Since we are now consuming a lot of GitHub packages so might be it's good to have vendor as part of repo like other projects have.

I know in past we didn't allow because it makes repo bulky but I think it's just a trade-off if something like this happens in future.

[2018-02-07 11:21] gbraad commented on #1988
On Wed, Feb 7, 2018 at 7:15 PM, Praveen Kumar <notifications@github.com>
wrote:

We can consider using a git submodule which stores the vendor directory,
which is a separate repo called minishift/vendor

[2018-02-07 12:33] gbraad commented on #1882
Or ...
[code]

[2018-02-07 12:42] anjannath opened #1989 "Update `Makefile` to get `go-bindata` from minishift namespace"
### General information

  * Minishift version:  master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Expected
`go-bindata` to be pulled from `https://github.com/jteeuwen/go-bindata`
and CI to run

### Actual
the repo and user disappered from github, and CI is failing

[2018-02-07 12:49] anjannath commented on #1719
@gbraad Which are the server components?
i can see these fields under Hyper-V  in `Turn windows features on or off`

* Hyper-V management tools
     * Hyper-V GUI management tools
     * Hyper-V modules for Windows PowerShell
* Hyper-V Platform
     * Hyper-V Hypervisior
     * Hyper-V services

[2018-02-07 13:00] eriknelson commented on #1922
Seeing this issue crop up again with `v3.9.0-alpha.4`, in case anyone is looking for a repro case.

[2018-02-07 13:19] anjannath commented on #1376
@gbraad I think having only the `Hyper-V Management Tools` installed does not result in detecting Hyperv, only if the `Hyper-V platform` features are enabled then the error occures.

I was able to reproduce this on windows 10 fall creators edition by following the below steps:

### First scenario, all the Hyper-V components are turned on
1. Turn all the Hyper-V components on in windows features.
2

[2018-02-07 14:05] agajdosi opened #1990 "Step "minishift ssh -- less /proc/meminfo" gets stuck on Windows 7"
For some reason on some Windows 7 machines command `minishift ssh -- less /proc/meminfo` gets stuck on both `cmd` and `PS`. One must then hit the `Q` button to quit the stuck command. Seems there are wrong line endings. Same situation is when used directly inside the Minishift VM.
Log:
[code]
When `cat` is used, there is no problem, so we can probably just go for cahnging `less` for `cat`.

[2018-02-07 14:24] JimTyrrell commented on #199
Talking with Lalatendu Mohanty and Praveen Kumar, it seems Safari 10.1.2 is not working.

[2018-02-07 14:39] LalatenduMohanty commented on #199
I would suggest we add this to the documentation and suggest users use Chrome or Firefox when they use the web console.

[2018-02-07 14:45] JimTyrrell commented on #1817
Some comments from a user:
Specific curated journeys for the typical OS's we are supporting.  Mixing Mac, Linux, Windows on the same page is confusing and takes up brain cycles.  For Mac noting that Safari doesn't always work and if you see an error message in the browser, you should try another browser.
- Documenting what are the default VM technologies used under the covers should be on the OS p

[2018-02-07 14:47] JimTyrrell commented on #1817
Other comments, how do I set larger VM CPU and Memory settings when running minishift with either of the Virtualization Technologies you are supporting.  Recommended typical settings would be a good idea.

[2018-02-07 14:51] robin-owen commented on #1817
@JimTyrrell Thank you for the comments and suggestions! I'm working on the installation process today, and I'll be sure to keep some of this in mind. :)

[2018-02-07 15:31] sidd-harth commented on #1625
Any update an this,...I am scratching my head for the last 3 hours on the same error on Win10.

[2018-02-07 16:19] JimTyrrell commented on #1817
@robin-owen Happy to review or even work within the repo where this work is happening.

[2018-02-07 16:33] gbraad commented on #1625
Please provide logs as the error message itself is not clear to determine
the cause. I also suggest to open a new issue... It might be an unrelated
issue, plus the fact that the issue template contains instructions on how
to collect the logs requested.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-02-07 16:35] gbraad commented on #1625
@lalatenduMohanty please close this issue as the follow up comments are for
Windows and not Linux+KVM as in the original issue. Please create new
issues instead of reopening (unless we are sure of a regression)

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-02-07 16:56] sosiouxme commented on #1922
@eriknelson i would watch https://github.com/openshift/origin/issues/18364

[2018-02-07 17:40] jorgemoralespou commented on #1955
@gbraad should be the same.

[2018-02-07 19:39] #1980 closed

[2018-02-07 19:56] LalatenduMohanty commented on #1988
I was thinking about it too.  AFAIR the initial clone was taking a lot of time and it slowed the process somehow, but seeing the go-bindata issue it is worth exploring.

[2018-02-07 19:59] LalatenduMohanty commented on #1988
I won't suggest this, because it needs code changes and would need extra steps to keep the vendor submodule up to date. Not sure if I understand it correctly.

[2018-02-07 20:21] gbraad commented on #1988
This would not need code changes, as the repo will pull the original
references

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-02-07 20:22] jorgemoralespou commented on #1985
@anshulbehl yes, you can configure the timeout for a route in the router,
but that's OpenShift and nothing to do with minishift which just provides
the ability to run OpenShift in a VM.
I don't really know what issue you want to open on OpenShift, since what
you were trying to do is not valid, and hence not an issue.
@praveenkumar do you understand what is the issue that should be opened on
the Op

[2018-02-08 04:16] praveenkumar commented on #199
Today I tried again with updated safari- `Version 11.0.2 (13604.4.7.1.3)` and there it works as expected. @JimTyrrell can you please provide below details? We still need to put in the documents for older versions of safari.

[code]

[2018-02-08 05:07] praveenkumar commented on #1990
@agajdosi `less` is always going to get stuck and require `q` for quit. I am not sure why you think this should work without interaction. If you think we are using somewhere this in the integration test then please go ahead and change to `cat` without waiting since downstream CI for windows is still failing.

[2018-02-08 05:12] praveenkumar commented on #1985
@jorgemoralespou what @anshulbehl want to allow port info also as part of annotation key which currently not available, I am not sure if it is by design or some improvement can be done from Openshift side to accommodate this use case. If it is by design then we can't do much and he needs to use an endpoint which supported by Openshift.

[2018-02-08 06:20] budhrg commented on #1989
As per the comment on the issue created here https://github.com/jteeuwen/go-bindata/issues/5#issue-295358043

It seems that this repo https://github.com/jteeuwen/go-bindata will not go away randomly like the last time. Until, there is potential outcome comes from the community in the above issue, let's not do anything and keep https://github.com/jteeuwen/go-bindata only or else move to some well-m

[2018-02-08 06:36] anjannath commented on #1882
@gbraad Awesome.. now we can detect if we need to set the check as WARN, if the user is part of domain we can set it as WARN.

[2018-02-08 06:55] jorgemoralespou commented on #1985
@praveenkumar,
It is by design. But I don't understand why would he want such annotation.

[2018-02-08 06:59] budhrg opened #1993 "Minikube nightly job is failing on "ruby-ex" roll-out unsuccessful step"
### Expected
Minikube nightly job should succeed.

### Logs

See https://ci.centos.org/job/minishift-nightly-minikube/51/consoleFull

[2018-02-08 07:10] budhrg opened #1994 "Show app builds logs during integration tests on failure"
As part of this PR https://github.com/minishift/minishift/pull/1951, we exposed logs of `stdout` and `stderr` which is not helping much IMO

![screenshot from 2018-02-08 12-24-32](https://user-images.githubusercontent.com/1132451/35959324-1ea78110-0ccb-11e8-94d0-6a8bfb2901e4.png)

It would be great if we get logs of origin container and application container logs on failure.
Really getting difficu

[2018-02-08 07:11] budhrg commented on #1993
It seems this PR https://github.com/minishift/minishift/pull/1951 was to prevent freeze of the job by putting timeout to the rollout step.

[2018-02-08 07:26] #1989 closed

[2018-02-08 07:26] LalatenduMohanty commented on #1989
Closing the issue as we do not want to move to your own fork.

[2018-02-08 07:39] LalatenduMohanty commented on #1986
@anjannath @minishift/minishift-dev Usually for issues which are not planned for a milestone but it is getting fixed because it is easy or someone wants to fix it then we do not want to add the current milestone to it. But when the issue gets resolved we should add the correct milestone. Adding the current milestone means it needs to be fixed in this milestone because it is important.

[2018-02-08 07:51] agajdosi commented on #1990
@praveenkumar I see, did not realized that before. Quite strange however it passes on most machines. Fixing now.

[2018-02-08 09:09] bhavin192 opened #1996 "Implement VM status check for each command which require VM interaction."
### General information

  * Minishift version: `v1.12.0+c12e5117`
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1.  Make sure that `minishift` VM is created and is in `poweroff` state.
  2.  `$ minishift console`

### Expected
It should display error message like `minishift VM is not running`.

### Actual
Opens up browser window with IP address of dashboard.

I'm working on a patch

[2018-02-08 11:18] budhrg commented on #1996
Thanks for opening the issue and working on it. Seems unusual behavior.

[2018-02-08 11:37] LalatenduMohanty commented on #1990
Resolved by #1995

[2018-02-08 11:37] #1990 closed

[2018-02-08 12:27] anjannath commented on #1986
@LalatenduMohanty Ahh, I didn't know it was done like that, Thanks for making it clear, Will remember it.

[2018-02-08 12:57] LalatenduMohanty commented on #1970
@agajdosi One if the challenge we will have is to keep the code for the integration tests always up to date with respect to Minishift code repository and having a separate package for it can help.

[2018-02-08 13:11] anjannath commented on #1882
@3wh  Could try this minishift [binary](https://github.com/anjannath/minishift/releases/download/v1.12.0/minishift.exe) its from my repo, and see if you can successfuly start minishift?

/cc @itscaro

[2018-02-08 13:29] agajdosi commented on #1970
@gbraad @LalatenduMohanty The workflow I plan is that: in https://github.com/minishift/minishift-addons/pull/85 I add just minimal `integration-test.go` file, which imports the package from `github.com/minishift/minishift/test/integration/testsuite` + addon developer - like JPinkney can load his own package containing his own step definitions.

However even without any custom packaging developer c

[2018-02-08 15:40] JimTyrrell commented on #199
system_profiler SPSoftwareDataType
Software:

    System Software Overview:

      System Version: macOS 10.12.6 (16G29)
      Kernel Version: Darwin 16.7.0
      Boot Volume: Macintosh HD
      Boot Mode: Normal
      Computer Name: Jim’s MacBook Pro (2)
      User Name: Jim Tyrrell (jimtyrrell)
      Secure Virtual Memory: Enabled
      System Integrity Protection: Enabled
      Time since boot:

[2018-02-08 15:51] robin-owen commented on #199
Manually via `minishift console --url`, or is there a way to change which browser Minishift uses to open the console?

[2018-02-08 15:56] robin-owen commented on #1817
@JimTyrrell The work is currently local for me, but I should be pushing to branch `issue-1817` on my fork of this repository sometime soon in order to prepare a PR. :)

[2018-02-08 16:45] #1986 closed

[2018-02-08 17:28] itscaro commented on #1882
@anjannath Works for me

[code]

[2018-02-08 17:34] gbraad commented on #1882
Better not to show FAIL and continue, but have it show WARN.

[2018-02-08 21:55] chelapurath commented on #1587
I get the same error. I am behind proxy and login via AD

[2018-02-08 22:39] gbraad commented on #1587
@chelapurath which platform (Windows ..) and hypervisor?

[2018-02-09 01:37] cleberlira opened #1998 "Problem starting minishift on linux"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

I installed Minishift as described :
https://docs.openshift.org/latest/minishift/getting-started/installing.html

But  i am with problem for to start  minishift on Ubuntu 16.04 lts.

-- Starting profile 'minishift'
-- Checking if requested hype

[2018-02-09 05:34] praveenkumar commented on #1998
@cleberlira as per your log I don't see any error message which fails minishift to start. Can you please share the complete log include error message?

[2018-02-09 06:08] anjannath commented on #1882
Thanks @itscaro for trying it out. @gbraad will do and send a PR

[2018-02-09 06:33] praveenkumar commented on #1922
@eriknelson @sosiouxme issue for `v3.9.0-alpha.3` is resolved and now GitHub has valid binaries.

Also, today when I tested `v3.9.0-alpha.3` then it no more giving the error about swap enablement.

[code]

[2018-02-09 06:36] praveenkumar commented on #1956
@gbraad https://github.com/minishift/minishift/issues/1922#issuecomment-364347979 not sure we still need to disable the swap.

[2018-02-09 06:44] budhrg commented on #1879
Closing it as the above-mentioned issue is not reproducible in CentOS ISO. It might have happened that with recent changes in integration tests has fixed it.

[2018-02-09 06:44] #1879 closed

[2018-02-09 07:18] budhrg commented on #1993
I compared the successful deployment of `ruby-ex` in `b2d` and `minikube` ISO in CI slave environment.
And got following:
### b2d ISO
[code]

### Minikube ISO
[code]

[2018-02-09 07:42] LalatenduMohanty commented on #1993
@budhrg I can see both the failures in https://ci.centos.org/job/minishift-nightly-minikube/51/consoleFull are failing because of timeouts.

I do not think it is a consistent error, otherwise we wont be able to deploy any application in Minishift running with minikube ISO.

[2018-02-09 08:55] LalatenduMohanty commented on #1639
Resolved by #1961

[2018-02-09 08:55] #1639 closed

[2018-02-09 09:03] amitkrout commented on #1994
@budhrg We logging the details in out/test-result/integration_*.log file. If we get that publish somewhere in the ci, i dont think this code change is required. Isn't is doable ?

[2018-02-09 09:12] LalatenduMohanty commented on #1994
@budhrg I am curious to know what extra information you will find in application container logs.

[2018-02-09 10:54] amitkrout opened #1999 "Improve test coverage in cmd-addons.feature"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected
As of now only basic functionalities of addon commands are implimented in cmd-addons.feature file such as ```install, enable, disable... ```. However i can see much efforts has been put and implemented in addon

[2018-02-09 11:47] LalatenduMohanty commented on #1971
@jorgemoralespou I agree I was thinking the same.

[2018-02-09 12:32] agajdosi opened #2001 "validate_commits fails intermittently for some pull requests"
validate_commits failed for PR #1975.
Tried with commit messages: `Issue #1970 Moving integration test code to a separate go package` and also `Issue #1639 Switch to overlay2 as default storage driver for docker`, does not seem like a problem with regex check.

[code]

Locally it works fine for me and @praveenkumar.

[2018-02-09 13:10] budhrg commented on #1994
@LalatenduMohanty See https://github.com/minishift/minishift/pull/2000#issue-168212051
which is telling reason of timeout.

[2018-02-09 16:31] wagnersza commented on #199
+1

[2018-02-09 17:16] chelapurath commented on #1587
Windows virutalbox

[2018-02-09 23:38] cleberlira commented on #1998
@praveenkumar After line "Starting OpenShift using openshift/origin:v3.6.1 ..."  nothing else is executed.

 The server is not accessible via web console at:
       https://192.168.99.128:8443 as described in https://docs.openshift.org/latest/minishift/getting-started/quickstart.html.

no message appears " OpenShift server started."

Do you understand now?

[2018-02-10 11:33] gbraad commented on #1988
https://www.atlassian.com/blog/git/alternatives-to-git-submodule-git-subtree

[2018-02-10 20:38] LalatenduMohanty commented on #2001
@agajdosi I guess we can close this issue as it was not an issue wiith the git validation but somehow the CI was picking a wrong commit to validate.

[2018-02-10 22:33] burrsutter commented on #1966
I have noticed this continues to be a problem in 1.12 (I previously reported it against 1.10).

[2018-02-10 22:35] burrsutter commented on #1955
Looks like the same issue as #1966 and upgraded to 1.12 and still see the same behavior.

[2018-02-12 04:36] praveenkumar commented on #1998
@cleberlira Thanks for informing. Closing this issue now.

[2018-02-12 04:36] #1998 closed

[2018-02-12 04:40] praveenkumar commented on #1988
Let's explore any of those, my understanding most of go lang project always have `vendor` in the same repo instead of `subtree` or `submodule` but explore and see what makes more sense for us.

[2018-02-12 04:42] praveenkumar commented on #1985
Thanks, @jorgemoralespou for confirming.

He just wants to do something which is not supported by design so I am closing this issue now. @anshulbehl if you still think there is some improvement we can do from the minishift side, please comment and will reopen it.

[2018-02-12 04:42] #1985 closed

[2018-02-12 04:44] praveenkumar commented on #1976
@budhrg I still think this is irrelevant for us atm and I am not sure if we put any effort on this front atm. Can we just close this issue or you still want to have a discussion around it?

[2018-02-12 04:45] praveenkumar commented on #1973
@kev5 any update on this, can you provide us required logs which asked by @gbraad (https://github.com/minishift/minishift/issues/1973#issuecomment-363164359)

[2018-02-12 04:49] #1539 closed

[2018-02-12 07:22] budhrg commented on #1976
Closing it as looks like we have to properly document it in minishift-addons repo to add Maintainer field for addon developer.

[2018-02-12 07:22] #1976 closed

[2018-02-12 07:43] agajdosi commented on #2001
@LalatenduMohanty Agree, lets reopen if the issue appears again.

[2018-02-12 07:43] #2001 closed

[2018-02-12 08:28] budhrg commented on #1970
Resolved via https://github.com/minishift/minishift/pull/1975

[2018-02-12 08:29] #1970 closed

[2018-02-12 08:41] budhrg opened #2005 "Upload integration tests logs on artifact server for nightly job"
This is kind of adding an assist to debug nightly job failures.
Right now we don't store any artifacts of nightly jobs
https://github.com/minishift/minishift/blob/c5ad41134f490ff6d3c5ff9ae7cf5f7285bbf8c4/centos_ci.sh#L343-L346

[2018-02-12 09:19] praveenkumar opened #2006 "Update minikube and centos ISO version info to Makefile"
Minikube already released `v0.25.1` version of ISO and also CentOS we are going to have `v1.6.0` so it's better to update our Makefile for these ISO before this release.

[2018-02-12 09:23] LalatenduMohanty opened #2007 "The quotes in the wait step of integration tests not required"
Currently, if the step to add a sleep in integration test looks like `user waits "5" seconds` but the `"` are not necessary and it is easier to forget them when writing the actual test.
[code]

[2018-02-12 12:01] budhrg opened #2012 "Print OpenShift restart message post its restart operation"
### Expected

Right now we are printing message of `Restarting OpenShift` before running restart operation through commander.
https://github.com/minishift/minishift/blob/c5ad41134f490ff6d3c5ff9ae7cf5f7285bbf8c4/pkg/minishift/openshift/openshift.go#L71-L78

And with using this message in the `cmd-openshift.feature`
https://github.com/minishift/minishift/blob/c5ad41134f490ff6d3c5ff9ae7cf5f7285bbf8c4

[2018-02-12 12:05] LalatenduMohanty commented on #2006
Resolved by #2008

[2018-02-12 12:05] #2006 closed

[2018-02-12 12:15] #1994 closed

[2018-02-12 12:31] budhrg opened #2014 "Refactor Addon parser parse function"
Code smell here
https://github.com/minishift/minishift/blob/33a16dda9f888b5a52c1ec67216c9804d4b716cf/pkg/minishift/addon/parser/addon_parser.go#L76-L83

and worth refactoring.

[2018-02-12 13:12] coolbrg opened #2015 "Refactor download code for Github assets"
Lot of code duplication is there in the Github assets (ISO, binary)
See https://github.com/minishift/minishift/blob/master/pkg/util/github/github.go#L93
and
https://github.com/minishift/minishift/blob/master/pkg/minikube/cluster/cluster.go#L188

[2018-02-12 13:41] #1776 closed

[2018-02-12 14:00] LalatenduMohanty opened #2016 "minishift openshift restart is causing regression for origin version > v3.7.0"
### General information
`minishift openshift restart` for Origin version > v3.7.0 needs extra time to make the OpenShift instance ready to use.

 For example `minishift openshift registry` or `oc new app` commands are failing after `minishift openshift restart`.

  * Minishift version:  v1.13.0
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

In order to update d

[2018-02-12 14:30] gbraad commented on #2012
This would have been a good issue for a newcomer.

[2018-02-12 14:36] #1672 closed

[2018-02-12 14:38] LalatenduMohanty commented on #2014
Resolved by #1974

[2018-02-12 14:38] #2014 closed

[2018-02-12 16:32] eriknelson opened #2017 "--service-catalog should no longer be considered experimental"
### Expected
The `--service-catalog` should not require `export MINISHIFT_ENABLE_EXPERIMENTAL=y`.

### Actual
The `--service-catalog` requires `export MINISHIFT_ENABLE_EXPERIMENTAL=y`.

I was demoing catalog features with minishift, and it seems a number of catalog folks expected this to no longer be an experimental feature.  It still is behind this gate, I would propose to remove this requirement

[2018-02-12 18:42] jkirklan commented on #1708
For those that care, I figured it out. After a month of trying.  I turned the firewall off on macos and the install proceeded.

[2018-02-12 19:07] gbraad commented on #1708
Can you indicate how to turn off the firewall?

[2018-02-12 20:47] jkirklan commented on #1708
I thought it fixed it but it didn't.. the issue continues.  I have the same issue on both my macs

[2018-02-12 22:00] gbraad commented on #1708
Can you indicate which versions of macOS you have?
What is installed on the machine(s)?

[2018-02-13 00:04] jkirklan commented on #1708
Macos - 10.13.1
$ docker-machine version
docker-machine version 0.13.0, build 9ba6da9

$ docker version
Client:
 Version:	17.12.0-ce
 API version:	1.35
 Go version:	go1.9.2
 Git commit:	c97c6d6
 Built:	Wed Dec 27 20:03:51 2017
 OS/Arch:	darwin/amd64

Server:
 Engine:
  Version:	18.02.0-ce
  API version:	1.36 (minimum version 1.12)
  Go version:	go1.9.3
  Git commit:	fc4de44
  Built:	Wed Feb  7 21:

[2018-02-13 00:05] jkirklan commented on #1708
$ minishift start --vm-driver xhyve --show-libmachine-logs -v5 2>&1
-- minishift version: v1.11.0+d7f374a
-- Starting profile 'minishift'
-- Checking if requested hypervisor 'xhyve' is supported on this platform ... OK
-- Checking if xhyve driver is installed ...
   Driver is available at /usr/local/bin/docker-machine-driver-xhyve
   Checking for setuid bit ... OK
-- Checking the ISO URL ... OK
--

[2018-02-13 00:34] gbraad commented on #1708
I am currently unable to reproduce this, since I am away from my desk for
another week. I'll ask Praveen to also have a look. However, have you tried
to use docker-machine with the xhyve driver? or minikube?

[2018-02-13 01:07] gbraad commented on #2017
This is due to `oc cluster up` also still classifying it as such: https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#installing-the-service-catalog

Duplicate of #1908

[2018-02-13 01:07] #2017 closed

[2018-02-13 01:10] gbraad commented on #1908
Known issues exist: #1910 (restart causes service catalog to fail)

[2018-02-13 06:26] amitkrout opened #2018 "Update name profile.featute to cmd-profile.feature"
### General information

### Expected
In profile.featute the scenarios steps are being executed by profile command. So cmd-profile.feature will be more appropriate name, even same naming convention is followed by other feature file such as ```cmd-addons, cmd-config ...```.

### Actual
profile.feature

[2018-02-13 07:14] anjannath commented on #199
@robin-owen you can use this to open the url in chrome:
[code]

[2018-02-13 08:08] budhrg opened #2020 "Unable to use underscore in profile name for centos iso"
### General information

  * Minishift version: Version supporting profile
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox
  * ISO : CentOS

### Steps to reproduce

  1. `minishift start --profile centos1_5 --iso-url centos`

### Expected

We should error out saying invalid profile name.

### Actual

Getting error.

### Logs

[code]

[2018-02-13 08:26] gbraad commented on #2015
Task #2015 is technical debt... it is not a simple refactor effort anymore. And therefore, this needs to be 'planned'... or taking in small increments over time.

[2018-02-13 08:29] LalatenduMohanty commented on #2020
As @praveenkumar suggested, it seems like CentOS does not accept a  hostname with a `_`.
[code]

[2018-02-13 08:33] LalatenduMohanty commented on #2020
It seems we have this issue from the beginning of profile feature. So, in that case, this needs to be communicated to the user along with documenting it.

[2018-02-13 08:43] anjannath commented on #2020
But `centos1_5` is a valid profile name, we should fix it somehow IMO. maybe avoid `_` when changing the hostname, but allow the profile to consist `_`.

[2018-02-13 08:59] gbraad commented on #2020
Pick an option?

1. Disallow the use of `_` in profilenames
2. Rewrite profilename when used as hostname, by substituting `_` to `-` or ``.

[2018-02-13 09:14] amitkrout commented on #1933
Now its reproducible on minishift master as v3.7.1 is default openshift version

[2018-02-13 09:35] praveenkumar opened #2021 "Revert docker storage driver and Centos ISO release"
### General information

  * Minishift version: 1.13.0
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. minishift start --iso-url centos
  2. eval $(minishift oc-env)
  3. oc new-app https://github.com/openshift/nodejs-ex -l name=myapp

[code]

### Expected
Application creation should be successful.

### Actual

[code]

[2018-02-13 10:43] jkirklan commented on #1708
yes with xhyve.  not with minikube

[2018-02-13 10:51] praveenkumar opened #2023 "Create intergration test suite binary to e2e test for ISO"
Since now we have the minishift integration test as part of a separate package, it would be nice if we can create test suite binary out of it and that we can use on the CI to test our ISO changes.

1. We need to add required step in the Makefile to create that binary
2. need to publish it nightly from the master so that CI can pick it up and start testing.

[2018-02-13 11:46] praveenkumar commented on #317
@gbraad https://github.com/hferentschik/minishift/tree/issue-317 there is the current code.

[2018-02-13 11:53] gbraad opened #2024 "Some of the output from add-ons look like error messaging"
When I see this:

[code]

I am confused about the output. Is it an error? Is it a warning? I think we should try to use ansi colors maybe to indicate this is regular output... or find another way to dump this nicely.

Note: also look at the alignment. XPaaS touches the left-most border, while anyuid has a margin (spaced away).

[2018-02-13 19:25] kev5 commented on #1973
Sorry for the late response, @gbraad @praveenkumar. Here are the logs as requested-

C:\Users\keval\Downloads\minishift-1.12.0-windows-amd64>minishift start --show-libmachine-logs -v5
-- minishift version: v1.12.0+daa0943
-- Starting profile 'minishift'
Found binary path at minishift.exe
Launching plugin server for driver hyperv
Plugin server listening at address 127.0.0.1:53041
() Calling .GetVer

[2018-02-13 19:40] gbraad commented on #1973
[code]

[2018-02-13 19:51] robin-owen commented on #1817
@JimTyrrell PR #2025 has been opened if you'd like to review the current progress and see what the plan is for future updates.

[2018-02-13 20:11] kev5 commented on #1973
Got it working, thank you for the help. One question though, how can I see the catalog where I know what kind of apps I can create? For example, MongoDB, PHP + MySQL, etc. I go to **/console/catalog** but it takes me to the same page as just **/console**.

[2018-02-13 20:37] indrayam opened #2026 "Error during 'cluster up' step while installing Minishift 1.13.0"
### General information

  * Minishift version: 1.13.0
  * OS: macOS
  * Hypervisor: VirtualBox

### Steps to reproduce

Download and run this script (taken from this URL: https://github.com/redhat-developer-demos/istio-tutorial#setup-minishift)

[code]

### Expected
It should install Minishift

### Actual
There is an error in 'cluster up' execution

### Logs

[code]

[2018-02-14 05:51] praveenkumar commented on #2026
@indrayam this looks similar to https://github.com/minishift/minishift/issues/1226 please have a look and see if you can resolve it.

[2018-02-14 06:27] LalatenduMohanty commented on #2021
@praveenkumar I think we can close this as we found a fix to the issue in CentOS ISO.

[2018-02-14 06:29] praveenkumar commented on #1708
@jkirklan Can you use docker-machine or minikube along with xhyve driver and see if you face same issue. Today I again tried all the steps and still not able to reproduce it.

Also make sure next time you try then do following.

[code]

Another thing you can try is to use virtualbox as driver and then check if that is driver specific issue.

[2018-02-14 06:31] LalatenduMohanty commented on #2020
It is a valid name because we said so. The reason we agreed to `_` because we thought it would be fine by hypervisors as VM names. But now that CentOS has an issue with it I am not sure anymore. What about checking for profiles names in preflight check and communicate to the user if `_` and CentOS/RHEL is used together. Also adding in the documentation that `underscore` is not accepted when using

[2018-02-14 06:32] #2018 closed

[2018-02-14 06:39] praveenkumar commented on #2020
I would go with option 1, instead of manipulating profile name and hostname differently. Easy to manage and do. The good thing is till now we didn't get this as a bug from users side, either everyone using `b2d` what comes default or nobody used `_` as a profile name.

[2018-02-14 06:51] praveenkumar commented on #2021
yes closing it now.

[2018-02-14 06:51] #2021 closed

[2018-02-14 06:56] amitkrout opened #2027 "--iso-url is not correct in cmd-config.feature file for a specified location"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Expected
| iso-url         | file:///home/me/Downloads/my_handmade_b2d.iso

### Actual
https://github.com/minishift/minishift/blob/master/test/integration/features/cmd-config.feature#L175

[2018-02-14 06:57] LalatenduMohanty opened #2028 "Step required in integration tests to check `OpenShift` status"
We need a step in integration tests to check `OpenShift` status in Minishift.
For example in below test in cmd-openshift.feature we should be using ` Given OpenShift has state "Running"` instead of ` Given Minishift has state "Running"`

[code]

[2018-02-14 07:04] praveenkumar opened #2029 "Update CentOS iso version for patch release."
With current minishift 1.13.0 release, we have a blocker bug for CentOS iso and it needs to be updated and a patch release of minishift should go in.

- https://github.com/minishift/minishift-centos-iso/issues/216

[2018-02-14 07:06] LalatenduMohanty commented on #2027
@amitkrout I do not think I understand the issue. It looks alright to me, can you please explain little more?

[2018-02-14 07:14] amitkrout commented on #2027
@LalatenduMohanty The protocol added to the file location is wrong. AFAIU it should be file:// then followed by the path for example
[code]

[2018-02-14 07:19] LalatenduMohanty commented on #2027
@amitkrout  got it, it should be `///` instead of `//` on Linux or macOS https://docs.openshift.org/latest/minishift/using/basic-usage.html#choosing-iso-image

[2018-02-14 07:25] amitkrout commented on #2027
@LalatenduMohanty thanks for sharing the doc. It is more clear to me now. Will add the values in the pr, atleast anybody can distinguish the path protocol for linux/mac and windows.

[2018-02-14 09:32] LalatenduMohanty commented on #2029
Resolved by #2031

[2018-02-14 09:32] #2029 closed

[2018-02-14 11:21] LalatenduMohanty commented on #1960
Wondering how we have not come across this yet. cc @jorgemoralespou

[2018-02-14 11:48] LalatenduMohanty commented on #1950
@robdaems Which strategy you are using to build your application, refer https://docs.openshift.org/latest/dev_guide/application_lifecycle/new_app.html#specifying-source-code
I also feel this is an OpenShift question and should be asked in https://github.com/openshift/origin/

[2018-02-14 11:48] #1950 closed

[2018-02-14 11:54] jorgemoralespou commented on #1960
@LalatenduMohanty probably because current addons are simple. In my wrapper, addons are implemented as bash scripts andI use this functionality a lot, but also conditionals, which to me are more priority. But yes, definitely there's some script like features required for addons.
Is there a place where requirements for addons can be seen in a roadmap/timeline type of way?

[2018-02-14 11:56] LalatenduMohanty commented on #1946
@praveenkumar `profile list` gets the actual directory name from the filesystem. personally, I do not feel we need to fix anything. As the profile is not created by minishift, we do not need a way to clean it. We can always delete the actual directory using `rm -rf` command.

@cmoulliard I am inclined to close this issue as not a bug as `minishift`  have not created this profile. WDYT?

[2018-02-14 12:23] LalatenduMohanty commented on #1934
@kameshsampath Where do you want to store the config? Does `minishift openshift config view` help? Do you want to store it as json or yml?

[2018-02-14 12:26] LalatenduMohanty commented on #1927
Closing the issue as works on Win10 and @farbgeist mentioned the issue on Win7 mostlikely not related to `minishift`. @farbgeist you can always ask to re-open the issue if you think it is a bug with `minishift`.

[2018-02-14 12:26] #1927 closed

[2018-02-14 12:28] LalatenduMohanty commented on #1922
@eriknelson closing the issue as it is resolved now. You can always ask to re-open the issue if you see this again.

[2018-02-14 12:28] #1922 closed

[2018-02-14 12:33] LalatenduMohanty commented on #1904
@helio-frota @gbraad I think we can close this issue now. The default OpenShift version in Minishift v1.13.1 is v3.7.1 now and it seems to  work fine on Windows 10.

[2018-02-14 13:23] robdaems commented on #1950
Question asked in openshift:
https://github.com/openshift/origin/issues/18610

[2018-02-14 13:33] gbraad commented on #1904
I will close. If issues occur it is better to start with a fresh look anyway as the versions have been updated.

[2018-02-14 13:33] #1904 closed

[2018-02-14 13:44] #1946 closed

[2018-02-14 14:29] LalatenduMohanty commented on #1917
@jorgemoralespou It sounds me like a use-case for https://github.com/redhat-developer/ocdev.

[2018-02-14 16:10] Raboo commented on #1969
I have the same issue, I suspect because i've been playing with GKE and it adds stuff to ~/.kube/config

[2018-02-14 18:44] indrayam commented on #2026
Now, I am getting this error at the end of running the same install script:

[code]

[2018-02-14 19:04] indrayam commented on #2026
Yay! Finally...

The way I was able to make it work is literally moving my ~/.kube folder into ~/.kube.old and then running the following:

[code]

[2018-02-14 21:56] indrayam commented on #1969
@Raboo Agreed. I had to move `~/.kube` to `~/.kube.orig` before running `minishift start` command. I talk about it more here:
https://github.com/minishift/minishift/issues/2026#issuecomment-365756697

[2018-02-14 22:03] gbraad commented on #2026
A known issue for minishift status exists, returning err for disk in
certain situations.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-02-15 05:02] LalatenduMohanty commented on #2021
Minishift version v1.13.1 has the fixed CentOS ISO version. https://github.com/minishift/minishift/pull/2031

[2018-02-15 05:51] LalatenduMohanty commented on #1877
@agajdosi Is this still an issue?Is nightly still failing because of this?

[2018-02-15 06:12] LalatenduMohanty commented on #1873
@MBlagui Is this still an issue for you?

[2018-02-15 07:00] LalatenduMohanty commented on #549
@minishift/minishift-dev Do we need this anymore? I do not see this requests anymore. So it would be better to close this issue. WDYT?

[2018-02-15 07:16] LalatenduMohanty commented on #2005
@budhrg You mean the console log?

[2018-02-15 07:19] LalatenduMohanty commented on #1960
@jorgemoralespou You can see all add-ons related issues in https://github.com/minishift/minishift/labels/component%2Faddons
I agree that we have a substantial backlog of add-ons .

[2018-02-15 07:53] budhrg commented on #2005
The log file where we log during integration test. See below
![screenshot from 2018-02-15 13-22-35](https://user-images.githubusercontent.com/1132451/36245939-6948cbc4-1253-11e8-97e9-b5cbe45bfe23.png)

[2018-02-15 08:13] budhrg commented on #549
+1 for close @LalatenduMohanty

[2018-02-15 10:35] anjannath commented on #2027
`minishift config set` for iso-url doesn't perform the same checks as the preflight check for iso-url.
But after #1897 is merged the validation will check all the cases.

[2018-02-15 10:35] anjannath commented on #2027
The validation for iso-url is not the same as the preflight check, So this did not lead to an error.
[code]
------------------------------------------------------------------------------------------------------------------------
But thanks to @praveenkumar after #1997 is merged this will be fixed.

[2018-02-15 10:47] budhrg commented on #201
I will co-assist with the issue.

[2018-02-15 11:40] budhrg commented on #1969
Yes, it is related to `~/.kube/config`. We are parsing it and creating `minishift_kubeconfig`. It might happen that the parsing is not happening happily here.

We are investigating it and coming up with better/alternate solution.

[2018-02-15 14:33] budhrg commented on #2005
Looks like we can't able to upload artifacts on build failures.
See https://ci.centos.org/job/minishift-pr/3462/consoleFull

[2018-02-15 15:09] kameshsampath commented on #1934
@LalatenduMohanty

how about the minishift profile directory  `config` folder ?

prefer yml

[2018-02-15 15:25] praveenkumar commented on #1969
@indrayam Can you please try the artifact from #2034 PR which is available https://ci.appveyor.com/project/budhrg/minishift/build/275/artifacts and then let me know if you still need to backup your config before using minishift.

[2018-02-15 17:13] jorgemoralespou commented on #1517
@LalatenduMohanty where do we stand with this feature? IMHO this should be high priority, and I see it keep postponing.
When working with profiles, what most annoys me is the fact I need to repeat many configuration I always want for my profiles (mem, cpus, iso-url, image-cache,...).

It's really annoying.

[2018-02-15 17:18] jorgemoralespou commented on #1969
@budhrg why do you need to parse copy the .kube/config file?
Can't you use a KUBECONFIG env to use a new/fresh .kube/config in the specified location?

[2018-02-16 06:38] praveenkumar commented on #199
That looks bit cryptic so better to add the manual steps in the document in case lower version of Safari used. @robin-owen wdyt?

[2018-02-16 09:09] LalatenduMohanty commented on #199
I agree with @praveenkumar. We should mention that an issue like this exist and they should be aware of it.

[2018-02-16 09:48] #1108 closed

[2018-02-16 10:19] robin-owen commented on #199
@anjannath @LalatenduMohanty I agree with @praveenkumar here as well. We also can't be sure that any particular user has the application in a reliable location, particularly on macOS.

[2018-02-16 10:47] jorgemoralespou commented on #978
@praveenkumar I don't think this should be done on the minishift client. This is an edge case, and also opens the door to requesting formatting the url in many different formats.

Anyone could use a script (e.g. https://gist.github.com/joshisa/297b0bc1ec0dcdda0d1625029711fa24) to parse the url and then add the authentication as they need.

[2018-02-16 10:50] praveenkumar commented on #978
I agree, closing this as we are going to do any work on that.

[2018-02-16 10:50] #978 closed

[2018-02-16 11:46] cunningt commented on #1821
I'm seeing this issue using fabric8:deploy and openshift v3.7.0 on minishift v1.13.0+ee338c6.    Is there a workaround here (different version of oc to use, different steps I can take to push the image once I've built it using fabric8:build, remove the application and then reinstall)?

[2018-02-16 11:52] piyush1594 commented on #1821
Hey @cunningt

We have introduced a workaround for that, you can check the [issue](https://github.com/fabric8io/fabric8-maven-plugin/issues/1130)

FMP 3.5.35 has been released yesterday with this workaround.

You should hit for Openshift 3.7.x
`mvn -Dfabric8.openshift.trimImageInContainerSpec=true fabric8:deploy`

It should ideally work. Let us know if you face some issue.

Thanks

[2018-02-16 13:50] cunningt commented on #1821
Thanks @piyush1594 - upgrading my FMP version and using the trimInContainerSpec env variable worked!

[2018-02-16 19:01] mtttcgcg commented on #872
Same issue - can't ping or reach 172.30.1.1 - most likely this range is taken by other things on our network...
If I pass a different arg to --insecure-registry, like 10.0.0.1/24, it is ignored.

[2018-02-17 04:25] #1496 closed

[2018-02-18 21:49] sspeiche opened #2037 "Checking for available ports ... FAIL"
### General information

  * Minishift version: v1.13.1+75352e5
  * OS: macOS high sierra 10.13.3
  * Hypervisor: xhyve
brew info xhyve
xhyve: stable 0.2.0 (bottled), HEAD

### Steps to reproduce

  1. Followed instructions to setup xhyve and download minishift
  2. ran `minishift start`
  3.  error

### Expected
minishift and openshift start as expected

### Actual

[code]

### Logs

[logs.txt](h

[2018-02-18 21:50] tylerauerbeck commented on #1603
This one looks a little old, so I'm not sure if there was a decision made elsewhere on the wording of this updated message. If not, would it make sense to use something like

`Add-on syntax uses Openshift version semantics. (i.e. assuming the use of 3.6.0, it would accept 3.6.0, >3.6.0, <3.6.0, >=3.6 etc.)`

I agree with the above that using different versions makes this a little more confusing th

[2018-02-19 00:39] indrayam commented on #1969
@praveenkumar Do you want me to download the minishift at the URL you shared and see if it works? I am sorry. Did not check my notifications over the weekend

[2018-02-19 03:47] amitkrout commented on #1996
@bhavin192  I did ```minishift start``` on v1.13.1 and then ```minishift stop``` followed by ```minishift console```(mac os + firefox)
[code]
The message ```Opening the … ``` is only printed in the output, I don’t see the false dashboard open up in the browser. First console output line doesn’t look nice. IMO check on VM status should be done before executing this line ```Opening the OpenShift Web

[2018-02-19 05:30] praveenkumar commented on #2037
@sspeiche Can you please check if there is any service running on port `2376` for your host? This port is used for docker daemon communication.

[code]

[2018-02-19 05:40] praveenkumar commented on #1969
Yes, that what I wanted to make sure.

no problem :)

[2018-02-19 06:05] budhrg commented on #1492
It seems this issue is done as I see here https://github.com/minishift/minishift/projects/3#card-6247096

[2018-02-19 06:05] budhrg commented on #1497
It seems this issue is done as I see here https://github.com/minishift/minishift/projects/3#card-6247096

[2018-02-19 06:07] budhrg commented on #1497
@gbraad What is "done" state in https://github.com/minishift/minishift/projects/3#card-6247099 ? I see this issue is still open.

[2018-02-19 06:07] bhavin192 commented on #1996
@amitkrout tried same on my machine with v1.31.1, `start`, `stop`, `console`
It still opening the browser window.
I'm using `kvm` on Fedora 27

[2018-02-19 06:23] anjannath commented on #2020
This feels like a better option to me, this way we don't entirely loose `_` in profile names.

+1

[2018-02-19 06:38] LalatenduMohanty commented on #1996
@bhavin192 It seems the behavior is different in macOS and in Fedora. I am not able to reproduce it on macOS.

[code]

[2018-02-19 06:41] anjannath commented on #2020
Since this is a minor issue and as @praveenkumar highlihted

We decided to pick Option 1  and also update the docs to convey this message.

[2018-02-19 06:59] amitkrout commented on #1996
I am able to reproduce it on Fedora 27. However ```minishift console``` doesn't pop up the false dashboard after deleting the stopped VM instance
[code]
Now checking the same on windows. Will update once done

[2018-02-19 07:36] amitkrout commented on #1996
Ran the same use case on ```win10+hyperv+v1.13.1```, however the vm start was too slow that it was still continuing after 5 mins (Might be resource issue, will check more usecae later). So i disabled it and executed the same on VirtualBox.
[code]
Looks fine. No false dashboard

[2018-02-19 08:10] budhrg commented on #2020
This will create inconsistent behavior across ISOs. If we are not supporting `_` for CentOS/RHEL, I don't see any point in supporting b2d/minikube too.

[2018-02-19 08:27] Raboo commented on #1969
@praveenkumar that artifact works without a problem!

[2018-02-19 08:32] jorgemoralespou commented on #983
Still relevant

[2018-02-19 08:39] budhrg commented on #1649
How we can copy config without creating `profileB` if it doesn't exist. If profile exists then we just copy config.

I think origin requirement include copying the config.json file, add-ons (including the enabled/disabled state) etc. I am against creating new command. We can add flag to copy command to tweak this behavior.

I think the part of discussion here is **if profile exists**, do we
- over

[2018-02-19 08:48] LalatenduMohanty commented on #1649
@praveenkumar Lets go back to the requirement/use case.  We need a way to clone all settings (config, add-ons) from a profile because user has created a profile with some custom settings which works for him and he should be able to reuse the profile settings easily. So I would suggest we add this option to `minishift profile set \<New Profile`> --copy-config-of \<Existing Profile\>`. While using `

[2018-02-19 09:04] jorgemoralespou commented on #1649
@LalatenduMohanty in my opinion getting the global options should be the default when creating a new profile, as this would be what's most common and would require less typing. In case one wants a totally new profile, then one would add a flag. When one creates a new profile I would explicitly call out the options being copied so that the user is aware and can change one seeing for that profile or

[2018-02-19 09:28] amitkrout opened #2039 "Image caching is not disabled for profile foo in cmd-profile.feature file"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected
According to issue #1799 fix it is fine to disable image caching before minishift start due to ci time constraint except cmd-image feature as image caching test is fully implemented in ```cmd-image.feature```.

[2018-02-19 09:53] praveenkumar commented on #1649
@jorgemoralespou I agree, but since we don't have the global config in place yet and that will require a bit more work just adding another config file. We were thinking to go one step back and at least provide an option to copy config and addons for profile for users so they don't have to set each options for simillar configurations.

[2018-02-19 10:29] praveenkumar commented on #1996
We need to add a basic check for the status of the machine before calling any other methods for commands which required to interact with VM. At this moment we are relying on around the driver plugin to do that check for us but each driver plugin is implemented differently using the driver interface and we can't be sure if every plugin behaves same way.

the following snip can be part of a function

[2018-02-19 10:31] budhrg commented on #1649
@jorgemoralespou I think is another independent requirement. Even though, I know I get default configs when creating new profile but there can be a use case as below:

[code]

IMO, both makes sense.

[2018-02-19 10:35] LalatenduMohanty opened #2041 "ci.centos.org is failing for "minishift openshift version" command"
CI tests are failing with below error. Refer https://ci.centos.org/job/minishift-pr/3473/consoleFull
It seems that the stdout contains more letters than expected i.e. `openshift v3.7.1+a8deba5-34`
[code]

### Expected

[code]
### Actual

[code]

[2018-02-19 10:46] LalatenduMohanty commented on #2041
I could reproduce this locally after turning off the image caching i.e. `$ minishift config set image-caching false`. Looks like OpenShift team has pushed new images for v3.7.1 and the version has changed.

[code]

[2018-02-19 10:55] praveenkumar commented on #2041
https://regex101.com/r/ZfFsbm/1 @agajdosi @LalatenduMohanty I hope this regex will make sense because then we are compatible with the older version also.

[2018-02-19 10:55] fabiand opened #2042 "Enable KVM nesting"
Is this a BUG REPORT or FEATURE REQUEST? (choose one): Unsure

Please provide the following details:

Environment: Fedora 26

What happened: need /dev/kvm inside minikube

What you expected to happen: /dev/kvm is not inside

How to reproduce it (as minimally and precisely as possible): launch minikube look for /dev/kvm (have netsing on the host enabled

Output of minikube logs (if applicable):

An

[2018-02-19 10:56] fabiand commented on #2042
For minikube this is tracked (and a PR with a fix) in https://github.com/kubernetes/minikube/issues/2553

[2018-02-19 10:57] LalatenduMohanty commented on #1933
@praveenkumar Does https://docs.openshift.org/latest/minishift/openshift/openshift-docker-registry.html was working fine. I means user who do not use the add-on was it working for them?

[2018-02-19 11:00] LalatenduMohanty commented on #2041
@praveenkumar Yes, looks good to me.

[2018-02-19 11:41] agajdosi commented on #2041
@praveenkumar  +1

[2018-02-19 12:07] gbraad commented on #1996
This is a duplicate of another issue. That issue contained a list of
commands that needed this check IIRC.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-02-19 12:28] sspeiche commented on #2037
@praveenkumar nothing seems to be running at that port

[code]

[2018-02-19 12:33] LalatenduMohanty commented on #2037
@sspeiche It seems you have installed Xhyve separately. For Minishift we do not need to install Xhyve separately as it is part of the docker-machine-driver-xhyve driver plugin. I do not remember if it can cause issue, but I would suggest you to uninstall Xhyve and restart the machine.

[2018-02-19 12:43] LalatenduMohanty commented on #2037
@sspeiche Was Minishift running on the machine successfully in the past or this is the first time you are trying to run on it?

[2018-02-19 12:58] LalatenduMohanty commented on #1933
@praveenkumar I tested the steps to reproduce and the below steps seems wrong i.e. `minishift openshift regsistry` should not be used with the registry add-on isn't it?

[code]

[2018-02-19 13:08] sspeiche commented on #2037
@LalatenduMohanty no, I have never been able to get it going. oc cluster up has worked fine in the past. Tried to work through it in the past, see https://github.com/minishift/minishift/issues/367#issuecomment-281639490

[2018-02-19 13:27] LalatenduMohanty commented on #2041
Resolved via #2043

[2018-02-19 13:27] #2041 closed

[2018-02-19 13:31] fabiand opened #2046 "Switch to kvm2 driver"
minikube is now using the kvm2 driver. WOuld be good if minishift ould switch to it as well in order to not have users needing to provide two drivers.

[2018-02-19 19:10] indrayam commented on #1969
@praveenkumar Worked like a charm. Now, I have another pet peeve. Before installing minishift, I had 5 contexts:
[code]

After installing Minishift, I ended up with 11!
[code]

I do not know enough about OpenShift at this stage to know what they all do. **Do I really need them all?**

It seems like the `minishift start` command could offer some options to opt-out of the ones that may not be necess

[2018-02-19 23:17] jorgemoralespou commented on #1649
I'm not saying that copy a profile don't make sense, I'm only trying to say
that in most cases the profile you want to copy from will be a global
profile and that you will most likely always want to copy from that
profile, so make that requirement before this one.

The underlying behavior is the same, though.

[2018-02-19 23:20] jorgemoralespou commented on #1969
@indrayam See https://github.com/openshift/origin/issues/18645

[2018-02-20 02:04] paul-green opened #2047 "Hyper-V Administrators group check fails"
### General information

  * Minishift version: v1.12.0+daa0943
  * OS: Windows 10
  * Hypervisor: Hyper-V

I found I couldn't start minishift due to the Hyper-V Admin check failing. I used  *warn-check-hyperv-driver* to get around this, but I believe I've found a solution after tinkering in Powershell.

source : cmd/minishift/cmd/start_preflight.go
function : checkHypervDriverUser

This fails (ev

[2018-02-20 04:12] indrayam commented on #1969
Awesome. Thanks for sharing @jorgemoralespou

[2018-02-20 04:54] praveenkumar commented on #1933
@LalatenduMohanty in the documents we have https://docs.openshift.org/latest/minishift/openshift/openshift-docker-registry.html#login-to-registry following listed.

[code]

so if a user doesn't use addon then the output of `minishift openshift registry` would be `172.30.1.1:5000` but in case of addon enabled then it would be `docker-registry<IP>.nix.io:443` .

[2018-02-20 06:39] budhrg commented on #1649
profile and that you will most likely always want to copy from that
profile, so make that requirement before this one.

I would like to agree here with you @jorgemoralespou that global profile use case is more useful here and it makes sense to implement it first then profile copy.

[2018-02-20 06:58] amitkrout opened #2048 "Merge provision-earlier-version and provision-various-versions feature file"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected
IMO its invalid to keep ```provision-earlier-version.feature``` file where same usecase is covered in ```provision-various-versions.feature``` file. Also there are some scenario step in provision-earlier-versio

[2018-02-20 07:04] praveenkumar commented on #2046
@fabiand https://github.com/machine-drivers/discussion/issues/2 there is a discussion going on to merge kvm2 and KVM and make it a single driver.

[2018-02-20 07:06] praveenkumar commented on #2047
@anjannath you need to look into it and see if we can update our preflight check around it.

[2018-02-20 07:24] amitkrout opened #2049 "Integration test coverage for global cache for all profiles"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected
This can be implemented in cmd-profile.feature with two running profile. To understand the usecase see #1408

### Actual

### Logs

You can start Minishift with `minishift start --show-libmachine-logs -v5` to c

[2018-02-20 07:45] anjannath commented on #2047
@paul-green Interesting, other users have faced this in scenarios where it is part of a Domain, Is you machine part of a windows domain? please check #1822

[2018-02-20 07:49] anjannath commented on #2047
Thanks for the mentiion @praveenkumar, but need more information like if the user is part of a windows domain, because others have faced this issue in that scenario, also the localization issue was fixed and haven't encountered it recently. After this information is known we can update the pre flight check.

[2018-02-20 09:35] paul-green commented on #2047
@anjannath - Yes this is my work machine on a domain - the DC is online and working OK.  This is a bit of an odd one.

The docs for [IsInRole()](https://msdn.microsoft.com/en-us/library/system.security.principal.windowsprincipal.isinrole(v=vs.110).aspx) for the string overload state that is takes a 'specified name' for the group - so it's strange the using the SID string works for some people.

It

[2018-02-20 10:19] praveenkumar commented on #1969
@indrayam Great, thanks for testing.

[2018-02-20 11:36] paul-green commented on #2047
fyi I created https://github.com/minishift/minishift/pull/2050. I tested with a local build and it works as expected on my machine.

[2018-02-20 13:40] mwaeckerlin commented on #1718
I have the same error _with_ a network named `default`:
[code]

Any idea, @praveenkumar, @gbraad, @anjannath?

[2018-02-20 13:45] anjannath commented on #1718
The check if default network is active failed, but from the o/p of `net-list` it looks like it is active.

I haven't faced this issue in kvm. @mwaeckerlin Was minishift working before? or this is the first time you are trying to run it? also a reboot helps in most cases. HTH

[2018-02-20 13:57] anjannath commented on #1882
@itscaro PTAL at [minishift#2050/comment](https://github.com/minishift/minishift/pull/2050#issuecomment-366978109)

[2018-02-20 13:59] jcperezamin opened #2051 "Minishift 1.13 (Openshift 3.7.1) Unable to deploy applications MacOs/xhyve"
### General information

  * Minishift version: minishift v1.13.1+75352e5
  * OS: Linux / macOS / Windows: MacOS
  * Hypervisor: xhyve

### Steps to reproduce

  1.  When you need to create a deployment

### Expected
 Deployment Config and Running Application

### Actual
failed to open log file "/var/log/pods/b736af57-1645-11e8-806c-be5168be744f/git-clone_0.log": open /var/log/pods/b736af57-1645-1

[2018-02-20 14:04] jcperezamin commented on #2051
Reason: cannot trigger a deployment for "apache" because it contains unresolved images

[2018-02-20 14:09] mwaeckerlin commented on #1718
It's the first time I setup Openshift. I am currently experimenting on my laptop to check if we could use it in production. Another prototype in the server room should follow later.

Ok, I'll try a reboot. Thx, @anjannath.

BTW: Openshift wants `--insecure-registry 172.30.0.0/16`, but I'm in a company network where a lot of `172.x.x.x` are already in use, including `172.30.0.0`. Is there a way to

[2018-02-20 14:42] anjannath commented on #1718
AFAIK You can use the default `registry-route` addon for this, here's the docs link to addons: https://docs.openshift.org/latest/minishift/using/addons.html#default-addons

[2018-02-20 14:56] mwaeckerlin commented on #1718
@anjannath, any idea where I could find documentation on `registry-route`?

[2018-02-20 15:01] budhrg commented on #1718
@mwaeckerlin There is not much documentation https://docs.openshift.org/latest/minishift/using/addons.html#default-addons

You can find the content of it here https://github.com/minishift/minishift/blob/master/addons/registry-route/registry-route.addon.

[2018-02-20 15:12] mwaeckerlin commented on #1718
@budhrg, that's also what I found. But how can I use that to specify a different repository URL?

[2018-02-20 23:58] paul-green commented on #2047
I created a new PR https://github.com/minishift/minishift/pull/2052 to fix the commit message issue. Builds now pass

[2018-02-21 00:10] jkirklan commented on #1708
I did the minishift delete and rm -rf..  the started failed as below, so I followed its instructions.

`$ minishift start
You need to run 'minishift setup-cdk' first to install required CDK components.
captkirk-mbp:~ jkirklan$ minishift setup-cdk
Setting up CDK 3 on host using '/Users/jkirklan/.minishift' as Minishift's home directory
Copying minishift-rhel7.iso to '/Users/jkirklan/.minishift/cach

[2018-02-21 00:29] jkirklan commented on #1708
Just for fun I installed minikube.  It works just fine.

[2018-02-21 00:35] jkirklan commented on #1708
I downloaded 1.13 off the openshift origin website.  It works.  It is an issue with the Red Hat provided CDK version.

[2018-02-21 05:09] #2012 closed

[2018-02-21 05:10] praveenkumar commented on #2012
resolved by #2013

[2018-02-21 05:26] praveenkumar commented on #1708
@jkirklan Good to know that upstream minishift is working as expected. I hope that there shouldn't be any issue with CDK also. Can you please let us know which version of CDK you are using?

[2018-02-21 05:45] praveenkumar commented on #2051
@jcperezamin this is a known-issue if you used `1.13.0` with centos iso 1.6.0, We request you to do following and let us know if still you have same issue.

[code]

[2018-02-21 06:12] jcperezamin commented on #2051
Same error:
An error occurred while starting the deployment.
 Reason: cannot trigger a deployment for "nodejs" because it contains unresolved images

Creating nodejs app:
Cloning "https://github.com/openshift/nodejs-ex.git " ...
	Commit:	ef1b71a300b58a35f37acfa69f871fc18075669d (Merge pull request #160 from aliok/patch-1)
	Author:	Ben Parees <bparees@users.noreply.github.com>
	Date:	Fri Jan 12 10:

[2018-02-21 08:07] anjannath commented on #2051
@jcperezamin You need to update your version of minishift use `minishift update` or just use the [centOS iso v1.6.1](https://github.com/minishift/minishift-centos-iso/releases/tag/v1.6.1), please refer to #2029 and [minishift/minishift-centos-iso#216](https://github.com/minishift/minishift-centos-iso/issues/216) for more details.

[2018-02-21 08:16] agajdosi opened #2053 "Document available Gherkin step definitions"
Right now the only way to get understanding about Gherkin steps available in Minishift is to read the feature files or dive into their Go implementation itself. As part of documentation we should provide curated overview of the steps which are available.

Proposed document will be also helpful for the contributors of https://github.com/minishift/minishift-addons/ repository once the addition of Mi

[2018-02-21 10:31] agajdosi opened #2054 "Total memory re fails to validate applied memory in cmd-config feature"
Upstream issue for CDK JIRA https://issues.jboss.org/browse/CDK-256. The cmd-config.feature fails on Windows 10 slave with Hyper-V due to memory regex check:

[code]

[2018-02-21 11:25] Lasamar commented on #1739
I got the same error on minishift v1.13.1+75352e5 ...
Any way to fix it? Any idea of what cause it?

[2018-02-21 11:40] itscaro commented on #1882
I can but the message is not what I expected, it says `OK`:

[code]

[2018-02-21 11:57] LalatenduMohanty commented on #1969
Resolved by #2034

[2018-02-21 11:57] #1969 closed

[2018-02-21 12:09] praveenkumar commented on #1739
@Lasamar It might be you restart a stoped instance and mount didn't happen correctly or you put your system in sleep while minishift was running.

Can you do following:

[code]

[2018-02-21 12:10] LalatenduMohanty commented on #2054
@agajdosi So it only fails in Windows 10, right? Wondering why we catch the issue now and why not in the past?

[2018-02-21 12:14] #2020 closed

[2018-02-21 12:26] budhrg commented on #1978
I am closing this issue since from last 12 days it is not reproducible in nighly build. Last failure was on build no 52 https://ci.centos.org/job/minishift-nightly-centos/52/consoleFull 13 days ago.

We can debug when it starts failing consistently.

[2018-02-21 12:26] #1978 closed

[2018-02-21 12:39] containscafeine opened #2056 "'minishift update' should check write permissions before downloading"
### General information

  * Minishift version: 1.12.0
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. Run `minishift update`

### Expected
`minishift update` should check if it has write permissions to the target directory for installation before downloading the latest release, not after. Once this fails, I need to run `sudo minishift update` again which again downloads the binary

[2018-02-21 12:50] anjannath commented on #1882
Thanks a lot @itscaro :)

[2018-02-21 13:25] anjannath opened #2057 "Mention the commit message format in `CONTRIBUTING.adoc`"
First time contributors always mess up the commit message and we have to go back and forth on correcting it, which is not a _very_ big deal, but as a first step, we should add this information to `CONTRIBUTING.md` which would make it more visible.

[2018-02-21 13:49] vmuzikar commented on #391
Hello,
any update on this? Is there currently any possibility for using custom SSL cert (at least for the web console)?
Thank you.

[2018-02-21 13:50] agajdosi commented on #2054
@LalatenduMohanty Interestingly the VM starts with `--memory 3500` so I am curious how in the JIRA we got 3700000kb.

[2018-02-21 14:24] Lasamar commented on #1739
The delete command destroy the minishift vm... I would like a less drastic solution if it's possible...
After a couple of stop and start I was able to start it and scale down all the pods... Now it's working just fine but with a single pod running I'm with DiskUsage:  78% of 17.9G... I would say that my problem was an out of bunds of disk usage with all the pods running... But I would have expecte

[2018-02-21 14:31] vmuzikar commented on #391
One more question (which is a bit related). Couldn't be minishift somehow started on HTTP to avoid SSL and providing own certificates completely?

[2018-02-21 14:49] budhrg commented on #1993
Docker version in Minikube is `17.09.0-ce`.
[code]

I tested with following shell script
[code]

It passed first time. then deleting minishift VM and again running above script is giving me error.
[code]

I was reading this origin page on [Debugging OpenShift](https://github.com/openshift/origin/blob/master/docs/debugging-openshift.md) and found special mention of **not being able to resolve any h

[2018-02-21 15:11] mhabrnal opened #2058 "file permission issue in application container"
### General information

  * Minishift version: minishift-1.12.0-linux-amd64
    - openshift v3.6.1+008f2d5
    - kubernetes v1.6.1+5115d708d7
  * OS: Linux
  * Hypervisor: KVM and VirtualBox

I've prepared docker image [1] with suided application which just takes an argument and writes it into /proc/1/fd/2.

[1] https://hub.docker.com/r/mhabrnal/logger-test/

Dockerfile looks like this:
[code]

#

[2018-02-21 16:33] jcperezamin commented on #2051
Fixed it, Thanks! a lot!

[2018-02-21 16:33] #2051 closed

[2018-02-21 16:42] anjannath commented on #2058
Please take a look at the `anyuid` addon
https://github.com/minishift/minishift-addons/addon/anyuid/

HTH

On Feb 21, 2018 8:41 PM, "Matej Habrnal" <notifications@github.com> wrote:

[2018-02-21 20:40] cunningt opened #2059 "Prometheus(APB) does not provision on minishift v.1.13.0/1.13.1"
### General information

  * Minishift version: 1.13.1
  * OS: macOS
  * Hypervisor: xhyve

openshift version : v3.7.0

### Steps to reproduce

MINISHIFT_ENABLE_EXPERIMENTAL=y minishift start --memory=6000 --cpus=2 --openshift-version=v3.7.0 --service-catalog --iso-url centos

Create a new project

Try to provision Prometheus to the new project

### Expected
Prometheus instance to be provisioned

[2018-02-22 01:38] LalatenduMohanty commented on #1603
Resolved via #2038

[2018-02-22 01:38] #1603 closed

[2018-02-22 05:54] budhrg commented on #2059
@cunningt , are you using prometheus addon - https://github.com/minishift/minishift-addons/tree/master/add-ons/prometheus ?

[2018-02-22 06:09] budhrg commented on #2056
@containscafeine Are you expecting to get message like
[code]

Let me know if there is any changes needed in above texts.

[2018-02-22 06:19] containscafeine commented on #2056
nit: `You don't seem to have write permissions on the directory: <directory name>. Please try running the command again as root, or using sudo.`
But yeah LGTM :man_shrugging:

[2018-02-22 06:44] praveenkumar commented on #2058
@mhabrnal As per your Dockerfile, image which created it only going to run as root user which OpenShift doesn't allow by default. As part of minishift, we have an addon called `anyuid` as @anjannath mentioned. After applying this addon you can run an image with root user also.

[2018-02-22 06:49] cunningt commented on #2059
@budhrg No, I'm not.    This is one of the APBs that I see in the catalog.

I have admin-user, anyuid, and ansible-service-broker addons configured.

[2018-02-22 06:50] budhrg commented on #1857
Closing this as the root cause is this issue https://github.com/minishift/minishift/issues/1993.

[2018-02-22 06:50] #1857 closed

[2018-02-22 09:45] mhabrnal commented on #2058
@praveenkumar All is about the suided application. I don't care if the image runs as root or nonroot users. I've got suited binary in a container and it doesn't work as expected.

Or you are saying there is no root in a running container in minishift (unless `anyuid`) so suided applications owned by root don't work as on the host.

[2018-02-22 09:53] snwiem commented on #1873
I had the same issue and found that HOMEDRIVE was set to  some network drive.
So besides checking

[code]

you should also set HOMEDRIVE to C
[code]

[2018-02-22 10:23] praveenkumar commented on #1966
I am also now able to reproduce this issue and this is not something in our control until we have static IP in place then context will not change randomly with IP addresses. Since minshift create a new entry every time to `~/.kube/config` when it runs so if an instance which was created before have the entry.

[2018-02-22 10:57] praveenkumar opened #2060 "Documents around openshift registry route"
Currently, we have https://docs.openshift.org/latest/minishift/openshift/openshift-docker-registry.html about how to access openshift docker registry but this document doesn't contain any information around `registry-route` add-on.

Currently, if a user applies `registry-route` on running Openshift cluster then he gets an edge-terminated route something like `docker-registry-default.192.168.42.43.

[2018-02-22 13:47] praveenkumar commented on #2058
@mhabrnal OpenShift has the policy as default not to run any image as root user. when you applying `anyuid` addon then it change the security context and then you are able to run it. For production environment this is not recommended so by default we also don't enable this.

[2018-02-22 14:56] xsuchy commented on #2058
The image can be run as unprivileged user - that is ok. We do not want to run the application as root or some specific user. So anyuid addon will not help here.

Inside of the image, there is setuid binary (similar to /usr/bin/sudo). When you execute setuid binary owned by root, you should get EUID=0. That works as expected.

So we have binary with EUID=0. But when this binary tries to write to fi

[2018-02-22 14:59] xsuchy commented on #2058
To be precise, this setuid binary is not executed directly by OpenShift, it is called somewhere deep inside of the application.

[2018-02-23 00:03] myron-randall commented on #1587
I get the same error using Windows 7 with virtualbox hv. I am behind proxy and login via AD and have Symantec antivirus software.
Minishift version: minishift v1.11.0+d7f374a
Virtualbox version: Version 5.2.4 r119785 (Qt5.6.2)
Symantec Endpoint protection version: 12.1.6

[2018-02-23 00:22] creeLovely commented on #1587
I have the same problem, but I've tried with different versions of minishift and virtualbox. My current configuration is listed below. I am also on a cooperate machine with AD login. I am not using a proxy to start minishift.

Minishift : minishift v1.13.1+75352e5
Virtualbox : Version 5.2.6 r120293 (Qt5.6.2)
McAfee Agent
McAfee DLP Endpoint
McAfee Product Improvement Program
McAfee VirusScan Enter

[2018-02-23 06:29] anjannath commented on #1719
@gbraad If by server parts you meant _Hyper-V Platform_, then the fix for this is already in #2009 :)

[2018-02-23 06:39] anjannath commented on #1676
@gbraad Happy to help you on this :)

[2018-02-23 06:54] budhrg commented on #2023
@praveenkumar , I think we are not going this way now right? Can we close it?

[2018-02-23 07:05] #1918 closed

[2018-02-23 07:05] #2027 closed

[2018-02-23 07:09] #1882 closed

[2018-02-23 07:14] LalatenduMohanty commented on #2047
Resolved via #2052

[2018-02-23 07:14] #2047 closed

[2018-02-23 08:51] LalatenduMohanty commented on #2060
IMO the information about the `registry-route` should be in https://docs.openshift.org/latest/minishift/openshift/openshift-docker-registry.html.

We just need to add following information
* If user wants to use an edge-terminated route, then registry-route add-on should be used.
* Just applying the add-on wont work properly with `minishift openshift registry` command, so user needs to enable it b

[2018-02-23 09:09] budhrg commented on #1815
@agajdosi Do we still consider this issue?

[2018-02-23 09:23] budhrg commented on #1993
@LalatenduMohanty @praveenkumar @amitkrout @gbraad @agajdosi @anjannath

This is interesting now. I am able to reproduce it with locally in Fedora.

Try with following.
[code]

[2018-02-23 11:09] ldipotetjob commented on #802
I have the same problem when i try to deploy an image of Cassandra.
OpenJDK 64-Bit Server VM warning: Cannot open file /var/log/cassandra/gc.log due to Permission denied.
And a lot of people have the same problem without any clear solution.
I am thinking seriously in change of PaaS. It is just a Cassandra installation !!.

[2018-02-23 11:18] ldipotetjob commented on #802
This is what Red hat say:
[https://access.redhat.com/solutions/2929691
: Solutions in progress

[2018-02-23 11:34] gbraad commented on #1815
Too little benefit in my opinion

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-02-23 11:52] LalatenduMohanty commented on #2048
Resolved by #2061  https://github.com/minishift/minishift/commit/0ef2dec5065f6fb1b141630963bfec4c99a04042

[2018-02-23 11:52] #2048 closed

[2018-02-23 11:53] budhrg opened #2063 "Permission of certificates is altered after using the Minikube provisioner"
### General information

  * Minishift version: v1.7.0+ (Since we start support of Minikube ISO)
  * OS: Windows
  * Hypervisor: Hyper-V / Virtualbox

### Steps to reproduce

  1. `minishift.exe start --iso-url minikube`

### Expected

Minikube ISO should work.

### Actual

Minikube ISO fails to start minishift VM.

### Logs

[code]

[2018-02-23 12:02] LalatenduMohanty commented on #2063
@budhrg Did you test with Virtualbox? My guess is this might be related to HyperV.

[2018-02-23 12:03] budhrg commented on #1815
I think we are good with current format.

[2018-02-23 12:04] budhrg commented on #2063
Ya trying now.

[2018-02-23 12:05] LalatenduMohanty commented on #1815
Actually we do not have any rule about the alignment which was the original issue @agajdosi reported. I agree that this has less priority. But we should keep it open.

[2018-02-23 12:12] budhrg commented on #2063
@LalatenduMohanty Reproducible with Virtualbox too.

[2018-02-23 12:16] anjannath commented on #2063
I could reproduce this with *Hyper-V* driver, now trying with *VirtualBox*

[2018-02-23 12:39] anjannath commented on #2060
This information needs to be there in docs, i was wondering why the addons is not working after only applying.

[2018-02-23 12:42] budhrg commented on #1993
This issue is there since we started nightly
https://ci.centos.org/job/minishift-nightly-minikube/2/ ( Started 2 months 4 days ago i.e 20th Dec 2017 )

I doubt it is even running consistently previously too.

[2018-02-23 12:58] LalatenduMohanty commented on #1993
@budhrg Good catch. Wondering how tests were passing in the nightly in the past. We had recently moved to a newer version of minikube ISO i.e. v0.25.1 and it might have bugs in it.

[2018-02-23 13:15] #1376 closed

[2018-02-23 13:25] budhrg commented on #1993
With `v0.24.0` too, we are seeing similar issues.  See https://ci.centos.org/job/minishift-nightly-minikube/2/.

[2018-02-23 14:20] coolbrg opened #2064 "Minishift tutorial"
We need a tutorial to give users a basic understanding of how one can effectively use Minishift for development purpose.

We can add sample workflow for application development in the tutorial.

---

  * [ ] basic commands
    * [ ] `start`
    * [ ] `stop`
    * [ ] `delete`
  * [ ] environment options
    * [ ] `oc-env`
    * [ ] `docker-env`
  * [ ] configuration settings
    * [ ] cpu
    * [

[2018-02-23 14:28] budhrg opened #2065 "Get all pre-flight files into separate folder"
This is a follow up issue of refactor task from this comment https://github.com/minishift/minishift/pull/1997#discussion_r167808717.

We have many pre-flight files now inside `cmd/minishift/cmd` folder.
We can create one folder `preflight` and store all the existing (or future) files in it to have better separation.

Note: This will also help in readability when we will use in `start.go` as `prefl

[2018-02-23 14:35] mwringe commented on #802
@jsanda can you take a look?

[2018-02-23 14:42] firemanxbr commented on #2064
I'm contributing with some suggestions to reduce environment problems:

## Cleaning possible errors in a new deployment
Remove the old profile of Minishift:
`$ minishift delete --profile minishift --force`

Clean any old reference to 'minishift' or 'oc':
`$ sed -i".bak" '/minishift/d' ~/.bashrc
$ sed -i".bak" '/oc/d' ~/.bashrc`

Remove the configs and old deploys of Minishift:
`$ rm -rf ~/.minishi

[2018-02-23 14:46] amitkrout commented on #1993
Just have a quick run Win10 + VirtualBox. VM starts fail error added below
[code]

[2018-02-23 15:22] gbraad commented on #2064
@firemanxbr those sound more for a FAQ or inclusion on our Wiki-in-progress. This is not something you would expose a newcomer to (who does not have any previous profiles, leftovers or other artifacts)

[2018-02-23 16:35] robin-owen commented on #2064
@gbraad Common configuration options might also be worth explaining in a tutorial (vCPUs, memory, and so on). If a tutorial isn't the proper place for such commands, we should at least explore where to include this information -- it comes up quite frequently.

@firemanxbr I agree that we should document such things in more detail, but I'm also not convinced that a tutorial aimed at new users shoul

[2018-02-23 16:40] gbraad commented on #2064
@robin-owen completely agree, so...

I would propose to record the needs here... e.g. in a bullet-list, or todo notes, etc.

[2018-02-23 16:51] robin-owen commented on #2060
I don't see any reason why we can't have the information in both places -- both are logical, and the reader is likely to look for information in either of those locations. We can create an AsciiDoc document to encapsulate this information and use an `include:[]` to insert the same information in both places.

If the information is written generically, it can fit appropriately in both documents.

[2018-02-23 21:50] #1782 closed

[2018-02-23 21:50] #1781 closed

[2018-02-24 12:29] creeLovely commented on #1587
Minishift started once I was on the cooperate network. I have to cleanly stop minishift when I leave work, otherwise I encounter problems.

[2018-02-24 17:57] budhrg commented on #2063
@amitrout also able to reproduce. He commented here https://github.com/minishift/minishift/issues/1993#issuecomment-368028915

[2018-02-24 20:18] jkirklan commented on #1708
CDK 3.3.0-GA

[2018-02-24 20:18] jkirklan commented on #1708
minishift v1.11.0+d7f374a
CDK v3.3.0-1

specifically

[2018-02-25 06:03] #1675 closed

[2018-02-25 17:53] tamalsaha opened #2066 "Failed to start minishift using virtualbox"
`minishift start --vm-driver=virtualbox` is failing with ` a certificate signed by unknown authority`. Please see the logs below:

[code]

[2018-02-25 18:12] tamalsaha commented on #2066
It seemed to work on retry.

[2018-02-25 18:12] #2066 closed

[2018-02-26 05:17] praveenkumar commented on #2063
@budhrg @anjannath Can you please check one of the older version of ISO?

- https://storage.googleapis.com/minikube/iso/minikube-v0.24.0.iso

[2018-02-26 05:23] praveenkumar commented on #2058
@xsuchy, Thanks for explaining @mhabrnal so this is not related to minishift then because we don't set any different permission for OpenShift cluster. This might be related to origin and bug should be filed under https://github.com/openshift/origin/issues tracker.

[2018-02-26 05:27] praveenkumar commented on #2023
@budhrg yes, for the ISO testing purpose we are taking a different approach, where we are going to pull down the minishift repo and then run the test against the ISO. I am closing this issue now.

[2018-02-26 05:27] #2023 closed

[2018-02-26 05:34] gbraad commented on #2058
if the user is not allowed to perform the setuid call, it will fail...
since OpenShift runs as an aribitrary user, it will be impossible to
perform setuid. If the container can run as root, and then allow to use the
setuid call i think it would solve your problem. But in short, this is not
a Minishift issue, but related to what OpenShift does... Have a look at SCC
(Security Context Constraints) fo

[2018-02-26 05:54] gbraad commented on #2065
`preflight.preflightChecksBeforeStartingHost` should be something like `preStartingHost` and we need a `postStartingHost` generic call... as we can also implement this also in Minikube.

[2018-02-26 06:59] LalatenduMohanty opened #2067 "Error in "minishift delete" with Xhyve"
`minishift delete` returning error
[code]
and the subsequent `minishift start` fails with below error.

[code]

### General information

  * Minishift version: minishift v1.13.1+60379334
  * OS: macOS
  * Hypervisor: xhyve

### Steps to reproduce

I am not sure what triggers this issue, may be it is related to recent updates in `high sierra`.

  1. `minishift delete`

### Expected
[code]
### Actua

[2018-02-26 07:04] LalatenduMohanty commented on #2067
Workaround
===

[code]

[2018-02-26 07:08] gbraad commented on #2067
Are you sure this is the workaround? as I believe tit is more related to the sparse filesystem mount and timing...

[2018-02-26 07:14] LalatenduMohanty commented on #2067
Yes, the workaround works for me. Though I am not sure why the permission error comes in the first place. Because after successful start the permissions are same in `~/.minishift/machines/minishift/root-volume.sparsebundle/bands/`

[code]

[2018-02-26 08:00] praveenkumar commented on #2067
Following what I get when `stop` the VM. Are you folks also experience same?

[code]

[2018-02-26 08:27] LalatenduMohanty commented on #2067
@praveenkumar I have not see the error with stop yet.

[2018-02-26 09:23] #1889 closed

[2018-02-26 09:24] #2039 closed

[2018-02-26 09:28] LalatenduMohanty commented on #1933
Resolved by #2035.

[2018-02-26 09:28] #1933 closed

[2018-02-26 09:56] gbraad commented on #201
Currently using:

[code]

to start a DNS server from the VM. This survives restarts and can be set to use a restart policy if needed. (Note: do not want to modify the ISO unnecessary... especially as the current implementation could only support one instance when hosted from the VM).

[2018-02-26 11:30] LalatenduMohanty commented on #1996
+1 to abstract it as a single function.  I see this in
[code]
and we can improve the code in `minishift ip`.

[2018-02-26 15:22] mhabrnal commented on #2058
@praveenkumar @gbraad  It works in Docker and OpenShift, I found the issue only in minishift.

I've updated the docker image mhabrnal/logging-test
You can test it like the this:
[code]

[2018-02-27 01:32] gbraad commented on #201
Juts throwing it out here; what would be the experience of setting up the VM for offline use?
 /cc: @minishift/minishift-dev

[2018-02-27 02:54] rafachies commented on #1587
What have you done to get this working @creeLovely? I have the same issue here with Windows 10.

[2018-02-27 03:18] gbraad commented on #1587
@rafachies This is a networking issue. There could be several causes for this... please check if you run a virus scanner which also acts as an application firewall. make sure you do `minishift stop`, and `minishift start` when moving between networks.

[2018-02-27 03:42] gbraad commented on #201
Just throwing it out here; what would be the experience of setting up the VM for offline use?
/cc: @minishift/minishift-dev

[2018-02-27 04:02] gbraad commented on #201
@mohammedzee1000 I think the `index=1` is wrong. In testing I see a timeout occurs which lasts 2 seconds, as it tries to use another resolver first (the index=0), so adding as:

[code]

solved this for me. So `index=0` is the actual first nameserver, right?

[2018-02-27 07:45] #1156 closed

[2018-02-27 07:50] amitkrout opened #2069 ""minishift openshift version list" should only display released bits from Origin"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. Find out all the listed openshift version available (```minishift openshift version list```)
  2. minishift start --openshift-version v3.8.0-alpha.1
      -- Starting profile 'minishift'
      -- Checking if requested OpenShift version 'v3

[2018-02-27 07:55] gbraad commented on #2069
https://github.com/openshift/origin/releases/tag/v3.8.0-alpha.1 contains no published binaries. this is due to the async publishing of docker images and the client binaries,

[2018-02-27 07:59] gbraad commented on #2069
I suggest to change the error message to a slightly less technical approach:

[2018-02-27 08:56] kameshsampath opened #2070 "DNS Resolution Fails"
### General information

  * Minishift version: minishift v1.13.1+75352e5
  * OS: Linux / macOS / Windows: macOS
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox: xhyve

### Steps to reproduce

  1. Deploy a sevrice say for example `redis` https://github.com/openshift/origin/blob/master/examples/db-templates/redis-persistent-template.json
  2. Deploy an app that uses redis DB could be any app

[2018-02-27 09:51] amitkrout commented on #2067
@praveenkumar yes i have faced this but not all the time

[2018-02-27 11:08] LalatenduMohanty commented on #1996
We already have below functions in cmd/util/util.go
[code]
and
[code]

[2018-02-27 13:37] praveenkumar commented on #2070
@jorgemoralespou Do you think this is issue with minishift or it's something with `oc cluster up`?

[2018-02-27 14:21] anjannath commented on #201
Following the instructions on https://github.com/minishift/minishift/issues/201#issuecomment-368447443 I was able to replicate this..

Also, the vSwitch `Default Switch` works, and i didn't have to set a static ip, as the `Default Switch` is able to assign ip addresses without relying on a external DHCP server.

[2018-02-27 19:32] #2057 closed

[2018-02-27 20:52] jorgemoralespou commented on #2070
@praveenkumar, strange that no one has reported this before. I'm pretty sure that svc resolution works for me.
You can easily try it.
Here's an app that can be directly deployable on OpenShift and should work. https://github.com/jorgemoralespou/ose-sample-apps-layouts/tree/master/workshop-app
I'm not at computer right now.

[2018-02-28 02:08] gbraad commented on #201
On Linux I do not see anything happen to the DNS config:

[code]

Any ideas?

[2018-02-28 04:40] yosukeyoshikawa commented on #2037
I'm seeing the same behaviour. Was working fine when it was using 3.6.0

[2018-02-28 05:12] budhrg opened #2072 "Migrate CirclCI to version 2.0"
CircleCI is sunsetting its version 1.0 from Aug 31 and suggested to migrate to 2.0

https://circleci.com/blog/sunsetting-1-0/

[2018-02-28 05:38] gbraad commented on #201
on macOS we can retrieve the current DNS with:

[code]

and update with:

[code]

[2018-02-28 07:40] anjannath commented on #201
@gbraad I add the name server to `/etc/resolv.conf`, then make the file immutable with `chattr +i /etc/resolv.conf` so that DHCP cannot overwrite the file.

[2018-02-28 07:52] gbraad commented on #201
I know... but that is a bad idea!?!

[2018-02-28 08:36] budhrg commented on #1250
@gbraad do you want to pin it?

[2018-02-28 09:10] LalatenduMohanty commented on #1993
@budhrg I ran Minishift with minikube ISO on macOS and I could successfully deploy application.

[2018-02-28 10:03] gbraad commented on #201
solved the issue on macOS. Also, be aware `nslookup` does NOT use `/etc/resolver`... it only deals with `/etc/resolv.conf`

Create individual files under `/etc/resolver`, named like `minishift-192.168.64.13.xip.io` and in the file specify:
[code]
Note: the filename already forces the domain, but for cleanup purpose I'd rather identify them more easily with prefix them as `minishift-`. eg. `/etc/re

[2018-02-28 11:35] amitkrout commented on #2067
Adding to this https://github.com/minishift/minishift/issues/2067#issuecomment-368408533

This looks hard but works for me as a workaround
```sudo minishift delete --force```

[2018-02-28 12:04] budhrg commented on #1993
@LalatenduMohanty

Did you perform minishift delete and able to deploy 2nd/3rd time?

[2018-02-28 12:31] budhrg commented on #2063
@praveenkumar , I was using v0.24.0 version only. Please check logs section in issue description.
It is reproducible from Minishift v1.7.0.

[2018-02-28 12:34] budhrg commented on #2005
@minishift/minishift-dev any comments/suggestion?

[2018-02-28 13:05] anjannath commented on #1993
@budhrg Tried on the mac server, able to successfully deploy the application.

Yes. able to deploy every time, tried 4 times.

[2018-02-28 14:38] amitkrout commented on #1993
@budhrg I used the same script, but instead of 5 sec sleep i increased it to 30 sec as i was getting error ```error: the image match "ruby" for source repository "https://github.com/openshift/ruby-ex.git" does not appear to be a source-to-image builder.```

I am able to deploy all the time (thrice) i tried. Also able to deploy twice manually without the script.

[2018-02-28 15:21] budhrg commented on #1993
@amitkrout @anjannath Will sync with you guys tomorrow.

[2018-03-01 02:04] gbraad commented on #201
@mohammedzee1000 proposed a PR for CCCP: https://github.com/kbsingh/cccp-index/pull/45

[2018-03-01 02:56] gbraad commented on #201
@mohammedzee1000 added https://github.com/CentOS/container-index/pull/299

[2018-03-01 04:25] mohammedzee1000 commented on #201
@gbreed. Merged. You should have the container shortly.

[2018-03-01 05:53] amitkrout commented on #1993
@budhrg @anjannath Now i am able to reproduce the same issue with sleep of 30 sec just in the 4th run.
[code]

[2018-03-01 05:59] LalatenduMohanty commented on #1807
@agajdosi @gbraad I am not sure what exactly we want to do for this issue. Do you mean we want to change the integration test to have flexibility to run on different shells?

[2018-03-01 05:59] gbraad commented on #201
@mohammedzee1000 not seeing my container at registry.centos.org

[2018-03-01 06:36] gbraad commented on #201
On Fedora I need to force `systemctl restart NetworkManager` before I see the DNS change in `/etc/resolv.conf`.

[2018-03-01 07:17] #1996 closed

[2018-03-01 08:11] LalatenduMohanty commented on #2042
@arilivigni I think you would find this useful.

@fabiand The issue with running Minishift in nested virt is, it will be difficult for user to access. So user needs to be dependent on `oc` binary. I hope that is fine.

[2018-03-01 08:15] LalatenduMohanty commented on #1944
Duplicate of #1966.

[2018-03-01 08:16] LalatenduMohanty commented on #1944
@starksm64 Even if this is created before #1966 , #1966 has more discussions and information, so I will suggest closing this issue and tracking it in #1966

[2018-03-01 08:18] #1944 closed

[2018-03-01 08:30] mhabrnal commented on #2058
@LalatenduMohanty I have OpenShift with logging system deployed in my VM by ansible playbook  https://github.com/openshift/openshift-ansible/

[2018-03-01 09:17] anjannath commented on #1807
IIRC this was for the `GODOG` opt. parameter `TEST_WITH_SPECIFIED_SHEL`, the issue title is kinda confusing..

[2018-03-01 10:40] LalatenduMohanty opened #2073 "Remove EAP64 templates from xpaas add-on"
Refer https://github.com/projectatomic/adb-utils/issues/215

[2018-03-01 10:42] budhrg commented on #2073
Need to remove test associated with it ( https://github.com/minishift/minishift/blob/master/test/integration/features/addon-xpaas.feature#L32 )

[2018-03-01 12:42] pr4xx commented on #2037
Same here, fresh installation. Followed the guide.

[2018-03-01 12:43] budhrg opened #2074 "Refactor naming around pre-flight check for oc tag on github"
This is mostly required for https://issues.jboss.org/browse/CDK-259 where we will generalize the names like
- `checkOcTagOnGithub` to `checkOcReleaseVersion`
- `SkipCheckOpenShiftGithubRelease` to `SkipCheckOpenShiftRelease`
- `skip-check-openshift-github-release` to `skip-check-openshift-release`

/cc @LalatenduMohanty

[2018-03-01 16:14] dagniel commented on #1145
Hello all!

Not wanting to open this again, but I believe even in a dev environment - catching on what jorgemoralespou pointed out - it's useful to have some means to clean.
In my particular situation, the testing and configurations done for raising 2 (skinny) apps with their layers ended up with 30GB of stuff for my minishift disk.

So as an option for minishift delete and then restart from scrat

[2018-03-01 20:19] fabiand commented on #2042
@LalatenduMohanty this is not (directly) about running minikube nested, it is more about enabling KVM nesting in order to allow to run a VM inside the docker machine VM.

This is needed for kubevirt, which is launching VMs on OpenShift.

[2018-03-02 03:10] sspeiche commented on #2037
I downgraded Docker for Mac based on https://github.com/openshift/origin/issues/18596

to Version 17.09.1-ce-mac42 (21090)
Channel: stable
3176a6af01

and oc cluster up works fine for 3.7.1 (using 3.7.1 cli) and 3.10 (using a 3.9 cli)

[2018-03-02 07:46] gbraad commented on #201
Proposed an intitial version for the Docker implementation: https://github.com/minishift/minishift/pull/2076

[code]

[2018-03-02 11:24] #2074 closed

[2018-03-02 19:49] vmtyler commented on #2069
isn't there a way to only list releases that have images and client binaries available?

[2018-03-02 22:36] pkdone commented on #1343
Upstream issue is still open

[2018-03-03 06:58] gbraad commented on #201
Running in the container as systemd service: https://github.com/gbraad/dockerfile-dnsmasq/commit/bac969250365db1239f0d45e2cd2bdc30f1bf559

[2018-03-03 07:35] budhrg commented on #2056
@containscafeine On running `sudo minishift update` I get following error
[code]

I need to do
[code]
Any idea?

[2018-03-03 16:58] XericZephyr commented on #1630
Have the same issue as @mupi2015 . Anyone has an official answer for nested KVM?

[2018-03-04 11:40] containscafeine commented on #2056
@budhrg I think that's because minishift is not there in root's $PATH. If you add it to $PATH in  your /root/.bashrc, it should work.

[2018-03-04 12:44] gbraad commented on #2056
sudo ./minishift update

Or make sure it is in your path. The user and sudo might have different
profiles and settings.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-03-05 05:46] anjannath commented on #2069
We could check both docker hub and github releses and then display the list, effectively performing an intersection between the two results.

[2018-03-05 08:08] budhrg commented on #1993
Another docker update in Minikube ISO https://github.com/kubernetes/minikube/pull/2427

[2018-03-05 09:22] amitkrout opened #2080 "Update tab completion UX and help doc for RHEL and centos"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. $ ./minishift completion --help
[code]

### Expected
$ minishift completion  --help
[code]
We can add bash completion uses for other linux flavor such as ```CentOS```
### Actual
The actual output is inclined towards a specific flavor of li

[2018-03-05 09:33] anjannath commented on #1250
@budhrg This is something i'd like to look into.

/cc @gbraad

[2018-03-05 12:01] #1324 closed

[2018-03-05 12:29] #2073 closed

[2018-03-05 12:31] LalatenduMohanty opened #2081 "Update to CentOS ISO v1.7.0"
https://github.com/minishift/minishift-centos-iso/releases/tag/v1.7.0

[2018-03-05 12:53] #2081 closed

[2018-03-05 12:56] agajdosi commented on #1530
This issue is no longer reproducible for me on Windows or Fedora. Will reopen if I face it again.

[2018-03-05 12:56] #1530 closed

[2018-03-05 13:47] LalatenduMohanty commented on #2069
@anjannath Basically we should only display versions which are common in both.

[2018-03-05 19:11] jparrill commented on #2059
@cunningt Hey buddy, I got the problem, did you change the sandbox_role from "edit" to "admin" inside of asb DeploymentConfig and perform a Rollout latest? like in here:

- https://github.com/ansibleplaybookbundle/prometheus-apb/issues/5

I make it work without problems ;):

[code]

[2018-03-05 23:34] mtttcgcg commented on #2058
Same issue here. I installed and enabled the anyuid plugin, and restarted my minishift cluster, but it still does not seem to be running my deploys with root.

minishift addons install --defaults
Minishift addons enable anyuid

When I run this command as either developer or system:
oc adm policy add-scc-to-group anyuid system:authenticated

I get Error from server (Forbidden): User "developer" can

[2018-03-06 05:00] tylerauerbeck commented on #2072
@budhrg @LalatenduMohanty I can take care of this. I've got most of this cleaned up and should have a PR ready within the next day or so.

[2018-03-06 05:12] LalatenduMohanty commented on #2072
@tylerauerbeck Awesome.

[2018-03-06 05:53] LalatenduMohanty commented on #2059
@jparrill @cunningt So it is not an issue in Minishift. So can we close the issue in Minishift.

[2018-03-06 06:42] budhrg commented on #2064
@LalatenduMohanty Should we take it in 1.15.0 milestone?

[2018-03-06 06:44] budhrg commented on #1971
@anjannath , I think we were closing this issue right?

[2018-03-06 07:41] LalatenduMohanty commented on #2064
@budhrg Lets take it in next release train. We have too much for this sprint.

[2018-03-06 07:45] pjos opened #2083 "v3.7.1 is not a valid OpenShift version"
### General information

  * Minishift version:  v1.14.0+1ec5877
  * OS: Windows
  * Hypervisor: Hyper-V

### Steps to reproduce

  1.  Behind a corporate proxy, no access to internet at all (i.e. without http(s)_proxy configurations, Sonatype Nexus OSS edition 3.6.1 acts as proxy for docker images.
  2.  minishift configuration is as follows
[code]

### Expected
minishift starts as it does with 1

[2018-03-06 08:01] LalatenduMohanty commented on #2083
@pjos  looks like your proxy settings can not reach github, hence the issue. You can disable the prefilght check which is causing issue for you by `$ minishift config set skip-check-openshift-release true`.

[2018-03-06 08:07] dharmit opened #2085 "Can minishift profile -h mention that set sub-command will create a new profile if one with specified name doesn't exist already"
### General information

  * Minishift version: All
  * OS: All
  * Hypervisor: All

### Steps to reproduce

NA

### Expected

[code]

### Actual

[code]

### Logs

NA

[2018-03-06 08:11] LalatenduMohanty commented on #2085
@dharmit Technically `profile set` does not create a new profile but it sets the profile name in the config and the next `minishift` command actually creates required files for the profile if not present. However I can understand that from a user point of view it creates the profile.

[2018-03-06 08:13] LalatenduMohanty commented on #1250
I think we can close it. The current systems works for us and I can pass this. @gbraad WDYT?

[2018-03-06 08:25] pjos commented on #2083
Thanks @LalatenduMohanty,  turning of preflight check works fine letting minishift to continue with the startup sequence!

[2018-03-06 08:25] #2083 closed

[2018-03-06 09:24] LalatenduMohanty commented on #2056
I do not think we should recommend users to run the update command using sudo as it will create the new minishift binary with root permissions.  We should tell the user fix the permission issue and then run the update command again.

@budhrg did you test the scenario? and what is your findings?

[2018-03-06 09:35] budhrg commented on #2056
@LalatenduMohanty , you are right. The update binary is created with root permissions.

[code]

This seems to the defensive solution and looks fine to me.

WDYT @containscafeine ?

[2018-03-06 09:41] mhabrnal commented on #2058
@mtttcgcg Hi, this is not the same issue (see comments above) :) You still talk about anyuid plugin (?), it's not about the plugin, it's about suid applications [1] (linux permissions) which do not work in minishift properly.

https://www.linuxnix.com/suid-set-suid-linuxunix/ .

[2018-03-06 10:07] containscafeine commented on #2056
I agree with @LalatenduMohanty that this should not ask the users to update using root/sudo, instead it should ask them to fix the permissions in the installation path.
Another way is to actually recommend sudo, but explicitly setting the permissions to the binary to the user set in the env var $SUDO_USER.

[2018-03-06 10:08] pjos opened #2087 "Hyper-V static ip address assignment seems to be broken."
### General information

  * Minishift version:  minishift v1.14.0+1ec5877  & minishift-centos-iso [1.7.0](https://github.com/minishift/minishift-centos-iso/releases/tag/v1.7.0)
  * OS: Windows
  * Hypervisor: Hyper-V

Static IPv4 address assignment seems to have been broken when minishift-centos-iso v1.7.0 is used.

### Steps to reproduce

  1.  Upgrade minishift-centos7.iso from 1.6.1 to 1.7.0

[2018-03-06 10:12] budhrg commented on #2087
@pjos So you are experiencing this behavior only in CentOS ISO version 1.7.0 ?

[2018-03-06 10:17] gbraad commented on #2087
please use --network-ipaddress instead of config and see if this helps

[2018-03-06 10:18] jorgemoralespou commented on #1922
@LalatenduMohanty I don't think this is properly resolved, so it should be reopened.
These are the tags on Github (not saying they all have binaries)
![image](https://user-images.githubusercontent.com/78350/37026799-c8991a4e-212f-11e8-9de9-432aa08e382c.png)

These are the versions displayed by minishift openshift version list (minishift v1.14.0+1ec5877):
[code]

As you can see, there's release v3.

[2018-03-06 10:18] gbraad commented on #2087
Also, since you get an ipv6 address... Can you explain more about the used virtual switch setup?

[2018-03-06 10:19] pjos commented on #2087
@budhrg  correct! Switching back to 1.6.1 of the CentOS ISO and running  `minishift stop/delete/start` resolves the problem so it seems to be something wrong with 1.7.0 ISO image.

[2018-03-06 10:21] budhrg commented on #2056
@LalatenduMohanty fixed the message.

[2018-03-06 10:23] gbraad commented on #2087
Can you login from the hyperv manager and login using root/centos. When you see the prompt, do

[code]

Attach this as screenshot perhaps

[2018-03-06 10:26] gbraad commented on #2087
I doubt it is the ISO, as it can fail at times... Did you notice this just once or was it repeatable?

[2018-03-06 10:55] pjos commented on #2087
@gbraad , I have made several switches between 1.6.1 and 1.7.0 today, 1.7.0 have always failed so far.

Current switch configuration have been created as follows
[code]

Hyper-V screenshot , check if you can read this google document:
https://docs.google.com/document/d/1xkAUUXh37fSMh3HXTuoTHg1PGx6PnxL7uPAiBF6fDuI

[2018-03-06 11:11] gbraad commented on #2087
can't check at the moment, but will soon. I Haven't been able to test the newer iso, but there hasn't been a change in the IP assignment scripts. @budhrg please try to reproduce.

[2018-03-06 11:13] firemanxbr opened #2088 "docker-opt doesn't works properly"
### General information

  * Minishift version: 1.14.0
  * OS: Linux - Fedora 27 updated
  * Hypervisor: KVM

### Steps to reproduce

**NOTE** Don't exist the directory ~/.minishift before the steps below:

  1. minishift config set docker-opt 'storage-opt=dm.basesize=20G'
  2. minishift start --profile minishift --disk-size 40gb --memory 6400mb --iso-url file:////home/firemanxbr/minishift/minishi

[2018-03-06 11:16] gbraad commented on #2087
Try to see if the systemd services get called correctly. Maybe a event change in CentOS messes up the order?

With `hvkvp ` you can check of the assignment message has been properly set

[2018-03-06 11:49] dharmit commented on #1630
For me, this was fixed by installing `qemu-kvm` package on CentOS 7. I had only done `yum install libvirt` and expected things to work. Obviously I was wrong.

[2018-03-06 11:57] dharmit opened #2089 "Starting VM fails with "Flag 'host-config-dir' is not supported for oc version v3.7.0" for non-root user while using kvm"
### General information

  * Minishift version: v1.13.1+75352e5
  * OS: CentOS 7.4
  * Hypervisor: KVM

### Steps to reproduce

  1. Added non-root user to user groups `libvirt` and `kvm` so that it can spin up VMs using KVM
  2. Start minishift VM with the command:
[code]

### Expected

Minishift VM should have started.

### Actual

[code]

### Logs

[Link to gist](https://gist.github.com/dharmit

[2018-03-06 14:36] pjos commented on #2087
I need to verify SHA numbers for my 1.7.0 ISO file, just to be sure I haven't messed up something.

[2018-03-06 14:47] #2080 closed

[2018-03-06 15:19] anjannath commented on #2056
Hmm.. this feels like it will be less work for the user then fixing the permission.

[2018-03-06 15:43] amitkrout commented on #2088
Unable to reproduce with ```minishift-b2d.iso```, however same issue can be hit with ```minishift-centos7.iso```
[code]

[2018-03-06 16:05] robin-owen commented on #1792
@gbraad Considering I'm working on the installation instructions at the moment, I can add this information to the documentation today or tomorrow if the instructions given here reliably work. Is that the case?

[2018-03-06 16:12] amitkrout commented on #2089
@dharmit I am not able to reproduce it on latest minishift release v1.14.0. Would you please try it form your end once on minishift v1.14.0. Before start please follow the uninstall step https://docs.openshift.org/latest/minishift/getting-started/uninstalling.html if already installed.

[2018-03-06 16:20] firemanxbr commented on #2088
continue failing if try using minishift 1.12.0, 1.13.0, 1.13.1 and 1.14.0;

[2018-03-06 16:36] dharmit commented on #2089
@amitkrout Not sure what's going on here:

[code]

I removed the `~/.minishift` and `~/.kube` directories as mentioned on the linked doc.

That fails for root user as well as non-root user on CentOS 7.

[2018-03-06 17:45] LalatenduMohanty commented on #1922
@jorgemoralespou you are right. The issues are still there and we are tracking them in https://github.com/minishift/minishift/issues/2069. This issue was closed as it was about a single release and it got fixed from orgin side and the root cause of these two issues are different.

[2018-03-06 18:01] LalatenduMohanty commented on #1915
The issue is with the `oc` binary, check https://github.com/openshift/origin/issues/18645

[2018-03-06 18:15] LalatenduMohanty commented on #1796
@minishift/minishift-dev we agreed to move minishift.json to minishift_state.json right?

[2018-03-06 18:54] LalatenduMohanty commented on #1919
@jorgemoralespou This is duplicate of https://github.com/minishift/minishift/issues/1130.  So I am planning to close this one.

[2018-03-06 19:05] LalatenduMohanty commented on #1919
@elyscape  You have again executed the `minishift addon apply` command after running the `remove` command, hence you are seeing this I think.  I could not reproduce the issue

[code]

[2018-03-06 19:08] #549 closed

[2018-03-06 19:09] elyscape commented on #1919
Right, the steps to reproduce are:
1. Apply the addon
2. Log in as admin
3. Remove the addon
4. Apply the addon again
5. Try to log in as asmin

[2018-03-06 19:27] pjos opened #2091 "Incorrect url returned for https routes by `minishift openshift service list`"
### General information

  * Minishift version: v1.14.0+1ec5877
  * OS: Linux (CentOS 7)
  * Hypervisor: KVM

### Steps to reproduce

  1. Start minishift  `minishift start`
  2. Apply registry-route addon to expose a route to internal registry.
[code]
  3.  `oc login -u system:admin`
  4.  Check created route for the internal registry, note the ***edge*** termination.
[code]
  5.  Now use `minish

[2018-03-06 23:24] MBlagui commented on #1873
Resolved if I start minishift in c:. And I don't use network drivers but d:. I have 4 drives in my laptop.

As minishift will check for:
/Users/MyUser/.minishift/cache/iso/b2d/v1.2.0/minishift-b2d.iso
And without the drive letter it will fail.

[2018-03-07 00:48] gbraad commented on #1873
docker-machine performs this check. This is also why we indicate in the readme to start minishift from the C drive. It seems you are now able to start it ('Resolved if ...'), so I will close this issue.

[2018-03-07 00:48] #1873 closed

[2018-03-07 04:50] amitkrout commented on #2089
Not sure is this https://github.com/minishift/minishift/blob/master/cmd/minishift/cmd/start_preflight.go#L49 function missing anything cc_ @minishift/minishift-dev

[2018-03-07 06:52] anjannath commented on #2091
This is a duplicate of #1564
@pjos i am close this issue, we can discuss this in #1564

[2018-03-07 06:52] #2091 closed

[2018-03-07 08:19] hferentschik opened #2092 "Make Makefile self-documenting"

[2018-03-07 08:33] pjos commented on #2087
@budhrg @gbraad  I have compared SHA256 number for ISO I use in my environment and it matches the SHA256 for the 1.7.0 release so the problem needs to be analyzed.

[code]
[code]

[2018-03-07 08:36] gbraad commented on #2087
thanks... this is on my schedule anyways, but would appreciate some
feedback from what `hvkvp` responds and `sudo journalctl -u
minishift-set-ipaddress` when logged into the VM from the console.

[2018-03-07 08:46] LalatenduMohanty commented on #390
This will be useful for #392

[2018-03-07 08:46] gbraad commented on #2063
it seems to use chmod? but this is not possible... maybe started from cygwin?
it feels from the amounts of dots that the VM started, but it tried to do a first connection to provision and the connection with SSH is failing

[2018-03-07 09:12] pjos commented on #2087
@gbraad
`sudo journalctl -u minishift-set-ipaddress`
![sudo journalctl -u minishift-set-ipaddress](https://user-images.githubusercontent.com/640734/37083002-6837e8fa-21ee-11e8-9a6e-33a4d2ce42aa.PNG)

The problem remains even if I use `minishift start --network-ipaddress 192.168.123.123`

[2018-03-07 09:28] gbraad commented on #2087
it did not write the configuration into a networking file, so either the
communication fails with `hvkvp` as command, or something else is at play.

at least from what I see it triggered the NetworkManager fallback to do DHCP

On Wed, Mar 7, 2018 at 5:12 PM, pjos <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-03-07 12:11] LorbusChris commented on #1583
Has this been fixed?
I had to run `LC_ALL=en_US.UTF-8 minishift start` to get it going.

[2018-03-07 12:43] budhrg commented on #1583
Yes @LorbusChris , please use later version.

[2018-03-07 14:10] containscafeine commented on #1587
I don't think this is a Windows specific issue like anti-virus, etc.
I am hitting the same on Fedora.
[code]

[2018-03-07 14:26] gbraad commented on #1587
The underlying cause can be different for the same results. It is impeded communication between the driver and libmachine. Since this happens using sockets (network connectivity) an application firewall can cause issues... but on other platforms this might be caused by a 0/0 route all rule when a VPN is activated, etc. Just the error by itself is not enough information to determine the cause.

[2018-03-07 14:27] budhrg opened #2095 "minishift start does not honor skip-registration flag in config"
The skip-registration flag in minishift config doesn't work. However, it works with `--skip-registration` flag.

[code]

See https://issues.jboss.org/browse/CDK-261

[2018-03-07 19:44] #2056 closed

[2018-03-07 21:23] kamkie opened #2096 "minishift fails to find hyper-v virtual switch on windows with polish locale"
### General information

  * Minishift version:
  * OS: Windows
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. have windows with Polish locale
  2.  set HYPERV_VIRTUAL_SWITCH=Przełącznik domyślny
  3. minishift start
  4.

### Expected
minishift starts

### Actual
minishift fails to find virtual switch because there is problem with encoding

### Logs
Error starting the VM: Error creating th

[2018-03-07 21:36] LalatenduMohanty commented on #1919
@elyscape Can you please create a new issue for it? The issue you are reporting is is a different than this issue.

[2018-03-08 00:22] kamkie commented on #2096
@kev5 your problem looks differently
`set HYPERV_VIRTUAL_SWITCH="External VM Switch"`
this should fix it

[2018-03-08 00:34] kev5 commented on #2096
Nope, tried it already, doesn't fix it.

[2018-03-08 00:39] kamkie commented on #2096
@kev5
set HYPERV_VIRTUAL_SWITCH=External VM Switch
quote is included in cmd
for bash you need them, but in cmd not

[2018-03-08 02:01] kamkie commented on #2096
using DockerNAT works on that machine but  DockerNAT has its own problems
tomorrow i will try to test different encodings, maybe setting console to UTF-8

[2018-03-08 02:09] gbraad commented on #2096
@agajdosi we really have to look into automated tests on localized versions of Windows. This is another good example where stuff goes haywire. What can I do to help with this?

[2018-03-08 02:17] kamkie commented on #2096
@gbraad enabling nat for DockerNAT is my current workaround https://github.com/kamkie/kamkie-infra/blob/master/minishift/minishift-start-windows-hyperv.ps1

[2018-03-08 03:41] kev5 commented on #2096
Sorry for posting my issue here. Thought it was related. But yeah, I got it working now. Thanks a lot.

[2018-03-08 04:35] gbraad commented on #201
Minikube runs `systemd-resolved`. This needs to be disabled:

[code]

[2018-03-08 05:39] praveenkumar commented on #2088
As per https://www.projectatomic.io/blog/2016/03/daemon_option_basedevicesize/ `dm.basesize=20G` will only work with devicemapper storage and does not apply to other storage drivers like overlay, btrfs, aufs, etc.

[2018-03-08 06:07] praveenkumar commented on #2089
@dharmit Not sure why you are seeing this is not something platform specific in the codebase and all the integration test case runs on the CentOS CI and 3.7.1 is the default.

[code]

[2018-03-08 09:09] gbraad opened #2098 "Minikube ISO provisioning breaks the permissions for *.pem"
Not sure what causes this, but the error is as follows:

[code]

When looking at the permissions:
[code]

after `rm -f ~/.minishift/*pem` the permissions on restart look as follows:
[code]

At the moment not sure why this happens, as this is encountered after doing:

[code]

which is unlikely to be the cause... something did a `chmod`, and failed...

[2018-03-08 09:14] LalatenduMohanty commented on #2098
@gbraad Is it reproducible ?

[2018-03-08 09:24] agajdosi commented on #2096
@gbraad True. I have it in my mind, but did not yet progressed due to the unstability of the central-ci slaves. However will check the possibilities on the image I use and tomorrow check with guys from DevStudio QE what are the possibilities.

[2018-03-08 11:18] budhrg opened #2100 "Rename provision_various_version feature and remove minishift-only tag"
We need to rename `provision_various_versions.feature` to `provision-various-versions.feature` to make it consistent with other feature files.

Also, found that https://github.com/minishift/minishift/blob/7469ee34f5ee353e41df7ac7a5645b4ae0071af8/test/integration/features/proxy.feature#L1

and

https://github.com/minishift/minishift/blob/7469ee34f5ee353e41df7ac7a5645b4ae0071af8/test/integration/fea

[2018-03-08 12:39] #2100 closed

[2018-03-08 13:03] gbraad commented on #2098
Consistent after the permission are wrong. Just wonder what changed the permission. Need to look at the utils in the provisioner and check if we are consistent.

[2018-03-08 13:05] gbraad commented on #2096
We need to be able to switch locality between some or before all of the runs. Maybe better to make this part of nightly

[2018-03-08 13:46] kamkie commented on #2096
@gbraad "Przełącznik domyślny" is "Default Switch" also "Hyper-V Administrators" group is named differently on non English windows

I tried different encodings and different shells but was unable to find any workarounds
what works best is set HYPERV_VIRTUAL_SWITCH to DockerNAT  and using managment console switch network adapter to "Default Switch" seconds after vm is created

[2018-03-09 01:29] gbraad commented on #2098
[code]

[2018-03-09 01:30] gbraad commented on #2098
@minishift/minishift-dev reproducible

[2018-03-09 01:35] gbraad commented on #2098
[code]

[2018-03-09 01:54] gbraad commented on #2098
[code]

[2018-03-09 02:12] gbraad commented on #2098
Definetely in the minikube provisioning code:

[code]

[2018-03-09 02:32] gbraad commented on #2098
[code]

https://github.com/minishift/minishift/blob/master/pkg/minishift/provisioner/buildroot_provisioner.go#L94

[2018-03-09 02:46] gbraad commented on #2098
It does not modify the content:

[code]

[2018-03-09 03:25] gbraad commented on #2098
using
[code]
and bisecting with some `panic("")` I see it happens in:

[code]

[2018-03-09 04:11] gbraad commented on #2098
From what it looks like, doing this

https://github.com/minishift/minishift/blob/2b3e3a210089bf748730daf8fdd71ec44dde3bcc/pkg/minishift/provisioner/utils.go#L201

causes the change in permissions

[2018-03-09 06:03] gbraad opened #2102 "Improve error message of pre-flight check when connection to Github can not be established"
[code]

I would expect a different error message to handle this error case.

[2018-03-09 06:58] dgauda opened #2103 "Deploy minishift on virtual box [windows 10 pro]"
### General information

  * Minishift version: 1.7.0
  * OS: Windows 10 Pro
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. minishift start --vm-driver=virtualbox -v5 --show-libmachine-logs

### Expected

### Actual

### Logs
(minishift) DBG | {
(minishift) DBG | }
(minishift) DBG | COMMAND: C:\Program Files\Oracle\VirtualBox\VBoxManage.exe list hostonlyifs
(minishift) DBG | STDOUT:
(min

[2018-03-09 08:59] urzds opened #2104 "minishift oc-env: dial tcp: missing address"
### General information

  * Minishift version: v1.12.0+daa0943
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. Install Fedora 27
  2. Copy over `$HOME` from an Ubuntu 16.04 installation, including `bin/minishift` and `~/.minishift`
  3. Execute `minishift oc-env`

### Expected

Some environment variables should be printed or a meaningful error message should be displayed.

### Act

[2018-03-09 09:13] dgauda opened #2105 "Minishift fails to deploy on hyper-v on windows"
### General information

  * Minishift version: 1.7.0
  * OS:  Windows 10 Pro
  * Hypervisor:  Hyper-V

### Steps to reproduce

  1.  minishift fails to find hyper-v virtual switch on windows

### Expected

### Actual

### Logs

PS C:\Users\dgauda\Minishift> minishift start --show-libmachine-logs -v5
-- Checking if Hyper-V driver is installed ... OK
-- Checking if Hyper-V driver is configured to u

[2018-03-09 09:19] praveenkumar commented on #2104
@urzds This is not how `minishift` can be ported from one system to another. you need to perform all the steps (installation and prerequisites) on your Fedora box also instead copy from the Ubuntu box. You can copy the binary and some of the config which is part of `~/.minishift` but not everything.

[2018-03-09 09:21] urzds commented on #2104
Please note that this issue is not about whether `minishift` can be ported like this from one machine to another, but about the bad error message it prints in case of failure.

[2018-03-09 12:27] budhrg opened #2106 "Refactor all error messages to start with small letter"
This piece in our code always poke me whenever I see the error messages like

https://github.com/minishift/minishift/blob/2b3e3a210089bf748730daf8fdd71ec44dde3bcc/pkg/minishift/clusterup/clusterup.go#L168-L170

in the code. This format is used across all the codebase.

Ideally, we should start error message with small letter unless proper nouns or acronyms
See https://github.com/golang/go/wiki/Cod

[2018-03-09 12:49] gbraad commented on #2106
Sounds very needless to address, unless we have a consistent way to show message prefixed with `Error: `. Even then, we can solve this as part of the logging facade with a `firstToLower `

[2018-03-09 12:53] gbraad commented on #2106
This only makes sense with #169, and even then it pays off to solve this with a function to handle this at first.

[2018-03-09 13:00] ibaboo opened #2107 "Cannot login to minishift as admin"
### General information

  * Minishift version: minishift v1.14.0+1ec5877

  * OS: Linux
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. minishift start
  2. oc login -u system:admin

### Expected
login as admin

### Actual
Does not login

oc login -u system:admin
Authentication required for https://192.168.99.100:8443 (openshift)
Username: system:admin

### Workaround

https://github.com

[2018-03-09 18:14] robin-owen opened #2108 "Document use of setx for Hyper-V virtual switch"
The Hyper-V virtual switch documentation in **_getting-started/setting-up-driver-plugin.adoc_** uses `set` to set environment variables for Command Prompt and `$env` to set them for PowerShell. Both of these methods will change the environment for the current shell session, but will not persist. The `setx` utility can set environment variables in the registry to persist these settings, but will no

[2018-03-09 20:59] paidhi opened #2110 "minishift --metrics fails to start for v3.7.1"
### General information

  * Minishift version: v1.14.0+1ec5877
  * OS: macOS (10.13.3)
  * Hypervisor: xhyve

### Steps to reproduce

  1. minishift start --metrics --alsologtostderr

### Expected
Create and deploy pods for Hawkular

### Actual
Fails to run pod `openshift-ansible-metrics-job...`

### Logs

The log states a failure in pulling image "openshift/origin-ansible:v3.7.1". Tag v3.7.1 doe

[2018-03-10 10:50] gbraad commented on #2110
Please file this against OpenShift/origin

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-03-10 20:23] LalatenduMohanty commented on #1878
@praveenkumar @anjannath @amitkrout I think you all are running older version of docker image of minishift/minishift-docs-builder

For me it is working fine. Check below logs.

[code]

[2018-03-11 01:48] davidkarlsen commented on #2058
@LalatenduMohanty Are there any workarounds to the issue @mtttcgcg reported (I get Error from server (Forbidden): User "developer" cannot get securitycontextconstraints.security.openshift.io at the cluster scope: User "developer" cannot get securitycontextconstraints.security.openshift.io at the cluster scope (get securitycontextconstraints.security.openshift.io anyuid) - I have the same issue.

[2018-03-11 14:53] dcdh commented on #599
I have reached the limit (pv0100). When I want to create a new storage I get this event message "no volume plugin matched".
I've removed all pv (except one).

How can I **reset** PV generator to have a new one dynamicaly generated (as pvXXXX) ?

[2018-03-11 18:41] paidhi commented on #2110
I have created an issue at https://github.com/openshift/openshift-ansible/issues/7487

[2018-03-11 18:41] #2110 closed

[2018-03-11 19:31] LalatenduMohanty commented on #199
@JimTyrrell Please take a look at https://github.com/minishift/minishift/pull/2113/ . I am trying add this information to documentation.

[2018-03-11 23:55] tylerauerbeck commented on #2107
@ibaboo I'm not seeing those issues:

$ minishift version
minishift v1.14.0+1ec5877

[2018-03-12 02:34] gbraad opened #2114 "Unable to restart/reboot when using Minikube ISO"
[code]

Reproducible with:
[code]

It will actually never do the second `minishift start`. If you break it off or wait until:
[code]

When you use `minishift ssh -- docker ps` you will notice the error message as above: `Cannot connect to the Docker daemon`

[2018-03-12 02:34] gbraad commented on #2114
@minishift/minishift-dev anyone noticed this?

[2018-03-12 04:07] praveenkumar commented on #2114
@gbraad I don't see or able to reproduce it.

[code]

[2018-03-12 04:07] gbraad commented on #2114
Do not see this issue with:

[code]

[2018-03-12 04:49] gbraad commented on #2114
Funny... but the ISOs seem to be identical?
[code]

but the behaviour is different... :-s ???

[2018-03-12 04:56] amitkrout commented on #1878
@LalatenduMohanty Still i am facing the same problem reported earlier. Did you modify or set any environment before the run ?

[code]
[code]

[2018-03-12 05:11] praveenkumar commented on #2114
@gbraad can you paste the output end to end of `minishift delete --force; minishift start --iso-url minikube; minishift stop; minishift start --iso-url minikube; minishift ssh -- docker ps` ? I hope it's not the issue with sparsebundle image.

[2018-03-12 05:53] gbraad commented on #2114
I guess minikube doesn't like to work in the morning hours. At the moment it works (again)...

[2018-03-12 05:53] gbraad commented on #2114
I am actually trying this on KVM(Linux).

[2018-03-12 06:29] LalatenduMohanty commented on #1878
Nope, I have not changed anything. It is running with all default settings.

[2018-03-12 06:30] LalatenduMohanty commented on #1878
So you guys seeing this error `Image cannot be run as root. Use -u option of 'docker run' to specify a uid.`. Wondering why you need to run the container as root. Are you running with latest Docker for Mac?

[2018-03-12 07:19] amitkrout commented on #1878
@LalatenduMohanty Long back i installed docker on mac.
[code]
Which version of docker you are running ?
or else i will download the latest version of docker form [1] and check
[1] https://docs.docker.com/docker-for-mac/install/#download-docker-for-mac

[2018-03-12 07:32] amitkrout commented on #1878
Seeing the same problem with latest docker edge release
[code]

[2018-03-12 11:19] amitkrout commented on #2107
@ibabooI am not able to reproduce the issue you are facing. What I m suspecting, in your case there might be old oc reference present in the path. Please try these steps

1. ./minishift start
2. eval $(./minishift oc-env)
3. oc login -u system:admin

[2018-03-12 11:56] amitkrout commented on #2105
minishift fails to find hyper-v virtual switch on windows

@dgauda The section ```Steps to reproduce``` is not clear. Can you please elaborate it more.

[2018-03-12 12:03] amitkrout commented on #2103
@dgauda  Can you please try the same on latest minishift release [v1.14.0](https://github.com/minishift/minishift/releases/tag/v1.14.0)

[2018-03-12 12:59] amitkrout commented on #2105
https://docs.openshift.org/latest/minishift/getting-started/setting-up-driver-plugin.html#hyper-v-driver @dgauda

[2018-03-12 15:00] agajdosi commented on #1877
Not able to reproduce the issue with script:
[code]

digging in the integration test run now.

[2018-03-12 15:58] JimTyrrell commented on #199
@LalatenduMohanty not sure how to see this?  Any links would be helpful?  Sorry.

[2018-03-12 17:21] sherifkhedr opened #2115 "minishift installation problem"
### General information

  * Minishift version:
  * OS: Linux (ubuntu 14.04 )
  * Hypervisor:  VirtualBox 5.2

wen i run this command :

$ minishift start

 this problem appears to me :

-- Starting profile 'minishift' -- Checking if requested hypervisor 'virtualbox' is supported on this platform ... OK -- Checking if VirtualBox is installed ... FAIL See the 'Installing Prerequisites for Minishift

[2018-03-12 17:46] robnester-rh commented on #2088
Just piping up to indicate that the reason for this issue stemmed from a change in the default storage driver in docker 1.13 from devicemapper to overlay2

[2018-03-12 20:45] felixbecker opened #2116 ""template-service-broker-registration" not found"
### General information
Hi, I have a hard time installing/enabling service-catalog on minishift. It looks like the template is not on board. Do I need to install something else? I basically try install it passing the `--service-catalog` flag. Do I miss something here?

  * Minishift version:
    v.1.14.0 / openshift/origin:v3.7.0
  * OS: Linux / macOS / Windows
   Mac El Capitan
  * Hypervisor: KV

[2018-03-13 00:23] jberkus opened #2117 "Minishift 1.14 will not start on Fedora with KVM"
### General information

  * Minishift version: 1.14.0
  * OS: Fedora 27
  * Hypervisor: KVM

### Steps to reproduce

  1. Follow driver installation instructions at: https://docs.openshift.org/latest/minishift/getting-started/setting-up-driver-plugin.html
  2. Follow installation instructions at: https://docs.openshift.org/latest/minishift/getting-started/installing.html
  3. Get:

[code]

### Ex

[2018-03-13 03:08] gbraad commented on #2087
Unable to reproduce:

[code]

[2018-03-13 03:14] gbraad commented on #2087
@pjos can you tell me which version of Windows and build you are running?

[code]

[2018-03-13 03:26] gbraad commented on #2087
@budhrg were you able to get it to reproduce for you?

[2018-03-13 06:25] budhrg commented on #2072
Resolved by https://github.com/minishift/minishift/pull/2084

[2018-03-13 06:25] #2072 closed

[2018-03-13 08:27] #1958 closed

[2018-03-13 09:32] agajdosi opened #2118 "CI fails because circle.yml has moved"
In documentation we need to change link `https://github.com/minishift/minishift/blob/master/circle.yml` to `https://github.com/minishift/minishift/blob/master/.circleci/config.yml` in order to pass HTML-Proofer check.

[2018-03-13 10:09] jorgemoralespou commented on #1130
@LalatenduMohanty This is preventing from creating addons. I have some addons in the pipeline that can't work as can't be run twice and safe removal is not an option.

e.g. Validate that kube-system namespace is there, if not create it, if there is, use it. I can't just delete that namespace on removal, so the namespace might or might not exist. I would hope this is done soon. It's been delayed fo

[2018-03-13 10:15] anjannath commented on #2117
@jberkus This is strange, if you have followed the instructions on the links you gave, the check should not fail.

Can you check if creating and running a VM is working in your machine by using Virtmanager or qemu?

[2018-03-13 11:02] ochaloup commented on #2089
I think I was experiencing the same/similar issue

[code]

I found I forgot to start docker daemon before I got to start the minishift. I mean `sudo systemctl start docker` helped me to start the Minishift (in version 1.14.0 now).

I'm not sure if it's the case. At least for my case the error message is a bit cryptic.

[2018-03-13 11:12] anjannath commented on #2118
Resolved via #2119

[2018-03-13 11:12] #2118 closed

[2018-03-13 12:51] sherifkhedr commented on #2115
any update

[2018-03-13 12:54] agajdosi commented on #1877
@LalatenduMohanty @budhrg Seems this is reproducible but only on CentOS-CI slaves: https://ci.centos.org/job/minishift-pr/3701/console.

However if I remove OpenShift restart from the feature file, rollout goes fine. Thus I am going to focus on restart related areas, will check whether the registry is up after the restart.

[2018-03-13 23:48] jberkus commented on #2117
Virtmanager runs, however, the Fedora cloud image won't complete boot-up.

Currently investigating whether this is an issue with the virt setup on this machine.

[2018-03-14 00:35] gbraad commented on #2117
@jberkus can you provide a startup log with `minishift start --show-libmachine-logs -v5` ?

[2018-03-14 00:59] gbraad commented on #2117
Since this test checks the inclusion of the driver on your path: https://github.com/minishift/minishift/blob/973bbfd90741ef129563f9a8eae4fa4f470eb250/cmd/minishift/cmd/start_preflight.go#L281 you might check if the driver is executable or really available at the correct location.

[2018-03-14 02:42] gbraad commented on #2087
related to an issue with `handle-user-data`... it seems `fd0` trhows off the data partition code.

[2018-03-14 03:57] praveenkumar commented on #2107
@ibaboo which ISO are you using, I can see below logs for your explanation. https://github.com/openshift/origin/issues/18596

[code]

[2018-03-14 04:53] praveenkumar commented on #2116
@jorgemoralespou any idea around it?

[2018-03-14 05:00] praveenkumar commented on #2115
@sherifkhedr As per provided logs `Checking if VirtualBox is installed ...FAIL` which means virtualbox not installed or not in the PATH. Can you please check once if VirtualBox installed and in the path?

This test try to run `VBoxManage -v` on the target platform so if it is not in the PATH then it will fail.

[2018-03-14 05:19] praveenkumar commented on #1130
@jorgemoralespou What if we only provide a single notation `@` for the command which you want to ignore the failure and remaining dsl will be as it is? Instead of creating 3-4 different abbreviation for it.

[code]

[2018-03-14 05:20] praveenkumar commented on #1130
I am changing the milestone for this issue `v1.15.0` since @jorgemoralespou requested this for some time now and this issue is here for months.

[2018-03-14 05:34] gbraad commented on #2087
@pjos it should be working with the following ISO: http://artifacts.ci.centos.org/minishift/minishift-centos-iso/pr/227/

[2018-03-14 05:54] gbraad commented on #1908
Another issue with the current version: #2116

[2018-03-14 06:25] ibaboo commented on #2107
I am using Virtual Box

[2018-03-14 06:51] dgauda commented on #2103
Hi Amit,

I see below errors while deploying minishift 1.14.0 version on VirtualBox Version 5.1.22 r115126 (Qt5.6.2)

Thanks
Dinu
StackTrace:
(minishift) DBG | COMMAND: C:\Program Files\Oracle\VirtualBox\VBoxManage.exe list hostonlyifs
(minishift) DBG | STDOUT:
(minishift) DBG | {
(minishift) DBG | }
(minishift) DBG | STDERR:
(minishift) DBG | {
(minishift) DBG | }
(minishift) DBG | Searching for

[2018-03-14 06:55] dgauda commented on #2105
@amitkrout I did followed steps fot setup driver plugin   . https://docs.openshift.org/latest/minishift/getting-started/setting-up-driver-plugin.html#hyper-v-driver

[2018-03-14 08:18] budhrg commented on #1877
retest this please

[2018-03-14 08:21] budhrg commented on #2087
@pjos Please use ISO from http://artifacts.ci.centos.org/minishift/minishift-centos-iso/pr/227/ as 1.7.0 has some issue.

[2018-03-14 09:01] dgauda commented on #2103
I am now able to deploy minishift on latest VirtualBox 5.2.8 using powershell (Admin).

[2018-03-14 09:01] #2103 closed

[2018-03-14 09:53] mwaeckerlin commented on #1998
@cleberlira, how did you solve the problem?

I have the same problem, but  `./minishift-1.14.0-linux-amd64/minishift start` aborts after the line `-- Checking if Libvirt default network is active ... FAIL`:
[code]

What's wrong?
How to fix it?

The given URL does not help,I already follwed all steps mentioned there.

[2018-03-14 10:05] gbraad commented on #1998
He solved it by being patient and just wait...

... this is the issue I had with the console output changes that `oc cluster up` made. It is now TOO silent... I'd rather see them doing a progress dot... or we introduce it.

[2018-03-14 10:06] gbraad commented on #1998
@mwaeckerlin can you please file a new issue but this feels like you haven't defined the default network. More info is needed... so file a new issue...

[2018-03-14 10:22] jorgemoralespou commented on #1130
@praveenkumar I'm fine. As described in the issue, request to handle output is nice to have, but would be fine if only logged internally and without that notation, but providing appropriate log levels.

With regards to whether **@** or **!**, I would favour the latter, as IMHO is more clear, but maybe just in my mind. I'll accept anything as long as feature is done.

[2018-03-14 10:30] mwaeckerlin opened #2121 "Pre-flight check for libvirt default network fails when LANG is set to Swiss-German"
### General information

  * Minishift version: 1.14.0
  * OS: Linux, Ubuntu 16.04
  * Hypervisor: KVM and VirtualBox should be availablle, how do I choose one if them?!?

### Steps to reproduce

 1. Goto https://www.openshift.org/minishift/
 1. Follow link to https://github.com/minishift/minishift/releases
 1. Download latest minishift release
 1. Back to previous document, follow link to https:/

[2018-03-14 12:09] anjannath commented on #2121
@mwaeckerlin can you check if the default network is active, please use this command and paste the o/p here
`virsh --connect qemu:///system net-list`

[2018-03-14 12:28] LalatenduMohanty commented on #2108
Resolved by #2109

[2018-03-14 12:28] #2108 closed

[2018-03-14 12:43] LalatenduMohanty commented on #2054
Resolved via #2055

[2018-03-14 12:43] #2054 closed

[2018-03-14 13:39] mwaeckerlin commented on #2121
Yes it is:
[code]

[2018-03-14 13:42] mwaeckerlin commented on #2121
BTW: Is it possible to get a useful error message from this black box? What command exactly failed?

Perhaps you should know, that my notebook is running in a company environment, where many networks are already used, i.e. the one OpenShift installes the registry. So I expect minishift to create a routing to it's own independent NAT translated network?

[2018-03-14 13:55] pjos commented on #2087
@budhrg @gbraad  minishift-centos-iso PR-227 is working great! Excellent work!

`iso SHA256: 35bcd6253a86505aefb5b4d8cf9d8955a0ad55d65500caac974e442c3e100ac1 `

[code]

[2018-03-14 14:04] hferentschik opened #2122 "Determining whether a host folder is mounted is not taking source and target into account"
The code looks like this:

[code]

The code only checks whether the output of `cat /proc/mounts` contains the mount point. However, this fails, if for example the mountpoints are foo and foo1. Really the output should be considered line by line and take hostfolder source and target into account.

[2018-03-14 14:10] hferentschik opened #2123 "sftpd server should do proper key based authentication"
Right now the code in `sftpd.go` accepts any public key. To make things more secure, we should implement an authorized key mechanism. See also https://github.com/golang/crypto/blob/master/ssh/example_test.go.

We already create a key pair on the VM as part of the sshfs host folder setup. The public key should be copied to a known location within the MINISHIFT_HOME directory. Either as dedicated fi

[2018-03-14 14:11] hferentschik opened #2124 "Make SSHFS host folders the default"
Once we gained some experience with SSHFS host folders and iron out existing issues, it makes sense to make SSHFS the default, since it works w/o any requirements.

[2018-03-14 14:15] hferentschik opened #2125 "Add port verification for hostfolders-sftp-port config option"
SSHFS host-folders introduces `hostfolders-sftp-port` as a persistent config option to set the port for the sftp server. At the moment, there is only an `isPositive` validation configured in `config.go`.  We should create a port specific validation which verifies a that the option is in a valid port range.

[2018-03-14 14:44] hferentschik opened #2126 "Write integration test for SSHFS host folder"
Something along the lines:

* minishift hostfolder list -> nothing there
* minishift hostfolder add ... -> host folder defined
* minishift hostfolder list -> host folder defined, but not mounted
* minishift hostfolder mount -> host folder gets mounted, runs some commands that the file system is mounted and writable, etc
* minishift hostfolder list -> host folder defined and mounted
* minishift hos

[2018-03-14 14:47] hferentschik opened #2127 "Provide usage examples for host folders"
The docs around host folders should add some actual use cases and go beyond the pure syntactical description of the commands. As part of this, we could also give some more insight on the layout if the VM filesystem.

[2018-03-14 14:51] hferentschik opened #2128 "Investigate whether there are better sshfs mount options we can use"
Currently, we use:

[code]

There are many more options which might help to improve performance and or file permissions. Some investigation and experiments around this would be nice.

We could also let the user specify his own options, amending or overriding the default mount options. Technically we should be able to use the `--options` flag of the `hostfolder add` command.

[2018-03-14 16:06] hferentschik opened #2129 "Improve seperation of cmd and pkg for host folder actions"
`cifs_hostfolder.go` still does a lot of writing to the console, like `fmt.Println("OK")` or `fmt.Println("FAIL")`. This should really happen in the _cmd_ part of the source tree.

One can try to further separate it or if not possible to cleanly separate a `Writer` should be passed along, and the messages should be written to the writer. This allows to discard messages or write to stdout, etc

[2018-03-14 17:50] mshahat commented on #2037
Hi,

Ran minishift fine for few rounds, then did stop at one time and now i'm not able to bring it up again.

macOS 10.13.3 (17D47)

[code]

[code]

Thanks

[2018-03-14 19:20] LalatenduMohanty commented on #317
Resolved via https://github.com/minishift/minishift/pull/2093

[2018-03-14 19:20] #317 closed

[2018-03-14 19:20] LalatenduMohanty commented on #959
Resolved via https://github.com/minishift/minishift/pull/2093

[2018-03-14 19:20] #959 closed

[2018-03-14 19:21] LalatenduMohanty commented on #2092
Resolved via https://github.com/minishift/minishift/pull/2093

[2018-03-14 19:21] #2092 closed

[2018-03-15 05:43] praveenkumar commented on #2107
@ibaboo as per logs you are using `kvm` if you want to use the VirtualBox then `--vm-driver virtualBox` is needed as start option.

[2018-03-15 05:46] gbraad commented on #2124
I would like to set a expected timeframe to do this. Hopefully as short as possible... the longer we wait, the more problematic this might become.

[2018-03-15 05:48] gbraad opened #2131 "Allow a remote host to be mounted using sshfs"
The current implementation expects to find a sftp daemon on the host, and connect with `docker@[HOSTIP]`. it might be beneficial to allow mounting a remote machine

[2018-03-15 05:49] gbraad commented on #2131
This might depend on #2123

[2018-03-15 05:56] gbraad commented on #2122
The above code can be found here:

https://github.com/minishift/minishift/blob/c56f051fa872e8fd15d41544f6096e01f8a6845a/pkg/minishift/hostfolder/hostfolder_manager.go#L103-L136

We might also have to check:

https://github.com/minishift/minishift/blob/c56f051fa872e8fd15d41544f6096e01f8a6845a/pkg/minishift/hostfolder/hostfolder_manager.go#L284-L297

[2018-03-15 05:57] gbraad commented on #2114
Haven't been able to reproduce now...

[2018-03-15 05:57] #2114 closed

[2018-03-15 05:58] gbraad commented on #2105
Make sure you have enough memory and/or disk space available.

[2018-03-15 06:00] gbraad commented on #2087
sorry for the delay. closing the issue...

[2018-03-15 06:00] #2087 closed

[2018-03-15 06:56] praveenkumar opened #2132 "Update xpaas image stream and templates"
Reference: https://bugzilla.redhat.com/show_bug.cgi?id=1554218

[2018-03-15 07:09] budhrg commented on #2124
+1 for making sshfs host folers as default.

[2018-03-15 07:11] amitkrout opened #2133 "Add test for EAP 7.1 template in addon-xpass.feature"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected
EAP 7.1 template deployment should successful

### Actual

### Logs

You can start Minishift with `minishift start --show-libmachine-logs -v5` to collect logs.
Please consider posting this on http://gist.github

[2018-03-15 07:34] amitkrout commented on #2133
#2132

[2018-03-15 08:31] containscafeine opened #2134 "minishift openshift version list and --openshift-version is broken"
### General information

  * Minishift version: minishift v1.14.0+1ec5877
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

[code]
### Expected
There are invalid versions being shown in `minishift openshift version list` and hence it fails to start is `minishift start --openshift v3.8.0`.

[2018-03-15 08:36] praveenkumar commented on #2134
We have a PR in place to fix list command out.

[2018-03-15 08:44] amitkrout opened #2135 "EAP 71 templates are not installed from xpaas add-on"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. ./minishift start
  2. ./minishift addons apply xpaas
  3. ./minishift console
  4. Search for ```EAP 7.1``` template

### Expected
As we have ```EAP 7.1``` template available in xpaas [addons directory](https://github.com/minishift/minish

[2018-03-15 08:47] amitkrout commented on #2133
#2135

[2018-03-15 08:57] praveenkumar opened #2136 "Add a new verification method to test port range for sshfs"
Currently, we are testing port defined for sshfs as a positve value but this check should be defined a range of port which is allowed 1024-65536 so that we can tell user at early stage about which port should be used for config.

[2018-03-15 09:12] LalatenduMohanty commented on #2067
Resolved via #2097

[2018-03-15 09:12] #2067 closed

[2018-03-15 09:51] ibaboo commented on #2107
@praveenkumar, actually I have tried with both Vbox and kvm with the same results

[2018-03-15 13:41] budhrg opened #2137 "Allow to install and list all the community add-ons"
@cmoulliard asked me

and at present, we don't have such mechanism.
A similar issue we have https://github.com/minishift/minishift/issues/635 which is to install addon from the remote location.

My idea here is, for above usecase, we can
- List community addons with `minishift addons list --community` ( suggest for different flag )
- Install community addon as `minishift addons install --community

[2018-03-15 13:57] cmoulliard commented on #2137
I like the idea to install `community` addons but then we should know from where they are coming from and have also the possibility to install addons released/tagged

[code]

and for the tagged addons

[code]

if, by default, the project is cloned from master or another branch, we need also a way to update it
and the commit id should be listed when we list addons info

[code]

[2018-03-15 17:33] Ursula commented on #1287
I have been struggling for a week now to deploy to a minishift instance started with  --public-hostname localhost --routing-suffix 127.0.0.1.nip.io.   I need to be able to access this from a remote desktop.  I followed the suggestions to use ssh tunneling and that works to access the console.  However I cannot get the deploy  to work using fabric8  or manually.   The error I am getting when trying

[2018-03-15 19:38] arilivigni commented on #2102
@gbraad This is currently blocking us on new installs.  Is there a way we can specify a location of a cached version to get around this or are you planning a fix for this very soon?

[2018-03-15 19:58] mshahat opened #2138 "Minishift avoid ip change"
Hi,

Very simple question please.

On macOS, how could i start minishift ? and start it over again the next day without receiving all sorts of errors because of ip changes ?

I've tried xhyve and virtualbox.

Appreciate some direction please.

`minishift start --memory 4GB --vm-driver virtualbox` is how i start it

Many thanks,

[2018-03-15 20:25] LalatenduMohanty commented on #2102
@arilivigni You can use the work around `$ minishift config set skip-check-openshift-release true`

Refer https://github.com/minishift/minishift/issues/2083

[2018-03-15 20:52] mshahat commented on #1515
@LalatenduMohanty i can see that the latest milestone was v1.14 a month ago. I've that installed `minishift v1.14.0+1ec5877`

any idea how to use minishift for more than few minutes ?

Cheers,

[2018-03-15 21:19] arilivigni commented on #2102
@LalatenduMohanty I still hit this running on an Openstack VM with that setting.

/home/cloud-user/minishift/minishift start --profile minishift --disk-size 40gb --memory 6400mb --iso-url file:////home/cloud-user/minishift/minishift.iso --show-libmachine-logs -v5
-- minishift version: v1.14.0+1ec5877
-- Starting profile 'minishift'
-- Checking if requested OpenShift version 'v3.7.1' is valid ... S

[2018-03-16 04:33] praveenkumar commented on #2138
@mshahat we have a PR #1513 in place which is currently under review, It would be great if you can also try out in your setup and provide us early feedback.

To test this PR you need below prerequisites.

- CentOS ISO => http://artifacts.ci.centos.org/minishift/minishift-centos-iso/pr/227/minishift-centos7.iso
- Minishift binary artifact => http://artifacts.ci.centos.org/minishift/minishift/pr/184

[2018-03-16 04:50] praveenkumar commented on #2121
@mwaeckerlin Following is the code which check the default network state. as per your output of `virsh` command it looks active but this check is failing. there is also a way to ignore that test by executing `minishift config set skip-check-kvm-driver true` and then run again.

[code]

[2018-03-16 04:51] jberkus commented on #2117
No, something's defintely borked on my KVM setup, probably due to installing Katacontainers.  I'll re-open this if I get to the point of a clean KVM.

[2018-03-16 04:51] #2117 closed

[2018-03-16 06:21] amitkrout commented on #1318
I have added a working registry-route feature file. I have commented some steps there which yet to be implemented/factored. To make this work i used the step ```And user waits "40" seconds``` (Not recommended). Later ```wait``` step will be removed once container status is implemented.

[2018-03-16 07:20] LalatenduMohanty commented on #2138
@mshahat I am closing this as it is a duplicate issue of #1457 as @praveenkumar mentioned please try the PR and let us know.

[2018-03-16 07:20] #2138 closed

[2018-03-16 07:26] LalatenduMohanty commented on #2137
-1 for using community keyword here. When we are talking about an upstream project, everything in the project means community. We can provide a way to list the catalogue and as @cmoulliard said a way to update the add-ons. But at this point it is not a priority.

[2018-03-16 07:44] LalatenduMohanty commented on #2134
@containscafeine we are aware of the issue . This is a duplicate of https://github.com/minishift/minishift/issues/2069 . Hence I am going to close this issue.

[2018-03-16 07:44] #2134 closed

[2018-03-16 07:46] LalatenduMohanty commented on #2131
@gbraad I am not sure what use case it will solve? can you please give more context. At this point we are only trying to resolve the local host folder mount use case as this is our primary objective.

[2018-03-16 07:52] gbraad commented on #2131
this would make bring feature parity to CIFS and possible NFS in future.
CIFS has been used by people to mount remote endpoints for testing. It is
an expectation people will have with a mount option.

[2018-03-16 09:06] LalatenduMohanty commented on #2122
+1 . We need to fix it soon as users will find this as a bug.

[2018-03-16 09:25] LalatenduMohanty opened #2139 "Internationalization (i18n) of Minishift"
At this point we get issues when the local OS language is not English e.g. https://github.com/minishift/minishift/issues/2121 . We should look at this issue as whole make Minishift work in other languages too.

[2018-03-16 09:31] amitkrout commented on #2105
@dgauda i am able get the same error while running the second profile with ```memory 5120```. Profile fails if Hyper-V does not get the claimed memory. And these Hyper-V failure is not reported properly in docker machine.

To see the actual error you can use the command in powershell ```start-vm -name foo```
[code]

[2018-03-16 10:14] gbraad commented on #2121
can we keep a constructive tone?

please explain what makes you say, the documentation is a mess. We have an issue already, being worked on #1817 to streamline the installation descriptions.
Also, calling something bad programming is generally a no-go. We try to set `cmd.Env = cmdUtils.ReplaceEnv(os.Environ(), "LC_ALL", "C")`, but for some reason this fails on your machine? We have tested this und

[2018-03-16 10:21] gbraad commented on #2139
This is already reported in other issues, and as #1584. Do we really need a general task like this? I do not think this helps without identifying the issues first. @agajdosi

[2018-03-16 10:22] gbraad commented on #1584
@agajdosi can we do something to speed this up?

[2018-03-16 10:29] gbraad commented on #2121
in that case, use `--vm-driver virtualbox`.

[2018-03-16 10:37] gbraad commented on #2121
Off-topic: a PR for the documentation is available as #2025

[2018-03-16 10:37] mwaeckerlin commented on #2121
@gbraad, Sorry, I criticize with the idea of helping to make things better. I thought my problems regarding documentation was obvious from my description. Reading was not so straight-forward, so at the end, when the script did not work as expected, I had no idea whether it because of a bug in the script or because I missed something in the documentation.

Starting at https://www.openshift.org/mini

[2018-03-16 10:42] mwaeckerlin commented on #2121
@gbraad, regarding the LANG, I have a Ubuntu 16.04 installed from server ISO with KDE desktop and Swiss-German language environment. `LANG` is set to `de_CH.UTF-8`.

As you see above, `LANG= minishift start` is sufficient to dispose the language settings.

[2018-03-16 11:00] gbraad commented on #2129
`pkg` should ideally return `bool, error` states. Rather do not see a `Writer` being used... unless we have several messages to capture. But likely bubbling an error up would be sufficient enough.

[2018-03-16 11:16] gbraad commented on #2121
@mwaeckerlin I noticed the `LANG=`, but perhaps this is acted on differently in Ubuntu. Needs some investigation.

But yeah, i can agree that the `--vm-driver` stuff is hidden away. It is mentioned on https://docs.openshift.org/latest/minishift/getting-started/quickstart.html#starting-minishift and tucked away in a note. If you can have a look at the PR I provided earlier... maybe it provides what

[2018-03-16 11:17] LalatenduMohanty commented on #2139
@gbraad I think #1584 is fine, Some how I forgot about it. I will close this as duplicate.

[2018-03-16 11:17] #2139 closed

[2018-03-16 11:18] gbraad commented on #2121
Thanks for the detailed description.

Note: I also want to protect my team of course... hope you understand. ;-). Although we are quite thick-skinned, we might take this back home or out onto the family

[2018-03-16 11:47] jorgemoralespou opened #2140 "3.9 will break registry-route addon"
[code]

[2018-03-16 12:05] LalatenduMohanty commented on #1515
@mshahat The issue is not resolved yet.

Sorry I do not understand what you are saying here. Do you mean the IP of the VM changes every few minutes for you? If so that's an issue. I am struggling hard to reproduce the IP change ( I have two wifi networks) but have not able to reproduce even once.

[2018-03-16 12:16] mshahat commented on #1515
Well it mainly happens for me after stop then start again , every other time.

I am using virtualbox, but also happened with xhyve

Cheers

[2018-03-16 12:17] LalatenduMohanty commented on #2107
@ibaboo Can you please uninstall Minishift https://docs.openshift.org/latest/minishift/getting-started/uninstalling.html and try again with `minishift start --vm-driver virtualbox`

[2018-03-16 12:28] budhrg opened #2141 "Remove vmwarefusion depreciation code"
We have already removed the `vmwarefusion` from all of our documentation with https://github.com/minishift/minishift/issues/1602.

I think we need to remove all code specific to `vmwarefusion` from our code base.
See https://github.com/minishift/minishift/search?utf8=%E2%9C%93&q=vmwarefusion&type=

[2018-03-16 12:51] LalatenduMohanty commented on #2104
@urzds We do not support this use case at all, so we are not planning to invest time to fix the error message. However we will welcome any contribution in fixing the error message.

[2018-03-16 12:51] #2104 closed

[2018-03-16 12:53] LalatenduMohanty commented on #2140
@jorgemoralespou Thanks, do you know when it is coming out?

[2018-03-16 13:00] jorgemoralespou commented on #2140
End of month

[2018-03-16 13:23] robin-owen commented on #2121
@mwaeckerlin @gbraad Some of the described issues should be taken care of by #2025. The primary intent behind that PR is to make navigation of the required steps much simpler. There's a viewable build of the documentation as it exists in that PR which you can access via the [CentOS CI artifacts](http://artifacts.ci.centos.org/minishift/minishift/docs/ondemand/robin-owen-issue-1817/openshift-origin

[2018-03-16 13:41] anjannath commented on #2128
I will do the required investigation about sshfs options.

[2018-03-16 13:44] anjannath commented on #2136
Looks like this is a duplicate of #2125, as both has the same purpose of verifying the port number for sftp server. am i right @praveenkumar ?

[2018-03-16 14:54] LalatenduMohanty commented on #2102
@arilivigni The rate limit you are seeing is from https://api.github.com/repos/openshift/origin/releases/tags/v3.7.1 i.e. you are trying to download a lot from that location.  If you can get the oc binary in to ~/.minishift/cache/oc/v3.7.1/darwin/oc (for macOS) you might by pass the error as it wont try to download the oc binary.

[2018-03-16 15:20] gbraad commented on #1515
Hmmmm, that is weird. The lease is actually quite long.

Can you try to use the PR 1849? Please find me on IRC and I explain or
debug with you; gbraad @ freenode, #minishift

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-03-16 15:52] arilivigni commented on #2102
@LalatenduMohanty Ok I will try that thanks!

[2018-03-16 16:57] jeffmaury opened #2142 "Can't export images from a build"
### General information

  * Minishift version:  v1.14.0+2b3e3a2
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Create a nodejs deployement
  2. Try to export the corresponding builder image
  3.
  4.

### Expected
We should be able to export the image but it has no tag so how to do ?

### Actual
Can't export the image

### Logs
docker images:

[code]

You can start Minis

[2018-03-16 20:39] LalatenduMohanty commented on #1326
Resolved by https://github.com/minishift/minishift/commit/d314d539836105846e3963687a99c13b0def41a8 #2071

[2018-03-16 20:39] #1326 closed

[2018-03-16 23:16] alaypatel07 opened #2143 "Using Libvirt-go bindings for checking default network active state"
Checking issues [#2121](https://github.com/minishift/minishift/issues/2121) and [this](https://github.com/minishift/minishift/pull/1593), I feel, if Libvirt-go bindings are used(hosted [here](https://github.com/libvirt/libvirt-go)), the code could look like:

[code]
This might solve the language problem.

[2018-03-17 14:12] anjannath commented on #2143
Awesome @alaypatel07 .. :+1:
I guess you are planning to send a PR also.. :)

[2018-03-18 07:53] budhrg commented on #2136
@anjannath @praveenkumar Yes it seems to be.

[2018-03-18 11:43] ppalaga opened #2144 "Checking requested OpenShift version fails when offline"
### General information

  * Minishift version: v1.14.0+1ec5877
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

The general expectation here is, that minishift should be able to start offline, once all the bits were cached during previous successful starts when the internet connection was on.

(1) With internet connection available

    minishift start

Expected: minishift starts cleanl

[2018-03-18 11:56] ppalaga commented on #2144
This seems to be a regression between 1.13.1 and 1.14.0.

1.13.1 works as expected. Some startup tasks fail, but the VM starts into a usable state:

[code]

[2018-03-18 14:46] budhrg commented on #2144
I won't say it is a regression as this pre-flight check of validating requested OpenShift version is using openshift origin release to see the request version is valid or not.

This we might need to disable during offline mode.

[2018-03-18 15:46] gbraad commented on #2136
Closing and adding comments to the other issue

[2018-03-18 15:46] #2136 closed

[2018-03-18 15:47] gbraad commented on #2125
this should check a defined range of ports which are allowed, eg. 1024-65536 so that we can tell user at early stage about which port should be used for config.

[2018-03-18 16:16] mhightower opened #2145 "Can I upgrade to openshift 3.9.0"
### General information

  * Minishift version: minishift v1.14.0+1ec5877
  * OS: macOS 10.11.6
  * Hypervisor: VirtualBox 5.1.24 r117012
  * Docker for MacOS: 17.12.0

I create a Dockerfile based on version 3 which after a lot of work I got working with my docker-ompose and Docker for MacOS Version 17.12.0.
Now I want to build the image using minishift environment.

It looks I may need to downgra

[2018-03-18 16:21] budhrg opened #2146 "Update default OpenShift version to v3.7.2"
OpenShift version v3.7.2 has been released https://github.com/openshift/origin/releases/tag/v3.7.2 and its a patch release.
We should move to this version.

[2018-03-18 16:51] anjannath commented on #2142
have you tried the [**`minishfit image export`**](https://docs.openshift.org/latest/minishift/command-ref/minishift_image_export.html) command?

[2018-03-18 16:54] anjannath commented on #2144
Yup, offline mode or once we have the requested `oc` version cached we should disable this check.

[2018-03-19 04:39] praveenkumar commented on #2116
This is something broken in `oc cluster up` side. @felixbecker can you please file issue to https://github.com/openshift/origin/issues ?

[2018-03-19 04:58] praveenkumar commented on #2116
Did tried with `v3.7.2` and got same error.

[code]