[2017-09-01 04:53] budhrg commented on #1335
It is sad to tell people like this instead of being documented as part of installation documentation. Even minikube has documented in its [requirement list](https://github.com/kubernetes/minikube#requirements).

I feel this is required for users who are trying first time any virtualization stuff.

[2017-09-01 04:55] budhrg opened #1337 "Document VT-x/AMD-v requirement"
With issues like this https://github.com/minishift/minishift/issues/1335, I feel we need to document enabling of `VT-x/AMD-v` prior to starting minishift.

Even minikube has documented in its [requirement list](https://github.com/kubernetes/minikube#requirements).

I feel this is required for users who are trying first time any virtualization stuff.

[2017-09-01 06:08] gbraad commented on #1335
It used to have the same structure, but some things regarded as 'generally known' might have been remved prematurely: The current [Prequisites](https://github.com/minishift/minishift/blob/master/docs/source/getting-started/installing.adoc#prerequisites) do not mention the need of Virtual Extension (VTx/Vanderpool Technology) in any form.

[2017-09-01 06:10] gbraad commented on #1337
For some reason, it got rewritten and lost. I agree this needs to be documented again.

[2017-09-01 06:33] amitkrout commented on #1216
#1327

[2017-09-01 06:37] amitkrout commented on #1216
#Coolstore integration test failed with timeout issue #1327

[2017-09-01 06:42] amitkrout commented on #1216
#1327

[2017-09-01 06:57] amitkrout commented on #1216
https://github.com/minishift/minishift/issues/1327

[2017-09-01 06:59] aditya-konarde commented on #928
@jstrachan @budhrg @LalatenduMohanty is someone already working on this? I would like to work on this as my first contribution to the project.

[2017-09-01 06:59] amitkrout commented on #1327
https://github.com/minishift/minishift/issues/1216

[2017-09-01 07:00] budhrg commented on #928
Go ahead @aditya-konarde :+1:

[2017-09-01 08:14] gbraad commented on #1316
For testing purposes:
[code]

[2017-09-01 09:17] amitkrout commented on #1327
@gbraad  @agajdosi Here the template is created through the [coolstore.yaml](https://github.com/minishift/minishift/blob/master/test/integration/templates/coolstore.yaml) file. I am facing little hard time for analyzing .yaml file.

If splitting of scenario is the case then individual image will be deployed directly through the cucumber step and creating of coolstore template need to drop. Please

[2017-09-01 09:27] gbraad commented on #1327
Lets first get the task #1216 done, with disregarding the state of Coolstore and/or the deployment. This also depends on the feedback and the debug output we can provide to the aforementioned issue at the JBossDemoCentral repo for CoolStore

[2017-09-01 09:43] amitkrout commented on #1327
Ack...

[2017-09-01 09:44] budhrg commented on #1277
Agree.

@LalatenduMohanty , @gbraad Should be environment variable? It is one of an exceptional case.

[2017-09-01 10:00] budhrg commented on #1277
As per discussion in IRC, we are going with environment variable approach as

[code]

[2017-09-01 10:02] gbraad commented on #1277
`s/are/might be/`

[2017-09-01 10:50] agajdosi commented on #1216
Not sure if it is planned to do, but to be sure: I just realized, that it would be useful to also implement a possibility to change the timeout value. Right now it is fixed on 3600 seconds and sometimes tests are hitting this 1 hour limit. For make integration all we should raise the default value probably, for basic it can be maybe lowered. But for sure being able to set it manually will be great

[2017-09-01 12:55] LalatenduMohanty commented on #1327
@gbraad IMO we should not wait for #1216 but try to get this fixed. I agree that we should use https://github.com/jbossdemocentral/coolstore-microservice/issues/74 to findout if there is any issue with the application.

[2017-09-01 13:57] gbraad commented on #1327
@LalatenduMohanty You misunderstand my reasoning. #1216 is a task about `make integration`, not about the actual applications it runs. You mean that you rather want to wait to integrate this new functionality because coolstore is failing?

I think we should finish #1216, merge and start using this for the CI and desktop based tests, and deal with the CoolStore issue along the way.

[2017-09-01 14:21] chrisfalter commented on #1337
You should be aware that when Hyper-V is enabled, it prevents any other hypervisor (such as VirtualBox) from accessing VT-x., per [this Technet discussion thread](https://social.technet.microsoft.com/Forums/windows/en-US/118561b9-7155-46e3-a874-6a38b35c67fd/hyperv-disables-vtx-for-other-hypervisors?forum=w8itprogeneral).

Some users may wish to install both Hyper-V and Virtual-Box, enabling only o

[2017-09-01 14:38] LalatenduMohanty commented on #1337
@budhrg agree lets add it to the documentation.

[2017-09-01 14:38] gbraad commented on #1337
@chrisfalter And this is expected. When VTx is disabled, it means that VirtualBox does not run optimally, as it can not use the Virtualization Extensions. Hyper-V requires VTx: https://technet.microsoft.com/en-us/library/cc731898(v=ws.11).aspx, https://technet.microsoft.com/en-us/library/hh831531(v=ws.11).aspx

You can NOT install both the same time. This is a known limitation: https://en.wikipedi

[2017-09-01 14:39] LalatenduMohanty commented on #1335
@chrisfalter Are you still having this issue? Did the suggestions work for you?

[2017-09-01 14:43] LalatenduMohanty commented on #1327
Nope. I want to keep #1216 and this task separate.

Not sure if you mean to run all tests on Minishift nightly or something similar. In that case we need to fix coolstore before that.

[2017-09-01 14:48] gbraad commented on #1327
CoolStore is part of Nightly. But as this is currently not been set up, it does not affect the delivery.

[2017-09-01 15:11] budhrg opened #1339 "Fix spinning wheel during startup for non b2d ISO"
The spinning wheel is not properly showing when used with RHEL 7 or CentOS ISO.

[code]

[2017-09-01 15:42] ylacaute commented on #838
@praveenkumar
Hi, what we should understand with your message ? The option **--public-hostname** ask for a hostname. So when we start minishift with a particular hostname, we can see in logs :

**The server is accessible via web console at:
    https://myhost:8443**

But this is not true. What we should expect with the option then ? And what we can do in order to be accessible ?

We tryed to build

[2017-09-02 05:57] hrishin opened #1341 "[Improvement] Autocomplete for minishift cli options"
Auto complete for `minishift` cli switches has implemented? It would be nice and handy to have this feature.

[2017-09-02 13:51] gbraad commented on #1341
Duplicate of #522

[2017-09-02 13:51] #1341 closed

[2017-09-04 04:35] budhrg commented on #1333
Any idea @jorgemoralespou where can we deploy [minibot](https://github.com/Minishift/minibot) publicly?

We were thinking of OpenShift online as one of the option.

[2017-09-04 04:48] #1296 closed

[2017-09-04 06:28] cmoulliard commented on #430
The command to set multiple values doesn't work using minishift 1.5, boot2docker - xhyve

[code]

[2017-09-04 06:43] praveenkumar commented on #430
@cmoulliard I am hoping that you want to expose your internal docker-registry with route. To make it work you need to have `registry-route` addon enabled/applied. You don't need to add that route as insecure registry because required cert should be auto created.

[code]

[2017-09-04 06:51] cmoulliard commented on #430
The addon you mentioned doesn't exist

[code]

[2017-09-04 07:03] cmoulliard commented on #430
No sure if this is related but I get unauthorized: authentication required

[code]

[2017-09-04 07:20] praveenkumar commented on #430
[code]

@cmoulliard here looks like logged into docker registry using route and then try to push image using internal service url `172.30.1.1` which also should be success. Can you check if you have tagged this image properly `ci-cd` should be project/namespace where developer have registry push access.

[2017-09-04 07:20] amitkrout opened #1342 "Default add-ons install message should not come for all commands"
[code]

[2017-09-04 07:32] cmoulliard commented on #430
Same issue if I issue these commands

[code]

How can I check if `developer` user has registry access to push ?

[2017-09-04 08:14] amitkrout commented on #1342
Here the problem is minishift version returns version and one extra add-ons installation line in the first run.
[code]
On second run on same binary returns the proper result.
[code]
This case ```$ make integration GODOG_OPTS="-tags command -format pretty"``` creates each time the compiled binary and runs the ```minishift version``` command . So the result doesn't match with the actual minishift ve

[2017-09-04 09:25] LalatenduMohanty commented on #1342
@amitkrout I think you are seeing this because https://github.com/minishift/minishift/issues/1203 got fixed. The add-ons behavior is same some time but you did not see this in your testing before. We should change the test https://github.com/minishift/minishift/blob/master/test/integration/features/cmd-version.feature to accommodate this

[2017-09-04 09:28] LalatenduMohanty commented on #1342
@amitkrout If you want keep this to track the change required we should change the description of the issue else we can close this.

[2017-09-04 09:55] amitkrout commented on #1342
@LalatenduMohanty

Ack

I am unsure which description you are saying. IMO rather closing this let the same issue for tracking the integration test changes

[2017-09-04 11:21] gbraad commented on #1342
Version command should not trigger an update of add-ons. This is a
side-effect

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-09-04 11:50] amitkrout commented on #1342
Have some more confusion on this. If scenario [step](https://github.com/minishift/minishift/blob/master/test/integration/features/cmd-version.feature#L7) grep the particular minishift version string some thing like this way ```Then stdout should conatin "regexp"``` then we are just hiding/ignoring the other string which might not be expected. IMO instead of changing the integration module we shoul

[2017-09-04 12:38] pkdone opened #1343 "Secrets volumes not mounted with correct permissions"
_[tested on Minishift version v1.5.0+ae62cf2 - same behaviour for both default boot2docker and centos based VMs]_

As part of my providing guidance around deploying MongoDB clusters to Kubernetes at [http://k8smongodb.net/](http://k8smongodb.net/) I have built sample projects for various common k8s platforms. My latest addition looks at OpenShift (specifically trying it on Minishift), see the samp

[2017-09-04 12:55] amitkrout opened #1344 "make integration failed for cmd-openshift feature"
[code]

[2017-09-04 13:06] amitkrout commented on #1344
As per the origin [doc](https://docs.openshift.org/latest/using_images/s2i_images/nodejs.html) adding the image tag to the scenario step resolves the issue.
[code]
Step where it is [failing.](https://github.com/minishift/minishift/blob/master/test/integration/features/cmd-openshift.feature#L36)

[2017-09-04 18:26] LalatenduMohanty commented on #1339
@budhrg I never noticed the issue when I used CentOS or RHEL ISO. Can you please explain the issue?

[2017-09-04 19:49] LalatenduMohanty commented on #1342
@amitkrout @agajdosi you do not see this in the vanilla path i.e. with `minishift start`.

@amitkrout you are seeing this because you have deleted the addons directory after `minishift start`. Can you please confirm?

[2017-09-05 06:04] warmchang commented on #974
@remmercier , I tried this:
My host OS is windows server 2012, and run VMware Workstation 12 Player to make some VMs (CentOS or Fedora).
The minishift can run correctly on these VMs (by the KVM Driver).

[2017-09-05 06:06] warmchang commented on #974
Certainly, it can run on the host OS correctly too (windows server 2012 with Hyper-V Driver).

[2017-09-05 06:23] gbraad commented on #974
@warmchang are you sure you use the KVM driver with VMware Workstation player?
Likely libmachine overrides the given paramter:

can you check `C:\Users\[username]\.minishift\machines\minishift\config.json` and let me know the value for `"DriverName"` ?

[2017-09-05 06:35] budhrg commented on #1339
@LalatenduMohanty , when did you tried?

Try with latest master,
[code]

[2017-09-05 07:24] amitkrout opened #1347 "make integaration failed for "minishift-only" tag"
Failed in step [minishift addons list](https://github.com/minishift/minishift/blob/master/test/integration/features/basic.feature#L24) and [minishift state ](https://github.com/minishift/minishift/blob/master/test/integration/features/cmd-openshift.feature#L45)

[code]
However the scenario [minishift addons list](https://github.com/minishift/minishift/blob/master/test/integration/features/basic.fe

[2017-09-05 08:26] praveenkumar commented on #1343
@jorgemoralespou you have any idea about this issue. I will try to reproduce it using `oc cluster up` on the host.

[2017-09-05 09:04] amitkrout commented on #1342
@LalatenduMohanty Thanks for clarifying vanilla path over irc i.e.  ```minishift start without changing .minishift directory```

True

With a clean setup i am able to reproduce it on fresh download of minishift binary (1.3.0, 1.3.1, 1.4.0 and 1.5.0) in first run. Then after in the consecutive run i am unable to reproduce it. As you mentioned above, same problem can be found if .minishift dir is de

[2017-09-05 10:05] LalatenduMohanty commented on #1342
We need find out if there can be anyway we can change the behaviour of `-- Installing default add-ons ... OK`. At this point this happens in root.go hence it shows up for every command.

@amitkrout please file another issue to change the test and lets track this issue for changing the behavior of `minishift version`.

[2017-09-05 10:25] LalatenduMohanty commented on #1342
I think we should move the `-- Installing default add-ons ... OK`  to `minishift start`and then it is better as user can anytime install the add-on with `minishift addon install --defaults` . @budhrg do you remeber why we have kept the code in root.go and not in start.go?

[2017-09-05 10:28] gbraad commented on #1342
This seems to be related to the fact to trigger an update of addons IIRC

[2017-09-05 10:31] LalatenduMohanty commented on #1342
@gbraad Thats a different code responsible for handling the update scenario

[2017-09-05 10:49] #1277 closed

[2017-09-05 11:51] budhrg opened #1348 "Abstract the code to create progress dots"
As per the fix of #1277 in the PR #1340 , we missed extracting the code to create progress dots here https://github.com/minishift/minishift/blob/master/cmd/minishift/cmd/start.go#L300.

Probably, good to extract this into `pkg/util/utils.go` along with functions like `StartProgressDots`.

[2017-09-05 12:32] LalatenduMohanty commented on #1339
Fixed by https://github.com/minishift/minishift/issues/1340

[2017-09-05 12:32] #1339 closed

[2017-09-05 13:45] fbladilo commented on #1299
@gbraad Tipically oci-systemd-hooks packages are installed on the OpenShift nodes/master which are usually VMs, I'm not sure how this applies to minishift. Do we need to install them on the busybox VM?

[2017-09-05 17:46] gbraad commented on #1348
Merged with 9aa240d (renamed package `progress` to `progressdots`)

[2017-09-05 17:46] #1348 closed

[2017-09-06 06:09] warmchang commented on #974
@gbraad , When I run minishift in a VM, no need any docker install on the host OS.

May be some misunderstanding, and my windows' desktop as followed, hope be able to express clearly.
(minishif/minikube run on the Fedora VM, and the Fedora VM run on the Windows 2012)

![minishift](https://user-images.githubusercontent.com/13084624/30096532-7082f97c-930b-11e7-9c73-82166ceb3018.png)

The diagram:
[c

[2017-09-06 06:20] budhrg commented on #974
@warmchang , are you able to provision OpenShift in minishift inside Fedora VM ?

With  the screenshot it looks like minishift is running properly.

[2017-09-06 06:49] gbraad commented on #974
@warmchang glad this works for you, but is the execution speed anywhere near usable? I would almost feel that somewhere along the way the VT-x extensions are not offered to the guest.

In the case of for instance Hyper-V, the desktop session of Windows itself runs as a guest and it is not allowed to nest to another hypervisor.

Two layers, like

[code]
is how I run myself most of the time

[2017-09-06 09:25] gbraad commented on #1316
Added PRM to the CentOS image: https://github.com/gbraad/go-hvkvp/issues/6

[2017-09-06 11:51] chmouel commented on #1011
I am still getting this error with v1.5.0+ae62cf2 :

![image](https://user-images.githubusercontent.com/98980/30110425-641c6d54-930a-11e7-9e85-db54b8e284c6.png)

[2017-09-06 11:53] warmchang commented on #974
@budhrg , I can confirm that, minishift and minikube can run inside Fedora or CentOS VM properly.

[2017-09-06 12:25] warmchang commented on #974
@gbraad , you are right, the Hyper-V can not coexisted with kvm, and not support nested VT-x, so it's not the friendly way to run minishift.

My diagram just show the scenario which I tried, and to prove "minishift can run in a VM". :smile:

[2017-09-06 13:09] budhrg commented on #974
Worth documenting. WDYT @gbraad  ?

[2017-09-06 13:24] budhrg commented on #1103
Closed via https://github.com/minishift/minishift/pull/1350

[2017-09-06 13:24] #1103 closed

[2017-09-06 13:32] budhrg commented on #1011
@chmouel , Could you try again by removing `$HOME/.kube/config` if you could remove kube/config file? This `kube/config` file store all the credentials so deleting it might loose credentials for other cluster you had created for minikube probably.

[2017-09-06 13:56] chmouel commented on #1011
@budhrg  Still the same thing, http://sprunge.us/RZTG (compiled from github master)

It seems that it has to do with the  localhost binding :

    minishift start --public-hostname localhost --routing-suffix 127.0.0.1.nip.io --vm-driver=kvm --memory=6144 --cpus=4 --disk-size=50g

this works without the public-hostname routing-suffix switch

(should I open a new bug?)

[2017-09-06 14:09] budhrg commented on #1011
@chmouel , Please go ahead. At least if there is no implementation then we need documentation fix otherwise.

[2017-09-06 14:13] chmouel opened #1351 "minishift doesn't start with an alternate public-hostname/routing-suffix"
A new issue opened following comment on this bug https://github.com/minishift/minishift/issues/1011#issuecomment-327459567

When trying to use the switch :

    minishift start --public-hostname localhost --routing-suffix 127.0.0.1.nip.io --vm-driver=kvm --memory=6144 --cpus=4 --disk-size=50g

minishift will error at the end with :

    Error during post cluster up configuration: Unable to add sud

[2017-09-06 18:09] johnwp opened #1352 "Minishift VM cannot connect to the Internet"
I'm wondering if this is a known issue. Minishift was working fine for a couple days when all of a sudden Openshift couldn't connect to my Gitlab repo. So I tried `minishift delete` and then `minishift start`. This is the output:

[code]

[2017-09-06 18:22] johnwp commented on #1352
Never mind. Somehow my VPN was causing the connectivity issue, but I'm not sure why.

[2017-09-06 18:22] #1352 closed

[2017-09-07 00:14] gbraad commented on #1352
VPN and VM is a known issue. Most of the VPN software does aggressive
routing, by forcing all packets over their route.

Which VPN did you use?

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-09-07 04:47] johnwp commented on #1352
Thanks for the reply. I was using Tunnelblick.

[2017-09-07 05:00] gbraad commented on #1352
OpenVPN

[2017-09-07 05:03] gbraad commented on #1343
@csrwng Any idea if this is something related to how `oc cluster up` sets up?

[2017-09-07 05:15] praveenkumar commented on #430
@cmoulliard looks like you want to push an image from your host docker daemon to VM (I think you built those images using host). Can you try below.

1. `$ minishift docker-env` => which will connect to docker daemon running inside the VM.
2. Build your images here or pull it from registry
3. Tag your image with respective project.
4. `docker push`

[2017-09-07 06:26] gbraad commented on #1316
NetworkManager needs to be disabled on the guest, or a configuration file needs to be written to the network-scripts folder:
![image](https://user-images.githubusercontent.com/1894/30148988-7c7344d0-93d8-11e7-91c6-78f0b1dcf27f.png)

[2017-09-07 14:11] rhdoslande opened #1353 "Error starting the VM with VirtualBox on Windows 7"
I am trying to run CDK 3.1 on a Windows 7 machine (Red Hat CSB), version cdk-3.1.0-1-minishift-windows-amd64

I installed VirtualBox-5.1.26-117224-Win.exe (fresh install)

I ran `minishift setup-cdk` ... then I ran `minishift start --vm-driver virtualbox`

But the VM doesn't start, and the command times out with errors:

[code]

[2017-09-07 18:43] rhdoslande opened #1354 "VM startup fails using Gow"
Gow was put on this machine by the Red Hat Corporate Standard Build (CSB) for Windows 7.

`C:\Program Files (x86)\Gow\bin\ssh.bat`

It causes an issue with invoking SSH

That results in the VM not starting, and the command times out with errors:
[code]

[2017-09-07 18:45] rhdoslande commented on #1353
This issue was troubleshooted with gbraad and lalatendu, and resulted in identifying Gow causing an SSH issue. See new issue  #1354 related to Gow.

[2017-09-07 18:46] rhdoslande commented on #1353
Closing --- see new issue #1354

[2017-09-07 18:46] #1353 closed

[2017-09-07 19:11] csrwng commented on #1343
@gbraad I confirmed that this is an OpenShift issue, not cluster up. The same behavior can be seen in 3.6 on a cluster configured with ansible.

[2017-09-07 19:12] csrwng commented on #1343
A workaround would be to change the pod's command to fix the permission first before running the main process (or do the fixup in an init container)

[2017-09-07 20:19] gbraad commented on #1354
Gow uses a batch file called ssh.bat to wrap plink. https://github.com/bmatzelle/gow/blob/master/bin/ssh.bat Somehow this results in an error when ssh is used for provisioning.

[2017-09-08 05:21] gbraad commented on #1354
[code]

[2017-09-08 07:14] amitkrout opened #1355 "Default addons should be specified by name"
No defaults addons are specified in the doc, [minishift install addons](https://docs.openshift.org/latest/minishift/command-ref/minishift_addons_install.html) section.

IMO it should be something like

[code]

[2017-09-08 08:05] jstrachan opened #1356 "failure to create pods on minishift 1.4.1 / 1.5.0 on OS X with xhyve"
I've been getting this quite a lot lately on a fresh minishift VM (after scrubbing ~/.minishift first and rebooting) in the events log when a DeploymentConfig is created:
[code]
I get this frequently when I install fabric8 on minishift; all the DCs work great in the fabric8 namespace; then when I login it creates the tenant stuff in the `developer-jenkins` namespace and the content-repository and

[2017-09-08 08:06] jstrachan commented on #1356
if it helps - here's one of the DC's thats failed:
[code]

[2017-09-08 08:06] jstrachan commented on #1356
ah - wonder if I need a large value for `timeoutSeconds`?

[2017-09-08 08:07] jstrachan commented on #1356
maybe that event warning is not not fatal afterall and its just timing out downloading the docker image

[2017-09-08 08:21] gbraad commented on #1316
Able to use DockerNAT using:

#### Host
[code]

#### Minishift VM
[code]

[2017-09-08 08:57] jstrachan commented on #1356
just testing 1.5.0 with bigger `timeoutSeconds` - will close this issue if thats the cause...

[2017-09-08 10:34] jstrachan commented on #1356
worked first time with a larger timeout - so that was probably it afterall - sorry for the noise!

[2017-09-08 10:34] #1356 closed

[2017-09-08 10:35] praveenkumar commented on #1356
@jstrachan Good to hear 👍

[2017-09-08 11:01] praveenkumar commented on #1269
@gorkem can you try out it with minishift 1.5.0 without any workaround and let us know if it still fail because here we are using 3.6.0 as default openshift version.

[2017-09-08 11:55] praveenkumar opened #1357 "Redeployment of an application takes more time"
When using CentOS ISO with minishift, redeploy an application takes a lot of time (around 10 minutes) and `event` logs shows following warnings/errors.
Refer: https://issues.jboss.org/browse/CDK-166

[code]

This seems like a Kubernetes issue : https://github.com/kubernetes/kubernetes/issues/51835

[2017-09-08 12:11] LalatenduMohanty commented on #1357
The root cause of the issue is that Kubernetes tries to delete the POD and associated kubernetes.io~secret but  it can not delete it (hence the error `device or resource busy`). It only happens when `oc cluster up` access the config/data/volume directories through symbolic links.
Here are the symbolic links which Minishift uses as we use the persistent storage partition.

[code]
Workaround:

Provi

[2017-09-08 12:20] gbraad commented on #1316
* [ ] check assigned IpAddress for netmask bits
  * if none specified, + "/24"
* [ ] look for Gateway KVP
  * else assign gateway based on IpAddress
* [ ] use DnsServer KVP
  * check connectivity of DNS
  * allow specifying multiple entries

[2017-09-08 16:35] jorgemoralespou commented on #1333
I guess you can deploy it in online, but would need to be in a paid tier
(pro) and not starter, since application sin starter tier will be idled
from time to time for 6 hours a day.
As long as you can run this in a container.

[2017-09-08 19:57] LeeWong opened #1358 "Cannot build image with the gradle docker plugin on the minishift docker"
Hi there,

I am having trouble to build, tag and push images with the gradle docker plugin:

[dockerjava-jaxrs-async-0] INFO org.apache.http.impl.execchain.RetryExec - I/O exception (java.net.SocketException) caught when processing request to {}->http://192.168.42.74:2376: Connection reset
[dockerjava-jaxrs-async-0] ERROR com.github.dockerjava.core.async.ResultCallbackTemplate - Error during callb

[2017-09-08 21:05] gtcode opened #1359 "minishift start ignores changes to --vm-driver option after starting with a different driver"
Hi,

On macos, I installed the latest `1.5` minishift, as well as the latest supported `xhyve` vm driver per the Minishift install docs.   For the installation and for my first `minishift start` command, it used the default virtualbox driver, which added a VM to my Virtualbox host by the name of `minishift`.

Once `minishift start` worked with the default virtualbox, and after `minishift stop`, I

[2017-09-08 21:17] gtcode commented on #1359
The issue occurs in the other direction.  Starting from scratch using xhyve, and then stopping the cluster, then starting again with `minishift start --vm-driver=virtualbox` shows the "using virtualbox" output but proceeds to silently start with xhyve.  Once again, deleting and clearing cache works around the issue.

[2017-09-08 22:07] LeeWong commented on #1358
It has be resolved at https://github.com/EnMasseProject/enmasse/issues/193

[2017-09-08 22:07] #1358 closed

[2017-09-09 00:27] gbraad commented on #1359
This is a known issue and is related to #179 The VM driver as stored in the machine profile will be used.
Can you include a startup log with more detail?

[2017-09-09 00:27] #1359 closed

[2017-09-09 00:28] gbraad commented on #1359
This is not the default, unless you have VirtualBox installed. In wich Docker Machine (libmachine) will use this as a fallback. this is behaviour we probably can not avoid.

However, usually having two hypervisors in use is not recommended due to stability issues.

[2017-09-09 05:32] gbraad commented on #1285
@heeyeonwiz @alekonkoisp The certificate mismatch because of IP is a different issue: #343. If anything, please respond that issue, since this has been closed and was about a different issue.

[2017-09-09 05:40] gbraad commented on #343
Hyper-V solution being worked on: #1316

[2017-09-09 06:26] gbraad commented on #522
See: https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/completion.go

[2017-09-09 09:23] pkdone commented on #1343
What's the best way to push this issue upstream? (I'm new to OpenShift & Minishift)

[2017-09-09 13:27] gbraad commented on #1343
Cesar already has been informed, so I believe an upstream issue is known.
We also know what the cause is... and are working on a solution. My
colleague has tested it, so I expect Monday we know more and how to move
forward.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-09-11 10:20] agajdosi commented on #1347
`@minishift-only` tag is not meant to be run alone. It is here just to signal which scenarios are not applicable for CDK, which are minishift specific, are for minishift only. All other untagged scenarios are universal. When one runs just `@minishift-only` then it is completely expected to fail as it will take just few scenarios, which will be torn from their context in feature file. `Scenario: Us

[2017-09-11 10:20] #1347 closed

[2017-09-11 10:32] praveenkumar commented on #1251
I tried below after having #1059 in the branch and result looks pretty promising. What we actually need now to symlink or bind mount /var/lib/minishift with /mnt/sda1/var/lib/minishift.

[code]

[2017-09-11 10:47] praveenkumar commented on #1251
We need to send PR to this file https://github.com/kubernetes/minikube/blob/master/deploy/iso/minikube-iso/package/automount/minikube-automount

[2017-09-11 11:41] budhrg commented on #1251
:+1:  Interesting though. It was failing with `v0.22.0`

[2017-09-11 12:34] praveenkumar commented on #1251
Let we keep it opened until we get an agreement from minikube folks. Mostly from our side we don't need to spend any more time on this.

[2017-09-11 12:54] amitkrout opened #1360 "No value is specified in log level for V logs in "minishift start -h""
Recently i came across this glogal flag ```-v, --v Level```. Mostly we uses a integer value for log level however the value is not specified in ``` minishift start -h```.

For example:
```-v, --v Level          log level for V logs```

Even i am seeing more log level flags such as ```server-loglevel int```. This really improves the user experience if we add something like the default value or the

[2017-09-11 13:07] apupier opened #1361 "minishift status returns "Does Not Exist" when launched from a terminal without admin right and minishift start was launched from a terminal with admin rights"
'minishift setup-cdk' requires admin privilege
if using 'minishift start' in the same terminal with admin privileges,
then if launched in a terminal without admin rights, 'minishift status' will return "Does Not Exist"

[2017-09-11 13:09] apupier commented on #1361
@budhrg I think that it was the issue that we encountered during our call

[2017-09-11 13:14] LalatenduMohanty commented on #1360
@amitkrout I think you are suggesting that we need to improve the usage e.g.
` -v, --v Level                          log level for V logs. Level  varies from 1 to 5 (default 1).` WDYT?

[2017-09-11 13:26] LalatenduMohanty commented on #1361
@apupier you should not need admin privilege for running setup-cdk. Are you getting any error when you run it as an user?  The issue you are facing i.e. ` 'minishift status' will return "Does Not Exist"` should be gone if you run setup-cdk without admin previlage.

Also it is an CDK issue so we will move it to CDK Jira https://issues.jboss.org/projects/CDK/issues/.

[2017-09-11 13:29] apupier commented on #1361
my bad, it is 'minishift start' which requires admin right

otherwise there is:

[2017-09-11 13:33] gbraad commented on #1361
Are you sure thr user is allowed to use HyperV? The user needs to be part of the HyperV adminstrators group

[2017-09-11 13:33] budhrg commented on #1361
@apupier , I doubt you ran `minishift setup-cdk` with admin rights.

When we did last time in the call, it was fine AFAIR.
Could you retry again?

[2017-09-11 13:38] apupier commented on #1361
the user is not part of Hyper-V admin group as it is the default behavior.

[2017-09-11 13:38] gbraad commented on #1361
https://docs.openshift.org/latest/minishift/troubleshooting/troubleshooting-driver-plugins.html#insufficient-privileges

[2017-09-11 13:41] budhrg commented on #1361
@apupier https://docs.openshift.org/latest/minishift/troubleshooting/troubleshooting-driver-plugins.html#insufficient-privileges

User need to be part of admin group.

[2017-09-11 13:42] gbraad commented on #1361
Please correct the permissions, as this is necessary to create VMs inside Hyper-V manager

[2017-09-11 13:45] apupier commented on #1361
this is not necessary, we can also just launch the terminal in admin mode which is even what lead to think to be the correct solution with the error message when it is not the case:

[2017-09-11 13:45] amitkrout commented on #1360
@LalatenduMohanty Exactly

[2017-09-11 13:50] apupier commented on #1361
several things can be improved relatively easily I think:
- when "Does not Run", add a message to explain that you need to launch with the admin mode (or to be in the Hyper-v administrator?)
- when 'minishift start', isntead of "have to be run as an Administrator", something like "have to be run by an Hyper-V administrator. See XXX to configure it"

[2017-09-11 13:51] gbraad commented on #1361
This message comes from the cmdlets from PowerShell and are abstracted by submachine. We can not change these messages

[2017-09-11 13:53] gbraad commented on #1361
It is necessary for the user to be part of the HyperV administrators group as this is the saferopyioncanrunning or having to use administrator. In most caes domain policies forbids users to be part of the local administrator group

[2017-09-11 13:55] gbraad commented on #1361
We can change the pre flightcheck to check if the user is part of the TV admin group,but for this we need a PowerShell abstraction. Part of #1316 ?

[2017-09-11 13:56] gbraad commented on #1361
Duplicate of #356

[2017-09-11 13:59] gbraad commented on #1361
@budhrg can you check if the installer deals with the permissions? Maybe a different preinstalled it from who uses it?

[2017-09-11 14:20] LalatenduMohanty commented on #180
Fixed by https://github.com/minishift/minishift/pull/1345

[2017-09-11 14:20] #180 closed

[2017-09-11 16:05] jeffmaury opened #1362 "Wrong URL in warning when using system commands in minishift ssh"
When using a system command (like yum for example), Minishift will display the following warning message:
`--------------------------------------------------------------------------------------------------------

Installing additional packages on the root filesystem might exceed the allocated overlay size and lock t
he Minishift VM. Proceed with the installation at your own risk.
For more informat

[2017-09-11 17:50] hguerrero opened #1363 "shortnames broke case-sensitive iso-urls"
Issue #1033 added a new function where it changes the parameter for iso-url to all lowercase. This breaks when file path is case sensitive.
[code]

[2017-09-11 17:51] gbraad commented on #1362
Easy fix. Link should be:

https://docs.openshift.org/latest/minishift/troubleshooting/troubleshooting-misc.html#root-filesystem-exceeds-overlay-size

Issue is actually in the CentOS ISO

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-09-11 18:15] gbraad commented on #1363
Ouch. To Lower() should only be used to compare, but not to return/alter the given URL

[2017-09-11 22:34] gordillo-ramon-redhat opened #1364 "hostfolders need to add extra flags to cifs mount for selinux labels"
Using RHEL as a minishift iso (CDK), when mounting a hostfolder, the following command is executed (example):
[code]
With that, selinux labels are as follows:

`system_u:object_r:cifs_t:s0      persistent-on-hosts/`

If we want to use this share to persist the configuration, we get the following error:
[code]
That is because docker cannot relabel the selinux policy. But if we mount with:
[code]
Th

[2017-09-12 06:15] praveenkumar commented on #1362
Created https://github.com/minishift/minishift-centos-iso/issues/145 from CentOS iso side. Closing it from this repo.

[2017-09-12 06:15] #1362 closed

[2017-09-12 06:28] gordillo-ramon-redhat opened #1366 "hosthome seems not to be mount in some linux with virtualbox"
Apparently, hosthome is added as a auto shared folder in B2D (host = fedora), but it is not mounted on
startup, even if it is configured so in virtualbox.

If I do a minishift ssh into b2d, it avoids the mount until "/hosthome" is created.

Could it be because B2D Guest Additions is 5.1.8 r111374, but virtualbox is latest (5.1.26)?

[2017-09-12 07:17] gbraad opened #1368 "Add PowerShell wrapper and check if Hyper-V installed"

[2017-09-12 08:03] gbraad commented on #1366
We do not directly support guest additions. This is a feature that does not use `m hostfolder` and is therefore hard for us to track.

I'll try later to reproduce this...

[2017-09-12 08:04] gbraad commented on #1361
I added #1368. Perhaps it is possible to also check for group membership. WDYT?

[2017-09-12 08:13] praveenkumar commented on #1351
@chmouel what is the use case of using `localhost` as public-hostname for minishift? We might need to put an documentation around it.

[2017-09-12 08:17] chmouel commented on #1351
I get a fairly limited laptop so I deploy minishift on another laptop and use

[code]

to forward the connection.

And connect with https://localhost:8443 from my locallaptop

[2017-09-12 08:29] gordillo-ramon-redhat commented on #1366
But it is in the docs...
https://github.com/minishift/minishift/blob/7710cf134275413bd5207a027a807643663f8dee/docs/source/using/host-folders.adoc#driver-provided-host-folders

[2017-09-12 08:38] praveenkumar commented on #1351
@chmouel Ack, I will try to get a patch in for it. Thanks for clarification.

[2017-09-12 08:48] LalatenduMohanty opened #1369 "TestCacheOc unit test is failing intermittently"
[code]
Example:
* https://circleci.com/gh/minishift/minishift/2030?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
* https://ci.appveyor.com/project/minishift-bot/minishift/build/557

[2017-09-12 09:29] praveenkumar commented on #1351
@csrwng I need some insight about this. Below is explanation about what we do currently, let me know if we are missing something here.

1. We try to extract configuration from the `~/.kube/config` file and make it part of local to instance.

 - https://github.com/minishift/minishift/blob/master/pkg/minishift/clusterup/clusterup.go#L115
  - https://github.com/minishift/minishift/blob/master/pkg/min

[2017-09-12 10:31] gbraad commented on #1368
Check for group membership with something like:
[code]

[2017-09-12 11:52] gbraad commented on #1361
The group membership check with https://github.com/minishift/minishift/issues/1368#issuecomment-328812218 takes 10+ secs and is therefore not usable.

[2017-09-12 13:13] csrwng commented on #1351
The code in cluster up that appends to ~/.kube/config (and logs in) is here:
https://github.com/openshift/origin/blob/master/pkg/oc/bootstrap/docker/openshift/login.go

Does it not work with any public hostname or just 'localhost' ?

[2017-09-12 16:53] gbraad commented on #1366
It seems to be a known issue that goes far back: https://gist.github.com/dschep/8f617de28157f8d35e69 (https://github.com/boot2docker/boot2docker/pull/1086), and has been reported in the boot2docker, docker/machine and minikube repo.

I am not really in favor either to introduce a hypervisor specific solution to mount host folders, when we provide an alternative which works across the board. Beside

[2017-09-12 16:58] gbraad commented on #1366
@gordillo-ramon-redhat can you try to see if : https://gitlab.com/gbraad/minishift-b2d-iso/-/jobs/29206639/artifacts/file/public/minishift-b2d.iso would solve your problem?

[2017-09-13 06:11] gbraad commented on #1361
Using `@([Security.Principal.WindowsPrincipal][Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole("Hyper-V Administrators")` to check the permissions works

[2017-09-13 06:11] gbraad commented on #1368
Using:

[code]

returns True if member of the group

[2017-09-13 07:51] gbraad commented on #1256
Partially addressed with #1373

[2017-09-13 07:52] gbraad commented on #1361
Rephrased the installation of the driver plugin with #1373

[2017-09-13 08:08] praveenkumar commented on #1351
@chmouel  Can you please try out http://artifacts.ci.centos.org/minishift/minishift/pr/1372/ binary and see if your issue #1351 resolved?

[2017-09-13 08:40] praveenkumar opened #1374 "Progress dot should have timeout and slow down over period of time."
Currently we don't have any timeout for progress dot and also when a operation gets longer than it should slow down over period of time.

[code]

[2017-09-13 08:54] gbraad commented on #1374
if `slowDown`, we use a `easeOffFactor` or `slowDownFactor`? Which does it based on a modulo or similar, so if 10 doys have been written we add an additional second to the interval.

[2017-09-13 08:55] gbraad commented on #1374
But I believe the biggest issue is that we can not ctrl+c out of the process. I am pretty sure it responded to a break before...

[2017-09-13 08:58] praveenkumar commented on #1374
@gbraad `ctrl+c` works in Linux need to check in windows.

[code]

[2017-09-13 09:01] praveenkumar commented on #1251
I created a POC repo https://github.com/praveenkumar/minikube-iso will discuss with minikube folks.

[2017-09-13 09:12] agajdosi opened #1375 "Improve isolation of features by using before- and afterFeature() hooks"
The beforeFeature() and afterFeature() hooks have been added into Godog recently. We could update to newest Godog and improve the isolation of individual features. Right now we are doing cleaning and checks just before the whole suite, but we should do it on individual features to make sure there is nothing which leaks into following features - for example when we manipulate the config file.

[2017-09-13 09:20] budhrg commented on #1269
Any update @gorkem ?

[2017-09-13 09:35] budhrg opened #1376 "Improve error message on start for using Virtualbox when Hyper-V is enabled"
While trying to start with minishift with Virtualbox driver when Hyper-V is enabled, I am getting error messages which looks quite ugly and not user friendly.

[code]

[2017-09-13 09:48] l0rd commented on #1264
To run upstream eclispe che on minishift: https://www.eclipse.org/che/docs/setup/openshift/index.html#deploy-che-on-minishift

And we are currently making it much easier [here](https://github.com/eclipse/che/issues/6097) (I am working on that issue this week).

[2017-09-13 10:00] gbraad commented on #1264
@l0rd would it be possible to see if we can create an addon for Minishift?

  * https://github.com/minishift/minishift/blob/master/docs/source/using/addons.adoc

This way we can make it part of https://github.com/minishift/minishift-addons

[2017-09-13 10:02] budhrg commented on #1264
+1 for addon

[2017-09-13 10:08] gbraad commented on #1376
We can not properly detect this. We can see if Hyper-V is installed, and then check with `systeminfo` if the value for "VM Monitor" is returning "No", because of the desktop running as ring 0:

![image](https://user-images.githubusercontent.com/1894/30371826-61912b84-98ae-11e7-8276-11982fe48e93.png)

[2017-09-13 10:14] budhrg commented on #1374
@gbraad , `ctrl+c` works in Windows too for me
[code]

[2017-09-13 10:18] budhrg commented on #1376
@gbraad , I have VirtualBox installed but don't use it when HyperV is enabled. Till now, it is working fine. So when I desire to use VirtualBox, I just disable HyperV from `Features on or off window`.

I just raised this issue to improve the error message if by chance user try to run VirtualBox when HyperV is enabled.

[2017-09-13 10:18] gbraad commented on #1376
On macOS a fallback is performed when virtualbox is available. This can be observed when people did not uninstall virtualbox, but only removed the manager app from `/Applications`. I expect similar behaviour on Windows. @budhrg please verify this: #1336

[2017-09-13 10:19] gbraad commented on #1376
Well, I wonder what you have installed and how.

The current message can not be modified, as it comes from libmachine. We can however implement a pre-flight check... but for this a check pattern needs to be known.

[2017-09-13 10:25] gbraad commented on #1374
[code]

Not in my case... I need to kill `minishift.exe` from the process manager. You can see the break has been received by powershell...

[2017-09-13 10:50] l0rd commented on #1264
@gbraad @budhrg I will look at that. I've added the related extra-step to https://github.com/eclipse/che/issues/6097

[2017-09-13 10:50] budhrg commented on #1361
Resolved via https://github.com/minishift/minishift/pull/1373 with documentation fix.

[2017-09-13 10:50] #1361 closed

[2017-09-13 10:54] agajdosi opened #1377 "Command addons remove tries to run when Minishift is not running"
Command `minishift addons remove` should work as other commands which need Minishift to be in `Running state`, expected:

[code]
But instead it gives:
[code]

[2017-09-13 10:55] gbraad commented on #1264
If help is needed, let us know... we are in #minishift on freenode.

[2017-09-13 10:58] LalatenduMohanty commented on #1361
https://github.com/minishift/minishift/issues/1368 will also help to address this issue.

[2017-09-13 11:02] budhrg commented on #1264
@l0rd  I tried following steps as mentioned in  https://www.eclipse.org/che/docs/setup/openshift/index.html#deploy-che-on-minishift

[code]

and che deployed successfully, but getting some error in creating workspace.
![screenshot from 2017-09-13 16-25-06](https://user-images.githubusercontent.com/1132451/30374043-1b426222-98a1-11e7-9e4e-8f5a506b49e9.png)
![screenshot from 2017-09-13 16-31-21](htt

[2017-09-13 11:04] agajdosi opened #1378 "Minishift does not install .remove file for add-ons which support it"
Using binary from latest master, with deleted .minishift folder.

I run any command, it installs the add-ons automatically, but I am then unable to see any `admin-user.addon.remove` file in `.minishift/addons/admin-user` folder. Same result is when I install add-ons manually:

[code]

[2017-09-13 11:08] budhrg commented on #1336
@gbraad
Two different approach, same result though. I am not getting anything related to VT-x or Virtualbox as mentioned in the issue #1335
### Without VirtualBox installed

[code]

### With VirtualBox installed
[code]

[2017-09-13 11:09] budhrg commented on #1264
Clicking on `Run` button second time did the trick
![screenshot from 2017-09-13 16-38-55](https://user-images.githubusercontent.com/1132451/30374305-1b17649a-98a2-11e7-9322-a856cac59e3b.png)

[2017-09-13 11:10] l0rd commented on #1264
You probably just hit this issue
https://github.com/openshiftio/openshift.io/issues/798

[2017-09-13 11:13] budhrg commented on #1264
@l0rd , I am having `registry.devshift.net/che/vertx` in recipe location. I looks like Vert.X example

[2017-09-13 11:21] l0rd commented on #1264
Ok so that's not the same issue. Maybe workspace creation timed out because
the pull of the image took too long. Can you find any evidence of that in
the logs of che-server pod and openshift events? If so we should create an
issue to make the error message more clear.

[2017-09-13 11:34] #1368 closed

[2017-09-13 12:00] budhrg commented on #1264
logs from che build

https://drive.google.com/file/d/0B92iOOnPFHczNjZRZmxSNExTdGs/view?usp=sharing

[2017-09-13 14:19] gorkem commented on #1269
I was able to use it with minishift 1.5.1 without any hacks.

[2017-09-13 14:48] budhrg commented on #1269
Thanks, @gorkem for confirming. We are closing this issue now. If you facing anything please feel free to open the new issue.

[2017-09-13 14:48] #1269 closed

[2017-09-13 16:58] chmouel commented on #1351
This works perfecty thanks :

after downloading it, i ran it with the public-hostname=localhost :

![image](https://user-images.githubusercontent.com/98980/30390071-2d87191e-98b5-11e7-87a2-d08f191e2d58.png)

I ran a tunnel to that otherlaptop where installed from my desktop

and I can now access to the console from my desktop on localhost :

![image](https://user-images.githubusercontent.com/98980

[2017-09-13 21:03] chrisfalter opened #1381 "Windows 10 hyper-v "Error attempting to get plugin server address for RPC""
My steps:
1) installed Docker for Win. It works fine
2) Enabled hyperv
3) Created hyper-v external switch named "MinishiftSwitch"
4) added myself to hyper-v admins group
5) rebooted
6) downloaded minishift binary to c:\minishift\bin, added that dir to _path_ env var.
7) Added env vars for MINISHIFT_USERNAME and MINISHIFT_PASSWORD
8) Verified that there are no outgoing firewall rules
9) At powershe

[2017-09-13 21:14] chrisfalter commented on #1381
Attaching the logs....

[minishift-start-no-skip-registration.txt](https://github.com/minishift/minishift/files/1300977/minishift-start-no-skip-registration.txt)
[minishift-start-skip-registration.txt](https://github.com/minishift/minishift/files/1300976/minishift-start-skip-registration.txt)

[2017-09-13 22:01] chrisfalter opened #1382 "Installing CDK fails on Win10 with Hyper-V"
As noted in #1381 I performed the minimal installation of minishift on my Win10 laptop. Thinking that the CDK might possibly resolve the issue, I downloaded the online installer and ran it. I encountered the following show-stopper error:

[code]

This error message is nonsense.
* I have enabled virtualization support in the BIOS, and Hyper-V is active.
![hyper-v](https://user-images.githubusercont

[2017-09-13 23:22] chrisfalter commented on #1335
The suggestions did not work for me, and I eventually had my laptop re-imaged. I started over from scratch, but encountered new issues. See #1381 and #1382. Since documentation issue #1337 has been created, there is no reason to keep this issue open. I am therefore closing it.

My thanks to all who responded. :)

[2017-09-13 23:22] #1335 closed

[2017-09-14 03:04] gbraad commented on #1381
Why are you doing `--skip-registration`. Are you using Minishift or CDK? And if you are using CDK, why does it boot with the B2D image?

Can you describe in more detail how you installed?

[2017-09-14 03:11] gbraad commented on #1382
* From PowerShell: `Get-ItemProperty HKLM:\Software\Microsoft\Windows\CurrentVersion\Uninstall\* | select DisplayName, Publisher, InstallDate`
  * Which version of CDK did you download?

[2017-09-14 05:27] praveenkumar commented on #1351
Fixed by #1372

[2017-09-14 05:27] #1351 closed

[2017-09-14 10:16] aditya-konarde commented on #928
#1346 is now merged. Can we close this issue now?

[2017-09-14 10:23] budhrg opened #1384 "Pre-flight checks for memory"
We need to have pre-flight checks for memory since users may not have 2GB default memory available.

I was testing multiple cluster scenario and hit with it in 8GB memory Windows machine. It might happen in other platforms too.

[code]

### Wihtough libmachine logs, I have no idea why it failed
[code]

[2017-09-14 10:27] budhrg commented on #928
Sure thanks @aditya-konarde for contribution.

[2017-09-14 10:27] #928 closed

[2017-09-14 10:31] gordillo-ramon-redhat commented on #1366
Yep, it works with that version.

I will use it until next release.

[2017-09-14 12:40] gbraad commented on #1366
@praveenkumar we can update to 1.13.1?

[2017-09-14 12:42] gbraad commented on #1366
@gordillo-ramon-redhat not sure about a possible new release. Although B2D is the default image, it does not receive as much attention/scrutiny as the CentOS counterpart.

[2017-09-14 12:58] pkdone commented on #1343
Is there an id/link for the upstream OpenShift issue, I can track?

[2017-09-14 13:05] gordillo-ramon-redhat commented on #1366
Can we have then virtualbox guest additions added to our CentOS iso?

[2017-09-14 13:46] chrisfalter commented on #1382
[code]
Version of CDK = devsuite-2.0.0-GA-installer.exe

[2017-09-14 13:59] chrisfalter commented on #1381
As noted in my first post, I tried running minishift both with and without the `--skip-registration` argument. Both attempts ended with basically the same failure/error message.

As noted in my first post, my efforts were entirely with minishift. Later I attempted to install CDK, but never succeeded per the issue I filed later.

Please note that I re-imaged my machine after issue #1335, so that is

[2017-09-14 14:31] odockal opened #1386 "User is being prompt to interact when using 'minishift delete --force' command"
As a follow up to 'let's create an issue' from https://github.com/minishift/minishift/issues/1320, it has finally happened that I am not able to delete registered rhel image without being asked to interact to minishift's prompt. To be exact was is happening:

`[odockal@odockal-pc latest-nightly]$ ./minishift version`
`minishift v1.5.0+f5e9a94`
`CDK v3.0.0-13092017-1`
`[odockal@odockal-pc latest-ni

[2017-09-14 17:10] LalatenduMohanty commented on #1351
Resolved by https://github.com/minishift/minishift/pull/1372/

[2017-09-14 23:59] gbraad commented on #1386
Current version of Minishift does not ask for confirmation, and has no force option. CDK has?

In the current implementation, the VM needs to be running to unregister. Will check if the message is correctly returned.

[2017-09-15 00:04] gbraad commented on #1386
I do remember the registration state was a pinpoint in some of the discussion. To not have the user end up in a situation in which he needs to take extra steps to reclaim the subscription we disallowed the deletion when registered. Can you try to use --skip-unregistration

For a force, do you expect this to be implied?

[2017-09-15 00:38] gbraad commented on #1386
In the current implementation we do not allow `--skip-unregistration` for `m delete`:

https://github.com/minishift/minishift/blob/8aed58a3f36403958f4a2ad4bb95e5a241316844/cmd/minishift/cmd/delete.go#L53

however, we allow this to be used for `m stop`:

https://github.com/minishift/minishift/blob/8aed58a3f36403958f4a2ad4bb95e5a241316844/cmd/minishift/cmd/stop.go#L59

[2017-09-15 00:41] gbraad commented on #1386
/cc @LalatenduMohanty

[2017-09-15 00:47] gbraad commented on #1384
HyperV deals with memory in a very different way. Even if you have 8G in the machine, you might not be able to start the VM, as it doesn't do memory ballooning and needs real available memory.

What do you want to check?

[2017-09-15 00:53] gbraad commented on #1381
I am not sure where you get the error

`Found binary path at C:\minishift\bin\minishift.exe Launching plugin server for driver hyperv Error determining Docker settings: Error attempting to get plugin server address for RPC: Failed to dial the plugin server in 10s`

This is not something we generate, but likely in libmachine.

The reason I ask about the installation steps is because the registratio

[2017-09-15 01:01] gbraad commented on #1381
This seems to happen after the preflight checks. `https://github.com/minishift/minishift/blob/master/cmd/minishift/cmd/start_preflight.go`. In this case `oc` will have to run... However it finds a binary, himself. This feels like cdk behaviour.

Can you confirm the correct binary is used?
`m version`

[2017-09-15 01:22] gbraad commented on #1381
The error happens after the preflight check, at:

https://github.com/minishift/minishift/blob/8aed58a3f36403958f4a2ad4bb95e5a241316844/cmd/minishift/cmd/start.go#L177

which is an API call to get the IP to proceed with the rest of the execution. However, it seems you can do a `m ssh` to login to the machine... which uses the same API call... :-s */me shows a confused look*. Will have to look furth

[2017-09-15 01:25] gbraad opened #1388 "Include version information in the debug logs"
Too often I have to ask for the version information when analyzing a log. It would be helpful to just include this information...

[2017-09-15 01:26] gbraad commented on #1378
I think we do not expect these to be deleted... but good point. I believe we should.

[2017-09-15 01:27] gbraad commented on #1377
Isn't this related to #1378

[2017-09-15 01:30] gbraad commented on #1382
CDK 2 is not supported anymore. Yes, the old(er) version needed VirtualBox. The new version CDK3 is based on Minishift.

Note: CDK 2 issues need to be filed on Jira, or against the Atomic Developer Kit.

[2017-09-15 01:36] gbraad commented on #1382
Devsuite might have a strict(er) check on requiremenst... need to look into this.

But can you try instead to first use: https://developers.redhat.com/products/cdk/download/ (version 3.1) and see what the result is...

[2017-09-15 02:05] gbraad commented on #1382
@dgolovin any idea where the message from the issue report comes from? `requires VirtualBox`

I checked https://github.com/redhat-developer-tooling/developer-platform-install/ but couldn't find something like this.

[2017-09-15 02:07] gbraad commented on #1382
Changed title to reflect Installer issue.

[2017-09-15 02:42] gbraad commented on #1381
From issue #1382 IIRC you have installed a virus scanner? Maybe this conflicts with the needed calls from libmachine. Have a look at https://github.com/docker/toolbox/issues/272#issuecomment-168788863

[2017-09-15 06:39] kishansag commented on #271
Any known fix for these errors?

[code]
[code]
I have tried manually deleting ~/minishift folder and re-deploying, but that would also lead to the same error on running these commands

[2017-09-15 07:00] budhrg commented on #271
@kishansag , could you run `minishift start --show-libmachine-logs -v 5`?

[2017-09-15 07:08] kishansag commented on #271
dump of `minishift start --show-libmachine-logs -v 5` is below.
[code]

Also tried reinstalling kvm, but same result.

[2017-09-15 08:36] budhrg opened #1389 "Display available add-ons in the documentation"
It would be good to display list of available add-ons on the minishift documentation [here](https://docs.openshift.org/latest/minishift/using/addons.html) to bring more visibility.

[2017-09-15 09:09] budhrg opened #1390 "Docker push to openshift registry is failing with "unauthentication required" error"
Docker push to OpenShift docker registry not happening:

## Without addon

[code]

### With Add-on
[code]

## I tried with v3.6.0 before but its failing as well.

[2017-09-15 11:37] budhrg commented on #271
This is weird.

[2017-09-15 12:00] gbraad commented on #271
@kishansag
Can you create a new issue? The one you responded on is closed and unrelated. We would like to keep information easy to find for others.

[2017-09-15 12:01] odockal commented on #1386
@gbraad I do recall that I used `m stop --skip-unregistration` while trying to clear minishift/cdk state, but that just seems to me like workaround. Let's see what is opinion of others. Thanks for updating.

[2017-09-15 12:03] budhrg commented on #271
+1

[2017-09-15 14:43] LalatenduMohanty commented on #1390
I have seen some users complain about the same on IRC and some others issues. We need to investigate this.

[2017-09-15 14:45] LalatenduMohanty commented on #1389
@budhrg Do you mean we need to put the names of the add-ons and description of them in https://docs.openshift.org/latest/minishift/using/addons.html#default-addons ?

[2017-09-15 14:48] LalatenduMohanty commented on #1386
This need some code refactor as we ignore the --force in the handleFailedRegistrationAction() function
[code]

[2017-09-15 15:49] chrisfalter commented on #1381
[code]

I will take a look at Docker/toolbox#272

[2017-09-15 16:34] gbraad commented on #1316
Tested with external set command which bashes the command until positive return follows: https://github.com/gbraad/go-cmdbasher/blob/master/cmd/basher/example.go
This will need too be setup before the create API call, and can forcibly be stopped when after the retry-fail loop (if not successful)

[2017-09-15 16:34] budhrg commented on #1389
Yes @LalatenduMohanty and hyperlink to respective add-ons.

[2017-09-15 18:05] gbraad commented on #1316
[code]

[2017-09-15 19:35] LalatenduMohanty commented on #1374
@gbraad The issue is not reproducible right?

[2017-09-15 19:41] LalatenduMohanty commented on #430
Lets track it in https://github.com/minishift/minishift/issues/1390 as it seems it is the same issue.

[2017-09-15 22:16] chrisfalter commented on #1382
I was unable to install cdk-3.1.0-1-minishift-windows-amd64.exe, even though it was running with admin permissions. In about 2 seconds the installer just died. No messages appear in the system and application event logs, no messages displayed to the UI. No traces left behind.

[2017-09-15 22:38] chrisfalter commented on #1381
I decided to run `minishift start` again while monitoring the McAfee log to see if McAfee AV might be causing a problem. Nothing showed up in the log, but this time the cluster came up successfully! The McAfee log only goes back 48 hours, so I do not have proof of its innocence or guilt with respect to this issue. However, it seems highly unlikely that it was involved because I have changed nothin

[2017-09-15 22:41] chrisfalter commented on #1382
As noted in #1381 I am now able to run minishift. Therefore I do not need to install CDK or the DevSuite, and have no interest in keeping this issue open. You may close this issue if you think it has insufficient info to make progress or insufficient priority to justify the work.

Thanks for your help!

[2017-09-15 23:04] gbraad commented on #1381
Let's close the issue for now.

[2017-09-15 23:04] #1381 closed

[2017-09-16 05:02] budhrg commented on #1382
Closing as per @chrisfalter  comment. Thanks

[2017-09-16 05:02] #1382 closed

[2017-09-16 07:26] LalatenduMohanty commented on #1310
@agajdosi One of the things we should test is each profile can run with different config (i.e. different RAM, CPU, disk etc).

[2017-09-17 03:13] rahulbajaj0509 commented on #1363
I would like to work on this bug :)

[2017-09-17 03:14] rahulbajaj0509 commented on #1388
I would like to work on this bug :)

[2017-09-17 03:57] budhrg commented on #1363
@rahulbajaj0509 Thanks for showing great interest in resolving this bug. However, its PR is ready https://github.com/minishift/minishift/pull/1393. You can work on other issues :smile:

[2017-09-17 03:57] budhrg commented on #1388
:+1:

[2017-09-17 04:10] rahulbajaj0509 commented on #1389
i would like to work on this bug. Since i am new to this project, it will also bring me some insight about the default-addons :)

[2017-09-17 04:22] budhrg commented on #1389
:+1:

[2017-09-17 08:59] gbraad commented on #1363
A fix has been provided, but only tests are remaining, and he is working on this.

[2017-09-17 09:00] #1363 closed

[2017-09-17 09:02] gbraad commented on #1363
Thanks for the contribution @anjannath. @hguerrero, check the release once available. If the problem persists, please reopen this issue.

[2017-09-18 04:12] gbraad opened #1394 "Passing provisioning unittests print 'FAIL' because `setHostName` is not mocked"
When running the unit tests, the following tests pass

  * `TestMinishiftLogLevel`
  * `TestMinishiftDefaultStorageDriver`

but they will print:

[code]
This is due to the log line:
https://github.com/minishift/minishift/blob/d81c3d2a53e07c73234972e97c4c712738f2a599/pkg/minishift/provisioner/minishift_provisioner.go#L116

What happens is that:
https://github.com/minishift/minishift/blob/d81c3d2a53

[2017-09-18 04:25] kvance11 opened #1395 "The Windows file location of "sh-4.2$" shown in Terminal"
In a running container, Application-->Pods--> Terminal, sh-4.2$>
Where is this root file location? how could I "cd" to a Windows file location from the Terminal?
C:\minishift>minishift version
minishift v1.5.0+ae62cf2
C:\minishift>minishift openshift version
openshift v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
etcd 3.2.1

Thanks,
Kathy

[2017-09-18 04:29] gbraad commented on #1395
Container run inside the Minishift VM and have no knowledge of the host filesystem, unless configured. For this you need to setup hostfolxers and accordingly configure the application to use persistent volumes.

What is the use case you need to access the host filesystem?

[2017-09-18 05:00] budhram opened #1396 "Reduce the time of integration test run on ci.centos.org"
Currently, the CentOS CI job is taking too much time. Example https://ci.centos.org/job/minishift-pr/1983/console which is making it timeout.

One idea is to split into multi-stage jobs.

Suggestions are welcome.

[2017-09-18 05:12] gbraad opened #1397 "Improve pre-flight checks: add test for iso-url path"
While `m config set iso-url ...` allows a file to be specified, we aren't sure if this file exists. When we do `m start` (using config set) or `m start --iso-url file://`, only the existence of this file will be checked by libmachine/driver. This means that horrible output can follow like:

[code]

There is no need in retrying, as the path is invalid: `file:///c:/users/gbraad/.minishift/cache/iso/

[2017-09-18 05:26] gbraad commented on #1316
[code]

[code]

[2017-09-18 05:39] praveenkumar commented on #1251
I am closing this issue now since we had discussion with minikube folks and they are OK to have minishift piece also as part of the minikube iso.

I will reopen #1059 and #1058 after minikube-iso have all changes in place.

[2017-09-18 05:39] #1251 closed

[2017-09-18 06:03] gbraad commented on #1316
[code]

[code]

[2017-09-18 07:24] pkdone commented on #1343
@csrwng are you aware of an id/link for the upstream OpenShift issue related to this, that I can track? Thanks

[2017-09-18 07:37] agajdosi commented on #1378
`I think we do not expect these to be deleted`

@gbraad Yes, I was thinking the same, but then I saw that there is admin-user.addon.remove in `minishift/addons/admin-user` and it is not being installed. And so the addon can't be removed.

[2017-09-18 07:41] praveenkumar commented on #1378
@agajdosi @gbraad I will take a look into it.

[2017-09-18 07:45] agajdosi commented on #1377
@gbraad Good point, is related. However this is about fact that Minishift shoukd first check if the command can be run in current `state`. If it can't be run, then it will tell me. Now for this command it first checks if it can uninstall the addon. The #1378 is a story when state is running but .remove was not installed so we still can not uninstall.

[2017-09-18 08:05] praveenkumar commented on #1378
@agajdosi I am not sure how you get this issue below is what I did and looks everything as expected.

[code]
[code]

[2017-09-18 08:06] agajdosi commented on #1319
Merged via pull request #1370.

[2017-09-18 08:06] #1319 closed

[2017-09-18 08:26] LalatenduMohanty commented on #1374
Fixed by #1383

[2017-09-18 08:26] #1374 closed

[2017-09-18 08:47] agajdosi commented on #1378
With latest master the behaviour is correct and the same as @praveenkumar reported. This was probably due to fact that admin-user.addon.remove got merged on same day as 1.5.0 went out but was not in 1.5.0. My mistake.

Works as expected, closing this issue.

[2017-09-18 08:47] #1378 closed

[2017-09-18 08:59] agajdosi opened #1398 "Minishift should provide additional information when disabling already disabled addon"
Issue based on this [comment](https://github.com/minishift/minishift/pull/1385#discussion_r139349820).

Currently messages for disabling enabled addon and disabling disabled addon are the same:

[code]

However it should differentiate between the two situations: in first the addon was disabled - the message is fine, in second case Minishift just found out it is already disabled and has done nothin

[2017-09-18 09:52] budhrg commented on #126
Resolved via https://github.com/minishift/minishift/pull/1380

[2017-09-18 09:52] #126 closed

[2017-09-18 09:52] budhrg commented on #405
Resolved via https://github.com/minishift/minishift/pull/1380

[2017-09-18 09:52] #405 closed

[2017-09-18 10:03] LalatenduMohanty opened #1400 "Update to latest CentOS and B2D ISO"
We need to update to latest CentOS and B2D ISOs [1] [2]
[1] https://github.com/minishift/minishift-centos-iso/releases/tag/v1.2.0
[2] https://github.com/minishift/minishift-b2d-iso/releases/tag/v1.2.0

[2017-09-18 11:27] LalatenduMohanty commented on #1400
Fixed by #1399

[2017-09-18 11:27] #1400 closed

[2017-09-18 12:16] agajdosi opened #1401 "Ability to create new profile without starting Minishift"
Currently the only way to create a profile is to start new Minishift instance:
[code]
It would be nice to implement `minishift profile new xyz` so user would be able to create new instance, set configuration and when everything is ready then she could start Minishift.

Now it is also possible but it would require workaround, which doubles the work: using flags and later setting config, or starting

[2017-09-18 12:28] agajdosi commented on #1401
Ok, so another and probably most easy/fast workaround is:
[code]

[2017-09-18 12:34] LalatenduMohanty commented on #1401
@agajdosi the workaround be one step less.
[code]
Also `profile new` will add to improved user experience I think.

[2017-09-18 12:40] LalatenduMohanty commented on #1398
@agajdosi I have similar thoughts as well. Would be interested to know what others think about it.

[2017-09-18 12:44] budhrg commented on #1398
Similar case with `minishift profile set foo`. If my current profile is `foo`, and I by mistake do `minishift profile set foo`, it gaves the same message as we get during switch.

+1

[2017-09-18 12:47] gbraad commented on #1401
Remember we once discussed the need of a create command? Let's check what
the status is on minikube's end. I suggest to stay close to minikube first,
a possible Docker machine second, before doing our own commands.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-09-18 12:56] LalatenduMohanty opened #1402 "Refactor code of function UpdateProfileConstants"
In function `UpdateProfileConstants()` we change some variables from `pkg/minikube/contstants/constants.go` [1] . It is because cluster.GetHostStatus(api) uses `constants.MachineName` directly.

However we should not change these outside of `cmd/minishift/cmd/root.go`. We should find out how we can handle this in a better way.

[code]
[1] https://github.com/minishift/minishift/blob/master/pkg/mini

[2017-09-18 13:02] apupier opened #1404 "Warning "unable to list petsets resources. Not all status relationships can be established" for oc status"
using minishift 1.5.0
on Windows 10 with Hyper-V

I can see the message when I run "oc status -v"

I have no idea what is it and if it is important or not.

[2017-09-18 13:40] thomasmckay opened #1405 "minishift fails to start service-catalog"
[code]
I admit I'm not sure if this is a minishift issue or it lies somewhere else but it presents itself when running minishift. A service-catalog dev looked at it and thought maybe it was the version of templates(?) included in minishift? I'll try to get them to comment here with their thoughts.

[2017-09-18 13:50] dymurray commented on #1405
When helping @thomasmckay debug it appeared the the errors in the controller-manager pod indicated it was still using kind: Broker as opposed to kind: servicebroker which is the new schema. I think this might be related to the fact that the service catalog template used to deploy the service catalog is in the 'oc' binary itself and does not reflect the latest upstream service catalog. If that's th

[2017-09-18 14:22] budhrg commented on #1405
@thomasmckay , could you give `--memory 4GB/6GB`

[2017-09-18 14:43] thomasmckay commented on #1405
@budhrg same when using --memory 6GB
The issue is related to a term in the template changing from "Broker" to "ServiceBroker" when running latest openshift/origin. Since this is baked into 'oc' this error is due to the mismatch between the image and the cli.

Maybe this isn't a use case that minishift desires to support (choosing images and oc versions).

[2017-09-18 14:56] budhrg commented on #1402
Moreover, `UpdateProfileConstants()` should be renamed to some `UpdateProfileVariables()` or similar lines.

[2017-09-18 17:53] csrwng commented on #1343
@gbraad @pkdone sorry I only confirmed that this was not an issue specific to cluster up (I was able to reproduce in Origin installed with ansible -- v3.6.0). However, I am not aware of an issue (apart from https://github.com/kubernetes/kubernetes/issues/34982, which seems old). Please create an issue in origin.

[2017-09-18 18:27] carlossg commented on #933
I'm getting the same error in minishift v1.6.0+7a71565, on `minishift start`

    Error during post cluster up configuration: Error reading config file /Users/acme/.minishift/machines/minishift_kubeconfig

I also have several users with `auth-provider` like mentioned above in one of @bjozet comments.

[code]

Commenting out all these user entries makes the `minikube start` succeed

[2017-09-18 20:24] pkdone commented on #1343
@gbraad @csrwng I logged upstream issue [here](https://github.com/openshift/origin/issues/16424)

[2017-09-19 02:25] kvance11 commented on #1395
Thanks for your response. I try to run a sql file to create tables and to insert records in POSTGRESQL DB within a container.

[2017-09-19 02:29] kvance11 commented on #1395
Another question is about minishift working folder where its log file or its configuration files are. I thought it has to be in ./minishift (In Windows). But I do not see them. Thanks.

[2017-09-19 02:41] gbraad commented on #1395
@kvance11 this sounds like the wrong way to do it. This will result in a what we call a snowflake; a workaround/patch, that is not easy to replicate without manual intervention. Poking around in the container is usually only done for debugging...

The better way it to use posthooks, such as https://blog.openshift.com/using-post-hook-to-initialize-a-database/, or just connect to the container insta

[2017-09-19 02:42] gbraad commented on #1395
@kvance11 the `.minishift` folder resides in the users home folder. On Windows this can be found at `C:\Users\[username]\.minishift` (depending on the version used).

[2017-09-19 03:01] gbraad commented on #1343
https://github.com/openshift/origin/issues/16424

[2017-09-19 05:38] amitkrout opened #1406 "Line "Checking available disk space ... 0% OK" in minishift start log looks weird"
[code]
[code]

[2017-09-19 05:45] praveenkumar commented on #1406
@amitkrout it's not weird, here we check the space of mounted drive so that we also know if disk is mounted as expected. cc @gbraad

[2017-09-19 05:52] praveenkumar commented on #1404
@apupier Can you check which version of oc binary you using? I am not able to see it.

[code]
@csrwng do you have any idea about this warning from openshift client binary side?

[2017-09-19 05:58] apupier commented on #1404
C:\install\minishift-1.5.0-windows-amd64>minishift version
minishift v1.5.0+ae62cf2

C:\install\minishift-1.5.0-windows-amd64>oc version
oc v1.4.1+3f9807a
kubernetes v1.4.0+776c994

[2017-09-19 06:03] gbraad commented on #1406
It actually says: checking available space...
0% is used... so OK follows.

... as expected.

Suggestion on how to improve the message?

[2017-09-19 06:04] amitkrout commented on #1406
@praveenkumar The line is ok, however the ```0%``` confuses me. As a user i would consider this as ```no disk space is available``` cc @gbraad

[2017-09-19 06:27] gbraad commented on #1406
The whole message is
[code]

Maybe we could include:
[code]

[2017-09-19 06:39] LalatenduMohanty opened #1407 "Enable profile integration tests in CentOS CI"
Currently https://github.com/minishift/minishift/blob/master/centos_ci.sh only runs below tests.
[code]
So we should add basic tag to profile tests [1]  i.e. `s/@profile/@profile @basic/` as this should be part of sanity testing.

[1] https://github.com/minishift/minishift/blob/master/test/integration/features/profile.feature#L1

[2017-09-19 06:46] gbraad opened #1408 "Make Minishift cache global shared between all profiles"
Profile needs a shared cache solution. It is too slow to have to redownload everything every time

[code]

[2017-09-19 06:47] gbraad opened #1409 "Feature request: allow custom oc command to be used for deployment/use"
Currently, we offer a `--iso-url` option to specify a custom image. We should also allow specifying a custom `oc` client to be used.

[2017-09-19 06:49] gbraad commented on #1408
With the `--iso-url` option, you can bypass the download, by specifying an ISO from a cache which is already downloaded. If #1409 is available, this can also work for the `oc` client.

[2017-09-19 06:50] gbraad commented on #1409
Implementing this can aid in development

[2017-09-19 06:52] budhrg commented on #1406
Agree with @amitkrout , as the wording is little confusing. One might think here that disk space is 0% available.

+1 for changing the wording here.

Looks fine. WDYT @amitkrout ?

[2017-09-19 06:55] gbraad commented on #1406
add easyfix tag

[2017-09-19 07:04] praveenkumar commented on #510
@dominicalston So I gave it latest minishift a try and looks like it does fix your issue. I am closing this issue now, Please let us know if you still have query around it.

[code]

[2017-09-19 07:04] #510 closed

[2017-09-19 07:18] gbraad commented on #1407
They are not part of the basic test, but rather advanced or commands test.

Our basic test covers a smoke test scenario => https://en.wikipedia.org/wiki/Smoke_testing_(software)

[2017-09-19 07:28] amitkrout commented on #1406
+1

[2017-09-19 07:35] LalatenduMohanty commented on #1407
@gbraad I think a test to check the default profile i.e. `minishift profile list` after `minishift start` must be part of basic testing and we can keep the detailed testing separate as you suggested.
[code]

[2017-09-19 07:50] gbraad commented on #1407
I disagree. as long as `m status` returns the expected value, we have covered a smoke test scenari

[2017-09-19 07:53] gbraad commented on #1396
I suggest to do this based on the following pattern:

[code]

[2017-09-19 07:56] gbraad commented on #1407
Since you introduce new functionality, it should not break the basic flow... so, if status returns the expected value and the deployment succeeds, the smoke test passed.

Basic test:
  * start
  * status
  * deploy testapp
  * stop
  * delete

[2017-09-19 08:45] gbraad opened #1411 "Deleting a profile that doesn't exist will install default add-ons"
[code]

[code]

[2017-09-19 08:47] gbraad commented on #1411
[code]

[2017-09-19 08:49] gbraad opened #1412 "Deleting a profile does not remove the instance main folder and structure"
[code]

[2017-09-19 08:50] agajdosi commented on #1407
@gbraad @LalatenduMohanty I think it depends on how community see the profile feature, is it really wanted by broad public or was that a wish from few users who have quite specific use case? I can't tell.
Maybe it would be better to rather invest test-time to OSO related features like provision_earlier_version.feature or cmd-openshift.feature.

However I would not add --profile to basic.feature as

[2017-09-19 09:06] LalatenduMohanty commented on #1407
That's what I originally did. By adding @basic tag to profile tests, all profile tests will be run when someone run basic tests. But @gbraad does not agree to that as he thinks profile tests should not be in basic tests.

[2017-09-19 09:09] LalatenduMohanty commented on #1412
@gbraad this is as designed. `minishift delete` never deletes the home directory for an instance. It only deletes the artifacts in `machines` directory. If you want to delete the profile we should use `minishift profile delete`.

[2017-09-19 09:14] gbraad commented on #1407
To me `@basic` and `basic.feature` are the same thing. They should not start to mean more than the basic happy path for a new user.

[2017-09-19 09:22] budhrg commented on #510
Working for me too with latest version `1.6.0`

[2017-09-19 09:26] gbraad commented on #1412
What is the motivation to not delete? In this case, it leaves "trash" behind, and conflicts with user expectation.

Because after this step has been performed you can not use the command `m profile delete` anymore, and means user interaction is needed

[2017-09-19 10:05] gbraad commented on #1405
It depends... we support a developer use-case, this could also mean to use a custom setup if needed, or even unprovisioned.

[2017-09-19 10:07] gbraad commented on #1405
Not sure what to do with this issue...

[2017-09-19 10:10] gbraad commented on #1396
I rather want to see us actually using a pipeline (with stages), instead of enriching the CentOS_CI.sh file with a lot of state and actions.

See: https://jenkins.io/doc/book/pipeline/

[2017-09-19 10:11] agajdosi commented on #1407
@gbraad Until now we have run all tags except the `coolstore`. So we could run more than a basic.feature. Maybe a `smoke` tag would be handy for this - we would tag as smoke the basic.feature and one or two more features we want to run. This way we would have unique tag for basic.feature - `basic` and special tag meaning the set of smoke tests we want to run on PRs in Centos-CI.

[2017-09-19 10:16] gbraad commented on #1407
@agajdosi CI/CD ultimately should give quick feedback to the user about the state of the build... but at the moment we add more and more and a PR build takes over 40+ mins. That is way beyond the usual threshold of +/- 10 mins as used in CI practices.

I strongly suggest rethinking our strategy before adding more: #1396. I will not add those comments here...

[2017-09-19 10:17] agajdosi commented on #1411
I have this question in my mind for few weeks: if all addons are not enabled and thus have no effect on minishift, wouldn't it be better to leave their installation just for `minishift addons install --default`? Maybe it would be more clear and explicit than automatic installation "here or there".

[2017-09-19 10:25] gbraad commented on #1411
Installation of add-ons now happen as a side-effect of a command, and this is in my opinion not good. It breaks expectation, as we also have seen with @amitkrout and the integration tests.

The install should ONLY run on an explicit `m addons` call, or as part of `m start`.

[2017-09-19 11:14] LalatenduMohanty commented on #1412
It is not trash. It is user configuration. For example if an user has started with a different RAM or CPU number or separate add-on and user want to just delete the instance and start again.  If we want to talk about changing `minishift delete` thats a different discussion.

[2017-09-19 11:31] LalatenduMohanty opened #1414 "Create a video for Minishift"
We need to create a video for user who likes to learn by watching a video. We should discuss and decide what we want to cover in the video.

[2017-09-19 11:34] budhrg commented on #1414
Where to publish? Youtube?

[2017-09-19 11:41] csrwng commented on #1404
Issue https://github.com/openshift/origin/issues/13913

[2017-09-19 12:12] thomasmckay commented on #1405
Closing this since not really a minishift problem but due to mismatch between openshift/origin image and 'oc' command.

[2017-09-19 12:12] #1405 closed

[2017-09-19 12:13] thomasmckay commented on #1409
+1

[2017-09-19 12:15] gbraad commented on #1414
I would say, maybe (also) an ASCIINEMA, as this can also be embedded in the ReadMe.
Where to publish is our last question to answer; Youtube, Twitch, Vimeo, Youku/Tudou, etc

First, what is the content? I would say the happy path of our basic flow... and then maybe touch on one additional great feature why you should consider trying us.

  * `m start`
    * explain what happens: driver, download,

[2017-09-19 12:26] gbraad commented on #1412
General configuration and all instances config is not touched by delete. But with a remove I expect this specific config to disappear.

Else, this needs to be specifically tested and enforced in a behavioural test/integration test.

[2017-09-19 12:55] LalatenduMohanty commented on #1369
Resolved by https://github.com/minishift/minishift/pull/1413

[2017-09-19 12:55] #1369 closed

[2017-09-19 13:01] budhrg commented on #1414
This seems to be multiple videos.

[2017-09-19 13:01] LalatenduMohanty commented on #1411
This is a duplicate of https://github.com/minishift/minishift/issues/1342. Because installing add-ons currently happens for all commands if the add-ons directory does not exist. once #1342 is fixed you will not see this.

[2017-09-19 13:02] praveenkumar commented on #1396
https://docs.openstack.org/infra/jenkins-job-builder/project_pipeline.html even now JJB also support pipeline so we shouldn't have issue to update our JJB templates and create it as per our need. We might have to split centos_ci.sh into smaller bash script for each test case and than run those.

[2017-09-19 13:03] LalatenduMohanty commented on #1411
@gbraad  We can close this issue as this is issue about installing default add-ons for the delete command. Let me know if you differ on this

[2017-09-19 13:07] gbraad commented on #1414
actually, if you check:

  * https://asciinema.org/a/132591 (preflight)
  * https://www.youtube.com/watch?v=J0sV6Y6EDhg (hostfolder manual)
  * https://www.youtube.com/watch?v=fJFvg69iEjw (hotfolder automount)

you can see that a basic scenario can be covered in about <5 mins. It really depends here on what needs to be shown, and the target time.

But yes, maybe it is not a single video... but a s

[2017-09-19 13:09] gbraad commented on #1414
[![asciicast](https://asciinema.org/a/132591.png)](https://asciinema.org/a/132591)

[2017-09-19 13:19] LalatenduMohanty commented on #1409
@thomasmckay Can you please explain here what is the use case you are trying to solve with the custom oc binary? It will help us prioritizing the task

[2017-09-19 13:27] thomasmckay commented on #1409
As a user, I want to specify an oc executable that matches my openshift/origin image.
As a developer, I want to specify my a locally built oc executable.

Currently I specify --openshift-version, which determines the version of oc, along with --extra-clusterup-flags to get the openshift/origin tagged image. My specific case I'm using :latest tag but all released versions of oc do not work with tha

[2017-09-19 13:29] budhrg commented on #1414
@gbraad  Well on clicking on ASCIINEMA, it seems to redirect me to actual video.

Does it has playlist feature?

From users point of video, it would be great if we could store it in playlist. Then, we can share this single link.

[2017-09-19 13:37] gbraad commented on #1414
Unfortunately not... but I hope we can make something similar... but for this we need a flow of commands. I created first the outline, commands and then start playing/running them.

I think we can do a voiceover afterwards.

[2017-09-19 13:41] budhrg commented on #1396
Actually, it is integration tests which is taking time.

#### Stats for 21 min total build PR - https://ci.centos.org/job/minishift-pr/2010/consoleFull
[code]

[2017-09-19 13:43] gbraad commented on #1396
currently a run for PR takes 40+ mins

[2017-09-19 13:44] gbraad commented on #1396
https://ci.centos.org/job/minishift-pr/2011/ (43mins)

[2017-09-19 13:45] budhrg commented on #1396
### Stats for 43 mins total build PR - https://ci.centos.org/job/minishift-pr/2011/consoleFull
[code]

[2017-09-19 14:05] budhrg commented on #852
@karthikvt26 , any update?

@anjannath Could you try?

[2017-09-19 14:05] #1407 closed

[2017-09-19 14:08] budhrg commented on #1390
Duplicate of #817 .

[2017-09-19 14:08] #1390 closed

[2017-09-19 15:13] kbsingh commented on #1396
what problem are you really trying to solve here ? There doesnt seem to be a clear msg around that, so is this just unneeded premature optimisation ?

[2017-09-19 15:17] kvance11 commented on #1395
OK. I will try posthooks approach.
You are right, I can find the ./minishift folder. Also I set MINISHIFT_HOME locally. I do not see any config there except log files.
Thanks all.

[2017-09-19 15:33] gbraad commented on #1396
@kbsingh this is not premature optimisation. in just a few days, the test load has increased from 15 minutes to 45 mins... this is after we got the taste of using BDD/Cucumber. We have not even achieved full coverage, so we are surely going to see an increase.

[2017-09-19 15:51] gbraad commented on #852
From now on, @anjannath is our Argh Linux guy ;-)

[2017-09-19 16:04] gbraad commented on #1395
Logs files for Minishift are not helpful, they only concern about the startup of the VM. You probably want OpenShift logs. Minishift provides a command for this `minishift logs`. I strongly suggest you to read the documentation at: https://docs.openshift.org/latest/minishift/ and learn to use the `oc` command. Which can be enabled with `minishft oc-env`. Please use:
[code]
from a Command Prompt to

[2017-09-19 16:05] gbraad commented on #1395
Closing this as no real issue is reported.

If questions remain, please consider dropping by on IRC at freenode: #minishift

[2017-09-19 16:05] #1395 closed

[2017-09-19 18:38] LalatenduMohanty commented on #1375
Resolved by https://github.com/minishift/minishift/pull/1385/

[2017-09-19 18:38] #1375 closed

[2017-09-19 18:38] LalatenduMohanty commented on #1322
Resolved by https://github.com/minishift/minishift/pull/1385/

[2017-09-19 18:38] #1322 closed

[2017-09-19 20:39] kbsingh commented on #1396
@gbraad  I should have been clearer in my msg earlier - I meant the system contextualisation optimisation feels a bit premature - its clearly only 6% of the overall runtime, and not a contributor to the 400% increase in the test run-time itself.

[2017-09-20 02:49] gbraad commented on #1412
I believe this breaks building a mental model for the user. The user should be able to expect commands to behave in a certain way. Consider the following:

[code]

Given a user
 When executing `minishift delete --profile test`
 Then active profile is removed
  And artifacts remain
[code]

[2017-09-20 04:13] gbraad commented on #1411
In this case it should track the installation of the add-ons related to add-ons. This report differs from the original report as it discusses the relation with new functionality.

For testing purposes (manual and test case creation) I advise this to be remain open or specifically described in the original report.

[2017-09-20 05:22] budhrg opened #1415 "Introduce a command to delete all profiles at once including default"
With users having multiple profiles, we need to introduce a command / flag in existing command `delete` to delete all the existing profiles at once.

#### Why it is needed?

It's pain in deleting individual profiles one by one.

#### Options we have

- Introduce a new command `minishift nuke` (or any other name)
- Add flag `--all` to existing `delete` command

[2017-09-20 06:23] budhrg opened #1417 "Minishift should use oc binary of 3.6 or greater, depending upon the OpenShift version needs to be provisioned"
With OpenShift origin issue of [`Stop allowing oc cluster up version X to instantiate a server version X-1`](https://github.com/openshift/origin/issues/15731), we need to follow-up plan for the impact of minishift behavior and how to tackle it.

[2017-09-20 06:26] budhrg commented on #197
Revisit during discussion of https://github.com/minishift/minishift/issues/1417.

[2017-09-20 06:52] gbraad commented on #1415
`$ minishift profile list | awk '{print $2}' | xargs -L1 minishift delete --force --profile `

[2017-09-20 07:02] praveenkumar commented on #1404
Thanks @csrwng . @apupier Can we close this issue from minishift side now and you can add yourself as watcher for upstream issue?

[2017-09-20 07:08] budhrg commented on #1415
Good for Linux. What about Windows?

[2017-09-20 07:13] anjannath commented on #852
On my machine i have to start the libvirtd service using `systemctl start libvirtd` and start the default interface using `virsh net-start default` and minishift runs.

[2017-09-20 07:23] #1404 closed

[2017-09-20 08:21] gbraad commented on #1415
on Windows you will likely use powershell and start using splits
[code]

[2017-09-20 08:25] agajdosi commented on #1415
Flag seems reasonable and useful. +1
New command is a little bit too much I think, but it could get us some new users form N. Korea.

[2017-09-20 08:32] gbraad commented on #1316
Currently having issues with the B2D image. It seems this image clears the pool when the `hv_kvp_daemon` starts? Not sure, but it means the values need to be sent for a longer period of time, and when the daemon is up, `automount` already ran. need to find a better approach. However, this works for `IsRHELBased` images.

[2017-09-20 09:50] praveenkumar commented on #1386
@odockal We have this because of below reason. I don't think we should take any action around it if the VM is not responsive.

https://github.com/minishift/minishift/blob/master/cmd/minishift/cmd/registration/util.go#L68 here we are performing and unregistration first and if that fails then only prompt for this message.

- We only get single subscription when sign up using developer program (devel

[2017-09-20 10:26] budhrg commented on #1364
Resolved via https://github.com/minishift/minishift/pull/1416

[2017-09-20 10:26] #1364 closed

[2017-09-20 12:02] praveenkumar commented on #817
@budhrg Can you try using CentOS iso and confirm if that works?

[2017-09-20 14:52] budhrg commented on #817
With CentOS ISO, I am getting
[code]

[2017-09-20 15:04] praveenkumar commented on #817
@budhrg you have to wait till registry service start here I can see registry images is not pulled so it surely not started. I would suggest you to wait till all the container around openshift component up and running.

[2017-09-20 17:19] karthikvt26 commented on #852
Hey guys,

I apologize for not updating promptly, I was held up with something. I tried it again and it failed with the same error

Here are the steps I followed

I updated my minishift version. Here is the output of it

minishift v1.6.0+7a71565

Here is the tailed log

➜  ~ minishift start --vm-driver virtualbox
-- Installing default add-ons ... OK
-- Starting local OpenShift cluster using 'virtu

[2017-09-20 18:38] LalatenduMohanty commented on #680
Resolved by #1418

[2017-09-20 18:38] #680 closed

[2017-09-21 04:51] praveenkumar opened #1420 "Expose oc cluster up --image flag as part of experiment feature"
oc cluster up have `image` flag which actually used to test out if origin images are part of some local registry or self hosted one. Something like `oc cluster up --image foo.com:8888/openshift3/orgin` and it fetch all components also from that registry.

I also tend to bybass latest tag for experiment features so for experiment we can use it for some test/experiment.

[2017-09-21 04:54] gbraad commented on #1316
Currently able to use B2D to some degree with a workaround...

[code]

[2017-09-21 05:13] praveenkumar commented on #1420
Closing this now. I can use extra-clusterupflags to pass argument what I need.

[2017-09-21 05:13] #1420 closed

[2017-09-21 08:23] gbraad commented on #1316
I attempted to get it to work with B2D, but at the moment it keeps resetting IPv6 support, and it clears the KVP pool, so the values I sent get cleared... For now, I will give up on supporting B2D. This will be possible later improvement.

[2017-09-21 08:36] LalatenduMohanty commented on #852
As others also mentioned, I also feel this is happening because the origin container is not able to run . It  should not be a Arch Linux specific issue as @anjannath runs MInishift on Arch using KVM+libvirt.

@karthikvt26 after updating to the latest version, did you start from fresh i.e. did you uninstall [1] the previous version?

[1] https://docs.openshift.org/latest/minishift/getting-started/u

[2017-09-21 09:27] budhrg commented on #1209
As part of it I am cleaning the archive server and keeping last 10 builds of pr, master. http://artifacts.ci.centos.org/minishift/minishift/

[2017-09-21 09:36] anjannath commented on #852
Using the lates version of minishift v1.6.0, it works fine on my Arch Linux setup.

`$ minishift start --vm-driver virtualbox
-- Starting local OpenShift cluster using 'virtualbox' hypervisor ...
-- Starting Minishift VM .......................... OK
-- Checking for IP address ... OK
-- Checking if external host is reachable from the Minishift VM ...
   Pinging 8.8.8.8 ... OK
-- Checking HTTP conn

[2017-09-21 09:39] budhrg opened #1421 "Stop saving the OpenShift docs in artifact server and create an on demand job to do it"
Currently, we [compile the OpenShift doc and save to our artifact server](https://github.com/minishift/minishift/blob/master/centos_ci.sh#L179-L185) as part of PR build.

Though, it seems we hardly check docs during out of PR build.
I have created issue to trigger [job to create on-demand doc preview](https://github.com/minishift/minishift-ci-jobs/issues/32).

This should reduce the build time of

[2017-09-21 10:09] LalatenduMohanty commented on #713
@budhrg I think I opened it mistakenly. Closing it.

[2017-09-21 10:09] #713 closed

[2017-09-21 10:29] LalatenduMohanty commented on #1216
As discussed with @agajdosi @amitkrout

After trying to do as discussed in this issue (in #1379) it seems it need a lot of effort to completely bypass GODOG_OPTS as there are so many use cases it already covers e.g. pointing to a directory or pointing to a feature file and trying to put the logic to bypass it in Makefile is making things complicated Also we do not think it worth it.

However we ag

[2017-09-21 11:14] chilcano commented on #838
I've used `$ minishift start --public-hostname myhost` and had to add `myhost` to `/etc/hosts`, in this way i can connect to web console `https://myhost:8443/console` without problems and redirections because the generated TLS/SSL certificate had 2 new entries with `myhost` and the ip address in the `SubjectAltName` attribute.

Now, I would like to set a proper minishift's VM hostname instead usin

[2017-09-21 11:26] LalatenduMohanty commented on #1386
Ideally we should respect `--force`. Even if it can bring disastrous results. Otherwise we are breaks the general perception of the meaning of `--force` flag.
However  we should figure out how difficult it is for a developer (with a developer subscription) to free up the entitlement if user has deleted the VM without un-registering it. If it is really difficult than we might want to differ this is

[2017-09-21 11:47] odockal commented on #1386
This is definitely worth exploring, what happens if vm is deleted and image was not unsubscribed. I would not vote for prioritizing ease of automation over developer's experience or troubles having multiple subscribed images over developer.redhat.com.

I am not sure how this works as I am having multiple images subscribed under my test account and I did not have any problem like exceeding limit of

[2017-09-21 11:51] agajdosi opened #1423 "Document usage of @cmd, @openshift and @addon tags"
Issue #1216 brought a need for more clear naming and definition of test sets we want to use. I am creating this issue as we agreed that further discussion is needed and that these changes are not necessary needed for #1216.

From previous discussion on #1216 there are three sets with their tags proposed:
- smoke
- basic
- all

First I would like to suggest to **rename the basic.feature to somethin

[2017-09-21 13:19] ryanj opened #1426 "Checking if xhyve driver is installed ... FAIL"
I've upgraded to the latest minishift release (minishift v1.6.0+7a71565 running on OSX 10.12.6), and am now hitting some errors when trying to initialize the environment:

[code]

minikube is working fine (using virtualbox), and minishift 1.0 had been working fine as well.  Seems like xhyve shouldn't be necessary when virtualbox is running.

[2017-09-21 13:32] ryanj commented on #1426
I was expecting `minishift` to default to `virtualbox` when active/available (just like `minikube` does).  Setting `--vm-driver=virtualbox` got around this issue.

[2017-09-21 13:53] praveenkumar commented on #1426
@ryanj This is because in Minishift we make default vm-driver as default platform hypervisor (like for windows it's HyperV, macOS it's xhyve and for Linux it is kvm). We have document also around it
https://docs.openshift.org/latest/minishift/getting-started/installing.html#install-prerequisites

If you agree on then please close this issue.

[2017-09-21 14:21] essepuig opened #1427 "Logging can not collect project logs"
When using minishift with experimental features enabled and "--extra-clusterup-flags=--logging=true" flag, the kibana interface does not show any log.
The fluentd pod shows many warnings with the form "log unreadable. It is excluded and would be examined next time." :

`umounts of dead containers will fail. Ignoring...
umount: /var/lib/docker/containers/0fb27eca67aebc24163fffb8387854696ccc37336e8b

[2017-09-21 14:31] praveenkumar commented on #1427
@essepuig logging is not part of experiment feature you can directly use --logging flag along with start. Regarding your error we might have to take a look and get back to you.

[2017-09-21 15:38] #1426 closed

[2017-09-21 18:17] vcottagiri opened #1428 "Checking if Hyper-V driver is configured fails on v1.6"
Env :
Windows 10 PRO
Virtualization: Hyper-V

$ minishift start
-- Checking if Hyper-V driver is configured ... FAIL
   See the 'Setting Up the Driver Plug-in' topic for more information

$ minishift version
minishift v1.6.0+7a71565

I am able to start minishift without issues if I switch to v1.5 release. The HyperV Virtual Switch Manager as been configured as per the documentation provided.

[2017-09-21 18:24] gbraad commented on #1428
We now enforce users to be part of the HyperV Administrators group. This is
a pre-requisite from libmachine.
Can you please check this? The instructions are detailed in the
documentation section called "Setting up the Driver Plugin"

On Fri, Sep 22, 2017 at 2:17 AM, Varghese Cottagiri <
notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-09-21 20:26] vcottagiri commented on #1428
Yes it worked after adding the user to HyperV Admin group.

Appreciate the quick feedback!

[2017-09-21 20:26] #1428 closed

[2017-09-22 05:13] gbraad opened #1429 "Split the hypervisor pre-flight checks in specific targeted functions."
This refactor was on the todo-list, but already caused a small issue... Hope this will help with #1428 .

[2017-09-22 05:17] gbraad commented on #1429
[code]

[code]

[2017-09-22 05:19] gbraad commented on #1429
@anjannath Can you look at this? Also check the file if more of these checks can be split into smaller units. Take note, leave the `configCmd.SkipCheckHyperVDriver.Name` and `configCmd.WarnCheckHyperVDriver.Name` intact as-is, since these are configuration settings.

/cc: @LalatenduMohanty

[2017-09-22 05:24] gbraad commented on #1428
We will fix this as part of #1429, as it is not a very nice message (vague).
Else, if the system works, but our test fails, you can always disable the check with: https://docs.openshift.org/latest/minishift/troubleshooting/troubleshooting-getting-started.html#minshift-startup-check-failed

[2017-09-22 05:30] budhrg opened #1430 "Add documentation of adding Hyper-V environment variable in installation step"
The installation step of [minishift in Windows](https://docs.openshift.org/latest/minishift/getting-started/installing.html) doesn't specific says that it is mandatory to add switch name as environment variable. It is not visible.

We need to mention here that it is now mandatory to add switch name as an environment variable.

cc @gbraad

#### Update
[code]

[2017-09-22 05:33] gbraad commented on #1430
This is described in the section https://docs.openshift.org/latest/minishift/getting-started/setting-up-driver-plugin.html

[2017-09-22 05:35] gbraad commented on #1430
Not sure if this should be more explicit, as the paragraph already says: for more information, see

[2017-09-22 05:40] gbraad commented on #1415
Might be possible to set an easy fix, but behaviour needs to be clear... What do we expect to happen?

[2017-09-22 06:09] budhrg commented on #1430
Not explicit for users IMO, since there it says

It says if _you need any specific configuration steps_ which is not general IMO not sure what @LalatenduMohanty @praveenkumar think about it.

[2017-09-22 07:29] essepuig commented on #1427
Hello,
after doing a docker toolbox update + a fresh minishift 1.6 installation + cleaning all my old virtualbox images + using the "--logging" flag without experimental features enabled, it worked ;)

So, i think you can close this issue. Thanks.

[2017-09-22 08:34] budhrg commented on #1415
[code]

[2017-09-22 08:36] gbraad commented on #1415
'nuke' sounds like clearing settings too, as the current delete behaviour
seems to leave the instance folders under ./profiles behind, and therefore
settings of the old instance will be re-used. Is this expected here?

On Fri, Sep 22, 2017 at 4:34 PM, Budh Ram Gurung <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-09-22 08:49] budhrg opened #1431 "Update Makefile and centos ci script to handle upcoming friendly integration changes"
With PR https://github.com/minishift/minishift/pull/1379, there are friendlier ways to run integration test.

Discuss and update Makefile and centos ci script to adapt above changes.

[2017-09-22 09:22] kishansag opened #1432 "Troubleshooting: Network not found: no network with matching name 'default'"
While using minishift you might get errors like `Network not found: no network with matching name 'default'` or `Network not found: no network with matching name 'docker-machines'`. It would be great if we can add a fix to this to the troubleshooting document.

[2017-09-22 09:50] agajdosi opened #1433 "Implement CDK related test cases in Minishift"
I am creating this to get more open answer to the fact, **if we are fine with having few CDK-related tests here in repository or not?**

Please let me know your attitude on this topic.

If we agree on that it is fine for us, then I will follow with this issue and will add few CDK variants to scenarios which are currently tagged as `minishift-only`. As result these conflict scenarios will be duplic

[2017-09-22 10:00] budhrg commented on #1264
Another issue, while reattempting today

![screenshot from 2017-09-22 15-26-21](https://user-images.githubusercontent.com/1132451/30739301-71d04e6e-9faa-11e7-806b-0edafb149fde.png)

Also, `che-server` image is from nightly

[code]

So might be exactly same as last time.

[2017-09-22 10:03] praveenkumar opened #1434 "Update xpaas addons"
Currently xpaas addons stream and templates are quite old and it doesn't have all latest tags. We need to update it.

[2017-09-22 10:10] l0rd commented on #1264
@budhrg Have you ran script `replace_stacks.sh`?

[2017-09-22 10:18] budhrg commented on #1264
You mean ` ./stacks-che.sh` right? Yes.

[2017-09-22 10:18] gbraad commented on #1264
@l0rd did you have a look at the addon option for Che on Minishift?

[2017-09-22 10:20] budhrg commented on #1264
https://github.com/eclipse/che/commit/942254eacf4d544fa354cd87ce849a267fa7cf4f seems to be added before 3 days.

[2017-09-22 10:32] l0rd commented on #1264
@budhrg we have made different changes to the stacks so that might be a regression. What the stack that's not starting? `registry.devshift.net/che/vertx`?

@gbraad no but I would be happy to do that. Ideally I should first complete the previous tasks in https://github.com/eclipse/che/issues/6097. Let's say next week or the one right after but let me know if you think it's something that need to be

[2017-09-22 10:33] budhrg commented on #1264
@l0rd , Yes. the default `CentOS Nodejs` stack seems working fine to me.

[2017-09-22 10:49] budhrg commented on #1264
@l0rd ,

Though the workspace for stack `CentOS Nodejs` created successfully, on creating new project via sample `web-nodejs-sample`, I am getting followin error on running it

[code]

Any idea?

Note: I still need to go through basic working of che.

[2017-09-22 10:52] LalatenduMohanty commented on #1264
@l0rd  Thank you. We are actually targeting the next release of upstream Minishift  i.e. v1.7.0 on 9th September 2017.   We should be able to help you for creating an add-on for Minishift. I will start a mail thread for discussing some more details.

[2017-09-22 10:53] agajdosi opened #1436 "Add option to pass custom config into integration tests"
Right now one is able to modify vanilla Minishift used in integration test with environmental variables. For example more memory can be added... However some flags used with `minishift start` can't be implemented as environmental variables and thus to support these for integration tests we need to implement a possibility to pass them as an argument to `make integration` and later apply this argume

[2017-09-22 11:13] praveenkumar commented on #1433
@minishift/minishift-dev Please have a look and provide your view. For me it's +1, so we don't need to rebase lot of stuff downstream.

[2017-09-22 11:14] praveenkumar commented on #1427
@essepuig Thanks for confirmation, closing now.

[2017-09-22 11:14] #1427 closed

[2017-09-22 12:10] gbraad commented on #1264
@budhrg those issues look more like a not up-to-date example...

@LalatenduMohanty @l0rd, although we could go ahead with a single script to run, it would be great to have it wrapped as an addon

[2017-09-22 12:57] budhrg commented on #1433
Looks fine to me as well. :+1:

[2017-09-22 13:01] budhrg opened #1440 "Simplify conditional checks in pkg/util/filehelper"
Example https://github.com/minishift/minishift/blob/master/pkg/util/filehelper/file.go#L166-L170 could be simplified by return `err == io.EOF`.

[2017-09-22 13:50] LalatenduMohanty commented on #1216
Resolved by https://github.com/minishift/minishift/pull/1379

[2017-09-22 13:50] #1216 closed

[2017-09-22 14:05] LalatenduMohanty commented on #1406
Resolved by https://github.com/minishift/minishift/pull/1422

[2017-09-22 14:05] #1406 closed

[2017-09-22 14:53] agajdosi commented on #1436
Ok, so I have tried to do this properly with flag accepting stringArray values, which due to the 3 level nesting: makefile, go test command, flag parser for Godog tests resulted in need for quite ugly commands:

[code]

Quoting would be just mad in this case.

So I went for solution which is less elegant in field of code and elasticity, but will result in much more human friendly parameters for `m

[2017-09-22 14:56] agajdosi commented on #1436
I have added a prototype, if you will have time on Monday, let me know what do you think, @praveenkumar. I am able to provision newest OCP image with these changes, so probably it needs some kind of ack if it looks like reasonable and friendly way to go, I can then polish and create WIP.

[2017-09-22 16:13] vcottagiri commented on #1428
Thank you for improving on the error reporting, that will be very useful.
I will test it out once its merged.

[2017-09-22 16:48] vcottagiri opened #1441 "Error while login to a remote docker registry using the Minishift docker env"
I am trying to login to a remote [Artifactory](https://www.jfrog.com/confluence/display/RTF/Docker+Registry) docker registry configured using the docker daemon running in Minishift.

[code]
I have also tried this with the minishift start --insecure-registry argument
The login works if I use a later docker version, with the insecure registry setup
[code]
I see that its trying to use the v1 url, whi

[2017-09-22 17:30] l0rd commented on #1264
@budhrg yeah I think you have found a couple of issues in image `centos-nodejs` (cc @dharmit). Sorry about that but the centos-nodejs image hasn't been tested yet really. vert.x and spring-boot should be the stable ones.

I cannot reproduce your vert.x stack issue though. You may use different image version for che-server. Here is the digest of the image I am using (it correspond to the current la

[2017-09-22 17:31] vbatts opened #1442 "support cri-o as a container-runtime"
https://github.com/kubernetes-incubator/cri-o is runs under openshift 3.6 and newer, quite nicely.

This is now an open PR with minikube, and would be great to have this in minishift as well.
https://github.com/kubernetes/minikube/pull/1998

[2017-09-22 17:55] LalatenduMohanty commented on #1442
@vbatts Thanks. We will take a look and get back to you.

[2017-09-22 18:00] vbatts commented on #1442
:+1:

[2017-09-23 00:36] gbraad commented on #1442
I noticed you proposed cri-o as a runtime for minikube. We are in the process of supporting this image, too.

[2017-09-23 00:40] gbraad commented on #1058
Can you collect the PR you proposed, so we can track what is still needed to integrate on their end?

[2017-09-23 01:41] gbraad commented on #1442
@vbatts are packages ready for CentOS to support this?

[2017-09-23 05:23] praveenkumar commented on #1058
@gbraad thanks for updating description along with PR 👍

[2017-09-23 15:08] budhrg commented on #1264
Thanks for the info @l0rd , I will try with it.

[2017-09-25 06:40] gbraad opened #1444 "Provide feedback during 'Starting Minishift VM'"
On Hyper-V, the startup already takes quite long (although feedback of the creation and conversion of the disk image is given from `libmachine`), there is a provisioning happening that is under our control. It would be nice to provide some kind of feedback what is happening besides the progress dots:

[code]

Note: startup took about 3+ mins. While the VM console was available, some of the steps w

[2017-09-25 06:41] praveenkumar commented on #1058
We have both merged so now with updated minikube-iso we can have provision minishift. I will send the provisioner update PR.

[2017-09-25 07:38] budhrg commented on #1058
Cool :+1:

[2017-09-25 08:28] budhrg opened #1446 "Add way to add GODOG options for 'make integration_all'"
With recent changes to the way we run integration test, it seems there is no way to add extra `GODOG` options like `--format pretty` which is used in CI.

cc @amitkrout

[2017-09-25 08:40] agajdosi commented on #1446
@budhrg There were changes some time ago, you can skip the `--format pretty` as `pretty` is default value for `--format` flag now. However with some time after the PR, I agree that `GODOG_OPTS` should be there.

Until then I think this workaround should work: `make integration GODOG_OPTS=-tags=""` or use any negative tag: `make integration GODOG_OPTS=-tags=~nothing`. But this makes sense only for

[2017-09-25 08:45] praveenkumar commented on #1442
http://cbs.centos.org/koji/packageinfo?packageID=5695 looks like cri-o package is build on cbs also but not sure how mature this is and how to consume when we build our own ISO. Might be we will keep this as experiment feature for minishift till it part of offical repos?

[2017-09-25 08:48] budhrg commented on #1446
What abou `make integration_all` ?

[code]

This doesn't have `GODOG_OPTS` variable to use from cmd line at all.

[2017-09-25 10:58] praveenkumar commented on #817
@csrwng  We are getting `unauthorized: authentication required` when try to push images to openshift registry. This is happening when we are using Fedora 26 along with b2d iso. If we use CentOS iso we don't see this issue at all. Do you have any pointer what going wrong or any other detail you require?

[code]

[2017-09-25 12:17] agajdosi commented on #1344
Hi @amitkrout, is this issue still reproducible or have it vanish? It seems it could be a network issue.

[2017-09-25 12:24] gbraad commented on #1440
simplified case provides clarity

[2017-09-25 12:25] agajdosi commented on #557
Hello @starksm64, time flies, are you still around Minishift? If so, had newer releases resolved this issue or you are still facing it?

[2017-09-25 12:28] gbraad commented on #1442
adding runtime selections from minishift as experimental feature is not difficult, but experimental features for the ISO is slightly more difficult to handle. We will have to think how to handle this.

[2017-09-25 12:36] agajdosi commented on #547
@LalatenduMohanty We still do not have any kind of FAQ and it seems to me that points of @veillard are still valid. I think we could add it for 1.8.0 or 1.9.0 milestones, we could bring our ideas for Q&As collectively and later it could be not so hard to compile them into one file, wdyt?

[2017-09-25 12:45] amitkrout commented on #1344
@agajdosi  i am able to reproduce it on master. Can you please check it from your end once ?

```make integration GODOG_OPTS="-tags cmd-openshift"```

[2017-09-25 13:08] agajdosi commented on #518
Hi @hagishun, is this issue still actual for you? As @praveenkumar mentioned, you can try `minishift start --logging` with latest Minishift release, it is currently experimental and can have some issues, but it could help you to save some time.

[2017-09-25 13:20] csrwng commented on #817
@praveenkumar I think the main thing to look at are the registry container logs. However, I don't see much in the lines you pasted above. @dmage is there something @praveenkumar can change to get more debug output from the registry container?

[2017-09-25 13:49] gbraad commented on #1442
One of the things we haven't handled yet is the version number problem related to the ISO we use. For minikube it is easier to handle, as this is part of the release. In our case I want to do feature detection for the ISO we use... and based on that allow certain features to happen... like mounting, etc.

However, a runtime selection happens during the provisioning, so the request might only fail

[2017-09-25 14:00] #1429 closed

[2017-09-25 14:02] gbraad commented on #1428
This got merged as will soon be available as a build.

  * https://ci.centos.org/job/minishift/319/
  * http://artifacts.ci.centos.org/minishift/minishift/master/319

[2017-09-25 14:13] gbraad commented on #1440
Merged as b65660f5053513f41a2d62155a288a7f2f336786

[2017-09-25 14:13] #1440 closed

[2017-09-25 15:16] dmage commented on #817
It's very truncated registry logs. By default the registry starts with the debug log level. How the registry was started?

[2017-09-25 15:41] swissgrammie commented on #1316
This issue is killing me, i have it installed on my laptop. Any chance of you making the experimental minishift.exe and the iso available?

[2017-09-25 16:01] #1209 closed

[2017-09-25 17:04] gbraad commented on #1316
@swissgrammie The details are in the first message on the PR: https://github.com/minishift/minishift/pull/1391

Although this also works with an External Virtual Switch, the best results can be had with an Internal Virtual Switch (with NAT) or use DockerNAT.
[code]

Needed artifacts:
  * minishift.exe
     http://artifacts.ci.centos.org/minishift/minishift/pr/1391/windows-amd64/
  * minishift-cent

[2017-09-26 04:11] gbraad commented on #1327
@amitkrout @budhrg @agajdosi any luck on this? I see no additional information was provided on https://github.com/jbossdemocentral/coolstore-microservice/issues/74

[2017-09-26 05:27] #1446 closed

[2017-09-26 05:48] amitkrout commented on #1327
@gbraad Not yet spend any time to look into the issue to be honest. Will start investigation ASAP.

[2017-09-26 06:40] LalatenduMohanty commented on #1388
Along with minishift version information we should include  OS name and version in the output of ` --show-libmachine-logs -v 5`. Specifically Minishift version and OS name and version should be part of `-v 5` logs.

[2017-09-26 06:41] LalatenduMohanty commented on #1388
@rahulbajaj0509 Have you started working on this?

[2017-09-26 06:54] budhrg commented on #817
I am able to reproduce it in CentOS host as well but not in macOS.

[2017-09-26 06:55] rahulbajaj0509 commented on #1388
@LalatenduMohanty yes.

[2017-09-26 07:04] LalatenduMohanty commented on #1388
Can not assign @rahulbajaj0509 to this bug, hence keeping it in my name to prevent assigning the issue to someone else.

[2017-09-26 07:08] agajdosi commented on #1433
Ping @gbraad, @LalatenduMohanty. What do you think about this?

[2017-09-26 08:11] praveenkumar commented on #817
@csrwng @dmage Looks like the docker client ship with fedora/centos/RHEL is not able to push image to minishift when it using b2d iso but it did work when using centos or rhel iso. I am not sure what happens here but if you folks want to produce this issue you can try minishift on a fedora machine and try to push image to internal registry.

[2017-09-26 08:12] agajdosi commented on #603
Hi @LalatenduMohanty, this issue hangs here for some time. If we plan it for upcoming milestones it could also help us in #547. WDYT?

[2017-09-26 08:18] budhrg commented on #817
Same here. Not reproducible with [CentOS ISO](https://github.com/minishift/minishift-centos-iso/releases/v1.2.0)

[2017-09-26 08:19] agajdosi commented on #726
Hello @starksm64, is this issue still relevant or did it disappeared since then?

[2017-09-26 08:43] budhrg commented on #1421
Resolved via https://github.com/minishift/minishift/pull/1424

[2017-09-26 08:43] #1421 closed

[2017-09-26 08:44] agajdosi commented on #877
Hi @budhrg, this issue has milestone v1.3.0 and seems it got a little bit forgotten. Is it still valid?

[2017-09-26 08:47] agajdosi commented on #879
Hi @mazzy89, have you tried suggested solutions? Did it worked for you?

[2017-09-26 08:52] agajdosi commented on #903
Hi @surajssd, there was not any activity for a while on this issue, are you still facing these problems? If so let us please know so we can bring this issue up again.

[2017-09-26 08:52] budhrg commented on #877
@agajdosi , updated to 1.8.0 to discuss in next sprint.

[2017-09-26 12:33] surajssd commented on #903
@agajdosi nope I have not seen that issue lately!

[2017-09-26 12:39] agajdosi commented on #903
@surajssd Glad to hear that! I am closing this issue then, feel free to reopen it if the issue gets back. But I hope it will not :)

[2017-09-26 12:39] #903 closed

[2017-09-26 20:18] LalatenduMohanty commented on #1386
Resolved via https://github.com/minishift/minishift/pull/1438

[2017-09-26 20:18] #1386 closed

[2017-09-26 20:20] LalatenduMohanty commented on #1434
Resolved via https://github.com/minishift/minishift/pull/1435

[2017-09-26 20:20] #1434 closed

[2017-09-26 20:22] LalatenduMohanty commented on #1328
Resolved via https://github.com/minishift/minishift/pull/1338

[2017-09-26 20:22] #1328 closed

[2017-09-27 05:18] LalatenduMohanty commented on #1415
Honestly I do not see this as a issue for Minishift users  and it is an issue for Minishift developers as we tend to create a lot of profiles to test it. May be we should wait for more time to get community feedback on this.

@jorgemoralespou suggestions?

[2017-09-27 05:37] LalatenduMohanty commented on #1444
I do not think a normal user would be interested to know the details.  May be we can make the logging better for`--v 5` , so that if user wants to know whats happening in the background he can find out.

[2017-09-27 05:40] jorgemoralespou commented on #1415
@LalatenduMohanty, I agree with you. I'll wait on this one. Also, from a usability perspective there's some more changes I would like to see before this one that I consider more important. But still need more time to play with current functionality once I finish traveling.

[2017-09-27 06:28] gbraad commented on #1444
I didn't go in detail what kind of feedback, but the mentioned `-v 5` is already done in the static IP PR:

[code]

Ref: https://github.com/minishift/minishift/pull/1391/files#diff-2a4f72614435ed06b98e18eece588047R53

[2017-09-27 06:39] praveenkumar commented on #817
@csrwng @dmage I started cluster with serverlog=5 mode and below is what I am getting from registry container.

[code]

[2017-09-27 08:06] praveenkumar commented on #817
@csrwng @dmage And when I use CentOS ISO then below is logs from registry container.

[code]

[2017-09-27 08:46] anjannath commented on #1389
@rahulbajaj0509 is this a WIP?

[2017-09-27 08:46] anjannath commented on #1355
@amitkrout are the command refs auto generated?

[2017-09-27 08:56] praveenkumar commented on #817
Difference which I can see is below. I am not sure why for b2d iso same client not able to send `accont=developer` in the URI.

[code]

[2017-09-27 09:06] amitkrout commented on #1355
@anjannath No it's not. You need to add that. I cant find the file from master you mentioned above.

[2017-09-27 09:41] rahulbajaj0509 commented on #1389
@anjannath yes :) i shall resolve it by the weekend.

[2017-09-27 09:45] gbraad opened #1448 "Allow GitLab CI to run against tagged runners"
At the moment the definition does not specify which runner can handle the build task

Add:
[code]

[2017-09-27 09:48] ElderOrb opened #1449 "VirtualBox driver returns "error getting state for host: machine does not exist""
I know similar issue was raised in the past but I didn't find solution (re-install virtual box doesn't help)

[code]

[2017-09-27 09:56] praveenkumar opened #1450 "RHSM registration fail when retry."
Refer : https://issues.jboss.org/browse/CDK-181

[2017-09-27 10:39] praveenkumar commented on #1247
Resolved by #1425

[2017-09-27 10:39] #1247 closed

[2017-09-27 11:35] praveenkumar commented on #817
@anjannath tried it on Arch Linux and for him also registry push works for B2D iso, so I am sure it mostly because of docker client we ship as part of our Fedora/CentOS/RHEL.

[2017-09-27 12:08] anjannath commented on #1355
@amitkrout I think that file is created after building the docs.

[2017-09-27 12:15] budhrg commented on #1355
@anjannath , all cmd refs are created with https://github.com/minishift/minishift/blob/master/Makefile#L123.

So, any changes you need, it should be done to respective command go file. Here https://github.com/minishift/minishift/blob/master/cmd/minishift/cmd/addon/addon_install.go.

[2017-09-27 12:34] agajdosi commented on #865
Hi @LalatenduMohanty, if I am not mistaken the proposed logo did not pass the legal checks. If so could we update our plans with this issue?

[2017-09-27 12:38] budhrg commented on #1448
Resolved via https://github.com/minishift/minishift/pull/1451

[2017-09-27 12:38] #1448 closed

[2017-09-27 12:41] agajdosi commented on #1025
Hi @budhrg, this issue seems to be stuck in old milestone. Is the verification of docker-env and oc-env in this issue meant on level of unit tests, or integration tests? Might be related to #1332.

[2017-09-27 12:43] praveenkumar commented on #1450
Resolved by #1452

[2017-09-27 12:43] #1450 closed

[2017-09-27 12:46] budhrg commented on #1025
Yes @agajdosi , you are right. It is duplicate of #1332

[2017-09-27 12:46] #1025 closed

[2017-09-27 12:47] gbraad commented on #1449
can you run:

[code]

[2017-09-27 12:49] agajdosi commented on #1026
Hi @johnreytanquinco, have you managed to resolve this problem, or is it still bothering you? Please let us know if there are any updates on this.

[2017-09-27 12:53] agajdosi commented on #1074
Hi @gbraad, this issue looks a little bit dusty, but is it still actual? If so we could set some milestone to keep better track of it.

[2017-09-27 12:54] agajdosi commented on #1112
Hi @SuperNami, this issue is lying here inactive for a while, have you managed to resolve the problem or is it still bothering you?

[2017-09-27 13:03] ElderOrb commented on #1449
minishift start --vm-driver virtualbox --show-libmachine-logs -v5 2>log.txt

Found binary path at C:\ProgramData\chocolatey\lib\minishift\tools\minishift.exe
Launching plugin server for driver virtualbox
Plugin server listening at address 127.0.0.1:39348
() Calling .GetVersion
Using API Version  1
() Calling .SetConfigRaw
() Calling .GetMachineName
(minishift) Calling .GetState
(minishift) DBG | C

[2017-09-27 13:04] ElderOrb commented on #1449
Forgot to mentioned I installed minishift from 'chocolatey' if it matters.

[2017-09-27 13:06] gbraad commented on #1449
The chocolatey release is 'unsupported' in a way as it is not published by us. Please use a released version.

But I guess you have some stuff still in the profile dir:
[code]

and perhaps check `C:\Users\[...]\.minishift\machines\` and remove the folder `minishift` if it exists.

[2017-09-27 14:26] ElderOrb commented on #1449
Re-installed 'manually' (extracted and added to 'PATH'):

Found binary path at C:\minishift\minishift.exe
Launching plugin server for driver virtualbox
Plugin server listening at address 127.0.0.1:42704
() Calling .GetVersion
Using API Version  1
() Calling .SetConfigRaw
() Calling .GetMachineName
(minishift) Calling .GetMachineName
(minishift) Calling .DriverName
(minishift) Calling .SetConfigFro

[2017-09-27 15:49] gbraad commented on #1449
I see you have also installed `C:\Program Files\OpenSSH-Win64\ssh.exe` (OpenSSH-Win32). Be sure to have the correct release: https://github.com/PowerShell/Win32-OpenSSH/issues/666 or either the file permissions of the key files.

You can consider installing the Chocolatey packages: https://github.com/DarwinJS/ChocoPackages/issues/34 as I have verified that Minishift and our ISOs work with this rel

[2017-09-27 16:51] ElderOrb commented on #1449
Great, thank you!

Looks like it *nearly* works, although unfortunately still shows some
errors.

2017-09-27 18:49 GMT+03:00 Gerard Braad <notifications@github.com>:

minishift start --vm-driver virtualbox --show-libmachine-logs -v5 2>log3.txt

Found binary path at C:\minishift\minishift.exe
Launching plugin server for driver virtualbox
Plugin server listening at address 127.0.0.1:48068
() Calling

[2017-09-27 16:55] gbraad commented on #1449
you have been very lucky so far to encounter these error :-s...

But can you provide the error again? It seems email didn't allow to post such a long message

[2017-09-28 00:39] #1026 closed

[2017-09-28 02:06] hmesha commented on #1249
I'm getting the same issue. I'm getting the exact error. Would you please share the solution to the problem?

I'm running:
Minishift version 1.6
Driver : xhyve
MacOS Sierra : 10.12.5

[2017-09-28 02:41] gbraad commented on #1249
can you try SMBUp ?
macOS has been using several different versions of Samba over time now, and it is hard to keep up and test all of them.

[2017-09-28 04:02] gbraad opened #1454 "Preflight check for default network when using the KVM driver plugin"
Currently, the KVM driver plugin has hard-coded the default network:

https://github.com/dhiltgen/docker-machine-kvm/blob/f328c4b81d36269845812a6bd0046e64a9c7d877/kvm.go#L121

When libvirt is used for the first time, it could happen this network does not exist, as the driver does not handle the actual creation. This can be seen in #1432. While documentation is going to be added to the troubleshoot

[2017-09-28 04:04] gbraad commented on #1454
If our codebase is able to use:

https://github.com/dhiltgen/docker-machine-kvm/blob/f328c4b81d36269845812a6bd0046e64a9c7d877/kvm.go#L191

we need to check for this network instead.

[2017-09-28 04:13] gbraad commented on #1454
you can use something like:
[code]

although this needs root/sudo privileges. Maybe there is another way to check this without using `sudo`?

[2017-09-28 04:50] budhrg opened #1455 "Why default addons have no .addon.remove file other than admin-user addon?"
I noticed that we have `.addon.remove` file for `admin-user` addon only.
Did we miss to add for other addons ?
Or
Any other reason?

See https://github.com/minishift/minishift/tree/master/addons/anyuid

[2017-09-28 06:15] gbraad opened #1457 "Follow-up feature to assign/use the IP address previously used: set IP address as static"
With #1316 and https://github.com/minishift/minishift-centos-iso/pull/164 + https://github.com/minishift/minishift-centos-iso/pull/168 it is possible to assign an IP address for re-use when the virtual machine starts.

This task will allow the user to force the current address to become `static`, so on restart no new address will be assigned.

### Needed tasks

  * [x] allow to assign address to m

[2017-09-28 07:18] anjannath commented on #1454
@gbraad there's supposed to be an xml file where the networks are defined, `/usr/share/libvirt/network/default.xml` [1]. But in my system (Arch linux) the `default` network is active, bu that file is not present.

[1] https://wiki.libvirt.org/page/Networking#Host_configuration

[2017-09-28 07:34] gbraad commented on #1454
@anjannath wrong approach... configuration files are not consistent among platforms.

[2017-09-28 07:51] gbraad commented on #418
@lucastheisen We have worked on a static IP option which allows you to use the NAT functionality. Please see https://github.com/minishift/minishift/issues/1316#issuecomment-331946998 for more information.

Closing this issue

[2017-09-28 07:51] #418 closed

[2017-09-28 09:10] budhrg commented on #1135
Hi @jorgemoralespou ,

Is this the expected details of `.addon` file with default env values?

[code]
### Deploy prometheus as:
[code]

[2017-09-28 10:03] praveenkumar commented on #1135
Right and if I want to overwrite then should able to use `--addon-env namespace=my_namespace`

[2017-09-28 10:04] budhrg commented on #1135
Ya correct. thanks

[2017-09-28 11:17] gbraad commented on #1454
nope... the solution is simple:

[code]

this connect to `system` as context, instead of the strandard `session` that is used for a user.

[2017-09-28 11:32] budhrg commented on #1457
So, it means, I will get ip which I had assigned during start, right? What about the console link displayed during the output of `minishift start`?

[2017-09-28 11:42] gbraad commented on #1457
This is related to a todo: https://github.com/minishift/minishift/pull/1391/files#diff-cddd82fc40ac720e0e865b059a276667R176

if `--network-no-dhcp` is added it would be prevented to assign a new DHCP address...  so it would return the correct value, else, as mentioned on the original task, it will return the DHCP address first. This is likely unexpected.

Minikube solves this with a `m update-cont

[2017-09-28 11:47] budhrg commented on #1457
Ok. :+1:

Sounds like a plan. :+1:

[2017-09-28 13:40] chilcano commented on #1226
Hi there!

I had to use `$ minishift profile openshift01 delete` rather to user `--clear-cache`.
This `rm -rf ~/.kube/<ip_address_of_openshift01>_8443` wasn't needed.

I've started/created new Minishift instance using this command:
[code]
Regards.

[2017-09-28 14:57] gbraad commented on #1355
Fixed with 99a16d03da3489c0ea021762f0fb1ee4d6f524ec

[2017-09-28 14:57] #1355 closed

[2017-09-28 15:01] gbraad commented on #1279
Merged with 76e922ebda54b6d1f3148be2c97c97a3e851b949

[2017-09-28 15:18] gbraad commented on #1316
@swissgrammie it should be slightly longer, but NOT in the 20 minutes. Ouch.

 Can you monitor the console and let me know what seems to be slow? It could timeout in `NetworkManager`. But not for this long... :-s  Or is the time spent on "Creating virtual disk image" and "Converting virtual disk image" ? This should not take much longer. I would really appreciate feedback or more info.

Anyways, I

[2017-09-28 15:19] gbraad commented on #1316
@budhrg how much longer did startup take for you? And did you have an idea where this time was spent?

[2017-09-28 15:39] gbraad commented on #1316
I have changed the command resend interval to be 5 seconds. This will hopefully ease the startup, but the success rate is decreased. So if possible, please retest when the new build is available.

[2017-09-28 16:01] gbraad commented on #1226
@chilcano This is because `.kube` is now part of the profile folder, instead of being shared between all instances. The chance that a profile clashes with config is therefore almost nil.

[2017-09-28 16:38] hmesha commented on #1249
Thanks for your reply.

I managed to get this working without switching my SMB to SMBUp. the trick was to enable the "Windows File Sharing" option on the share in OSX System Preferences. Here's how I did:
1. Go to System Preferences -> Sharing -> File Sharing.
2. Select the share to be mounted by Minishift
3. Click options and enable "Windows File Sharing" for the user account.

Hopefully this can

[2017-09-28 18:41] swissgrammie commented on #1316
so I just ran it, using the latest artifacts, with a date at the start and
end, this is the output on the console. The Starting Minishift VM .. line
is where is seems to stick.

Thursday, September 28, 2017 7:08:42 PM

PS C:\users\graha\Downloads\minishift-1.6.0-windows-amd64\experimental>
./minishift.exe start --network-ipaddress 10.0.75.124 --network-gateway
10.0.75.1 --network-nameserver 8.8.8.

[2017-09-28 19:03] swissgrammie commented on #1316
So i looked at my oc config view and it has lots of entries, for both
clusters and contexts, is this the issue? It is checking all these
contexts? 1 for every ip address i have ever had allocated.

On Thu, Sep 28, 2017 at 1:41 PM Graham Cunningham <
graham.cunningham@itwks.com> wrote:

[2017-09-29 00:49] gbraad commented on #1316
Which step felt slow... And what could be observed from the actual VM
console? (Would like to know if systems tasks were slow)...

Also try to start with `--show-libmachine-log -v5`.

Also try to clear `~\.kube` and unrelated/old entries in the `~\.minishift`
folders (`~` = `C:\Users\graha`)

Can this slowness also be observed with the build of master or the current
released version of minishift,

[2017-09-29 02:18] gbraad commented on #1397
@LalatenduMohanty @anjannath  #easyfix and another pre-flight check

It errors as:
[code]

and prevents to start again:
[code]

until a delete has been performed... an annoyance that can easily be solved with a small check ;-)

[2017-09-29 02:37] gbraad commented on #1316
[code]

[2017-09-29 03:55] gbraad commented on #1316
### Note
off-topic, but noticed during tests. it can happen that DHCP messes up due to how Hyper-V identifies itself. Several times already I have been getting the same IP address for my VM as I have assigned to my local machine hosting that VM. IP conflitcs and disconnections follow...

![image](https://user-images.githubusercontent.com/1894/31000291-1dbc4518-a50d-11e7-83c7-fa5e293073d7.png)

[2017-09-29 05:51] praveenkumar commented on #1441
@vcottagiri Can you check once you set insecure registry it actually part of docker daemon. Can you provide below details?

[code]

[2017-09-29 06:26] gbraad commented on #1316
https://github.com/minishift/minishift-centos-iso/pull/164
Trying to disable the use of NetworkManager using a `NODHCP` option

[2017-09-29 07:41] LalatenduMohanty opened #1460 "AllInstanceConfig should be created in PersistentPreRun"
As part of profiles feature we are creating the AllInstanceConfig file in init() of root.go [1]. which is wrong in some way as ideally it should be done in PersistentPreRun to keep it consistent. Hence we are getting https://issues.jboss.org/browse/CDK-180
[1] https://github.com/minishift/minishift/blob/master/cmd/minishift/cmd/root.go#L217

[2017-09-29 07:45] gbraad commented on #1460
Not sure why this would triggers a "delete"...
[code]

[2017-09-29 08:22] LalatenduMohanty commented on #1460
@gbraad It is because the directory is created before setup-cdk is run and if setup-cdk sees .minishift it will ask confirmation to overwrite it.

[2017-09-29 09:33] agajdosi opened #1461 "Move integration.log from integration-test directory"
Having integration.log in integration-test directory causes problems in downstream. It will be better to move it from integration-test dir as this could cause further problems in future. The new location can be probably just `out/integration.log`.

[2017-09-29 10:20] ElderOrb commented on #1449
I beg pardon for the delay, haven't noticed your message...

minishift start --vm-driver virtualbox --show-libmachine-logs -v5 2>log3.txt

Found binary path at C:\minishift\minishift.exe
Launching plugin server for driver virtualbox
Plugin server listening at address 127.0.0.1:48068
() Calling .GetVersion
Using API Version  1
() Calling .SetConfigRaw
() Calling .GetMachineName
(minishift) Calling

[2017-09-29 10:22] amitkrout commented on #1461
It would be nice if the time stamp is appended to the log file something like ```integration_TismeStamp.log```. This will be very help full to keep record of all integartion test result rather overwriting the log file on each run.

[2017-09-29 10:40] agajdosi commented on #1461
This is needed to be a quick fix, so I am not going to add/change any not necessary functionality, but I agree: it would be nice. Please create a separate issue where we can discuss how others see this.

[2017-09-29 10:58] LalatenduMohanty commented on #1436
Resolved by #1445

[2017-09-29 10:58] #1436 closed

[2017-09-29 11:01] amitkrout opened #1464 "Append timestamp to integration.log"
It would be nice to append timestamp in integration test log file for example ```integration_YYYY-MM-DD_HH:MM:DD.log```

This will be very help full to keep record of all integartion test result rather overwriting the log file on each run.

[2017-09-29 11:06] amitkrout commented on #1464
#1461

[2017-09-29 11:59] amitkrout opened #1466 "Add test scenario for downstream provision_earlier_version.feature"
reference : https://issues.jboss.org/projects/CDK/issues/CDK-175

[2017-09-29 13:59] swissgrammie commented on #1316
Here are the 2 log files from the main branch and the pulled change. The
main branch is much much quicker.

On Fri, Sep 29, 2017 at 1:26 AM Gerard Braad <notifications@github.com>
wrote:

﻿W0929 13:54:32.706274    4391 start_master.go:297] Warning: assetConfig.loggingPublicURL: Invalid value: "": required to view aggregated container logs in the console, master start will continue.
W0929 13:54:32.

[2017-09-29 14:54] swissgrammie commented on #1316
I am sorry for wasting your time, I have just corrected my start line, i
had cut and paste the wrong path for the iso filename. I have now deleted
the vm, restarted pointing at the correct centos image. I have now been
able to stop and restart in a reasonable time.

On Fri, Sep 29, 2017 at 8:59 AM, Graham Cunningham <
graham.cunningham@itwks.com> wrote:

--
Graham Cunningham
Tel  : +41 26 401 4049

[2017-09-29 15:27] gbraad commented on #1316
I have updated the image, and now it does not timeout on DHCP... and boots blazingly fast

   https://github.com/minishift/minishift-centos-iso/pull/164

Still testing, as a small issue occurs when checking diskusage.

[2017-09-29 16:09] cdrage opened #1467 "Error starting VM on RHEL + DevSuite"
Following these exact instructions resulted in this error when first starting minishift: https://developers.redhat.com/products/devsuite/hello-world/#fndtn-rhel

[code]

I can confirm that I've also installed KVM...

[2017-09-29 16:11] cdrage commented on #1467
Ahhhh, looks I have to update: https://access.redhat.com/documentation/en-us/red_hat_container_development_kit/3.1/html-single/getting_started_guide/index which is down-stream from Minishift. My mistake! Ended up being a KVM hypervisor problem..

However, is there a way for this error to be updated / more useful information?

[2017-09-29 16:23] vcottagiri commented on #1441
@praveenkumar : the output of `docker info` is

[code]

[2017-09-29 18:06] dgolovin opened #1468 "`minishift start' fails with 'open config.json: The system cannot find the file specified'"
I was running minishift for a while, stopping and starting it. Then suddenly after several errors during 'minishift stop' it starts failing with message
[code]

Even if I do
[code]
next
[code]
still complains about missing config.json

[2017-09-29 18:45] amitkrout commented on #1433
#1466

[2017-09-29 19:17] jorgemoralespou commented on #1135
Yes

[2017-09-29 20:17] Wilk42 opened #1469 "Pre-create Network is already in use by physical ethernet port"
I've been on the hunt for a few hours for this issue. The interface in question is my default ethernet interface, though if I switch to wifi the error changes to that interface (wlp)

This is a new install of fedora, I've tried deleting and removing virsh and minishift, installing them again, removing docker as well and those, installing again, and keep coming back to this error.

Output of
sudo v

[2017-09-30 18:25] gbraad commented on #817
I also have problems with pushing to the docker hub and gitlab registry using Fedora 26: This can be seen for a CI build in https://gitlab.com/gbraad/godot-server/-/jobs/34609168. While using docker.git for this build this succeeds.

[2017-10-01 14:49] Wilk42 commented on #1469
Reinstalled fedora, came up with new issue, totally separate, this was never solved.

[2017-10-01 14:49] #1469 closed

[2017-10-01 22:58] gordillo-ramon-redhat commented on #1302
Still having the same issue with CDK 3.1.1

[2017-10-02 03:45] gbraad commented on #1467
Please provide error logs with `minishift --show-libmachine-logs -v5`.
Never seen this `missing address` before...

[2017-10-02 03:47] gbraad commented on #1468
I am very curious about the errors during `m stop`. You have them?
This state might happen when configuration, like registration state, fails to write. This was `minishift` or `cdk`?

This can likely be solved by doing a `m delete`.

[2017-10-02 07:53] gbraad commented on #1316
Need to add note/warning to doc: "Make sure manually assigned IP addresses do not conflict with DHCP assigned ones."

[2017-10-02 08:20] agajdosi commented on #1461
Merged via #1463.

[2017-10-02 08:20] #1461 closed

[2017-10-02 08:21] agajdosi commented on #1464
Not critical and was not planned, moving to next milestone.

[2017-10-02 08:24] agajdosi commented on #1433
There weren't any negative comments or any other kind of feedback in time window of 10 days, so I am closing this issue with result that the community around Minishift is fine with these proposed changes. Will create a follow up issues for implementation of these soon.

[2017-10-02 12:38] gbraad commented on #1302
This is an issue with OpenShift. Do you have a BZ?

[2017-10-02 13:10] cdrage commented on #1467
@gbraad See above comment, it was because KVM had not yet been set-up.

To reproduce: Setup a clean RHEL image, install https://developers.redhat.com/products/devsuite/hello-world/#fndtn-rhel and try to bring it up after setting up the CDK.

[2017-10-02 13:35] agajdosi opened #1471 "Edit expected values in cmd-config.feature which fails on Mac"
On macOS when testing CDK, the expected memory value does not match the real value:
[code]

[2017-10-02 14:59] gbraad commented on #1471
This has to do with how some drivers use GB or GiB.

[2017-10-02 15:05] gbraad commented on #1467
So the problem is resolved?
In minishift I worked on #485 which provides startup checks to see if requirements arr net. This will also be available in the next release of CDK.

[2017-10-02 15:26] cdrage commented on #1467
@gbraad I believe minishift should check to see if libvirt / kvm is installed, so no :-1:

[2017-10-03 01:39] gbraad commented on #1467
It does ...

https://github.com/minishift/minishift/blob/d549fb33d7157b1358906e879aa4cc2e795bfcba/cmd/minishift/cmd/start_preflight.go#L224

Closing, as this been resolved. If the problem persists or is insufficient please open a new issue. If issues with CDK, please open a Jira issue.

[2017-10-03 01:39] #1467 closed

[2017-10-03 02:49] gbraad opened #1472 "Preflight: check if hypervisor is installed (VBox, libvirt, etc)"
For Hyper-V we check if the actual hypervisor is installed (by checking for the management tools `get-vmhost`), but we can also check for `VBoxManage` for VirtualBox and `virsh` for KVM/Libvirt. The check of VirtualBox might have to involve `GOOS`-checks and specific paths as I do not think it gets added to the system paths.

we might have to duplicate some of the effort as done in: https://github

[2017-10-03 02:49] gbraad commented on #1472
@anjannath /cc: @LalatenduMohanty

[2017-10-03 04:15] gbraad opened #1473 "Improvement: only send hvkvp values when VM is in state "Running""
As part of #1316 a set of values is send to the Hyper-V Data Exchange service. Since we are unable to hook functionality in the Hyper-V driver of libmachine, we resend the values on an interval until success follows.

Since the startup of the virtual machine using Hyper-V can take quite a while (due to disk creation and conversion), the command is send multiple times. And at the moment this call u

[2017-10-03 05:13] amitkrout opened #1474 "command "minishift openshift version" generates a blank new line"
[code]
Current output :
[code]
Expected output :
[code]

[2017-10-03 06:03] praveenkumar opened #1475 "Download OCP client binary from mirrors.openshift.com"
We now have OCP client binaries available to mirrors.openshift.com. This issue is for implement feature which will download it from there when CDK is used. We do need some kind of tag to make sure download the binary from dev.rh.c instead GitHub when provided.

P:S: Replaced //developers.redhat.com with mirrors.openshift.com

[2017-10-03 06:52] gbraad opened #1476 "Wrong flag used in KVM preflight check"
https://github.com/minishift/minishift/blob/d549fb33d7157b1358906e879aa4cc2e795bfcba/cmd/minishift/cmd/start_preflight.go#L59

[2017-10-03 06:53] gbraad commented on #1476
@anjannath

[2017-10-03 07:51] gbraad commented on #1475
Example (`oc 3.6`)
  * https://developers.redhat.com/download-manager/file/oc-3.6.173.0.21-windows.zip
  * https://developers.redhat.com/download-manager/file/oc-3.6.173.0.21-macosx.tar.gz
  * https://developers.redhat.com/download-manager/file/oc-3.6.173.0.21-linux.tar.gz

[2017-10-03 08:10] agajdosi commented on #1471
@gbraad My understanding is the same, so I think we can just update the feature. Not a bug in Minishift AFAIU.

[2017-10-03 08:20] agajdosi opened #1477 "Add CDK related scenarios into integration tests"
This is a follow up issue for #1433. Related is also work on #1466.

Needed can be taken from this "condensed" file of CDK related scenarios of mine:

[code]

[2017-10-03 08:32] agajdosi commented on #1477
@amitkrout Just realized, this could be taken as part of #1470. WDYT?

[2017-10-03 08:42] #1454 closed

[2017-10-03 08:42] #1476 closed

[2017-10-03 09:25] amitkrout commented on #1327
As per the discussion i clone [coolstore repo](https://github.com/jbossdemocentral/coolstore-microservice) and follow the steps to deploy it on minishift master manually
[code]
This time i can see deployment of all the applications are started. However some application's (cart,catalog,coolstore-gw...) deployment failed due to registry not found.

Deployment logs for cart
[code]
@gbraad I am not su

[2017-10-03 09:28] budhrg commented on #1474
Resolved via https://github.com/minishift/minishift/pull/1478

[2017-10-03 09:28] #1474 closed

[2017-10-03 09:31] gbraad commented on #1327
Can you also verify your connectivity?
[code]

can you login to the VM and try manually?
[code]

[2017-10-03 09:40] amitkrout commented on #1477
@agajdosi i don't understand this ```@cdk-specific``` tag. As per the recent discussion only @cdk-only will be added to the feature file for cdk specific test.

Is there any requirement of this file ? or i misunderstood it

[2017-10-03 09:59] gbraad commented on #1058
Merged with a4373c0ab35b5eea77a4dca5783bfe36bc593e18

[2017-10-03 09:59] #1058 closed

[2017-10-03 10:05] amitkrout commented on #1327
@gbraad No connectivity issue found. I can see there is a missmatch in checksum w.r.t image pulled during cart deployment. Not sure which file is responsible for this failure
[code]

[2017-10-03 10:21] agajdosi commented on #1477
@amitkrout This file is copy-pasted from downstream PR. It is about individual scenarios which can be used in different places here in upstream. But probably it will be better if I will do it as it will require less communication. Please finish your PR and I will create new one from this. Sorry for complications.

[2017-10-03 10:55] siamaksade opened #1479 "addon list --verbose should show imagestreams and templates tag/version information"
Instead of duplicating the imagestreams and templates in the minishift repository, the xpaas addon should import them from the upstream repositories matching the openshift version:
https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_examples/files/examples/v3.6/xpaas-streams/jboss-image-streams.json

[2017-10-03 11:11] gbraad commented on #1327
it might be that the image in question is not available anymore?

On Tue, Oct 3, 2017 at 6:05 PM, amitkrout <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-10-03 11:29] amitkrout commented on #1477
@agajdosi np :) ack...

[2017-10-03 11:30] praveenkumar commented on #1258
No, it's not saved in the cache directory.

[2017-10-03 11:42] gbraad commented on #1479
This means that the OpenShift version should be included in the addon and we need to download the streams. At the moment we do not do this, as this will increase the testload...

although, it will also guarantee this is in line with the expected oc/openshift version.

@agajdosi @LalatenduMohanty @praveenkumar WDYT

[2017-10-03 12:51] anjannath commented on #1472
@gbraad I guess we could also check for `vboxmanage` in the path in linux? we have to determine the OS from `GOOS` and check on different location if it is windows?

[2017-10-03 12:52] burrsutter opened #1480 "Is it possible to configure persistent configuration for all profiles?"
I seems some configuration setttings are lost in this scenario:

[code]
also, if you latter
[code]

the same configuration is still around.
I was expect all my config changes to be tied to a profile.

So, it seems the right solution is to put all the config settings on the minishift start command
BUT, how do I later ask the profile what its configuration is?  Are you the 2G or the 6G profile?
Are

[2017-10-03 13:07] burrsutter opened #1482 "Is it possible to configure add-ons globally for all profiles?"
The following does not enable my admin user addon
[code]

[code]
reports that admin-user is enabled BUT it does not work with `oc login admin`, admin (admin is just a vanilla user)

[2017-10-03 13:10] gbraad commented on #1342
Merged with 349f4084b706e55e96cc536e441b161a7c6c2f87

[2017-10-03 13:20] gbraad commented on #1480
Thanks for the issues and explanation. We will certainly discuss here...

[2017-10-03 13:21] gbraad commented on #1482
Marking as question

[2017-10-03 13:22] gbraad commented on #1480
Marking as question

[2017-10-03 13:42] cdrage commented on #1467
Hey @gbraad

This issue is *not* resolved, I ask for you to please re-open this issue.

As per my previous comments, even with the attached code:

https://github.com/minishift/minishift/blob/d549fb33d7157b1358906e879aa4cc2e795bfcba/cmd/minishift/cmd/start_preflight.go#L224

`docker-machine-driver-kvm` is the only thing that is being checked.

docker-machine-driver-kvm is installed by default via `

[2017-10-03 14:10] cdrage commented on #1467
Also, we check HyperV in a suitable way (https://github.com/minishift/minishift/blob/d549fb33d7157b1358906e879aa4cc2e795bfcba/cmd/minishift/cmd/start_preflight.go#L257). Ideally it would be nice to have this added to xhyve + kvm checks, rather than simply checking to see if the driver is installed (which technically, is NOT checking to see if xhyve + kvm is installed).

[2017-10-03 15:10] robdaems opened #1483 "S2I javascript : package.json containing git url doesn't work"
Hello,

I'm trying to build a javascript project as source to image.
My code is cloned successfully from git (with a secret), but my package.json contains a dependency to another git repo.
[code]
During the install minishift can not access the git to install 'myutils'.
How can I provide the secret which can be used during the installation?

Br, Rob

[2017-10-03 15:20] gbraad commented on #1467
#1472 was opened

[2017-10-03 15:48] cdrage commented on #1467
Thanks for giving the issue (https://github.com/minishift/minishift/issues/1472). Closing without context confused me since you just linked start_preflight.go and that's it.

I'm good now :+1:

[2017-10-03 15:49] hferentschik commented on #1480
You are setting the config values against the currently active profile in this case. So this is either the default profile or another profile which you created and activates later.

If you want to set the config prior to starting the VM, you would need to do something like:

    minishift --profile test config set memory 6144

I don't think there is an issue here so far. IMO it is consistent in be

[2017-10-03 15:49] gbraad commented on #1467
Whoops... my apologies. I had written a closing comment with the new issue ID... seems on reposting I forgot to include it. Anyways, the check is merged

[2017-10-03 15:54] hferentschik commented on #1477
This is really downstream stuff, right? Would that not be tracked in JIRA?

[2017-10-03 16:15] hferentschik commented on #1482
This seems very much a duplicate of #1480. Your add-on enable commands don't specify a profile, but then you start a 2G_demo profile. Your enable commands apply to the currently active profile at time of execution.

[2017-10-03 16:45] gbraad commented on #1480
I do not believe `set` should also deal with creating a profile. This feels like an unexpected side-effect that might goes typos to or just a lucky guess to create a new profile. Using a dedicated `create` feels more appropriate.

[2017-10-03 19:25] dragerot commented on #1430
If DockerNAT already is defined, do I need to remove this?  I call my external virtual network switch "minishift-swift", but it does not work.  I have set HYPERV_VIRTUAL_SWITCH=minishift-swift. Same error...
Tore Gard

[2017-10-03 22:27] GrahamDumpleton commented on #1483
Can you try with a HTTPS URL rather than SSH based URL?

Also, is the repository public or private?

[2017-10-04 03:59] dgolovin commented on #1468
It was minishift v1.6.0.
I remember I was trying to do ```minishift delete``` when vm was running. It failed to delete virtualbox log file, because it was locked by running instance of virtualbox obviously. After that I started getting that error. The solution was killing virtualbox from task manager and then ```rm -rf %USERPROFILE%/.minishift```.

```m config``` worked properly and config.json ha

[2017-10-04 04:16] praveenkumar commented on #1479
Right, Currently we cached all the imagestrem in addon directory and then use it with `oc create -f`. We can use addon variable which default value can be set as per our release and the user can modify as per their need.

[code]

Defaults-Env feature is targeted for this sprint #1135

[2017-10-04 05:44] amitkrout opened #1484 "Memory check fails in cmd-config feature"
[code]
This scenario fails on xhyve driver due to the re ```MemTotal:\s*35[0-1][0-9]{4} kB``` does not handle it properly. However the same scenario passes on OS X + virtualbox + CDK
[code]

[2017-10-04 05:56] amitkrout commented on #1484
On xhyve Driver :
[code]
On VB
[code]

[2017-10-04 06:49] gbraad commented on #1484
it is best to check for an expected amount of digits and something that
starts with 3 or 4... do not try to be too specific, as the issue lies in
how Gibibytes and Gigabytes are interchangeably used, so is 2 GiB != 2GB,
but 2048MB results in a nice round 2000 MiB... and when mixed and used from
and to, they start to become less and messy... and then some is used by the
emulation as part of memory-

[2017-10-04 07:08] agajdosi commented on #1477
@hferentschik Based on results question of #1433 these changes are planned to be implemented upstream, so the issue is here.

[2017-10-04 07:09] amitkrout commented on #1477
@hferentschik As per the feedback from #1433 , we are adding it to upstream repo.

[2017-10-04 07:38] hferentschik commented on #1477
@agajdosi This makes no sense to me. We discussed this before. We have the CDK specific modifications in the GitLab repo, why would you add the tests to Minishift. First, they don't run out of this repo, since it cannot even build the CDK. Secondly, it blurs the line between community and product. IMO these tests belong where they can also be run - in the CDK repo.

[2017-10-04 07:40] hferentschik commented on #1433
@agajdosi sorry late to the game, but that's a -1 from me. See also https://github.com/minishift/minishift/issues/1477#issuecomment-334073938. This is against what we always have discussed.

What do you try to gain by it? What is your motivation?

[2017-10-04 07:42] hferentschik commented on #1433
Just because it makes it "easier" for us, does not make it right.

[2017-10-04 07:44] agajdosi commented on #1477
@hferentschik Yes, I know we agreed on this, then I had complaint/suggestion from @praveenkumar to not put more into downstream and complicate rebasing more. So I have created an issue here, to open and resolve this question finally. I have kept it for 10 days, to secure that everybody can raise his opinion. Only 2 responses were collected and both were positive. I have mentioned the issue several

[2017-10-04 07:48] hferentschik commented on #1477
As said, this is a weak argument. We can discuss and see how we can improve any pain points downstream.

Sure, no problem. As you know I was on vacation, so I had not seen this up to now.

IMO it needs to go downstream for various reasons. Maybe this needs to be once more discussed in a meeting.

[2017-10-04 07:56] agajdosi commented on #1433
@hferentschik Yes, it is more practical to have it here, however I understand and understood your arguments on keeping a line between CDK and Minishift. I was fine with having all of the cases in downstream - for example I still have a PR in Gitlab for addition of these cases, same for @amitkrout. However then there were voices to keep these in upstream, as result I have created this issue to let

[2017-10-04 07:59] agajdosi commented on #1477
@hferentschik Yes, I know, it was unfortunate timing for this issue to come... Lets keep the discussion on #1433, I have reopened the issue.

[2017-10-04 08:06] agajdosi commented on #1484
Duplicate of #1471.

[2017-10-04 08:06] #1484 closed

[2017-10-04 08:09] hferentschik commented on #1477
Sure.

[2017-10-04 08:14] robdaems commented on #1483
Indeed, it's a private repo, that's why I need to use my ssh private key (as a secret).

[2017-10-04 08:32] hferentschik opened #1485 "Improve profile documentation"
The profile documentation is currently very short and basically just list briefly the existing commands. We should explain the feature in more detail, providing background and context as well as some more examples.

[2017-10-04 08:48] gbraad commented on #1433
It also looks fine to me.

What is not right about this?

[2017-10-04 08:49] gbraad commented on #1471
@agajdosi surely not a bug in Minishift, but rather the drivers/libmachine and how the hypervisors handle the request. More has been motivated on the dup #1484

[2017-10-04 08:54] hferentschik commented on #1433
Making things easier is not wrong per se. However, blurring the line between Minishift and CDK is. These tests are not even "runnable" from this repo. You need a CDK for that. The code changes which makes a CDK out of Minishift live in another repo, so that's where imo the CDK specific tests belong together with eventually CDK specific doc changes.

[2017-10-04 08:59] gbraad commented on #1433
Well, this is an interesting discussion by itself. I think the lines are blurred anyway, as many reports for CDK are going in here.

should we not actually have everything upstream anyways? Or, why prevent people to run these tests using the release of CDKs sources, and reproduce what we do? (As at the moment we do not release the tests... why not?)

[2017-10-04 09:06] ErikLundJensen opened #1486 "Missing 'default' user in /etc/passwd after re-installing app from template"
Hi
I get a recurring problem when re-installing Jenkins using the template jenkins-persistent from openshift.
It looks like "default" user is not added to the /etc/passwd file when reinstalling jenkins-persistent.
Is this a know problem in MiniShift (minishift v1.6.0+7a71565) ?
How do I force MiniShift deployment to re-write the default user account to the /etc/passwd file?

Here are some document

[2017-10-04 09:08] GrahamDumpleton commented on #1483
Are you mounting in using a configmap or copying in using some other mechanism, the credentials (ssh private key) the git command in the container would need to access the private repo. Any credentials you add using a source secret for the build configuration are only available to pulling down initial repo, and as far as I know not made available inside of the container for build steps running in

[2017-10-04 11:13] anjannath commented on #1464
@amitkrout How do i generate the `integration.log` file without running all the integration tests?

[2017-10-04 11:25] LalatenduMohanty commented on #1433
@agajdosi Sorry for not commenting earlier as I did not think it means we will put CDK specific tests in upstream. I should have asked what is it means.

As a principle we must keep the upstream as a community project. So this should contain things which is related to upstream project .  I know that it is difficult to maintain when everyone works for CDK and upstream Minishift both. But we have to

[2017-10-04 11:30] LalatenduMohanty commented on #1342
Re-opening the issue as per discussion we want to keep the installing/un-packing of add-ons in PersistentPreRun to support the following use-case and to keep consistency around `minishift update` command + updation of default add-ons.

[code]

[2017-10-04 11:39] agajdosi commented on #1433
@LalatenduMohanty Np, I am glad we have a consent now.

[2017-10-04 11:40] hferentschik opened #1488 "Document architecture design decisions"
I think we should briefly document the major architecture design decision, eg code organization, bootstrap sequence, architectural components. This can be very brief. The important thing is to have a reference to refer to. Entries should have timestamps as well so that if for example a design decision gets broken or changed at some stage, there is a record of why and when this occured.

I am think

[2017-10-04 11:41] agajdosi commented on #1464
@anjannath The only way is to run the tests I think, but you can run just one feature and it will generate it. For example:

[code]

This should be quite fast (around 20secs) and creates no VM during the run.

[2017-10-04 11:44] agajdosi commented on #1477
Closing this issue due to results of #1433. Changes will be implemented in downstream.

[2017-10-04 11:44] #1477 closed

[2017-10-04 13:11] amitkrout commented on #1466
This is downstream specific issue and will be tracked under downstream. So closing it as invalid for upstream.

[2017-10-04 13:11] #1466 closed

[2017-10-04 13:32] hferentschik commented on #1480
`minishift profile set foo` could report to the user that a new (empty) profile got created. I don't see a contradiction here. If you introduce `profile create` you proliferate commands, also you how do you deal then with cases like `minsihft --profile foo config set vm-driver virtualbox`? If you have the _create_ command, would you enforce it? Or would you commands like the previous or the _start

[2017-10-04 13:40] hferentschik commented on #1433
+1

@agajdosi what we really should have is a CI system which runs the downstream pull requests to verify they work. This is something we never could do here in this repo.

[2017-10-04 13:56] ErikLundJensen commented on #1486
It looks like the error is related to the way OpenShift Jenkins-template uses "chmod" to change file permissions.
Adding this to the Dockerfile works as a work-a-round until further:

RUN chmod 755 /usr/libexec/s2i/assemble && \
chmod 755 /usr/libexec/s2i/run

[2017-10-04 13:56] #1486 closed

[2017-10-04 14:27] hferentschik commented on #1279
The current change to the Makefile introduces some inconsistent behaviour and a broken dependency chain for the _link_check_docs_ target. The Makefile should not change for this. Caching of the image can easily be achieved by doing a `docker pull minishift/docs` prior to running any docs target. This way caching works for any doc target.

If we want to make a change to the Makefile I recommend cha

[2017-10-04 14:33] hferentschik opened #1491 "Upgrade to use Go 1.8"
I think it is time to align with a later Go version. 1.9 is out now. In the documentation as well as in the CI systems we align with 1.7. It is time to update.

Doing so would not also give the opportunity to make some build improvements since 1.9 handles the vendor directory a bit differently now.

[2017-10-05 04:23] gbraad commented on #1457
`--network-no-dhcp` is not needed with the new ISO. I do think a possible abstraction of the IP address is valuable going forward

[2017-10-05 06:05] LalatenduMohanty commented on #1457
@gbraad I like the idea. Though I do not like the flag names i.e. `--static` and `--dhcp`. I think just one flag is enough to make the IP persistent across stop/start. So a name of the flag should reflect that.

We should test the idea for sure.

[2017-10-05 06:21] gbraad opened #1492 "Improvement: assign gateway based on given IP address"
Related to #1316

An update/improvement can be to 'assume' `--network-gateway` from the given IP address `--network-ipaddress`, like ${IPADDRESS%.*}.1  This this does not have to be true, although it is in about 80% of the cases... especially on /24 networks

[2017-10-05 06:25] gbraad opened #1493 "Improvement: assign nameserver based on those used on the host"
Related to #1316

An improvement to the experience of using `--network-ipaddress` is to prevent having to specify the nameserver. In most cases it will be OK to use the same nameserver as those used on the host.

You could use
[code]

but as you can see, the complexity is in using the right one as given from the command.  On my system I have the following as a result:

[code]

IPv6 can be excluded

[2017-10-05 06:33] robdaems commented on #1483
Indeed that's the issue. When I build my docker images manually, via my own Dockerfile, I copy my ssh key temporarily. I copy before the "npm install" and remove it before "npm run start".
I hoped that minishift could do the same when you entered a secret to use.

[2017-10-05 06:35] LalatenduMohanty commented on #1433
Closing the issue as we have agreed not to keep downstream specific tests in upstream repository.

[2017-10-05 06:35] #1433 closed

[2017-10-05 06:43] LalatenduMohanty commented on #1457
This is similar to the feature request https://github.com/minishift/minishift/issues/41 . Though there is a subtle difference but the objective is almost same.

[2017-10-05 06:55] praveenkumar commented on #1491
There is only one problem, currently from CentOS/RHEL side we don't have 1.9 available yet but 1.8 is there quite some time and we should consider that for this iteration till 1.9 get listed in official repository of RHEL/CentOS.

@hferentschik If that sound good then I will take this issue and try to update all the CI systems.

[2017-10-05 07:01] gbraad commented on #1457
The flags are to lock and unlock, and are in line with the workaround
scripts that go around. This was the motivation for these options.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-10-05 07:02] GrahamDumpleton commented on #1483
I don't have an exact example showing it handy, but see input secrets at:

* https://docs.openshift.org/latest/dev_guide/builds/build_inputs.html#using-secrets-in-the-buildconfig

The idea is that you would create a secret with the private SSH key, and then mount it in under ``/opt/app-root/src/.ssh`` as the default private key. I haven't tried it myself, but I think that would be enough.

[2017-10-05 07:03] gbraad commented on #1457
In the current state, #41 is impossible to implement. Unless we use a way
to also attach IP information into the user data.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-10-05 07:20] robdaems opened #1494 "cloud.docker.com instead of local registry/dockerhub"
Hello,

Minishift uses it's local registry, dockerhub to get it's (base) images from.
But is it possible to use images from cloud.docker.com (private repo)

e.g when deploying a javascript project is starts from base image 'openshift/nodejs:6', but can I use my own images (in cloud.docker.com) as base image.

Br, Rob

[2017-10-05 07:34] robdaems commented on #1483
I've tried this (I think that's wath you ment):
[code]
But I still get the error:
[code]
The reference to git in package.json is clonable via the same ssh key, so using the same secret (rob) should do the trick, but it doesn't.

[2017-10-05 07:52] GrahamDumpleton commented on #1483
I am not sure you can use same secret as was created by:

[code]

You possibly need to use something like:

[code]

and then:

[code]

The ``id_rsa=`` is import when creating the secret, as the ``id_rsa`` then becomes the name of the file which is created under the ``destinationDir``.

You can test whether things are set up correctly by adding an executable ``.s2i/bin/assemble`` script in your rep

[2017-10-05 08:22] robdaems commented on #1483
Still the same result, but this is the output from the script
[code]

[2017-10-05 08:28] robdaems commented on #1483
I figured it out, thanks to your hint (script)
I also added the known_hosts to my secret and now it's working
[code]

Thanks a lot for your help.

Br, Rob

[2017-10-05 08:34] hferentschik commented on #1491
To gain some additional benefits in relation to the build environment we need 1.9. I am using 1.8 for quite some time and it works just fine, but it "just" offers a Go version update (including potential Go bug fixes). With 1.9 we can do a bit more.

We can as a stepping stone go to 1.8 first, but we should then create a new issues for that. This would really just affect the CI configs and the doc

[2017-10-05 08:45] GrahamDumpleton commented on #1483
Cool. If you can close the issue that would be great.

[2017-10-05 10:15] praveenkumar commented on #1491
Yes agree to that.

@hferentschik I do agree but on downstream side to build our CDK binary, we can only able to use what provided in the official repository so I still think to have same golang version to build and test on upstream side.

[2017-10-05 10:20] #1483 closed

[2017-10-05 11:47] agajdosi commented on #1344
@amitkrout No luck reproducing it with latest master, please check once more if it is still here for you.

[2017-10-05 13:25] gbraad opened #1496 "Improvement: feature detection during provisioning; 'minishift-set-ipaddress'"
Since #1364 we use ISO detection https://github.com/minishift/minishift/commit/a21f82fc352f3d57bc3953c2d6cd7389b81e02a8, but we can enhance this to perform feature detection. This way an ISO can be determined to support NFS, CIFS, IP Assignment, etc.

This is important to indicate if an ISO is able to set the IP address. For #1316 we use only CentOS and HyperV, but when we support the assignment a

[2017-10-05 13:26] gbraad commented on #1496
This is needed for #1457

[2017-10-05 13:30] gbraad opened #1497 "Improvement: allow to assign multiple nameservers for use with network settings assignment"
With #1316 it is currently possible to specify one nameserver on start to use, while the settings and assignment can support multiples of this. To keep the implementation simple only one is used at the moment. This task would like to improve on this by allowing multiple to be used (or at least 2).

[2017-10-05 13:32] gbraad commented on #1493
Although the message and script already support multiple nameservers, it might be suggested to also have a look at the related task: #1497

[2017-10-05 13:44] agajdosi opened #1498 "Add integration test for deployment of EAP applications"
We should add a test which would check if image streams added by xpaas add-on are working. This check could consist of deploying several application templates from image stream. Planned steps are:

1   deploy template (e.g. oc new-app eap64-basic-s2i)
2    check endopoint of deployed application
3    delete everything in project (e.g. oc delete all --all)
4    repeat

[2017-10-05 14:11] gbraad opened #1499 "Improvement: add IP assignment support to minikube-iso"
Add support of IP assignment as implemented in #1316 to the minikube ISO

[2017-10-05 14:15] gbraad opened #1500 "Improvement/investigation to supporting IPv6"
Current preflight checks #485 and IP assignment specifically check for IPv4, as issues exist when using IPv6, see #418 . What is needed to make IPv6 work?

[2017-10-05 14:24] agajdosi opened #1501 "Runner.Run() could return also the error message"
In package `pkg/util` the Runner.Run() func does return only exitCode of executed command, which then causes all other functions to be poor when reporting about errors. For example the oc.Run() - https://github.com/minishift/minishift/blob/master/pkg/minishift/oc/oc.go#L79, which just returns `Unable to add sudoer role`.

Would be nice if the errors were more talkative.

[2017-10-05 14:39] thomasmckay opened #1502 "As a user, I want to enable automatic image signatures via /etc/containers/registries.d"
https://github.com/openshift/openshift-docs/pull/5485
https://github.com/openshift/origin/pull/16293

Automatic image signature signing is enabled in /etc/containers/registries.d (see above docs link). Instructions for equivalent in minishift setup. How to enable post-start would be useful as well (eg. edit file, minishift restart, etc.).

[2017-10-05 14:46] hferentschik commented on #1501
+1

[2017-10-05 14:53] amitkrout commented on #1344
Will check and update ASAP

[2017-10-05 15:02] gbraad commented on #418
Added #1500 to look into the IPv6 support, as this needs to be addressed in general (across all hypervisors)

[2017-10-05 16:27] gbraad opened #1503 "Improvement: use a more generic solution for the VMDriver usage"
In #1316 (settings_windows.go) I do:

[code]

this means we need to rely on `spf13/viper`. In #1288 it was suggested to find an alternative way to handle this situation more elegantly. Something like:

`minishiftConfig.VMDriver` or `minishiftConfig.IsHyperV`

[2017-10-05 17:46] gbraad commented on #1499
/cc: @aaron-prindle @praveenkumar

[2017-10-05 17:54] gbraad commented on #1499
The changes that were needed on our end (for the CentOS ISO) were as follows:

  * Add the `hvkvp` binary from http://files.gbraad.nl/hvkvp/
    (or build from source: https://github.com/gbraad/go-hvkvp)
  * add a set script:

[code]
  * Allow fallback to using DHCP

Ref: https://github.com/gbraad/minishift-centos-iso/blob/8810bba6c13165ae62616c87488d113edc9ee61e/scripts/set-ipaddress

[2017-10-05 18:02] LalatenduMohanty commented on #1464
Resolved by https://github.com/minishift/minishift/pull/1490

[2017-10-05 18:02] #1464 closed

[2017-10-05 19:24] vcottagiri commented on #1441
Its working after the the docker version was upgraded in [minishift-b2d-iso to v17.09.0-ce](https://github.com/minishift/minishift-b2d-iso/pull/76).

[code]

The docker login, pull, push commands work successfully against the remote Artifactory based docker registry.

[2017-10-05 19:26] LalatenduMohanty commented on #1471
Resolved by https://github.com/minishift/minishift/pull/1495

[2017-10-05 19:26] #1471 closed

[2017-10-05 19:51] LalatenduMohanty opened #1504 "Update the Roadmap docs"
We need to update the roadmap docs [1] to match the current roadmap.
[1] https://github.com/minishift/minishift/blob/master/ROADMAP.adoc

[2017-10-05 20:24] LalatenduMohanty commented on #1264
Created https://github.com/minishift/minishift-addons/issues/42 to track the add-on creation for Che.

[2017-10-05 20:25] LalatenduMohanty commented on #1264
@budhrg Should we close the issue now?

[2017-10-05 22:35] gbraad commented on #1504
@LalatenduMohanty might be good to state here what the changes are...

[2017-10-05 22:51] gbraad commented on #1441
I see you created https://github.com/minishift/minishift-b2d-iso/issues/75 and https://github.com/minishift/minishift-b2d-iso/pull/76, but unfortunately, it is not as simple as upgrading to the latest version. Even a slightly less old version was denied for merging: https://github.com/minishift/minishift-b2d-iso/pull/54. This ISO solved several issues related to virtualbox, kernel support, updated

[2017-10-06 00:02] gbraad commented on #557
I will close the issue.

As per comment: https://github.com/minishift/minishift/issues/557#issuecomment-286973672 and https://github.com/minishift/minishift/issues/557#issuecomment-286975396 it feels like this is SSH related. There were issues in the underying Docker machine codebase, which has since been fixed. This could have caused issues when using the centos image.

Based on this, I can assum

[2017-10-06 05:17] praveenkumar commented on #1475
@LalatenduMohanty Currently if you see we don't scrap downloading functionality from GitHub even for downstream (codebase is there and we just blocked `openshift-version` flag) if we implement it as part of upstream we can have a toggle which can be only changed as part of downstream to download clients from dev.rh.com, might be change `--ocp-tag` with `--ocp-version` which enable that toggle/flag

[2017-10-06 05:44] praveenkumar commented on #1494
@robdaems I think you can change the base image from `openshift/nodejs:6` to `cloud.docker.com/<my_namespace>/<my_image>` in the template so that s2i pull the image from your provide registry instead docker hub.

[2017-10-06 07:17] LalatenduMohanty opened #1505 "What do we want to show about the the add-ons in the minishift start output?"
With #1342 getting fixed now there is no message in the console when add-ons are getting unpacked or getting installed.  So this is an issue to figure out if we want to  communicate something about it to the user i.e.
* Print the default add-ons names
or
* installed add-on names
in the `minishift start` output. E.g.

[code]

[2017-10-06 07:57] gbraad commented on #1502
Related information: https://github.com/mfojtik/openshift-docs/blob/299e475dd66650260826817b547e7f0f00340433/admin_guide/image_signatures.adoc#importing-image-signatures-automatically-from-signature-stores

[2017-10-06 08:04] #1316 closed

[2017-10-06 08:13] gbraad commented on #1491
I would prefer to stick with packaged versions, as that will make deployment a lot easier and consistent. These also live in cache on the CentOS CI side.

This sounds to me as the better approach... for now.

[2017-10-06 08:19] gbraad opened #1506 "Improvement: hosting location for the hvkvp binaries as used by the ISOs"
Currently the binaries (for go-hvkvp) are hosted on a generic web host, however, a good location to serve them for use by the image build process is recommended.

[2017-10-06 08:21] gbraad commented on #1506
What about copr? https://github.com/gbraad/go-hvkvp/issues/9

[2017-10-06 08:25] amitkrout commented on #1327
This time coolstore deployment runs on stable branch 1.1.x and 1.0.x. On branch 1.1.x ends up with multiple image deployment failure like ```image pull time out error``` (same image can be pulled successfully inside the minishift vm). However branch 1.0.x is more stable than 1.1.x. All the pods are deployed successfully expect WEB-UI

[code]
It seems we are blocked on coolstore deployment cc_ @gbr

[2017-10-06 08:42] agajdosi commented on #1505
So when I run `minishift info` and it installs the add-ons, I would like to get some kind of info about this. For me the old `installed default add-ons` or similar worked well. However more explicit version which prints names of installed add-ons seems also fine.

From integration tests point of view, currently the tests run `minishift info` before every feature, which is here to secure that these

[2017-10-06 08:48] amitkrout commented on #1344
@agajdosi Still i am able to reproduce it on master. Thought might be problem with my setup, to clear this confusion i ran the same command on two setup (fedora + osx). Here is the first scenario where it start failing then other failure as mention in above log.
[code]

In ci we don't hit this issue right ? Really strange !!!

[2017-10-06 09:27] hferentschik commented on #1491
@praveenkumar, fair enough. As a stepping stone we can go to 1.8 first. Let's do this in another issue though.

[2017-10-06 09:42] agajdosi commented on #1344
@amitkrout Might be a forgotten environmental variable. Also you can try
[code]
also I would try with minishift v1.6.0 via MINISHIFT_BINARY parameter.

[2017-10-06 10:31] amitkrout commented on #1344
@agajdosi Basically these steps i executed just before each ```make``` run to get the environment clean. On master its failing for sure on my system. v1.6.0 ends up with error output . This issue i am seeing consistently. Did you check it on master ?  On which setup/hypervisor did you check ?

This is how i get the clean setup
[code]

[2017-10-06 11:43] hferentschik opened #1507 "Switch dependency management from Glide to dep"
Glide is in support mode and no new feature development happens there. The community has aligned behind [dep](https://github.com/golang/dep) which behaves similar and is a candidate to be part of the official Go toolchain.

From the Glide homepage:

[2017-10-06 12:00] jorgemoralespou commented on #1412
I think the behaviour as it stands is ok. If I delete a VM, I want the profile and config to remain. If I want it to be removed, I delete the profile itself.

[2017-10-06 12:11] chilcano opened #1508 "New IP address is assigned to Minishift instance when restarted"
Hi there,

I've created 2 Minishift VMs by using:
[code]

Remove the 1st VM `openshift00`:
[code]

Restart your PC, and check status:
[code]

From VirtualBox's GUI the `openshift01` has `Aborted` as status and the command `$ vboxmanage list runningvms` doesn't show any running VM.

Now, I try to start the VM `openshift01` by using this command:
[code]

[code]

The VM has started and it's running b

[2017-10-06 12:23] jorgemoralespou commented on #1415
Coming back to this one. If we have:

minishift delete (deletes the VM)
minishift profile delete (deletes the profile, VM included)

I guess I would go for "minishift profile delete --all"

[2017-10-06 12:23] LalatenduMohanty commented on #1460
Resolved by #1465

[2017-10-06 12:23] #1460 closed

[2017-10-06 12:31] LalatenduMohanty commented on #1342
Resolved by https://github.com/minishift/minishift/pull/1489

[2017-10-06 12:31] #1342 closed

[2017-10-06 12:55] LalatenduMohanty commented on #1505
@agajdosi Not sure which `minishift info` command you mentioned. We do not have a `minishift info` command in Minishift for sure.

[2017-10-06 13:08] gbraad commented on #1492
[code]
ip := net.ParseIP(IPAddress)
ip = ip.To4()
ip[3] = 1
Gateway = ip
[code]

[2017-10-06 13:09] robdaems opened #1509 "S2I javascript: change the script to be executed"
When I use the nodeJs template (S2I), I assume the command in the underlying Dockerfile executes the 'start' script in package.json.

[code]

But can I change somewhere which command needs to be executed?
I want to create multiple applications (from the same source) but the script which has to be executed differs.

BR, Rob

[2017-10-06 13:28] robdaems commented on #1509
https://github.com/sclorg/s2i-nodejs-container/blob/master/6/README.md

NAME | Description
-- | --
NODE_ENV | NodeJS runtime mode (default: "production")
DEV_MODE | When set to "true", nodemon will be used to automatically reload the server while you work (default: "false"). Setting DEV_MODE to "true" will change the NODE_ENV default to "development" (if not explicitly set).
NPM_RUN | Select an al

[2017-10-06 13:28] #1509 closed

[2017-10-06 13:32] robdaems opened #1510 "S2I : Use of own Dockerfile"
Hello,

How can I use my own Dockerfile ?
I don't see anything in the UI to do this. Is this only possible via oc ?
Or not at all?

Br, Rob

[2017-10-06 13:41] praveenkumar commented on #1479
@minishift/minishift-dev I want your fedback on this.

[2017-10-06 13:43] praveenkumar commented on #1510
@robdaems I don't think you can directly use Dockerfile with oc command but I still redirect your query to @jorgemoralespou and @GrahamDumpleton.

[2017-10-06 13:47] jorgemoralespou commented on #1510
Yes, you can build your dockerImageRepoitory.

https://docs.openshift.org/latest/dev_guide/builds/build_strategies.html#docker-strategy-options

[2017-10-06 13:49] gbraad commented on #1510
This is not a specific Minishift question, but rather OpenShift in general. I suggest to read more about the S2I process on https://github.com/openshift/source-to-image and https://docs.openmshift.org/

Most common is to actually use S2I to use a build process, which results in a container that can run the application. A primer I wrote about at: http://gbraad.nl/blog/run-an-example-application-on-

[2017-10-06 14:44] agajdosi commented on #1505
@LalatenduMohanty Sorry for that. True, I meant `minishift addons list`. Somehow I mixed with docker probably...

[2017-10-06 15:03] praveenkumar commented on #1491
@hferentschik sure I will modify this issue text and create an new issue for follow up.

[2017-10-06 15:09] praveenkumar opened #1511 "Upgrade to use Go 1.9"
When Go version. 1.9 is available on the official repository of CentOS/RHEL, we should consider to update along with documentation as well as in the CI systems.

Doing so would not also give the opportunity to make some build improvements since 1.9 handles the vendor directory a bit differently now.

    https://golang.org/doc/go1.9
    https://blog.golang.org/go1.9

[2017-10-06 15:42] gbraad commented on #1508
This is an issue with how the DHCPRequests and DHCPOffers are handled by the hypervisor; in this case VirtualBox. There is not much we can dp at this moment,

... unless you want to run the latest Minishift-CentOS-ISO from master. We have added a functionality to fix the IP, which will be reset on reboot; #1457 is not finalized or worked on at the moment, but most of the parts are in place to make

[2017-10-06 16:00] gbraad commented on #1491
Actually at first slightly confused, as a new issue #1511 was created with the same title. But it seems you modified this to reflect 1.8 first?

[2017-10-06 17:47] chilcano commented on #1508
I've tried the same with `v1.1.0/minishift-centos7.iso` and I have the same issue.
I have stopped (`minishift stop --profile myvm`) the VM before stopping/rebooting my PC. Now the status is `Stopped` but I have the same issue again.

I will follow the progress of this (#1457).
Regards.

[2017-10-06 18:15] LalatenduMohanty commented on #1508
@chilcano The issue is that the VM has changed the IP after `minishift stop` -> `minishift start` . Currently Minishift is not capable to handle IP change. I would suggest you do a `minishift delete` and then `minishift start`. You do not need to provide --profile openshift01 as it is an active profile to `minishift delete` and `start`.

[2017-10-06 18:32] jorgemoralespou commented on #1479
This will allow to install new versions, but will not be self-contained. That means that applying the addon without internet connectivity will fail.

But, that's what I do in "oc-cluster". But not what I would do in CDK.

[2017-10-06 18:45] LalatenduMohanty commented on #1506
+1 for creating a copr repo and then giving access to other developers of Minishift.

[2017-10-06 19:27] LalatenduMohanty commented on #1504
@gbraad Not planning to change anything drastic. There were few items which were scheduled for older releases but we were not able to finish them. So we need to update the roadmap accordingly.

[2017-10-06 20:58] jorgemoralespou commented on #1479
I think that the metadata is in the Imagestream. Only it will resolve to
the sha256 of the image one it connects, but not to create/load them into
the system.

[2017-10-06 21:34] GrahamDumpleton commented on #1510
This answers seem to have wandered off into talking about S2I when question was about Docker. Let me try and add my own comments on the original question.

The answer it yes, you can.

It is difficult to setup a ``docker`` type build using a ``Dockerfile`` from the web console so I will skip that as probably not what you are going to want, so the easiest way is from the ``oc`` command line.

Simpl

[2017-10-07 00:57] gbraad commented on #1510
@GrahamDumpleton

See title... I believe the OP is not clear about the process, and how things work.

[2017-10-07 01:29] gbraad commented on #1508
It is not the right ISO, please use: http://artifacts.ci.centos.org/minishift/minishift-centos-iso/master/39/minishift-centos7.iso

After this, you can use the suggested path. It is currently being tested, so any feedback would be appreciated.

@LalatenduMohanty
Having to delete the instance is the last resort. We really have to look into something like `update-context` as Minikube provides: https

[2017-10-07 01:33] gbraad commented on #343
General solution to assign a fixed address is being investigated: #1457

[2017-10-07 01:40] gbraad commented on #41
I would suggest closing this issue in favor of the more detailed implementation tasks: #1316, #1457, etc

[2017-10-07 01:45] gbraad commented on #348
@marekjelen It is a difficult problem to solve, but you can have a look at: #1316 which solves this for HyperV, and #1457 which allows you to fix the address in place (hopefully prevents the situation as described in #343). Let me know what you think...

[2017-10-07 01:59] GrahamDumpleton commented on #1510
We need to wait for OP then. All those S2I example show how to write your own S2I, and not really how to customise one, which the subject is suggestive of, which why pointing at them is confusing.

For customisation of the S2I process there are a few paths.

If needing to add extra system packages, you need to use a ``docker`` type build to create a new derived S2I builder. Few tricks to doing tha

[2017-10-07 02:31] gbraad commented on #1507
The glide importer has since been removed: `cmd/dep/glide_importer.go` => https://github.com/golang/dep/blob/f88c2339516836dad313a6b8b6de8430f0cfa65f/cmd/dep/glide_importer.go (older version) It is a one-shot anyways... Import once, if it worked we move on...

[2017-10-07 02:35] gbraad commented on #1506
the Copr repo exists, but at the moment the spec build relies on just a simple packaging action from the binary release. It does not actually build it from the specfile.

[2017-10-07 03:06] LalatenduMohanty opened #1512 "Minikube ISO name does not show in the iso-url usage"
Currently on b2d and CentOS is shown in the usage and the documentation does not have information about minikube ISO [1].
[code]
[1] https://docs.openshift.org/latest/minishift/using/managing-minishift.html#choosing-iso-image

[2017-10-07 03:44] gbraad commented on #1504
I think we should look at the ROADMAP with better glasses, as some are long-term goals and not milestone specific. This gives the wrong idea and expectation.

[2017-10-07 04:55] gbraad commented on #1512
At the moment I think this is done on purpose... however, I think some of this also needs to be behind a feature toggle.

[2017-10-07 05:09] gbraad commented on #1480
What about the situation:

[code]

or:

[code]

### Note
For adding hostfolder, we added an explicit`m hostfolder add ... --instance-only` to avoid any confusion, while `m hostfolder add ...` will always add the hostfolder globally. Does this still work as intended?

[2017-10-07 06:04] gbraad opened #1513 "Possible plan to promote --network-ipaddress to general availability"
The functionality implemented in #1316 can come out of experimental use after:

Prerequisite : https://github.com/minishift/minishift-centos-iso/pull/179

  * [x] #1492 automagically assign default gateway
  * [x] #1497 assign multiple nameservers
  * [x] #1493 automagically assign nameservers
  * [x] #1496 feature detection during provisioning to determine if ISO supports requested feature
  * [x

[2017-10-07 09:13] siamaksade commented on #1479
Got it.

However I think it's still improbable to assume the user doesn't have
internet connection when using xpaas images. They won't be able to use s2i
from source in that case and they have to have all the maven dependencies
in their local repo if they do binary deploy. Although possible buy my own
experience is that always something is missing and I needed internet.

On Fri, 6 Oct 2017 at 22:5

[2017-10-07 09:17] jorgemoralespou commented on #1479
But the question is whether enforcing internet connection when installing
the add-on or when using the functionality provided.

In any case, many addons will require internet connection to pull down the
images used, so maybe you're right and this should be enabled.

[2017-10-07 09:53] gbraad commented on #1479
Internet connection is not per definition a requirement, as the images can
be exported and cached.

Using a fixed version will help with our testing effort as there is an
expectation we can have. With remote resouces we introduce an uncommon
factor... The connection can simply timeout, orworse, the resource is
actually faulty, or even has changed requirements. Will these things
shouldn't happen, t

[2017-10-07 10:43] gbraad commented on #1505
I think we should show a message when things go wrong or need attention, or as part of the startup feedback: "Installed and enabled addons ...". This can be seen as part of information that a person would like to know about, but only when he took an action. Another option could be to enrich `minishift status` with a specific `--addons` option (although this is to me a little far fecthed). Or, simp

[2017-10-07 11:06] gbraad commented on #1316
This functionality needs an image http://artifacts.ci.centos.org/minishift/minishift-centos-iso/master/39/ pr higher

[2017-10-07 11:08] gbraad commented on #1457
Note: You need at least ISO: http://artifacts.ci.centos.org/minishift/minishift-centos-iso/master/39/ or higher

[2017-10-07 11:51] siamaksade commented on #1479
Throwing out wild ideas here but is there any possiblity to download
various versions of the imagestream and templates from upstream when
minishift is being packaged, instead of having them duplicated in the
minishift repository?

I don't know the release process for minishift but it's fairly easily to
write a bash script that does this.

The xpaas folder would then look like this:
xpaas
       v3

[2017-10-07 14:09] budhrg commented on #1488
Duplicate of https://github.com/minishift/minishift/issues/603

[2017-10-07 14:28] budhrg commented on #1430
No.

Should have work. It works for us.

[2017-10-07 14:41] budhrg commented on #1415
@jorgemoralespou Does it also suppose to delete default profile?

[2017-10-07 14:50] budhrg commented on #1264
Yes @LalatenduMohanty , most of the investigation is done and it's fine to close it now.

[2017-10-07 14:50] #1264 closed

[2017-10-07 15:12] gbraad commented on #547
I suggest we enable the GitHub Wiki for this project and start adding questions/answers. I do not think using document generation and a publishing step is really helpful here.

Note: this can still be done, as GitHub wiki is just a Git repo with documents stored in markdown format (using Gollum as backend).

[2017-10-07 16:09] jorgemoralespou commented on #1415
IMHO, default profile is just another profile. If you use profiles you
understand this. If you don't, you are not worried about this command.
So yes.

[2017-10-08 10:56] hferentschik commented on #1479
+1

@siamaksade What exact problem do you try to solve? Did you have a concrete problem with the current approach? You can always create and use your own add-on which imports via a URL.

[2017-10-08 10:58] hferentschik commented on #1415
I don't think this as an urgent issue right now either. I'd think there are more pressing issues around profiles. Let's wait how this is all shaping up.