[2018-08-29 08:20] gbraad commented on #2643
Please move ahead ;-)

[2018-08-29 08:20] LalatenduMohanty commented on #2643
Right, I was wanted to validate that users have moved away from B2D too.

[2018-08-29 09:16] #2716 closed

[2018-08-29 12:59] bigon commented on #2403
Just tried 1.23.0 and it seems to work

BUT now it fails later with a timeout:

[code]

So it seems that it shouldn't pass the `--http-proxy` varaible here as it's always local?

[2018-08-29 14:32] amitkrout opened #2742 "Apply of default addon htpasswd-identity-provider on running minishift instance throws error"
### General information

  * Minishift version: v1.23.0
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. minishift start
[code]
  2. minishift addon apply htpasswd-identity-provider --addon-env USER_PASSWORD=test123
[code]
  3.
  4.

### Expected
Should be applied

### Actual
Throws error

### Logs

You can start Minishift with `minis

[2018-08-29 14:35] amitkrout opened #2743 "Add integration test coverage for default addon htpasswd-identity-provider"
Check for more details - https://github.com/minishift/minishift/tree/master/addons/htpasswd-identity-provider

[2018-08-29 20:12] pjos commented on #2638
@amitkrout could this be VPN related? I have the same symptom with similar configuration when running on a VPN connected computer. In my case, VPN client configuration reroutes all traffic to the VPN tunnel and no SSH connections are possible to my local minishift Hyper-V VM.

[2018-08-30 05:00] amitkrout commented on #2638
might be

@pjos Is it working without VPN ? I never tried it without VPN

[2018-08-30 06:45] gbraad commented on #2638
this is surely a VPN issue... this is documented (the route all rule might
cause this)
Note: this means the description is also incomplete as nowhere it is
mentioned VPN was used

[2018-08-30 07:01] pjos commented on #2638
@amitkrout Yes, it is working with and without VPN but to get it right with VPN you need to configure your VPN client right.

[2018-08-30 07:28] amitkrout commented on #2638
@pjos Awesome!!! I have less idea on VPN client configuration. So it would be great if you please share some handy doc for reference, will test it out

[2018-08-30 09:34] pjos commented on #2638
@amitkrout  For corporate VPN connections , you need to ask your VPN administrator for help since in those cases the configuration most likely managed centrally and you can't do anything about it :-( . If you have a private VPN, then look for how to configure [Split Tunnel](https://en.wikipedia.org/wiki/Split_tunneling) in the documentation.

[2018-08-30 09:41] akram commented on #2705
done in machine-drivers/docker-machine-driver-xhyve/issues/209

[2018-08-30 10:15] amitkrout commented on #2742
@LalatenduMohanty quick attention needed as its failing on minishift default addon htpasswd-identity-provider

[2018-08-30 10:35] amitkrout opened #2744 "Update minishift doc for "Run Against An Existing Machine""
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. Check https://github.com/minishift/minishift/blob/master/pkg/minishift/remotehost/remotehost.go#L78-L84
  2.
  3.
  4.

### Expected
Step 2 to 6 of [Configuring an Existing Remote Machine](https://github.com/minishift/minishift/blob

[2018-08-30 10:42] sudhirverma opened #2745 "openshift restart command is broken"
### General information

  * Minishift version:  minishift v1.23.0+91235ee
  * OS:  Windows 7
  * Hypervisor: VirtualBox

### Steps to reproduce

  1.  minishift start
  2.  minishift openshift restart

### Expected

openshift cluster is restarted

### Actual

[code]

@LalatenduMohanty  please take a look in this issue

[2018-08-30 11:51] amitkrout commented on #2745
@sudhirverma Are you able to start minishift successfully ?

[2018-08-30 12:08] gbraad commented on #2638
For this reason we do mention that VPN connectivity can cause issues during
deployment and/or general use.

I suggest to close this issue, as it is not reproducible. @amit, please try
without VPN and provide feedback ASAP

On Thursday, August 30, 2018, pjos <notifications@github.com> wrote:

administrator for help since in those cases the configuration most likely
managed centrally and you can't d

[2018-08-30 12:37] l0rd opened #2746 "Che addon: add support for multi user Che"
### General information

Che minishift addon currently supports only [Che single user](https://www.eclipse.org/che/docs/openshift-single-user.html). We want to add support for [Che multi user](https://www.eclipse.org/che/docs/openshift-multi-user.html) too.

This issue is part of the discussion we are having with Che community to drop Che single user support at all (c.f. https://github.com/eclipse

[2018-08-30 14:04] agajdosi commented on #2728
@gbraad Progressed today a little bit, finally able to save logs and replay them:
[code]

Seems to me that from integration tests we could start `pmlogger` instance to save the logs and in the end process them - maybe even export as image or pdf. Next I will try to find out which simple graphs I can get out of it, to provide here some preview.

[2018-08-30 14:14] gbraad commented on #2728
that would be great. Anything png or svg would be preferred over pdf, but
would be a possible fallback.
hope there is an option to use dot perhaps.

also, is the time needed for logging purpose?

[2018-08-30 16:59] svenstaro commented on #2276
I believe this is still relevant but I can't do it without some guidance.

[2018-08-31 02:00] LalatenduMohanty commented on #1649
I am going ahead with `minishift profile set \<profile name`> --clone-config-from \<existing profile\>`. Let me know if you have better suggestion.

[2018-08-31 05:07] amitkrout commented on #2638
Is it documented ? if yes then we should create a hyperlink from here with certain note

Sure will do that, but without VPN i cannot verify because all the test setup are placed in lab. Will check it on @budhram win10 laptop and update by EOD.

[2018-08-31 05:10] amitkrout commented on #2743
#2742

[2018-08-31 05:16] gbraad commented on #2638
In the lab you would have to make sure the machines can access the network
directly or setup a split horizon route.

For details see #842 =>
https://docs.okd.io/latest/minishift/troubleshooting/troubleshooting-driver-plugins.html#hyperv-fails-openvpn

On Fri, Aug 31, 2018 at 1:07 PM, amitkrout <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters

[2018-08-31 05:30] LalatenduMohanty commented on #2746
@l0rd Also with https://docs.okd.io/latest/minishift/using/run-against-an-existing-machine.html , mutiple users makes more sense.

[2018-08-31 05:44] LalatenduMohanty commented on #2745
Tested this on macOS and can not reproduce the issue, need to check with Virtualbox.
[code]

[2018-08-31 05:48] gbraad commented on #2746
Can you summarize what the differences are?
If it is settings based, we might be able to have a seprarate addon to
enable this (and resolve che as a dependency)

[2018-08-31 05:55] gbraad commented on #2745
Can you check your setup?

As I am not supposed to see "RHSM: Not Registered " on Minishift. This is
CDK-only.

[2018-08-31 06:05] LalatenduMohanty commented on #2745
Not able to reproduce it on macOS+Virtualbox
[code]

[2018-08-31 06:11] sudhirverma commented on #2745
@LalatenduMohanty on windows 7 I am still getting the error
[code]

[2018-08-31 06:28] LalatenduMohanty opened #2747 "Refactor profile_set.go"
There are some redundant code in profile set. See below.

[code]
The above code is repeated twice which can be written once.

[code]

[2018-08-31 06:51] amitkrout commented on #2745
Works fine on Win10+VirtualBox.

[2018-08-31 07:46] LalatenduMohanty opened #2749 "CentOS CI is failing because of invalid external link"
We have removed the B2D  and minikube nightly [1] but the link to CI still exists in the docs

https://ci.centos.org/job/minishift-pr/4826/console

[code]
we need to fix the docs .

[1] https://github.com/minishift/minishift-ci-jobs/commit/389ed1ae4afcf1beb12d2d9d9329631890a78413

[2018-08-31 07:51] anjannath commented on #2446
The https://github.com/getlantern/systray library is used to make the tray. We need **sub menus** and **menu items with images** which are not part of that library. These two features needs to be implemented for each windows, macOS and linux platform and hopefully send it upstream.

### List of Tasks:
- [x] Implementation for windows using win32 api (https://github.com/anjannath/systray/commit/781

[2018-08-31 08:00] agajdosi commented on #2745
I would expect this to happen with `CDK 3.5.0` with `OCP 3.10.x`.

[2018-08-31 09:04] garagatyi opened #2750 "Deployment of an app using local image doesn't work"
### General information

  * Minishift version: v1.22.0+7163416
  * OS: Linux
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Tag an image as `docker.io/my/image` inside of the VM
  2. Create a deployment that uses this tag
  3. Get pods

### Expected
Deployment started, local image tag is used

### Actual
Deployment fails to start, pull error happened

Exact commands to reproduce:

<deta

[2018-08-31 10:52] l0rd commented on #2746
@LalatenduMohanty to be honest the main reason we are doing that now is because we want to get rid of the single user Che: it doesn't provide much value and maintaining it requires a lot of resources.

@gbraad the difference is that Che will be bundled with an OpenID Connect provider and a DBMS (that will run in 2 extra containers). Users need to authenticate themselves to use Che. The benefit is

[2018-08-31 11:01] sudhirverma commented on #2745
@gbraad

installation.

Probably I was using the old cdk config file hence was seeing the problem

I did fresh setup then everything went fine
Steps:
1. minishift start --vm-driver virtualbox
2. Restarted the win7 host
3. minishift start --vm-driver virtualbox

my bad seems in the first run I missed some useful minishift start log which might be reporting the error in minishift start.

Sorry for t

[2018-08-31 11:01] #2745 closed

[2018-08-31 12:26] gbraad commented on #2745
Right, as @agajdosi points out. This might have been a remainder of the
Minishift (default) profile from CDK with 3.10 that got called on
Minishift. Anyway, this should not be a normal situation.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-08-31 12:33] gbraad commented on #2746
It depends on how many changes are needed. I expect running the containers
is not the issue, but likely the needed config change/command might be.
Although I would prefer to see

'che-multi-user' as an add-on to use 'che' as dependency. This is of course
also based on the actual difference. Although this seems minimal.

But if you want to get rid of the single user? On that case, override the
curr

[2018-08-31 13:00] #2749 closed

[2018-08-31 13:34] agajdosi commented on #2750
Hi @garagatyi, if I remember correctly, the image should be tagged as `<local-registry-address>/project/app` in other cases it fails. More information is here: https://docs.okd.io/latest/minishift/openshift/openshift-docker-registry.html#deploy-applications, can you try if following these docs fixes your issue?

[2018-09-01 22:06] acarr-work commented on #2447
As of minishift version v1.23.0+91235ee:
https://docs.okd.io/latest/install_config/cluster_metrics.html

[2018-09-02 10:52] literalice commented on #2677
How about using a addon?

I've tried to use knative on [the addon](https://github.com/minishift/minishift-addons/pull/158) and It seems to work correctly.

[2018-09-02 17:14] chmouel commented on #2555
Humm hello activity?

On Sun, Sep 2, 2018, 12:21 stale[bot] <notifications@github.com> wrote:

[2018-09-03 06:39] garagatyi commented on #2750
@agajdosi I was using a locally built image that is not pushed to any registry. previously it worked fine.
Looks like on one of the latest minishift version it was changed. I wonder if it is a bug or feature or not known behavior. I also checked this stuff on a local OCP running on my host and the behavior was different - it didn't try to pull if the strategy is `IfNotPresent` and an image is loca

[2018-09-03 09:14] LalatenduMohanty commented on #2750
I can not reproduce the issue on my setup.

[code]
[code]

[2018-09-03 09:19] #2718 closed

[2018-09-03 09:46] #2732 closed

[2018-09-03 11:08] garagatyi commented on #2750
@LalatenduMohanty I used `oc run`, not `oc new-app` in the steps to reproduce. This might be the reason why it works for you, but not for me. Apart from that, it looks like you don't change image pull policy from the default one. Here is what I have with the `oc new-app`:
<details>

[code]
</details>

[2018-09-03 11:10] garagatyi commented on #2750
But the overall reason of why I created this issue is that we used local images (not pushed anywhere at all, but just built on docker inside of the minishift VM) in the development flow in Eclipse Che and it worked, but now it doesn't.

[2018-09-03 11:11] garagatyi commented on #2750
I could workaround that by removing `docker.io` from the name of the image in the deployment, but would want to know whether it is a bug or not.

[2018-09-03 11:26] acerto commented on #2429
This may be related to an issue I resolved.

My computer name contained multiple hyphens, the second hyphen was causing Hyper-V to trim what it was recognising as my computer name. Renamed my computer and was able to set config options.

An easy check was that the incorrect computer name was reflected in the Hyper-V GUI.

[2018-09-03 12:06] praveenkumar commented on #2750
@garagatyi I think that is a question for openshift team as part of config we are not doing anything extra and I am hoping this is not working for you from v3.10.0 and worked for v3.9.0 you can also try to reproduce same with plain `oc cluster up`? if yes then it's definitely bug from openshift side.

[2018-09-03 12:09] praveenkumar commented on #2654
@greebean have you tried what suggested https://github.com/minishift/minishift/issues/2654#issuecomment-415913228 here and does it works for you?

[2018-09-03 12:44] garagatyi commented on #2750
I face this behavior on both 3.9 and 3.10. We also tested it on OCP 3.9 deployed on pure docker without VM and the behavior was different - the one I was expecting.
This is the reason why I created this issue in the minishift repo.

[2018-09-03 13:09] DuncanDoyle commented on #2724
I wouldn't say the use-case is very exceptional. During development I inspect my network traffic a lot, which is pretty hard to do in a container environment without the proper tools installed.

Adding the tools to the RHEL iso (which is the default I'm using) is quite cumbersome due to the registration requirements, adding repo's, etc.. So, it's not as easy as doing a `minishift ssh -- yum instal

[2018-09-03 14:52] praveenkumar commented on #2750
@garagatyi you mean using `oc cluster up` on pure docker? Can you also try same with OCP-3.10 and let us kown if that same you expecting? AFAIK we don't make any modification in the openshift config side but might be we are missing something.

[2018-09-04 05:44] liangxia opened #2753 "Typo: the -> then"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.  https://docs.okd.io/latest/minishift/troubleshooting/troubleshooting-driver-plugins.html#domain-minishift-already-exists

### Expected
If you try **minishift start** and then this error appears

### Actual
If you try **minishift start** a

[2018-09-04 06:36] agajdosi commented on #2664
@praveenkumar, @rhnewtron Seems like I am hitting the same or quite similar issue during the during `minishift start` process:

[code]

I have seen this before on some slaves, but recently it started to appear on my laptop.

[2018-09-04 07:42] agajdosi opened #2755 "Error during post cluster up configuration: Unable to login to cluster"
### General information

  * Minishift version: v1.23.0
  * OS: Windows
  * Hypervisor: VirtualBox

Minishift fails to start properly on Windows 7 laptop.

### Steps to reproduce

  1. make integration MINISHIFT_BINARY=<path-to-bin>
  2. see results

### Expected

Minishift start is ok.

### Actual

Minishift fails to start. However this is reproducible only when used with integration tests.

###

[2018-09-04 07:50] praveenkumar commented on #2755
@agajdosi  is it on some slave or happening on the test machine? This kind of behavior should be replicated across the platform as per my understanding.

[2018-09-04 09:33] xiaoyan1985 opened #2756 "Report error as using minishift"
### General information

  * Minishift version: minishift-1.15.0-windows-amd64
  * OS: Windows7
  * Hypervisor: VirtualBox

### Steps to reproduce

   run the command "minishift start --openshift-version v3.9.0 --iso-url centos --cpus 4 --memory 4GB --disk-size 40GB --vm-driver virtualbox"

### Expected
Start minishift VM successfully

### Actual
Report error as followings:

-- Starting Minishift

[2018-09-04 09:54] anjannath commented on #2735
It wasn't working on `oc cluster up` as well, therefore filed https://github.com/openshift/origin/issues/20846

[2018-09-04 10:49] LalatenduMohanty commented on #2756
@xiaoyan1985 Can you please give us debug logs?
`You can start Minishift with `minishift start --show-libmachine-logs -v5` to collect logs.
Please consider posting this on http://gist.github.com/ and post the link in the issue.`

[2018-09-04 11:01] agajdosi commented on #2755
@praveenkumar It is only replicable on 1 laptop in minilab, on both Minishift and CDK. It worked fine before, will try on previous versions.

[2018-09-04 11:11] fabiand opened #2757 "Support running minishift on travis"
it would be nice if minishift could be run on travis, just like minikube with --driver=none.

[2018-09-04 11:39] praveenkumar commented on #2750
That's the issue from openshift side sadly then :( , using minishift you can use origin 3.9 and able to use it as your pure docker `minishift start --openshift-version 3.9.0`

For 3.10 I still think this should be created on origin repo instead here.

[2018-09-04 12:15] LalatenduMohanty commented on #2750
@garagatyi  I would suggest to use for time being https://docs.okd.io/latest/minishift/openshift/openshift-docker-registry.html

[2018-09-04 12:40] garagatyi commented on #2750
@LalatenduMohanty @praveenkumar BTW changing image in the deployment from `docker.io/username/latest` to `username/image:latest` seems to fix the issue

[2018-09-04 13:52] praveenkumar commented on #2742
@amitkrout can you try below

[code]

[2018-09-04 15:43] amitkrout commented on #2742
Now the config path problem is resolved with config location ```base/openshift-apiserver``` but it fails while adding the default developer user to file
[code]

[2018-09-05 01:35] tvass opened #2758 "No md5 (or some other checksum) for releases downloads"
Hi there,

Could we have a way to validate md5sum for [official releases](https://github.com/minishift/minishift/releases) ?

A separate text file could be useful when deploying minishift automatically w/ Ansible or whatever.

Thanks

[2018-09-05 01:37] #2758 closed

[2018-09-05 01:38] tvass commented on #2758
sha256 is provided. Sorry for the noise.

[2018-09-05 03:30] psrin7 opened #2759 "Error during 'cluster up' execution: Error starting the cluster. ssh command error"
### General information
Installing minishift v3.10.0 FAILS while previous v3.9.0 works just fine. I am installing behind the company proxy.

  * Minishift version: v3.10.0
  * OS: macOS
  * Hypervisor: xhyve

Steps to reproduce:
Run command ->
$ minishift start --v=5 --openshift-version v3.10.0 --show-libmachine-logs

### Logs
-- Starting OpenShift cluster .-- Running 'oc' with: 'cluster up --rout

[2018-09-05 04:53] praveenkumar commented on #2759
@psrin7 Proxy with v3.10 is known issue and we already have upstream issue for same https://github.com/openshift/origin/issues/20496 we are working towards it meanwhile I suggest you to stick with 3.9 for the proxied environment.

[2018-09-05 05:28] amitkrout opened #2760 "Arrange openshift version list in proper order"
### General information

  * Minishift version: v1.22.0
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. minishift openshift version list
  2.
  3.
  4.

### Expected
[code]

### Actual
[code]

### Logs

You can start Minishift with `minishift start --show-libmachine-logs -v5` to collect logs.
Please consider posting this on http://gi

[2018-09-05 06:00] LalatenduMohanty commented on #2611
Resolved via #2634

[2018-09-05 06:00] #2611 closed

[2018-09-05 06:09] liangxia opened #2761 "Duplicate words in docs"
### General information

  * Minishift version: v1.23.0+91235ee
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. https://docs.okd.io/latest/minishift/using/host-folders.html#cifs-2

### Expected
Via the **`--options`** flag the domain of the share can be specified as well.

### Actual
Via the the **`--options`** flag the domain of the

[2018-09-05 06:14] praveenkumar commented on #2757
@fabiand I think we had the same issue before and if you think it through then instead of minishift you can directly run on cluster up on the Travis CI for testing purpose. Is there anything specific you have the need for minishift when you want to use `none` driver.

Another hack way is to use the generic driver like below but you need to make sure root user should be added to its own auth.

[cod

[2018-09-05 06:31] amitkrout commented on #2760
I did not know that. Thanks for the update

[2018-09-05 06:51] praveenkumar commented on #2736
Agree, xpaas template and image stream is not something we have control over and till now we are always taking it from openshift-ansible repo. Adding any more stuff will increase the complexity of the addon.

@LalatenduMohanty what does this even mean and how do you map it?

[2018-09-05 06:55] #2761 closed

[2018-09-05 07:13] praveenkumar commented on #2675
@agajdosi @amitkrout  I am in favor to close this issue since in proxied environment v3.10 is the known to us which @pjos experienced. Once that fix on origin side it automatic will be work for us also.

 - https://github.com/openshift/origin/issues/20496

[2018-09-05 07:48] agajdosi commented on #2675
@praveenkumar Sure, lets close. We can reopen if openshift/origin#20496 does not fix it.

[2018-09-05 07:49] amitkrout commented on #2675
@praveenkumar Right, However the issue is being reported on both the version of ```v3.9.0``` and ```3.10.0``` without proxy too and being tracked in OKD. https://github.com/openshift/origin/issues/20617

Until and unless this is fixed from okd side we cannot do anything. I am in the favor of closing the issue @agajdosi WDYT ?

[2018-09-05 07:51] amitkrout commented on #2675
@agajdosi Thanks for closing it :)
Will track it in OKD

[2018-09-05 08:23] agajdosi opened #2763 "Be explicit about source of errors when reporting them"
### General information

  * OS: all platforms
  * Hypervisor: all

Follow up issue for https://issues.jboss.org/browse/JBIDE-26333.

### Problem
Minishift hands over the error messages from `oc` and possibly other binaries and prints them to the user's console when anything goes wrong. It is however not crystal clear that these messages originates from different source than `minishift` itself whi

[2018-09-05 09:10] adietish commented on #2763
@agajdosi +1 on this. Providing an invalid fix to a user that is facing an error adds further annoyance and frustration. Maybe also adding a general comment like "minishift flags might not be available in cdk" could further help, too.

[2018-09-05 09:40] gbraad commented on #2757
Would `m start --vm-driver generic` targeting localhost or a node work for
you?

On Wed, Sep 5, 2018, 14:14 Praveen Kumar <notifications@github.com> wrote:

[2018-09-05 10:59] praveenkumar commented on #2757
@fabiand yes minishift still consume oc cluster up internally so for us --driver none means just running `oc cluster up` on the host which right now you are already doing in the Travis side.

[2018-09-05 12:51] klauern commented on #2663
Hi @gbraad,

That did the trick!  Is there a `minishift config` option that would set this permanently, or do I need to append `--network-nameserver 1.1.1.1` every time?

[2018-09-05 15:55] amitkrout commented on #2638
@gbraad i am able to ```Assign IP Address to Hyper-V``` successfully on a setup of ```win10 + corporate wifi + without vpn``` (Just to avoid traffic to VPN tunnel). But unable to ping the nameserver 8.8.8.8 from the vm hence causing the failure in pulling the openshift container image.

[code]
Check https://gist.github.com/amitkrout/544fedd7ba0ca6ce92a88db30fb55247 in details
[code]

[2018-09-05 18:11] jcantrill commented on #2207
I can't speak to the state of the upstream images.  Everytime I believe 'latest' or 'latest' of a a particular release is usable, we find it is out of sync with actually building the images and then deploying them.  I think you will find that once 4.0 is available and we move to operators the experience should be better.

[2018-09-05 18:37] psrin7 commented on #2759
@praveenkumar - Will do, Thanks!

[2018-09-05 19:23] klauern opened #2765 "'oc' command not using same IP as minishift's profile server"
### General information
When using Minishift to start an OpenShift Cluster with a specific profile, the `oc` binary isn't using the same IP address as the profile is set, even when using `docker-env` and `oc-env` commands.

  * Minishift version: 1.23.0
  * OS: Windows
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. `minishift profile test`
  2.  `minishift config set cpus 8` # plus Memory t

[2018-09-05 19:36] klauern commented on #2765
In addition, here's the config vars.  I had to put in the `network-parameter` setting because of an issue that @gbraad mentioned in #2663

[code]

[2018-09-05 21:27] iberodev opened #2766 "Virtual Switch not found with Hyper V on Windows"
### General information

  * Minishift version: v1.20.0+1bd6d5c
  * OS: Windows
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. Install Hyper V feature on Windows 10
  2. Copy minishift.exe to C:\minishift and add it to PATH
  3. Add to environment variables a MINISHIFT_USERNAME and MINISHIFT_PASSWORD with my OpenHat subscription credentials
 4. On git bash run ` minishift start --memory 8G

[2018-09-06 03:37] xiaoyan1985 commented on #2756
Thanks. It is OK as I using the latest one.

[2018-09-06 03:45] praveenkumar commented on #2756
@xiaoyan1985 you mean your issue is resolved now when using the latest version?

[2018-09-06 04:17] amitkrout commented on #2638
Today will check more on it in the 2nd half of the day.

[2018-09-06 04:55] praveenkumar commented on #2765
@klauern Are you behind the proxy, if yes then make sure VM ip (in your case 172.18.79.102) should be added to your `no_proxy` / `NO_PROXY` environment variable.

[2018-09-06 04:57] praveenkumar commented on #2755
@agajdosi have you tried it with the older version and does that work?

[2018-09-06 05:03] praveenkumar opened #2767 "Create an feature equivalent of `oc cluster add` functionalility"
oc 3.10.0 have a capability to add a component to running cluster using `oc cluster add`. From the minishift point of view, we don't have any such capability and this will be there for 3.11 also. I propose to put an `add` flag behind the experiment in the meantime because from 3.12 (4.0) this might not be available or change completely but the minishift user can consume it till 3.11 release.

[cod

[2018-09-06 05:05] praveenkumar commented on #2767
@LalatenduMohanty if you think this would be the benefit for our downstream user then I would like to put PR for this sprint itself so it can make it to downstream.

[2018-09-06 05:07] praveenkumar commented on #2767
CC @surajnarwade I hope this is what you wanted to make other components start without compromise the minishift start.

[2018-09-06 05:18] praveenkumar opened #2768 "Update image name from origin to origin-control-plane when using openshift >= 3.10.x"
As of now we are pulling the `openshift/origin` image and then copying the `oc` binary in the VM which used for `oc cluster up`. With 3.10 the image rename happened and the image `origin` changed to `origin-control-plane` which have all the updated bits.

[0] https://hub.docker.com/r/openshift/origin-control-plane/tags/

[2018-09-06 05:36] amitkrout opened #2769 "Integration test timeout need to be revised for nightly"
Current timeout setup ```10800s``` for nightly test is not enough.

Failure log - https://ci.centos.org/job/minishift-nightly-centos/270/consoleFull

[2018-09-06 05:42] surajnarwade commented on #2767
@praveenkumar Yeah, waiting for this feature :)

[2018-09-06 05:59] LalatenduMohanty commented on #2767
[code]

[2018-09-06 06:04] LalatenduMohanty commented on #2767
@praveenkumar @surajnarwade   I think `minishift openshift add` will be useful as it will enable users to add components to a running instance.

However regarding enabling a component during start vs adding them later, I think the only difference is doing something during start vs on the fly. Is there anything else?

[code]

[code]

[2018-09-06 06:11] budhram opened #2771 "Where are debug logs or did I miss anything?"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. `minishift start -v 5`

### Expected
Logs should appear.

### Actual
No logs

### Logs
[code]

[2018-09-06 06:14] lalitha2 commented on #1746
Please reopen this issue. I get the same issue I am trying to execute this command from command prompt.
machine : windows10. configuring through virtualbox installation.
 "minishift config set vm-driver virtualbox"

getting below error
C:\Users\lselvaraj>minishift start
-- Starting profile 'minishift'
-- Check if deprecated options are used ... OK
-- Checking if https://github.com is reachable ...

[2018-09-06 06:16] lalitha2 commented on #1746
I would like to know the reason for this and the solution. Please help as i have given this command for 5 times and more and still get same error.

[2018-09-06 06:19] LalatenduMohanty commented on #2771
@budhram for lib machine logs you need use `minishift start --show-libmachine-logs`. `-v5` will only shows `glog.V(2)` or above.

[2018-09-06 06:38] praveenkumar commented on #2767
@LalatenduMohanty  No there is no other difference but right now what happens if any of the components fail during the start then `minishift start` process fail but if you provide a way to add a component on fly then user can do `minishift start` as usual and try the component without breaking the start process.

[2018-09-06 06:39] praveenkumar commented on #2767
@gbraad which one it is, issue number?

[2018-09-06 07:03] praveenkumar commented on #1746
@lalitha2 can you try https://github.com/minishift/minishift/issues/1746#issuecomment-346744442 steps and also let us know if you are behind a proxy or vpn environment.

[2018-09-06 07:04] LalatenduMohanty commented on #2771
@budhram I guess we can close this issue. WDYT?

[2018-09-06 07:29] xiaoyan1985 commented on #2756
Sorry, I didn't make myself clear.

It is ok, as I tried again with minishift-1.15.0-windows-amd64 after unloading a lot of things from my machine. The second time I tried to use the latest version, there was no problem.

So it's certainly not the latest version that solves the problem.

[2018-09-06 07:58] praveenkumar commented on #2756
@xiaoyan1985 Can we close this issue if your problem is solved now?

[2018-09-06 08:03] xiaoyan1985 commented on #2756
Yes, thanks

[2018-09-06 08:03] #2756 closed

[2018-09-06 09:47] #2771 closed

[2018-09-06 09:48] budhram commented on #2771
Looks like post libmachine its difficult to debug now. We need to put more such logs manually.

[2018-09-06 10:38] zymixecap commented on #1587
I have the same error, but I think to have a different problem.
the log is:
[error.txt](https://github.com/minishift/minishift/files/2356629/error.txt)

[2018-09-06 10:56] praveenkumar commented on #1746
@lalitha2 Have a look to https://github.com/minishift/minishift/issues/1588 issue thread and check if something works for you.

[2018-09-06 11:47] agajdosi commented on #2755
@praveenkumar mmm, so it is reproducible on that machine also with CDK 3.5.0 which few weeks ago passed there just fine. Going to try that on different network with the same machine.

[2018-09-06 11:48] klauern commented on #2765
@praveenkumar This was done on my personal computer, which is not behind a proxy at all.

[2018-09-06 13:13] praveenkumar commented on #2765
@amitkrout @agajdosi can you reproduce this on windows system?

[2018-09-06 13:56] amitkrout commented on #2638
@gbraad Any idea why there is no internet access inside the VM ? This time i disable firewall on my host machine, but got the same error as mentioned one comment above

Am i doing anything wrong in the steps

Creating a NAT virtual network :
[code]
Starting minishift :
[code]

[2018-09-06 13:56] cmoulliard opened #2773 "minishift + hyperkit fails to start : IP address never found in dhcp leases file"
### General information

  * Minishift version: minishift v1.23.0+91235ee
  * OS: macOS
  * Hypervisor: Hyperkit

### Steps to reproduce

  1.  `minishift start --openshift-version 3.10.0 --vm-driver hyperkit --profile`

### Actual

[code]

[2018-09-06 14:05] gbraad commented on #2638
No internet access? Well, are you able to ping from the instance to an
outside IP address?
Does DNS function?

ping 8.8.8.8   or other location
ping www.google.com

share the route table maybe?

route

[2018-09-06 14:10] praveenkumar commented on #2773
@cmoulliard looks like something wrong with your setup, I tried following and works as expected.

- hyperkit driver setup https://docs.okd.io/latest/minishift/getting-started/setting-up-virtualization-environment.html#setting-up-hyperkit-driver

[code]

[2018-09-06 14:11] amitkrout commented on #2638
@gbraad
[code]
Gateway is not applied to the VM hence the problem right ?

[2018-09-06 14:13] cmoulliard commented on #2773
Routing table is defined as such on the mac

[code]

[2018-09-06 14:27] amitkrout commented on #2638
Host is not reachable from the VM.
[code]

[2018-09-06 14:31] gbraad commented on #2638
what does `ip a` return ?

[2018-09-06 14:36] cmoulliard commented on #2773
Same error when I'm disconnected from VPN. I have deleted `~/.minishift` and reinstalled `docker-machine-hyperkit-driver` and I get another error now

[code]

[2018-09-06 14:40] amitkrout commented on #2638
[docker@minishift ~]$ ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc mq stat

[2018-09-06 14:40] gbraad commented on #2773
this does not like like 'the same error', but an entirely different error.

On Thu, Sep 6, 2018 at 10:36 PM, Charles Moulliard <notifications@github.com

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-09-06 14:46] gbraad commented on #2638
Will have to try an reproduce this... but i suspect the internal NAT (from
Hyper-V+Windows) is not working as expected

On Thu, Sep 6, 2018 at 10:40 PM, amitkrout <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-09-06 15:00] cmoulliard commented on #2773
that fails too with b2d image

[code]

[2018-09-06 15:30] cmoulliard commented on #2773
Previous errors were related to the fact that I removed `docker ce` on my macbook. Sorry ;-)

BTW, here is the dhcp lease created

[code]
when minishift reports this error
[code]

[2018-09-06 16:26] webliupeng opened #2774 "Set Basic Authentication identityProvider not work"
### General information

  * Minishift version: v1.23.0+91235ee
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. Run` ./minishift openshift config set --patch='{"oauthConfig":{"identityProviders":[{"name":"my_remote_basic_auth_provider","challenge":true,"login":true,"mappingMethod":"claim","provider":{"apiVersion":"v1","kind":"BasicAuthPasswordIdentityProvider","url":"http://xxx/aut

[2018-09-07 03:37] #2720 closed

[2018-09-07 03:46] #2721 closed

[2018-09-07 05:49] praveenkumar commented on #2774
@webliupeng from 3.10 the config is set to openshift apiserver and also to kube apiserver we already have a PR[0] to expose the same patch command for kube apiserver once  it merged you can then execute `./minishift openshift config set --target kube --patch='{"oauthConfig":{"identityProviders":[{"name":"my_remote_basic_auth_provider","challenge":true,"login":true,"mappingMethod":"claim","provider

[2018-09-07 05:52] praveenkumar commented on #2773
@cmoulliard b2d is no more supported ISO for us so better not to test anything using it. as per https://github.com/kubernetes/minikube/issues/1926 some folks able to solve it when rebooted their system after removing the DHCP lease files. Also, can you tell why you think using hyperkit is better than the xhyve driver?

[2018-09-07 05:53] LalatenduMohanty opened #2775 "Add htpasswd-identity-provider information in generic driver documentation."
We do not mention about the `htpasswd-identity-provider` provider in https://docs.okd.io/latest/minishift/using/run-against-an-existing-machine.html#running-against-existing-remote-machine.

[2018-09-07 05:59] amitkrout commented on #2638
Same issue is observed too in my home network on same windows host.

Also on ```DockerNAT``` network same issue (no internet access) is observed
[code]

[2018-09-07 06:40] #2677 closed

[2018-09-07 06:40] kish-siva opened #2777 "Run Against Existing Machine: Error starting firewalld service: Process exited with status 1"
### General information

  * Minishift version: v1.23.0+91235ee
  * OS: Linux / macOS / Windows : Host Machine(RHEL6), Remote Machine(RHEL7.5)
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox: Remote Machine(RHEL7.5)

### Steps to reproduce

  1. Established password less ssh from the host to remote machine
  2. remote user is having sudo access without password
  3. configured the remote machin

[2018-09-07 07:00] amitkrout commented on #2765
@praveenkumar I am unable to reproduce this.
[code]

[2018-09-07 07:39] lalitha2 commented on #1746
Downgrading virtual box version to 5.1.14 did not help.
It worked fine with minishift version downgraded
minishift version : 1.21
Virtual box version : 5.1.14 or 5.2.8( new version also works)

[2018-09-07 07:53] #2769 closed

[2018-09-07 07:54] praveenkumar commented on #2777
@kish-siva can you try to login to that remote machine and the try to start the firewalld service?

[2018-09-07 07:59] praveenkumar commented on #1746
@amitkrout @agajdosi can you folks verify this and also if you need any more details about the setup please ask @lalitha2

[2018-09-07 08:06] agajdosi opened #2778 "OpenShift-Version feature of addons is broken"
### General information

  * Minishift version: current master (minishift v1.23.0+fdba8a84)
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. minishift start
  2. minishift addon apply che

### Expected

Addon is applied:
[code]

### Actual
[code]

[2018-09-07 08:18] agajdosi commented on #2778
Seems like `OpenShift-Version` feature of addons has troubles with OpenShift `v3.10+`, for example:

[code]

I am renaming this issue so it reflects the root of the issue.

[2018-09-07 08:32] amitkrout commented on #1746
@lalitha2 I am looking into it...

[2018-09-07 08:43] cmoulliard commented on #2773
I don't think that hyperkit is better than xhyve. Personally I'm more than happy to use xhyve. Unfortunately, it is not used anymore by `Docker CE`

[2018-09-07 10:15] anaresh7777 opened #2780 "How to get rid of to set up every time "oc" environment after "minishift start""
Is there a way to not every time to set up "oc" environment(val $(minishift oc-env)) after "minishift start"?. This problem I had with the previous versions of minishift but I am facing this issue after upgrading to latest minishift 1.23.0.

[2018-09-07 10:18] amitkrout commented on #1746
@lalitha2 I am not able to reproduce the same on minishift v1.23.0 + Win10 + VirtualBox. Hope you checked all the suggestion from #1588. Can you please try with these above combinations, if not yet tried. Otherwise clean up your setup i mean delete ```.minishift``` and ```.kube``` then start minishift freshly.

Might be a network glitch by that time when you faced the issue. Also similar inconsist

[2018-09-07 10:26] gbraad commented on #1746
BTW, I have seen a similar issue today on my system too... But only with v3.10 of openshift. I suggest to open a new issue for this.

[2018-09-07 10:26] #1746 closed

[2018-09-07 10:29] gbraad opened #2781 "failing deployment of kube-apiserver for openshift v3.10"
Under certain conditions OpenShift v3.10 couldnt deploy the kube-apiserver

[code]

[2018-09-07 10:30] gbraad commented on #1746
Please follow up at #2781

[2018-09-07 10:34] gbraad commented on #2781
@lalitha2 @praveenkumar @amitkrout

Although the error looks similar (getsockopt), the cause and stacktrace is different

[2018-09-07 11:28] kish-siva commented on #2777
Hi Praveen,

I tried by running firewalld in remote machine and same error continues.
Below commands are showing as it is running.

systemctl status firewalld
firewall-cmd --state

But the same error continues in host when minishift is started
Error starting firewalld service: Process exited with status 1

[2018-09-07 11:55] praveenkumar commented on #2777
@kish-siva can you also try using remote user as root and see if the same issue, meanwhile I will look into it.

[2018-09-07 11:57] praveenkumar commented on #2780
@anaresh7777 can you paste exact command you tried and the error message you are getting which will help us to find a root cause around it.

[2018-09-07 12:15] #2495 closed

[2018-09-07 12:48] praveenkumar commented on #2777
@kish-siva I tried it on the RHEL-7.5 remote machine and for me everything works as expected. Is there anything else you have configured differently. I have created user docker which is by default have sudo permission without password.

[code]

[2018-09-07 15:49] anaresh7777 commented on #2780
I can start minishift successfully. but when I run "oc config view" command. I am getting " oc: command not found". I can run "oc" commands without any issues when I set-up oc environment "eval $(minishift oc-env)". So, do I need to set-up oc environment every start of minishift or is there any other way to use oc commands after minishift start without setting-up oc environment every time?
I mean,

[2018-09-07 22:37] fabiand commented on #2757
oc cluster up now works nicel.y

I'm now checking if I can get minishift to run as well.

(In general it runs, I just need hacks to enable device plugins feature gate, and fix it).

https://github.com/fabiand/traviskube/

[2018-09-09 04:55] #2460 closed

[2018-09-09 12:41] gbraad commented on #2583
pinned

On Sun, Sep 9, 2018 at 7:55 PM, stale[bot] <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-09-10 03:09] gbraad commented on #547
@robin-owen what can be done to move this forward?
Should we use a general documentation location or the wiki ((we haven't used ever?).

[2018-09-10 03:25] praveenkumar opened #2782 "Nightly failed because of XPaaS addon's echo command."
We made changes to xpaas addon echo command from `XPaaS OpenShift imagestream and templates installed` to `XPaaS imagestream and templates for OpenShift 3.10 installed` and nightly failed because of it https://ci.centos.org/job/minishift-nightly-centos/274/console. I would say that instead of include version info in the echo we should simply put `XPaaS imagestream and templates for OpenShift insta

[2018-09-10 05:03] amitkrout commented on #2777
Verified on both ```root``` and a freshly created user ```test1``` on rhel 7.5 remote machine without any failure. Used macOS as my host.

@kish-siva I guess the the user of the remote machine has no proper sudo access without a password. Make sure that user should sudo access without a password or you can try on remote machine user root as suggested by @praveenkumar

Please use [1] for reference

[2018-09-10 05:16] #2778 closed

[2018-09-10 05:26] LalatenduMohanty commented on #2782
Error from the CI
[code]

[2018-09-10 06:53] vmuzikar commented on #391
Any update on this before it's closed automatically? :)

[2018-09-10 07:06] #2768 closed

[2018-09-10 07:09] #2742 closed

[2018-09-10 09:06] anaresh7777 commented on #2780
@praveenkumar Thanks for the information. It's cleared.

[2018-09-10 09:44] #2782 closed

[2018-09-10 10:17] robin-owen commented on #547
@gbraad I don't think that we should use the wiki. Having two locations for common information (the docs and the wiki) would be confusing in my opinion.

On that note, I do think that a FAQ deserves its own location/section in the documentation. It doesn't fit well into any of the currently existing categories, and could be useful as an entrypoint to the information available in the overall docume

[2018-09-10 10:25] amitkrout opened #2784 "addon htpasswd-identity-provider breaks while applying"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. ```minishift addon enable htpasswd-identity-provider```
  2. ```minishift start```
  3.
  4.
Using http://artifacts.ci.centos.org/minishift/minishift/pr/2764/ darwin bit

### Expected
[code]
### Actual
[code]

### Logs

You can star

[2018-09-10 11:01] praveenkumar commented on #2784
@amitkrout try to compile from master and check, this should work.

[code]

[2018-09-10 11:37] amitkrout commented on #2784
I picked the wrong bit to test. Works fine on master

[2018-09-10 11:37] #2784 closed

[2018-09-10 13:34] jorgemoralespou commented on #2531
Please keep this issue open

[2018-09-10 14:14] jorgemoralespou commented on #1515
This issue is probably too difficult to address.

[2018-09-10 14:18] jorgemoralespou commented on #1031
nip.io could be used with letsencrypt.

https://github.com/resmo/nip.io/issues/2

[2018-09-10 15:40] praveenkumar commented on #2780
@anaresh7777 ack, closing this now.

[2018-09-10 15:40] #2780 closed

[2018-09-10 15:41] praveenkumar commented on #2777
@kish-siva any update on this?

[2018-09-10 17:26] ryanpetrello commented on #2445
I think this is _actually_ caused by https://bugzilla.redhat.com/show_bug.cgi?id=1435261

[2018-09-11 03:41] praveenkumar commented on #2765
@klauern Are you still facing this issue? if yes can you provide the no_proxy/NO_PROXY, http_proxy/HTTP_PROXY and https_proxy/HTTPS_PROXYdetails here?

[2018-09-11 06:43] kish-siva commented on #2777
Thanks Praveen, Amit  for your reply.
Sorry for the delay, i verified that the user is having sudo access without password.
Today I will try with root user or with some other machine.

[2018-09-11 07:41] #2657 closed

[2018-09-11 07:44] LalatenduMohanty commented on #2661
Do we still need this after https://github.com/minishift/minishift/pull/2776 ?

[2018-09-11 08:06] kish-siva commented on #2777
Hi Praveen,

Same issue with root user also.
 minishift start --vm-driver generic --remote-ipaddress xxxxx --remote-ssh-key ~/.ssh/id_rsa --remote-ssh-user root --show-libmachine-logs -v5
-- minishift version: v1.23.0+91235ee
-- Starting profile 'minishift'
-- Using proxy for the setup
        Using http proxy: http://xxxxxxxxxx
-- Checking if provided oc flags are supported ... OK
-- Starting the

[2018-09-11 08:35] naithagoni opened #2786 "Error during post cluster up configuration: unable to view kubeconfig file"
I got the error after minishift start "Error during post cluster up configuration: unable to view kubeconfig file".
I have checked my config file which is in "/.kube/config", there is nothing minishift, openshift cluster, and context created in the config file. I have also checked, the file"<profile_name>_kubeconfig" is existed under "/.minishift/machine/".
I have deleted and re-installed minishif

[2018-09-11 08:46] LalatenduMohanty commented on #2767
Resolved via https://github.com/minishift/minishift/pull/2776

[2018-09-11 08:46] #2767 closed

[2018-09-11 08:57] LalatenduMohanty commented on #2612
Upstream PR to fix the issue https://github.com/openshift/origin/pull/20923

[2018-09-11 09:06] LalatenduMohanty commented on #2556
In this case no feedback might not be a good thing as people out side of Jboss group might not have tried this. I will suggest we talk to middleware folks and figure if this is something required for Minishift users.

[2018-09-11 09:34] naithagoni commented on #2786
@praveenkumar updated

[2018-09-11 12:11] LalatenduMohanty opened #2787 "Create a test to install Knative on Minishft"
Knative is going to be important from OpenShift point of view. We are (Kamesh) is planning to send  a PR to Knative repository around the steps to start Knative on Minishift and we need a test to make sure it always work.  We should be able to add the test to nightly CI.

Refer https://github.com/minishift/minishift/issues/2676

[2018-09-11 12:38] #2440 closed

[2018-09-12 02:50] gbraad commented on #2587
@minishift/minishift-dev I logically grouped the config variables.

[2018-09-12 05:27] praveenkumar commented on #2786
@naithagoni as per logs I can see you have working with `myproject` profile then can you do below and see if that works. From the logs I am not able to figure out then when you deleted does it delete default profile vm or from the `myproject` profile.

[code]

[2018-09-12 05:31] gbraad opened #2788 "Add (reverse) proxy option to the minishift instance"
When `minishift` is deployed inside the VM instance (as bin or container), and with a PAC config like:

[code]

the browser is allowed to access resources on the VM through the proxy.

This file can be served and hosted from minishift; or written to disk... as the values are of course dependent on the instance.

---

for this we would be utilizing the same proxy as `minishift services proxy`, just

[2018-09-12 06:00] LalatenduMohanty opened #2789 "Minishift should use specific version of image during oc cluster up"
Recently oc cluster up changed the way it pull the openshift images i.e it now always pull latest tag associated to version. So if we start `minishift` with a specific `--openshift-version` i.e. 3.10.0 , it might deploy `3.10.100`.  Even if it only ignores the patch version it  might have some incompatible changes which can break Minishift.

So we need to check if we can start the specified versio

[2018-09-12 06:45] anjannath commented on #2766
/cc @gbraad

[2018-09-12 07:03] LalatenduMohanty opened #2790 "CI failing for release job"
Release job failing with following error.

https://ci.centos.org/job/minishift-release/109/console

[code]

[2018-09-12 07:05] budhram opened #2791 "Make PR job = Master job = Release Job"
The tests in PR job, master job and Release job should be same.

Only nightly jobs should run all tests.

[2018-09-12 07:28] anjannath commented on #2128
@LalatenduMohanty I have tried other options like these `-o compression=no -o kernel_cache -o large_read -o`(from the manpage of sshfs) that you can see in this [commit](https://github.com/anjannath/minishift/commit/4754ef2e288e94bcd7fc988a3c509343f520788d), but not sure how they impact the performance/stability of sshfs mounts. I don't think we need any additional options for it by default.

[2018-09-12 08:17] LalatenduMohanty opened #2792 "Workaround required not to save start flags to persistent config"
Recently we have add a feature to save non default flags in `minishift start`[1] to persistent config.
I am sure many users will like it. However it is really annoying when I am trying out various configs with Minishift. I have to run `minishift config unset ` many times to try a different settings as settings gets saved in to minishift config everytime with `minishift start`.

So I think we need

[2018-09-12 08:30] AkashSolankle commented on #2679
Actually when i am tryping to get switch from one to other account it showing an error as well when i am trying to get pod detail it showing an error oc not found

[2018-09-12 09:10] LalatenduMohanty commented on #2550
@praveenkumar I do not think that enterprises will build OpenShift images for `oc cluster up`. Or is it more useful for testing purposes?

[2018-09-12 09:37] budhram commented on #2791
This need to be changed https://github.com/minishift/minishift/blob/master/centos_ci.sh#L351 to `make integration_pr`.

[2018-09-12 09:59] LalatenduMohanty opened #2794 "Local dns server should be generally available feature"
We had added this feature [1] few releases before but it is still an experimental feature, so we should work towards making it a generally available feature.

[1] https://docs.okd.io/latest/minishift/using/experimental-features.html#local-dns-server

[2018-09-12 10:15] gbraad commented on #2547
#2794 do we still do this?

[2018-09-12 10:31] LalatenduMohanty commented on #2547
Yes, we should figure out the best way to do the local dns stuff.

[2018-09-12 13:05] antoninoromeo opened #2796 "docker proxy env not setted - Get https://registry.access.redhat.com/v1/_ping: dial tcp 209.132.182.63:443: getsockopt: connection refuse"
### General information
   Minishift minishift v1.20.0+1bd6d5c CDK v3.5.0-1
   OS: Windows
   Hypervisor:  VirtualBox

### Steps to reproduce
minishift start --http-proxy http://10.0.8.242:800 --https-proxy https://10.0.8.242:800 --docker-env "HTTPS_PROXY=https://10.0.8.242:800" --docker-env "NO_PROXY=localhost,127.0.0.1" --logtostderr --v=5

### Actual
D
D:\CDK\home>minishift start --http-proxy h

[2018-09-12 13:30] antoninoromeo commented on #2796
[minishift.ko.log](https://github.com/minishift/minishift/files/2375307/minishift.ko.log)

[2018-09-12 13:30] #2796 closed

[2018-09-12 13:35] antoninoromeo opened #2797 "Environment in 10-machine.conf empty and Get https://registry.access.redhat.com/v1/_ping: dial tcp 209.132.182.63:443: getsockopt: connection refuse"
### General information

  * Minishift version: v1.20.0+1bd6d5c CDK v3.5.0-1
  * OS:Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

1. D:\CDK\home>minishift start --http-proxy http://10.0.8.242:800 --https-proxy https://10.0.8.242:800 --docker-env "HTTPS_PROXY=https://10.0.8.242:800" --docker-env "NO_PROXY=localhost,127.0.0.1" --show-libmachine-logs -v5

  2. minishift ssh cat /etc/sys

[2018-09-12 14:28] praveenkumar commented on #2797
@antoninoromeo do the following. you don't need to specify the proxy env for docker differently it automatic taken care of, let us know if that works for you.

[code]

[2018-09-12 15:20] naveenmajumdar opened #2798 "Starting Minishift VM ..... FAIL E0912"
### General information

  * Minishift version:  v1.23.0+91235ee
  * OS: Linux / macOS / Windows : Linux/Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox : KVM/Hyper-V/VirtualBox

### Steps to reproduce

  1. curl https://github.com/minishift/minishift/releases/download/v1.23.0/minishift-1.23.0-linux-amd64.tgz
  2. minishift start

### Expected
should be started but not working

### Actu

[2018-09-12 15:27] antoninoromeo commented on #2797
@praveenkumar  it works :)
thank a lot!

[2018-09-12 15:27] #2797 closed

[2018-09-12 15:35] naveenmajumdar commented on #2798
[log.txt](https://github.com/minishift/minishift/files/2375871/log.txt)

Here is the windows logs

[2018-09-12 16:02] naithagoni commented on #2786
I have solved it by re-installing kubectl and minikube.

[2018-09-12 16:02] #2786 closed

[2018-09-12 16:29] cmoulliard commented on #2786
here is the scenario that I followed using okd 3.10 and minishift v1.23

[code]

[2018-09-12 16:36] naveenmajumdar commented on #2798
-- minishift version: v1.21.0+a8c8b37
-- Starting profile 'minishift'
Found binary path at /usr/local/bin/docker-machine-driver-kvm
Launching plugin server for driver kvm
Plugin server listening at address 127.0.0.1:44540
() Calling .GetVersion
Using API Version  1
() Calling .SetConfigRaw
() Calling .GetMachineName
(minishift) Calling .GetState
(minishift) DBG | Getting current state...
(minishif

[2018-09-12 16:38] anjannath commented on #2798
Have you turned on virtualization support from the BIOS, It looks like that
is the issue here, that's why minishift is not able to create the VM. hth

On Wed, Sep 12, 2018, 10:06 PM naveen majumdar <notifications@github.com>
wrote:

[2018-09-13 13:02] LalatenduMohanty commented on #2474
@praveenkumar @gbraad I agree that the index.json should have a write lock and it should be done from upstream or Minishift. Upstream might deny that they do not have this issue and in that can we fix that in Minishift?

[2018-09-13 15:30] agajdosi commented on #1327
Took a look on this today and it seems promising. I have updated the template for coolstore application as the current one is heavily outdated, tried the deployment and it went fine. (Problem with one DB, however that is KI in coolstore tracker.)

So tried the feature and it goes through rollout just fine. Will tomorrow finish other changes needed on the feature, polish it and we could be ready he

[2018-09-13 15:41] gbraad commented on #1327
sounds promising

On Thu, Sep 13, 2018 at 11:31 PM, Andreas Gajdosik <notifications@github.com

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-09-13 16:51] #2499 closed

[2018-09-13 17:53] klauern commented on #2765
I am not facing this issue anymore, but I'm not sure what fixed it.  I've removed almost all of my networking devices, bridges, switches, etc., and am only using the "Default Switch" that comes OOTB with Hyper-V enabled, and my WiFi connection.  I think that by not giving it any choices on devices, subnets, etc., to provision IP's, seems to prevent it from breaking.

[2018-09-13 17:58] klauern opened #2799 "can't start minishift during pre-create check: wsarecv: An existing connection was forcibly closed by the remote host."
### General information

  * Minishift version: `v1.24.0+8a904d0`
  * OS: Windows
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. `minishift stop; minishift delete; minishift profile set testing`
  2. `minishift start`

### Logs

[code]

[2018-09-13 17:59] klauern commented on #2662
I'm seeing a different issue now, so I'm not sure I can even reproduce this one anymore.  #2799 is what I'm seeing currently.

[2018-09-13 18:39] klauern commented on #2766
I've had this happen when I was running [PowerShell Core 6.0][1] outside of the default PowerShell include with Windows 10, but I haven't seen this recently.

[1]: https://github.com/powershell/powershell

[2018-09-13 18:51] #2439 closed

[2018-09-14 03:59] #2534 closed

[2018-09-14 05:10] amitkrout commented on #1327
Thanks for working on the issue.

I think this will increase load and can be handled by increasing the memory. Which release version of coolstore template file you are using? 1.1.x ? In my case some image stream were missing when I tried long back on some latest temple file iirc

[2018-09-14 05:15] praveenkumar commented on #2798
@naveenmajumdar have a look to https://github.com/minishift/minishift/issues/1630 and comments, looks quite similar.

[2018-09-14 05:15] gbraad commented on #2799
Are you sure you have installed the HyperV components?

It seems to fail on the docker/machine library.

Can you try to be xecute the following in PowerShell;

[code]

And let us know the results

[2018-09-14 05:16] praveenkumar commented on #2790
@LalatenduMohanty I think we should update the description of this issue since it is not only related to release but also nightly, master and pr side.

[2018-09-14 05:19] praveenkumar commented on #2788
@gbraad can you put more details around it what `PAC` mean and also you mean `when openshift is deployed inside the VM (as bin or container)` because minishift can't deployed as container.

[2018-09-14 05:26] praveenkumar commented on #2765
@klauern thanks for the confirmation, mostly it was due to some network device. Closing this issue now.

[2018-09-14 05:27] #2765 closed

[2018-09-14 05:30] LalatenduMohanty commented on #2736
It was supposed to get the latest image streams and templates for a particular  version of Openshift. For example if the default version of OpenShift is 3.10 and Minishift instance is started with 3.11 then user can get image stream and template for 3.11 on the fly.

Yes, it sounds complex but I would rather do a spike to figure how complex it will be.

[2018-09-14 05:33] LalatenduMohanty commented on #2676
I think this should an add-on and should be enabled by default.

[2018-09-14 06:00] gbraad commented on #2788
minishift can be downloaded or placed inside a container for this purpose.
I'll add more details later, but at the moment i have a PoC for this that
works and looks promising, but it is not streamlined yet for deployment.
(rewriting some stuff as `minishift-proxy`, etc)

PAC is a fiel that can be used for configuration of a proxy that does route
handling based on the url. net, etc:
https://en.wiki

[2018-09-14 07:37] gbraad commented on #2656
Can this be checked with the latest version... v1.24 (soon the be released)

[2018-09-14 07:42] LalatenduMohanty commented on #1910
@amitkrout @agajdosi Can you guys check if this is reproducible?

[2018-09-14 07:45] gbraad commented on #2663
@klauern I remember we spoke on IRC and I suggtsed to add `m config set network-nameserver 1.1.1.1`... and this worked, right?

Also, can you detail more about the setup to investiagte why this occurs on your end.

[2018-09-14 07:48] gbraad commented on #2403
this might be a different issue @bigon. maybe information for no_proxy is missing?

[2018-09-14 07:49] gbraad commented on #2403
@praveenkumar just mentioned this is the timeout issue that is related to a known isue

[2018-09-14 07:59] gbraad commented on #2662
ca nthis be closed?

[2018-09-14 08:09] gbraad commented on #2215
we should do a `grep` on the `pkg` folder to figure out where we do this...

[2018-09-14 09:41] naveenmajumdar commented on #2798
Hello Praveen

u right KVM not supported msg showing on dmesg.

i am using VT enable hardware win10 loaded and i have configured coco to install minishift over hyper-v but that not working so i have uninstall the hyper-v and install VirtualBox and still facing the issue to install minishift.

![image](https://user-images.githubusercontent.com/15050158/45542565-e339f480-b82f-11e8-80e7-f8946fbdfb81.

[2018-09-14 10:05] agajdosi commented on #1910
@LalatenduMohanty will take a look today

[2018-09-14 11:08] #2587 closed

[2018-09-14 12:09] klauern commented on #2662
I think so.

[2018-09-14 12:09] #2662 closed

[2018-09-14 12:58] agajdosi commented on #1910
So I am able to start Minishift with service-catalog enabled:

[code]

Then I stop Minishift and try to start it again. However I face the problem that `oc cluster up` does not accept the `--enable` again:

[code]
`oc cluster add` however does not have any flag `--enable` or similar AFAIU (also can't start Minishift using `cluster add`). Maybe @bparees @jorgemoralespou you are aware of some workar

[2018-09-14 13:03] kish-siva commented on #2777
Please fine below

NAME="Red Hat Enterprise Linux Server"
VERSION="7.5 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
VARIANT="Server"
VARIANT_ID="server"
VERSION_ID="7.5"
PRETTY_NAME="Red Hat Enterprise Linux Server 7.5 (Maipo)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:7.5:GA:server"
HOME_URL="https://www.redhat.com/"
BUG_REPORT_URL="https://bugzilla.redhat.com/"

REDHAT_BUGZILLA_PRODUCT="

[2018-09-14 14:12] jorgemoralespou commented on #1910
@praveenkumar ^^^This is the problem I described. AFAIK in 3.11 the components used when you first start `oc cluster up` are saved in a `componentes.json` file. This functionality does not exist in 3.10 making it a total mess.

In 3.11 though, even the option of persisting the components exist, if you add components to the cluster, they are not added to this json file (which should be an origin bu

[2018-09-14 14:43] praveenkumar commented on #2798
@naveenmajumdar If I am not wrong here you want to try the minishift inside a virtualmachine which is running the Linux system so this is not supported since this need nested virtualization. why don't you try minishift directly on your host?

[2018-09-14 14:43] gbraad commented on #1910
Agree

[2018-09-14 14:56] sspeiche commented on #1910
@jorgemoralespou I have already been communicating with the CDK/minishift team and the OpenShift (oc cluster up) team. They are aware roughly the changes coming to `oc cluster up` in 4.0 and that OpenShift team knows they need to layout the work needed in minishift / CDK _v4_ to support this.

[2018-09-14 14:57] jorgemoralespou commented on #1910
@sspeiche never doubted you ;-)

[2018-09-14 15:59] #2332 closed

[2018-09-14 17:09] cmoulliard commented on #1910
This is really important to stabilize the next version of `oc cluster up` as using `3.10` is really hard for different reasons including the size of the images to be downloaded (which explain the timeout that we get), the new approach followed to install addons such as service catalog, that docker-machine is not supported for mac's developer, ...

[2018-09-16 16:55] gbraad commented on #1910
Can you elaborate on this?

On Sat, Sep 15, 2018, 01:09 Charles Moulliard <notifications@github.com>
wrote:

[2018-09-17 01:20] liangxia opened #2803 "Update example repos that were moved to sclorg"
Many of the GitHub repos for the example templates (ex: django-ex) have been moved to sclorg.

These should be updated so we don't rely on the redirect.

[2018-09-17 01:51] liangxia commented on #2803
https://github.com/openshift/origin/issues/19998

[2018-09-17 02:33] gbraad commented on #2803
I see you proposed #2804

[2018-09-17 04:49] amitkrout commented on #2638
@LalatenduMohanty would you please check it on your win10 host. Also verify the workaround https://docs.okd.io/latest/minishift/troubleshooting/troubleshooting-driver-plugins.html#hyperv-fails-openvpn If you are connected to VPN.

[2018-09-17 04:49] amitkrout commented on #1620
@farhaanbukhsh Any update ?

[2018-09-17 04:51] praveenkumar commented on #2643
As per @budhram this is done so I am closing this issue now. This was for the nightly test.

[2018-09-17 04:51] #2643 closed

[2018-09-17 05:10] gbraad commented on #2638
Can you check with `Get-NetNAT` what is configured? And do understand that
`DockerNAT` is not a really NATted network, it is just a legacy name, but
works in a different way (they use a proxy to connect)

[2018-09-17 08:04] cmoulliard commented on #1910
okd - origin project doesn't [support](https://github.com/openshift/origin/issues/20753#issuecomment-416207880) anymore mac's users running `oc cluster up` top of `docker ce = hyperkit` or `docker-machine` BUT only if you run `oc cluster up` wirthin a VM (VM created using virtualbox, ....). Doc's page of `oc cluster up` doesn't include anymore `mac section` - https://github.com/openshift/origin/bl

[2018-09-17 08:07] lioramilbaum opened #2805 "Where is the Jenkins endpoint?"
### General information

  * Minishift version:
minishift v1.24.0+8a904d0
  * OS: Linux / macOS / Windows
Linux - RHEL 7
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox
KVM

### Steps to reproduce

  1. Installed minishift
  2. Created a project
  3. Deployed Jenkins in the project
  4. I want to configure Jenkins

### Expected

Easily located the endpoint

### Actual

Can't find it

### Logs

[2018-09-17 08:27] lioramilbaum commented on #2805
Found it under Applications-Services.
Closing

[2018-09-17 08:27] #2805 closed

[2018-09-17 08:43] #2792 closed

[2018-09-17 09:13] lioramilbaum opened #2806 "Jenkins image openshift/jenkins is deprecated"
### General information

  * Minishift version:
minishift v1.24.0+8a904d0
  * OS: Linux / macOS / Windows
LInux
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox
KVM

### Steps to reproduce

Deployed Jenkins from the service catalog

### Expected

Expected to see the jenkins LTS deployed

### Actual

Jenkins version 2.107.3, which is far behind.

### Logs

You can start Minishift with `minishift

[2018-09-17 09:33] praveenkumar commented on #2806
@lioramilbaum This templates and image stream is coming from okd side so might be this you should file in the openshift/origin issue. These templates are part of `oc cluster up`

[2018-09-17 09:46] lioramilbaum commented on #2806
@praveenkumar ok. I will.

[2018-09-17 09:46] #2806 closed

[2018-09-17 11:05] praveenkumar commented on #2601
@philips hey, if you have some time can you try https://ci.appveyor.com/project/minishift-bot/minishift/build/3749/artifacts artifact now we are not merging the PR but adding it the way minikube suppose to add. Let us know if that still not works for you.

[2018-09-17 15:48] kameshsampath opened #2809 "Webconsole Crashloop and Permission Issue"
### General information

  * Minishift version: minishift v1.24.0+8a904d0 /minishift v1.23
  * OS: macOS
  * Hypervisor:  xhyve

### Steps to reproduce

  1. minishift profile set demo ( with memory 8GB/ vcpus 4)
  2. minishift start
  3. minishift console
  4.

### Expected

The minishift console should be opened in browser

### Actual

The browser opens the OpenShift console url but  with `HTTP

[2018-09-18 01:47] gbraad opened #2810 "Record installs of OpenShift on the persistent disk"
Several of our issues are related to upgrade that are performed by people, while they are even unaware of this. I would suggest to keep a log on the persistent disk that records the attempts of installing, and possible successes inside the persistent disk `/var/minishift/...`, that executes `before` and `after` deployment. This could aid in pinpointing issues before the deployment happens (indicat

[2018-09-18 01:48] gbraad commented on #2809
It might not be related to an upgrade, but i recorded just in case: #2810

[2018-09-18 03:42] praveenkumar commented on #2809
@kameshsampath  Just tried latest master not able to reproduce this, can you delete existing demo profile and try again?

[code]

[2018-09-18 04:04] kameshsampath commented on #2809
@praveenkumar seem to work now.  can you please keep it open for few more days, will try to see if I can reproduce it.

[2018-09-18 04:09] praveenkumar commented on #2809
@kameshsampath sure, will keep this open for time being.

[2018-09-18 06:49] #2803 closed

[2018-09-18 07:50] kish-siva commented on #2777
Hi Praveen, any update on this?

[2018-09-18 07:59] vijayakrishnach opened #2811 "SSH cmd err while starting Minishift"
### General information

  * Minishift version: minishift-1.18.0-windows-amd64
  * OS: Windows10
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. minishift start --show-libmachine-logs -v5

### Logs

(minishift) Calling .GetSSHKeyPath
(minishift) Calling .GetSSHKeyPath
(minishift) Calling .GetSSHUsername
Using SSH client type: external
&{[-F /dev/null -o PasswordAuthentication=no -o StrictHos

[2018-09-18 08:48] praveenkumar commented on #2777
@kish-siva can you provide output to below commands also, which actually provisioner runs? let me know which command failed to run and the exist status?

[code]

[2018-09-18 10:01] praveenkumar commented on #2777
@kish-siva looking to the output looks like your firewalld rules are completely messed up. Is it possible for you to just reset this remote machine and start over and this time make sure you don't install anything just do the basic installation and then run minishift using `root` user so it will take care of installation and all those things as long as repo are configured and present.

[2018-09-18 14:13] whitingjr commented on #2248
See [comment](https://github.com/minishift/minishift/issues/2248#issuecomment-380860707) which explains several flags being superseded by one.

[2018-09-19 01:05] #2163 closed

[2018-09-19 03:09] gbraad commented on #2811
I would suggest to not use `C:\Program Files\OpenSSH-Win64\ssh.exe`. It is best to test without this on your path and see if the native solution works. Not all SSH clients work, as they do not have proper psuedo tty support.

Besides, I am not sure where `exit 0` happens in the flow of commands. Can you share either the full log ?

And try with a later version of Minishfit

[2018-09-19 03:12] gbraad commented on #2798
You are attempting to run nested virtualization? this is not supported from us... you might be able to get this to work on Hyper-V or KVM, but for VirtualBox you would have to look at their forums.

I suggest closing this issue.

[2018-09-19 03:18] gbraad commented on #2798
As suggested, use directly on your host as we are able to interface with `vbox` as a driver. This will create a new VM alongside of the one you tried this on. Or you can use to run on the existing VM with the `generic` driver; which is explained in the documentation on the heading "existing machine".

Closing as this is not an issue

[2018-09-19 03:18] #2798 closed

[2018-09-19 05:07] praveenkumar opened #2813 "login to registry.redhat.io in case of using downstream bits."
We migrated from `registry.access.redhat.com` to `registry.redhat.io` which is behind the subscription and this need to be handled the same way as we handle the subscription manager bits.

[2018-09-19 06:00] praveenkumar commented on #2656
@bjethwan can you try out the latest version of minishift and see if you are able to overcome by this issue?

[2018-09-19 15:47] klauern commented on #2663
I added that configuration, but I don't believe it changed anything.

Here's the end of the last callout to it:

[code]

When I attempt to call that last command, I get this:

[code]

But, when I quote it, I get a response, so I am not sure if this is related or not.
[code]

[2018-09-19 16:13] gbraad commented on #2663
The error you are seeing is related to IPv6 (which is not supported) and is
caused due to the fact an Internal switch is likely used, without anything
that can handle the DHCP request. For this to function, you need to assign
a static IP address as described... or change to using the Default Switch
or an External switch that connects to a network with a DHCP server to
handle the request.

On Wed,

[2018-09-19 17:38] klauern commented on #2663
I'm actually using the Default Switch, so I would need to see how to get it to issue out an IPv4 address:

![image](https://user-images.githubusercontent.com/4735/45770753-e0147f00-bc08-11e8-9c4a-02397234f3f0.png)

[2018-09-19 21:44] Emmanuel35 opened #2815 "don't use OpenSSH functionnality"
### General information

  * Minishift version: v1.24.0+8a904d0
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1.  minishift start
IP not found (cf. Logs)
  2.  connect to this VM with putty: OK
  3. reuse commande ssh: KO
 ssh -o ConnectionAttempts=3 -o ConnectTimeout=10 -o ControlMaster=no -o ControlPath=none -o PasswordAuthentication=no -o ServerAliveInterval=60 -o Strict

[2018-09-19 22:51] gbraad commented on #2663
The defaukt switch hands out IPv4 (but IPv6 is a fallback mechanism they
have), so there is something else happening that prevents the DHCPRequest
to be received. Are you on a VPN or using an application firewall
(antivirus software)?

[2018-09-20 04:48] #2789 closed

[2018-09-20 04:57] praveenkumar commented on #2815
@gbraad any idea about it?

[2018-09-20 04:59] praveenkumar commented on #2811
@vijayakrishnach this is more of like the network issue, can you check on your host if you can able to pull docker images? Also are you behind with corporate proxy?

[2018-09-20 08:55] praveenkumar commented on #2687
I am planning to use `grab` library but right now it has some issue https://github.com/cavaliercoder/grab/issues/43 . This is something not trivial to implement.

[2018-09-20 09:20] #2717 closed

[2018-09-20 14:36] gbraad commented on #2663
When using minikube or minishift (or even docker machine in general) it is
adviswed not to use a VPN.
Most of the time they are setting a route all, which causes issues with
DHCP. If you want to make it woprk, you have to set up a split horizon.
But to test first, run it without a VPN... or override the routes to not
set the 0/0 catch-all route

On Thu, Sep 20, 2018 at 7:23 PM Nick Klauer <notific

[2018-09-21 02:12] #2560 closed

[2018-09-21 05:55] praveenkumar commented on #2777
@kish-siva yes please use `root` instead `ec2-user` for ec2 instances. Also let us know what is the result you get when try to other machine.

[2018-09-21 06:11] gbraad commented on #2815
This has been mentioned in our documentation, and we have #2570 for this.
This issue is with openSSH and not with us... we can't workaround all the different versiosn they have.

The openssh-win32 version I have used before did implement psuedo-tty support, while some of the others online that are compiled with cygdll are not... while cygwin's versions is OK.

[2018-09-21 06:11] #2815 closed

[2018-09-21 06:12] gbraad commented on #2815
Put your comment and interest on #2570 as this allows you to bypass the ssh we found and use our own implementation in a forced manner.

[2018-09-21 06:14] gbraad commented on #2434
No update... I'm closing this issue.

[2018-09-21 06:14] #2434 closed

[2018-09-21 06:47] gbraad commented on #2815
For reference: https://github.com/PowerShell/Win32-OpenSSH/issues/738

[2018-09-21 07:37] vijayakrishnach commented on #2811
I am able to pull docker images from host machine.
are you behind with corporate proxy -- **YES**
Same proxy i am using for both docker and minishift. for minishift iam getting SSH cmd err, output: Process exited with status 1: PING 8.8.8.8 (8.8.8.8) 56(84) bytes of data.

Docker pull in host machine
C:\WINDOWS\system32>docker pull openshift/origin-control-plane:v3.10.0
v3.10.0: Pulling from opens

[2018-09-21 08:08] #2791 closed

[2018-09-21 10:17] gbraad commented on #2811
Can we not re-use the same issue or at least rename the issue now? The SSH issue had been resolved... right?

[2018-09-21 10:20] gbraad commented on #2811
BTW, this looks like a network issue

[2018-09-21 10:40] gbraad commented on #2759
Dup of #2612

[2018-09-21 10:42] #2570 closed

[2018-09-21 11:45] kpiwko opened #2819 "Add codecov.io into make tests and Travis"
### General information

Add codecov.io integration into .travis.yml so that code coverage results are computed on each PR in travis and team would have additional check on PR to see whether a particular PR is not missing unit tests.

Additionally add test coverage generation into `make test` target - just adding `go test -cover` might be enough.

  * Minishift version: N/A
  * OS: N/A
  * Hypervi

[2018-09-21 11:51] praveenkumar commented on #2664
@agajdosi I am planing to close this issue since it mostly fix for upstream side, are you still hitting this time to time?

[2018-09-21 11:56] agajdosi commented on #2664
@praveenkumar Did not see it recently.

[2018-09-21 12:03] praveenkumar commented on #2819
@kpiwko thanks for the issue. This looks interesting, will have a look or you can also send a PR, most welcome :)

[2018-09-21 12:11] kpiwko commented on #2819
Tried but I was not able to have a clean run of `make test` on macOS:

[code]

And I guess I would need to have admin/write access to the repo to add it it codecov.io.

[2018-09-21 12:20] praveenkumar commented on #2819
@kpiwko interesting since we have circleCI to do the unit test run for Mac and didn't have this kind of failure also I just tried `make clean` => `make test` on my mac machine and it did pass, any specific argument you are using?

[2018-09-21 13:38] #2813 closed

[2018-09-21 14:20] kpiwko commented on #2819
@praveenkumar I've added `-cover` to `test` target. But same behaviour without it.

I had a hard time to setup my machine until I discovered this page - https://docs.okd.io/latest/minishift/contributing/developing.html

I guess I might be missing some libraries/tools that are not documented?

[2018-09-22 11:48] #2524 closed

[2018-09-23 14:45] jschuitemaker opened #2821 "config set hyperv-virtual-switch "DockerNAT" ignored"
### General information

  * Minishift version:
minishift v1.20.0+1bd6d5c
CDK v3.5.0-1
  * OS: Linux / macOS / Windows
Windows 10 enterprise, 1709 16299.551
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox
Hyper-V

### Steps to reproduce

  1. Follow instructions to use DockerNat from https://docs.okd.io/latest/minishift/using/static-ip.html
  2. Cmd wil hang.
  3. Delete minishift
  4. Set env

[2018-09-23 17:35] jwill824 opened #2822 "potential minishift xhyve vpn issue"
### General information

  * Minishift version: v1.23.0+91235ee
  * OS: macOS
  * Hypervisor: xhyve (brew install docker-machine-driver-xhyve)
  * Docker for Mac version: 18.06.1-ce-mac73 (26764)
  * Pertinent $(brew link) info in `/usr/local/bin` that details the list of installed cli's:
[code]
  * Mac computer DNS servers: `8.8.8.8, 8.8.4.4` in Network Preferences
  * Cisco AnyConnect's Route De

[2018-09-23 18:07] gbraad commented on #2821
The netmask is inferred when possivle, but should be provided on start when
known.

But Iam confused about the report, are you experiencing issues or not? This
is a setup that I use daily for development (and needed) and this setup is
therefore continuously tested.

Also, if connectivity is not possible, check if the VM's console is active,
log in and check with `ip a` and a `ping 10.0.75.1` to th

[2018-09-23 18:08] gbraad commented on #2822
VPN issues are known and should be resolved in the Anyconnect client by
allowing a split horizon or at least dropping the all route 0/0. This is a
known issue and is documented

On Mon, Sep 24, 2018 at 1:35 AM Jeff Williams <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-09-23 18:17] jwill824 commented on #2822
So @gbraad,  essentially talk to our maintainers of the VPN and tell them to add a split tunnel configuration or to drop the Secured IP Route?

[2018-09-24 08:28] jschuitemaker commented on #2821
I _was_ experiencing the issue as described (hanging job, waiting for ssl connection) but i managed to 'fix' that by setting the env variabele that is described as deprecated.

So, although minishift now works on my machine (just by adding the env var without doing anything else!), I still wanted to report this, perhaps someone else is experiencing the same.

Maybe I was unlucky, or there is a bug

[2018-09-24 10:06] agajdosi opened #2824 "Che workspace "Java CentOS" fails to start"
### General information

  * Minishift version: v1.24.0
  * OS: linux (probably all)
  * Hypervisor: kvm (probably all)

Taken from original report on CDK tracker - [CDK-345](https://issues.jboss.org/browse/CDK-345) as the issue is also valid for Minishift and OKD.

### Steps to reproduce

  1. minishift start --memory 5GB
  2. (optional step:) minishift addon apply anyuid
  3. minishift addon app

[2018-09-24 10:31] #2610 closed

[2018-09-24 12:45] agajdosi commented on #349
@LalatenduMohanty I kind of agree with @praveenkumar. Shell instantiation under `minishift oc` could be nice, but I am not sure if that brings that much compared to the work needed.

[2018-09-24 12:48] agajdosi commented on #390
@webliupeng Is there any problem you encounter with htpasswd-identity-provider?

[2018-09-24 13:00] agajdosi commented on #635
This still looks cool.

[2018-09-24 13:07] agajdosi commented on #819
@robin-owen If I understand the issue correctly, the problem is for example here: https://docs.okd.io/latest/minishift/getting-started/uninstalling.html#uninstall-instructions where we only instruct how to delete on Linux. I think what @hferentschik originally meant was to create a style, so we do not need to say "On mac/linux run: [command table]" and then "On windows run: [command table]", inste

[2018-09-24 13:10] agajdosi commented on #861
The issue has been closed after 184 days of inactivity.

[2018-09-24 13:10] #861 closed

[2018-09-24 13:15] agajdosi commented on #865
Any update on this? Or we gonna stick to this one? :smiley:
![image](https://user-images.githubusercontent.com/22000268/45954107-66b3cc80-c00c-11e8-940f-533614759de8.png)

[2018-09-24 13:31] praveenkumar commented on #865
@agajdosi no so we finalized https://user-images.githubusercontent.com/1132451/42091868-968cd3b6-7bc4-11e8-8fac-5b26ae25578f.png one but what we want something like https://cloud.githubusercontent.com/assets/1894/25833551/bc44eebc-34a4-11e7-9c5f-075a77960585.png on top and then this in below :)

[2018-09-24 13:54] agajdosi commented on #1012
Issue resolved by awesome people in community.

[2018-09-24 13:54] #1012 closed

[2018-09-24 14:03] agajdosi commented on #1333
@budhram Is this issue still relevant?

[2018-09-24 14:09] budhram commented on #1333
@agajdosi Not sure, @anjannath is handling now.

[2018-09-24 14:09] agajdosi commented on #1343
Still not resolved in OpenShift.

[2018-09-24 14:10] tigert commented on #865
I can help you with finalization.

One thing I wonder though is whether the OKD stuff would give us some direction for minishift branding?

https://blog.openshift.com/okd310release/

[2018-09-24 16:53] jwill824 commented on #1309
@gbraad Any update on this? Is it possible to use VPNkit with minishift?

[2018-09-24 17:09] gbraad commented on #1309
time hasn't been reserved yet for this... but I would like to look at this
soon

[2018-09-25 00:03] amisevsk opened #2825 "$KUBECONFIG points to nonexistent file with OS 3.10.0"
### General information
If minishift is started with OpenShift 3.10.0, the `$KUBECONFIG` env var in the origin container appears to be set incorrectly.

Background: For the [rh-che minishift addon](https://github.com/redhat-developer/rh-che/blob/d3573c5336be4610e0cadf6848b4fe62eb1ce76d/openshift/minishift-addons/rhche-prerequisites/rhche-prerequisites.addon#L16) we have a line `ssh docker exec ori

[2018-09-25 03:21] amitkrout opened #2826 "healthz end point check doesn't work as expected in htpasswd-identity-provider add-on"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. minishift start
  2. minishift addons apply htpasswd-identity-provider
  3. Then do immediate oc login
[code]
  4.

### Expected
Login should happen

### Actual
The healthz end point check in the addon file [htpasswd-identity-provid

[2018-09-25 04:26] praveenkumar commented on #2825
@amisevsk Due to lot of refactoring on the origin side and also the images side now that files are not present as it should be (like older release 3.9.0) and that is the reason you are seeing this. Also, I am not sure why you want to `exec` to the `origin` container.

[code]

can be replaced by following. If you don't want to use the replacement then you need to pass the kubeconfig file explicitly

[2018-09-25 04:37] praveenkumar commented on #2790
resolved by #2793

[2018-09-25 04:37] #2790 closed

[2018-09-25 06:15] praveenkumar opened #2827 "Create a cat command for addon"
As of now, we don't have any way to copy a file from host to minishift VM as part of addon. The best what we can have a scp command implemented and that can be used as parent command for minishift and in the addon also. But as of now atleast `cat` command give bit fexibility for addon user/developer. `scp` can be done separately.

[code]

[2018-09-25 06:45] vijayakrishnach opened #2828 "Getting connection refused while executing oc cluster up"
### General information

  * Minishift version: minishift-1.24.0-windows-amd64
  * OS:  Windows10
  * Hypervisor: Hyper-V

### Steps to reproduce
If i add http-proxy and https-proxy in /etc/systemd/system/docker.service.d. Then only i am able to pull docker images.
Connected to minishift VM and added above files and executed docker pull command for openshift.
After that if i start minishift by usi

[2018-09-25 06:59] gbraad commented on #2828
This is a know issue for which a fix will be merged #2812
Deploying v3.10 currently does not work for proxied environments.
Even with the fix, you will not be able to deploy application that use s2i
builders

Please try v3.9.0 and confirm the environment works... in the meantime we
are looking for a solution

On Tue, Sep 25, 2018 at 2:45 PM vijayakrishnach <notifications@github.com>
wrote:

--

[2018-09-25 07:13] #2759 closed

[2018-09-25 08:15] budhram commented on #2162
@cgwalters Can you update here as per your modification?

Else, this issue will be going to be automatically closed by stale bot.

[2018-09-25 08:17] budhram commented on #2180
@LalatenduMohanty Need to be added into any one of milestone. Thanks

[2018-09-25 08:18] budhram commented on #2182
Closing this due to inactivity.
Please feel free to reopen it when you encounter the issue again.

[2018-09-25 08:18] #2182 closed

[2018-09-25 08:37] budhram commented on #2274
@LalatenduMohanty milestone needed here.

[2018-09-25 08:55] budhram commented on #2276
@LalatenduMohanty @praveenkumar @gbraad Can you give your valuable comments here?

[2018-09-25 08:56] budhram commented on #2308
Closing this issue as the OP issue is fixed. See comment https://github.com/minishift/minishift/issues/2308#issuecomment-401623536

[2018-09-25 08:56] #2308 closed

[2018-09-25 09:00] budhram commented on #2445
@amitkrout @agajdosi  Please chech whether you can reproduce it or not.

[2018-09-25 09:10] johnfriz commented on #1287
Has there been any movement on this issue in the last few months?

cc @gbraad, @praveenkumar

[2018-09-25 09:27] budhram commented on #2623
Closing this issue as it is not reproducible.

[2018-09-25 09:27] #2623 closed

[2018-09-25 09:29] budhram commented on #2379
Closing this issue as per @GrahamDumpleton  suggestion as we cannot do much from Minishift side.

[2018-09-25 09:29] #2379 closed

[2018-09-25 09:34] budhram commented on #2420
Closing this as we cannot do much from our side.

[2018-09-25 09:34] #2420 closed

[2018-09-25 09:36] budhram commented on #2421
@LalatenduMohanty Please have a look.

[2018-09-25 09:37] budhram commented on #2463
Resolved via https://github.com/minishift/minishift/pull/2820

[2018-09-25 09:37] #2463 closed

[2018-09-25 09:39] LalatenduMohanty commented on #2421
We can close this as the issue is https://github.com/machine-drivers/machine/issues/7

[2018-09-25 09:39] #2421 closed

[2018-09-25 09:42] budhram commented on #2540
@LalatenduMohanty @gbraad @praveenkumar  Any thought here?

I agree that if we are setting config then we should show its log during start.

[2018-09-25 10:02] budhram commented on #2555
@chmouel  Can you try `minishift logs -f` ?

[2018-09-25 10:02] LalatenduMohanty commented on #2825
@praveenkumar in 3.10 the oc binary is in `openshift/origin-control-plane` instead of `origin` image isn't it?

[2018-09-25 10:25] chmouel opened #2829 "Allow specifying another path for `.kube/config`"
I would like to be able to specify a new path for the `.kube/config` when starting a VM.

I have multiple clusters where I connect to and switch via different KUBECONFIG variable, some of them are remote cluster with admin access and i'd like to stay away from them while doing some minishift.

according to [this](https://github.com/minishift/minishift/blob/aa3dd4c8a84b411a470b60963ec7fecdd1622473/

[2018-09-25 10:30] chmouel commented on #2555
This is not the same, -f would show all the logs and then follow (refresh)
them, --tail=N would show only the last N lines withouth showing the other
messages,

On Tue, Sep 25, 2018 at 12:03 PM Budh Ram Gurung <notifications@github.com>
wrote:

[2018-09-25 10:55] vijayakrishnach commented on #2828
Tried with 3.9.0 but unable to access the web console.
C:\>minishift start --show-libmachine-logs -v5
---------
logs
--------
C:\>
It is showing the prompt. Is this a problem?
********Logs********
About to run SSH command:
/var/lib/minishift/bin/oc cluster up --use-existing-config --host-config-dir /var/lib/minishift/openshift.local.config --host-volumes-dir /var/lib/minishift/openshift.local.volu

[2018-09-25 11:04] gbraad commented on #1287
We are discussing with minikube about a solution, and are testing some
stuff...

On Tue, Sep 25, 2018 at 5:10 PM John Frizelle <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-09-25 11:10] praveenkumar commented on #2828
@vijayakrishnach as per your latest log looks like it is running as expected, what do you mean by `but unable to access the web console`? Can you try to open `https://10.119.82.117:8443` to in a browser?

[2018-09-25 11:11] gbraad commented on #2828
I see a successful deployment from the logs

If you can not access the web console, you might have to check if your
browser has been assigned a proxy to use.
this might force your addressed to be resolved over the proxy (and
therefore unable to reach what is local on your Minishift instance)

On Tue, Sep 25, 2018 at 6:55 PM vijayakrishnach <notifications@github.com>
wrote:

--

   Gerard Braad | h

[2018-09-25 11:13] vijayakrishnach commented on #2828
@praveenkumar YES

[2018-09-25 11:15] praveenkumar commented on #2828
@vijayakrishnach then I don't see this as issue if you are able to open it otherwise use  https://github.com/minishift/minishift/issues/2828#issuecomment-424302269

[2018-09-25 11:17] gbraad commented on #2276
you would have to read the environment variables and strip the minishit
path out and print out this string.
there is no real `unset` option...

@praveenkumar what do you think?

On Tue, Sep 25, 2018 at 4:55 PM Budh Ram Gurung <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-09-25 11:29] budhram commented on #2555
@chmouel I got you now :)

[2018-09-25 11:33] budhram commented on #2620
Closing as the issue is not related to Minishift.

[2018-09-25 11:33] #2620 closed

[2018-09-25 11:35] budhram commented on #2631
Closing this issue as the original issue is fixed.
Please create a new issue if you found any new issue but make sure you use the latest release.

Thanks.

[2018-09-25 11:35] #2631 closed

[2018-09-25 11:37] gbraad commented on #2828
So the issue is resolved? If not, please provide more details, especially about the steps you took to open the console and if the browser is configured to use a proxy.

[2018-09-25 11:42] praveenkumar commented on #2825
oc binary is part of both the images but `origin-control-plane`  contains the latest bits and `origin`  image is no more maintained.

[2018-09-25 11:50] budhram commented on #2648
@LalatenduMohanty Added docs label as you said in your comment.

[2018-09-25 11:54] budhram commented on #2664
Closing this issue as per the discussion. Feel free to open new issue if you hit similar or different issue.

[2018-09-25 11:54] #2664 closed

[2018-09-25 11:58] budhram commented on #2681
@praveenkumar  @LalatenduMohanty @gbraad Looks like latest docker issue.
Thinking to close it as we can't do much.

[2018-09-25 12:01] praveenkumar commented on #2681
@budhram No, what we support is community package and what endejoli using is from docker repo which is not supported one.

[2018-09-25 12:04] budhram commented on #2730
@rhuss Please let us know your updates here. This would help to keep track of such vital problem and its solution.

[2018-09-25 12:10] LalatenduMohanty commented on #2681
@endejoli For OpenShift using the docker version from CentOS is recommended instead of  latest docker CE.

[2018-09-25 12:12] budhram commented on #2821
@LalatenduMohanty @gbraad @praveenkumar  : What should we do with it?
Document it or close it?

[2018-09-25 12:14] budhram commented on #2781
@gbraad Please also put labels. I am not sure what to add here.

[2018-09-25 12:16] budhram commented on #2774
@webliupeng Could you try the workaround mentioned above?

[2018-09-25 12:17] vijayakrishnach commented on #2828
I'm able to access https://10.119.82.117:8443 after changing browser proxy settings

[2018-09-25 12:18] budhram commented on #2766
/cc @gbraad

[2018-09-25 12:33] gbraad commented on #2828
closing the issue and keep an eye on #2612, #2818 and related issues

[2018-09-25 12:33] #2828 closed

[2018-09-25 14:01] #2162 closed

[2018-09-25 14:43] agajdosi commented on #2675
So the frequency of this issue got higher with v3.10.45 and by that I mean to the point where over half of the start fails with:
[code]
It happens on bare metal nodes in Lab in BLR, also it happens on Central-CI nodes, on all of them any proxy is set as no proxy ever before was needed there. So **this error happens with no proxy set at all**.

[2018-09-25 17:46] rhuss commented on #2730
@budhram  sorry, I have no further update as I skipped trying it as @GrahamDumpleton mentions that this issue with the insecure registry is not related to the local policy. Regardless what, I consider it already a bug that (a) allowing the Docker daemon access to the insecure registry and (b) using the `openshift.io/image.insecureRepository: "true"` annotation doesn't trigger an insecure pull of t

[2018-09-26 04:12] gbraad commented on #2829
I am not very familiar to this code path, but I expect this to be part of `oc` and them honoring a possible alternative `HOME` folder for this. @praveenkumar might be able to answer this...

[2018-09-26 04:19] gbraad commented on #2822
the initial issue should be solved by the administrators. they should allow your local machine and certain addresses ranges, like `192.168.0.0/16` `172.16.0.0/12`, and `10.0.0.0/8` to NOT be routed` (likely the `10.` they don't route), but likely they will answer with a no as they see this as a security measure (which it is far from).

Anyway, to answer thew other question... vpnkit could provide

[2018-09-26 05:17] amitkrout commented on #2826
#2808

[2018-09-26 05:30] gbraad commented on #2819
@kpiwko the whole installation process is described in the `.travis.yml`, and circleci defintion. We install all components on start of the PR builds, so this is documented. Maybe not in the actual documentation, but then again... we only rely on the golang compiler. build process runs well on centos, fedora, ubuntu, macos and to a degree on windows. try from a clean environment using a VM.

[2018-09-26 06:04] budhram commented on #2555
/cc @chmouel Here we go the test binaries https://ci.appveyor.com/project/minishift-bot/minishift/build/3813/artifacts :)

PR sent! should be there in next version. Thanks for prompt reply. :+1:

[2018-09-26 08:06] pjos commented on #2550
This one would be very appreciated :-) Especially since i can't save "extra-cluster-up" content with `minishift config set` :-( https://github.com/minishift/minishift/issues/1664

[2018-09-26 10:27] chmouel commented on #2829
the `$HOME/.kube/config` which is used to connect fro the desktop

[2018-09-26 10:47] praveenkumar commented on #2829
Let me explain the flow and tell why we are doing what we have as of now.

- VM is created
- oc binary copied to VM
- oc cluster up <options> to VM
- oc cluster up always append the cluster context and config to $HOME/.kube/config
- We take that and do same on the host (take out the kubeconfig from VM and put to host in the same path)
- If we do differently then all the users are going to complain

[2018-09-27 01:54] amisevsk commented on #2825
@praveenkumar Thanks for the advice, the command you provided works for 3.10. However, when I tried it on 3.9, it fails with `error: open /var/lib/minishift/base/openshift-apiserver/ca.crt: no such file or directory`. Is there a consistent path to the cert between openshift versions?

[2018-09-27 02:11] amisevsk commented on #2825
@praveenkumar Thanks for the advice, the command you provided works for 3.10. However, when I tried it on 3.9, it fails with `error: open /var/lib/minishift/base/openshift-apiserver/ca.crt: no such file or directory`. Is there a consistent path to the cert between openshift versions?

[2018-09-27 04:16] praveenkumar commented on #2825
@amisevsk that's what I afraid of the path from 3.9 to 3.10 changes so if you really want to make it work for both versions then try below. why it worked for 3.9 because that time oc was logged in with system:admin for that container but now it's not so explicit kubeconfig file required.

[code]

[2018-09-27 04:38] praveenkumar commented on #2656
Since there is no response from past few days I am closing this issue. @bjethwan please comment if your problem still exists and we will reopen it.

[2018-09-27 04:38] #2656 closed

[2018-09-27 04:46] praveenkumar commented on #1910
User should able to now use `minishift openshift component add service-catalog` and this actually works after restart also. Right now we are using `oc cluster add` functionality under the hood and this will be there atleast till 3.11

[2018-09-27 04:51] gbraad commented on #1910
When you said 'docker-machine' is not supported you mean `oc cluster up` targeting' docker on mac'. This is not the same... we are using docker-machine and this works on mac and. Windows

But right, we are aware of this... and I helped to get rid of this with Ben. This is due to a lot of issues and missing functionality. But not sure why this got brought up, as it does not concern us directly. Not

[2018-09-27 11:20] LalatenduMohanty opened #2832 "make vendor is failing"
[code]

[2018-09-27 12:02] #2555 closed

[2018-09-28 04:08] praveenkumar commented on #2832
.> PR for this issue was closed "in favor of #2803" which was already closed 6 days ago

@agajdosi I am not sure what you mean here. This issue is for dep resolve part.

[2018-09-28 05:41] praveenkumar opened #2834 "Add prune section to Gopkg.toml"
As of now, all the packages which are part of our vendor have there tests also in and README, docs ..etc.

Gopkg.toml can be updated to use `prune` section to make the only used library to part of vendor.

[code]

[2018-09-28 07:37] LalatenduMohanty commented on #2834
https://golang.github.io/dep/docs/Gopkg.lock.html#pruneopts

[2018-09-28 09:38] #2832 closed

[2018-09-28 09:46] LalatenduMohanty commented on #2834
Resolved #2835

[2018-09-28 09:46] #2834 closed

[2018-09-28 12:11] skonto opened #2836 "Spark jobs fail due to permission issue"
### General information

  * Minishift version: v3.1.0
  * OS: Linux
  * Hypervisor: KVM

Spark jobs on minishift will fail with :

Driver:

	at sun.nio.fs.UnixException.translateToIOException(UnixException.java:84)
	at sun.nio.fs.UnixException.rethrowAsIOException(UnixException.java:102)
	at sun.nio.fs.UnixException.rethrowAsIOException(UnixException.java:107)
	at sun.nio.fs.UnixCopyFile.copyFile

[2018-09-28 13:44] skonto commented on #2836
Seems `oc adm policy add-scc-to-user anyuid -z spark-sa -n spark` solves the issue.

[2018-09-28 14:29] gbraad commented on #1870
More info needed...
   log and content of .minishift
   steps performed

On Fri, Sep 28, 2018 at 10:26 PM Mathieu Poussin <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-09-28 15:53] anjannath opened #2837 "Create a release job in circle ci for minishift with systemtray"
Since we can't build minishift with systemtray in a linux machine, we cannot do the release from centos-ci.

The plan is to have a job in circle ci and the minishift bits with systemtray released as a separate artifact along with the regular bits. This job can be triggered from centos-ci  at the end of the release job(so that `make ci_release` still works), and will edit/update the already made re

[2018-10-01 05:30] amitkrout opened #2838 "Update cmd-docker-env.feature file"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected
Remove the [step](https://github.com/minishift/minishift/blob/master/test/integration/features/cmd-docker-env.feature#L31). Maintenance effort of the feature file will be reduced

### Actual
Step ```Then

[2018-10-01 07:16] coolbrg opened #2840 "Minishift prerequisite installer for macOS"
Enhance `minishift setup` command to work in macOS.

[2018-10-01 07:16] coolbrg opened #2841 "Create native Minishift installers for Windows or macOS"
We need to have a native installers to install Minishift and possibly handle the virtualizaton setup as well

- [ ] Windows Installer - https://github.com/minishift/minishift/issues/907
- [ ] macOS Installer - https://github.com/minishift/minishift/issues/2840

[2018-10-01 07:29] praveenkumar commented on #2836
Closing it as per @skonto

[2018-10-01 07:29] #2836 closed

[2018-10-01 07:31] praveenkumar commented on #2825
@amisevsk if you tried the https://github.com/minishift/minishift/issues/2825#issuecomment-424953888 then we can close this issue, we can't do much here in this case.

[2018-10-01 07:39] praveenkumar opened #2842 "Update image package and latest cross build tags"
As of now, we are using the older version of `image` package in our `Golang.toml` and also we need to update our cross build tags since some of the tags are now not required and even `podman` have cross build tags which we should have same.

- https://github.com/containers/libpod/blob/master/Makefile#L22

[2018-10-01 09:40] budhram commented on #2827
Resolved by https://github.com/minishift/minishift/pull/2831

[2018-10-01 09:40] #2827 closed

[2018-10-01 09:42] LalatenduMohanty commented on #2126
Resolved #2497

[2018-10-01 09:42] #2126 closed

[2018-10-01 09:51] #2775 closed

[2018-10-01 09:53] #2743 closed

[2018-10-01 09:56] praveenkumar commented on #2829
@chmouel does the above explanation make sense or you still think we are doing something wrong here?

[2018-10-01 11:17] chmouel commented on #2829
@praveenkumar okay no worries,

[2018-10-01 11:17] #2829 closed

[2018-10-01 12:12] agajdosi commented on #2591
Will be resolved in separate project.

[2018-10-01 12:12] #2591 closed

[2018-10-01 12:45] amisevsk commented on #2825
@praveenkumar Sorry about the delayed responses -- yeah I'll work something out on our end; this issue can be closed. Likely it'll have to be the last one, pointing directly at the cert in the command.

[2018-10-01 12:45] #2825 closed

[2018-10-01 15:28] #1327 closed

[2018-10-02 05:16] LalatenduMohanty commented on #2601
Resolved via #2807

[2018-10-02 05:16] #2601 closed

[2018-10-02 09:29] simoelmou opened #2843 "Minishift with proxy - Error checking and/or regenerating the certs"
### General information

  * Minishift version: v1.20.0+53c500a
  * OS:  Windows 7
  * Hypervisor:  VirtualBox

### Steps to reproduce
1. minishift delete -f --clear-cache
2. minishift start -v2 --show-libmachine-logs --vm-driver virtualbox --http-proxy http://proxy:3128 --https-proxy http://proxy:3128 --no-proxy localhost,.proxy.fr,127.0.0.1,.proxy.net,192.168.99.100

### Expected
Cluster deploye

[2018-10-02 12:27] LalatenduMohanty commented on #2446
Resolved via #2633

[2018-10-02 12:27] #2446 closed

[2018-10-02 19:15] jayunit100 opened #2845 "Run minishift outside a local VM"
### General information

  * Minishift version:  any

### Issue

I know this has been discussed, but not sure what the conclusion was.  It would be great for red hat compatibility testing to run minishift on GCE or AWS.

- Many folks need to confirm all their microservices (some of which may bbe root, need hostPaths, etc...) are runnable on minishift.  For a team with a large app, a cloud VM might

[2018-10-02 20:56] bbrowning opened #2846 "minishift openshift config view --target=kube displays pod manifest instead of config"
### General information

  * Minishift version: v1.24.0+8a904d0
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. Start minishift (I was using a pre-release of OKD 3.11 but it looks like the bug will be there in 3.10 as well)
  2. `minishift openshift config view --target=kube`

### Expected
The Kubernetes API server's master-config.yaml

### Actual
Instead of showing the config, it

[2018-10-03 03:49] praveenkumar commented on #2843
@simoelmou you are using an older version of minishift, there has been lot of improvement around proxy, can you try to use the latest version of minishift and do the following?

Also I am not sure why `192.168.99.100` IP is part of no proxy list, `localhost, 127.0.0.1` always part of default no proxy list when proxy is used?

[code]

[2018-10-03 06:40] anjannath opened #2847 "Add a menu item to stop all running profiles"
An options to stop all the running profiles from the systemtray with a single click should come in handy, when you have multiple profiles running and want to quickly free up resources.

[2018-10-03 06:47] anjannath opened #2848 "Start/Stop of profile from the tray does not work as expected in windows"
Some time after the tray has started, trying to start or stop a profile from it in windows opens up cmd prompt showing the localhost ip address with some random port number.

https://github.com/minishift/minishift/wiki/Known-issues#windows
Ref: https://github.com/minishift/minishift/pull/2633#issuecomment-425339621

![image](https://user-images.githubusercontent.com/8885742/46394269-3c49c980-c706-

[2018-10-03 07:05] anjannath opened #2849 "Enhancements/features list for the system tray"
This issue is for tracking enhancement related issues for the tray...

For starters:
- [ ] An option to restart the running openshift deployment [equivalent to `minishift openshift restart`].
- [ ] Open the OpenShift web console (#3055)
- [ ] Way to start tray without starting the cluster (#3054)
- [ ] The awareness that an update is available and perform an update
- [ ] Open a terminal window wit

[2018-10-03 07:15] LalatenduMohanty opened #2850 "Need a way to bypass the CI for release job"
Recently because of `oc cluster up` issues we are seeing CI failures. There is not much we can do about these. Example [1] where it failed because of webconsole issue.

So we need to way to bypass the CI when we know that the CI failed because of a known issue and we can not much about it.

[code]

[1] https://ci.centos.org/job/minishift-release/113/

[2018-10-03 07:21] budhram commented on #2837
@anjannath why priority is `major` here?

[2018-10-03 07:31] anjannath commented on #2837
@budhram We want to be able to do automated release as soon as possible, and we have until the next release to do it.
Do you think it should have less priority?

[2018-10-03 08:03] simoelmou commented on #2843
Always the same error, here are the logs: https://gist.github.com/simoelmou/7a6265f148a6a187174f498111138213

I tested with Openshift v3.10.0 and v3.9.0

[2018-10-03 08:38] surajnarwade commented on #2735
If I do this without minishift,

[code]

this works.

Also it also takes too much time to enable brokers

[2018-10-03 08:40] praveenkumar commented on #2843
@simoelmou can you paste the end to end logs which also include the command which you run and till it is error out? Something we are not able to reproduce atm :(

[2018-10-03 09:42] budhram commented on #2841
@minishift/minishift-dev  I think the command `minishift setup` will work along the line of CDK as well.
Then, we can merge the effort of `minishift setup-cdk` into `minishift setup`.

WDYT?

[2018-10-03 09:56] budhram commented on #2841
Demo video of OpenShift connector for VS Code https://vimeo.com/293013737

[2018-10-03 10:54] praveenkumar commented on #2843
@simoelmou even it is failed can you do the following and let us know the result?

[code]

[2018-10-03 11:02] #2850 closed

[2018-10-03 11:27] nirodg commented on #2117
I was running on the same issue and this solved my problem, many thanks! 👍

[2018-10-03 11:41] simoelmou commented on #2843
**[docker@minishift ~]$** cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"

CENTOS_MANTISBT_PROJECT="CentOS-7"
CENTOS_MANTISBT_PROJECT_VERSION="7"
REDHAT_SUPPORT_PRODUCT="cento

[2018-10-03 13:18] LalatenduMohanty commented on #2845
@jayunit100 we have already implemented this using `--vm-driver generic` https://docs.okd.io/latest/minishift/using/run-against-an-existing-machine.html

Please give it a spin and let us know.

[2018-10-03 13:20] LalatenduMohanty commented on #2845
@jayunit100 I am going close this as this feature is available already. Please put a comment to reopen if you disagree and open new issues if you encounter any new ones.

[2018-10-03 13:20] #2845 closed

[2018-10-03 13:47] LalatenduMohanty commented on #2849
@anjannath This has less priority as compared to making systemtray a GA feature is of more priority. So we should think about this post GA of systemtray.

[2018-10-03 14:58] shawnweeks commented on #2722
Running minishift from my user profile also doesn't start with the built in OpenSSH. Same error as above so the drive isn't the actual issue. There's something it doesn't like about OpenSSH 64

`.(minishift) DBG | Getting to WaitForSSH function...
(minishift) DBG | Using SSH client type: external
(minishift) DBG | &{[-F /dev/null -o ConnectionAttempts=3 -o ConnectTimeout=10 -o ControlMaster=no -o

[2018-10-03 15:00] praveenkumar commented on #2843
@simoelmou everything as per logs looks good, Can you tell which version of virtualbox are you using?

@amitkrout @agajdosi which version of virtual box we test our bits?

[2018-10-03 15:28] simoelmou commented on #2843
I'm using virtualbox 5.1.28

[2018-10-03 16:00] dgolovin opened #2852 "Minishift startup always times out on Windows 10/VirtualBox 5.2.18"
### General information

  * Minishift version: 1.24
  * Windows 10
  * VirtualBox 5.2.18

### Steps to reproduce

'minishift start --vm-driver=virtualbox'

### Expected

OpenShift Cluster is up

### Actual

 OpenShift cluster startup times out with error below

[code]

### Logs

https://gist.github.com/dgolovin/fa3c0f27342c60e3065714212ed17a8d

[2018-10-03 16:53] lcraig1969 opened #2853 "var"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected

### Actual

### Logs

You can start Minishift with `minishift start --show-libmachine-logs -v5` to collect logs.
Please consider posting this on http://gist.github.com/ and post the link in the issue.

[2018-10-03 16:55] kameshsampath opened #2854 "Automatically set minshift VM timezone to Host timezone"
### General information

Setting Timezone of minishift vm and host becomes very important, especially applications are time sensitive.

  * Minishift version: any
  * OS: any
  * Hypervisor: any

### Steps to reproduce

  1.  minishift start
  2. minishift ssh `timectl`

### Expected

Timezone of minishift VM should be same as that of host

### Actual

Timezone of minishift vm is not same as that

[2018-10-03 16:57] #2853 closed

[2018-10-03 19:37] rafabene commented on #2809
I'm facing the same issue since today with minishfit 1.24 and 1.25.

[2018-10-03 23:33] gbraad commented on #2117
Installation of the KVM driver is documented. Not sure why this issue
needed to be searched for... Can you explain?

On Wed, Oct 3, 2018, 19:27 Dorin Brage <notifications@github.com> wrote:

[2018-10-04 02:58] praveenkumar commented on #2852
@dgolovin did you see this only with VB or with HyperV also same case? I was thinking this is because of the network delay to pull the images but I might be wrong.

[2018-10-04 03:10] praveenkumar commented on #2843
@simoelmou Can you clean up virtualbox 5.1.28 and try to install VB-5.2.18? Also are you using the VPN? if yes then first can you try to disconnect from the VPN and then try again?

@amitkrout Can you test this with proxy + VBox and see if reproducible?

[2018-10-04 04:12] amitkrout commented on #2843
@praveenkumar We always verify out bits on latest VirtualBox release. So bits are tested on VirtualBox Version 5.2.18.

Sure will verify it

[2018-10-04 04:18] LalatenduMohanty commented on #2854
Also we have https://github.com/minishift/minishift/issues/1906 related to timezone in the VM

[2018-10-04 04:31] praveenkumar commented on #2841
https://github.com/redhat-developer-tooling/developer-platform-install/blob/f7e90e4c0dafcf5cbf21e15c4ffb0837ccba4836/browser/model/virtualbox.js#L171-L180 is the block which have detail about how devsuite installer used to run virtualbox installation.

[2018-10-04 05:15] LalatenduMohanty commented on #2837
I agree that the impact is major as it would change the release process for Minishift project.

[2018-10-04 05:27] LalatenduMohanty commented on #2824
@agajdosi Do we known the root cause of the issue?

[2018-10-04 05:43] amitkrout commented on #2843
@simoelmou @praveenkumar i am not able to reproduce it on win10+VirtualBox 5.2.18+minishift 1.20.0+proxy. @agajdosi can you please check it on win7

@simoelmou can you also check it with latest minishift release

[2018-10-04 05:44] LalatenduMohanty commented on #2841
+1

[2018-10-04 06:02] anjannath commented on #2837
are going to put minishift binary (with systray stuff in) for windows and
mac and linux would be as it is? or we are planning to have 5 binary (3 as
usual + 2 for systray one mac + win) ?

Five binaries is the plan, at least till we fix all the issues and
implement the other features, but eventually will have to release in a
single binary.

[2018-10-04 06:04] LalatenduMohanty commented on #2821
I think we need to cross check this and see if anyone can reproduce this. @amitkrout @agajdosi Have you guys seen this issue?

[2018-10-04 06:06] praveenkumar commented on #865
@tigert we are finally finalized to use  https://user-images.githubusercontent.com/1132451/42091868-968cd3b6-7bc4-11e8-8fac-5b26ae25578f.png as top and then https://cloud.githubusercontent.com/assets/1894/25833551/bc44eebc-34a4-11e7-9c5f-075a77960585.png just below it for the logo. Can you map it those and see how it looks with different font/color?

[2018-10-04 06:12] LalatenduMohanty commented on #2819
Here is a old issue on the same subject https://github.com/minishift/minishift/issues/1847

[2018-10-04 06:17] LalatenduMohanty commented on #2810
@gbraad It is an interesting proposal. Maybe we can alter users what wrong they did and why the start failed.

[2018-10-04 06:18] amitkrout commented on #2821
Duplicate of #2638

[2018-10-04 06:33] kameshsampath commented on #2809
nope @LalatenduMohanty this is a different one and its not consistent to be reproduced. Wondering something to do with macOS

CC: @praveenkumar  i did show you this

[2018-10-04 07:13] LalatenduMohanty commented on #2707
I find the current docs acceptable and IMO does not need any change.
![sshfs_minishift](https://user-images.githubusercontent.com/3125299/46458327-07577880-c7d3-11e8-968d-bac32eb21320.png)

[2018-10-04 07:38] agajdosi commented on #2824
@LalatenduMohanty Root cause is probably the same as in https://issues.jboss.org/browse/CDK-305, the fix is probably needed from Che side.

[2018-10-04 07:39] simoelmou commented on #2843
@amitkrout I'm using Windows 7 + VirtualBox 5.2.18 + minishift 1.24.0 + Company proxy + Openshift 3.10.0 / 3.9.0

[2018-10-04 07:40] simoelmou commented on #2843
@amitkrout @praveenkumar I tested with that config and always the same error and logs

[2018-10-04 07:40] simoelmou commented on #2843
@praveenkumar I'm not using a VPN

[2018-10-04 10:31] praveenkumar commented on #2735
@surajnarwade what issue you get when use minishift?

[code]

[2018-10-04 12:19] anjannath opened #2857 "Update docs to reflect that centos iso is the default"

[2018-10-04 12:27] anjannath commented on #2849
@LalatenduMohanty Right, need to fix #2848 before this.

[2018-10-04 12:29] anjannath commented on #2766
@iberodev Not able to reproduce it in windows 10
Can you post the o/p of `PS> Get-VMSwitch`

[2018-10-04 12:59] ziporah commented on #2852
same issue here, the ssh client tries to connect to port 22 instead of the port forwarded in the vm
[code]

[2018-10-04 14:12] #2661 closed

[2018-10-04 15:35] anjannath commented on #2735
I tried what @praveenkumar mentioned and seems to be working fine for me.
[code]

[2018-10-04 16:11] simoelmou commented on #2843
@praveenkumar is there any fix ? I don't know if the proxy is causing the issue or it's coming from minishift...

[2018-10-04 18:49] matzew opened #2860 "Istio default addon?"
Not a bug - more a question.

would it make sense to have Istio as a default addon ?

[2018-10-04 19:41] dgolovin commented on #2852
@praveenkumar works fine on HyperV.

[2018-10-05 04:11] rhnvrm commented on #2117
I think it would help to add explicit, **For Linux**, **For Windows** as H1 and **Setting Up the KVM Driver** as H2, as I recall for me atleast, I directly skipped to **On Fedora**.

[2018-10-05 04:51] #2857 closed

[2018-10-05 05:01] anjannath commented on #2117
@rhnvrm I would suggest you to open a separate _docs improvement_ issue for this, and we can take it from there.

/cc @robin-owen

[2018-10-05 05:46] praveenkumar commented on #2860
@matzew  Whenever we add any addon as a default or our this repo that means we are responsible for maintaining it, Minishift team doesn't expert in the istio stuff (like how to test it or what to do when it breaks ..etc.) If someone from istio team want to take a responsibility to maintain it then we can have it and make that person point of contact (similar thing we are doing for che addon) so in

[2018-10-05 05:50] matzew commented on #2860
thanks for clarification !

On Fri 5. Oct 2018 at 07:46, Praveen Kumar <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2018-10-05 05:53] praveenkumar commented on #2843
@agajdosi @amitkrout Can you folks try Windows 7 + VirtualBox 5.2.18 + minishift 1.24.0 + proxy + Openshift 3.10.0 combination and see it that works?

@simoelmou also if you have any personal laptop can you try on that without the proxy and see if that works. I didn't able to find out why this error is occurring. I did check on minikube side but there also no resolution for this.

@gbraad got any

[2018-10-05 06:08] #2860 closed

[2018-10-05 08:00] kpiwko commented on #2819
Still no pass for me. However, this is definitely caused by my machine not ready for Go development. Unrelated to the issue.

I can see this PR - https://github.com/minishift/minishift/pull/2844 - so I guess nothing is needed from me now? ;-)

[2018-10-05 08:05] anjannath commented on #1910
Not reproducible consistently using the latest minishift, i was able to add the `service-catalog` component using `minishift openshift component add service-catalog` and consecutive restarts works fine.

Although it failed for the first restart, after that it was working fine, ATM this is not consistently reproducible.

[2018-10-05 08:06] praveenkumar opened #2861 "[Refactor] Make sure contants pkg not using any other pkg (except verison) as dependency."
As of now if you see our `pkg/minikube/contants/` pkg contains contants related to some of the known variable and this should not use any other pkg as dependency otherwise it will not be used again that pkg and going to create a cyclic dependency. As of now we are using `pkg/util` as dependency so in future or even now if we want to use any contants in the `util` pkg it will create a cyclic depend

[2018-10-05 08:09] amitkrout opened #2862 "Add more test coverage to minishift openshift component command"
[code]

[2018-10-05 08:55] tmds commented on #1190
+1

[2018-10-05 09:30] tmds commented on #2544
Is there a way to patch the allowedRegistriesForImport so it appends instead of overwriting the defaults?
[code]

[2018-10-05 10:19] praveenkumar commented on #2854
@kameshsampath All we care about syncing the time between host and VM not the timezone right. I mean in the VM if the time is not as expected to the zone but it is in sync with host, would that be any problem?

[2018-10-05 10:28] agajdosi commented on #2819
@kpiwko Yes, nothing is needed now. We can try to resolve your problem in separate issue.

[2018-10-05 10:39] jschuitemaker commented on #2821
Confirmed, for future reference when people land on this issue: i tried to start minishift again without rebuilding it first. The logs show 255.255.255.240 again, so minishift startup will stall as before.

-- Set the following network settings to VM ...
   Device:      eth0
   IP Address:  10.0.75.128/255.255.255.240
   Gateway:     10.0.75.1
   Nameservers: 8.8.8.8

After stopping it en restarti

[2018-10-05 12:47] agajdosi commented on #2843
Was not able to reproduce the issue on Win7 machine with VirtualBox 5.2.18 + minishift 1.24.0 + proxy + Openshift 3.10.0

[2018-10-06 07:10] kameshsampath commented on #2854
@praveenkumar few doubts
-  just wondering if we need to add the `--list` sub-option as well to this command that will list the timezone names available from guest vm ??
- also when do e.g. `minishift start --timezone "Asia/Kolkatta" ` will this be set to the VM before it starts  so that oc cluster up and other pods be in synch with timezone setting ?

[2018-10-06 09:07] praveenkumar commented on #2854
@kameshsampath yes this something you can check when your VM is up and running.

@kameshsampath right this is what we have, try out artifact from https://ci.appveyor.com/project/budhrg/minishift/build/1994/artifacts which have option for timezone and let me know that what you expected/wanted.

[2018-10-08 03:06] praveenkumar opened #2865 "Choosing ISO document is still show b2d as default."
We need to fix https://docs.okd.io/latest/minishift/using/basic-usage.html#choosing-iso-image

[2018-10-08 04:08] gbraad commented on #2861
we are not even supposed to use minikube constants, but our own minishift constants file.

[2018-10-08 04:11] gbraad commented on #2854
as mentioned before, we can have custom commands defined that can be executed from the ISO on boot (by either using rc.local or our own systemd unit). These commands will be stored in a file that lives on the persistent disk... and when exists, will be parsed/executed. this could include some setup commands like timezones or even adding specific configs all over the place as the user sees fit in t

[2018-10-08 04:16] gbraad commented on #2852
right, virtualbox needs to connect to an alternative port than 22 (on startup the drivers assigns one that gets forwarded on the second nic interface).

can you explain more about the actual setup/install steps that have ben performed?

[2018-10-08 05:10] dgolovin commented on #2852
I did nothing special, the same steps for both VB and Hyper-V:
* Download minishift.exe
* Clean up everything:
   * make sure minishift stopped
   * remove ~/.VirtualBox, ~/.minishift,/~/.kube
* run `minishift start' (for virtualbox with --vm-driver option, for hyper-v add env var with virtual network switch name)

[2018-10-08 05:39] praveenkumar commented on #2854
@gbraad how the running commands in the VM get to know what the timezone host have? My understanding about this issue is user suppose to get the similar timezone as his/her host.

What does that resolve for user?

[2018-10-08 05:41] #2842 closed

[2018-10-08 05:48] #2838 closed

[2018-10-08 06:00] kameshsampath commented on #2854
@gbraad

When deploying applications and using some cloud services of specific zone in my case say from India and the service being time sensitive then having alternate timezone other than host timezone will cause issue.

[2018-10-08 07:03] gbraad commented on #2843
can you verify the content of your `.minishift` folder.

like

`ls -al `/.minishift` and `ls -al ~/.minishift/certs`

[2018-10-08 07:05] gbraad commented on #2253
@praveenkumar can you verify ?
might be something with #2843

[2018-10-08 07:06] anjannath commented on #2865
This got fixed with https://github.com/minishift/minishift/commit/8af2a4cb97fcffb53f2b9d76f896f296e277dff1 the docs site isn't updated yet though!

Issue https://github.com/minishift/minishift/issues/2857 PR https://github.com/minishift/minishift/pull/2856

[2018-10-08 07:07] #2865 closed

[2018-10-08 07:20] anjannath commented on #2750
@garagatyi Did you get your questions answered from origin side, please put link to the issue here and feel free to close this.

[2018-10-08 07:42] anjannath commented on #2734
@siamaksade If you can create VMs using the Vbox installation then its OK to skip the check, i haven't been able to reproduce this myself in a Win10 box, don't have 8.1.

For the macOS use this command to verify if you have VBox installed and on path `VBoxManage -v`

before starting minishift use this comand to skip the check `minishift config set skip-check-vbox-installed true`

[2018-10-08 07:49] anjannath commented on #1499
@gbraad Shall we close this now since minikube iso is deprecated..?

[2018-10-08 08:33] simoelmou commented on #2843
**ls -al ~/.minishift :**
total 48
drwxr-xr-x 1 USER 1049089    0 Oct  5 09:33 ./
drwxr-xr-x 1 USER 1049089    0 Oct  3 10:57 ../
drwxr-xr-x 1 USER 1049089    0 Oct  2 11:51 addons/
-rw-r--r-- 1 USER 1049089 1038 Oct  8 10:00 ca.pem
drwxr-xr-x 1 USER 1049089    0 Oct  5 09:33 cache/
-rw-r--r-- 1 USER 1049089 1078 Oct  8 10:00 cert.pem
drwxr-xr-x 1 USER 1049089    0 Oct  2 12:08 certs/
drwxr-xr-x 1

[2018-10-08 09:13] rhnvrm opened #2866 "Reorganize Documentation getting-started/setting-up-virtualization-environment for Linux"
As per the discussion in #2117, it would help new comers if the organization of the doc page could be made smoother by adding separate heads for the OS and under them list the driver followed by steps for each distro.

Link: https://docs.openshift.org/latest/minishift/getting-started/setting-up-virtualization-environment.html

I would be up for contributing, if this seems useful to others.

Thanks

[2018-10-08 09:16] praveenkumar commented on #2866
@rhnvrm go ahead and put a PR for same. cc @robin-owen

[2018-10-08 09:50] praveenkumar commented on #2843
@simoelmou can you try below and let us know the result?

[code]

[2018-10-08 11:01] ziporah commented on #2852
I did a  normal installation of virtualbox. Then I created a folder C:\minishift, downloaded the binary, put it in the path and ran minishift start. I had to create the minishift folder as admin, due to policy on my laptop. Running openshift in that folder breaks the deployment. after creating a minishift folder in my home folder and adding this to the enviornment:
[code]
minishift start works and

[2018-10-08 11:35] agajdosi commented on #2355
Seems that step `Then with up to "20" retries with wait period of "3" seconds container name "registry_docker-registry" should be "running"` no longer fails on Windows (tried in PS and cmd), from the integration tests log:
[code]
what I however see to fail is the step:
[code]
And that is because the step implements execution of commands in shell and on some windows machines `curl` is not present.

[2018-10-08 11:52] bbrowning commented on #2846
Thanks for the fix!

[2018-10-08 12:28] agajdosi commented on #2572
Hi @amitkrout, what is the problem here, I have quite hard time understanding the description of the issue.

[2018-10-08 12:52] simoelmou commented on #2843
@praveenkumar I have tried that and it's the same error.
logs: https://gist.github.com/simoelmou/149d4a44b5470d316a987171d0026471
**Using OCP 3.9.0 after stop > start it shows :**
`Could not set oc CLI context for 'minishift' profile: Error during setting 'minishift' as active profile: The specified path to the kube config 'C:\Utilisateurs\user\.minishift\machines\minishift_kubeconfig' does not ex

[2018-10-08 12:59] rdepke commented on #2843
I have the same issue, when I try to start minishift, while connected to our corporate VPN
**My Setup:**
Windows 10 1709
VirtualBox 5.2.18
minishift 1.25
I have to use a corporate proxy server which is configured via windows env vars
VPN: Juniper Networks \ Network Connect 8.1

*Log*
Here a two log files. One is the working case, when I am not connected via VPN. The second is the error case, when

[2018-10-08 13:07] amitkrout commented on #2572
@agajdosi Somehow I forgot to mention the issue reference #2545 in the description. The issue was laying between the two fixes i.e form iso and minishift side iirc.

So the plan was to test the scenario for both side in same file

[2018-10-08 13:12] praveenkumar commented on #2843
@simoelmou This is no the same what you were getting at the beginning, now atleast your first start is working as expected and failure only happen when you are doing stop => start. why do you think it is the same error?

[2018-10-08 13:15] praveenkumar commented on #2843
@rdepke In case of VPN we do have some known issue but can you also try https://github.com/minishift/minishift/issues/2843#issuecomment-427777097 with VPN and let us know if first start successful for you?

[2018-10-08 13:46] LalatenduMohanty commented on #2572
@amitkrout basically you want to cover the steps to reproduce for https://github.com/minishift/minishift/issues/2545#issuecomment-402124814

* $ minishift addon enable registry-route
* $ minishift start
* $ eval $(minishift docker-env)
* $ eval $(minishift oc-env)
*  $ docker login
*  $ minishift stop
* $ minishift start
* $ docker login

[2018-10-08 13:47] amitkrout commented on #2572
@LalatenduMohanty yes

[2018-10-08 13:53] simoelmou commented on #2843
@praveenkumar I said in both cases it fails, just not the same error. For the first start the error is with Regenerating certs, and after stop > start the error changes depending on the version of Openshift.

[2018-10-08 14:07] praveenkumar commented on #2843
@simoelmou That is complete wired because if during the fresh start error happen with regenerating the certs, that shouldn't be fix automatic by stopping it and starting again :( , something surely we are missing here. So your first start again failed with regenerate certs even after you removed the certs  as I mentioned in https://github.com/minishift/minishift/issues/2843#issuecomment-427777097

[2018-10-08 14:10] LalatenduMohanty commented on #2843
@simoelmou Which time zone you are in? Maybe we can do a desktop sharing session and try to debug your setup. Please join the #minishift IRC on Freenode.

[2018-10-08 14:18] #2862 closed

[2018-10-08 14:41] simoelmou commented on #2843
@praveenkumar Yes even after minishift delete -f and I removed the certs folder and *.pem files in .minishift, the same error shows up.

[2018-10-08 14:42] simoelmou commented on #2843
@LalatenduMohanty Okay I'll ping you there.

[2018-10-09 06:37] rdepke commented on #2843
@praveenkumar I deleted the certs, as described, but the error stays the same.

[2018-10-09 07:40] anjannath commented on #1906
I think this will also be resolved after #2864 Is merged, since the timezone will be set at the start of the VM.

/cc @praveenkumar

[2018-10-09 08:47] rdepke commented on #2843
I changed the directory where minishift looks for the certs.
libmachine.go 70-73
With that change minishifts starts, while connected to vpn. So my guess is right now, that windows directory access rights, are kinda messed up because of the vpn.

[2018-10-09 09:04] gbraad commented on #2843
Can you link to the lines here ?

Would wonder how the VPN can influence this... Or the response from the pluginserver is maybe not as expected (a missed error state?)

[2018-10-09 09:09] rdepke commented on #2843
I just hardcoded a path. I also wondering, how the VPN influences this. I tried to find any hints, with "Process Monitor" but I did not come to any result yet.
`				CaCertPath:       filepath.Join("C:\\Data\\minishift-certs", "ca.pem"),
				CaPrivateKeyPath: filepath.Join("C:\\Data\\minishift-certs", "ca-key.pem"),
				ClientCertPath:   filepath.Join("C:\\Data\\minishift-certs", "cert.pem"),
				C

[2018-10-09 11:47] tmds commented on #2544
With OpenShift 3.10+ it is no longer required to do this. By default, any host is allowed for import.

[2018-10-09 12:09] praveenkumar commented on #2544
Looks like then we should close this isue.

[2018-10-09 12:31] agajdosi commented on #2355
@LalatenduMohanty using the curl to get info if docker-registry is running resolved. I am now porting scenario variables support from normal commands to also support commands in shell so we `docker login` scenario will be platform/shell independent.

[2018-10-09 14:20] hferentschik opened #2870 "Minishift needs to honour KUBECONFIG"
ATM `minishift start` does not honour the _KUBECONFIG_ environment variable. For example,

[code]

The certificate data as well as context for system:admin gets still written into _~/.kube/config_. This prevents me from better controlling my various OpenShift configurations.

[2018-10-09 14:28] praveenkumar commented on #2870
@hferentschik Right on time :) something @burrsutter was also facing that one. we will try to resolve it soon.

[2018-10-09 14:30] hferentschik opened #2871 "Provide option to fully manage kubeconfig within MINISHIFT_HOME"
The idea is to let Minishift write the kubeconfig data somewhere into $MINISHIFT_HOME. To stay backward compatible, one could provide an option to enable this feature, eg

[code]

Name to be discussed. Alternatively, it could be a persistent flag only. Once set Minishift will write the config to a $MINISHIFT_HOME internal location.

If _minishift-managed-kubeconfig_ is enabled, you can configure y

[2018-10-09 14:31] hferentschik commented on #2871
Relates to #2871

[2018-10-09 14:32] hferentschik opened #2872 "Deleting a Minishift instance should cleanup kubeconfg"
Currently when the Minishift instance gets deleted its state as kept in MINISHIFT_HOME gets deleted. However, the kubeconfig under _~/.kube_ stays untouched. This over time clutters the configuration.

I think it makes sense to clean the kubeconfig the moment the Minishift instance gets deleted.

[2018-10-09 14:33] hferentschik commented on #2872
Relates to #2870 and #2871.

[2018-10-09 15:22] kniels5 opened #2873 "Insecure registry settings not applied when present in persistent config"
### General information

  * Minishift version: v1.24.0+8a904
  * OS: macOS
  * Hypervisor: VirtualBox (centos)

### Steps to reproduce

#### Insecure via Minishift Config
  1.  Added insecure-registry setting to minishift config, e.g.
`              {
    "insecure-registry": [
        "172.30.0.0/16",
        "nexus-proxy-nexus-persistent.192.168.99.100.nip.io",
        "nexus-internal-nexus-per

[2018-10-09 18:20] gbraad commented on #2872
This is a tricky one, and prefers a solution in which a dedicated
kubeconfig is used for Minishift only. Suggest to only resolve this after
related tasks are handled.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-10-10 07:37] LalatenduMohanty commented on #2872
I think we have looked in to this before and there was no easy way to do it. We should look in to this again.

[2018-10-10 08:08] amitkrout commented on #2588
Now it is no more a issue of false positive after the fix of #2587. Got the expected behavior after testing it thoroughly on the affected bits of 3.5 (rc.1 and rc.2) + VirtualBox + Win10.

So closing the issue.

[2018-10-10 08:08] #2588 closed

[2018-10-10 08:16] hferentschik commented on #2872
Why should there be no easy way to do it? You know the OpenShift server address you are going to destroy, right? You then access the kubeconfig (potentially taking KUBECONFIG) into account and remove relevant entries from there.

I've done this now manually multiple times, I don't see why Minishift should not be able to do this.

How so?

Well, that's #2871. I agree that an option to manage kubeco

[2018-10-10 08:19] LalatenduMohanty commented on #2871
Aren't we using the `~/.kube` because `oc` recognizes the location too. If we change the default location then how will `oc` get the required files for authentication ?

[2018-10-10 08:28] praveenkumar commented on #2872
I think since now we are actually using the kubenetes go-client, it would be easy to do that.

I like to have `--cleanup-config` or any dedicated flag and not having it as part of default. We can put those issues in the next sprint and put effort.

[2018-10-10 08:28] gbraad commented on #2872
for the same fact as you have used; you need to strip entries from the
kubeconfig.

On Wed, Oct 10, 2018 at 4:16 PM Hardy Ferentschik
<notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-10-10 08:47] LalatenduMohanty commented on #2474
Upstream (containers/image) issue https://github.com/containers/image/issues/513

[2018-10-10 08:51] agajdosi commented on #2873
Hi @kniels5, thank you for the report. I have tried this issue with minishift v1.24.0+8a904d0 on Linux and I am not able to reproduce it. In my case the insecure-registries defined in config are applied just fine, docker info shows them correctly.

Did you reuse the machine? I mean you had running Minishift, then you applied the config settings and restarted the Minishift? This might be the catch,

[2018-10-10 09:00] apupier opened #2875 "User should be able to use registry.redhat.io in image streams"
### General information

see  https://access.redhat.com/articles/3399531

for instance here https://github.com/minishift/minishift/blob/58aff7e80b83b291e06b35b423511c1eab50ce69/addons/xpaas/v3.9/xpaas-streams/fis-image-streams.json#L30

be cautious that another authentication is required, it might impact the way to use it.

cc @bparees

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected

##

[2018-10-10 09:02] apupier opened #2876 "Include Fuse 7 images in addon-xpaas"
### General information

see https://issues.jboss.org/browse/ENTESB-9557

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected

### Actual

### Logs

You can start Minishift with `minishift start --show-libmachine-logs -v5` to collect logs.
Please consider posting this on http://gist.github.com/ and post the link in the issue.

[2018-10-10 09:03] hferentschik commented on #2872
Sure, that probably helps. However, in the end, this is a quite simple YAML file and all entries are linked together.

+1

[2018-10-10 09:03] hferentschik commented on #2872
Sure, but what's tricky about this?

[2018-10-10 09:24] hllau opened #2877 "Unable to change web console configmap"
### General information

  * Minishift version: v1.25.0+90fb23e
  * OS: macOS
  * Hypervisor: hyperkit

### Steps to reproduce

  1. $ oc edit configmap/webconsole-config -n openshift-web-console
  2. Change "consolePublicURL" as the last session of "https://docs.okd.io/latest/install_config/web_console_customization.html#changing-the-web-console-url-port-and-certificates"
  3. Save and exit succe

[2018-10-10 10:38] agajdosi commented on #2873
It is reproducible if I follow this scenario:
1. start minishift
2. set insecure-registries into config
3. stop minishift
4. start minishift
5. minishift ssh -- docker info -> registries are not set

I am not sure whether this is not expected, pinging @praveenkumar, @LalatenduMohanty.

[2018-10-10 11:01] praveenkumar commented on #2873
@agajdosi @kniels5  Provisioner only runs the first time of the start and if you have a stop VM and then put anything which a provisioner run (here our minishift one which keeps that insecure registry info) it will not apply so this is expected behavior.

[2018-10-10 12:07] praveenkumar commented on #2873
I did below and I don't see any issue here.

[code]

[2018-10-10 12:11] agajdosi commented on #2873
@praveenkumar I have the same results, works if config set before first start. We can close this as this behaviour is expected.

@kniels5 To have the configuration applied please delete the Minishift instance and start a new one. That way you will get the insecure registries applied. Please let us know if that works for you, so we can close this.

[2018-10-10 12:53] agajdosi opened #2878 "Check and improve language of step definitions in Minishift testsuite"
### General information

On the PR #2869 there were several concerns around language used in step definitions in the Minishift testsuite. I was however not sure whether my fix of current definitions we use would be correct and helpful. As we extract several parameters from the steps/sentences, the language of the steps can be quite strange on some places and harder to be fixed without great knowle

[2018-10-10 13:01] hferentschik commented on #2871
Once you work with multiple clusters, you start to appreciate the possibility of separating the configurations.

It also means a Minishift instance is even more contained, aka is under full control of us.

[2018-10-10 13:12] agajdosi commented on #2878
Hi @robin-owen, if you have some time in future and could take a look on this issue it would help us. But it is nothing critical, just nice improvement.

[2018-10-10 13:54] kniels5 commented on #2873
Hmmmm, my use case here is running artifactory, nexus on minishift, which means I would have to provision VM, start openshift and deploy these applications, i.e. I dont have the routes to my docker repos at the time of a first provision.

Wondering the rational behind only applying certain settings on first start/provision?

At minimum the documentation should state which things are only applied d

[2018-10-10 13:57] bparees commented on #2875
yeah when minishift makes this change, it needs to also setup credentials in the openshift namespace.  oc cluster up handles this for you as of v3.11 (it will turn your current user's .docker/config.json into credentials in the openshift namespace, so your .docker/config.json needs to contain valid credentials).

[2018-10-10 15:24] agajdosi opened #2879 "Update Xpaas addon"
### General information

Recently there were 2 commits to xpaas, which we should include into xpaas addon:
- https://github.com/openshift/openshift-ansible/commit/f369cf5074bb27d8569b5fe59e974b12430fb351
- https://github.com/openshift/openshift-ansible/commit/55454dd89b0e704ac91abceb6e3936404f0199ad

[2018-10-11 05:10] gbraad opened #2880 "Inject certificate and host information into openshift containers for https proxy"
This is related to #2587 and a follow up task. This will allow to inject certificate and (https) proxy information into the containers.

Upon start of a container, an external application will insert the relevant information. For this gbraad/dockerwatch will be used.

[2018-10-11 06:16] LalatenduMohanty commented on #1402
In commit 07c8570fed7edc6e254b6d208fc93f83507820c9 we have removed the dependency on `UpdateProfileConstants` in `GetVMStatus`.
[code]

[2018-10-11 06:29] dgolovin opened #2882 "Add Java s2i image builder into default minishift distribution"
There is no Java s2i image builder available in minishift by default. That requires additional stems to allow building java applications. Is there a reason for that?

[2018-10-11 06:57] tmds commented on #2544
Yes, the issue may be closed.

[2018-10-11 07:08] #2544 closed

[2018-10-11 07:13] amitkrout opened #2884 "Timeout for nightly need to be revised again"
Nightly test faced two consecutive [1] [2] failures due to time issue. The current timeout of 5hrs is not enough, probably this need to be increased by at least a good amount of 2 hrs

[1] https://ci.centos.org/job/minishift-nightly-centos/304/
[1] https://ci.centos.org/job/minishift-nightly-centos/305/

[2018-10-11 07:19] anjannath commented on #2879
@agajdosi Also there is #2876

[2018-10-11 07:36] amitkrout commented on #2884
Also created https://github.com/minishift/minishift-ci-jobs/issues/75 to be in sync

[2018-10-11 08:08] anjannath opened #2885 "When preflight checks are skipped hyperv virtual switch (by default) is not set to Default Switch"
### Steps to reproduce

  1. Do not set the config variable `hyperv-virtual-switch` and env `MINISHIFT_HYPERV_VIRTUAL_SWITCH`
  2.  run `minishift start --skip-startup-checks`

### Expected
Since no values for the virtual switch was provided _minishift_ should choose the **`Default Switch`**

### Actual
An external switch is chosen instead by libamachine

Since we set the value for `hyperv-virtual

[2018-10-11 12:13] agajdosi commented on #2875
The `registry.redhat.io` starts to appear in newer xpaas templates, we can probably expect it in `eap-cd` and other templates Minishift consumes. Support for login to `registry.redhat.io` should be added.

[2018-10-11 13:00] agajdosi commented on #2875
As workaround how to get registry.redhat.io to work on OpenShift one can follow these instructions: https://docs.okd.io/latest/dev_guide/managing_images.html#allowing-pods-to-reference-images-from-other-secured-registries

[2018-10-11 15:44] apupier commented on #2875
Do you want that I open a new issue or you will handle it within this issue?
What I don't get is that we will then put a secret on all OpenShift instances installed with minishift to be able to access the "private" registry.redhat.io. What is the purpose of having a private registry then?

[2018-10-11 20:54] cunningt opened #2888 "minishift 1.25 / oc 3.11, web console doesn't come up on Mac OS X"
### General information

  * Minishift version: minishift v1.25.0+90fb23e
  * OS: Mac OS X 10.13.6
  * Hypervisor: xhyve

Using oc 3.11

tcunning@ovpn-123-211:~/src/cunningt/application-templates$ oc version
oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth

### Steps to reproduce

  1. minishift start --openshift-version=v3.11.0
  2. minishift console to bring up the web console

[2018-10-11 23:57] dgolovin commented on #2882
There seems no OpenJDK addons in minishift/CDK repositories. I am looking into addons folders. Is there one around I can use?

[2018-10-12 01:40] praveenkumar opened #2889 "Update default Openshift version from 3.10 to 3.11"

[2018-10-12 04:58] kniels5 opened #2891 "CertificateSigningRequest: Status.Certificate is nil for approved CSR"
### General information

Minishift version: v1.24.0+8a904
OS: macOS
Hypervisor: VirtualBox (centos)

### Steps to reproduce

  1.  Create the Certificate Signing Request

[code]
  2. Check status of request

[code]
[code]
### Expected

1. Certificate should be returned at status.certificate

### Actual

1. Certificate is nil/empty

### Logs

Master-Config:
[code]
I am not sure if this is just a ma

[2018-10-12 06:12] surajnarwade opened #2892 "Not able to access the web console"
### General information

  * Minishift version:

minishift v1.25.0+90fb23e

  * OS: Linux always :monkey_face:
  * Hypervisor: KVM

### Steps to reproduce

  1. `minishift start --openshift-version 3.11.0`
  2. minishift console

### Expected

* it goes to https://192.168.42.252:8443/console/

### Actual

* it goes to https://127.0.0.1:8443/console/

[2018-10-12 06:44] anjannath commented on #2892
This is an upstream issue, See: https://github.com/openshift/origin/issues/21153 and https://github.com/openshift/origin-web-console/issues/3072

[2018-10-12 06:47] anjannath commented on #2888
This is an origin issue and has been reported in https://github.com/openshift/origin/issues/21153 and https://github.com/openshift/origin-web-console/issues/3072

We have one more issue for this #2892 @cunningt I am going to close this, we can use #2892 to track this bug.

[2018-10-12 06:47] #2888 closed

[2018-10-12 06:52] anjannath commented on #2891
@kniels5 This looks like an origin specific question, have you tried asking it in https://github.com/openshift/origin? minishift uses `oc cluster up` to provision the cluster

[2018-10-12 07:04] praveenkumar commented on #2892
@surajnarwade direct try using https://192.168.42.252:8443/console/ on the webconsole.

[2018-10-12 07:54] chmouel opened #2893 "Minishift ip should print to stderr and exit 1 on error"
It currently exit 0 (i.e: no issues) and print to STDOUT :

[code]

This would be helpful when scripting,

[2018-10-12 10:15] amitkrout commented on #2638
I almost spend two days (Includes windows availability, Fresh setup as suggested by @gbraad) to make it work somehow with some ideal condition but completely failed as above https://github.com/minishift/minishift/issues/2638#issuecomment-418783532. Followed **documentation** [1]. Also tried some combination of ```networkip```, ```netmask``` ... ,but could not help me out.

The good point is @anjan

[2018-10-12 10:27] amitkrout commented on #2708
I think it is no more applicable atm. BTW we are going to cover the scenario somehow in registry-route feature file through thsi pr #2868 and will be executed in each nightly. IMO lets not duplicate the same scenario by putting it in basic feature file. @LalatenduMohanty WDYT ?

[2018-10-12 10:55] anjannath commented on #2893
`minishift ip` command exit with `1` when it is not able to get the IP address provided the VM exists and running.

`ExitIfUndefined` and `ExitIfNotRunning` methods exits with `0`

[2018-10-12 11:07] chmouel commented on #2893
and why would it exit 0 (i.e: good) if the VM doesn't exist ?

[2018-10-12 13:35] kniels5 commented on #2891
@anjannath I am running minishift, not sure why this is more appropriate for that forum. Minishift provides ways to configure openshift that are unique to minishift.

[2018-10-12 17:29] burrsutter commented on #2809
I just saw this happen today on minishift 1.25 with its default openshift 3.10.

my workaround was to minishift delete and recreate the VM,  my script for VM creation is:
minishift profile set faas125
minishift config set memory 10GB
minishift config set cpus 3
minishift config set vm-driver virtualbox
minishift config set image-caching true
minishift addon enable admin-user
minishift addon enable

[2018-10-13 02:05] gbraad commented on #2809
how often did it happen?

[2018-10-14 01:14] xsgordon commented on #2809
It's 100% of the time for me on:

[code]

I was not seeing this with openshift v3.10.

[2018-10-14 01:32] xsgordon commented on #2809
After updating and rebuilding the openshift-web-console pod comes up OK now. When I actually try and hit it then it redirects me to 127.0.0.1 (which doesn't work) but I believe there is another issue for that...

[2018-10-14 10:07] johwes commented on #2809
I have a similar problem on oc cluster up

oc version
oc v3.11.16
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.0.20:8443
kubernetes v1.11.0+d4cacc0

oc debug deployment/webconsole
Defaulting container name to webconsole.
Use 'oc describe pod/webconsole-debug -n openshift-web-console' to see all of the containers in this pod.

Debugging with pod/web

[2018-10-15 00:50] sspeiche commented on #2849
I think having a restart option and a way to launch the web console are great initial options.

Some other things that would be useful:

* The awareness that an update is available and perform an update
* Open a terminal window with right env setup for oc and working with openshift
* About (version, link to website/issues/support/help)

[2018-10-15 03:39] praveenkumar commented on #2809
Thanks for the pointer @johwes .

@kameshsampath @burrsutter @xsgordon I have created upstream PR to fix this one https://github.com/openshift/origin/pull/21250 , when you have time please upvote there and once that is in then this will resolved.

[2018-10-15 04:16] kameshsampath commented on #2809
@praveenkumar  i was able to reproduce this error

1. Start minishift minishift start
2. Kill minishift ( via ps)
3. Start again  via minishift start

This might not be the right way but then one of the ways i was able to get it reproduceable

[2018-10-15 04:42] praveenkumar commented on #2873
@kniels5 there is a hack way if you really need to append the insecure registry after the start but that setting will be not persist after reboot.

[code]

[2018-10-15 04:47] praveenkumar commented on #2891
@kniels5 minishift uses `oc cluster up` under the hood and if there is some issue with `cluster up` then you might see same issue with minishift also.

[2018-10-15 04:49] praveenkumar commented on #2882
@dgolovin At this moment all the image stream and template which are part of minishift upstream are directly coming from `oc cluster up` and any other imagestream/template if a user required they can add it or can create an add-on. Can you tell us which imagestrem/template you are after right now?

Downstream we enable some of the addons like xpaas one as default so that might have more templates.

[2018-10-15 10:04] agajdosi commented on #2708
@amitkrout I do not agree here. `start-stop-start` procedure is something our users do quite often and we should be pretty sure that it works. Right now we have coverage for this in one feature (if not mistaken) which does not even focus on restart.

What I think we should probably do is to add a specialized feature for `start-stop-start`, named maybe ?`restart.feature`?, which would test scenario

[2018-10-15 10:47] budhram commented on #2841
@LalatenduMohanty @gbraad @praveenkumar , @anjannath A quick flow diagram

![screenshot from 2018-10-15 16-15-29](https://user-images.githubusercontent.com/1132451/46946526-a020aa80-d095-11e8-85b8-ebebb8b8b897.png)

Please review.

[2018-10-15 10:58] LalatenduMohanty commented on #2889
Resolved https://github.com/minishift/minishift/pull/2890

[2018-10-15 10:58] #2889 closed

[2018-10-15 10:59] agajdosi commented on #2875
I think we can handle in this issue.

@apupier I am not sure if I understand that correctly. If implemented one could then pull from private registry, however she will still need to log in into the registry before.

ping @LalatenduMohanty I think we should plan this issue for next sprint as templates using registry.redhat.io registry are coming. Increasing prio to critical.

[2018-10-15 11:04] anjannath commented on #2841
A step is missing, after the check for OS there should be a step to check if HyperV is supported, if yes then enable it from Windows Features.. and reboot.. and use that.

If HyperV is not supported then go for VBox Installation.

[2018-10-15 12:51] budhram commented on #2841
`Reboot` might not be good in terms of VS Code adapter scenario. I would like to keep this off at the moment and consider it later.

WDYT @LalatenduMohanty @praveenkumar @gbraad ?

[2018-10-15 14:10] #2454 closed

[2018-10-15 14:11] gbraad commented on #2454
Merged

[2018-10-15 14:12] gbraad commented on #2454
This is still not the case with the current release of Windows. the "Default Switch" still stops traffic when the DHCPRequest wasn't given.

[2018-10-15 15:20] apupier commented on #2875
having to be logged before seems to be the problem for me.
The best is to not have to log in otherwise it should at least be in the normal flow, ask credentials when they are needed.

[2018-10-15 19:38] dgolovin commented on #2882
I am after any java s2i builder that can be enabled by default or manually, so I can use that when pushing springboot app from vscode to openshif using OpenShift Connector Extension.

[2018-10-16 02:44] #2474 closed

[2018-10-16 02:59] praveenkumar opened #2896 "Add 443/tcp and 4001/tcp firewalld ports for remote deployment"

[2018-10-16 02:59] praveenkumar commented on #2896
PR #2895 by @sabre1041

[2018-10-16 03:06] praveenkumar commented on #2896
Fixed bye #2895

[2018-10-16 03:06] #2896 closed

[2018-10-16 03:07] #2854 closed

[2018-10-16 03:09] praveenkumar commented on #1906
We have now timezone option in the start and also a hidden `timezone` command if user want to set it later.

Resolved by #2864

[2018-10-16 03:09] #1906 closed

[2018-10-16 05:41] LalatenduMohanty opened #2897 "Refactor for timezone code"
Recently we have added code for timezone https://github.com/minishift/minishift/pull/2864/ and while going through it I minor changes to improve the code readability.

I feel `UpdateTimeZone` should be a single function and it is supposed to what is do what is required.
[code]

[2018-10-16 05:48] anjannath commented on #1910
@cunningt Did you try the method mentioned in https://github.com/minishift/minishift/issues/1910#issuecomment-424957737
If it is not reproducible any more, feel free to close this issue.

[2018-10-16 06:02] LalatenduMohanty opened #2899 "Add integration test for timezone command"
`minishift timezone` is a hidden and experimental feature for now but we should add tests for it as it would help us modifying the code and experimenting with it. We can change the tests to accommodate changes we would make to the command too without writing the tests from scratch.

[2018-10-16 06:32] jorgemoralespou commented on #1906
Does it have any default to the timezone of my host?

[2018-10-16 06:41] anjannath commented on #1906
Nope, it does not check the host's timezone and default to it.

Atm #2864 Only allows you to set a timezone during the start using the `--timezone` flag.

[2018-10-16 06:42] praveenkumar opened #2900 "Break cluster up to write-config and then cluster-up"
At this moment after VM is provisioned we directly execute `oc cluster up`. I want to add some flags and following flow.

[code]

All the flags will be behind the experimenting flags and our day to day users are not going to see any change to their flow. This will be helpful for mostly advance users and our own testing purpose.

We can leverage this to do some other experiment before even implemen

[2018-10-16 06:55] jorgemoralespou commented on #1906
Wouldn't it be nicer to default to the host timezone, which is what most of
the times a user will want, preventing him from having to issue an
additional command?

[2018-10-16 07:08] praveenkumar commented on #1906
@jorgemoralespou I know but that is something not possible to get required details from the host on all the platform and then set it. This is the best I found atm.

[2018-10-16 07:28] anjannath commented on #2899
There is some integration test for this already..
https://github.com/minishift/minishift/blob/8a1411b666d93dfafc12903b149520a777589443/test/integration/features/basic.feature#L24-L40

[2018-10-16 08:41] praveenkumar commented on #2900
@anjannath we pass it as expected and just add --write-config flag.

[2018-10-16 08:47] LalatenduMohanty commented on #2897
Resolved via https://github.com/minishift/minishift/pull/2898

[2018-10-16 08:47] #2897 closed

[2018-10-16 11:43] #2355 closed

[2018-10-16 11:46] praveenkumar commented on #2882
@dgolovin is this https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_examples/files/examples/latest/xpaas-streams/openjdk18-image-stream.json what you want or need?

[2018-10-16 17:43] dgolovin commented on #2882
Yep, that is the one I used to test springboot booster with latest odo master build which includes new supervisord image.

[2018-10-16 20:52] magick93 opened #2901 "Checking if Libvirt default network is present ... FAIL"
### General information

  * Minishift version:  minishift v1.25.0+90fb23e

  * OS: Linux  - Ubuntu 18.04
  * Hypervisor: Libvirt

### Steps to reproduce

  1. Download latest release of minishift
  2. Follow instructions as specified on https://docs.okd.io/latest/minishift/getting-started/setting-up-virtualization-environment.html#setting-up-kvm-driver
  3. Run `minishift start`

### Expected

Mi

[2018-10-17 04:30] praveenkumar commented on #2882
@dgolovin ack but that is something we can't add as default (because of default comes from cluster up side) but now you know the image stream location you can manually add it to running cluster.

[2018-10-17 04:31] #1402 closed

[2018-10-17 05:45] praveenkumar opened #2902 "Put post VM provision to a separate package."
Right now we do all the following bits in the start.go or cluster.go but these steps required VM to be up and running.

- proxy setup => putting the proxy in the VM bash
- timezone => if set the execute respective command just after VM creation
- static-ip => if hypervisor support then again we execute some command after VM creation.
- Subscription => This is again executed just after the VM is st

[2018-10-17 06:05] surajnarwade commented on #2735
Closing this issue, since resolution given by @praveenkumar is working for me :)
Thanks :smile:

[2018-10-17 06:05] #2735 closed

[2018-10-17 06:28] praveenkumar commented on #2636
Closing since we already have hyperkit from beginning as non-experimental.

[2018-10-17 06:28] #2636 closed

[2018-10-17 07:42] budhram commented on #907
@minishift/minishift-dev Progress so far:
[code]

**NOTE**: Assumed that I have already HyperV enabled, and switch "minishift".
Now working on automating it.

[2018-10-17 07:53] praveenkumar commented on #907
@budhram if you assume it that mean you already have prerequisite set so what automate part are you working?

[2018-10-17 08:00] gbraad commented on #907
These are existing tests and are not in line with my expectation. I'd rather see the actual automation on the 'missing' parts, like when I do NOT have the Hyper-V components installed (like the pre-flight returns false for this), or the vswitch does not exist (ditto, preflight errors on this).

[2018-10-17 08:59] budhram commented on #907
@gbraad @praveenkumar My bad that this line didn't did its intended purpose.

[2018-10-17 10:31] #2870 closed

[2018-10-17 11:14] gbraad commented on #907
would it be possible next time to share the code alongside of it? that would make the message likely clearer.

[2018-10-17 11:57] LalatenduMohanty opened #2904 "Creating an add-on for Knative"
Evaluating Knative on Minishift involves a lot of steps. Refer https://github.com/knative/docs/blob/44ec5c54080a1e238ab227289219c0daa62ec4ea/install/Knative-with-Minishift.md

We should create a add-on for Knative as it will improve the user experience a lot.

Related issues #2676 #2787

[2018-10-17 12:46] albertjsmith commented on #2766
Running powershell as Administrator fixed that problem for me. I was getting the same error.

[2018-10-17 17:14] anjannath commented on #2900
@praveenkumar Where will the config file be written? can we edit this config file to make further modifications to the cluster

[2018-10-17 20:34] jorgemoralespou commented on #2871
@hferentschik this will mean that you'll need to execute this `eval $(minishit oc-env)` on every shell you open.

The underlying problem is how minishift manages .kube/config and should be fixed there. https://github.com/openshift/origin/issues/18645

[2018-10-18 09:30] jjwallaby opened #2906 "if disconnect from internet. minishift does not work. or if switch network provider on windows 10."
### General information

  * Minishift version:    v1.25.0+90fb23e
  * OS: Linux / macOS / Windows   Windows 10
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox   - virtualbox  5.2.8

I have minishift running on a windows 10,  (using oracle virtualbox) laptop, when I change networks or when network is down and start minishift it never starts up... it gets stuck on

- Starting Minishift VM ......

[2018-10-18 10:46] budhram commented on #907
@minishift/minishift-dev
Progress so far [`Minishift pre-requiste installer creating External Virtual Switch`](https://youtu.be/2aHGQEW00Gg)

On-progress code can be found [here](https://github.com/budhram/minishift/tree/issue-907)

[2018-10-18 10:50] agajdosi commented on #907
@budhram Will try it today on Windows 7.

[2018-10-18 10:51] budhram commented on #907
@agajdosi Only supported in Windows 10 and Windows 8.1.
We need to try only these two.

[2018-10-18 11:00] amitkrout opened #2907 "Cannot push image to OpenShift integrated docker registry"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. minishift start
  2. minishift addons apply registry-route
  3. docker login -u developer -p `oc whoami -t` docker-registry-default.192.168.64.3.nip.io
  4. docker pull bitnami/nginx
  5. docker tag bitnami/nginx docker-registry-def

[2018-10-18 11:01] amitkrout commented on #2907
@minishift/minishift-dev Need your attention

[2018-10-18 11:09] praveenkumar commented on #2907
@amitkrout can you try to push a small image like busybox and see if that works?

[2018-10-18 11:30] amitkrout commented on #907
@budhram @agajdosi I will try it on win10

[2018-10-18 11:45] amitkrout commented on #907
@budhram I do not see the same result as you demoed in the youtube video [1]. Probably you missed to update the latest binary or is it expected ? However no virtual switch is created
[code]

[1] https://www.youtube.com/watch?v=2aHGQEW00Gg&feature=youtu.be

[2018-10-18 11:54] agajdosi opened #2908 "Remove surplus stdout or curl checks from integration tests"
### General information

Integration tests right now contain a lot of steps which checks whether stdout of command returns specific message, or whether HTML page is accessible and contains specific welcoming sentence. Where it is possible we should replace those steps to checks which are not dependent on the actual message format or its wording. For example, instead of checking if welcome page of

[2018-10-18 15:25] #2892 closed

[2018-10-19 00:39] jjwallaby commented on #2906
Today connected to a different network from my laptop.  and this error appears

C:\minishiftopen\minsg2>minishift.exe start --vm-driver=virtualbox
-- Starting profile 'minishift'
-- Check if deprecated options are used ... OK
-- Checking if https://github.com is reachable ... OK
-- Checking if requested OpenShift version 'v3.10.0' is valid ... OK
-- Checking if requested OpenShift version 'v3.10.0

[2018-10-19 13:20] paoloantinori commented on #2107
Hi, I'm hitting this old issue with recent versions. Can I ask someone to verify it works correctly with you?

my versions are:

[code]

and `system:admin` cannot log in.

[2018-10-20 06:20] giorgoch opened #2910 "Minishift wont start on windows"
### General information
I have download the latest version and try to install. I am running minishift on Windows 7 from gitbash and with the minishift start --vm-driver=virtualbox command. After i install it the first time i run minishift start.
I have install and uninstall minishift many times
It run's on VM but not showing the web console at all.
Once i was even  able to deploy a rubi applicatio

[2018-10-20 07:33] giorgoch commented on #2910
i just download minishift-1.18.0-windows-amd64
and everything works fine.
I cannot explain what and why . No changes made just install.
Here is the log

$ minishift start --vm-driver=virtualbox
-- Starting profile 'minishift'
-- Checking if https://github.com is reachable ... OK
-- Checking if requested OpenShift version 'v3.9.0' is valid ... OK
-- Checking if requested OpenShift version 'v3.9.0'

[2018-10-20 07:54] giorgoch commented on #2910
**I have stop and restart minishift**
**Here is the gitbash**

$ minishift start --vm-driver=virtualbox
-- Starting profile 'minishift'
-- Checking if https://github.com is reachable ... OK
-- Checking if requested OpenShift version 'v3.9.0' is valid ... OK
-- Checking if requested OpenShift version 'v3.9.0' is supported ... OK
-- Checking if requested hypervisor 'virtualbox' is supported on this

[2018-10-21 07:42] #1303 closed

[2018-10-22 04:51] sobkowiak opened #2911 "Latest minishift detected as malware"
### General information

  * Minishift version: 1.25.0
  * OS:  Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Invoke any command with minishift.exe

### Expected

The command is invoked successfully

### Actual

Symantec Anypoint Protection dialog is opened before executing the command

![grafik](https://user-images.githubusercontent.com/803814/47278022-dc886500-d5c5-11e8-9980-b

[2018-10-22 04:57] sobkowiak opened #2912 "Minishift detected as malware"
### General information

  * Minishift version: 1.25.0
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Invoke any command using minishift

### Expected

Command successfully invoked

### Actual

Each time following window is opened by Symantec

![grafik](https://user-images.githubusercontent.com/803814/47278202-4fdea680-d5c7-11e8-95fa-6f5fdf594ba1.png)

It looks like the l

[2018-10-22 05:02] sobkowiak opened #2913 "Minishift detected as malware"
### General information

  * Minishift version: 1.25.0
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. Invoke any command using minishift

### Expected

Command successfully invoked

### Actual

Each time following window is opened by Symantec

![grafik](https://user-images.githubusercontent.com/803814/47278202-4fdea680-d5c7-11e8-95f

[2018-10-22 05:04] praveenkumar commented on #2910
@giorgoch The only difference here is `openshift version` one which worked for you is using 3.9.0 and one which failed using 3.10.0, can you try the newer version of minishift using below command just to make sure it is the openshift version which might have issue?

[code]

[2018-10-22 05:06] sobkowiak opened #2914 "Minishift detected as malware"
### General information

  * Minishift version: 1.25.0
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Invoke any command using minishift

### Expected

Command successfully invoked

### Actual

Each time following window is opened by Symantec

![grafik](https://user-images.githubusercontent.com/803814/47278202-4fdea680-d5c7-11e8-95fa-6f5fdf594ba1.png)

It looks like the l

[2018-10-22 05:15] praveenkumar opened #2915 "Test if github issue creation working for us."
Just a test to see if github issue creation working for us.

[2018-10-22 06:05] gbraad commented on #2914
Can you provide the SHA1 and download location of this issue?

[2018-10-22 06:06] gbraad commented on #2914
#2911, #2912, #2913 are duplicates

[2018-10-22 08:49] mikz opened #2916 "VM fails to start properly using xhyve or hyperkit on macOS."
### General information

  * Minishift version: v1.25.0+90fb23e
  * OS: macOS
  * Hypervisor: xhyve (0.3.3_1) / hyperkit (1.0.0)

### Steps to reproduce

  1. `minishift start`

### Expected

To succeed in starting a VM.

### Actual

Failure. See logs.

VM's fail to resolve external hostnames:
[code]

From `curl` man page:
[code]

### Logs

https://gist.github.com/mikz/413ecf6cc1fd5b2f1e287abf22f3

[2018-10-22 09:15] muffl0n commented on #391
What about an option in addition to http_proxy/https_proxy? Like "https_proxy_cert". One could specify an URL where minishift gets the cert and adds it to the trusted certs (see comment of @kylebrockmann):
[code]

[2018-10-22 10:28] LalatenduMohanty commented on #2915
Yes, I can see it.

[2018-10-22 10:28] #2915 closed

[2018-10-22 10:36] LalatenduMohanty opened #2917 "Update the ffi/ffi version in docs/Gemfile.lock"
Github UI reported that the version of `ffi` we are using  in `docs/Gemfile.lock` as a dependency has a security issue i.e. CVE https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000201

In `docs/Gemfile.lock` we have `ffi/ffi (>= 1.3.0)`

<img width="652" alt="screen shot 2018-10-22 at 3 51 22 pm" src="https://user-images.githubusercontent.com/3125299/47288435-bd182900-d613-11e8-9fc2-cd0582

[2018-10-22 11:25] praveenkumar commented on #2911
closed in favor of #2914

[2018-10-22 11:25] #2911 closed

[2018-10-22 11:25] praveenkumar commented on #2912
closed in favor of #2914

[2018-10-22 11:25] #2912 closed

[2018-10-22 11:26] praveenkumar commented on #2912
closed in favor of #2914

[2018-10-22 11:45] agajdosi opened #2919 "Add check for up-to-dateness of adopted files"
### General information

There are few places in Minishift where we adopt external code by copying it into Minishift, for example templates in the xpaas addon. While it is true that we check time to time (mostly with every minor release of OKD) whether templates are up-to-date it is also possible that smaller fixes happens in between the releases of OKD. We should be able to get info about that an

[2018-10-22 11:59] praveenkumar commented on #2913
duplicate #2914

[2018-10-22 11:59] #2913 closed

[2018-10-22 13:37] sobkowiak commented on #2914
Downloaded from https://github.com/minishift/minishift/releases/download/v1.25.0/minishift-1.25.0-windows-amd64.zip

SHA1:
[code]

[2018-10-22 16:30] praveenkumar commented on #2912
On Mon, Oct 22, 2018 at 10:37 AM Krzysztof Sobkowiak <
notifications@github.com> wrote:

We never signed our upstream with Red Hat, I think you probably were using
the CDK and shifted to upstream. I would suggest to stick with downstream
release[0] only.

[0] https://developers.redhat.com/products/cdk/download/

--
Praveen Kumar
http://fedoraproject.org/wiki/User:Kumarpraveen
http://fedoraproject.

[2018-10-22 16:32] anjannath commented on #2914
Where did you get the minishift executable? you can check the sha256sum of
the archives in the release page.
https://github.com/minishift/minishift/releases

On Mon, Oct 22, 2018 at 10:47 AM Krzysztof Sobkowiak <
notifications@github.com> wrote:

--
ANJAN J NATH
nathearthling.me

[2018-10-22 16:44] giorgoch commented on #2910
Hello praveenkumar ,
unfortunatly both was working but the 3.10.0 stop working at all (see first log) and version 3.9.0 has problem by giving the wrong ip to openshift.
I have try to change it manually (config.json file) but with no luck since when minishift starts it will be overiden.

[2018-10-22 17:06] sobkowiak commented on #2914
I have downloaded from this url https://github.com/minishift/minishift/releases/download/v1.25.0/minishift-1.25.0-windows-amd64.zip

Here the sums

[code]

[2018-10-22 20:05] gbonnefille opened #2920 "Missing docker-opt options during provisionning"
### General information

  * Minishift version: 1.25.0
  * OS: Linux CentOS 7
  * Hypervisor: generic

### Steps to reproduce

  1. ./minishift start --vm-driver generic --remote... --docker-env ...proxy... --docker-opt selinux-enabled=false
  2. Check Docker config on remote host

Note: option required due to overlay2 driver.

### Expected

The --selinux-enabled=false should be present on the rem

[2018-10-23 05:46] praveenkumar commented on #2907
@amitkrout we need to try out this on plain `oc cluster up` side and if same issue then good to create issue there.

[2018-10-23 05:54] amitkrout commented on #2907
Right, doing the same

[2018-10-23 06:04] praveenkumar commented on #2914
@sobkowiak Also what I am suspecting is, you used to use CDK (downstream product) (https://developers.redhat.com/products/cdk/download/) which have signed binary from Red Hat side and you shift to upstream minishift.

[2018-10-23 06:07] praveenkumar commented on #2906
@amitkrout @agajdosi can you folks once try this?

[2018-10-23 06:28] sobkowiak commented on #2914
My screenshot was for oc, not minishift. But there is still a problem that 1.25.0 is detected as malware, but the older versions not

[2018-10-23 06:42] gbraad commented on #2906
The log does not match the actual reported line on which it would stop working

If it hangs on Starting, it is usually an issue with reaching the SSH
endpoint. But in the log tis passes anf it hangs on the deployment (as
failing with the helathcheck) which are two different points in time.

Can you perhaps share the VM setup and show us the network
coinfiguration? When using VirtualBox, the extern

[2018-10-23 07:58] jjwallaby commented on #2906
Thanks for having a look.   So I use Virtual Box on Windows.
It is strange that ssh does not work when switch networs, but opening up in virtual box is okay.

It only works if do minishift delete  followed by minishift start -vm-driver=virtualbox

It is using NAT and adapter 2 :- **VirtualBox Host-Only Network #2**

C:\minishiftopen\minsg2>ipconfig

Windows IP Configuration

Ethernet adapter Virtu

[2018-10-23 08:32] praveenkumar commented on #2914
@sobkowiak we didn't change anything in the process for creating the binary, that is done using the CI, not a manual process, oc binaries are still signed as usual and older version of minishift is also not signed so I am not sure why `Symantec` doesn't show same with the older version.

[2018-10-23 09:16] amitkrout commented on #2907
@praveenkumar Image pushed successfully on ```oc cluster up``` using OKD 3.11.0. Tested both images ```bitnami/nginx``` and ```busybox```. So we need to look at it from minishift end

Steps:
[code]

[2018-10-23 09:48] gbraad commented on #2914
maybe we are dealing with a false negative.
Have the binary scanned by another scanner and please provide the SHA1 or
SHA256 of this binary

[2018-10-23 09:53] gbraad commented on #2914
The sha is identical with https://github.com/minishift/minishift/releases/download/v1.25.0/minishift-1.25.0-windows-amd64.zip.sha256

This binary was produced in and uplodaed from a clean environment (CI). it would seem unlikely something got added in the process. i have not been able to find anything.

[2018-10-23 10:20] #2629 closed

[2018-10-23 10:38] praveenkumar opened #2922 "update centos iso version from 1.12.0 to 1.13.0"

[2018-10-23 11:28] agajdosi commented on #2919
Ideally we should also check whether the drivers we recommend in the docs are latest, or if there are any newer versions released.

[2018-10-23 11:36] praveenkumar opened #2924 "Update kvm driver plugin version in the doc and CI"
Right now we have mentioned `0.7.0` kvm driver plugin in the document and also as part of our CI job.

[2018-10-23 12:37] #2740 closed

[2018-10-23 12:55] amitkrout commented on #2916
@mikz It could be a temporary network issue by that time, as I am not able to reproduce this. Can you remove ```~./minishift``` directory and try it again.

[2018-10-23 13:15] mikz commented on #2916
@amitkrout It is not a temporary network issue. It works fine in virtualbox on the same machine.
Also, it is happening for a long time (months). Reproduced it again just now.

If you see the logs, there is another failure when pulling the docker image:

[code]

I can reproduce it sshing to the machine and trying to `docker pull openshift/origin-control-plane:v3.10.0`.

[code]

[code]

Not sure wha

[2018-10-23 13:40] amitkrout commented on #2916
Are you able to ping any external traffic like google.com from that VM ?

[2018-10-23 14:25] laurafitzgerald commented on #1287
@gbraad any movement on this one? was there any outcome to the testing stuff?

[2018-10-23 14:44] mikz commented on #2916
@amitkrout as shown in the attached logs it can route traffic outside VM (to 8.8.8.8 for example).

There is no DNS server on `192.168.64.1`, so nothing can be resolved.

[2018-10-23 14:55] #2922 closed

[2018-10-23 14:56] #2917 closed

[2018-10-23 15:20] praveenkumar commented on #2916
@mikz can you use following command for xhyve? make sure you delete existing minishift instance which is running on virtualbox?

[code]

[2018-10-23 16:46] mikz commented on #2916
@praveenkumar explicitly setting network-nameserver indeed fixes the issue, thanks!

[2018-10-23 18:02] LalatenduMohanty commented on #1910
This issue is resolved now, here are the steps I performed on master i.e. 1.26.0 version

[code]

[2018-10-23 18:03] #1910 closed

[2018-10-24 01:52] gbraad commented on #907
I have added a lot of comments to https://github.com/budhram/minishift/commit/1f525b2dd92db30c845ba51f52d708aaaccff1b1

[2018-10-24 02:16] gbraad opened #2926 "File existence check for iso-url"
[code]

Summary:

  * `minishift start --iso-url file:///tmp/minishift-centos7.iso`
  * `-- Checking the ISO URL ... OK`
  * **no such file or directory** during *Starting Minishift VM*

[2018-10-24 02:19] gbraad commented on #2916
Closing the issue as this is a local networking/setup issue

@mikz are you by any chance running a dnsmasq service for local development? like `.dev` etc?

[2018-10-24 02:19] #2916 closed

[2018-10-24 02:28] gbraad commented on #2910
Not sure what you mean with 'giving the wrong ip'. IP addresses are handed out by the local DHCP service. What did you try to change in the `config.json` ? If it is the IP, you are in no luck doing it this way, as the VM needs to be configured to use an assigned Static IP. This is possible from within the VM with network config files... these are written after using the `minishift ip --set-static`

[2018-10-24 05:27] LalatenduMohanty opened #2927 "Cool store test is failing in nightly"
https://ci.centos.org/job/minishift-nightly-centos/317/console

[code]

[2018-10-24 06:45] LalatenduMohanty commented on #2907
Last two days nightly also failed on similar issue https://ci.centos.org/job/minishift-nightly-centos/317/
https://ci.centos.org/job/minishift-nightly-centos/318

[2018-10-24 08:49] anjannath commented on #2926
So the issue is with `filehelper.Exists()`, i thought this was tested..

[2018-10-24 08:56] mikz commented on #2916
@gbraad yes, I'm running dnsmasq locally.

How this is a local networking/setup issue? It is common to run dnsmasq locally and minishift should not fail utterly on this setup. Especially when it worked in previous releases. It should at least fail and give some information about what to do to fix it.

[2018-10-24 09:39] #2927 closed

[2018-10-24 10:54] LalatenduMohanty commented on #907
I am wondering why we did not have the need of `Set-ExecutionPolicy RemoteSigned` till now as we were running powershell commands through Minishift before. Also `Set-ExecutionPolicy RemoteSigned` is a bad thing for local desktop security and enterprise users.

The alternate is to have signed powershell scripts  [1] and then add them to minishift binary using go bin-data.

[1] https://docs.microsof

[2018-10-24 11:35] amitkrout opened #2931 "Improve error reporting in case of Invalid timezone set"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. minishift start
  2. minishift timezone --set xxxx
[code]
  3.
  4.

### Expected
Reporting error should not redirect to any system file as mentioned above. Something like ```xxxx is not a vaild timezone```

### Actual
xxxx is not a

[2018-10-24 12:49] gbraad commented on #907
as in code a script is generated, written to disk, and executed. This is
not like we did before.

On Wed, Oct 24, 2018 at 6:54 PM Lalatendu Mohanty <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-10-24 12:50] gbraad commented on #907
Feature detection for Windows 10 can be done as follows:

[code]

On Wed, Oct 24, 2018 at 8:48 PM Gerard Braad <me@gbraad.nl> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-10-24 13:05] RHodzelmans commented on #2724
Honestly I feel 2 things about this: 1) one this is not an exceptional use case. Debugging my calls locally is quite logical. It can make facts from assumptions. 2) I rather not have to hack stuff. Having it run frictionless on minishift with RHEL should be a given. I should not have to switch to the community distro.

[2018-10-24 14:39] rdepke commented on #2880
@gbraad I would like to test this, as soon as you have it ready

[2018-10-24 14:40] gbraad commented on #2724
No one suggested to use a community distro. There is a limitation to
what we can include in the image as it is alread a hefty download,
plus the fact of #355.

You can install application inside a privileged container without
issues, the same way as you would do with yum install, without locking
the VM up when the root filesystem is exhausted.

On Wed, Oct 24, 2018 at 9:05 PM Roel Hodzelmans
<noti

[2018-10-24 14:42] gbraad commented on #2724
FYI, the CentOS repo also contains the kickstart definition file for our RHEL7 image.

[2018-10-24 15:23] vdemeester opened #2932 "Mount error (SELinux) when running `buildah` inside a `knative/build`"
### General information

  * Minishift version: 1.25.0
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. Install `knative` on Minishift (see https://github.com/knative/docs/blob/master/install/Knative-with-Minishift.md)
  2. `wget https://raw.githubusercontent.com/vdemeester/ocf-sandbox/master/auth.template.yml -O auth.yaml`, modify it with your login info, `oc apply -f auth.yaml`

[2018-10-24 16:07] #2708 closed

[2018-10-24 16:28] budhram commented on #907
Thanks. Really appreciate the suggestions and comment.

Will try alternate approach tomorrow.

[2018-10-24 18:33] outcoldman commented on #817
Had the same issue, and I figured it out.

This is how I see this error

[code]

The important part is `error: no token is currently in use for this session`

If I invoke this command on its own `oc whoami -t` I get the output

[code]

Why we see "Login Succeeded" is a mystery.

Anyway, if you go to the web console and authenticate using the token (you can get it from the web-console admin->Copy L

[2018-10-25 00:45] gbraad commented on #817
This is returned when a status code 200 (OK) is given back:
https://github.com/moby/moby/blob/8e610b2b55bfd1bfa9436ab110d311f5e8a74dcb/registry/auth.go#L163

So, for some reason the issue is with docker/moby and their registry.

[2018-10-25 06:56] praveenkumar commented on #2932
@vdemeester can you put the `audit` logs from `SELinux`? @kameshsampath can you take a look what is happen here?

[2018-10-25 07:17] vdemeester commented on #2932
@praveenkumar oups the formatting ate the audit log 🤣

[2018-10-25 07:24] proxxi-74656 opened #2933 "Minishift on Windows fails to start with error "Not able to populate hyperv-virtual-switch flag""
### General information

  * Minishift version: 1.26.0
  * OS: Windows 10
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Run "minishift.exe start --vm-driver virtualbox" on Windows 10

### Expected

Minishift starts

### Actual

Minishift does not start with error message:
"Not able to populate hyperv-virtual-switch flag with Default Switch value" (although virtualbox is used as Hypervis

[2018-10-25 08:28] gbraad commented on #2933
Did you reuse the environment after using hyperv?
Use `minishift delete -f` and try again.

[2018-10-25 08:34] agajdosi commented on #2919
@LalatenduMohanty +1 I even think it probably could only warn, not fail the build. There are some files which can't be updated due to blockers, for example xpaas now, so it would spam us hard then. Warning and taking a look time to time on the results seems fine to me right now.

[2018-10-25 08:37] proxxi-74656 commented on #2933
The strange thing is I never used hyperv and minishift worked fine some time ago. The only difference I can think of is that I updated virtualBox to the newest version (5.2.20) and updated minishift from 1.25.0

"minishift delete -f" does not fix the issue.

[2018-10-25 08:40] LalatenduMohanty commented on #2882
@dgolovin You need to enable the xpass add-on once i.e. `minishift addon enable xpass` and it gets applied everytime after `minishift start`.

[2018-10-25 08:40] #2882 closed

[2018-10-25 08:59] LalatenduMohanty commented on #2875
You mean after you are logged in to the registry.redhat.io works for you right?  (logging in will update the ` current user's .docker/config.json` )

[code]

@agajdosi we can try to find out how we can improve the user experience or document this for now. But things are not changing (both the registries will co-exist for few months now ).

[2018-10-25 09:03] gbraad commented on #2933
what does `minishift config view

[2018-10-25 09:04] gbraad commented on #2933
what does `minishift config view` show?

[2018-10-25 09:05] proxxi-74656 commented on #2933
[code]

[2018-10-25 09:05] praveenkumar commented on #2932
@vdemeester can you try something following and let us know if still issue? Also did you check if you make selinux permissive in the VM than it works?

[code]

[2018-10-25 09:07] praveenkumar commented on #2920
@gbonnefille that something we hardcoded in our provisioner. Can you tell why you want it configurable or actually disable it?

[2018-10-25 09:09] gbraad commented on #2933
Related to https://github.com/minishift/minishift/blob/5cd7c5fbfa3ec8f74cf64eeded1ae49f50a304b6/cmd/minishift/cmd/start.go#L758-L783

[2018-10-25 09:11] gbraad commented on #2933
At the moment I can only suggest to use the previous version. This
seems to be an issue on our end.

[2018-10-25 09:15] gbonnefille commented on #2920
Why I want to disable selinux is certainly a bad reason. But it is the simplest solution for me (I think selinux and overlay2 are mutually exclusive).

But minishift propose as --docker-opt and these options are not propagated to the provisioner. Perhaps it could be useful in many other contexts.

[2018-10-25 09:30] praveenkumar commented on #2920
@gbonnefille yes, we will make it configurable.

[2018-10-25 09:51] praveenkumar commented on #2933
@proxxi-74656 #2935 PR should also solve it without doing `minishift config set save-start-flags`, can you test it?

Artifacts : https://ci.appveyor.com/project/budhrg/minishift/builds/19781582/artifacts

[2018-10-25 09:57] gbraad commented on #2920
If he wants to disable SELinux, it should also be done at the OS level.
Else it will still be enforcing.

Note: I think it might be also a good idea to look into the actual issue
why running with SElinux is an issue.

On Thu, Oct 25, 2018 at 5:30 PM Praveen Kumar <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-10-25 09:58] gbraad commented on #2933
If confirmed, we might wait an additional day and perhaps decide if we need
a new release

[2018-10-25 09:59] praveenkumar commented on #2920
@gbraad I agree, @gbonnefille we as part of our iso use the overlay2 only without any issue with selinux I am pretty sure now selinux and overlay2 are not mutually exclusive. So it may be that you are running an older version of centos.

- https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/7.4_release_notes/new_features_file_systems

[2018-10-25 10:00] proxxi-74656 commented on #2933
@praveenkumar it works with the PR.
[code]

[2018-10-25 10:03] gbraad commented on #2920
I would like to add NEEDINFO, as we need more information before we
consider to 'disable' SELinux or allow an option to do so. It will involve
a lot of testing on our end and perhaps even an exception to not do this on
CDK; which means the issue will still occur for you when using CDK.

[2018-10-25 10:29] #2873 closed

[2018-10-25 10:44] anjannath commented on #2574
Still need to be done, Reopening..

[2018-10-25 10:45] amitkrout commented on #2787
@agajdosi If you have already done some investigation then feel free to reassign to your name or else i will keep continue on this ;)

[2018-10-25 10:50] gbonnefille commented on #2920
Please, do not focus on the SElinux part of the issue. It is certainly the most volatile part of the problem (I try to run minishift on an old CentOS7).

But please, take a look at the reason why the Docker's options provided via --docker-opt are not included in the provisioner. It does not worked for me, running in the context described above.

[2018-10-25 10:59] praveenkumar commented on #2920
@gbonnefille which other options you think didn't applied? you need to check following file to see it (not the standard one).

[code]

[2018-10-25 11:41] amitkrout commented on #2933
Reproducible on 1.26.0, but works fine on CDK 3.6.0

Setup : WIN10 + VirtualBox

[2018-10-25 11:57] amitkrout commented on #2933
Verified on pr artifacts bit and it works fine

[2018-10-25 12:02] gbonnefille commented on #2920
I feel I misunderstood something.

Did you mean that option `selinux-enabled=false` is explicitly filtered out? Before being processed by the provisioner?

[2018-10-25 12:06] praveenkumar commented on #2920
yes, in our provisioner we explicit make selinux-enabled=true for docker so there is no way you can disable it using docker-opts, I am still not sure why you want it false since this is there for a reason.

[2018-10-25 12:31] praveenkumar commented on #2907
Form the registry container this is what I am getting on 3.11.0 side. Need to dig bit more if something change for registry route side.

[code]

[2018-10-25 12:51] gbonnefille commented on #2920
As you said previously: I simply run an old CentOS 7.3.1611.

[2018-10-25 14:17] gbraad commented on #2920
so, there is no actual error
On Thu, Oct 25, 2018 at 8:51 PM Guilhem Bonnefille
<notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-10-25 15:29] agajdosi commented on #2919
I have some work in progress on tool which is made to help us with this issue https://github.com/agajdosi/goard. Right now it can can compare files in local location with remote files, all can be set via YAML config. It needs some polishing and also readme. Will add that if there is some free time next weeks.

[2018-10-25 15:41] gbraad commented on #2880
Experience am issue with the filtering I need to perform. Early in the deployment it works as expected, but any other filtering process fails. This means I expect this tomorrow or on Monday.

[2018-10-25 16:41] #2920 closed

[2018-10-25 18:51] giorgoch commented on #2910
@graab  Hi graab  what i mean is giving ip 192.168.99.101 and for this ip works fine. But if i stop the VM and restart then minishift has 192.168.99.100. Then i get this certificate error.I would look more to see if i can find other way to by pass ip error.

[2018-10-25 20:35] lovoni opened #2937 "Minishift fails to start on virtualbox driver with error "Not able to populate hyperv-virtual-switch flag with Default Switch value""
### General information

  * Minishift version: v1.26.0
  * OS: Windows 8
  * Hypervisor:  VirtualBox

### Steps to reproduce

  1. Install minishift v1.26.0
  2. Run command _**minishift start --vm-driver=virtualbox**_
  3.
  4.

### Expected
Minishift successfully booted up.

### Actual
**C:\WINDOWS\system32>minishift start --vm-driver=virtualbox**
-- Starting profile 'swad'
-- Check if deprecat

[2018-10-25 20:37] lovoni commented on #2937
Switching to v1.25.0 works fine.

[2018-10-25 20:51] dgolovin opened #2938 "Fix command to enable service catalog in experimental features doc"
### General information
Command to enable service catalog in [Experimental Features](https://github.com/minishift/minishift/blob/master/docs/source/using/experimental-features.adoc#enabling-experimental-oc-cluster-up-flags) doc fails with error:
[code]

[2018-10-26 05:33] praveenkumar commented on #2938
@dgolovin there is another way also you can enable those components.

[code]

[2018-10-26 05:35] praveenkumar commented on #2937
@lovoni this is a known issue and discussion going on #2933 we will do a patch release to fix it.

[2018-10-26 05:35] #2937 closed

[2018-10-26 05:40] LalatenduMohanty commented on #2938
For service-catalog `minishift openshift component add service-catalog` is the recomended method.

[2018-10-26 06:58] LalatenduMohanty commented on #2933
Marking it as a blocker as all Windows versions are affected by this issue.

[2018-10-26 07:08] amitkrout opened #2940 "minishift status wrongly reported in restart.feature file"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. make integration GODOG_OPTS="-tags restart"
  2.
  3.
  4.

### Expected
Should pass

### Actual
fails - https://ci.centos.org/job/minishift-nightly-centos/320/consoleFull due to https://github.com/minishift/minishift/blob/master/te