[2018-05-09 06:57] LalatenduMohanty commented on #2371
I agree with @gbraad , we are already saying it is experimental and extra cluster up flags. I would expect the user to know what need to be passed as argument.

[2018-05-09 06:58] gbraad commented on #2371
In some cases these flags aren't even mentioned in the help text for `oc`,
so we can not verify them (this is a decision on their side to hid
experimental features, just like what we do) ;-)

[2018-05-09 06:59] LalatenduMohanty commented on #1024
Closing this issue as we do not need a ssh client for SSHFS (in minishift hostfolder).

[2018-05-09 06:59] #1024 closed

[2018-05-09 07:10] amitkrout commented on #2371
@gbraad @LalatenduMohanty right, make sense.

[2018-05-09 07:10] #2371 closed

[2018-05-09 07:42] rhnvrm commented on #2321
@anjannath - You are right, I might have got lost earlier when I went through the code. I now have sent a PR with the modification using tabwriter at #2372

[2018-05-09 07:52] megastallman commented on #1108
@gbraad , thanks much! It works after adding insecure registry(just after reading the error/solution message). @pavolloffay , looks like we don't need both minishift and minikube anymore at all!

[2018-05-09 08:46] anjannath commented on #1878
@LalatenduMohanty I did check before.. and now i checked again still getting the same error as before.. unable to run the image as root..
[code]

[2018-05-09 10:29] praveenkumar opened #2373 "Add openshift version to state config to consume it different part codebase"
As of now, we are using below method to check what openshift version is running and then do any operation on that instead we should add that in the state config and use it.

[code]

[2018-05-09 12:41] LalatenduMohanty commented on #1609
Resolved by #2369

[2018-05-09 12:41] #1609 closed

[2018-05-09 13:48] robin-owen commented on #2220
The links that we currently have which guide the user to the documentation for setting up driver plug-ins also point to the wrong address now. This is a side-effect of #2025.

I'll start working on this issue as soon as possible.

[2018-05-09 14:27] robin-owen commented on #2220
@gbraad This was an oversight on my part while working on that PR. There's only one link under the Get Started heading (KVM) which attempts to guide the reader to a specific page of our documentation.

Honestly, I think it's better to have fewer links which have to be maintained. I'm not sure that the openshift.org/minishift page offers much more than a landing space. We can guide users to the mor

[2018-05-09 18:17] LalatenduMohanty opened #2375 "Sprint planning script is not listing all issues for a milestone in CDK Jira"
Sprint planning script not listing all issues for a milestone in CDK Jira. This is an issue while doing the sprint planning as the script does not pull out all required issues.

### Steps to reproduce

  1. Checkout minishift git repository
  2. Run the sprint-planning.sh script against 3.5.0-alpha.2 milestone
[code]
### Expected
It should list all 13 issues.

### Actual

[code]

[2018-05-10 05:15] praveenkumar opened #2377 "Stop using oc binary from the host to provision openshift in VM"
Yesterday, we had a discussion with @mfojtik and @deads2k around future of `of cluster up` and looks like it has been very hard for them to maintain the remote docker daemon deployment. They are planning to support it till 3.10.x but surely get it removed by 3.11.x which will give us at least some time to rethink our strategy around how to do it.

I am planning to keep this issue updated with some

[2018-05-10 05:51] LalatenduMohanty commented on #2373
Resolved via #2374

[2018-05-10 05:51] #2373 closed

[2018-05-10 05:54] LalatenduMohanty commented on #2375
Resolved via #2376

[2018-05-10 05:54] #2375 closed

[2018-05-10 05:58] LalatenduMohanty commented on #2377
Also, they mentioned that keeping the code for remote docker daemon setup will make things fragile and it will make things very difficult for OpenShift features like logging and metrics almost impossible to work with `oc cluster up`.

[2018-05-10 08:17] nicolaferraro opened #2379 "Provide a empty ImagePolicy to get the default behavior in 3.9"
### General information

Following https://github.com/openshift/origin/issues/19663. It seems there's a change in behavior in current version of Minishift w.r.t. local lookup of image streams.

The `lookupPolicy` field on ImageStreams is ignored in latest version.

As suggested in the linked issue, the config needs to contain:
[code]
In order to get the default behavior.

  * Minishift version: `m

[2018-05-10 09:15] nicolaferraro commented on #2379
Comparing the config with --openshift-version `3.9.0` and `3.7.1`. I get the following on `3.9.0`:

[code]

i.e. no `openshift.io/ImagePolicy`

While with `3.7.1` I get:
[code]

[2018-05-10 09:37] mfojtik commented on #2377
The main problems for OpenShift are:

1) Synchronizing the files between local machine (where the oc cluster up runs) to remote machine (where the Docker/kubelet runs) is **very** fragile
2) Although we fixed the components we have now, future components (3.11.x++) will likely suffer from having to copy all artifacts they produce into remote VM
3) Static pods the cluster up now use to deploy the c

[2018-05-10 11:38] #2339 closed

[2018-05-10 12:15] praveenkumar commented on #2379
@nicolaferraro I put comment on the original issue https://github.com/openshift/origin/issues/19663#issuecomment-388034450 this is not something we can do.

You can try using https://docs.openshift.org/latest/minishift/openshift/openshift-client-binary.html#update-openshift-config

[2018-05-10 12:29] nicolaferraro commented on #2379
Indeed, I was trying to find the point where it is configured but couldn't find it..

[2018-05-11 05:27] anjannath commented on #1802
@praveenkumar since you are pre-occupied with the 3.10 work, would you like me to work on it?

[2018-05-11 05:36] praveenkumar commented on #1802
@anjannath https://github.com/minishift/minishift/pull/2336 3.10 work is mostly done and waiting for feedback mostly. I want to work on this because this is the codebase which is dark for me, implementing this feature might give some insight for this codebase.

[2018-05-11 11:24] gnodet opened #2380 "Minishift fails with "cannot unmarshal bool into Go struct field Driver.Virtio9p of type []string""
### General information

  * Minishift version: v1.17.0+f974f0c
  * OS: macOS
  * Hypervisor: xhyve

### Steps to reproduce

  1. Start minishift

### Expected

The cluster starts

### Actual

[code]

[2018-05-11 14:01] gnodet commented on #2380
It looks like https://github.com/kubernetes/minikube/issues/1942 which can be solved by running the following command to make sure the released versions of `docker-machine-driver-xhyve` is installed:
[code]

[2018-05-11 14:01] #2380 closed

[2018-05-11 16:07] robin-owen commented on #2220
@LalatenduMohanty I've opened https://github.com/openshift-cs/openshift.org/pull/94 to address this.

[2018-05-14 06:40] LalatenduMohanty opened #2383 "Add support for github.com/machine-drivers/docker-machine-driver-vmware"
We should add support for https://github.com/machine-drivers/docker-machine-driver-vmware in Minishift. We already have the code for VMWare, so we need to check if it needs to change or update for this.

[2018-05-14 06:52] praveenkumar commented on #2383
@LalatenduMohanty Problem is do we have the hardware to test those bits because it will go back to our CDK also?

[2018-05-14 07:00] praveenkumar commented on #1988
@gbraad Are you still in favor of using git-subtree instead of making it part of default repo itself?

I went through the given tutorial but as it says there are few drawbacks. Do you think for new contributor this is not a bit blocker point if he has to add/remove some dependency?

- You must learn about a new merge strategy (i.e. git subtree).
- Contributing code back upstream for the sub-projec

[2018-05-14 07:08] LalatenduMohanty commented on #2383
@praveenkumar At this point I am only thinking about upstream Minishift project. Now that the driver plugin is for both VMWare workstation and Fusion, we can just test VMWare workstation and it can be installed on Linux and Windows. So yes we have the hardware.

[2018-05-14 08:13] anjannath opened #2384 "Store the images of origin v3.10.0 by default in cache"
Since the image names have changed for oc `v3.10.0` when the image names become consistent, we need to add/modify code for caching these images by default, after #2336 is merged.

- `origin-control-plane`
- `origin-cli`
- `origin-node`

[2018-05-14 08:51] LalatenduMohanty commented on #2220
@robin-owen Awesome. I can see the PR is merged now and the page is live now. Thanks.

[2018-05-14 08:51] #2220 closed

[2018-05-14 09:14] #2046 closed

[2018-05-14 09:25] gbraad commented on #1988
sure it is a little bit more troublesome, but not unknown...
the submodule is JUST a sha reference to a version inside that repo.

so, what is the alternative to use?

[2018-05-14 13:18] andreaneri opened #2385 "Could not convert the UUID to MAC address: exit status 1"
### General information

  * Minishift version: v1.17.0+f974f0c
  * OS: macOS, 10.13.4
  * Hypervisor: xhyve

### Steps to reproduce

  1. rm -rf /Users/<user>/.minishift/
  2. minishift start
  3.
  4.

### Expected

### Actual
[code]

[2018-05-14 19:15] Dimpison commented on #1287
@gbraad , is there a working method for exposing the minishift to extended network? Because, I try to reproduce all descried methods below and they are not working for me. (Host OS - Windows 10, driver - VirtualBox)

[2018-05-14 21:19] #2042 closed

[2018-05-15 06:15] LalatenduMohanty commented on #2331
Resolved via #2378

[2018-05-15 06:15] #2331 closed

[2018-05-15 14:57] anjannath commented on #2128
Still Todo..

On Tue, May 15, 2018, 7:49 PM stale[bot] <notifications@github.com> wrote:

[2018-05-16 03:17] praveenkumar commented on #2385
@andreaneri can you check https://github.com/machine-drivers/docker-machine-driver-xhyve/issues/156 make sure you installed latest version of xhyve driver from brew.

[2018-05-16 05:35] praveenkumar commented on #1988
@gbraad have `vendor` directly to be part of this repo.

[2018-05-16 07:04] LalatenduMohanty commented on #2294
Resolved via #2382

[2018-05-16 07:04] #2294 closed

[2018-05-16 07:27] #2322 closed

[2018-05-16 08:32] andreaneri commented on #2385
@praveenkumar i done:
brew update
brew install --HEAD xhyve
but i got the same error

[2018-05-16 14:35] anjannath commented on #2303
This can be closed now since #2294 merged.

[2018-05-16 14:35] #2303 closed

[2018-05-16 19:11] LalatenduMohanty commented on #2305
@gbraad as you mentioned that we need fresh set of eyes here, I am removing you as the assignee of the issue.

[2018-05-16 21:10] gbraad commented on #2305
I talked with Anjan, and he was willing to have a look.

On Thu, May 17, 2018 at 3:11 AM, Lalatendu Mohanty <notifications@github.com

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-05-16 23:32] travisn opened #2387 "Support flex volumes in minikube"
### General information

  * Minishift version: 1.17
  * OS: macOS
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Install a flex driver in the expected path: `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/<vendor>~<driver>/<driver>`. See [here](https://raw.githubusercontent.com/openshift-qe/v3-testfiles/master/persistent-volumes/flex/nfs) for a sample nfs driver
  2. Start a pod th

[2018-05-16 23:50] bevinhex commented on #817
Same issue here

[2018-05-17 09:25] amitkrout opened #2388 "Always b2d iso is picked up if passing other isourl trough RUN_BEFORE_FEATURE parameter"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. clone minishift master
[code]
  2. Run integration test for flags.feature with RUN_BEFORE_FEATURE="--iso-url .../minishift-centos7.iso"
[code]
  3.
  4.

### Expected
Should check applied docker config in centos iso. For example ```/etc/sy

[2018-05-17 11:17] #2321 closed

[2018-05-17 11:34] praveenkumar opened #2389 "oc-env doesn't provide correct output if profile is not an active one."
### General information

  * Minishift version: latest (master branch)

### Steps to reproduce

[code]
### Expected

Exported path should be"/home/prkumar/.minishift/cache/oc/v3.7.2/linux:$PATH", instead default version.

[2018-05-17 11:50] andreaneri commented on #2385
what does indicate the label 'status/needs-info' ?

[2018-05-17 13:44] LalatenduMohanty commented on #2389
Also use of `viper.GetString(configCmd.OpenshiftVersion.Name)` in oc-env.go is wrong as we do not have `--openshift-version` flag in `oc-env` command. We should use `minishiftConfig.InstanceConfig.OpenshiftVersion`.

[code]

[2018-05-17 13:45] #2272 closed

[2018-05-17 17:01] jarcher opened #2391 "mini-che is failing on start of minishift"
### General information

  * Minishift version: minishift v1.17.0+f974f0c
  * OS: macOS
  * Hypervisor: VirtualBox

### Steps to reproduce

jraMBP@Johns-MacBook-Pro-5:~/_demo|⇒  minishift start --memory 8192
-- Starting profile 'minishift'
-- Checking if https://github.com is reachable ... OK
-- Checking if requested OpenShift version 'v3.9.0' is valid ... OK
-- Checking if requested OpenShift ver

[2018-05-17 17:10] vap0rtranz commented on #2391
@jarcher I've not seen this but am on KVM based CDK v 3.9.14.  Fresh start below.

Have you tried latest nightly Che image?  Since you aren't on latest OCP version tag.

`minishift addons apply     --addon-env CHE_DOCKER_IMAGE=eclipse/che-server:nightly     --addon-env OPENSHIFT_TOKEN=$(oc whoami -t)     che`

[code]

[2018-05-18 04:09] GrahamDumpleton opened #2392 "ImagePolicy plugin for local image lookup is not configured properly."
### General information

  * Minishift version:

[code]

  * OS: Linux / macOS / Windows

macOS

  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

xhyve

### Steps to reproduce

Create a deployment which doesn't use ``ImageStreamTag`` via an ``ImageChange`` trigger and instead relies on annotation:

[code]

or uses ``lookupPolicy.local`` of ``true`` in ``ImageStream`` to have ``image`` field of

[2018-05-18 04:15] GrahamDumpleton commented on #2392
More specifically, is missing, ``resolutionRules`` entries in ``imagePolicyConfig`` section of ``master-config-yaml``.

[code]

[2018-05-18 04:28] eivantsov commented on #2391
@jarcher you must got a bad PV on MiniShit. Eclipse Che uses one PVC that is bound to a PV. And in your case this PV had a bad permissions (probably writable to an arbitrary user that originally owned it).

I'd do the following:

1. oc login -u system:admin
2. oc get pv
3. Find a PV bound to to che-data claim
4. Remove it
5. Delete mini che namespace
6. Redeploy

Hope it helps

[2018-05-18 05:18] GrahamDumpleton commented on #2392
Attempting to update master config manually failed.

[code]

No obvious explanation as to why it fails.

Also note the spelling error in the error message.

[code]

[2018-05-18 05:45] GrahamDumpleton commented on #2392
The missing attribute from docs is:

[code]

Just adding that to example from docs doesn't result in a working config though and the deployment gets blocked for other reasons now related to the rules. :-(

[2018-05-18 05:46] praveenkumar commented on #2392
@GrahamDumpleton Thanks for observation the issue looks like same is https://github.com/minishift/minishift/issues/2379 and we can close it any one of those, problem is this is not coming from cluster up and there is already a origin issue for same :(

[2018-05-18 05:51] praveenkumar commented on #2392
@GrahamDumpleton That's we can address in one of the PR soon.

[2018-05-18 06:03] eivantsov commented on #2391
@l0rd this is Che 5 by the way. How come it is available in the addon?

[2018-05-18 06:08] GrahamDumpleton commented on #2392
But what is a working ``minishift openshift config set`` command to correct the problem. The other issues merely states "You should be able modify the config and restart cluster up reusing the existing config.", but if you use the example config from prior version in that issue it will not apply. Is there a workaround documented somewhere that works.

[2018-05-18 06:11] GrahamDumpleton commented on #2392
Okay, sorted out a config that will apply now. It was conflicting on existing ``GenericAdmissionWebhook`` entry.

[2018-05-18 06:27] GrahamDumpleton commented on #2392
Getting it to apply doesn't mean it is working. I still don't have a successful deployment, but then it could be due to slow local internet and image not being pulled down quick enough before it gets failed. If I can verify it works I will add command needed to correct the config.

[2018-05-18 06:31] GrahamDumpleton commented on #2392
Closing in deference to #2379.

The command to run to fix up the config in the interim is:

[code]

[2018-05-18 06:31] GrahamDumpleton commented on #2379
The command to fix up the config in the interim is:

[code]

[2018-05-18 08:34] eivantsov commented on #2391
@LalatenduMohanty thanks for the pointer. It's weird that I see Che 5 logs while `che-server:latest` image used by default should point to the latets nightly Che 6 https://github.com/minishift/minishift-addons/blob/master/add-ons/che/che.addon#L5

[2018-05-18 08:55] l0rd commented on #2391
The version of the add-on used is outdated (it's still using this [imagestream](https://github.com/minishift/minishift-addons/blob/0d8299b16ead240edc14d8f2b7f5f7dc885ab0c6/add-ons/che/streams/che-server-streams.json#L47) that points to `eclipse/che-server:5.19.0-centos`)

[2018-05-18 09:06] eivantsov commented on #2391
@l0rd thanks. It explains it now.

[2018-05-18 10:21] budhrg commented on #1856
@praveenkumar , this might not be behavior post 3.10 changes.

[2018-05-18 10:28] praveenkumar commented on #1856
@budhram this is nothing to do with oc version it mostly the docker daemon setting.

[2018-05-18 10:34] praveenkumar commented on #1856
As of now ` --live-restore` still not part of docker service file so better to close this issue. once you restart the docker daemon you can always use `minishift openshift restart` to get all the pods back.

[2018-05-18 10:34] #1856 closed

[2018-05-18 12:09] LalatenduMohanty commented on #1802
Resolved via #2381

[2018-05-18 12:09] #1802 closed

[2018-05-18 19:29] ArjunSreepad opened #2393 "Minishift startup error: FAIL E0518 19:24:48.225517 12503 start.go:376] Error starting the VM:"
### General information

  * Minishift version: minishift-1.17.0-linux-amd64
  * OS: Linux / macOS / Windows: Aws EC2 machine: Linux
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox: KVM

### Steps to reproduce

  1. Started minishift via "minishift start"

### Expected
Start of minshift

### Actual
Error as per log

### Logs

https://gist.github.com/ArjunSreepad/14fb60ef96e9ea85aaa67f6dce30902b

[2018-05-19 08:25] #1250 closed

[2018-05-19 12:29] ArjunSreepad commented on #2393
I tried but error remains the same
PFB link for the logs
https://gist.github.com/ArjunSreepad/01edfc3146e4b40f83220f6a5e6226da

[2018-05-19 15:33] anjannath commented on #2142
Still todo

On Fri, May 18, 2018, 6:42 PM stale[bot] <notifications@github.com> wrote:

[2018-05-20 11:29] prbhadra commented on #843
We did setup an environment variable and getting the following error.

We have no clue on where things are going wrong.

C:\Users\prbha>echo %HYPERV_VIRTUAL_SWITCH%
External (Wireless)

C:\Users\prbha>minishift start
-- Starting profile 'minishift'
-- Checking if requested OpenShift version 'v3.9.14' is valid ... OK
-- Checking if requested OpenShift version 'v3.9.14' is supported ... OK
-- Checki

[2018-05-21 11:59] anjannath commented on #2393
@ArjunSreepad Was minishift working for you before, or is it a new setup.. can you please double check if virtualization support (VT-X/AMD-V) is enabled in BIOS? Also are you trying to run it inside a VM?

----------------------------------------------------------------
https://stackoverflow.com/questions/11116704/check-if-vt-x-is-activated-without-having-to-reboot-in-linux#11118147

[2018-05-21 12:56] anjannath commented on #2383
@LalatenduMohanty I'd like to work on this for the next sprint.

[2018-05-21 14:48] prbhadra commented on #1097
I am using virtual box 5.2.12 and facing the error  presented below. Do I need to go back toolder version of VB?
My Minishift version is :

minishift v1.15.1+f19ac09
CDK v3.4.0-2
------------------------------------------------------------Error Log---------------------------
Starting OpenShift using registry.access.redhat.com/openshift3/ose:v3.9.14 ...
-- Starting OpenShift container ...
   Starti

[2018-05-21 19:39] TpSr52 opened #2394 "Web console can't be installed offline"
### General information

  * Minishift version: v1.17.0
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Put the OC binary in C:\Users\{Username}\.minishift\cache\oc\v3.9.0\windows
  3. Get offline (Disconnect intenet connection)
  2. Run minishift start --iso-url file://D:/Minishift/minishift-b2d.iso --vm-driver virtualbox
  3. Added minishift hostfolder and mounted it
  4

[2018-05-21 20:06] gbraad commented on #2394
The way to cache images is wrong as what I can see from the steps. Please
use the image caching feature as provided by Minishift. This is enabled by
default, but needs to cache once at least with connectivity. Please consult
the documentation.

On Mon, May 21, 2018, 21:39 TpSr52 <notifications@github.com> wrote:

[2018-05-21 20:10] gbraad commented on #2383
Please coordinate with @anfernee about remaining work and what is needed.
Without this information we can not schedule this as a task.

On Mon, May 21, 2018, 14:56 Anjan Nath <notifications@github.com> wrote:

[2018-05-22 04:44] #2389 closed

[2018-05-22 07:25] robyp1 opened #2395 "minishift start not work in VirtualBox 5.2"
Hi, i have windows 10  with Virtual Box 5.2.12, S.O in virtual Box is
Linux version 3.10.0-862.2.3.el7.x86_64 (mockbuild@x86-041.build.eng.bos.redhat.com) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-28) (GCC) ) #1 SMP Mon Apr 30 12:37:51 EDT 2018

### General information

  * Minishift version: minishift v1.15.1+f19ac09 , CDK v3.4.0-2
  * OS:  Windows
  * Hypervisor:  VirtualBox 5.2.12

### Steps t

[2018-05-22 08:57] anjannath commented on #2395
@robyp1 Can you please try it again with the latest release of _minishift_, also make sure you have disable Hyper-V.

[2018-05-22 09:00] anjannath commented on #2347
Working for me in win10, @LalatenduMohanty Were you able to start it?

[2018-05-22 09:56] anjannath commented on #1607
After looking at the code.. the error shown at `minishift start` should contain the error message from the disk creation process, however i am not able to reproduce it, (have lots of free space, don't know how to fill up, tried shrinking the partition. still has about 40G free space)

This is how we reach to the disk creation process.. in start.go `runStart()` -> `startHost()` -> `cluster.StartHos

[2018-05-22 10:04] apupier commented on #1607
On Linux?
fallocate should do the trick https://unix.stackexchange.com/questions/292843/way-to-instantly-fill-up-use-up-lots-of-disk-space

On Windows?
fsutil should do the trick https://stackoverflow.com/questions/528567/how-can-i-simulate-a-disk-full-error-in-a-windows-environment

[2018-05-22 10:14] anjannath commented on #1607
@apupier Thanks, On windows, will try this and check if the error is printed on the console.

did you also face this error on a linux/kvm setup? I was thinking the check is only required for windows..

[2018-05-22 10:22] anjannath commented on #2377
resolved via #2386

[2018-05-22 10:22] #2377 closed

[2018-05-22 10:57] apupier commented on #1607
I tried only on Windows

[2018-05-22 13:44] #2106 closed

[2018-05-22 17:44] TpSr52 commented on #2394
@gbraad Thank you! It works

[2018-05-23 08:15] praveenkumar commented on #2394
Great, I am closing this issue then.

[2018-05-23 08:15] #2394 closed

[2018-05-23 08:29] xytrams opened #2397 "Pulling image openshif/origin:v3.9.0 - FAIL"
Hello,

Trying to start minishift in corporate environment, so, using proxy obviously.

1) The start log:

$ minishift start **--http-proxy=http://user:password@proxy.work.intra:8080 --https-proxy=http://user:password@proxy.cwork.intra:8080** --skip-registration
-- Starting profile 'minishift'
-- Using proxy for the setup
-- Checking if https://github.com is reachable ... OK
-- Checking if request

[2018-05-23 09:49] praveenkumar commented on #2397
@xytrams Which version of minishift are you using?

I tried with latest one and checked if proxy is set in the env and looks like it does.

[code]

[2018-05-23 09:52] xytrams commented on #2397
$ minishift version
minishift v1.17.0+f974f0c

[2018-05-23 09:54] xytrams commented on #2397
OS:
centos-release-7-4.1708.el7.centos.x86_64

[2018-05-23 09:57] praveenkumar commented on #2397
@xytrams can you try what I mentioned and check if actually proxy setting is part of env?

[2018-05-23 10:02] xytrams commented on #2397
I believe I did it in my original post, but here we go again:

docker@minishift:~$ env
SSH_CLIENT=192.168.42.1 56074 22
MAIL=/var/mail/docker
USER=docker
SHLVL=1
HOME=/home/docker
SSH_TTY=/dev/pts/0
PAGER=less -EM
PS1=\u@\h:\w\$
ENV=/home/docker/.ashrc
BACKUP=1
LOGNAME=docker
TERM=xterm-256color
PATH=/home/docker/.local/bin:/usr/local/sbin:/usr/local/bin:/apps/bin:/usr/sbin:/usr/bin:/sbin:/bin
G_F

[2018-05-23 10:03] #2392 closed

[2018-05-23 10:15] xytrams commented on #2397
Praveen,

from you minishift start log:
`-- Checking if external host is reachable from the Minishift VM ...
   Pinging 8.8.8.8 ... FAIL
   VM is unable to ping external host
-- Checking HTTP connectivity from the VM ...
   Retrieving http://minishift.io/index.html ... FAIL
   VM cannot connect to external URL with HTTP
`
Could you explain why? I would expect external hosts should be available.

[2018-05-23 10:17] praveenkumar commented on #2397
@xytrams I was not connected to host just checked for a dummy proxy to make sure it is part of the `env` but you are saying it still not :(, not sure what you are missing here.

[2018-05-23 10:18] xytrams commented on #2397
@praveenkumar

Tell me what I need to double check to make sure I'm not missing anything obvious. I'm kind of stuck here.

[2018-05-23 10:26] praveenkumar commented on #2397
@xytrams I am not sure what is missing here, Are you available for a video call where you can share your desktop and we can debug this further? (like bluejeans or hangout or Zoom) ?

[2018-05-23 10:38] containscafeine commented on #1587
umm, not really stale :man_shrugging:

[2018-05-23 10:45] praveenkumar commented on #1587
@containscafeine Are you still experiencing the same issue?

[2018-05-23 10:51] xytrams commented on #2397
@praveenkumar zoom - yuliya.polyeno@gmail.com

[2018-05-23 11:09] praveenkumar commented on #2397
@xytrams sent you mail to join the bridge.

[2018-05-23 11:52] containscafeine commented on #1587
@praveenkumar not any time recent, but was this fixed somewhere?

[2018-05-23 12:08] praveenkumar commented on #1587
@containscafeine there has been lot of changes happen since this issue is created even libmachine also updated so might be that fixed. I am going to close it tomrrow if @bapunr @chelapurath @myron-randall also confirm it once.

[2018-05-23 12:09] anjannath commented on #2155
I guess this is still to do..

[2018-05-23 12:12] praveenkumar commented on #2397
@xytrams I am closing this issue as per our discussion and create a new one for exporting lower case variable for the proxy. I think it's not good to change the description of this issue where we had a different conversation.

[2018-05-23 12:12] #2397 closed

[2018-05-23 12:15] praveenkumar opened #2398 "lower case of proxy env also should be part of the VM"
As of now if you are working on proxy env then we only set the `HTTP_PROXY` and `HTTPS_PROXY` in the VM environment variable which doesn't work for each command. Interestingly it even not work with `curl` :(, looks like curl only respect the lower case of the variable so it is better to export both kinds of the variable instead depending on single one.

cc @xytrams

[2018-05-23 12:15] anjannath commented on #1910
Is this still an issue?

[2018-05-23 12:17] anjannath commented on #1584
@gbraad Last we discussed about this.. the plan was to have CI jobs that run in non-English environment.

[2018-05-23 12:29] anjannath commented on #1719
@gbraad Didn't we fix this already? need to check again i guess..

[2018-05-23 12:32] anjannath commented on #1012
Chocolaty package already exists, well maintained by the community...
https://chocolatey.org/packages/minishift

[2018-05-23 12:35] anjannath commented on #865
Its may.. i guess happy anniversary?? :smiley_cat:

[2018-05-23 12:35] anjannath commented on #2393
@ArjunSreepad Any updates? Did you try to start it again?

[2018-05-23 12:44] cunningt commented on #1910
Yes, this is still an issue.   Tried it this morning on minishift 1.17.0

[2018-05-23 12:56] ArjunSreepad commented on #2393
This is an aws EC2 machine

[2018-05-23 13:21] praveenkumar commented on #1704
I don't see any problem to closing this because of it was created when profile feature was new and everyone wanted to try something with it now situation is different and folks know what they want to use plus we now only create profile with only some command not every other like we used to do before.

[2018-05-23 14:57] ddsrupert opened #2400 "problem connecting to a clusterIP service from the pod backing the service"
### General information

  * Minishift version: v3.9.0
  * OS: macOS
  * Hypervisor: xhyve

### Steps to reproduce

  1. install the python app using the 'django-ex' sample repo
  2. open a terminal in the django-ex pod
  3. `curl -v --head django-ex`

### Expected
This is what I see in our production cluster, or when I run the curl command from a *different* pod deployed in the same app:
[code]

[2018-05-23 16:10] gbraad commented on #2393
Lee do not support AWS, and do not advice Nested Virtualization, unless you
know what you are doing.

In this case, check your config, as it is likely something with your
nested=1, or similar.

Siggest closing this

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-05-23 16:13] gbraad commented on #1910
Since it is also an issue with 'oc cluster up', I suggest to have an
upstream issue.

/Cc: @deads2k

On Wednesday, May 23, 2018, Tom Cunningham <notifications@github.com> wrote:

https://ci4.googleusercontent.com/proxy/aEBBXPGmqPx2qpSrYb2PbNltGiSVaJ3RAhNQBMX7PpYvcBp98-tS710PmeJJbMB23mIh_wugaWQ6KtGyZEcH0FSa-NKx1R9Bewjp-PZgVtICHxeRZlSLMDr-eZTHh6zbaAL4MgYIMfGyC9b6el4GOESHFGtDmQ=s0-d-e1-ft#https://git

[2018-05-23 16:15] gbraad commented on #865
The joke is on us...

This often crosses my mind, but not sure about the approach anymore.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-05-23 16:17] gbraad commented on #1719
HyperV platform; services and Hypervisor is needed.

On Wednesday, February 7, 2018, Anjan Nath <notifications@github.com> wrote:

https://ci6.googleusercontent.com/proxy/-WVAQyE4XJlqsi70jse6IBLQSJXjIELSjN02gotqm0xFnA1HA8NQ79CQn7zqVYjpmvwFvbPKLyVsak37DXdIbVcD6JN9UKWEv1Kq4LEJ3lUm1G-n5abhDL40FCF3xa9qp6WFGmWe231MzkQfz5hLdRMxEhhRyg=s0-d-e1-ft#https://github.com/notifications/beacon/AAAHZqCw6g3yIwvvkcv

[2018-05-23 19:19] jojuva opened #2401 "minishift fails to find hyper-v virtual switch on windows with spanish locale"
### General information

  * Minishift version: v1.17.0+f974f0c
  * OS: Windows
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. have windows with Spanishlocale
  2. set HYPERV_VIRTUAL_SWITCH="Modificador predeterminado"
  3. minishift start
  4.

### Expected
minishift starts

### Actual
minishift fails to find virtual switch

### Logs
https://gist.github.com/jojuva/15d537ad4ddad600f68187066

[2018-05-24 05:15] praveenkumar commented on #2400
@jorgemoralespou any idea about it?

[2018-05-24 05:17] praveenkumar commented on #2401
@gbraad Can we ask @jojuva to try https://github.com/minishift/minishift/pull/2291 for locale issue?

[2018-05-24 05:49] praveenkumar commented on #1910
We do have upstream issue https://github.com/openshift/origin/issues/18119 for it.

[2018-05-24 05:59] budhrg commented on #1704
Hence closing :)

[2018-05-24 05:59] #1704 closed

[2018-05-24 09:17] bigon opened #2403 "minishift doesn't work when proxy defined with scheme in front"
Hi,

With last release when defining a proxy with the scheme in front (ie https_proxy="http://proxy.example.com:8080/"), minishift fails to download the `oc` executable and the iso files.

I get the following error:

`Error starting the cluster: Error attempting to download and cache 'oc': Cannot get the OpenShift release version v3.9.0: Get https://api.github.com/repos/openshift/origin/releases/t

[2018-05-24 09:29] praveenkumar commented on #2403
@bigon was it work before (I mean with an older version of minishift), also I noticed you used https_proxy with `http://` URI can you modify to `https` and check again?

[2018-05-24 09:35] amitkrout opened #2404 "Cleaning up "out/test-run/.minishift/logs" to run multiple feature files on windows"
### General information

  * Minishift version:
  * OS: Windows
  * Hypervisor: Hyper-V / VirtualBox

### Steps to reproduce

  1. Refer downstream jira https://issues.jboss.org/browse/CDK-190
  2.
  3.
  4.

### Expected
make integration MINISHIFT_BINARY=/path/to/minishift.exe GODOG_OPTS="-tags tag1,tag2..." should work for downstream bits

### Actual
Not working (see https://issues.jboss.org/bro

[2018-05-24 09:51] gbraad commented on #2403
I see some conflicting info:

[code]

This means DNS is not working. The host it tries to reach is not responding
(53 is the DNS lookup port). But lookup usually happens on UDP instead of
TCP... perhaps this is done to make sure the request is handled. So,
confirm if this host can also respond on TCP...

On Thu, May 24, 2018 at 5:29 PM, Praveen Kumar <notifications@github.com>
wrote:

--

   Gerar

[2018-05-24 10:44] ArjunSreepad commented on #2393
ok........

[2018-05-24 10:44] #2393 closed

[2018-05-24 10:49] bigon commented on #2403
The message is indeed weird.

But as you can see it's trying to resolve "http"

[2018-05-24 13:12] anjannath commented on #1719
@gbraad Okay.. will check again if the issue still exists..

[2018-05-24 13:41] gbraad commented on #2403
@praveenkumar if not mistaken, the error starts with `Error starting the cluster` would indicate this issue comes from the deployment process, right? Or is it happening in our pre-flight?

[2018-05-24 20:17] jojuva commented on #2401
Of course, I can do that if you can guide me.

[2018-05-25 00:57] anjannath commented on #2169
Still to do..

[2018-05-25 05:32] praveenkumar commented on #2403
@gbraad this looks like happening in the preflight artifact check where we download the artifact before start the VM. @bigon didn't you get the same issue when downloading the ISO or you had iso already? Will it be possible to put complete logs along with what you tried instead just error message?

[2018-05-25 06:47] praveenkumar commented on #2400
@ddsrupert I am not sure if that is the issue but I did a little experiment and looks like I can't able to curl service for a pod which itself is running. I used cakephp+mysql template and results are below. May be you send a mail to openshift-users ML and get more info around if this is expected behavior.

[code]

[2018-05-25 06:56] bigon commented on #2403
I'll try again, but indeed the d/l of the iso was also failing IIRC

[2018-05-25 06:58] praveenkumar commented on #2391
Closing this issue since the addon version which is used was outdated.

[2018-05-25 06:58] #2391 closed

[2018-05-25 07:01] praveenkumar commented on #2385
@andreaneri It means we need information from the reporter if he/she tried provided steps and able to resolve the issue or issue still persist.

[2018-05-25 07:04] praveenkumar commented on #2347
Closing this looks like some issue with the machine which @LalatenduMohanty is having? We can reopen if continue to reproduce.

[2018-05-25 07:04] #2347 closed

[2018-05-25 07:04] gbraad commented on #2385
Still need info for the steps and actions that were performed before the
report. Did a VM exist before removing the MINISHIFT_HOME? The current
issue report is not complete to reproduce this issue.

[2018-05-25 07:14] praveenkumar commented on #2278
Closing this issue since now we have like more that 2-3 release after add-ons syntax changed.

[2018-05-25 07:14] #2278 closed

[2018-05-25 08:44] agajdosi commented on #2368
Problem could be here: https://github.com/minishift/minishift/blob/0a9a21b86d5240bd76cf5128475239ec79973111/test/integration/features/cmd-openshift.feature#L40. We had problem with OpenShift not being ready after restart, which I fixed with the retry statement, but that repeat the oc command until it succeeds, potentially causing other problems. The step however passes, but it consequences are vis

[2018-05-25 22:34] jorgemoralespou commented on #2400
@praveenkumar I've found this issue which sounds similar, although that one should not happen on minishift. https://github.com/openshift/origin/issues/14092

[2018-05-27 21:57] gbraad commented on #2182
Any update?

[2018-05-28 02:34] fmontaldo3 opened #2408 "minishift start issue"
### General information

  * Minishift version: minishift v1.15.1+f19ac09
  * OS: rhel 7.5
  * Hypervisor: KVM

HI,

I want to run minishift under rhel 7.5 and I got the following issue:

 minishift start
-- Starting profile 'minishift'
-- Checking if requested OpenShift version 'v3.9.14' is valid ... OK
-- Checking if requested OpenShift version 'v3.9.14' is supported ... OK
-- Checking if reques

[2018-05-28 04:30] praveenkumar commented on #2408
@fmontaldo3 This looks like network issue, are you behind a proxy or VPN? Also can you try to use `--skip-registration` flag ?

[2018-05-28 04:33] praveenkumar commented on #2385
@andreaneri https://github.com/machine-drivers/docker-machine-driver-xhyve/issues/156 have lot of different way to resolve this issue, I am hoping one of thing works for you also. Did you go through that issue and tried what different folks posted?

[2018-05-28 08:27] andreaneri commented on #2385
@praveenkumar maybe the problem is:
sysctl kern.hv_support
kern.hv_support: 0
:-(

[2018-05-28 08:27] praveenkumar commented on #2400
@ddsrupert Can you please put about the workaround you used so in future if someone faces the same issue we can point them?

[2018-05-28 08:53] praveenkumar commented on #2385
@andreaneri yes that mean your system doesn't support virtualization :( for my mac it's shows `kern.hv_suppport:1 ` Can you close this issue?

[2018-05-28 08:57] praveenkumar commented on #2385
@andreaneri If you still want to try out minishift then I think you need to install virtualbox and during the start provide `minishift start --vm-driver virtualbox`

[2018-05-28 09:10] gbraad commented on #2385
What is the model of the machine you tried this on?

[2018-05-28 09:14] gbraad commented on #2408
This might be a DNS issue? You can verify this with doing `minishift ssh --
ping subscription.rhsm.redhat.com
<http://subscription.rhsm.redhat.com:443/subscription>` after the failure.
This will perform a ping from inside the VM and the results will be shown.

[2018-05-28 09:38] andreaneri commented on #2385
@praveenkumar with virtualbox works fine, thanks

[2018-05-28 09:38] #2385 closed

[2018-05-28 10:02] andreaneri commented on #2385
@gbraad the model is MacBookAir3,2

[2018-05-28 10:49] LalatenduMohanty commented on #2368
@agajdosi May be we can increase the interval of retry and see if it helps. `2 seconds` is very less interval.

[2018-05-28 10:54] LalatenduMohanty commented on #2398
Resolved via #2402

[2018-05-28 10:54] #2398 closed

[2018-05-28 12:34] praveenkumar opened #2409 "Update b2d iso version and CentOS iso version."
b2d : v1.3.0
CentOS: v1.10.0

[2018-05-28 13:11] cmoulliard opened #2411 "ansible playbook can't ssh using docker's user - centos iso image"
### General information

  * Minishift version: 1.17
  * OS: macOS
  * Hypervisor: xhyve
  * Ansible : 2.5.3

### Steps to reproduce

  1. git clone https://github.com/snowdrop/openshift-infra.git && cd openshift-infra/ansible
  2. ansible-playbook playbook/generate_inventory.yml -e ip_address=$(minishift ip) -e type=simple
  3. ansible-playbook -i inventory/simple_host playbook/post_installation.

[2018-05-28 13:40] cmoulliard commented on #2411
Temporary workaround is to import the public key of the user within the Centos VM

[code]

[2018-05-28 13:47] LalatenduMohanty commented on #2199
@minishift/minishift-dev I am going to close this as I do not think it is something we need to fix. Please re-open if you disagree.

[2018-05-28 13:47] #2199 closed

[2018-05-28 13:54] cmoulliard opened #2412 "Installing new RPMs in CentOS VM is causing crash"
### General information

  * Minishift version: 1.17
  * OS: macOS
  * Hypervisor: xhyve
  * Ansible : 2.5.3

### Steps to reproduce

  1. git clone https://github.com/snowdrop/openshift-infra.git && cd openshift-infra/ansible
  2. ansible-playbook playbook/generate_inventory.yml -e ip_address=$(minishift ip) -e type=simple
  3. sshpass -p centos ssh-copy-id -o StrictHostKeyChecking=no -i ~/.ssh/i

[2018-05-28 13:58] praveenkumar commented on #2411
@cmoulliard So below is what I can do but now its stuck to a different error. you can have the private key of the minishift vm in the `~/.minishift/machines/minishift/` if default profile or `~/.minishift/profile/machines/<profile_name>/`

[code]

[2018-05-28 15:27] cmoulliard commented on #2412
List of expected packages required for fedora/centos are :

  - docker
  - git
  - wget
  - ansible
  - net-tools
  - NetworkManager
  - python-rhsm-certificates

https://github.com/snowdrop/openshift-infra/blob/master/virtualbox/build-centos-iso/user-data.tpl#L12-L18

Concerning the oc client, if not yet there, we install it using this playbook/role : https://github.com/snowdrop/openshift-infra/b

[2018-05-28 15:29] cmoulliard commented on #2411
This error is due to the fact that ansible isn't installed. See #2412

[2018-05-28 16:33] gbraad commented on #2412
Expected is debatable. This is a duplicate of #355.

We need to consider how to handle this. I have tried to add an overlay for
root, that would store on the persistent disk, but ran into issues.

There are alternative strategies, but I guess this is related to ansible
and cluster add.

On Mon, May 28, 2018, 17:27 Charles Moulliard <notifications@github.com>
wrote:

[2018-05-28 16:58] cmoulliard commented on #2412
The solution is perhaps to build the Centos ISO image using a different approach as we did here [1]
which then let the user to add his/her own packages
[1] https://github.com/snowdrop/openshift-infra/blob/master/virtualbox/build-centos-iso/new-iso.sh

[2018-05-28 19:04] gbraad commented on #2412
We would not prefer to have NEW images be created for each usecase as this
might not follow OUR release schedule and provided features. Rather provide
a re-usable solution that works on top of our images.

a custom user-script on startup could be a first option, as this could
trigger to setup on overlay and install packages

On Tue, May 29, 2018 at 12:58 AM, Charles Moulliard <
notifications@githu

[2018-05-28 22:18] fmontaldo3 commented on #2408
Hi,

I just reinstall the entire rhel server and now is working

[2018-05-28 22:51] gbraad commented on #2408
Could you close the issue?

It seems to have been a misconfiguration. Likely due to DHCP or a failing
DNS lookup. Anyway, good to hear it works now

On Tue, May 29, 2018, 00:18 fmontaldo <notifications@github.com> wrote:

[2018-05-29 02:21] svenstaro opened #2413 "Fix `minishift oc-env --no-proxy` behavior on Windows"
### General information

  * Minishift version: v1.17.0+c741cbdd
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

1.

    echo $NO_PROXY:
    127.0.0.1,localhost,.company.tld

2.

    echo $no_proxy
    <empty output>

3.

    eval $(minishift oc-env --no-proxy)

### Expected

    echo $NO_PROXY
    127.0.0.1,localhost,.company.tld,192.168.99.101
    echo $no_proxy
    <empty ou

[2018-05-29 04:50] praveenkumar commented on #2408
Closing this issue since now it's working.

[2018-05-29 04:50] #2408 closed

[2018-05-29 05:17] praveenkumar opened #2414 "Release job not able to update release notes."
We are facing the issue in the release job and it is not able to create the release notes, this has happened last time also.

[2018-05-29 05:18] camilahayashi opened #2415 "oc"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected

### Actual

### Logs

You can start Minishift with `minishift start --show-libmachine-logs -v5` to collect logs.
Please consider posting this on http://gist.github.com/ and post the link in the issue.

[2018-05-29 05:19] #2415 closed

[2018-05-29 05:52] anjannath commented on #2414
duplicate of #2186

[2018-05-29 05:52] #2414 closed

[2018-05-29 05:53] praveenkumar commented on #2186
Call which is failing to get milestone was below looks like we need to add direction to get it properly.

[code]

[2018-05-29 05:58] praveenkumar commented on #2186
We need pagination for this.

[code]

[2018-05-29 06:17] anjannath commented on #2305
In disconnected state macOS doesnot make dns send dns queries.. so we need to make a tap device assign it an ip so that it thinks it is still connected to something.
after that the resolver file inside `/etc/resolver/nip.io` will be used for the resolving so we only need to create a tap device and a Nerwork Service using that.

1. Install the `tuntap` package from brew
2. Create a network service

[2018-05-29 06:24] jeusdi opened #2417 "start again minishift"
### General information

  * Minishift version: 1.17.0
  * OS: Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. minishift start --openshift-version v3.7.0 --vm-driver=virtualbox
  2. minishift stop
  3. minishift start --

### Expected
First created vm be started again

### Actual
vm is running, but openshift seems to have problems.

### Logs

[code]

[2018-05-29 06:29] praveenkumar commented on #2417
@jeusdi  Can you try below steps, you have to make sure you use same start option which you used first time otherwise it might behave differently also above issue occurred due to IP change. what hypervisor you used? We have static IP feature but that doesn't work with KVM atm.

[code]

[2018-05-29 06:31] praveenkumar commented on #2411
@gbraad right, @cmoulliard I think this is no longer issue now since we have the private key and also the location where you can get, better to close it. Package installation we are tracking in #2412

[2018-05-29 06:32] #2409 closed

[2018-05-29 06:52] cmoulliard commented on #2412
Do you have an example that we could re-use ? @gbraad

[2018-05-29 06:52] #2411 closed

[2018-05-29 06:55] jeusdi commented on #2417
@praveenkumar I has worked now!

What do you mean when you say:

[2018-05-29 07:20] gbraad commented on #2412
Currently still testing ...

If someone is known to overlays, please assist. Had issues doing this for
root

[2018-05-29 07:48] praveenkumar commented on #2417
@jeusdi so we don't persist the options which you use when first time start the minishift VM if you don't use same after stop and start then minishift try to use default options to start the VM again which can cause an issue.

[2018-05-29 07:48] praveenkumar commented on #2417
@jeusdi Can you also close this issue?

[2018-05-29 08:02] agajdosi commented on #2388
@amitkrout To test with different ISO you can use environmental variables, which are handled by ISO resolution function (https://github.com/minishift/minishift/blob/master/test/integration/testsuite/prepare.go#L69). The implementation for RUN_BEFORE_FEATURE is not needed IMHO as setting anything in config will break some steps which tests `minishift config`.

Easiest and tidiest way here is to sti

[2018-05-29 08:36] anjannath commented on #2383
@gbraad Will do, but am planning try out first if i am able to use that driver binary to start a vm by using `docker-machine`

[2018-05-29 08:47] anjannath commented on #2305
We can automate some of the steps for this setup, like adding the network service and configuring the IP address for the tap device. The user needs to install the `tuntap` package for this workaround to work, we can perform a check for this during the `minishift dns start` command and print a message to install the package if it is not present ... then we will setup the network service and print a

[2018-05-29 12:52] agajdosi commented on #2368
@LalatenduMohanty So I think I have found the root of the issue. And surprisingly it seems to be before the actual restart. I have added checks if `docker-registry` and `router` containers are ready and from the logs (https://ci.centos.org/job/minishift-pr/4334/consoleFull) it seems that `router` container is not ready in the moment when tests restarts the OpenShift which later causes an error on

[2018-05-29 13:18] svenstaro commented on #2413
Turns out that this is an issue only on Windows due to its case-insensitivity in regards to env vars.

[2018-05-29 14:04] ddsrupert commented on #2400
I ran into this issue when using this ['all-in-one' development container for kafka/zookeeper,](https://github.com/Landoop/fast-data-dev) which runs kafka and several related services. (Obviously in deployment these services would be broken out into separate deployments, but it is convenient for development.)

As the other services are running on the same pod as kafka, there were not able to conne

[2018-05-29 14:39] sammarland-rh opened #2418 "All builds fail with new Minishift VM."
### General information

  * Minishift version: minishift v1.18.0+756b128
  * OS: Linux / macOS / Windows 10.13.4 (17E202)
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox - VirtualBox 5.2.12 r122591 (Qt5.6.3)

### Steps to reproduce
  1. Download the latest Minishift
  2. `minishift start`
  3. Take any of the templates and build a sample app. It will fail trying to mount /tmp.

### Expected
Bu

[2018-05-29 15:19] LalatenduMohanty commented on #2186
Resolved via #2416

[2018-05-29 15:19] #2186 closed

[2018-05-29 15:53] praveenkumar commented on #2418
@mmusaji Are you seeing this with all the applications because I used the cakephp one and this is working as exepcted without any modification of selinux.

[code]

[2018-05-29 16:28] praveenkumar commented on #2418
@sammarland-rh can you also confirmed and close it if this is not reproduce-able for you?

[2018-05-29 16:43] sammarland-rh commented on #2418
I will try and reproduce it now.

[2018-05-29 20:35] LalatenduMohanty commented on #2418
I am not able to reproduce it on macOS with minishift 1.18.0 + CentOS ISO. Done twice now with `cakephp-mysql-persistent` application.

[2018-05-29 20:39] LalatenduMohanty commented on #2418
@minishift/minishift-dev Do you see the issue?

[2018-05-29 22:29] fmontaldo3 opened #2420 "cannot configure gitlab on minishift"
### General information

  * Minishift version:
     minishift v1.15.1+f19ac09
     CDK v3.4.0-2

  * OS: Linux  rhel 7.4
  * Hypervisor: KVM

Hi,

I want to configure gitlab under my minishift environment but fails.

as developer user

oc new-project gitlab
oc new-app --template=postgresql-persistent -p POSTGRESQL_USER=admin POSTGRESQL_PASSWORD=redhat POSTGRESQL_DATABASE=gitlab

as admin
oc edit

[2018-05-30 04:51] praveenkumar commented on #2418
@sammarland-rh can you provide the output of following commands?

[code]

[2018-05-30 06:32] anjannath commented on #2418
It is not reproducible in kvm/CentOS environment. Successfully deployed cake-php application.
[code]
----------------------------------------------
[code]

[2018-05-30 06:57] sammarland-rh commented on #2418
[code]

[2018-05-30 07:04] praveenkumar commented on #2418
@sammarland-rh looks like you are using the latest version of minishift with an older version of RHEL ISO. can you do the following and let us the result of deploying app?

[code]

[2018-05-30 07:07] sammarland-rh commented on #2418
Yup. I will do that now. How would I have got into that state?

[2018-05-30 07:11] praveenkumar commented on #865
@minishift/minishift-dev Can you provide your feedback on those soon and we finalize it?

[2018-05-30 07:17] sammarland-rh commented on #2418
Having deleted the VM and set the iso it fails in a different way.

[code]

[2018-05-30 08:34] praveenkumar commented on #2418
@sammarland-rh I think that just an intermediate (you can again try to delete and start), I still didn't see the iso download when you specified the centos as iso-url? Do you already have that in your cache directory or this is the error you got when retired?

[2018-05-30 08:58] santosh3702 opened #2421 "Install Minishift on AWS ec2"
### General information

  * Minishift version: 1.18.0
 I want to install Minishift on AWS ec2 instance OS : Red Hat Enterprise Linux 7.5 (HVM),  Ubuntu Server 16.04 LTS (HVM) , Instance type: t2.micro

I am trying to install on aws ec2 but i didn't any detail steps in openshift website , is it possible to install Minishift on AWS ec2.

[2018-05-30 09:29] LalatenduMohanty commented on #865
@mairin @tigert  relatively I like option `c`.

[2018-05-30 09:59] sammarland-rh commented on #2418
I already had the CentOS image downloaded.

Using the CentOS image fixed my issue. Is there a more recent RHEL ISO I should test to make sure that also work?

[2018-05-30 10:15] amitkrout commented on #2388
@agajdosi i have the same kind of feeling before creating the issue, then thought let's get some feedback from @minishift/minishift-dev on this to increase some flexibility around ```RUN_BEFORE_FEATURE```. I think you are right otherwise it will only increase the unnecessary complexity. LGTM with the environment variable option.

So closing the issue. Will reopen if I get any hard requirement arou

[2018-05-30 10:15] #2388 closed

[2018-05-30 10:31] agajdosi commented on #2169
@LalatenduMohanty TBH I do not fully understand the concept behind the fact oc provides STATUS and READY for the pods. But it seems that after M start some pods are running, but are not ready sometimes, which causes troubles.

You can try with:
[code]

[2018-05-30 10:37] praveenkumar commented on #2418
@sammarland-rh yes, sent you a mail. Can you please close this issue now?

[2018-05-30 10:38] praveenkumar commented on #2417
@jeusdi I am closing this issue, please let us know if still have some query.

[2018-05-30 10:38] #2417 closed

[2018-05-30 10:42] LalatenduMohanty commented on #2421
@santosh3702 At this point it is not possible with Minishift v1.18.0 because "minishift start" creates a Linux VM to provision OpenShift in it.  it is only possible if you have nested virtualization enabled in the Instance you are using for Minishift. However we are working on #392 which will allow you to re-use a VM to provision Minishift without creating a new VM.

[2018-05-30 10:42] LalatenduMohanty commented on #2421
@santosh3702 I am inclined to mark it duplicate of #392, WDYT?

[2018-05-30 10:47] sammarland-rh commented on #2418
I will just test the RHEL image and then I will close.

[2018-05-30 10:51] LalatenduMohanty commented on #2420
@fmontaldo3 for any uid we have an add-on named "anyuid" which you can use, check https://docs.openshift.org/latest/minishift/using/addons.html#default-addons

[2018-05-30 11:01] praveenkumar commented on #865
@mairin @tigert what about having the same logo design as minikube have but in the Cube instead of having part of k8s logo we can have part of openshift logo (like half or less than half) with that we are not also stuck in legal issue since we are not using openshift logo as it is, also we outer boundary should be hexagon instead what minikube logo have.

- https://raw.githubusercontent.com/kubern

[2018-05-30 11:05] sammarland-rh commented on #2418
The RHEL image you sent over also works. Thanks for all your help and hopefully this thread will be useful if someone else hits the same issue.

[2018-05-30 11:05] #2418 closed

[2018-05-30 11:06] LalatenduMohanty commented on #2420
@fmontaldo3 I never tried gitlab on OpenShift. But have you seen https://about.gitlab.com/2016/06/28/get-started-with-openshift-origin-3-and-gitlab/ ?

[2018-05-30 11:17] LalatenduMohanty commented on #2412
@cmoulliard Two things

1. Currently installing RPMs directly on the VM is not going to work as mentioned in the previous comments.  We need to see how we can enable this use case. As @praveenkumar mentioned we can add these packages in the kickstart file itself is one way.

2. Can we use packages from a container then we do not need those pre-installed in the VM?

[2018-05-30 11:17] LalatenduMohanty commented on #2412
Also we need to move this issue to https://github.com/minishift/minishift-centos-iso/

[2018-05-30 12:08] cmoulliard commented on #2412
To do that, then it will also be required to run by example the playbook using a docker image as I did [here](https://github.com/cmoulliard/playbooks). Is it what you suggest to do ?

[2018-05-30 15:49] fmontaldo3 commented on #2420
I already did the instructions of that page and it didn't work. Do you know a way to debug the deployment?.

[2018-05-30 15:53] fmontaldo3 commented on #2420
the deploy shows me this:

Readiness probe failed: Get http://172.17.0.7:80/help: dial tcp 172.17.0.7:80: getsockopt: connection refused
 Unhealthy
Readiness probe failed: HTTP probe failed with statuscode: 502

[2018-05-30 18:42] mairin commented on #865
IANAL but I suspect even using the O/S logo partially is going to trigger a trademark issue.

[2018-05-30 21:13] LalatenduMohanty commented on #217
@minishift/minishift-dev Closing this issue as we do not have plan to address this.

[2018-05-30 21:13] #217 closed

[2018-05-31 05:15] LalatenduMohanty commented on #1063
@praveenkumar @gbraad @budhrg WDYT about this issue? Should we close this ?

[2018-05-31 05:32] praveenkumar commented on #1063
Yes, we should close this.

[2018-05-31 05:49] LalatenduMohanty commented on #1415
@budhrg Do you remember what we agreed on this?

[2018-05-31 05:59] LalatenduMohanty commented on #2401
@gbraad Can we mark this duplicate of #2096?

[2018-05-31 06:15] anjannath commented on #2137
Adding functionality to list community add-ons would be an overkill IMO, then we need to decide which github repos containing add-ons we would fetch the add-ons list from.. which should be configurable by the user.

Remote install which is #635 can be implemented and would be nice feature. But right now the add-ons in the repo are directories, we need to package them in tar balls which can be down

[2018-05-31 06:23] LalatenduMohanty opened #2424 "Make CentOS ISO as the default ISO"
We should make CentOS as the default ISO as new features e.g. static IP not available on B2D ISO.

[2018-05-31 06:38] gbraad commented on #2401
The patch does work, and this means we could merge... let's create a new issue for the non-ASCII issue.
And yes, it is a duplicate.

[2018-05-31 07:14] anjannath commented on #865
I like @praveenkumar suggestion, but if that is also going to trigger a trademark issue than.. whom can we reach out to confirm that?

[2018-05-31 07:55] chema-mengibar opened #2425 "Minishift - VirtualBox - Runtime Error"
### General information

  * Minishift version: 1.18.0
  * OS:  Windows 8.0
  * Hypervisor:  VirtualBox

### Steps to reproduce

  1. Hyper-V Disabled
  2. minishift config set vm-driver virtualbox

### Actual

https://gist.github.com/chema-mengibar/078a1a6d5bde39fa706f0816bb47781e

[2018-05-31 08:20] anjannath commented on #865
## Vote for logos in https://github.com/minishift/minishift/issues/865#issuecomment-392815808
[![](https://api.gh-polls.com/poll/01CETM3MPBNFMM3ZWFA2J44951/a)](https://api.gh-polls.com/poll/01CETM3MPBNFMM3ZWFA2J44951/a/vote)
[![](https://api.gh-polls.com/poll/01CETM3MPBNFMM3ZWFA2J44951/b)](https://api.gh-polls.com/poll/01CETM3MPBNFMM3ZWFA2J44951/b/vote)
[![](https://api.gh-polls.com/poll/01CETM3MP

[2018-05-31 09:50] praveenkumar commented on #2155
1.14.0 have an issue with `hyperV` so either we use the revision which has a fix for this or waits for 1.14.1 release. check https://github.com/docker/machine/commit/c79bd4ad7404b3c17ff3fd14991dc3f4cddf792e

[2018-05-31 09:58] gbraad commented on #2155
Fix will never come as a release I guess:
https://github.com/docker/machine/issues/4424#issuecomment-393414375

[2018-05-31 10:40] budhrg commented on #1415
Closing it as we agreed it is not required.

[2018-05-31 10:40] #1415 closed

[2018-05-31 12:38] LalatenduMohanty commented on #2368
Resolved #2407

[2018-05-31 12:38] #2368 closed

[2018-06-01 03:09] damianesteban commented on #2397
So was this resolved? I'm having the same issue on macOS.

[2018-06-01 03:58] gbraad commented on #2397
Note: there is no use in setting `--skip-registration` when you use the
CentOS images. This is only used for te RHEL-based images.

[2018-06-01 05:19] praveenkumar commented on #2425
This error is because of a nil pointer de-reference in the preflight check seems a bug.

[code]

@chema-mengibar meanwhile can you  try following so you will not be blocked.

[code]

[2018-06-01 05:23] praveenkumar opened #2427 "Add delete alias to image prune command."
As of now, we have `minishift image prune <image_name>` but looks like to make it user-friendly we also need to add the `delete` alias for it. We will make `delete` as user-facing and users can use the `prune` as well as part of alias.

[2018-06-01 07:04] anjannath commented on #2425
the nill pointer dereference is happening because of the..
[code]
For some reason the `powershell.New()` is maybe NOT creating new instance so there is nothing to close.

@chema-mengibar Can you please provide the output of this `(Get-WmiObject -Class Win32_OperatingSystem).Caption`.

Also from the logs in the gist, it looks like you are re-starting an old Hyper-V based vm. The config setting for

[2018-06-01 07:51] MinSung-TheBest commented on #2107
I also have the same issue...

[2018-06-01 08:29] anjannath opened #2429 "Config option `hyperv-virtual-switch` has issues when non-ascii characters are present in the name"
### General information

  * Minishift version: master
  * OS: Windows
  * Hypervisor: Hyper-V

### Steps to reproduce

  1. `minishift config set hyper-virtual-switch <some name with non-ascii chars>`
  2.  `minishift start`

[2018-06-01 08:34] #2258 closed

[2018-06-01 11:46] budhrg commented on #2064
@minishift/minishift-dev I am thinking on first topic as below

1. Hello Minishift
  - Getting Basic setup (Follow https://docs.openshift.org/latest/minishift/getting-started/index.html)
  - Getting Customized setup (Using https://docs.openshift.org/latest/minishift/using/basic-usage.html#persistent-configuration)
  - Getting setup in Proxy Environment
  - Getting setup with multiple profiles

If

[2018-06-01 11:51] praveenkumar commented on #2064
Check: http://blog.andyserver.com/ lot of post he did around minishit and those are very explanatory with a specific topic, it will give you some idea.

[2018-06-01 14:33] praveenkumar commented on #2016
@LalatenduMohanty @agajdosi doesn't this now fixed?

[2018-06-01 17:10] egkelly opened #2432 "Minishift start: VM cannot connect to external URL with HTTP"
### General information

  * Minishift version:
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. minishift start --show-libmachine-logs -v2 --http-proxy http://<proxy>:<port> --https-proxy https://<proxy>:<port>

### Explanation

When executing minishift start, I cannot start openshift due to lack of vm connectivity. Specifically, the main problem is "Pulling image registry.access.r

[2018-06-01 19:42] carbonin commented on #2107
I'm also seeing this issue:

[code]

Is there some alternate way to login as admin? Should I reopen this bug because I'm using a new minishift version?

[2018-06-01 20:28] carbonin commented on #2107
I can login as `system:admin` on version 1.17 so something in 1.18 seems to have broken this.

Ad per the docs:

I removed my `.kube` directory and restarted minishift.

Now my `~/.kube/config` looks like this:
[code]

Doesn't seem to have any certificates for the admin user.

I also found this comment https://github.com/minishift/minishift/pull/741#issuecomment-293812310 on the PR which added the

[2018-06-02 00:40] praveenkumar commented on #2107
@carbonin you should try to use admin user addon and then you can able to login as `admin` with password `admin`

[code]

[2018-06-02 00:42] praveenkumar commented on #2107
It's not a bug but we do need to update our documents and possibly add this addon as part of post cluster up directly (need to discuss first).

[2018-06-02 05:15] anjannath commented on #2432
This happens because dns resolution is failing from inside the VM, are you
on a corporate VPN?

On Fri, Jun 1, 2018, 10:40 PM egkelly <notifications@github.com> wrote:

[2018-06-03 08:35] lpanusz commented on #1587
Hi,

To be frank, I'm experiencing that issue right now.
Windows 10, Hyper-V, minishift v1.18.0+756b128

`{ ~ }  » minishift start --vm-driver hyperv --memory 4GB --show-libmachine-logs -v 5                                         ~ 1
-- minishift version: v1.18.0+756b128
-- Starting profile 'minishift'
-- Checking if https://github.com is reachable ... OK
-- Checking if requested OpenShift versio

[2018-06-03 18:52] gbraad commented on #2213
Still relevant

[2018-06-03 18:53] gbraad commented on #2211
Still relevant

On Sun, Jun 3, 2018 at 4:02 PM, stale[bot] <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-06-03 18:54] gbraad commented on #2226
Not needed for CentOS as the daemon is part of the ISO. And support for
minikube and B2D might be dropped soon.

On Sun, Jun 3, 2018 at 4:02 PM, stale[bot] <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-06-04 00:15] fogartyp commented on #2107
Thanks, @praveenkumar I was able to login once the addon was installed.

[code]

[2018-06-04 00:52] anjannath commented on #2226
@gbraad We can close this then?

[2018-06-04 02:28] gbraad commented on #2432
it seems to be able to register:

[code]

but can you verify the DNS settings? maybeyou need to set `--network-nameserver [corporate-dns]` to allow the VM to resolve addresses.

[2018-06-04 02:32] gbraad commented on #2226
Close

On Mon, Jun 4, 2018 at 8:52 AM, Anjan Nath <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-06-04 02:34] #2226 closed

[2018-06-04 05:32] LalatenduMohanty commented on #2427
Resolved via #2430

[2018-06-04 05:32] #2427 closed

[2018-06-04 05:35] LalatenduMohanty commented on #2206
Resolved via #2431

[2018-06-04 05:35] #2206 closed

[2018-06-04 05:46] praveenkumar commented on #1915
This is not something we can do but how `oc` actually behave so I am in favor to close this issue.

[2018-06-04 05:46] #1915 closed

[2018-06-04 06:28] cmoulliard opened #2433 "failed to read pod IP from plugin/docker: Couldn't find network status"
### General information

  * Minishift version:  1.17
  * OS: macOS
  * Hypervisor: xhyve

### Config

[code]

### Logs

See gist : https://gist.github.com/cmoulliard/bce85e3b76b5e2593efac3cbc2877dbe

[code]

[2018-06-04 06:35] LalatenduMohanty commented on #2433
@cmoulliard  can you provide `minishift start --show-libmachine-logs -v5` output?

[2018-06-04 06:53] praveenkumar commented on #2433
As per `Get https://192.168.65.47:8443/healthz/ready: x509: the certificate is valid for 127.0.0.1, 172.17.0.1, 172.30.0.1, 192.168.65.29, not 192.168.65.47` looks like IP is changed during the restart of VM and that cause this issue :( If you are using hypervisor other than kvm then better to use `./minishift ip --set-static` after your first start.

[2018-06-04 07:02] cmoulliard commented on #2433
see the gist link

[2018-06-04 07:03] cmoulliard commented on #2433
Do you have an idea why the ip address changed between restarts ?

[2018-06-04 07:08] jeusdi opened #2434 "Proxy settings"
### General information

  * Minishift version: v1.17.0+f974f0c
  * OS: Linux / Windows
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. minishift start --openshift-version v3.7.0 --vm-driver=virtualbox --http-proxy=http://<user>:<passwd>@<ip>:<port>/ --https-proxy=http://<user>:<passwd>@<ip>:<port>/ --docker-env HTTP_PROXY=<user>:<passwd>@<ip>:<port> --docker-env HTTPS_PROXY=<user>:<passw

[2018-06-04 07:11] anjannath commented on #2096
This can be closed too as we have #2429 and #2291 is merged now.

[2018-06-04 07:13] cmoulliard commented on #2433
Issue not resolved after doing

[code]

REMARK : Command `minishift ip --set-static` doesn't change the IP address using xhyve and Centos VM ....

[2018-06-04 07:53] cmoulliard commented on #2433
As assigning a static ip address is not possible using xhyve, then I can't use the command proposed with `set-static`.

Here is the trick that we are using with Virtualbox to configure the IP static address

- Configure Eth0 during creation of the VM : https://github.com/snowdrop/openshift-infra/blob/master/virtualbox/build-centos-iso/meta-data#L5
- Trick to use same IP address (= use same lower a

[2018-06-04 07:56] gbraad commented on #2429
I seems the cmdlets do not even honor the non-ASCII characters:

[code]

[2018-06-04 09:14] anjannath opened #2435 "asciidoc error msg appearing in the published docs site https://docs.openshift.org/latest/minishift"
It is only there in the published doc site, could not reproduce it locally.

![screenshot from 2018-06-04 14-43-48](https://user-images.githubusercontent.com/8885742/40908901-b92a9098-6805-11e8-9c60-4b8e3a95a8ae.png)

[2018-06-04 09:40] gbraad commented on #2435
maybe a mismatch with versions? this was published from CI if not mistaken.

On Mon, Jun 4, 2018 at 5:14 PM, Anjan Nath <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-06-04 12:21] LalatenduMohanty commented on #1988
Resolved via #2405

[2018-06-04 12:21] #1988 closed

[2018-06-04 12:32] praveenkumar commented on #2434
@jeusdi you put what you expected for all the proxy settings but did you get all the settings in place?

Also when you says `oc logout` need proxy auth did you use `minishift oc-env --no-proxy` to set the oc binary to path?

[2018-06-04 15:27] egkelly commented on #2432
@anjannath I'm on a corporate network, not VPN though.
@gbraad Adding the --network-nameserver didn't seem to make any difference, HTTP connectivity is still failing with the same errors.

[2018-06-05 02:00] gbraad commented on #2429
this makes the function `chooseVirtualSwitch` to behave wrongly, as it tries to return all switches using `	stdout, err := cmdOut("(Get-VMSwitch).Name")`. This means the returned name will be `Przelas`, instead of our expected and requested: `Przełąś`.

[2018-06-05 02:40] gbraad commented on #2429
Dropped use of https://github.com/gorillalabs/go-powershell/ due to https://github.com/gorillalabs/go-powershell/issues/10

[2018-06-05 02:41] gbraad commented on #2370
This will be resolved with #2429

[2018-06-05 02:42] gbraad commented on #2370
Closing for this reason

[2018-06-05 03:58] fmontaldo3 opened #2438 "minishift 3.9 ansible broker issue"
### General information

  * Minishift version:
    minishift v1.15.1+f19ac09
CDK v3.4.0-2

  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  Hi,

I tried to configure ansible broker on the following way.

oc cluster up --version=latest --service-catalog=true --routing-suffix=172.17.0.1.nip.io --public-hostname=172.17.0.1.nip.io

oc new-project ansible-service-broker
curl -s https://raw

[2018-06-05 04:07] praveenkumar commented on #2438
@fmontaldo3 looks like you are missing some steps on the issue. Following command, you executed on the minishift VM or on the host because as part of minishift we also use `oc cluster up` and this should not be executed in the VM.

[code]

[2018-06-05 04:26] fmontaldo commented on #2438
You are right.

I tried to configure ansible broker on the following way.

oc cluster up --version=latest --service-catalog=true --routing-suffix=172.17.0.1.nip.io --public-hostname=172.17.0.1.nip.io

oc new-project ansible-service-broker
curl -s https://raw.githubusercontent.com/openshift/ansible-service-broker/master/templates/simple-broker-template.yaml | oc process -n &quot;ansible-service-bro

[2018-06-05 04:32] praveenkumar commented on #2438
@fmontaldo3 This is `oc cluster up` issue so best you can create an issue to https://github.com/openshift/origin/issues or send a mail to openshift-users ML, from minishift point of view we can't have this as support.

Another thing is why you are using `172.17.0.1` as routing suffix on your host, `oc cluster up` automatic create the `127.0.0.1` for local development and that should be worked.

[2018-06-05 09:17] abhaynayak24 commented on #802
Is there any way to export the data in cassandra to an excel file?

[2018-06-05 09:29] fmontaldo3 commented on #2438
I can reprosuce it with minishift start is the same to me. I

El mar., 5 de jun. de 2018 1:32 a. m., Praveen Kumar <
notifications@github.com> escribió:

[2018-06-05 12:37] tomazb opened #2439 "proper way to copy/move .minishift between machines?"
### General information

  * Minishift version: minishift v1.15.1+f19ac09 CDK v3.4.0-2
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. Rsync .minishift between two Linux machines with the same minishift version installed and minishift not running
  2. minishift start

### Expected
Minishift to start VM

### Actual
minishift start
-- Starting profile 'minishift'
-- Checking if reque

[2018-06-05 15:56] tkashem commented on #2107
I used the above workaround `minishift addon apply admin-user` to get by. But login for `system:admin` is still an issue, I believe.

This is what I run into when I try to log in as `system:admin`
[code]

[2018-06-05 16:29] aravindhp commented on #2107
I am running into this issue too. I see a difference in ```~/.kube/config``` between v1.17.0+f974f0c and v1.18.0+756b128. With v1.17, after doing ```minishift start```, if I check ```~/.kube/config``` I see that it has the following section for users:

[code]
If I then delete ```~/.kube/``` and ```~/.minishift/``` and try ```minishift start``` with v1.18, I see the following in ```~/.kube/config``

[2018-06-05 16:36] egkelly commented on #2432
Quick update, I am able to resolve both google.com and an internal corporate website, so the DNS is set up correctly. Could this be a certificate issue?

[2018-06-05 16:40] gbraad commented on #2432
Unlikely. I have seen this issue once, but wasn't able to reproduce.
It felt like it was related to a misconfiguration.

I suspect proxy to be the issue here...

[2018-06-05 19:57] egkelly commented on #2432
It turns out the issue was actually a certificate problem. I discovered this by running a docker pull hello-world and it failed with a "certificate signed by unknown authority"

[2018-06-05 19:57] #2432 closed

[2018-06-06 04:56] praveenkumar commented on #2439
@tomazb this is not how it going to work, you can't put exact `.minishift` directory from one linux box to another and assume it works. `~/.minishift/machine` contains host hypervisor stuff and which atm not ported between the machines.

What you can use is configs, cache ..etc. not everything.

[2018-06-06 04:57] praveenkumar commented on #2439
More info https://github.com/minishift/minishift/issues/1649 and we can close this issue as duplicate.

[2018-06-06 04:57] praveenkumar commented on #2434
@jeusdi does your problem solved or do you mind sharing some info?

[2018-06-06 05:01] praveenkumar commented on #2425
@chema-mengibar Does this issue resolved for you or can you provide the required details?

[2018-06-06 05:50] gbraad commented on #2433
You can not use: `minishift ip --set-static 192.168.65.29`

The command `minishift ip --set-static` is supposed to be used right after the first start. We do not make this behaviour default yet, as we are still testing this and making sure if would work for all drivers. But from the given description, it failed right away on start... this would indicate you have performed a restart, and might also

[2018-06-06 06:04] LalatenduMohanty commented on #2413
Resolved via #2419

[2018-06-06 06:04] #2413 closed

[2018-06-06 06:38] tomazb commented on #2439
@praveenkumar  Thank you for your response. I was hoping it would be that easy since I had compatible environments - including the hypervisor stuff.

[2018-06-06 07:02] anjannath commented on #2439
@tomazb If everything is same (including the user name, because the paths has to match) and you are using kvm, it is possible to migrate to a new host. You just have to recreate the domain in the new host.

1) First dump the domain information `sudo virsh dumpxml <minishift| or_the_profile name> > dom.xml`
2) in the host machine create the domain from the xml file `sudo virsh define dom.xml`
3) `m

[2018-06-06 07:08] anjannath commented on #1649
If we want to have a feature like this the user would like to move his entire set-up (including the vm) as in #2439.

So we can simplify this to just `minishfit export` and `minishift import` and the whole set-up is re-created in the new host. but this has to work for every hypervisor or initially we can support just kvm as it is straight forward. also we can add `--profile` flag to the command to

[2018-06-06 08:14] LalatenduMohanty commented on #2370
Re-opening the issue as https://github.com/minishift/minishift/pull/2437 actually just fixes this. Will close after https://github.com/minishift/minishift/pull/2437 is merged.

[2018-06-06 08:16] gbraad commented on #2370
@LalatenduMohanty I'll modify #2437 to use this issue instead, and recreate an issue with docker/machine to track the remaining work (we already have one for machine-drivers/machine?).

[2018-06-06 08:44] pivan9911 opened #2440 ".Error dialing TCP: ** connectex: A connection attempt failed because the connected party did not properly respond"
### General information

  * Minishift version:  v1.18.0+756b128

  * OS:  Windows 10

  * Hypervisor:  Hyper-V /

### Steps to reproduce

  1.   minishift stop
  2.   minishift delete --force
  3.   minishift --memory 2G --show-libmachine-logs -v5 start

### Expected
I was  hoping it would start,  and  minishich- command would work
  e.g.     minishift ssh -- docket ps

### Actual
I'm getting pro

[2018-06-06 09:34] jorgemoralespou commented on #1649
I don't think the purpose of this issue is to clone a profile, VM included,
but to clone profile's config for reusability.

[2018-06-06 10:41] #2290 closed

[2018-06-06 10:47] piomin commented on #884
I've got the same problem for minishift. It has been solved after installation of default addons:
$ minishift addons install --defaults

[2018-06-06 13:09] pivan9911 commented on #2440
I have set the Virtual Proxy to External, as in Picture.
![hyperv_external](https://user-images.githubusercontent.com/13240295/41039712-9aa0fc8e-699a-11e8-8115-f12038de3695.JPG)

And restarted minishift, with better luck.

Now I'm getting:
\Users\openshift> minishift ssh -- docker ps
Command failed: dial tcp 172.17.4.98:22: connectex: No connection could be made because the target machine actively

[2018-06-07 05:42] anjannath commented on #1649
@jorgemoralespou Yes.. initially i thought #2439 is a duplicate of this one so i mentioned. In #2439 the user wanted to move the profile (vm) also, in that case these are not duplicates...

[2018-06-07 10:51] bhaab01 opened #2441 "et is"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.
  2.
  3.
  4.

### Expected

### Actual

### Logs

You can start Minishift with `minishift start --show-libmachine-logs -v5` to collect logs.
Please consider posting this on http://gist.github.com/ and post the link in the issue.

[2018-06-07 11:04] praveenkumar commented on #2441
Closing this because it doesn't have any info.

[2018-06-07 11:04] #2441 closed

[2018-06-07 13:49] yanngit commented on #2107
I'm having the same issue! Is there any workaround because I really need to get cluster scope admin rights...

[2018-06-08 00:49] ericxinzhang commented on #1587
I have been facing same problem, stuck for a while and feel really frustrated.

My environment:
- Domain-joined Windows 10
- Docker Toolbox
- minishift v1.18.0+756b128
- WIFI Network connection with proxy
- Symantec Endpoint Protection

Error (DEBUG without obvious error are omitted):
[code]

I also tried at home using WIFI but without proxy, same error. Will give it a try by plugging into a cable

[2018-06-08 00:54] ericxinzhang commented on #1381
I have been facing same problem, stuck for a while and feel really frustrated.

My environment:
- Domain-joined Windows 10
- Docker Toolbox
- minishift v1.18.0+756b128
- WIFI Network connection with proxy
- Symantec Endpoint Protection

It's worth mentioning that I am able to run minikube successfully using the same computer and configuration.

Error (DEBUG without obvious error are omitted):
[cod

[2018-06-08 01:39] gbraad commented on #1381
This is likely caused by Symantec. Can you try without SEP enabled?

[2018-06-08 01:40] gbraad commented on #1587
Please, do not double post errors/reports

[2018-06-08 01:49] ericxinzhang commented on #1381
Thanks @gbraad. I am only allowed to disable SEP for a short while and did do that when running minishift, no luck. I also had checked SEP logs, didn't find obvious block action logs. I also used wiresshark to inspect the network traffic but had no valuable findings yet.

[2018-06-08 08:20] #2143 closed

[2018-06-08 08:35] gbraad commented on #2425
Windows 8.0 does not come with PowerShell preinstalled

[2018-06-08 08:50] gbraad commented on #2425
I suggest you to use something like `ver.exe` or `wmic os get Caption /value` instead, as these commands work without the use of PowerShell. Only since Windows 8.1 PowerShell came pre-installed.

[2018-06-08 09:29] anjannath commented on #2425
@gbraad I was unaware of it, Thanks, will change it.

[2018-06-08 09:46] LalatenduMohanty commented on #2439
@praveenkumar It is not a duplicate as @tomazb wants run rsync between two machines or .minishift.

[2018-06-08 10:28] LalatenduMohanty commented on #1803
Resolved via #2436

[2018-06-08 10:28] #1803 closed

[2018-06-08 12:17] thomasmckay opened #2442 "oc login system:admin prompting for password"
### General information

https://github.com/minishift/minishift/pull/2422

After _minishift start_ against a centos7 vm, _oc login system:admin_ is prompting for a password.

Logs seemed to be without error, including this:
[code]

[2018-06-08 15:20] #2115 closed

[2018-06-08 15:20] #2151 closed

[2018-06-08 15:20] #1674 closed

[2018-06-08 16:54] ryanpetrello opened #2445 "minishift start fails contacting Github to download oc"
I'm encountering a really odd issue w/ a fresh minishift install on OSX w/ xhyve; when I `minishift start`, the oc download fails.

  * Minishift version: minishift v1.17.0+f974f0c
  * OS: macOS High Sierra 10.13.3
  * Hypervisor: xhyve

### Steps to reproduce

[code]

Github appears to be reachable:

[code]

### Expected

`oc` is downloaded and minishift starts

[2018-06-08 17:32] robin-owen commented on #2435
This is interesting -- I can't recreate this locally, either, and the error that's being produced doesn't make any sense to me.

Looking into it a little bit, it seems that some older versions of Asciidoctor are known to produce these kinds of messages when using `include`, but in this case, we're not using that directive in an unusual way at all.

[2018-06-10 22:09] slinkydeveloper commented on #2121
I have this bug with my italian locale: `LANG=it_IT.UTF-8`
The workaround of running minishift commands prepending `LANG= ` works

[2018-06-11 04:03] praveenkumar opened #2446 "Create system tray for minishift"
Extracted from @marekjelen Message.

Stumbled upon these two tools today

http://www.hammerspoon.org/go/#simplemenubar
https://github.com/matryer/bitbar

With both of them, it might be relatively easy to pull together POC of MiniShift with Docker for Mac UX. Including setting Minishift the default Docker daemon for your machine, etc.

[2018-06-11 06:42] gbraad commented on #2143
I do not believe we should introduce any binding directly into our code.
In future steps, we will move this pre-check into the drivers anyway

[2018-06-11 07:11] LalatenduMohanty commented on #2180
This still needs to be documented.

[2018-06-11 07:14] LalatenduMohanty commented on #2197
@gbraad What is the intent behind the test? Is it only to make sure minishift works well with a registry mirror?

[2018-06-11 07:31] LalatenduMohanty commented on #2435
@robin-owen I too can not reproduce this locally. However I do not see this on every page of Minishift documentation. It seems to be result of

[code]

[2018-06-11 07:52] codependent opened #2447 "How to install metrics on minishift cluster"
### General information

  * Minishift version: minishift v1.16.1+d9a86c9
  * OS: macOS
  * Hypervisor: xhyve

I haven´t found any information about how to install metrics on minishift. Apparently there used to be a flag `--metrics` that you could use at cluster start to provision the necessary pods, but it is not valid anymore.

### Steps to reproduce

`minishift start`

[code]

### Expected
Metr

[2018-06-11 07:54] containscafeine commented on #2107
Removing .minishift and .kube directories do not help. It's weird that right after you get the message -
[code]
when you try to log in as system:admin, it won't let you -
[code]

[2018-06-11 08:01] LalatenduMohanty commented on #2107
@containscafeine and others Do you have `admin-user` add-on enabled in your setup?

[2018-06-11 08:03] LalatenduMohanty commented on #2442
@thomasmckay It seems to be a duplicate of #2107. I guess you had `admin-user` add-on enabled right?

[2018-06-11 08:15] LalatenduMohanty commented on #2107
Here is the work around

[code]

[2018-06-11 08:20] LalatenduMohanty commented on #2447
@codependent We found that the `metrics` support in `oc cluster up` (which Minishift also uses) is broken from many releases and hence we removed it from Minishift. It was also experimental in Minishift. You can directly pass required flag to "oc lcuster up" as mentioned below.

`$ MINISHIFT_ENABLE_EXPERIMENTAL=y minishift start --extra-clusterup-flags "--metrics" ` [1]

[1] https://docs.openshift

[2018-06-11 08:33] agajdosi commented on #2445
Hi @ryanpetrello, does the issue persist or was it just one time network problem? As workaround you can download the `oc` binary manually and put it into right place in Minishift home directory, in your case probably: `~/.minishift/cache/oc/v3.9.0/darwin/oc`.

[2018-06-11 08:35] LalatenduMohanty commented on #2435
I see same issue in https://docs.openshift.org/latest/minishift/using/experimental-features.html#set-fixed-ip

[2018-06-11 08:45] codependent commented on #2447
@LalatenduMohanty Thanks for your quick answer. I have tried that command and the cluster starts after a while. However as you say the metrics infrastructure is broken, there isn't any pod in the openshift-infra namespace.

Do you know if there's any open issue in which someone is taking care of it? Any hope we'll have this fixed any time soon?

[2018-06-11 09:00] gbraad commented on #2197
yep, as it can aid in a disconnected scenario, but also a common usecase in slower and/or restricted networks; like corporate or China

[2018-06-11 10:03] #2196 closed

[2018-06-11 10:14] robin-owen commented on #2435
@LalatenduMohanty Yes, I'm seeing that as well, but this issue is _very_ confusing to me. We should only be seeing this error if the `include` directive cannot find the `con_static-ip-overview.adoc` file, which is in the same directory as _both_ of the sections which use it. If we're seeing this problem for `con_static-ip-overview.adoc`, we should **also** be seeing it for `variables.adoc` which i

[2018-06-11 11:37] agajdosi opened #2450 "Nightly tests failing as xpaas applications fail to deploy on CentOS ISO"
### General information

  * Minishift version: latest master
  * OS: Linux
  * Hypervisor: KVM

### Steps to reproduce

  1. minishift start --iso-url centos
2. minishift addon apply xpaas
  2. eval $(minishift oc-env)
  3. oc new-app eap70-basic-s2i
  4. oc logs -f bc/eap-app

### Expected

Template eap70-basic-s2i being deployed successfully.

### Actual

[code]

[2018-06-11 12:06] praveenkumar opened #2451 "Remove <v3.7.0 content from registry-route addon"
Since now we have support for major 2 OpenShift releases and that as of now 3.7 and 3.9, current registry-route add-on contains also the lower version hacks which we don't need anymore.

[2018-06-11 12:54] LalatenduMohanty commented on #2450
Root cause for the issue https://lists.centos.org/pipermail/centos-devel/2018-June/016749.html

[2018-06-11 13:28] anjannath commented on #2424
Fixed by #2426

[2018-06-11 13:28] #2424 closed

[2018-06-11 13:30] thomasmckay commented on #2442
@LalatenduMohanty - Yes, I _minishift addon apply admin-user_ after _minishift start_ and can then use the _admin_ user as a workaround. My issue appears to be same as 2107.

[2018-06-11 17:39] ryanpetrello commented on #2445
@agajdosi downloading and manually populating `~/.minishift/cache` works around the issue, but I'm still encountering the reported problem, unfortunately:

[code]

[2018-06-12 01:30] GuilhermeCamposo commented on #2246
There is a configuration on master-config.yaml that describes which registries are allowed.

[code]

The problem is that I don't know how to change this configuration on minishift

[2018-06-12 02:16] gbraad commented on #2447
What more do we need to do here? This is documented...
I suggest closing

[2018-06-12 02:16] gbraad commented on #2447
@codependent issues related to this should be filed on openshift/origin. Many issues are known and filed in their issue tracker.

[2018-06-12 02:20] gbraad commented on #2446
Although I like this, this sounds like the systemtray icon I wanted to add to Windows. This was fired down as being too much DFW-like and being a system-specific binary

[2018-06-12 02:28] gbraad commented on #2445
I do see similar reports for another project:

  * https://github.com/dweidenfeld/plexdrive/issues/287
  * https://github.com/dweidenfeld/plexdrive/issues/205

Are you using Brew? How did you install the version of Minishift?

[2018-06-12 02:33] gbraad commented on #2440
It is very likely a networking/firewall issue. I do not know much about McAfee, so can't help you there...

[2018-06-12 02:40] gbraad commented on #2440
Note: The Hyper-V is set on "Private-network". will ONLY work if you also provide a local DHCP server yourself, or start minishift with the Static IP assignment, `--network-ipaddress`, `--network-nameserver`, etc

[2018-06-12 02:43] gbvikas opened #2453 "minishift openshift config set --patch doesnt work for setting default project template with Quota"
### General information

  * Minishift version: minishift v1.17.0+f974f0c .. 3.9
  * OS:  macOS
  * Hypervisor: VirtualBox

### Steps to reproduce

  1.  Create a new project default template using `oc create -f <template-name>`
[code]

  2. Run below command to patch openshift:
[code]

### Expected

Patching should be successful

### Actual

Patching OpenShift configuration '/var/lib/origin/opens

[2018-06-12 02:54] gbraad commented on #2439
the issue is that libvirt keeps it configuration in `/etc/libvirt` for networking, and config files in `/var/libvirt` AFAIR. Therefore you have to 'export' the VM, and keep the IDs identical. but why do this in the first place?

The idea would be that a VM, especially also Minishift, should be treated as ephemeral or stateless as possible. I would suggest to use image export and scripts to reprodu

[2018-06-12 03:01] gbraad commented on #2439
If you want to `rsync`, you should sync the actual content of the VM persistent disk. This is mounted on the VM as `/dev/sda`, and this file lives inside the `.minishift/machines` folder. (Note: this means you need to still do an initial setup of the VM).

[2018-06-12 03:02] gbraad commented on #2439
BUT...

... you should be aware that you NEED to be sure to get the same IP address on either of the instances, as without this, the certificates are invalid and cause the startup to fail. And, at the moment there is no way using KVM to make the IP address static... as the driver relies on DHCP.

[2018-06-12 06:41] LalatenduMohanty commented on #2451
Resolved via #2452

[2018-06-12 06:41] #2451 closed

[2018-06-12 09:07] LalatenduMohanty commented on #392
Resolved via #2422

[2018-06-12 09:07] #392 closed

[2018-06-12 12:13] ryanpetrello commented on #2445
I installed minishift by downloading it from https://github.com/minishift/minishift/releases and placing it in my path.  I've tried multiple versions from that page, including `v1.18.0` and `v1.17.0`.

[2018-06-12 14:32] gbraad commented on #2445
Do you use brew?

On Tuesday, June 12, 2018, Ryan Petrello <notifications@github.com> wrote:

https://github.com/minishift/minishift/releases and placing it in my path.
I've tried multiple versions from that page, including v1.18.0 and v1.17.0.

https://ci6.googleusercontent.com/proxy/i4IDfKdmK3KH38UABgI5ky8KNnhIlW7kzBnPYRqfl4LM-XynBCNQE5oLwco--_87LzmDpM52FYhFWiJQMJhKQ0ePbwCRKDFGq7_abfITsEDVlEI-a8

[2018-06-12 14:58] #2370 closed

[2018-06-12 16:56] pivan9911 commented on #2440
I changed Hyper-V to "Default Switch",  which is "Internal Network", and now the "minishift start"
failes on:
------------------------------------------
Applying addon 'admin-user':..Error during post cluster up configuration:
Error executing command 'oc adm policy add-cluster-role-to-user cluster-admin admin'.
-------------------------------------------

Command like   "oc get pods"    give error

[2018-06-12 21:30] gbraad commented on #2440
Deployments on HyperV can succeed on either network, as long as correctly
configured. I am mostly working on this and redeploy several times daily as
part of the development.

But... Be sure to use `minishift delete` between changes. I suggest to use
an external virtual switch first. This however needs the network you
connect to to offer DHCP.

During start, please see the progress using `minishif

[2018-06-13 01:16] gbvikas commented on #2453
in correct config issue. not a bug

[2018-06-13 01:16] #2453 closed

[2018-06-13 03:03] gbraad commented on #2096
https://github.com/docker/machine/pull/4509

[2018-06-13 03:05] gbraad commented on #2401
This can be closed, as #2437 should have solved this issue.

[2018-06-13 03:05] #2401 closed

[2018-06-13 03:44] gbraad opened #2454 "Correct the code for default switch check for HyperV"
The environment variable does not exist anymore

https://github.com/minishift/minishift/blob/1426bddcbf7aae0b8fab29dbe28b667a9ae218cb/pkg/minishift/network/settings_windows.go#L43

[2018-06-13 07:55] LalatenduMohanty opened #2455 ""docker pull " information not shown in minishift start output"
### General information

  * Minishift version:  Latest Master or v1.18.0
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1.  $ minishift config set image-caching false
  2.  $ minishift start

### Actual

[code]
### Expected
After the below message we should show when docker pull for OpenShift images is going on.

[code]

Something lik

[2018-06-13 08:27] praveenkumar commented on #2455
@LalatenduMohanty It will not show in real time for sure because now we are using ssh commander to run the `oc` command inside the VM and there is no provision to get that output in a real-time back to host => https://github.com/minishift/minishift/blob/master/pkg/minishift/clusterup/clusterup.go#L99

[2018-06-13 08:34] agajdosi opened #2456 "Typo in preflight checks"
File preflight.go contains a typo: https://github.com/minishift/minishift/blob/1426bddcbf7aae0b8fab29dbe28b667a9ae218cb/cmd/minishift/cmd/start_preflight.go#L62

### Expected

[code]

### Actual

[code]

[2018-06-13 08:39] LalatenduMohanty commented on #2455
@praveenkumar Good point. So real time update is not possible.

[2018-06-13 09:04] praveenkumar commented on #2455
@LalatenduMohanty It is not possible with sshCommader because I don't think it has a channel which buffers a specific chunk of byte back to output which we can read but it mostly executes the process completely and then provides the output.

[2018-06-13 09:40] gbraad commented on #2455
right, sshCommander uses a pull-method to get information; it fires a
command and expects this to return the information (output). It does not
stream the data.

On Wed, Jun 13, 2018 at 5:04 PM, Praveen Kumar <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-06-13 13:10] praveenkumar commented on #2442
After doing some debugging looks like we can't make this behaviour back again since now cluster up happen inside the vm and `system:admin` user created with it along the certs (something like below), there is currently no way we take that outside and update the current config file until we again put a logic to parse and update which might not work in longer term since `~/.kube/config` does contain

[2018-06-13 15:21] agajdosi opened #2457 "Add integration test for --vm-driver generic"
Test should start a VM using --no-provision flag, get its IP and later run `minishift start --vm-driver generic` to the specified IP address.

Test should also focus on some edge cases and possibly problematic aspects of the --vm-driver generic.

[2018-06-13 15:39] pivan9911 commented on #2440
[Minishift_Start4_private.txt](https://github.com/minishift/minishift/files/2098867/Minishift_Start4_private.txt)

[2018-06-13 15:52] pivan9911 commented on #2440
In previous comment is shown log of   "minishift start"

Is it succesfull??     I don't know,?  I would need to see one, to  keep my motivation :-)

In the log.
  failing   "oc get pods"
   User "system" cannot list pods in the
   Which  user   is allowed to do this ??

 failing   "pidof dockerd-current"
is there no docker-daemon ??

Many questions.

Kind regards
  I.P.

[2018-06-14 00:38] gbraad commented on #2440
Hard to follow with all the debug, but likely.

OpenShift server started.

The server is accessible via web console at:
   https://172.31.216.45:8443

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-06-14 00:41] gbraad commented on #1381
I suspect SEP still interferes. I have bad experience with this software.
Will try to make a setup with SEP installed and also see what happens.

Is there any other software installed that might do packet analysis?

On Friday, June 8, 2018, ericxinzhang <notifications@github.com> wrote:

did do that when running minishift, no luck. I also had checked SEP logs,
didn't find obvious block action logs

[2018-06-14 08:01] amitkrout opened #2458 "Stopping minishift instance on remote host throws "Error stopping cluster: generic driver does not support stop""
### General information

  * Minishift version: master
  * OS: macOS
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. minishift profile set foo
  2. export MINISHIFT_ENABLE_EXPERIMENTAL=y
  3. minishift start --no-provision --vm-driver virtualbox
  4. minishift ip
[code]
  5. minishift profile set minishift
  6. minishift start --vm-driver generic --remote-ipaddress

[2018-06-14 08:05] gbraad commented on #2458
I think this is as expected...

[2018-06-14 08:30] praveenkumar commented on #2458
@amitkrout this is expected because we don't want to a remote machine to shutdown and `oc cluster` doesn't have any option for stop.

`minishift delete` on the other hand will do `oc cluster down` in case of the generic driver.

[2018-06-14 08:45] praveenkumar opened #2459 "Add a script to perform prerequisites for remote machine in case of generic driver"
As of now, we have prerequisites from remote machine side before provision it with minishift, such as install Docker, net-tools, and firewalld packages then open required port from firewall those can be easily automated either by ansible or by a script which can run before the provisioner even start.

[2018-06-14 08:57] amitkrout commented on #2458
I am testing the feature on my local setup through multiple profiles so could not realize the cost of shutting down the host.

Working as expected
[code]

Thanks for the info. Will try some more scenarios on remote setup.

Closing the issue.

[2018-06-14 09:00] gbraad commented on #2442
Not completely following the reason why this can't work. what is missing compared to before?

[2018-06-14 10:03] LalatenduMohanty commented on #2442
The issue is we did not have to anything extra to make `oc login -u system:admin` work as `oc` binary was on the host and it was implicitly doing all teh changes in ~/.kube (we were using cluster up on remote docker daemon).  But now we run `oc cluster up` in the VM itself s we need explicitly do changes in kube config to make this work.

@praveenkumar  the issue is that in the output of `minishif

[2018-06-14 10:14] ochaloup commented on #817
I've been hitting this issue `unauthorized: authentication required` time to time. While it helped me using `docker ce` on my Fedora 26 after upgrading to Fedora 28 I've used the solution from @ppalaga, many thanks!

My docker version info on my local machine
[code]
while switching to minishift docker environment the versions diverges. I run minishift 1.18.0.
[code]
Now I downloaded the client in

[2018-06-14 10:17] LalatenduMohanty commented on #2442
Personally I think we need to do code changes to make `oc login -u system:admin` work.

[2018-06-14 10:29] gbraad commented on #2442
I'd rather change the message first.

Changes , as improvement, can follow later

On Thu, Jun 14, 2018, 18:17 Lalatendu Mohanty <notifications@github.com>
wrote:

[2018-06-14 12:27] gbraad commented on #2458
@praveenkumar

well... wouldn't `m stop` have to do `oc cluster down`... while `m delete` should really remove the `/var/lib/minishift` folder on the host ?

[2018-06-14 13:57] amitkrout commented on #2458
@praveenkumar  I am not sure on how ```m delete``` works on the remote host, however, @gbraad  question looks valid to me

[2018-06-14 23:50] ericxinzhang commented on #1381
Hi @gbraad , thank you so much for trying to reproducing the issue. Besides SEP, the other software installed which might impact network is the VPN tool - Citrix GetScaler Gateway Plugin. But I was not using VPN at all when trying the minishift.

Just for my curiosity, what the system is doing when it prints "Launching plugin server for driver virtualbox" message? Which server / port it is trying

[2018-06-15 01:12] gbraad commented on #1381
At the moment we have issues with VPN tools when they claim a 0/0 route
(catch-all).

At that point, it starts a driver on the local machine which communicates
over TCP (localhost:[a port]), to the docker/machine library. This is how
the library operates, but this means that a local connection (if catch-all
routes exist), will not be reached.

On Fri, Jun 15, 2018 at 7:50 AM, ericxinzhang <notific

[2018-06-15 06:03] #2209 closed

[2018-06-15 09:23] praveenkumar commented on #1796
@gbraad I looked a bit more in the details and as I said https://github.com/minishift/minishift/issues/1796#issuecomment-349553935 only `image-caching` info is part of `config` file which shouldn't be.

Now I am a bit confused where to put that since `allinstances.json` is something applicable across profiles and `minishift.json` applicable till user does not perform delete and `image` config does

[2018-06-15 10:20] praveenkumar opened #2460 "[Generic] minishift delete hangs when remote machine is deleted (manually) which provisioned by minishift"
As of now if you have a remote machine on a cloud provider and before executing `minishift delete` to stop the cluster if you delete that machine first manually then try to execute `minishift delete` from the host will hang because it tries to do `oc cluster down` and machine not available.

We either need to set a timeout for those ssh command or at least put that behind the `force` so that it de

[2018-06-15 10:53] gbraad commented on #2459
There is a difference between 'checking pre-requisites' and 'installing pre-requisites'. We need to be careful about what we provision from minishift. As we need to instruct the user we will install packages on the remote machine. In some cases they might not want this. In that case, a check and a fail/warn would be more appropriate?

[2018-06-15 10:55] gbraad commented on #2454
This needs to be addressed to be correct, however the implementation might even be altered.

[2018-06-15 11:51] agajdosi opened #2461 "Using generic driver should throw an error when --remote-* flags are not specified"
### General information

  * Minishift version: minishift v1.18.0+1426bddc (current master)
  * OS: Linux
  * Hypervisor: generic

### Steps to reproduce

  1. minishift start --vm-driver generic

### Expected

[code]

### Actual

[code]

### Logs

[code]

[2018-06-15 12:00] agajdosi commented on #2459
@gbraad I am not sure if I got @praveenkumar's issue correctly, but I understand it that we could provide an Ansible playbook as part of Minishift, but it will be the user who will need to execute it. And plus Minishift should check for the packages and configuration needed in beginning of `m start --vm-driver generic`.

[2018-06-15 12:07] cmoulliard commented on #2459
Ansible playbook (packaged as a docker image) could also be executed using a k8s job included in an minishift addon ;-)

[2018-06-15 13:13] gbraad commented on #2459
That is the point. We do need to check for pre-requisites, but when
mentioned to install this as part of the provisioner; we have a problem.

Pre-flight checks happen BEFORE the start or before the provisioning. So we
have the be clear what we need to do. I do not think a k8s job would help
here ;-), as this is before standing up OpenShift, but having the user do
it might not be the expected appro

[2018-06-15 16:32] robin-owen opened #2462 "Modularize documentation"
This will involve reworking how the documentation is written and arranged while preserving the overall structure of the assembled documentation. This effort should allow us to create documentation which is easier to expand, modify, and maintain.

From a high level, we need to start breaking the larger documentation sections into small, modular pieces which can be assembled to create the necessary

[2018-06-15 17:09] LalatenduMohanty commented on #1960
Resolved via #2448

[2018-06-15 17:09] #1960 closed

[2018-06-15 18:15] robin-owen commented on #2462
After experimenting with symbolic links, it seems that Middleman cannot work with them when serving the documentation locally (at least on Linux). Generating the documentation with symbolic links to directories works via `make gen_docs` works, but `make serve_docs` does not. As such, using symbolic links causes adverse effects that I did not expect even on platforms which explicitly support them.

[2018-06-15 19:33] robin-owen opened #2463 "Architecture diagram in documentation refers to b2d ISO"
The Minishift architecture diagram in **_docs/source/using/basic-usage.adoc_** refers to the **_minishift_b2d.iso_** file instead of the **_minishift-centos7.iso_** file.

[2018-06-17 18:20] marekjelen commented on #2446
@gbraad this came from discussion with Michal to be able to get rid of DFM in case user wishes to and has minishift installed. The tools mentioned could help to create POC of the UX in reasonable time outside of the minishift itself.

I would say that the end-goal for macOS should be to have `dmg` installation (next to the "download binary" as we do have today) that would provide full end-to-end e

[2018-06-18 05:33] praveenkumar commented on #2459
@cmoulliard But that addon will only be executed once minishift up and running, In our case, this should be part of before even minishift start.

[2018-06-18 05:42] praveenkumar commented on #2459
@gbraad I agree but if a user really wants to provision single node cluster using minishift then those packages are must and should be installed, now we can tell users that these packages are going to install on that remote system and ask for confirmation (one way) or just do it. This is not done by provisioner part because provisioner (as of now) we are consuming is working for both our minishift

[2018-06-18 06:01] praveenkumar opened #2464 "Implement a way to specify an empty value for the variable using Var-Defaults for addon"
As of now, we don't have any capability to specify the empty value for `Var-Defaults` and if I look closely to https://github.com/minishift/minishift-addons/pull/124#pullrequestreview-128642538 conversation looks like it a valid use case and we should have a way to do it.

I am thinking to define a keyword `NULL` or `null` to do it so during the variable parse we check the value and set it as empt

[2018-06-18 06:35] budhrg commented on #2450
@LalatenduMohanty  No response it seems.

[2018-06-18 08:05] praveenkumar opened #2465 "Update prerequisites documentation for generic driver"
As of now, we only have 2 firewall rule added on the remote machine as prerequisites which are not sufficient and need to add local rules also to make the app deployment works as expected.

[2018-06-18 09:50] gbraad commented on #2459
If we need to install packages, we might want to inform the user with a
prompt?

On Mon, Jun 18, 2018, 13:42 Praveen Kumar <notifications@github.com> wrote:

[2018-06-18 09:54] LalatenduMohanty commented on #2465
Resolved via #2566

[2018-06-18 09:54] #2465 closed

[2018-06-18 13:11] nodje commented on #2107
[code]
when using `admin` as a password

[2018-06-18 13:56] #2248 closed

[2018-06-18 14:16] containscafeine commented on #2107
@nodje not sure what you mean, but you need to login as user: admin pass: admin after enabling the admin-user addon to get admin privileges.
On the other hand, you can log in to OpenShift with any user and any password and that account gets created dynamically.
`system:admin` user is a special admin user which is now disabled by default, hence this issue.

[2018-06-18 14:23] nodje commented on #2107
I may be mistaken, but I never had to enable addons and was always able to log as `system:admin` and see system projects.
I had to reinstall minishift cause I couldn't get access to the webconsole anymore, and now I just can't get access to the `system:admin` user anymore.
I can log as `admin`, as `system` but can't see the system projects.

I can enable the `admin-user` addon, it doesn't give me

[2018-06-18 14:49] containscafeine commented on #2107
All of us used to be able to login as `system:admin` previously. They have decided to take that power away from us now, and hence this issue was opened.
Till this issue is fixed or a conclusion is reached, the workaround to become an admin of your cluster is to enable the `admin-user` addon, and then login as user: admin and pass: admin. It won't give you our favorite `system:admin` user, but give

[2018-06-18 15:25] LalatenduMohanty commented on #2107
@nodje AS @containscafeine mentioned this issue got introduced because we changed  how we use the oc binary to provision the OpenShift. We are going to fix the issue and till than the workaround of admin-user add-on should work for you.  Sorry for the inconvenience caused.

[2018-06-19 01:28] gbraad commented on #2462
the copying action would also have it's own issues. Would hardlinks work, or what about a bindmount for the folder? This would also not work on other platforms... :-s

[2018-06-19 01:31] gbraad commented on #2446
@marekjelen this was mentioned during our F2F meeting. If we can avoid having an install procedure, we should not introduce it.

I would like to see an 'end-to-end' experience, but we should also realize the cost of maintenance. If easy, and maintainable, sure... but if it needs large modifications to our deliverance process, we should also investigate how this will work for CDK.

[2018-06-19 01:35] gbraad commented on #2446
A cross-platform solution should be persued instead:

 * https://github.com/getlantern/systray
 * https://dev.to/osuka42/building-a-simple-system-tray-app-with-go-899

[2018-06-19 07:13] LalatenduMohanty opened #2467 "Disable tests in features/addon-xpaas.feature"
Because of https://github.com/minishift/minishift/issues/2450 the nightly and release jobs [1] [2] are failing. Also the root cause needs to be fixed in CentOS (check #2450 for more information), till we have the fix we need to disable the tests to do the v1.19.0 release.

[1] https://ci.centos.org/job/minishift-release/94/console
[2] https://ci.centos.org/job/minishift-release/95/console

[2018-06-19 07:41] praveenkumar commented on #2442
I spend some more time today and there is no way as of now to merge the kubeconfig file on fly. Kubernetes/Openshift uses `KUBECONFIG` env variable to look up and that variable does have a capability to merge, but again this is run by the user.

- https://stackoverflow.com/questions/46184125/one-line-kubectl-command-to-merge-config-file-with-kube-config
- https://kubernetes.io/docs/tasks/access-ap

[2018-06-19 08:13] gbraad opened #2469 "Break up `copying oc binary from container image` into a separate steps for pull and create"
Current step:
[code]

performs both the `pull` and `create` (to copy) the `oc` binary.

It would be better for error handling to break this up in two separate steps.

[2018-06-19 08:18] LalatenduMohanty commented on #2467
Resolved via #2468

[2018-06-19 08:18] #2467 closed

[2018-06-19 08:36] praveenkumar opened #2470 "Provisioning Minishift against remote RHEL machine not possible"
Since we are using minishift provisioner for each rhel/fedora/centos for remote provision and to check that we put following logic in the detector.go, unfortunately rhel is the id instead `redhat` for RehHat machine :(

[code]

[2018-06-19 08:38] gbraad commented on #2470
This code needs to be refactored by iterating over de possible providers and ask oif they can support this ISO/platform target.

[2018-06-19 08:45] agajdosi opened #2471 "Improve documentation of Godog tags' usage"
In docs there is lack of information about how to add and remove tests from the test run via tags and also how to use AND and OR with tags.

From Godog CLI help:

[code]

[2018-06-19 09:05] LalatenduMohanty commented on #2470
Resolved via #2472

[2018-06-19 09:05] #2470 closed

[2018-06-19 09:14] fabiand opened #2473 "Use 1.1.1.1 instead of 8.8.8.8"
1.1.1.1 might be a little more neutral than 8.8.8.8.

This addr is used in the pre-flight checks.

[2018-06-19 09:16] nodje commented on #2107
Thank you for the details, sorry I wasn't clear enough.
I get that enabling the admin-user addon is a work around, but I'm just surprised I still don't get access to the system "default projects" as shown above:

This is what I get:
[code]
andi would like to get the "classic" list of system projects:
[code]

[2018-06-19 09:19] gbraad commented on #2473
1.1.1.1 does not work for China, however 1.0.0.1 would

[2018-06-19 09:19] gbraad commented on #2473
besides `--network-nameserver 1.1.1.1` can be used

[2018-06-19 09:36] fabiand commented on #2473
Yes, override works - I mainly wondered about the (praivacy respectig)
default.

Thanks for the note about China. 1.0.0.1 then looks better.

[2018-06-19 09:43] gbraad commented on #2473
I do not think we populate the VM with a DNS per default (only DHCP
values), ... right?

[2018-06-19 10:11] robin-owen commented on #2463
In that case, we could also use a generic version for `oc` in the diagram as well. At the moment, we have to do a fair bit of maintenance to ensure that the architecture diagram remains up-to-date -- it would be nice if we can replace each bit of specific information with something more generic.

[2018-06-19 10:30] robin-owen commented on #2462
@gbraad I didn't have any success using hard links, but I haven't tried a bindmount. I'll try that today and see if that works -- thanks for the suggestion. :)

[2018-06-19 10:39] amitkrout opened #2474 "Any other image is deleted if exported earlier before any default images"
### General information

  * Minishift version:
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. minishift start
[code]
  2. minishift image list
[code]
  3. minishift image export alpine:latest
[code]
  4. minishift image list
[code]
  5. Wait till all the default images to be exported
  6. Then image list should contain "alpine:late

[2018-06-19 12:54] jorgemoralespou commented on #2446
@gbraad I disagree with you, but I understand your concerns.
The slicker the experience is, the more adoption we'll have. We tend to live in our small world of technical people that know how to do things and troubleshoot problems, but this is not really our biggest audience, and by no means, these are the people spending $$ on our tools. If we want to take OpenShift to the next level, we need mini

[2018-06-19 13:45] cmoulliard commented on #2446
I also agree to the opinion that if we want compete with `Docker Tools - k8s` on Mac/Win, then we need such OS Desktop integration about Minishift where we could select the version of ocp to be used/installed, profile to be used to provision ocp post installation (jenkins, jaeger, nexus, launcher, ...)

[2018-06-19 14:03] gbraad commented on #2446
This was a team decision... although I had worked on a plugin for Windows (system tray integration with feedback on running instances and possible integration with Visual Studio (NOT VSCode)), I didn't get the bandwidth to work on this. As a team we decided other features and functionality had a higher priority.

[2018-06-19 14:38] budhrg commented on #2462
:+1:  Good point.

Nothing to worry. Majority of users don't care.
Similar to our old issue [Unable to compile/build binary in Windows without cygwin](https://github.com/minishift/minishift/issues/1037).

[2018-06-19 14:47] fabiand commented on #2473
Not sure, at least the pre-flight checks do mention that addres:

[code]

[2018-06-19 14:57] gbraad commented on #2473
This value can be changed and is described in the documentation.
It is purely an endpoint we know that can be reached bij the majority of
people.
However, in an enterprise environment this will certainly/mostly fail.

[2018-06-19 14:58] fabiand commented on #2473
Alright, I merely proposed to use a more pivacy respecting endpoint.

That beeing said, feel free toclose this issue.

[2018-06-19 15:06] gbraad commented on #2473
@minishift/minishift-dev WDYT?

[2018-06-19 15:13] gbraad commented on #2446
@praveenkumar @marekjelen Something the original messge does not address; what kind of information would you like to show?

[2018-06-19 16:36] praveenkumar commented on #2473
@gbraad That's right, And since we already have to option to put as user required, I would say we can just close it. Also ` Pinging 8.8.8.8 ... OK` this is only for checking the connectivity not setting anything as part of a nameserver.

[2018-06-19 16:59] jorgemoralespou commented on #2446
@gbraad, this is my list, although you didn't ask me ;-)

- The status for the active profile (running, stopped)
- The profiles you have
- The state for such profiles (running, stopped)
-- Actions on a profile: (start, stop, set active, config, addon apply,
cache images,...)
- Easy access to configure a profile (wizard or config screen for config
set XYZ ) in an easy way
-- To enable/apply an addo

[2018-06-19 17:14] dagniel commented on #2107
Hello all!

I'm not sure about the admin-user addon and its capabilities; for me it didn't work.

As a workaround for this issue I connected to the openshift-origin pod and added the cluster-admin user role to the standard "developer" user. This effectively turns developer into cluster admin with full access to infrastructure projects/namespaces.

with minishift VM up and running:
`minishift ssh #

[2018-06-19 21:35] svenstaro commented on #2276
I believe this is still relevant but I can't do it without some guidance.

[2018-06-20 01:36] gbraad commented on #2474
what is the value of the list after a `minishift stop` and `minishift start` ?

[2018-06-20 02:11] svenstaro opened #2475 "Protocol-less proxies are accepted by the command line parser but are not used"
### General information

  * Minishift version: 1.19.0
  * OS: Linux
  * Hypervisor: VirtualBox

### Steps to reproduce

    HTTP_PROXY=1.1.1.1 ./minishift start --vm-driver virtualbox

### Expected

Should use the proxy and output

    -- Using proxy for the setup

### Actual

Doesn't use the proxy and doesn't output

    -- Using proxy for the setup

It works when you provide the proxy like

[2018-06-20 02:22] svenstaro opened #2476 "Add the host interface's IP to the noProxy list"
[Currently, minishift only adds the VM's IP to the noProxy list](https://github.com/minishift/minishift/blob/a039d37ef5e84364a976f3b4b7a07185d202a933/cmd/minishift/cmd/start.go#L205). However, it would also be useful if the machine's host interface IP would be added. We already talked about this on IRC and the minishift team seemed to agree.

[2018-06-20 02:51] gbraad commented on #2476
You might need:

https://github.com/minishift/minishift/blob/17507025610e89fce899a3fe49d3df5aecbd4d37/pkg/minishift/network/settings.go#L200-L208

[2018-06-20 02:58] gbraad commented on #2476
Right, there was a single-line implementation for this: https://github.com/minishift/minishift/blob/17507025610e89fce899a3fe49d3df5aecbd4d37/pkg/minishift/hostfolder/cifs_hostfolder.go#L46

[2018-06-20 03:01] gbraad commented on #2476
OK... been a while since I wrote it.

[2018-06-20 05:07] amitkrout opened #2478 "minishift status couldn't retrieve proper value of "DiskUsage" from remote host"
### General information

  * Minishift version:
  * OS: Linux (CentOS Linux release 7.5.1804 (Core))
  * Hypervisor: generic

### Steps to reproduce

  1. Start a remote machine ```(CentOS)``` with all these [configuration](https://github.com/minishift/minishift/blob/master/docs/source/using/experimental-features.adoc#run-against-an-existing-machine)
  2. start minishift from the host using generi

[2018-06-20 06:58] praveenkumar commented on #2474
This looks like the background process which starts the image caching by default overwrite the `index.json` since this file is not present and it creates this and keeps it open until those images are cached.

if you look closely the blobs still have data about the alpine images. I will dig it bit deeper.

Here you can see shasum `41229c767e78913442ba2d57886137898ae5b7b968360d0c05c021d9f48626d0` bl

[2018-06-20 07:35] agajdosi commented on #2458
Big :+1: I like this proposal. It is quite understandable behaviour IMHO. WDYT @praveenkumar?

[2018-06-20 07:59] praveenkumar commented on #2458
Sure that makes sense I will put a PR for this.

[2018-06-20 08:41] cmoulliard commented on #2446
I'm also thinking about such list's item

- Check for updates
- Documentation
- Preferences
  - cpu/memory/subnet
  - File Sharing
  - iso images
- Install cloud tool (oc, ...)

**Remark** : During installation, it should be certainly required to inform Mac/Win users if an hypervisor is installed and if this is not the case, then propose to install Virtualbox, ....

[2018-06-20 11:21] gbraad commented on #2478
Remote disk setup is unknown to us. Maybe we should look for the root mount or if /var is mounted somewhere

[2018-06-20 12:01] robin-owen commented on #2462
@gbraad Do you mind elaborating on this? This is the current strategy we already use with **_variables.adoc_**. Are there issues related to this that I'm unaware of?

[2018-06-20 12:19] praveenkumar commented on #2474
Alright found the root cause and this is something we can't even able to fix. Every time

[2018-06-20 12:34] gbraad commented on #2474
What I thought, a race condition as it caches the contents of the file inside the forked process. It should only open the write at the moment it actually starts writing the new values.

[2018-06-20 13:22] gbraad commented on #2474
If not in our scope, at least report upstream.

[2018-06-20 13:55] Valien commented on #2107
So saw this on another issue linked to the system:admin error. You need to run the following to get the admin-use addon to work properly:

1. `minishift addon enable admin-user`
2. `minishift addon apply admin-user`

Once done you should be able to login as admin/admin and see all the cluster projects.

Thanks for the workaround as I was bashing my head against the desk with the system:admin bug.

[2018-06-20 14:11] robin-owen commented on #2274
This is still relevant -- we need this information documented.

[2018-06-20 14:43] gbraad commented on #2478
I have no issue with that... but I'd rather see a more general
approach/reusable method

[2018-06-20 15:44] LalatenduMohanty commented on #2478
+1.  The output fields should be same. If we miss a field then from user point of view it is a bug. Hypothetically it can break any scripts if someone has automated it.

[2018-06-20 15:46] amitkrout opened #2482 "registry route addon fails to apply on minishift instance running on the remote machine"
### General information

  * Minishift version: master
  * OS: Linux (Red Hat Enterprise Linux Server release 7.5 (Maipo))
  * Hypervisor: generic

Docker info on the remote machine
[code]
[code]

### Steps to reproduce

  1. Start a remote machine (RHEL Server) with all these [configurations](https://github.com/minishift/minishift/blob/master/docs/source/using/experimental-features.adoc#run-again

[2018-06-20 16:09] gbraad commented on #2478
If we can not produce a value; either write "Unknown", "N/A", "Not
available", or something similar. Better than leaving it completely out...

[2018-06-20 17:34] #2456 closed

[2018-06-20 19:21] LalatenduMohanty commented on #2478
+1 for `unknown` or `N/A`

[2018-06-20 19:37] LalatenduMohanty commented on #2475
Interesting , I thought it would work because `NewProxyConfig` called in `handleProxies()` in start.go handles this. But it seems to be not working.

[code]

[2018-06-20 20:07] LalatenduMohanty commented on #2474
Looks like upstream needs to fix it in their code.  +1 for opening an upstream issue. However I was wondering the way we create a child process for exporting the images after `minishift start` if it has a loop hole too.

[2018-06-20 20:10] LalatenduMohanty commented on #2473
+1 for closing it as we are not using 8.8.8.8 for real. It is a cosmetic check to see if we can reach it.  Hence closing it cc @fabiand

[2018-06-20 20:10] #2473 closed

[2018-06-20 20:19] LalatenduMohanty commented on #2471
+1 to add this information (e.g. [1]) because this is not present in Gherkin documentation either.  We should send a PR to Gherkin docs too.

[1] https://github.com/minishift/minishift/blob/master/Makefile#L215

[2018-06-20 20:35] LalatenduMohanty commented on #2464
+1. Wondering how we have not see this till now.  I think if `# Var-Defaults: PROJECT_USER=`  has no value it should be considered no value.

[2018-06-20 20:52] LalatenduMohanty commented on #2463
@robin-owen +1 for generic information. However I think the actual version for cached `oc` version is not causing any confusion for users.

[2018-06-20 21:05] LalatenduMohanty commented on #2454
@gbraad Can you please add some more context?

[2018-06-21 05:46] praveenkumar commented on #2474
There is no hope hole in the backend process we do. I am not even sure what to file on the upstream for this, we are consuming that a module and for a single process it works as expected, the problem only happen when you run 2 processes and both read the `index.json` at its initial state but once it finished both write back to it. Whichever process finish later will overwrite again that index.json

[2018-06-21 05:48] praveenkumar commented on #2482
This I think should be very hard to fix, we need to add username also as part of addon context, will need to take close look to it.

[2018-06-21 05:57] LalatenduMohanty opened #2483 "Update Xpaas image streams and templates for OpenShift 3.11"
We need to check if we need to update any image streams and templates for OpenShift v3.10.0

[2018-06-21 06:11] amitkrout opened #2484 "Unexpected output of command "minishift image list --vm" on minishift running on the remote host"
### General information

  * Minishift version: master
  * OS: Linux (Red Hat Enterprise Linux Server release 7.5 (Maipo))
  * Hypervisor: generic

### Steps to reproduce

  1. Start a remote machine (RHEL Server) with all these [configurations](https://github.com/minishift/minishift/blob/master/docs/source/using/experimental-features.adoc#run-against-an-existing-machine)
  2. start minishift from

[2018-06-21 06:14] LalatenduMohanty commented on #1327
@minishift/minishift-dev @amitkrout Can we check this again, if we cannot fix this then we can close this issue.

[2018-06-21 06:22] LalatenduMohanty commented on #2175
In the last discussion on this @gbraad has some point around why we should not do this. @gbraad can you please put your view points here.

[2018-06-21 06:26] LalatenduMohanty opened #2485 "Make feature "Run against an existing machine" generally available"
We need to decide when we can move "Run against an existing machine" out of experimental flag.

[2018-06-21 06:28] gbraad commented on #2474
Upstream they should check for the file. Unmarshal to verify contents, but
they should do this again after completion, with an exclusive write lock.
Else this will happen even between two processes that use this structure
(this is not isolated to our use).

On Thu, Jun 21, 2018, 13:46 Praveen Kumar <notifications@github.com> wrote:

[2018-06-21 06:35] gbraad commented on #2454
In the current implementation there is a check for the environment
variable, this has since been removed. This check needs to be updated to
use the config variables...

TBH, this check is actually questionable at the moment as the default
switch should work as expected in the current release of Windows 10 (1803).

On Thu, Jun 21, 2018, 05:05 Lalatendu Mohanty <notifications@github.com>
wrote:

[2018-06-21 06:37] gbraad commented on #2473
OK.

In future we might consider pinging a local address we determine to be part
of the host's network. Till then, this is not an issue.

On Thu, Jun 21, 2018, 04:10 Lalatendu Mohanty <notifications@github.com>
wrote:

[2018-06-21 06:44] gbraad commented on #2274
Plenty of memory was stated as there was a big difference between using b2d
and CentOS.... In order of magnitude, like 4 times. And yes, initially I
think we recommend at least 2G?

However, online hosting uses 1G?!? Which makes expectation and actual usage
a problem.

I would start with 2G+

On Wed, Jun 20, 2018, 22:11 Robin Owen <notifications@github.com> wrote:

[2018-06-21 07:05] gbraad commented on #2175
Each and every commit should undergo the same tests as any other commit.
this is an invitation for problems, as when do you decide it is doc-only?
what if the doc is part of another set of changes? If the changes are part
of the same repo, they should be exposed to the same tests as all the other
content of it...

If it is to speed-up the process, it should be solved in other ways...
improve the o

[2018-06-21 07:28] gbraad commented on #2485
What are the conditions ? ;-)

On Thu, Jun 21, 2018 at 2:26 PM, Lalatendu Mohanty <notifications@github.com

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-06-21 08:03] amitkrout commented on #1327
@LalatenduMohanty Sure, its been a long time since I last check. Will update the latest findings then we can have the final call on this whether to fix it or close it or look for other stable MSA solution as commented earlier.

[2018-06-21 08:11] jorgemoralespou commented on #2483
@LalatenduMohanty in 3.10 there is a component that installs rhel-imagestreams instead of  the centos imagestreams. These includes xPaaS, but also changes the scl ones from centos based to rhel based. Maybe worth looking into it or talking with David.

[2018-06-21 08:49] gunjansharma18 commented on #2182
The issue is not stale even I am facing the same issue with VMBox as a hypervisor as well could someone please help

[2018-06-21 09:00] gbraad commented on #2182
Please describe your issue. Merely a cry for help will not result in a
solution.

On Thu, Jun 21, 2018, 16:49 gunjansharma18 <notifications@github.com> wrote:

[2018-06-21 09:03] praveenkumar commented on #2483
@jorgemoralespou That's good to know and if this is the case we can even deprecate this addon, even our addon we have rhel based imagestream.

[2018-06-21 10:10] jorgemoralespou commented on #2483
@praveenkumar what I meant is that currently, the oc cluster feature also changes the "mongodb, mariadb, perl, python,...." to be RHEL based and not Centos based, so not exactly a fit.

[2018-06-21 11:12] praveenkumar commented on #2484
@amitkrout As we discussed over bjn, we can close this if you are ok with the output now.

[2018-06-21 11:19] praveenkumar commented on #983
@jorgemoralespou Since now we have the addon internal variable capability https://docs.openshift.org/latest/minishift/using/addons.html#internal-addon-variable can you provide a valid use case for pipe or redirection?

[2018-06-21 11:28] praveenkumar commented on #2058
@mhabrnal does https://github.com/minishift/minishift/issues/2058#issuecomment-385286832 works for you? If yes then we might have to update our addon.

[2018-06-21 12:20] #2305 closed

[2018-06-21 13:14] jorgemoralespou commented on #983
@praveenkumar A better user experience :-D
Yes, most of what would be required could be done either by the internal variable or using pipes and redirections with the ssh command, but both options are not user intuitive.

[2018-06-21 14:08] alexellis commented on #2442
I'm completely stuck setting up minishift because of this breaking change. Could anyone point me in the right direction to get this command working on minishift? I also get prompted for a password.

[code]

[2018-06-21 14:10] alexellis commented on #2442
[code]

I can't get past this - following example by @mhausenblas from the OpenShift blog. https://blog.openshift.com/openfaas-on-openshift/

If I leave off the IP I get a different error:

[code]

[2018-06-21 14:18] amitkrout commented on #2484
@praveenkumar Usecae took much longer time than expected due to bad bandwidth, sorry for the delay. As discussed i cleaned up the the docker images from the remote machine. Now ```minishift image list --vm```  looks fine.

However observing wired behavior while applying ```minishift image export alpine:latest```. Wondering how image ```alpine:latest``` automatically get imported in the remote host

[2018-06-21 14:29] LalatenduMohanty commented on #2483
@jorgemoralespou  if `oc cluster up` in Origin by default have RHEL based images in image stream we can not do anything about it. We are fine to have RHEL based images as long as they can be downloaded without any subscription.

+1 we will check.

[2018-06-21 14:44] jorgemoralespou commented on #2483
@LalatenduMohanty it's not by default. If you enable rhel-imagestreams then they will be installed instead of the centos. And just verified it's only for the SCL imagestreams and not xPaaS, so the addon is still required.

[2018-06-21 14:57] LalatenduMohanty commented on #2442
@alexellis Please check the workaround https://github.com/minishift/minishift/issues/2107#issuecomment-396160071 and we are trying to fix the issue asap.

[2018-06-21 14:58] LalatenduMohanty commented on #2442
Closing this issue as a duplicate of https://github.com/minishift/minishift/issues/2107

[2018-06-21 14:58] #2442 closed

[2018-06-21 14:58] LalatenduMohanty commented on #2107
@dagniel Did you follow work around mentioned in https://github.com/minishift/minishift/issues/2107#issuecomment-396160071 ?

[2018-06-21 15:31] alexellis commented on #2107
I have a similar issue here:

[code]

Running `minishift addon apply admin-user` had no effect.

[2018-06-21 17:04] dagniel commented on #2107
@LalatenduMohanty I haven't really used the addon feature and your workaround mentions the "addon enable" **OR** "addon apply" operations.

I've just tested and indeed it works. You first need to enable the admin-user addon, then start the minishift VM and then to apply the addon on the running machine. It didn't work for me as I only ran the enable command.

[2018-06-21 17:21] svenstaro opened #2489 "centos image doesn't start properly when proxies are in use - works on b2d"
### General information

  * Minishift version: 1.19.0
  * OS: Linux
  * Hypervisor: VirtualBox

### Steps to reproduce

Failing:

    minishift start --vm-driver virtualbox --http-proxy=http://51.15.86.88:3128 --iso-url centos

Working:

    minishift start --vm-driver virtualbox --http-proxy=http://51.15.86.88:3128 --iso-url b2d

Also working:

    minishift start --vm-driver virtualbox --iso-ur

[2018-06-21 17:22] svenstaro commented on #2489
The proxy I provided is a random proxy that you can you in order to reproduce the problem but you can use any proxy, of course.

[2018-06-21 20:03] hrishin opened #2490 "Fails to download the ISO : Error caching the ISO"
### General information
Sometimes Minishift is not able to download ISO image. It fails in between. It could be nice to resume the download from the last checkpoint upon retrying.
Also, note that in profile name in log `-- Starting profile 'tutorial'` different from given name `--profile=istio-demo`.  Is it desired behavior? (apologies for mixing two things here)

  * Minishift version: minishift

[2018-06-22 04:21] LalatenduMohanty commented on #2107
@alexellis  Recently we have changed the way we used to provision OpenShift in Minishift hence `oc login -u system:admin` is breaking. However the admin-user creates a separate `admin` user which you can login by running `oc login -u admin` (password is `admin`).  The add-on is will not return error if the admin user already exists. Can you confirm that `oc login -u admin` works for you?

[2018-06-22 04:23] LalatenduMohanty commented on #2107
@dagniel  If you enable an add-on before `minishift start` it automatically runs after the `start` and you do not have to run `apply` explicitly. It is similar to systemd commands i.e. if you enable a service after machine start it automatically runs it.

[2018-06-22 07:24] LalatenduMohanty opened #2491 "Update the ROADMAP.adoc"
It has been sometime when it was last updated [1] .

[1] https://github.com/minishift/minishift/blob/master/ROADMAP.adoc

[2018-06-22 07:54] amitkrout commented on #2489
Able to reproduce the same error
[code]

[2018-06-22 08:34] gbraad commented on #2489
We do test this in CI using the CentOS ISO and KVM: https://github.com/minishift/minishift/blob/master/test/integration/proxy/proxy.go

[2018-06-22 09:01] praveenkumar commented on #2490
@hrishin At this moment, minishift doesn't resume an incomplete download (we might take a look into it when time permits). Meanwhile you can do following.

[code]
Profile issue will have a look but it would be better to have 2 separate issues.

[2018-06-22 09:32] kishansagathiya commented on #2327
@anjannath I am also facing GitHub rate limit error as described [here](https://github.com/minishift/minishift/pull/2352#issue-184927703). I believe that is being done as part of this issue. Is there any way or hack so that I can use minishift before this issue gets resolved?

@LalatenduMohanty I wonder why this is tagged `priority/minor` considering it clearly blocks a user from using minishift.

[2018-06-22 09:35] kishansagathiya commented on #2327
@anjannath
Tried the same thing after some time. Worked this time.

@LalatenduMohanty Now I know why you tagged it `minor` :laughing:

[2018-06-22 09:56] anjannath commented on #2327
@kishansagathiya Better to use an api token. See: https://docs.openshift.org/latest/minishift/troubleshooting/troubleshooting-getting-started.html#github-api-rate-limit-exceeded

[2018-06-25 03:36] praveenkumar commented on #2484
@amitkrout That's a expected behavior, why you think it shouldn't show alpine image to `vm` list? When you export an image then it always first pull in the VM using docker pull and then only export happens so when you list the images from the `vm` it will be there, This is not generic specific use case but even without a generic driver, you can check that. Once you confirm please close this issue.

[2018-06-25 05:01] amitkrout commented on #2490
@hrishin  I have seen this issue sometimes with oc download and iso download as well. This happens mostly due to some network glitch while I use my home network, however never seen this in the office network. I would say please try the same operation after some time and meanwhile check your network connectivity.

[2018-06-25 05:07] amitkrout commented on #2489
FYI...
This issue is not observed in CDK 3.4 I mean in minishift 1.15.0.

[2018-06-25 05:17] #2489 closed

[2018-06-25 06:28] anjannath commented on #2157
@riddins So this is only happening for CIFS share, could you please try the SSHFS hostfolder mount and see if you face the issue?
https://docs.openshift.org/latest/minishift/using/host-folders.html#sshfs-2
SSHFS is going to be our default for _host folder mount_ from the next release.

[2018-06-25 06:30] amitkrout commented on #2484
@praveenkumar i spent some time closely to understand the terminology ```export``` and ```import``` w.r.t minishift. I think the assumption I had was wrong. So this is an expected behavior irrespective of driver use. hence closing it.

[2018-06-25 06:30] #2484 closed

[2018-06-25 06:55] LalatenduMohanty commented on #2461
Resolved via #2488

[2018-06-25 06:55] #2461 closed

[2018-06-25 08:37] LalatenduMohanty commented on #2475
@svenstaro Can you please check if this is still an issue?

[2018-06-25 09:09] anjannath commented on #2157
we could add `file_mode` and `dir_mode` as additional parameters for CIFS and `umask` for SSHFS
but i guess you are talking about having a generic option (abstracted) that would work for both. while mounting with SSHFS i can change the permission using `chmod`

Also, changing the permissions using `chmod` not working, is probably dependent on the CIFS server.. below snippet is from the `mount.cifs

[2018-06-25 10:23] anjannath opened #2495 "Print the name of the user used to run the ci jobs"
Expected:
[code]

[2018-06-25 11:16] agajdosi opened #2498 "improve user experience around "minishift openshift config""
### Current situation

To add, remove or modify an array member in OpenShift config, the user right now needs to get the whole config in YAML, convert to JSON, take the array, modify and run `minishift openshift config set --patch <json>` with JSON containing the whole array.

### Proposal

To improve user experience here we should give `minishift openshift config view` option to also print the co

[2018-06-25 12:04] LalatenduMohanty commented on #2478
Resolved via #2486

[2018-06-25 12:04] #2478 closed

[2018-06-25 12:20] praveenkumar opened #2499 "Does not start on MacOS with virtualbox"
Porting minishift https://github.com/openshift/origin/issues/20088 issue from origin to here.

(@sekaijin Wrote)

Hi

[code]

but the virtualbox version is :

[code]

[2018-06-25 13:47] gbraad commented on #2499
this is a well-known issue for which vbox provides tools to restore the
networking setup.
this might be possible to dscribe as part of our faq or troubleshooting.

the rror itself from docker machine describes the possible workaround

On Mon, Jun 25, 2018 at 8:20 PM, Praveen Kumar <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-06-25 17:45] LalatenduMohanty opened #2501 "Formatting of "minishift start" output is broken for generic driver"
Here is the broken formatting

[code]

Complete output :

[code]

[2018-06-25 17:49] LalatenduMohanty commented on #2458
Fixed by #2479

[2018-06-25 17:49] #2458 closed

[2018-06-25 18:23] LalatenduMohanty commented on #2482
Resolved via #2487 https://github.com/minishift/minishift/commit/5999bea2195ac8ac1581be6b39e0c029243549d1

[2018-06-25 18:23] #2482 closed

[2018-06-25 19:36] svenstaro commented on #2475
Still an issue, yes.

Parsing error: `1.1.1.1:8080`
Silent ignore: `1.1.1.1`

[2018-06-25 20:04] cmcconnell1 commented on #2499
Hello All.

RE:

If someone could please provide me info on where this is documented and the correct networking setup (or a URL where I can get this info) that we need to use to rectify this issue and fix our minishift env's, that would be very helpful.

Our minishift environments are broken on Monday AM--when they were working fine late last week.
We have automated scripts which deploy and tear d

[2018-06-26 03:15] gbraad commented on #2499
@cmcconnell1 The issue you are facing are unrelated to the filed issue. You have a changed IP address for the VM; this happens between restarts and an expiring DHCP lease. Your only solution at the moment is to delete the VM and do a restart. However, for future use, we can prevent it by doing `minishift start` followed by a `minishift ip --set-static`

[2018-06-26 03:30] gbraad commented on #2499
standard setup of VirtualBox using a NAT and Host-Only setup. This would be provided on by the VirtualBox installer.

[2018-06-26 04:13] hrishin commented on #2490
@amitkrout do agree here. I think @praveenkumar has given an alternative for such issues.
I think its good to close now.

Thanks, team.

[2018-06-26 04:13] #2490 closed

[2018-06-26 06:09] anjannath commented on #2128
There are a couple of options we can use by default such as.. `Ciphers=arcfour`, `Compression=no`, `cache=yes` mostly these will improve performance.

[2018-06-26 06:37] anjannath commented on #2124
Closed via #2494

[2018-06-26 06:37] #2124 closed

[2018-06-26 06:40] #2260 closed

[2018-06-26 06:40] #2259 closed

[2018-06-26 06:53] LalatenduMohanty commented on #2107
Resolved by #2492

[2018-06-26 06:53] #2107 closed

[2018-06-26 08:07] anjannath commented on #2128
The `--options` flag work will be done as part of #2157

[2018-06-26 08:41] gbraad commented on #2107
The new release would be two weeks from now.
We are looking into doing a minor release... @lalatenduMohanty are we going
ahead with this?

[2018-06-26 09:31] LalatenduMohanty commented on #2485
Resolved via #2496 https://github.com/minishift/minishift/commit/ddf020b225c33e19b41af5f80ea41eb2304ae07c

[2018-06-26 09:31] #2485 closed

[2018-06-26 09:38] LalatenduMohanty commented on #2107
@gbraad @nilarte Yes, it is released as part of https://github.com/minishift/minishift/releases/tag/v1.20.0.

[2018-06-26 10:56] praveenkumar commented on #2464
@LalatenduMohanty We have a `varDefaultsCheck` function which actually there to make sure user put correct convention about the var defaults which will be `key=value` if we disable that check that means if a user misses specifying the value which he should've then his addon might configure something which not intended to do. I think it good to be explicit instead of implicit about the value of var

[2018-06-26 12:02] praveenkumar opened #2506 "Hostfolder mount fails with sshfs if 2022 port not open on the host firewalld"
[code]
We should improve the below error message
[code]
[code]

[2018-06-26 12:07] anjannath commented on #2506
You can also change/set the port for the SFTP server, there's a config option for this: `hostfolders-sftp-port` I think the docs already mention this.

[2018-06-26 12:08] praveenkumar commented on #2506
@anjannath but whatever port you chose should be allowed by the firewall, does docs mention this, if yes link please?

[2018-06-26 12:11] anjannath commented on #2506
@praveenkumar Not with instructions for how to enable it. Just a _Tip_ mentioning that firewall should allow comm. to this port.. I can't link to it as it is not a section.. it under this section:
https://docs.openshift.org/latest/minishift/using/host-folders.html#mounting-host-folders

[2018-06-26 12:14] finp commented on #1287
any update on this issue?

[2018-06-26 14:41] praveenkumar commented on #2058
@davidkarlsen @mtttcgcg @xsuchy Can anyone of you folks let us know if https://github.com/minishift/minishift/issues/2058#issuecomment-385286832 works for you, if not we need to look much deeper?

[2018-06-26 15:10] mtttcgcg commented on #2058
I would try to test, but first I need to get minishift working again on my machine (win 10/ hyperV). Cluster creation is failing due to https://github.com/minishift/minishift/issues/2279

[2018-06-26 15:25] nilarte commented on #2107
Got it and it fixes "oc login -u system:admin"
Thanks!

[2018-06-26 15:25] praveenkumar commented on #2058
@mtttcgcg please update to 1.20.0 and that would solve this issue for you I hope because now cluster up process is running in the VM.

[2018-06-26 15:36] amitkrout commented on #2499
Unable to reproduce the issue on same the combination of ```minishift v1.19.0+1750702``` and ```VitrualBox 5.2.12r122591```

[2018-06-26 15:41] davidkarlsen commented on #2058
Not using openshift any longer so I can't tell.

[2018-06-26 15:48] gbraad commented on #2499
@amitkrout it is a combination of stuff happening here. OOTB it is likely good, especially als he reports

It looks like an issue with an update on the OS maybe, or a fault in the vbox setup. Since @cmcconnell1 writes:

I think this is also on ephemeral or otherwise short-lived nodes. I can not with guarantee say which underlying OS is used, but I suspect Windows.

More info would be appreciated,

[2018-06-26 19:57] cmcconnell1 commented on #2499
Hey @gbraad @amitkrout
I'm Running OSX / MACOS without wireless--Wired Gig-E

[code]

Below is the link to a github gist with four test file .out files of minishift start/deploys using `minishift start --show-libmachine-logs -v5`
 two tests for each driver virtualbox and xhyve--one tesst with Cisco AnyConnect VPN client connected and the other with the VPN disconnected.

Interestingly the only com

[2018-06-27 03:31] gbraad commented on #2499
Do not use this... please make sure you have a recent ISO and use `minishift ip --set-static- instead.

[2018-06-27 03:33] gbraad commented on #2499
Also, did you run a recent update for macOS?
Be aware that it is not recommended to have both xhyve AND VirtualBox on the same machine, especially when one of them already runs a VM.

[2018-06-27 03:38] gbraad commented on #2499
[code]

Also, did you run a recent update for macOS? Is this also one machine or reproducible on others?

[2018-06-27 03:42] gbraad commented on #2501
[code]

is this also about a possible newline?

[2018-06-27 04:01] gbraad commented on #2498
currently `ViewConfig` in `/pkg/openshift` does a `cat` of the actual config file. No processing on the file is done. I also wonder if we should, since tools exist to convert. We might just have to describe this as documentation? Or find a way to actually get the config from `openshift` directly in JSON format (although internally YAML is used).

[2018-06-27 04:04] gbraad commented on #2475
The validation would need to be refactored to a single implementation. I do think the scheme is needed to avoid confusion with a possible SOCKS option. @minishift/minishift-dev WDYT?

[2018-06-27 04:11] gbraad commented on #2462
if only done as part of the CI, I see no problem. But if you start doing this for more places, and also in the general make, you start to introduce a possible confusion to which file needs to be edited (unless after make all duplication/copies are removed).

But I actually fear that the documentation this way becomes harder to navigate in an unrendered view. I do not see an added value at the mome

[2018-06-27 04:17] gbraad commented on #2460
Isn't this as expected? I do think we should try to perform a reachability check first before attempting to communicate.

  * `IsIPReachable` should probably be done
    * before `start`
    * before `delete`
    * before `ssh`
    * etc.

I believe this issue is more generic. In the case of `unreachable` the user can decide themselves to use `--force` or not.

[2018-06-27 04:35] praveenkumar opened #2507 "Addon verbose flag doesn't show verbose output"
We have broken flag for verbose as of now it shows same what without the flag.

[code]

[2018-06-27 04:40] praveenkumar commented on #2507
This is also a blocker for #1479, I will first put PR for this and then work on the other one.

[2018-06-27 07:08] LalatenduMohanty commented on #2507
`minishift addon list --verbose` used to give output as below before #1958

[code]

[2018-06-27 07:11] xsuchy commented on #2058
@praveenkumar I will let @mhabrnal to re-test this. But it will take few days to get to this.

[2018-06-27 07:16] LalatenduMohanty opened #2510 "Update xpass add-on for OpenShift 3.9.0"
[1] https://github.com/openshift/openshift-ansible/tree/release-3.9/roles/openshift_examples/files/examples/v3.9

[2018-06-27 08:35] praveenkumar opened #2511 "[POC] Try to see how can upstream and downstream can be converged."
As of now, we have only 2 factor which separates the upstream from downstream.

1. oc client binary for OCP.
2. RHEL ISO.

We now know the location from we can get the oc client binary for OCP [1] and use it. Only thing we have to figure it out about downloading the RHEL iso from the developers.redhat.com since that also recently revamped so hope we can use direct API to get it and tell the user a

[2018-06-27 09:08] gbraad commented on #2511
@praveenkumar are you sure you use the right word? to converse is synonym to communicate.
converge or convert?

[2018-06-27 09:12] praveenkumar commented on #2511
I should converge.

[2018-06-27 10:03] gadieichhorn opened #2513 "Disconnect from minishift on fedora"
### General information

  * Minishift version: 3.7.1
  * OS: Linux  Fedora 28

I connected to minishift but now I want to disconnect and return to work on my local docker client/daemon

I dont see docker "default" in my docker-machine ls

is there a minishift command to reset the docker ENV to the defualt?

printenv | grep DOCKER
DOCKER_CERT_PATH=/home/geichhorn/.minishift/certs
DOCKER_TLS_VERIFY

[2018-06-27 11:07] praveenkumar commented on #2513
@gadieichhorn below is what you need.

[2018-06-27 11:10] praveenkumar opened #2514 "Add anyuid.remove for anyuid addon"
Recently talking with `che` developer I found it's not easy to remove the anyuid addon once we enable it so now user has to delete the current cluster and start again which is not a good user experience.

[2018-06-27 11:12] gadieichhorn commented on #2513
thanks @praveenkumar ... didnt work

[geichhorn@com dcb]$ minishift docker-env -u
unset DOCKER_TLS_VERIFY
unset DOCKER_HOST
unset DOCKER_CERT_PATH
# Run this command to configure your shell:
# eval $(minishift docker-env --unset)
[geichhorn@com dcb]$ eval $(minishift docker-env --unset)

[geichhorn@com dcb]$ docker ps
Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docke

[2018-06-27 11:37] praveenkumar commented on #2513
@gadieichhorn I am confuse here are, do you want to connect your system docker daemon (fedora host) or something else :(

For you, fedora host you make sure run the docker service up and running. `systemctl start docker` and then try `sudo docker images`. If you want something else then you need to add the specific environment.

[2018-06-27 11:53] gadieichhorn commented on #2513
@praveenkumar  I had all this working, once I connected to minishift I cannot go back to my local daemon.

I reinstalled docker so now I have this running, shame tere is no ieasy way to connect to local docker...

[2018-06-27 11:53] #2513 closed

[2018-06-27 12:34] praveenkumar commented on #2513
@gadiechhorn you don't need to reinstall, if you open a different tab in your terminal or a new terminal then your default docker env is set as expected. minishift do correctly what it suppose to do as part of unset.

[2018-06-27 13:23] gadieichhorn commented on #2513
@praveenkumar will try it next time, I even rebooted and this didnt work.

[2018-06-27 13:55] gbraad commented on #2513
This sounds like an issue in your own setup. This is unrelated to minishift.
Docker on your local host is/was likely misconfigured or not available,
especially since you needed a re-install.

Minishift runs isolated from your local Docker and we do not modify any
settings for that Docker.

[2018-06-27 13:56] praveenkumar commented on #2058
@xsuchy Sure, since @mhabrnal filled this issue so we want to make sure if some action we required from our side.

[2018-06-27 14:05] gadieichhorn commented on #2513
1. I use docker all day long on local or using docker-machine remote builds. Never had any issue like this on Fedora before.
2. When connected to docker machine after I close the terminal my local docker is accessible again.
3. after closing minishift terminal I could not access local docker again.

maybe I am using minishift wrong ? ;)

@gbraad  How would you subggest I connect to minishift after

[2018-06-27 21:07] cmcconnell1 commented on #2499
Hello @gbraad @amitkrout

Please note that by decrementing the **Openshift version** back to **v3.7.2** the  virtualbox driver, minishift start/provisioning with VPN active, etc., all work again.

Hope this helps.
Details below:
[code]

VPN Active
[code]

OSX routes for minishift IP range
[code]

[code]

[2018-06-28 00:21] gbraad commented on #2499
It might have been a combination of several things... I looked like the
networking was not stable (MAC leases expiring, or missing the right setup
or even conflicting with other hypervisors). Keep an eye on it... if it
happens again, add info to this issue or open a new one.

[2018-06-28 04:53] praveenkumar commented on #2499
@sekaijin for you is it still the issue or resolved?

[2018-06-28 05:53] praveenkumar commented on #2439
@minishift/minishift-dev Do you folks still think we should keep this issue open, I don't feel that we can put an effort in this but #1649 is what currently doable.

[2018-06-28 05:55] praveenkumar commented on #2421
@santosh3702 We now have a way to use minishift (v1.19.0) and provision existing VM https://docs.openshift.org/latest/minishift/using/experimental-features.html#run-against-an-existing-machine can you try that and let us know if that work and then close this issue?

[2018-06-28 05:57] praveenkumar commented on #2433
@cmoulliard Is this still issue for you because I think the command you used to set static IP was not as it should be https://github.com/minishift/minishift/issues/2433#issuecomment-394948120 , If everything now working for you, can you please this issue?

[2018-06-28 06:04] praveenkumar commented on #2254
@anjannath Do you want me to take a look into this?

[2018-06-28 06:29] LalatenduMohanty opened #2518 "Add an integration test for "addon list --verbose""
We need an integration test to prevent breaking of "addon list --verbose", so that we do not repeat https://github.com/minishift/minishift/issues/2507.

[2018-06-28 06:57] anjannath commented on #2254
@praveenkumar Sure, go ahead!

[2018-06-28 06:58] LalatenduMohanty opened #2520 ""minishift addon list --verbose" should have true/false for the `Enabled` field"
### General information
"minishift addon list --verbose" should have true/false for the `Enabled` field

### Expected
[code]
### Actual
[code]

[2018-06-28 07:36] LalatenduMohanty commented on #2510
Resolved via #2512

[2018-06-28 07:36] #2510 closed

[2018-06-28 07:37] LalatenduMohanty commented on #2501
Resolved via #2503

[2018-06-28 07:37] #2501 closed

[2018-06-28 10:02] santosh3702 commented on #2421
So minishift can install on AWS right ,

On Thu, 28 Jun 2018, 11:25 Praveen Kumar, <notifications@github.com> wrote:

[2018-06-28 10:08] anjannath commented on #2421
It is not specific to AWS, minishift can now provision OpenShift on any
remote machine.
You just need to provide the Ip address and the ssh key to connect to the
machine.

Please go through the documentation that @praveenkumar pointed to in the
previous comment.

[2018-06-28 10:13] santosh3702 commented on #2421
Sure I will follow the steps

On Thu, 28 Jun 2018, 15:38 Anjan Nath, <notifications@github.com> wrote:

[2018-06-28 11:12] LalatenduMohanty commented on #2514
Resolved by #2515

[2018-06-28 11:12] #2514 closed

[2018-06-28 11:15] praveenkumar opened #2524 "minishift image export and export all have different behaviour"
As part of the export individual or multiple images, we should append the registry details as part of the image name.

[code]

[2018-06-28 12:08] LalatenduMohanty commented on #1479
Resolved via #2521

[2018-06-28 12:08] #1479 closed

[2018-06-28 12:28] LalatenduMohanty commented on #2506
Resolved #2517

[2018-06-28 12:28] #2506 closed

[2018-06-29 05:06] LalatenduMohanty commented on #2155
Resolved via #2516

[2018-06-29 05:06] #2155 closed

[2018-06-29 09:17] anjannath opened #2526 "Use `subscription-manager list` to check for RHSM registration status"
use `subscription-manager list` instead of `subscription-manager version`
In an unregistered system the o/p `subscription-manager version`
[code]

o/p of `subscription-manager list`
[code]

[2018-06-29 09:40] guattang opened #2528 "Cannot connect to service from within the pod hosting the service"
### General information

  * Minishift version: 1.20.0 (openshift v3.9.0+71543b2-33)
  * OS: Linux (Ubuntu 18.04)
  * Hypervisor: KVM

Note: this is the same issue as #2400, however this issue was closed without the root cause being fixed.

### Steps to reproduce

  1. Deploy any application (eg. nginx with the sample git repository).
  2. Start a terminal in the pod hosting this application.
  3.

[2018-06-29 09:42] gbraad commented on #2524
This is actually as expected? This is related to how the image is stored
using tags/alias. What do you expect?

On Thu, Jun 28, 2018, 19:15 Praveen Kumar <notifications@github.com> wrote:

[2018-06-29 11:56] amitkrout opened #2529 "minishift console should check openshift status instead of vm status"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: generic

### Steps to reproduce

  1. Start a remote machine (Fedora workstation) with all these [configurations](https://github.com/minishift/minishift/blob/master/docs/source/using/run-against-an-existing-machine.adoc)
  2. start minishift from the host machine
[code]
  3. After successful ```m

[2018-06-29 12:18] budhrg commented on #865
@minishift/minishift-dev  final vote.

My vote.
![screenshot from 2018-06-29 17-47-57](https://user-images.githubusercontent.com/1132451/42091868-968cd3b6-7bc4-11e8-8fac-5b26ae25578f.png)

Let's close it :)

[2018-06-29 12:19] budhrg commented on #2182
@gunjansharma18 , could you describe the issue with more debug logs?

[2018-06-29 12:19] budhrg commented on #2195
Closing this issue now. Feel free to reopen it.

[2018-06-29 12:19] #2195 closed

[2018-06-29 12:20] budhrg commented on #2246
HI @coelho-extremosistemas ,

Could you try the suggestion mentioned by @GuilhermeCamposo above?

[2018-06-29 12:21] budhrg commented on #2308
@LalatenduMohanty You pinned this issue. It need to be involved in some milestone. Just a reminder here.

[2018-06-29 12:22] budhrg commented on #2440
Any update here @pivan9911 ?

[2018-06-29 12:22] budhrg commented on #2445
Any update @ryanpetrello  ?

[2018-06-29 12:49] alexellis commented on #2107
Thanks for your help. I'll be trying this again soon.

On Tue, 26 Jun 2018, 18:25 nilarte, <notifications@github.com> wrote:

[2018-06-29 13:02] LalatenduMohanty opened #2530 "Need a way to cache all required images from host"
Usecase:

An user running an application and she wants to cache all the required images, so that she doesn't have to download those from internet again.

At this point this is a spike to see how we can do it.

[2018-06-29 13:03] LalatenduMohanty commented on #2530
@gbraad we had discussed this long ago, please add your comments.

[2018-06-29 15:03] LalatenduMohanty commented on #2469
Resolved via #2522

[2018-06-29 15:03] #2469 closed

[2018-06-29 15:23] jorgemoralespou opened #2531 "Provide a way to configure minishift from a source code repository"
It'll be ideal if we can provide a way to have some minishift configuration along with an application source code so that a minishift profile can be easily configured.

This is the scenario I'm contemplating. When I work on an application I might configure a profile with specific addons, memory, images, etc to improve my productivity. I would like to save this configuration in a file/folder local

[2018-06-29 15:30] LalatenduMohanty commented on #2455
Closing this as it is feasible at this moment.

[2018-06-29 15:30] #2455 closed

[2018-06-29 15:41] jorgemoralespou commented on #2530
I think this is needed, as I sometimes have my images locally on my docker daemon and would like to store them in the minishift cache.Sadly I can't use skopeo as I'm on mac.

[2018-06-29 16:23] jorgemoralespou opened #2532 "Improve speed of caching during export and import"
This is a feature request asking for:

- Improve startup time of a VM when images are cached (import)
- Improve time to export images into a cache

I have recently done some tests on my local laptop I get similar performance pulling the 3 images minishift pre-pulls from the internet (200MB Internet connection) than when copying them from the cache on the local filesystem, which is about 4:20 minut

[2018-06-29 22:04] jlussagnet commented on #872
@linux360 , isn't that what you were asking for => https://github.com/minishift/minishift/issues/2246

[2018-06-30 04:44] praveenkumar commented on #2530
@LalatenduMohanty This running application is in the minishift or in the local docker daemon? because it if is in minishift then the user need to do export before stop/delete the VM or if it is local docker daemon then this is a different game.

[2018-06-30 05:17] praveenkumar commented on #2524
I would expect that it should have the registry as a prefix even user doesn't define it.

[2018-06-30 11:28] gbraad commented on #2524
On docker a locally created image does not need to have the registry
address. Why does the image not have any prefix?

Also, what happens on import? Are all aliases/tags preserved?

On Sat, Jun 30, 2018, 13:17 Praveen Kumar <notifications@github.com> wrote:

[2018-06-30 11:40] gbraad commented on #2531
Pleae consider starting a discussion on the ML

On Fri, Jun 29, 2018, 23:24 Jorge Morales Pou <notifications@github.com>
wrote:

[2018-06-30 12:39] jorgemoralespou commented on #2530
@praveenkumar, this is to populate the cache before you start minishift so image can be retrieved from cache and not from network.

[2018-06-30 23:37] ThomasSchoenbeck commented on #1541
Just to raise your awareness, this is still an issue in minishift version 1.2.0

[2018-07-01 04:19] gbraad commented on #1541
This check can be skipped as workaround

[2018-07-01 12:30] sekaijin commented on #2499
no i've tried the solutions proposed by @cmcconnell1
but that does not solve the problem. the VM does not start
`agoya:minishift-1.19.0-darwin-amd64 jeanyves$ minishift delete -f ; rm -fr $HOME/.minishift
Deleting the Minishift VM...
Minishift VM deleted.
Nagoya:minishift-1.19.0-darwin-amd64 jeanyves$ minishift config set openshift-version v3.7.2
Nagoya:minishift-1.19.0-darwin-amd64 jeanyves$ mini

[2018-07-01 15:54] gbraad commented on #2499
Try restoring the host-only networking setup. Either by the network setup
tool, or an un-install, re-install. (un-install is needed and can be
performed from the disk image).

[2018-07-01 16:11] cmcconnell1 commented on #2499
@sekaijin

FWIW, I did a lot of things that sadly I can't recall ATM.
There was also a file on my MAC `/var/db/dhcpd_leases` that I wiped when I was having issues with vbox--and think that one is in the docs--note that my errors were different than yours tho.

One thing I did for other team members was create this script to cleans / wipes existing vbox cruft and switches over to use xhyve if on MA

[2018-07-01 18:13] anjannath commented on #2439
@praveenkumar I agree, VM s should be treated as ephemeral, we should put out efforts towards #1649
+1 for closing this.

[2018-07-01 18:17] anjannath commented on #2308
I heard @dipak-pawar fixed the issue and got it running, (it was something related to SE Linux AFAIR) can you please confirm?

Also please put the steps you followed to fix it here, so that it can help others as well when they face this issue, and we can probably document it some where as misc.(in the wiki)

[2018-07-02 02:24] gbraad opened #2534 "Remote deployment fails for availability of ss / netstat"
Remote deployment failed when `zsh` is default shell
[code]

if the check was correct, the dependency on `net-tools` would not be needed.

[2018-07-02 02:36] gbraad opened #2535 "Force delete after failing remote deployment does not remove profile"
[code]

Artifacts remain behind and the delete is not performed

[2018-07-02 02:42] gbraad commented on #2534
Actually, the same error happens on bash:

[code]

Note: command `netstat` and `ss` are both available

[2018-07-02 02:59] gbraad commented on #2534
This needs to be fixed for #2496

[2018-07-02 05:21] praveenkumar commented on #2530
@jorgemoralespou Right that I understood but my question is populate the cache from local docker daemon or something else?

[2018-07-02 05:32] jorgemoralespou commented on #2530
Both would be awesome, from local docker demon if available and if not pull
directly to cache. I might not have docker locally.

El lun., 2 jul. 2018 7:21, Praveen Kumar <notifications@github.com>
escribió:

[2018-07-02 05:36] gbraad opened #2536 "Refactor: move DNS configuration templates to dns/localdns.go"
https://github.com/minishift/minishift/blob/f7bd44bdb496fc3d88ea1c29bb67a80a237bd268/pkg/minishift/network/dns/localdns_docker.go#L32-L49

[2018-07-02 06:00] guattang commented on #2528
By 'local pod' I meant the pod running the service to which I am trying to connect to. So, in this case I started a terminal to the Nginx pod and then attempted a curl to the nginx service - which times out (but works from all other pods).

[2018-07-02 06:11] gbraad commented on #2528
How are you curling the pod? using localhost or the IP assigned to the pod?

[2018-07-02 06:32] praveenkumar commented on #2528
Closed by the reporter, we didn't do it.

[2018-07-02 06:36] LalatenduMohanty commented on #2530
@praveenkumar @jorgemoralespou  Here is the workflow I was thinking

1.  Caching images from the Minsihift VM with respect to a running application. For example I am running two applications in Minishift, but I want to save images for one application so that I do not have to download those again next time I do `minishift delete; minishift start`.

However we should address the usecase @jorgemorale

[2018-07-02 06:39] gbraad commented on #2528
I reopened; as this needs to be described or resolved.
Mark this one as a duplicate?

[2018-07-02 06:41] guattang commented on #2528
I close this issue as #2400 is now reopened.

[2018-07-02 06:41] #2528 closed

[2018-07-02 06:42] gbraad commented on #2528
@guattang please add a comment to that issue

This is a duplicate

[2018-07-02 06:55] LalatenduMohanty commented on #2531
@jorgemoralespou I like the idea. Would help sharing the development environment setting with other Minishift users.

[2018-07-02 06:59] jorgemoralespou commented on #2530
@LalatenduMohanty don't understand. Isn't that currently possible with:

[code]

That would do what you say. As long as the image(s) is in the VM this is already possible. What would be required is to cache images that are not on the VM, most likely so that first run of the VM will not pull them but have them provided from cache. So what we would need to do new is to "populate the cache" before a

[2018-07-02 07:06] praveenkumar commented on #397
@jorgemoralespou What we can have is export and import command on the minishift level and profile level.

@minishift/minishift-dev wdyt?

[code]

[2018-07-02 07:10] LalatenduMohanty commented on #397
@praveenkumar Sounds good to me.
I would suggest, lets rename issue to address `export/import` feature .

[2018-07-02 07:18] gbraad commented on #397
We have discussed this before; what are the actual artifacts you can/want
to export?

[2018-07-02 07:29] gbraad commented on #397
I would not like to discuss/consider this in isolation, but involve what is
needed to make #2531 work.

[2018-07-02 07:38] LalatenduMohanty opened #2537 "Message "Pulling the Openshift Container Image . EXISTS" not required when OpenShift image exists"
### General information
I feel `-- Pulling the Openshift Container Image . EXISTS` is not required in the console output when the image already exists.

### Steps to reproduce

  1.  $ minishift start

### Expected

[code]

### Actual
[code]

[2018-07-02 07:40] praveenkumar commented on #397
@jorgemoralespou Right but on the top level if you see this will not going to affect other issues as of now. #2532 improves the overall cache experience though.

[2018-07-02 07:48] praveenkumar commented on #397
[code]

[2018-07-02 07:50] praveenkumar commented on #2532
@jorgemoralespou Import always considers layers so I am hoping that is quite fast once the base images are present, the issue with export as of now or you think even import is also misbehaving?

[2018-07-02 07:52] praveenkumar commented on #2537
@LalatenduMohanty That was specifically what @gbraad asked when I put the PR so I am not sure removing it now make sense?

[2018-07-02 08:04] svenstaro opened #2539 "Small formatting issue with start output when proxy is active"
### General information

  * Minishift version: 1.20.0
  * OS: Linux
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. HTTP_PROXY=<some http proxy> minishift start

### Expected

-- Minishift VM will be configured with ...
   Memory:    2 GB
   vCPUs :    2
   Disk size: 20 GB
-- Starting Minishift VM .......................................... OK
-- Setting proxy information ... OK
-- Check

[2018-07-02 09:03] LalatenduMohanty commented on #2530
IMO that process is cumbersome when you have few images for one or multiple application and I was suggesting that we automate the process for multiple images at one go. Interesting to know that you do not think it is an issue till now.  So if you do not see the need for this now, we can drop the use case.

Sure.

[2018-07-02 09:07] LalatenduMohanty commented on #2526
Resolved via #2527

[2018-07-02 09:07] #2526 closed

[2018-07-02 09:08] praveenkumar commented on #2539
This is a known issue and issue already exist, (@minishift/minishift-dev can someone add the issue number here and close this as duplicate?)

[2018-07-02 09:20] guattang commented on #2400
I also had the same issue - also with Kafka. I assume the workaround described by @ddsrupert would also work in my use-case. However, deploying the exact same configuration in OpenShift Online or in Origin works, so I think this does need to be fixed in Minishift.

The underlying issue can be easily reproduced without the need to deploy the full zookeeper/kafka stack. For example, deploy a nginx a

[2018-07-02 10:34] amitkrout opened #2540 "No status update for "Mounting host folders" in minishift start log"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. Add a host folder (default SSHFS)
[code]
  2. set config value ```hostfolders-automount``` to ```true```
[code]
  3. start minishift
[code]
  4.

### Expected
[code]
### Actual

### Logs

You can start Minishift with `minishift star

[2018-07-02 10:42] LalatenduMohanty commented on #2310
@budhrg Can you take a look if you want to open it. IMO we do not need to fix the issue.

[2018-07-02 11:21] praveenkumar commented on #2530
Right, that's the reason I asked what different implementation we need to do.

@jorgemoralespou To do that we have to use local docker daemon or any other tool which can cache the images before even VM run. That is something completely different from what we have currently.

[2018-07-02 11:48] svenstaro opened #2541 "VM's environment variables are cleared upon restart"
### General information

  * Minishift version: 1.20.0
  * OS: Linux
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. `minishift delete`
  2. `minishift strat --vm-driver virtualbox`
  3. `minishift ssh env | sort > before_restart`
  4. `minishift stop`
  5. `minishift start --vm-driver virtualbox`
  6. `minishift ssh env | sort > after_restart`
  7. `diff before_start after_restart`

###

[2018-07-02 12:53] amitkrout opened #2543 "Add integration test coverage for shell proxy variable"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  This is a integration test follow up issue of #2541

### Expected
Shell proxy variable should be intact after m reastart

### Actual

### Logs

You can start Minishift with `minishift start --show-libmachine-logs -v5` to collect logs.

[2018-07-02 13:44] svenstaro opened #2544 "minishift start --insecure-registry doesn't allow oc new-build to work with insecure registries"
### General information

  * Minishift version: 1.20.0
  * OS: Linux
  * Hypervisor: VirtualBox

### Steps to reproduce

  1. Have a non-default registry called `MY-REGISTRY` somewhere.
  2. Push some base image called `MY-BASE` to it.
  3. Create a local `Dockerfile` that has `FROM MY-REGISTRY/MY-BASE`.
  4. `minishift start --insecure-registry MY-REGISTRY`
  5. `eval $(minishift oc-env)`
  6. `c

[2018-07-02 15:01] benjaminapetersen commented on #2332
Bump to avoid stale.

[2018-07-02 17:41] krisztiankocsis opened #2545 "Docker can't be reused after first start of Minishift"
### General information

  * Minishift version: v1.20.0+53c500a
  * OS: macOS High Sierra 10.13.5
  * Hypervisor: VirtualBox 5.2.12
  * Docker: Docker For Mac App 18.03.1-ce Build 9ee9f40

### Steps to reproduce

  1. Install Minishift
  2. Start the instance with VirtualBox, CentOS image, OpenShift 3.7.2
  3. Setup Docker environment to be reused (copy certificates from Minishift to .docker/machi

[2018-07-02 20:07] jorgemoralespou commented on #2530
I thought that was what was asked in this issue.
With skopeo you can do this as long as we're using one of the supported
storage options, but since skopeo is general purpose and minishift use
cases are limited and we don't really use skopeo but containers/storage
lib, we should do this from within the tool.

[2018-07-02 20:08] jorgemoralespou commented on #2532
I wouldn't say misbehaving but probably under performing.

[2018-07-03 01:38] gbraad commented on #2475
The problem is with `parseProxySpecialChar`, which uses a wrong `sheme` when none is given.

[2018-07-03 04:01] praveenkumar commented on #2545
@krisztiankocsis when say `Login to Docker inside Minishift (succeed)` you mean login to docker hub or any other registry?

[2018-07-03 04:35] krisztiankocsis commented on #2545
No, login to OpenShift Docker Registry inside the Minishift VM. Please check the Gist, you will see the commands, in short:

eval $(minishift docker-env)
eval $(minishift oc-env)
docker login -u developer -p `oc whoami -t` docker-registry-default.192.168.99.100.nip.io

[2018-07-03 05:09] gbraad opened #2547 "Use coredns for use with Minishift"
Example setup
[code]

[2018-07-03 05:12] gbraad commented on #2545
Did you `reboot` the VM of did you use `minishift stop; minishift start` ?

[2018-07-03 05:32] krisztiankocsis commented on #2545
Hi, I’ve used stop and start.

Best regards / Mit freundlichen Grüßen / Üdvözlettel

Krisztian Kocsis
Chief Technology Officer

Optimaster s.r.o.
Druzstevna 8, 94501 Komarno, Slovakia(x-apple-data-detectors://1/1)

Web: https://www.optimaster.eu
Mail: krisztian.kocsis@optimaster.eu(mailto:krisztian.kocsis@optimaster.eu)
Mobile: +36 (20) 561-64-27(tel://+36%20(20)%20561-64-27)

On 2018. July 3. at

[2018-07-03 05:49] gbraad commented on #2547
https://gist.github.com/gbraad/41d69ed4e328102540e824cf5284780b

[2018-07-03 06:36] gbraad opened #2548 "When generic driver is used, minishift should start the docker if it is not running"
When remote deployment using the generic driver failed, it can get stuck on `sudo docker version`. A simple `sudo systemctl start docker` will resolve this, but is never executed.

[2018-07-03 06:40] #2541 closed

[2018-07-03 06:42] praveenkumar commented on #2518
resolved via #2519

[2018-07-03 06:42] #2518 closed

[2018-07-03 07:19] gbraad opened #2549 "Refactor add-on list --verbose test to match exact output"
At the moment, the output of `add-on list --verbose` is matched using multiple statements [1] . It is more readable to test for an exact output per add-on... and where not pssible, just using a regexp for that specific part.

[1] https://github.com/minishift/minishift/blob/master/test/integration/features/cmd-addons.feature#L13-L39

[2018-07-03 07:30] LalatenduMohanty commented on #2548
@gbraad You mean `minishift` should start teh docker daemon if not running.

[2018-07-03 07:35] gbraad commented on #2548
This can happen easily when you want to deploy on a remote instance of CentOS, but you used `/etc/docker/daemon.json` to specify `insecure-registries`, our provisioner will fail... you fix the issue (by removing the file perhaps), but do not restart Docker.
When you redploy/start minishift again it will continually try to use `sudo docker version`, and fails after about 30 times this command (2+ m

[2018-07-03 08:47] gbraad commented on #2537
Why not? This is debug information...

So, in a sense you want to remove the message, but when I do not use image-caching, I would still need a form of debug to determine the right thing happened ... else the following statement (copy) will fail, which brings us back to the original issue.

[2018-07-03 08:47] praveenkumar commented on #2548
@gbraad FYI if you use anything as part of `insecure-registries` to `/etc/docker/daemon.json` and then it is not going to consume it for sure because our current provisioner creates `/etc/systemd/system/docker.service.d/10-machine.conf` which is used for execution.

[2018-07-03 10:18] praveenkumar opened #2550 "Expose image flag of oc cluster up to minishift start command."
As of now, we by default use images which are on the docker hub for minishift and there is no provision for the users if they want to use a different registry then docker hub to pull those images.

A user can enable the experiment flag as of now and the use `extra-cluster-up` flags to accomplish it but this is still not directly facing for users.

Note: This is mostly for our downstream purpose wh

[2018-07-03 10:31] gbraad commented on #2545
on restart, can you do `minishift ssh -- sudo journalctl -u minishift-handle-userdata` ? I expect something in the restart went wrong and certs are not picked up as expected.

[2018-07-03 10:35] krisztiankocsis commented on #2545
This helped: minishift config set insecure-registry 172.30.0.0/16,docker-registry-default.192.168.99.100.nip.io

The internal Docker doesn't know the registry route's certificate (I mean, the OpenShift master CA.pem) so add it to internal trust store or mark it as insecure (should be documented, I guess).

[2018-07-03 10:41] praveenkumar commented on #2545
@krisztiankocsis have you enabled the registry-route addon before using `docker-registry-default.192.168.99.100.nip.io` ?

[2018-07-03 10:58] gbraad commented on #2545
This shouldn't be needed, that is kind of why we are confused about what happen(s/ed). Can you consistently reproduce this after a `m delete` ? What add-ons are enabled; `minishift addons` ? and modified config (`minishift config view`) ?

[2018-07-03 10:59] krisztiankocsis commented on #2545
Yeap, it is enabled, the interesting is that for the first start it works without it, afterwards not.
Please check my Gist:

https://gist.github.com/krisztiankocsis/983e6c31ca94e0be6d1576c3e65075d5

Here is the commands executed, everything, I can always reproduce it after removing the entire Minishift directory, .docker and .kube from home dir.

[2018-07-03 11:00] krisztiankocsis commented on #2545
This is the only missing line, I issued it as the first command:
minishift config set insecure-registry 172.30.0.0/16,docker-registry-default.192.168.99.100.nip.io

[2018-07-03 11:01] krisztiankocsis commented on #2545
Krisztians-MacBook-Pro:~ krisztian.kocsis$ minishift addons list
- registry-route : enabled	P(0)
- admin-user	 : disabled	P(0)
- anyuid	 : disabled	P(0)
- xpaas		 : disabled	P(0)

[2018-07-03 11:01] krisztiankocsis commented on #2545
- insecure-registry                  : [172.30.0.0/16 docker-registry-default.192.168.99.100.nip.io]
- iso-url                            : centos
- openshift-version                  : v3.7.2
- vm-driver                          : virtualbox

[2018-07-03 11:02] gbraad commented on #2545
After the restart:

`minishift ssh -- sudo journalctl -u minishift-handle-userdata`

[2018-07-03 11:03] krisztiankocsis commented on #2545
My colleague can reproduce it also on Windows 10 Pro, other apps are the same version.

[2018-07-03 11:03] krisztiankocsis commented on #2545
Ok, I will do it without specifying insecure registries

[2018-07-03 11:19] krisztiankocsis commented on #2545
The server is accessible via web console at:
    https://192.168.99.100:8443

Krisztians-MacBook-Pro:minishift krisztian.kocsis$ minishift ssh -- sudo journalctl -u minishift-handle-userdata
-- No entries --
Krisztians-MacBook-Pro:minishift krisztian.kocsis$ eval $(minishift oc-env)
Krisztians-MacBook-Pro:minishift krisztian.kocsis$ eval $(minishift docker-env)
Krisztians-MacBook-Pro:minishift kri

[2018-07-03 11:31] agajdosi commented on #2545
I am able to reproduce this with `minishift v1.20.0+53c500a` on Fedora.

[code]

[2018-07-03 11:33] LalatenduMohanty commented on #2545
Creating CA: /Users/krisztian.kocsis/.docker/machine/certs/ca.pem
Creating client certificate: /Users/krisztian.kocsis/.docker/machine/certs/cert.pem
Running pre-create checks...
Creating machine...
To see how to connect your Docker Client to the Docker Engine running on this virtual machine, run: docker-machine env minishift
Krisztians-MacBook-Pro:certs krisztian.kocsis$ cp -f ~/Tools/minishift/c

[2018-07-03 11:39] LalatenduMohanty commented on #2545
I could reproduce the issue too on xhyve. Here are the steps

[code]

[2018-07-03 11:44] krisztiankocsis commented on #2545
@LalatenduMohanty Forget it, it was needed for IntelliJ IDEA integration, not relevant to this ticket. Reproducible without these commands.

[2018-07-03 11:56] amitkrout opened #2551 "Major typo in start_preflight.go"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

1. Start minishift
[code]
2. Use the config command as suggested
[code]
### Expected
Config value should be applied

### Actual
This is a major typo because in [start_preflight.go](https://github.com/minishift/minishift/blob/1426bddcbf7a

[2018-07-03 12:01] LalatenduMohanty commented on #2545
I tested v1.18.0 and I can reproduce it. So it is present for sometime now. We must add an integration test for it.

[2018-07-03 12:02] krisztiankocsis commented on #2545
The same for 1.17, because initially I was using that version.

[2018-07-03 12:21] praveenkumar commented on #2545
@LalatenduMohanty @krisztiankocsis what if you apply the addon again after the stop => start does that solve the issue?

[2018-07-03 12:52] gbraad commented on #2545
@krisztiankocsis @LalatenduMohanty can you perform:
[code]
note: had a small typo

[2018-07-03 13:11] LalatenduMohanty commented on #2545
@gbraad does not fix the issue. We figured that the root cause is https://github.com/minishift/minishift-centos-iso/issues/253.

[code]
[code]

[2018-07-03 13:16] gbraad commented on #2545
of course not. it is only showing the entries during the boot. it shows the restore of the certs that are needed by docker and the registry.

but as you have to rely on `nip.io`, that sounds fragile. That is not something you would want to put in the ISO, but rather make part of the provisioner.

[2018-07-03 13:28] LalatenduMohanty commented on #2545
I do not want to depend on nip.io in the directory name. I was suggesting that `/etc/docker` should persist restarts.

[2018-07-03 13:36] agajdosi commented on #2457
@gbraad Was planning the same, using --no-provisioned VM seems to me like acceptable solution. Created PR #2553 just now, please check if you have time.

[2018-07-03 13:40] LalatenduMohanty commented on #2545
@krisztiankocsis  Let us know if the workaround works for you https://github.com/minishift/minishift/issues/2545#issuecomment-402156550

[2018-07-03 14:08] mhabrnal commented on #2058
@praveenkumar I followed instruction mentioned in issue's description and it still doesn't work.

I think you still don't understand the issue we've tried to explain with @xsuchy .
@mtttcgcg added a comment related to a totally different issue.

[2018-07-03 14:15] krisztiankocsis commented on #2545
Yes, the workaround works

[2018-07-04 03:16] fulvi0 commented on #1352
Hi, I'm having a similar issue staring the minishift and I'm not using VPN

[code]

[code]

[2018-07-04 07:41] chmouel opened #2555 "RFE: Add a tail option for minishift logs"
`minishift logs` spew the whole logs when you want to look at them.

If you want to look at only the last lines (and for example follows it) you have to go over the whole shebang.

It would be nice if we have a `tail` option like we have on `oc logs` or `docker logs`

[2018-07-04 09:00] agajdosi opened #2556 "Adding app secrets to xpaas addon"
Most of secured app templates in xpaas requires a secret, otherwise they fail to deploy. However those secrets are not present in xpaas addon and need to be downloaded/used from other places, for example: https://github.com/jboss-openshift/application-templates/tree/master/secrets.

Question is whether we should add those secrets as part of xpaas addon.

[2018-07-04 09:09] LalatenduMohanty commented on #2555
@chmouel  Do you mean `minishift logs --follow` ?

[2018-07-04 09:12] LalatenduMohanty commented on #2555
Got this from oc usage
`--tail=-1: Lines of recent log file to display. Defaults to -1 with no selector, showing all log lines otherwise
10, if a selector is provided.`

[2018-07-04 09:19] LalatenduMohanty commented on #2556
@agajdosi  IMO we should add the secrets too. As a project we are not supposed to take everything required from respective upstreams and add them to the add-on. Because the reason for having add-on is to provide an easier way to these sample applications. We rely on upstream to decide what is good for their projects.

[2018-07-04 09:31] anjannath commented on #2547
@gbraad core-dns is a replacement for dnsmasq? what is the advantage of using this instead of dnsmasq?

[2018-07-04 09:33] praveenkumar opened #2557 "Getting container status in the integration test is fragile"
- https://github.com/minishift/minishift/blob/master/test/integration/testsuite/minishift.go#L88-L106

we use as of now to get the status of a container which is fragile because here we check with what image name used to run the container and it is possible to be used the image-id instead name and run the container. The best way is if you already know a partial name of the container which you are

[2018-07-04 10:55] anjannath commented on #2058
@mhabrnal  This not only reproducible in minishift but also on Openshift online. I suggest you file a bug in https://github.com/openshift/origin/issues .
[code]

[2018-07-04 12:02] #2551 closed

[2018-07-04 12:14] anjannath commented on #2535
Should we delete the profile upon `minishfit delete -f`, this command deletes machine, machineconfig but not the profile and artifacts

[2018-07-04 13:44] gbraad commented on #2535
Currenty the delete is incomplete and prevents me from retrying the
deployment using the same profile name, unless I perform a `rm -rf`.

On Wed, Jul 4, 2018 at 8:14 PM, Anjan Nath <notifications@github.com> wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2018-07-04 14:04] gbraad commented on #2028
I believe the assumption is that when Minishift is running, we also have OpenShift running.
Not sure what we will gain from this change...

... the actually refactor would have to entail more about the use of `m status` if we want to address this...

[2018-07-04 15:06] agajdosi commented on #2557
@praveenkumar Issue might not be in `docker ps` vs `docker ps -f name=<part-of-name>` itself, but might be in fact that docker command for some reason fails soon after the stop-start.

If I can ask you for something, with your PR please try to add a fmt.Println() here https://github.com/minishift/minishift/blob/c4d3e2535ee83eaa58b68936750448ef5f7b3def/test/integration/util/util.go#L251 to see what

[2018-07-04 16:08] mhabrnal commented on #2058
@anjannath Ok, thank you, will dig little in deep in this issue.

[2018-07-05 05:37] amitkrout commented on #2557
@praveenkumar  Curious to know why image name is changed after a restart, Is it the same container id origin-docker-registry before the restart?

[2018-07-05 05:39] praveenkumar commented on #2557
@amitkrout Image name doesn't change, it just origin container thought I will just use the Image id instead name and both are same things, but as I told the current implementation of getting container status is fragile and should be improved, I am sending PR soon for this.

[2018-07-05 05:50] amitkrout commented on #2557
Sure, please go ahead. I will have a look and understand the changes to clear my doubts.

[2018-07-05 07:35] LalatenduMohanty commented on #2557
@praveenkumar  you mean parsing through `docker ps` output is not a good  way to get status, right?

[code]

[2018-07-05 07:40] gbraad commented on #2548
Note: the config actually conflicts and prevents to start

[2018-07-05 08:18] praveenkumar commented on #2557
resolved by #2559

[2018-07-05 08:18] #2557 closed

[2018-07-05 08:42] LalatenduMohanty commented on #2028
That cannot be always true (now we have generic driver) also it will be more acurate.

[2018-07-05 08:54] LalatenduMohanty commented on #2028
My suggestion is to add a step definition similar to what we have for Minishift [1]
[code]
Which means we need to add a function for OpenShift like [2]  in a new file openshift.go
[1] https://github.com/minishift/minishift/blob/master/test/integration/testsuite/testsuite.go#L76-L77
[2] https://github.com/minishift/minishift/blob/master/test/integration/testsuite/minishift.go#L57-L64

[2018-07-05 13:21] InfoSec812 opened #2560 "Minishift DNS Issues When Host Has Search Domain Set"
### General information

  * Minishift version: v1.18.0+756b128
  * OS: Linux
  * Hypervisor: VirtualBox

### Steps to reproduce

  1.  On host machine, set a `search` domain in `resolv.conf`
  2. Start Minishift instance with fresh config (Either CentOS or RHEL)
  3. Try to do an S2I build which pulls from GitHub
  4. Watch build logs and see that github.com fails to connect/resolve properly

###

[2018-07-06 05:19] praveenkumar opened #2561 "Error getting HostIP when used with proxy options [Windows + VirtualBox]"
[code]

More Info: https://issues.jboss.org/browse/CDK-315

[2018-07-06 05:22] LalatenduMohanty commented on #2561
Marking it blocker as it is a regression for Virtualbox + Windows setup on proxy.

[2018-07-06 06:01] amitkrout opened #2563 "m start breaks on remote host along with generic driver and proxy flag"
### General information

  * Minishift version: master
  * OS: Linux / macOS / Windows
  * Hypervisor: KVM / xhyve / Hyper-V / VirtualBox

### Steps to reproduce

  1. Start a remote machine (Fedora 28 workstation) with all these [configurations](https://github.com/minishift/minishift/blob/master/docs/source/using/run-against-an-existing-machine.adoc])
  2. start minishift from the host machine al

[2018-07-06 07:33] praveenkumar commented on #2563
@amitkrout with #2562 this also be fixed.

[2018-07-06 07:52] amitkrout commented on #2563
Cool!!! I will be happy to give this a try

[2018-07-06 07:59] LalatenduMohanty commented on #2561
Resolved via #2562

[2018-07-06 07:59] #2561 closed

[2018-07-06 08:01] #2537 closed

[2018-07-06 08:03] praveenkumar commented on #2563
@amitkrout sure and once you done, please close this issue also.

[2018-07-06 08:08] LalatenduMohanty opened #2565 "Why IsIPReachable() faling in DetermineHostIP() while setting proxy for VB"
We faced #2561 and `IsIPReachable()` is disabled in https://github.com/minishift/minishift/commit/f10a076ef6fd2d65945fc6bae831b546b81802ac to make Virtualbox work on Windows 10.  We need to findout why that is happening for Virtualbox and what is the proper fix for it.

[code]
`DetermineHostIP` is called in `setProxyToShell`.
[code]
[1] https://github.com/minishift/minishift/blob/master/pkg/minish

[2018-07-06 08:13] anjannath commented on #2560
@InfoSec812 I am not able to reproduce this issue, could you please paste your `resolv.conf` file.
You could also try to use a local dns, that might solve the issue. https://docs.openshift.org/latest/minishift/using/experimental-features.html#local-dns-server
[code]

[2018-07-06 09:04] amitkrout commented on #2563
@praveenkumar  Working fine with the fix

[code]

[2018-07-06 09:04] #2563 closed

[2018-07-06 09:15] praveenkumar opened #2566 "Image export --all fails in case there is any image with <none> tag"
If you are using docker you know that it sometimes keeps the dangling image with <none> tag which is not parseable by container/image library and when a user tries to use `image export --all` it will fail.

[code]

[2018-07-06 09:25] #2476 closed, assigned to gbraad

[2018-07-06 09:42] LalatenduMohanty commented on #2464
Resolved via #2505

[2018-07-06 09:42] #2464 closed

[2018-07-06 10:40] InfoSec812 commented on #2560
Here's what my `resolv.conf` looked like when I was experiencing issues:

[code]

[2018-07-06 14:30] jorgemoralespou commented on #1993
I have this issue with centos iso and xhyve lately.

El vie., 6 jul. 2018 14:25, Anjan Nath <notifications@github.com> escribió:

[2018-07-06 14:40] gbraad commented on #1993
Xhyve often suffers from problems with lookup. Try using
`--network-nameserver 1.0.0.1` to set an additional lookup server

On Friday, July 6, 2018, Jorge Morales Pou <notifications@github.com> wrote:

escribió:

https://github.com/minishift/minishift/issues/1993#issuecomment-403018865>,

https://github.com/notifications/unsubscribe-auth/AAEyDnaoHHzJc976j5GZEd11wP2M1NRNks5uD1c8gaJpZM4R94vL

https: