[2017-05-24 05:51] gbraad commented on #640
Will refocus on providing a test script. With the idea to measure for several minutes before doing a deployment (see how stable the services are), after this doing a deployment and measure again for a trend in idle. After this try to issue calls to a service to generate traffic and again measure trend over some time. to see if memory bubbles ore gets reclaimed, if services keep requesting resource

[2017-05-24 06:30] hferentschik commented on #640
interesting

Still this is already much better than the gut feeling statements we heard before

[2017-05-24 06:31] hferentschik commented on #640
+1, something which can be used moving forward and allow comparisons between various Minishift versions would be great.

[2017-05-24 07:45] as0077749 commented on #920
Still i am facing the same issue, below are few more information's.
-------------------------------------------------
- getent group docker
         docker:x:999:ashish,root
- docker version
                 Client:
                           Version:      17.05.0-ce
                           API version:  1.29
                           Go version:   go1.7.5
                           Git commit

[2017-05-24 07:51] hferentschik commented on #920
Do you have any system proxies enabled or any other firewall rules in place which would prevent to connect to Docker via  192.168.99.107?

[2017-05-24 08:00] as0077749 commented on #920
Yes we do have system proxy here.

[2017-05-24 08:08] hferentschik commented on #920
This is most likely the issue. I assume you export HTTP_PROXY in your environment. The Docker verification checks uses HTTP to try to connect to the Docker daemon. The default Go implementation does per default honour proxy settings defined in your environment. This means the check goes via the proxy which won't be able to deal with the VM IP.

Actually there is a bug in Minishift related to this,

[2017-05-24 08:09] hferentschik commented on #920
@as0077749, could you please let me know whether the workaround works?

[2017-05-24 08:17] hferentschik commented on #920
@as0077749, actually since you are in a proxied environment, you will also have to explicitly use the --http-proxy and --https-proxy flags of the start command. The workaround mentioned will most likely get you past the Docker daemon check, but Docker and OpenShift need the proxy settings as well and at the moment they are only taking the command line switches into consideration. One cpu;d argue t

[2017-05-24 08:56] paoloantinori commented on #884
FWIW I have also faced the same issue that went away recreating the cluster

[2017-05-24 09:54] hferentschik commented on #843
-1 for a rename. We choose this name explicitly, since it is the most appropriate one and is also the term which when used for example with Google gets you to the most relevant documentation.

Also a "hypervisor driver" is imo quite ambiguous.

[2017-05-24 10:24] as0077749 commented on #920
Now followed below steps
------------------------------------------
 - minishift stop
              Stopping local OpenShift cluster...
         Cluster stopped.

- minishift delete
         Deleting the Minishift VM...
         Minishift VM deleted.

- docker-machine env openshift
- docker-machine regenerate-certs openshift

- docker-machine ls
          NAME        ACTIVE   DRIVER       STATE

[2017-05-24 10:31] hferentschik commented on #920
btw, you should not be creating a docker-machine instance (or you don't have to). Minishift is using libmachine under the hood, but it creates its own VM independently of the docker-machine managed VMs. That you are creating and exporting environment settings for docker-machine instance is irrelevant here. OOI, how come that you think it is required?

Regarding the start command, it is basically o

[2017-05-24 10:38] gbraad commented on #950
I believe `minikube` doesn't specify this either, but only refers to it from their documentation.  I could be wrong, but my 2c? I doubt `-h`/`--help` output is the place for this... it will clutter the help output. I do not think people will look for this functionality there.

Minikube docs reference:
Originally https://github.com/kubernetes/minikube/pull/1094/files, but moved to https://github.co

[2017-05-24 11:19] as0077749 commented on #920
Have tried with no proxy and still problem is same.
------------------------------------------------------------------------
-minishift start --vm-driver=virtualbox  --no-proxy=192.168.99.116

     Starting local OpenShift cluster using 'virtualbox' hypervisor...
      -- Checking OpenShift client ... OK
      -- Checking Docker client ... FAIL
     Error: cannot communicate with Docker
     Solut

[2017-05-24 12:03] jstrachan opened #952 "provide caching of docker images across VM images"
this might be a bit tricky to implement, but it'd be awesome if we could use a http proxy with a persistent cache in the docker daemon in minishift thats stored on the host volume somewhere, so that if you do:

[code]
when trying out new versions of minishift/openshift and apps its pretty common to trash your VM and recreate it again. I'm on kinda slow wifi as am sure most folks are when at confer

[2017-05-24 12:27] hferentschik commented on #952
We are already working on an approach for caching images. See also #143, even though this might initially just cache the OpenShift related images. The long term plan is to use the libraries used under the hood of skopeo to cache all images.

I leave this issue open, even though it is partly a duplicate of #143. As said, the latter might end up as an intermediate solution first until we can work ar

[2017-05-24 18:46] jorgemoralespou commented on #952
I ultimately want caching of all images in order to make minishift environment transportable #397 (targeted for 1.4).

[2017-05-24 18:47] hferentschik commented on #952
+1

[2017-05-24 21:19] jorgemoralespou commented on #929
Sadly we use the term console in openshift and dashboard is the name of the console in k8s. It's a sad move from minikube that makes us support it for compatibility, I would keep both though.

[2017-05-24 21:32] jorgemoralespou commented on #143
@giuseppe currently that's a different problem from the one discussed in this issue, and it's how the team is creating the golden images they provide and if it would make sense for them to use system containers and cri-o to remove the dependency on docker on the VM, but that should be a long term goal.

In the meantime, we need to support just caching images out of the VM to be able to share, save

[2017-05-24 21:34] jorgemoralespou commented on #952
I would want to be able to have in configuration a whitelist/blacklist of images to be cached so the developer can have greater granularity on what to save/restore.

Ideally, any image built by the VM should not be same, anything else could potentially be saved, being all the openshift related images the most important, although there is a big chance that all the technology related images would ne

[2017-05-24 21:58] hferentschik commented on #143
@runcom, @jorgemoralespou - fyi, I was able to work around the problems with containers/image. Now I am running into troubles with containers/storage. I get several errors when trying to cross compile containers/storage.

@runcom, to which extend are containers/storage and containers/image supposed to be OS independent libraries? Are there any parts which for example require a specific OS? If so,

[2017-05-24 22:00] hferentschik commented on #929
+1 I think the same way. In OpenShift we are talking about the OpenShift console, so 'minishift console' makes most sense imo. I guess we can alias dashboard, but we should not remove console. To me, not working so much with Kube, dashboard even feels wrong. It really comes down to from which angle you are looking at it.

[2017-05-24 22:05] hferentschik commented on #948
The problem I have with the out of the box experience is, that we would need some intrinsic knowledge of the type of application being used/deployed. So far Minisfhift provides you the runtime environment for OpenShift and lets your customize its configuration. Now we are talking about detecting a certain type of usage (for example building Java apps with a specific s2i build image) and acting upo

[2017-05-24 22:13] hferentschik commented on #933
`minishift openshift service nodejs-ex -n myproject` aside, what do you see when you  log into the console? Do you see the _myproject_ namespace? Does it contain the node-ex application. If so, there should be a route displayed as well. Can you access the app via this route.

I am basically trying to find out whether there is an issue with the 'openshift service' command or whether something is st

[2017-05-25 05:51] budhrg commented on #952
Seems the advanced step for #397  and can be taken after it.

[2017-05-25 07:12] surajssd opened #954 "minishift says it has started using kvm but its using vbox"
starting minishift
[code]

listing vms on kvm
[code]

listing vms on vbox
[code]

minishift version I am using:
[code]

[2017-05-25 07:46] jstrachan opened #955 "PV issues with gitlab on minishift 1.0.1 - any tips on an easier way to install it?"
I wanted to run gitlab on minishift. I've found this blog:
https://about.gitlab.com/2016/06/28/get-started-with-openshift-origin-3-and-gitlab/#import-the-template

which uses this template: https://gitlab.com/gitlab-org/omnibus-gitlab/raw/master/docker/openshift-template.json

You need to do the `oc edit scc anyuid` thing to get around the run as user thing.

Then I followed the instructions to in

[2017-05-25 08:27] LalatenduMohanty commented on #954
@surajssd I guess you are using Fedora 25. Do you have both KVM and Virtualbox installed? and just confirming. Also do you see this every time (reproduced everytime ) or it is just a one of case?

[2017-05-25 08:35] LalatenduMohanty commented on #955
@jstrachan Not sure if you are aware of anyuid add-on we have in Minishift. You need to run anyuid addon and then start minishift. The PV thing is taken care of automatically when user enables anyuid.
Related we are working on #637 . Just mentioning before you ask for it :)
[code]

[2017-05-25 08:36] LalatenduMohanty commented on #955
@jstrachan Let us know if this works for you.

[2017-05-25 09:00] reza-ebrahimi commented on #590
I have used following command and its doesn't work:
`minikube.exe start --vm-driver="hyperv" --hyperv-virtual-switch="Primary Virtual Switch"`

and also I have to change `DriverName`  in config.json file in path `.minikube\machines\minikube`, and `minikube` give me following error:

![1](https://cloud.githubusercontent.com/assets/11276982/26443498/e339b812-414d-11e7-9016-beae84ea3382.png)
![3](htt

[2017-05-25 09:12] gbraad commented on #954
This feels like the known issue #179

[2017-05-25 09:16] gbraad commented on #590
Please see #843

[2017-05-25 09:39] reza-ebrahimi commented on #590
@gbraad I cannot understand how resolve that,

But I have found another problem, if you set `--vm-driver hyperv` argument to `minikube`, it doesnot override config file value and still assume `virtualbox` driver.

[2017-05-25 09:40] gbraad commented on #590
@reza-ebrahimi You have reported the issue to the Minishuft project. This is a fork of the Minikube project. Seeing your issue, you probably filed it in the wrong place...

[2017-05-25 09:42] reza-ebrahimi commented on #590
@gbraad  I know it, so I hope to have a solution to this here, but thanks...

[2017-05-25 09:43] gbraad commented on #590
@reza-ebrahimi please file the issue at minikube

[2017-05-25 10:02] gbraad commented on #954
Confirmed to be a known issue. OP has deleted the previous instance and now works as expected.

[2017-05-25 10:02] #954 closed

[2017-05-25 10:06] reza-ebrahimi commented on #590
https://github.com/kubernetes/minikube/issues/1523

[2017-05-25 10:31] gbraad commented on #590
Removing unrelated comments. The user is unnecessarily spamming multiple issues which are unrelated:
![ref](https://cloud.githubusercontent.com/assets/1894/26446821/4d9a8900-4178-11e7-9eeb-4b635dc0e824.png)

[2017-05-25 14:11] gbraad commented on #929
My 2c; my initial thought when using minishift, during prototype, was that
console would open a terminal, while ssh would run one of commands. In
other words, the terminology is extra confusing in a CLI only tool.

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-05-25 17:20] LalatenduMohanty commented on #718
Resolved by https://github.com/minishift/minishift/commit/05854b49ab97c29df752f536f9b8b59e451418b8

[2017-05-25 17:20] #718 closed

[2017-05-26 05:36] praveenkumar commented on #955
@jstrachan below are steps which I followed and have gitlab up and running. Let us know if you still have issue around PV's.

[code]

[2017-05-26 05:37] jstrachan commented on #955
works great many thanks!

[2017-05-26 05:37] #955 closed

[2017-05-26 07:17] gbraad commented on #640
Deploying the coolstore on Minishift with the following script:

[code]

## b2d - 2G
[code]
### Result
   * failing deploy of the cart service. retrigger solved this

## CentOS 7 - default
[code]
### Result
   * multiple builds failing, retrigger solved most of them until openshift stopped respondng

## CentOS 7 - 4G
[code]

[2017-05-26 09:28] hferentschik commented on #955
:-)

[2017-05-26 09:31] hferentschik commented on #929
I am find that "OpenShift Console" is a bit an odd name for the web app, but that's what it is. If we rename to 'dashboard', we are using terminology which is not used anywhere else in OpenShift.

[2017-05-26 09:45] gbraad commented on #929
We can't change openshift now...
... so use two commands for one purpose. OK. A little bit odd, but doable

[2017-05-26 09:58] hferentschik commented on #929
Right, an alias seems the best option.

[2017-05-26 10:43] gbraad commented on #780
Does this allow deploying CoolStore?

[code]

[2017-05-26 12:25] agajdosi opened #957 "Minishift does not start with openSSH installed by chocolatey"
I would like to be able to use `minishift ssh` interactively on Windows 7. I have installed OpenSSH via Chocolatey package manager to achieve that as @gbraad recommends on #919.

However after installation of OpenSSH Minishift starts to have problems. One special thing on my environment is that I have upgraded from Windows 7's native PowerShell v2 to v3, but the issue is also present on CMD. More

[2017-05-26 12:41] hferentschik commented on #843
Merged via pull request #951

[2017-05-26 12:41] #843 closed

[2017-05-26 17:55] #72 closed

[2017-05-26 17:57] hferentschik commented on #72
Merged via pull request #930

[2017-05-26 17:57] hferentschik commented on #783
Merged via pull request #930

[2017-05-26 17:57] #783 closed

[2017-05-26 18:36] sputnik-1 commented on #890
@jorgemoralespou

thanks for that pointer to this issue.

I had a similar problem with trying to start the docker container cluster, and the fix was to leave off the tag version, so docker defaulted to downloading the 'latest' version.

`
spock@laptop ~ $ oc cluster up
-- Checking OpenShift client ... OK
-- Checking Docker client ... OK
-- Checking Docker version ... OK
-- Checking for existing Op

[2017-05-26 20:26] hferentschik commented on #932
What's your xhyve driver version as well? Can you make sure you have the latest installed? See also https://docs.openshift.org/latest/minishift/getting-started/docker-machine-drivers.html#xhyve-driver-install

[2017-05-26 23:14] jorgemoralespou commented on #955
@jstrachan You do not need to execute the anyuid addon, which gives anyuid to every user, but should only require the anyuid to the gitlab-ce-user (actually, ${APP_NAME}-user) serviceaccount.

@praveenkumar @LalatenduMohanty @hferentschik I'm concerned that we recommend the anyuid for every use case, as I have said before, this is a bad pattern, and should be avoided as much as possible.

We need

[2017-05-26 23:17] jorgemoralespou commented on #948
Well, I guess that it depends on how much we want to improve the local development experience.

[2017-05-27 09:57] deepaksrivastav commented on #367
@dwojciec minishift just says "Starting local OpenShift cluster using 'xhyve' hypervisor" but it still uses VirtualBox hypervisor

Running minishift with xhyve hypervisor still gives me the following error:

`Starting local OpenShift cluster using 'xhyve' hypervisor...
E0527 11:56:01.129298   27603 start.go:176] Error starting the VM: Unused explicit driver options: map[xhyve-uuid:F4BB3F79-AB4E-47

[2017-05-27 14:33] sputnik-1 commented on #890
It's possible to pass the oc command parameters for the image registry and version number, with:

--image=registry.access.redhat.com/openshift3/ose --version=latest

spock@laptop ~ $ oc cluster up --image=registry.access.redhat.com/openshift3/ose --version=latest
-- Checking OpenShift client ... OK
-- Checking Docker client ... OK
-- Checking Docker version ... OK
-- Checking for existing OpenShif

[2017-05-27 18:21] ruifortes opened #959 "Allow hostfolder configuration non interactively"
Hi.
Sorry for the off-topic post but since the command I'm struggling is from minishift I hope yu don't mind me posting.
I not at all proficient with linux but surely this is a n brainer for you guys.
I'm trying to call "minishift hostfolder add" in a shell script (wel...actually a npm script) that automatically fills all input prompts.
I followed [this](https://askubuntu.com/questions/338857/auto

[2017-05-29 06:12] cescoffier opened #960 "Unmanageble Minishift state after host restart"
This is more a hint than an issue (probably something to add in the FAQ or in the doc).

Yesterday, I've updated my Mac to 10.12.5 (latest Sierra).

Minishift was not starting after the update. Most commands (delete, stop) was reporting:

[code]
I've deleted my ~/.minishift directory and restarted minishift.... I'm now back on track

[2017-05-29 06:40] Preeticp commented on #960
Thanks for reporting this @cescoffier we will look into this and add it to our docs.

[2017-05-29 06:40] LalatenduMohanty commented on #960
@cescoffier what was the state of Minishift when you updated macOS to Sierra?

[2017-05-29 06:49] gbraad commented on #960
This sounds like the VM was in running state, but not having an IP address. Since xhyve does not have a friendly interface to shutdown the VM, this is a slightly cumbersome situation.

[2017-05-29 06:49] LalatenduMohanty commented on #890
@sputnik-1 Sorry did not get your question. Also for `oc cluster up` queries please open issues in https://github.com/openshift/origin. I am sure if you open an issue in https://github.com/openshift/origin about `oc cluster up` you will get quicker response.

[2017-05-29 06:52] gbraad commented on #959
Can you check the config file for the VM ? what does the entry contan for your defined hostfolder?

BTW, we will offer parameter options in a future increment.

[2017-05-29 06:56] LalatenduMohanty commented on #955
@jorgemoralespou ack. We will schedule a discussion.  We (at least I ) need to understand this better).

[2017-05-29 07:11] gbraad commented on #957
**B2D**
[code]

[2017-05-29 07:17] gbraad commented on #957
**CentOS7**
[code]

[2017-05-29 07:21] gbraad commented on #957
Although 'suggested' this is not a production-ready executable and also not officially supported by Microsoft. This is why I did not seriously considered it. But yes, should have tried to test it...  will quickly look into this...

[2017-05-29 07:33] gbraad commented on #957
**CentOS 7**
[code]

[2017-05-29 07:40] gbraad commented on #957
https://github.com/docker/machine/issues/3104

[2017-05-29 07:54] agajdosi commented on #957
Thank you for information, @gbraad. I thought this combination is working for you and so I started to think that there is a problem with Minishift on that machine... I will look for an alternative to get this working.

[2017-05-29 08:04] gbraad commented on #957
I am glad you did check this before we considered adding some documentation about ssh. Although I have a hunch why this doesn't work... (I remember having used this combination before, before the recent updates)

[2017-05-29 08:11] gbraad commented on #957
https://github.com/PowerShell/Win32-OpenSSH/issues/738

[2017-05-29 08:27] gbraad commented on #919
https://github.com/PowerShell/Win32-OpenSSH/issues/738

[2017-05-29 08:28] gbraad commented on #919
Due to the reported issue with OpenSSH-Win32 it is probably better for the moment to try:

[code]

[2017-05-29 08:30] cescoffier commented on #960
Running. Probably not a good idea... However, the update requires a restart of the computer.

[2017-05-29 08:44] gbraad commented on #960
@cescoffier what were you running BEFORE the update?

[2017-05-29 08:54] cescoffier commented on #960
minishift.

[2017-05-29 08:55] gbraad commented on #960
@cescoffier You update macOS, right?

What was it runnintg before this?

[2017-05-29 08:57] cescoffier commented on #960
It was Sierra, but the previous updates (I don't know the version)

[2017-05-29 08:59] gbraad commented on #960
OK, check... a point release (update)

[2017-05-29 09:07] gbraad commented on #946
As mentioned on #907 I have been working on a Windows tray icon, which can help which some of the issue arround Hyper-V. However, this is not a scheduled task and something on the side...

[2017-05-29 09:18] praveenkumar commented on #960
I don't think so. As per @cescoffier report looks like when he started to update that time minishift was running and he did reboot system where minishift didn't update the state and when he tried to delete then not able to access the VM.

[2017-05-29 09:20] gbraad commented on #960
Does Hypervisor.framework/xhyve do autostart of VM ? IIRC is does not...
So maybe he tried to start the VM, but did not get an IP assigned? (old
lease?)

[2017-05-29 09:50] praveenkumar commented on #426
@Preeticp For appveyor and CircleCI

[code]

[code]

[2017-05-29 10:10] budhrg commented on #426
Also, @thatdocslady @Preeticp , also, it would be great if we mention which CI is used for testing which bits.

Like, CentOS CI is used specifically to test integration tests, unit tests, code format tests and cross build tests in Linux (CentOS). Other CI's AFAIR are:
- Circle CI : Used for testing unit tests, code format tests and cross build tests in macOS
- Appveyor CI: Used for testing unit te

[2017-05-29 10:19] Preeticp commented on #426
Thanks @praveenkumar and @budhrg for the input.

[2017-05-29 10:34] ruifortes commented on #948
For someone learning openshift it's very useful because you're normally creating new build configs instead of just rebuilding when source code changes.
And if you're doing that in a coffee shop with slow internet it's quite a pain

[2017-05-29 10:49] sputnik-1 commented on #890
Hi Lalatendu,

this was a comment about how I fixed starting the docker cluster by passing the 'latest' tag to the oc command line.

Sorry for any confusion, and yes I have opened an issue for this on the OpenShift origin bug tracker now here:

https://github.com/openshift/origin/issues/14392

Regards,

Keith

[2017-05-29 14:53] paoloantinori commented on #952
Hi, I'd also love to see this implemented at `minishift` level, but in the meanwhile I can suggest @jstrachan  and anyone else the old workflow that we used for a little while in Fabric8 Vagrantfile ancient time: https://github.com/paoloantinori/fabric8-installer/blob/94b5a7c26bf2563c79d20e73671ea8c55f1ffa26/vagrant/kubernetes/Vagrantfile

The idea is to deploy on you host a (containerized) instan

[2017-05-29 15:33] budhrg commented on #952
Hi @paoloantinori ,

Nice idea :+1:

Looks promising.

[2017-05-29 18:48] LalatenduMohanty commented on #665
The tricky part if how we handle the priorities when we enable multiple add-ons at one go. I think we have to assume that when we enable multiple add-ons , the add-ons have same priority. WDYT?

[2017-05-30 02:32] gbraad commented on #640
During deployment, the following can be observed

[code]

Note: issues with deployment of svc/cart has been observed before. And build failures have happened for the gateway (maven repository unreachable)

[2017-05-30 05:27] budhrg opened #963 "Introduce '--oc-url' option in start command to use cached 'oc' binary"
It would be great to have start option `--oc-url` so that one can use the cached version `oc` binary. The purpose is similar to `--iso-url` which is used to specify cached ISO during start command.

[2017-05-30 05:31] gbraad opened #964 "Add scenario to deploy a 'realistic' workload: Cool Store"
Implement a scenario to deploy a workload that contains a frontend, API gateway and some services, which represent a realistic workload.

[2017-05-30 05:32] gbraad commented on #964
[code]

[2017-05-30 06:53] hferentschik commented on #665
I guess.

[2017-05-30 06:53] LalatenduMohanty commented on #964
@gbraad we should  also run helloworld-msa  in integration tests as we have people demoing it on Minishift/CDK. So we should make sure it always on Minishift.

The only drawback is that the execution time of integration tests will take more time (significantly) with this.

[2017-05-30 06:59] hferentschik commented on #963
The cached version is used implicitly, what do you gain here? If the _oc_ needed is cached, it will used this cached version.

I guess you want to point out another _oc_ binary somewhere on the file system. I find this potentially dangerous, since this will potentially bypass version verification we have in place.

Could you explain a bit more what you are after here?

[2017-05-30 07:00] LalatenduMohanty commented on #963
@budhrg I am not convinced that it would add a lot of value. Because Minishift has dependency on `oc` binary version e.g. if you use `oc` binary of Origin version 1.4.1 `$ minishift openshift registry` will not work. You can get older version of OpenShift with newer `oc` binary but the reverse is not true.

[2017-05-30 07:00] hferentschik commented on #964
@gbraad Nice, does this work already? That would be awesome.

[2017-05-30 07:27] gbraad commented on #640
Deployment of Cool Store: #964

[2017-05-30 08:08] #687 closed

[2017-05-30 08:12] hferentschik commented on #687
Merged via pull request #953

[2017-05-30 08:43] gbraad commented on #964
Wasn't able to fully test it. At the moment it runs till:

[code]

[2017-05-30 09:21] gbraad commented on #665
for the moment yes... priorities can also be solved by dependency resolving (but this involves pre-processing)

[2017-05-30 09:22] praveenkumar commented on #665
I think we should drop this feature right now or if we implement then we need each field mandatory (addon name, priority etc.) Problem is if we enable this features then user might use it for different priority addons and then again hit the issue.

[2017-05-30 09:25] budhrg commented on #665
Yes. Agree. Also, depend on how much far we go with this feature too. As @gbraad  said, dependency resolving is key here.

[2017-05-30 09:31] ctron opened #966 "Add pre-flight check: test for 'docker-machine-driver-kvm' before downloading/starting"
Downloading and unpacking minishift might result in the following error:

[code]

A quick look at the documentation solves this issue, but it pre-flight check in minishift and maybe a pointer to the documentation on the command line would smooth that experience a bit.

[2017-05-30 09:34] hferentschik commented on #665
Works for me

not sure what you mean, but I guess you are referring to the fact on how to enable multiple add-ons with different priorities. I don't see a problem here. If you want to add multiple add-ons with different priority you need to make multiple calls (one for each priority). I don't see an issue here really.

I am not following

I don't see dependency resolving as a necessity. There is a

[2017-05-30 09:52] gbraad commented on #912
Some of the slow interaction I am currently experiencing is with `oc login` #563.

[2017-05-30 10:02] hferentschik commented on #637
Merged via pull request #958

[2017-05-30 10:02] #637 closed

[2017-05-30 10:19] gbraad commented on #964
It fails on: https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/process.go#L126 (only when using `godog`)

[2017-05-30 10:27] praveenkumar commented on #966
@ctron you mean test available driver binary before start process?

[2017-05-30 10:30] praveenkumar commented on #963
-1 as @hferentschik said we are not only depend on the binary but also the version which should be known to minishift start process to cache it properly and do required validations.

[2017-05-30 10:37] praveenkumar commented on #763
@darryl1309 have your issue is resolved?

[2017-05-30 11:15] ctron commented on #966
Yes, sorry I forgot to update the title before creating the issue 😉

[2017-05-30 11:16] hferentschik opened #968 "Wrong link to uninstall section in trouble shooting guide"

[2017-05-30 11:24] hferentschik commented on #968
Merged via pull request #967

[2017-05-30 11:24] #968 closed

[2017-05-30 16:04] gbraad commented on #966
This is part of #485; pre-flight checks should happen before any action is taken. Download should never happen before the requirements are met.

[2017-05-30 19:23] hferentschik commented on #826
Merged via pull request #969

[2017-05-30 19:23] #826 closed

[2017-05-31 05:21] budhrg commented on #963
Anyway, it looks like it is adding more potential risks than benefits. Closing it now.

[2017-05-31 05:21] #963 closed

[2017-05-31 05:36] LalatenduMohanty commented on #966
@gbraad right this issue have the same line of thought as #485 but the exact preflight check is not covered in #485.

[2017-05-31 06:08] gbraad commented on #966
although not covered per se, this task was created to deal with preflight checks: https://github.com/minishift/minishift/issues/485#issuecomment-284710930 You are free to suggest more...

[2017-05-31 06:13] praveenkumar opened #970 "Broken link for bootstrap dependencies"
`bootstrap-dependencies` should be part of link instead `bootstrapping-dependencies` for https://docs.openshift.org/latest/minishift/developing/developing.html#update-dependencies section.

[2017-05-31 06:16] gbraad commented on #964
Finally understand WHY this command fails. Of course `RunCommand` is not a functional shell, so I already replaced the `|`, but of course `>` also does not work. These are all shell related functionality. At the moment this gets passed to the `oc process` command and is interpreted as a command line parameter. Another issue we will certainly run into is related to the fact of using `$( )` or backt

[2017-05-31 07:26] gbraad commented on #919
@thatdocslady We know why the 'suggested' `choco install openssh` does not work, and we know it will be eventually fixed. BUT, for the moment it is a known-issue... how to record it as such?

[2017-05-31 07:26] praveenkumar commented on #763
@darryl1309 I am going to close this issue let me know if you still have same problem and will reopen.

[2017-05-31 07:26] #763 closed

[2017-05-31 07:27] praveenkumar commented on #671
@hferentschik Can we close this issue now?

[2017-05-31 07:33] praveenkumar commented on #600
If we again hit this issue the repoen it.

[2017-05-31 07:33] #600 closed

[2017-05-31 07:37] praveenkumar commented on #31
@hferentschik I think we also discussed something similar but not making it as docker images. If you think this is still relevant then let's add some milestone to it.

[2017-05-31 07:56] hferentschik commented on #970
Merged via pull request #971

[2017-05-31 07:56] #970 closed

[2017-05-31 08:19] praveenkumar commented on #86
@budhrg I think now we have most of stuff in place, do you still think some info missing?

[2017-05-31 08:22] hferentschik commented on #671
Let's close it for now. We have been talking about being able to skip the 'cluster up' persistence volume creation and doing it more explicitly in an add-on. However, as long as 'cluster up' dies create the persistent volumes regardless, we should be using them. We can create a new issue in case we want to look into this later again.

[2017-05-31 08:22] #671 closed

[2017-05-31 08:33] praveenkumar commented on #179
We had a lot of discussion on this issue but even from minikube side it's not implemented yet. I see this one is very high priority kind of issue may be we should tackle it v1.2.0 time frame.

[2017-05-31 08:36] praveenkumar commented on #195
Should we also now get rid of boot2docker iso and work with CoreOS iso? @hferentschik if you think this something need a milestone please add it. Mostly we might end up with `minishift-coreOS` repo.

[2017-05-31 08:38] hferentschik commented on #31
Actually I think this is a duplicate of #392. TBH, I am a bit sceptical still about this. We can close this as a duplicate and carry on with #392 which is "scheduled" for a milestone. This needs to be further discussed and thought through though.

[2017-05-31 08:38] #31 closed

[2017-05-31 08:38] praveenkumar commented on #197
@hferentschik Shouldn't we have it already now, I think we can close it?

[2017-05-31 08:40] jorgemoralespou commented on #952
@paoloantinori @hferentschik @budhrg keep in mind that this solution AFAICT only caches one external registry. In our case we might be pulling images down from multiple. Initially docker.io and registry.access.redhat.com.

Although I have to say that it's a workaround that I've used before when we developed the all-in-one.

[2017-05-31 08:41] praveenkumar commented on #204
@hferentschik I am closing this issue because we now have a dedicated `update` command in place.

[2017-05-31 08:41] #204 closed

[2017-05-31 08:42] praveenkumar commented on #215
@hferentschik I think we are done with all discussion here so closing this issue also.

[2017-05-31 08:42] #215 closed

[2017-05-31 08:44] hferentschik commented on #86
I feel the same way. Not sure what we add specifically for this issue right now.

[2017-05-31 08:46] hferentschik commented on #179
+1, but I also think it heavily depends on issue #126 and the ability to create multiple instances. Potentially implementing #126 can also address this issue.

[2017-05-31 08:47] praveenkumar commented on #227
@hferentschik @jorgemoralespou Can we close this issue now?

[2017-05-31 08:48] praveenkumar commented on #236
@budhrg Can we close this now?

[2017-05-31 08:51] praveenkumar commented on #251
@agajdosi I am closing this issue because now we have known facts around ISO

[2017-05-31 08:51] #251 closed

[2017-05-31 08:52] gbraad commented on #126
Minikube supports multiple instances from https://github.com/kubernetes/minikube/pull/1320

[2017-05-31 08:53] jorgemoralespou commented on #227
I guess, but you should ask the reporter. @mazzy89 @PierrickI3 Can we close this issue?

[2017-05-31 08:55] jorgemoralespou commented on #126
@hferentschik @gbraad I would consider looking at this feature, as to enable this, a lot of things related to config and addons would probably need to change. Configuration should now be per-cluster and not global, as well as addons enablement, etc...

[2017-05-31 08:56] praveenkumar commented on #273
@hferentschik @LalatenduMohanty Do we still have same thought around this flag? Just want to make sure we have appropriate milestone listed.

[2017-05-31 08:57] mazzy89 commented on #227
for me yes

[2017-05-31 08:57] praveenkumar commented on #275
@hferentschik shouldn't we have this now in place already?

[2017-05-31 08:58] hferentschik commented on #204
+1 This is really a duplicate of issue #72 which is fixed.

[2017-05-31 08:59] praveenkumar commented on #279
@hferentschik Does this issue still make sense to us? Can you please add a milestone to it.

[2017-05-31 09:00] hferentschik commented on #126
It is scheduled for the next sprint. I also envision this to cause quite some changes.

[2017-05-31 09:01] hferentschik commented on #273
Yes, I think this would still be useful.

[2017-05-31 09:01] thatdocslady commented on #275
@praveenkumar I was in the process of creating this document in Mojo and then CDK planning came in and we got a little stuck, but hopefully this/next week I should be able to finalize this and socialize internally.

[2017-05-31 09:02] jorgemoralespou commented on #179
@hferentschik @praveenkumar As I've commented in #126, I would recommend you to raise priority of that issue (at least for planning the rest of the features taking into consideration all the changes that will be required by #126 in the future).

I'm pretty sure a lot of things will need to change, like:

- One folder per profile
- oc client downloaded per profile or globally, also per architecture

[2017-05-31 09:02] thatdocslady commented on #279
@praveenkumar these are open issues that were raised while I was doing a general doc string edit, so I guess we need to investigate some of these and see whether they're still valid.

[2017-05-31 09:02] praveenkumar commented on #291
@agajdosi Since we latest releases we already have this fixed so closing it now.

[2017-05-31 09:02] #291 closed

[2017-05-31 09:04] hferentschik commented on #279
I think this is @thatdocslady issue. I am not sure what the action is we should take here. IMO we can close it, but let's see what @thatdocslady thinks.

[2017-05-31 09:05] hferentschik commented on #236
@praveenkumar I think this is still an issue. There is afaiu no solution for this for now.

[2017-05-31 09:07] hferentschik commented on #215
+1  I was planning to close this issue as well. I still believe the chosen approach is not optimal, but I think the ship has sailed.

[2017-05-31 09:08] praveenkumar commented on #292
Since now we reached the 1.0.0 milestone I think now we can think to fetch latest available iso for b2d ISO. let we adjust the milestone if we think 1.2.0 timeline is not good enough.

[2017-05-31 09:09] hferentschik commented on #195
That was the initial idea. Minikube afaik use CoreOS image. I guess one would need to start with an investigation and see how much work it is and how it compares to the B2D ISO.

Right, that would be the result

[2017-05-31 09:10] budhrg commented on #236
Might be we need to do bit work in finding an alternate solution here. Will discuss with @gbraad

[2017-05-31 09:11] budhrg commented on #86
Agree, we have come a long way :+1:  Closing now.

[2017-05-31 09:11] #86 closed

[2017-05-31 09:12] hferentschik commented on #197
No we have a way to list versions in a separate command, but no way to interactively chose a version. Whether this really is so important is another question.

[2017-05-31 09:12] thatdocslady commented on #279
@hferentschik see my comment above, I can see some of the questions were answered already but things may have changed since then in functionality. If you assign this to a milestone I can go over it in the next sprint and see what can be done and what is obsolete.

[2017-05-31 09:14] praveenkumar commented on #337
@hferentschik Do we still need it I think we have now a script for release already right?

[2017-05-31 09:15] thatdocslady commented on #919
@gbraad I guess it depends on what "eventually" means :) The safest place we can document it is probably in the troubleshooting guide + link from the relevant usage doc to that known issue. Then when it's fixed we can remove the content from the troubleshooting guide.

[2017-05-31 09:18] praveenkumar commented on #343
👍

@gbraad I agree for us right now it's going to be a known issue.

[2017-05-31 09:19] thatdocslady commented on #850
@hferentschik I can see a few new commands that haven't gone thru a doc string edit yet (i.e. update, addon-apply, etc). Should I rephrase this issue to cover all new commands, or is it better to handle each command set in a separate issue?

[2017-05-31 09:19] gbraad commented on #236
https://github.com/kubernetes/minikube/issues/459#issuecomment-240796185

[2017-05-31 09:20] praveenkumar commented on #353
@thatdocslady Let spend some time on it and get it fixed, this shouldn't take much time though.

[2017-05-31 09:21] praveenkumar commented on #357
@thatdocslady I am closing this issue since everything is now in place.

[2017-05-31 09:21] #357 closed

[2017-05-31 09:22] gbraad commented on #919
I am trying to get a release date, but this is at the moment not clear.
Even if a new binary is available, it is not automatically synced to the
Chocolatey repository.

I just want to be sure this is a recorded known issue for upstream AND
downstream.

[2017-05-31 09:24] praveenkumar commented on #364
@hferentschik with our current master we have it below so we just need to adjust `show-libmachine-logs` message to lower case and good to go.

[code]

[2017-05-31 09:26] thatdocslady commented on #919
@gbraad for upstream we can definitely get it into the troubleshooting guide, and IIRC the downstream writers are pulling in that doc into the CDK doc set so it should make it there :)

[2017-05-31 09:27] thatdocslady commented on #364
@praveenkumar please also tag me in these questions. There are more fixes that need to be done to the descriptions of these messages, capitalizationa and grammar.

[2017-05-31 09:27] gbraad commented on #919
let's do that!

[2017-05-31 09:28] thatdocslady commented on #919
@gbraad awesome, so I'll create SSH content for the "normal" use and add the known issue in the troubleshooting guide. Will ping with questions as needed :)

[2017-05-31 09:30] hferentschik commented on #337
Not sure whether we need the changelog generation in the Makefile in the end, but the end game is to have a full automated release via a Jenkins job. See also #786.

[2017-05-31 09:32] praveenkumar commented on #368
@budhrg @hferentschik I think we should close this issue now because most of folks who are on mac are happy with what we have as default.

[2017-05-31 09:37] thatdocslady commented on #353
@praveenkumar sure, I guess I need to figure out when in the sprint to get started with this since it has a further milestone than some other tasks but I'd like to add this to my queue for sure!

[2017-05-31 09:37] budhrg commented on #368
Agree @praveenkumar

[2017-05-31 09:38] hferentschik commented on #850
Please all in one :-)

[2017-05-31 09:52] praveenkumar commented on #376
@sglebs If you are using `xhyve` driver then I am afraid you don't able to map which network bridge you want to use for you VM to get IP. I don't find anything from https://github.com/zchee/docker-machine-driver-xhyve :( but If you use Virtualbox then --virtualbox-hostonly-cidr "192.168.99.1/24" Specify the Host Only CIDR [$VIRTUALBOX_HOSTONLY_CIDR] can be used. Let us know if that something works

[2017-05-31 10:02] praveenkumar commented on #388
@thatdocslady I think whatever listed to https://www.openshift.org/vm/ already in place in our document or you have something else in mind?

[2017-05-31 10:05] praveenkumar commented on #391
@LalatenduMohanty I think this issue is mostly related to cluster certificate something like letsencrypt or users own or did I miss something @hferentschik

[2017-05-31 10:07] praveenkumar commented on #394
@gbraad Can we close this because moving forward we are looking for `overlay` as default.

[2017-05-31 10:09] praveenkumar commented on #405
@hferentschik Can we add a milestone to it, seems like a trivial to do.

[2017-05-31 10:13] praveenkumar commented on #430
@sokoow you need below command to do it, let us know if that works for you.

[code]

[2017-05-31 10:15] praveenkumar commented on #458
@hferentschik should we close it now?

[2017-05-31 10:16] praveenkumar commented on #460
@gbraad you still want to look into it or we can close it right now and reopen when have some time?

[2017-05-31 10:18] gbraad commented on #394
closing is OK with me, Also close: https://github.com/minishift/minishift-centos-iso/pull/100 and https://github.com/minishift/minishift-centos-iso/pull/74, WDYT?

[2017-05-31 10:20] praveenkumar commented on #471
This is now fixed, closing it.

[2017-05-31 10:20] #471 closed

[2017-05-31 10:22] gbraad commented on #394
Closing as we will likely go with overlay

[2017-05-31 10:22] #394 closed

[2017-05-31 10:26] praveenkumar commented on #484
@gbraad do we have this similar issue on iso repo side also I think that where we need it right?

[2017-05-31 10:28] praveenkumar commented on #491
@gbraad so looks like we don't have any option. Good thing is our downstream bits now run all integration tests for each platform. Do you need more time to investigate it?

[2017-05-31 10:33] hferentschik commented on #353
I am actually not sure what's still missing. I think issues we have seen where at times where we still had a dependency to Kubernetes and OpenShift. I think the documented process works fine now.

[2017-05-31 10:33] praveenkumar commented on #518
@hagishun latest version of minishift expose `logging` flag which can be used for kibana. Can you try that once and let us know if that works?

[2017-05-31 10:35] praveenkumar commented on #522
@LalatenduMohanty @hferentschik we need a milestone for it if we want to implement it.

[2017-05-31 10:35] hferentschik commented on #368
+1, also relates to #215.

[2017-05-31 10:35] #368 closed

[2017-05-31 10:36] praveenkumar commented on #529
@gbraad Can we again check this pattern since now we are going to use native ssh go implementation?

[2017-05-31 10:39] hferentschik commented on #388
I think this could be closed.

[2017-05-31 10:40] praveenkumar commented on #545
@jfclere can you make sure there is not docker specific environment variable set? Also we are all mostly use f25 and didn't face this issue :(

[2017-05-31 10:41] hferentschik commented on #405
Well, I am not so sure. If we do it, we also need to add a --force, since otherwise scripting and testing becomes a pain. But let's discuss.

[2017-05-31 10:41] praveenkumar commented on #546
@hferentschik we need a milestone for same.

[2017-05-31 10:43] praveenkumar commented on #557
@starksm64 we have 1.0.1 latest release can you try that out and let us know if you still face same issue?

[2017-05-31 10:45] praveenkumar commented on #561
@gbraad as per discussion on this issue I am going to close it and it you hit again then will reopen.

[2017-05-31 10:45] #561 closed

[2017-05-31 10:45] hferentschik commented on #391
There are several things we need to investigate as Lala is saying. For example, if you have a self signed certificate for HTTPS proxy, you need to somehow get it onto the VM to make all work. I finally got everything worked on my dev machine to use a self signed proxy and it works for things happening on the hosts, but without the certificates on the VM as well, it will fail once the VM needs to g

[2017-05-31 10:46] hferentschik commented on #458
I think this is about actually creating new persistent volumes. @jstrachan, can you elaborate on what you had in mind?

[2017-05-31 10:47] hferentschik commented on #471
+1 :-)

[2017-05-31 10:47] praveenkumar commented on #563
@gbraad do we need more debug for this issue or can be closed?

[2017-05-31 10:49] praveenkumar commented on #567
@hferentschik Can we put a milestone, looks like trivial to do something like

[code]

[2017-05-31 10:49] hferentschik commented on #491
I think we should keep it open. We should keep looking for a solution for this.

[2017-05-31 10:55] hferentschik commented on #546
It seems odd to me to have this as a default. For a normal user it makes no sense to download the binary for another target platform. The only use case I can see for this is the pack&go use case, where I want to zip ~/.minishft up to be used on another OS. I think this should somehow be handled by a dedicated command.

I guess to take some height for this, we could change the chche directory to co

[2017-05-31 10:57] hferentschik commented on #567
+1

[2017-05-31 11:00] gbraad commented on #491
I agree to keep it open...

[2017-05-31 11:01] gbraad commented on #563
yes... this is a general problem, and still occurs

[2017-05-31 11:05] gastaldi commented on #567
Cool! And `minishift console --auth --url` would display the URL right?

[2017-05-31 11:07] praveenkumar commented on #569
So documents around driver section already in place and rpm packaging effort is part of #828 so I am going to close this issue.

[2017-05-31 11:07] #569 closed

[2017-05-31 11:16] praveenkumar commented on #552
@gbraad  this is something already filled in bugzilla side BZ#1402074 so I am closing this issue. bugzilla have a workaround for this right now but it's not landed to fedora25 repo yet. f26/f27 have updated fix.

[2017-05-31 11:16] #552 closed

[2017-05-31 11:17] gbraad commented on #552
marked somehow as known issue?

On Wed, May 31, 2017 at 7:16 PM, Praveen Kumar <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-05-31 11:18] praveenkumar commented on #567
No, `minishift console --url` will display the url.

[2017-05-31 11:20] praveenkumar commented on #587
Closing this since we (as part of minishift) doesn't need to change anything.

[2017-05-31 11:20] #587 closed

[2017-05-31 11:21] praveenkumar commented on #606
I am closing this issue since @lulf issue is resolved and also the issue was with images, nothing from minishift side.

[2017-05-31 11:21] #606 closed

[2017-05-31 11:21] gastaldi commented on #567
Works for me

[2017-05-31 11:24] praveenkumar commented on #617
@budhrg does this still a issue? If not please close.

[2017-05-31 11:28] praveenkumar commented on #641
@hferentschik any reason we removed a milestone for it?

[2017-05-31 11:32] praveenkumar commented on #670
@rawlingsj I hope your issue is resolved, I am closing this issue now if you think there is still a issue we will reopen same.

[2017-05-31 11:32] #670 closed

[2017-05-31 11:36] praveenkumar commented on #694
From minishift side I don't think we have anything to do so closing this. We will reopen if you think we need changes from minishift side here.

[2017-05-31 11:36] #694 closed

[2017-05-31 11:37] praveenkumar commented on #695
@burrsutter still you are facing same issue or should we close this issue?

[2017-05-31 11:38] hferentschik commented on #641
Because it is not really needed due to _oc rollout_. I think we can actually close this one.

[2017-05-31 11:38] #641 closed

[2017-05-31 11:41] hferentschik commented on #617
It is. We need to make the mount target optional.

[2017-05-31 11:41] praveenkumar commented on #702
@tdussmann this is something we recently pushed to upstream it mostly around proxy env when those are part of default bash environment variable then we can see same error. I am closing this issue if you face again, we will reopen.

[2017-05-31 11:41] #702 closed

[2017-05-31 11:42] praveenkumar commented on #710
@NickLaMuro I hope this is fix for you can we close this issue now?

[2017-05-31 11:47] praveenkumar commented on #726
@starksm64 Any update here?

[2017-05-31 11:51] praveenkumar commented on #727
@cmoulliard now we have most of start flags as part of config so now `config set` can be use to put most of flags. @hferentschik do we need any other action for this issue?

[2017-05-31 11:53] praveenkumar commented on #755
@stour you got any workaround for issue or still same? I am closing it right now if still same then will reopen.

[2017-05-31 11:53] #755 closed

[2017-05-31 11:57] praveenkumar commented on #771
@LalatenduMohanty @hferentschik so what is our take if we all agree that all the addons which are part of our repo should be `default` then I think this issue we can close.

[2017-05-31 11:59] praveenkumar commented on #806
@budhrg if you are agree with us can please close it?

[2017-05-31 12:00] praveenkumar commented on #817
@gbraad @budhrg Something we need to replicate and see if can debug it.

[2017-05-31 12:04] praveenkumar commented on #852
@karthikvt26 any update?

[2017-05-31 12:05] praveenkumar commented on #860
@hferentschik so what we need here, templates and images streams?

[2017-05-31 12:06] praveenkumar commented on #868
@jorgemoralespou Can you provide your input about this issue?

[2017-05-31 12:07] praveenkumar commented on #870
@quiel77 can you delete your minishift using `minishift delete` and then restart your mac then try using xhyve?

[2017-05-31 12:17] dustymabe commented on #694
does the upstream issue https://github.com/openshift/origin/pull/13636 fix this? If not then i would prefer to leave this open and have it track a another issue upstream that will solve the problem.

[2017-05-31 12:18] hferentschik commented on #860
A bit of both.

@jstrachan, we have been talking at some stage about you guys trying to create a YAML file with image streams, templates, etc to bootstrap Fabric8 onto OpenShift. Did you make any progress on this?

[2017-05-31 12:19] praveenkumar commented on #872
@linux360 Can we close this issue or you have something else here which need our help?

[2017-05-31 12:19] jfclere commented on #545
You are right I have also used docker with my laptop for other stuff, there is a chance that there is a bad interaction, I will try to clean an reinstall.

[2017-05-31 12:25] gbraad commented on #817
@vbusch can you also explain more about the steps you use...
@magick93. @vbusch
  * what is your base/host OS? `cat /etc/os-release`
  * which version of Minishift? `minishift version`
  * do you use b2d or CentOS image? if no idea, you likely run b2d.
  * what is the version of Docker?
  * which parameters with you use with `minishift start`?
  * was deployment completed successfully?
  * which s

[2017-05-31 12:43] praveenkumar commented on #388
Closed :)

[2017-05-31 12:43] #388 closed

[2017-05-31 12:47] praveenkumar commented on #353
@hferentschik right, but I think we do need to add a step to clear glide cache `glide cc`

[2017-05-31 12:50] praveenkumar commented on #364
@thatdocslady Problem is that except `-show-libmachine-logs` we don't have any thing in our control because other part come from a different module that's the reason I didn't tag you but if you think ` Show logs from libmachine.` also need improvement then let me know.

[2017-05-31 12:54] gbraad commented on #353
I also believe this is mostly resolved and maybe saying `make clean` is a
better option now...

the use of `glide cc` hasn't been needed in the recent months.

[2017-05-31 13:06] thatdocslady commented on #552
I agree with Gerard and I don't think this issue should be closed because we still support F25 (or at least it's widely used and F26 isn't out yet) so users might still hit it.

I recommend to reopen and document as a troubleshooting topic.

And please Praveen, it seems that you're in a hurry to close a bunch of issues, not sure why, but I would give people more than 1-2 hours to respond to your q

[2017-05-31 13:37] hferentschik commented on #353
Right. I think the problem was with the Kube dependencies. The preferred way should be 'make clean' which affect is working fine now. If anything we can add a note, that if the Glide cache is corrupted it can be cleaned with a 'glide cc'

[2017-05-31 13:37] quiel77 commented on #870
I will try it
Thanks

Enviado desde mi iPhone

[2017-05-31 13:38] hferentschik commented on #364
Right, I have some deeper going plans there. This ties into the overdue logging re-work. @thatdocslady, we are not talking about just some wording changes.

[2017-05-31 13:45] hferentschik commented on #552
From my side a +1 for closing it. I don't feel this really belongs into our realm.

[2017-05-31 13:53] thatdocslady commented on #552
At the risk of repeating myself, I'll remind that if we document that users can reuse the docker daemon with minishift and then it doesn't work as expected with some OS, then it is our realm and we should document it as a known issue. The fix might not be up to us, but similar to the SSH issue where we are dependent on 3rd party fix but in the meantime we are stuck with broken functionality.

At t

[2017-05-31 14:11] gastaldi commented on #567
Since this URL is meant to generate an OAuth token, perhaps the param should be named `--request-token`? `--auth` looks like it should redirect to the user/pass login screen IMHO. Thoughts?

[2017-05-31 14:19] budhrg commented on #460
I am happy to keep it if it provide consistent results, easy configuration over Travis CI.
If the infrastructure provides nested virt, then its worth to try.

[2017-05-31 14:21] gbraad commented on #460
Alreayd have this working for myself... can contribute this. just didn't take the time to adjust it for consistency with the current `centos_ci.sh` to prevent duplication.

[2017-05-31 14:28] praveenkumar commented on #353
That works for me so @thatdocslady I think you have all info now.

[2017-05-31 14:42] budhrg commented on #806
Closing this as it is not needed now and served by other commands.

[2017-05-31 14:42] #806 closed

[2017-05-31 15:07] remmercier opened #974 "Start minishift in a VM ?"
Hi,

is it possible to run minishift in a VM (vagrant, ovm, ...) ?

I tried several things and looked for a solution on internet. I think it's not possible but I would like to be sure.

Thanks.

Rémi.

Here is the logs that I get :

ubuntu@ubuntu-xenial:~$ ./minishift --show-libmachine-logs start
Starting local OpenShift cluster using 'kvm' hypervisor...
Downloading ISO 'https://github.com/minishi

[2017-05-31 15:21] budhrg commented on #966
As we mentioned to add this as part of #485 here https://github.com/minishift/minishift/issues/485#issuecomment-284710930, I believe we can close this one.

WDYT @hferentschik @gbraad @LalatenduMohanty @praveenkumar .

[2017-05-31 15:24] budhrg commented on #227
If @PierrickI3 also agrees, then we can close this one.

[2017-05-31 15:25] budhrg commented on #126
I feel the same.

+1. Most of the major changes will happen around this.

[2017-05-31 15:33] budhrg commented on #546
Added milestone as `1.3.0`.

[2017-05-31 15:34] budhrg commented on #491
Same here. +1 for to keep it open.

[2017-05-31 15:40] budhrg commented on #771
Yes +1 for closing it. Also, for automatic installation of addons we have #639 . Rest of the addons need to be  manually installed.

[2017-05-31 15:47] budhrg commented on #974
Hi @remmercier ,

We have not tried that yet. But I believe, it might not possible since the hypervisor might not support nested virtualization. As far as I remember, it is hard to get this on VirtualBox.

[2017-05-31 15:54] remmercier commented on #974
Ok, thanks for your answer ;)

[2017-05-31 15:56] hferentschik commented on #567
Sure, makes sense. We can discuss the exact name when we actually implement the feature.

[2017-05-31 15:57] hferentschik commented on #460
What would it give us? We have quite a few CI systems already? Is there any feature we would get which we don't have. If you say it supported nested virt, I am in. If not, I am not sure whether it really adds value at this stage.

[2017-05-31 15:58] hferentschik commented on #806
+1

[2017-05-31 16:27] apitt commented on #236
If the documented solution for people like me (a corporate desktop setup that defaults the Users directory to some network drive) is to set the `HOMEDRIVE `environment variable to `C:`, then I think it can be closed.  If it's not documented, then people will probably continue to open this issue.

Also, this happens to work for us (Windows 7 and Virtualbox), I can't really vouch for this being a "u

[2017-05-31 17:42] hferentschik commented on #236
Well, tbh I would like to understand why it is not possible to do it. This seems like an very odd restriction imo

[2017-05-31 17:47] hferentschik commented on #974
I guess the question is also why you would like to do this? Minishift itself is a framework offering/creating a virtualised environment for you. Why would you like to run this within a VM? What is your use case?

Technically, if your host and hypervisor support nested virtualisation, it could potentially be possible. However, this will come with a lot of overhead in terms of resource consumption.

[2017-05-31 18:17] remmercier commented on #974
My case is only for experimentation and i really understand that minishift is only for help developers to have local environment of openshift.

In my compagny, we have not yet an openshift environment. In POC mode, I wanted to build something on our jenkins (which runs in a virtual environment) and deploy the result docker image to minishift. I tried to start minishift on the same vm where jenkins

[2017-05-31 18:21] hferentschik commented on #974
Ok, fair enough. I think we can actually close this issue in this case. WDYT?

[2017-05-31 18:24] remmercier commented on #974
Yes we can close this issue.

Thanks again!

[2017-05-31 18:24] #974 closed

[2017-05-31 18:30] hferentschik opened #975 "TestStartClusterUpNoFlags fails regularly on travis CI"
This test also accesses the GitHub API, but is not excluded as the others which access GitHub leading to unwanted build failures. We should disable it as well.

[2017-05-31 19:05] thomasmckay opened #976 "'docker push' w/ docker-registry route from addons fails with "unauthorized: authentication required""
Using the registry-route addons https://github.com/minishift/minishift/blob/master/addons/registry-route/registry-route.addon I am able to login to registry but not docker push to it. Could be related to https://github.com/openshift/origin/issues/14249 and https://github.com/openshift/openshift-ansible/pull/4254 ?

[2017-05-31 19:10] jorgemoralespou commented on #546
@hferentschik yes, the pack&go could be the only use case, but it's a use
case we want, and the solution, as you point out, should be as easy as add
an intermediate directory with the OS Arch there.

[2017-05-31 19:18] hferentschik commented on #975
Actually the problem is the access to the tag info which is currently not mocked. So far we ignored mocking it, since we thought these request would not exceed the rate limit. I guess we now have to mock them as well.

[2017-05-31 21:03] orf opened #977 "Minishift on Macos ignores the --vm-driver flag"
Minishift version 1.0.1

[code]

`virtualbox` is a driver that is supported by docker-machine on MacOS, but `minishift` seems to use `xhyve` all the time.

[2017-05-31 21:10] thomasmckay commented on #976
My minishift setup
[code]

From another host
[code]
I tried setting the 'minishift docker-env' locally on the host pushing from (copying certs over locally too) but stil get unauthorized error. I have added the registry as insecure. I can pull from the registry fine.

[code]

[2017-05-31 21:40] jorgemoralespou commented on #694
Here is my view.
Second boot of oc-cluster does not re login the user, hence they remove the output in the startup log. If minishift want to log in the user as part of the "start" process, I guess it could show information about the logged in user.

Minishift could have some problems when using login to log the user in, if you're naming the context in .kube/config, mainly because oc login will not

[2017-05-31 21:46] jorgemoralespou commented on #868
@bparees Can you help here? I think this could be a bug. AFAIK a binary build should not trigger a build, as it should disable the triggers.

[2017-05-31 21:50] jorgemoralespou commented on #563
I recall that as part of a bug fix @csrwng fixed some networking checks that was taking long time.

@gbraad could you add some output with --loglevel=10 to help @csrwng identify the source of the problem?

[2017-05-31 21:58] jorgemoralespou commented on #391
@hferentschik I would maybe split the work, but the most important should be for the console/master-api (logging/metrics), which have the effect of asking you to accept a certificate when you open the browser to those UIs.
The rest of use cases I would consider them secondary.

[2017-05-31 22:04] bparees commented on #868
I'm not sure what the best behavior would be in terms of preventing it but yeah, fundamentally builds that only have binary inputs cannot be triggered.

[2017-05-31 22:05] bparees commented on #868
(so for now you should remove the triggers from your Buildconfig in the template)

[2017-05-31 22:06] jorgemoralespou commented on #868
@bparees I guess you mean "should not be triggered", and also "we need a bug in origin"? Should I open it?

[2017-05-31 23:50] csrwng commented on #563
My understanding is that this issue is with login rather than the pod network test. But I agree, it'd be good to run the login command with a higher loglevel to see where the problem is occurring.

There is definitely something wrong with login when it takes > 20 sec (as mentioned above):
[code]

[2017-06-01 02:00] bparees commented on #868
well i meant "cannot be triggered successfully" :)

anyway yes, please open a bug.

[2017-06-01 02:36] thomasmckay commented on #976
docker-1.12.6-16.el7.centos.x86_64

[2017-06-01 02:37] thomasmckay commented on #976
duplicate of https://github.com/minishift/minishift/issues/817 ?

[2017-06-01 02:42] thomasmckay commented on #817
Linked my steps to reproduce. Repeatable.

[2017-06-01 04:11] gbraad commented on #976
What is your host OS?

[2017-06-01 04:13] gbraad commented on #976
Did you login with:
[code]

[2017-06-01 06:35] praveenkumar commented on #976
@thomasmckay Can you try with a different iso like centos one using below (make sure you delete minishift vm before start it again)

[code]

[2017-06-01 06:37] praveenkumar commented on #977
@orf No it's not looks like you have already minishift VM which provisioned using `xhyve` and not deleted so can you please do `minishift delete` first and then try with different driver option?

[2017-06-01 06:40] praveenkumar commented on #966
@budhrg here we just referenced this issue in our list so let it be open and we will close once we implement original.

[2017-06-01 07:07] PierrickI3 commented on #227
I do not have the time to re-test this at the moment. Go ahead and close it and we can re-open if required.

[2017-06-01 07:07] #227 closed

[2017-06-01 07:09] hferentschik commented on #391
I think this is going to happen anyways. When we pick up this task we will need to understand where and how certificates come into play and then split tasks out depending on what can be done and also what is most important.

[2017-06-01 07:22] praveenkumar commented on #817
@magick93 Can you try with a different iso like centos one using below (make sure you delete minishift vm before start it again)

[code]

[2017-06-01 07:25] hferentschik commented on #976
@thomasmckay, you need to tag the image explicitly with the port 443. This is needed due to a bug in Docker and the reason why we don't enable this add-on per default atm. For that reason we also use the internal registry IP as part of 'minishift openshift registry'.

Could you try something like:

     $ docker tag logging-deployment docker-registry-default.192.168.42.181.nip.io:433/rhcc/logging-

[2017-06-01 07:31] michelebariani commented on #976
Hi,

Although I am not using any add-on, I have exactly the same "authentication required" and wanted to let @thomasmckay know that switching from default minishift-b2d.iso image to minishift-centos7.iso actually fixed the issue in my case.

Thanks, and keep up the good work :-)

Note: host is Fedora 25 (fully updated), using Virtualbox as vm-driver

[2017-06-01 07:36] ctron opened #978 "Allow providing credentials when generating service URL"
Creating a service URL or opening a service URL using `minishift openshift service` should allow providing credentials.

Assume you have:
[code]

But would like to add basic auth credentials to the URL, this is currently not possible. So I would propose to add a new parameter (e.g. `--credentials`) which would merge this into the URL. E.g.:

[code]

Of course the same when not using `--url`.

[2017-06-01 07:41] hferentschik commented on #976
There might be several issues then. Using the add-on makes a huge difference on how the registry is accessed. @michelebariani, I understand you are using the internal registry IP. This should indeed work fine out of the box. If to make this work you have to switch to another ISO, we have a regression somewhere.

Regarding the route add-on and using a dedicated route to access the registry, you wil

[2017-06-01 09:18] go101 commented on #920
same problem for me.
Debian amd64.

[2017-06-01 10:22] karthikvt26 commented on #852
@praveenkumar @gbraad Hey, I couldn't get a change to try it. Will try it and update you guys.

[2017-06-01 11:18] as0077749 commented on #920
yes I am also stuck with same problem :(

[2017-06-01 11:28] LalatenduMohanty commented on #409
Resolved by https://github.com/minishift/minishift/commit/4b9ddbf40f525d63a86eac087b1406997b1a5ce9

[2017-06-01 11:28] #409 closed

[2017-06-01 11:52] thomasmckay commented on #976
Still fails after adding :443
Still fails using centos7 iso and specifying :443

[2017-06-01 12:11] budhrg commented on #639
@hferentschik ,

I think even with getting the new executable via os.exec to get hold of updated assets, the code to unpack the addons is in the current binary execution context.
Assume following code:
- code to fetch and update binary (old binary)
- get the new executable (new binary)
- code to unpack the addons (this comes in the execution context of old binary)

This is just my assumption.

[2017-06-01 12:41] dustymabe commented on #694
@jorgemoralespou - thanks for the explanation.

I think the one thing I'm trying to overcome is people having to look up what the default username/passwords are for minishift users. I don't necessarily think we need to re-login the user on a second start, but maybe we can actually print out an additional message that tells them:

- what user/password combinations exist with minishift
- if they are

[2017-06-01 13:38] jorgemoralespou commented on #694
@dustymabe I think usually that's what documentation is for.
Minishift just creates one user (developer) and any password works, I don't think learning that justifies the work here.
On the other hand, if minishift used htpasswd auth it created more users, I would understand this requirement.
In any case, not my call. I'm not a minishift developer, just another user.

[2017-06-01 14:16] dustymabe commented on #694
then how hard would it be to just print that out on startup?

Nothing has to be done here if we decide not to. I'm just trying to make the user experience better.

[2017-06-01 17:17] thomasmckay commented on #976
A conversation on openshift-dev irc caught my eye and it's the source of my problem. It seems the user I was pushing with did not have priveleges to push imagestreams. I'm not sure, as a new user, what the correct flow should be to correct this.

Instead of pushing to a project I created in the registry console I instead pushed to "myproject"
[code]

I would say this issue can be closed and perhap

[2017-06-01 20:23] hferentschik commented on #486
I think this is obsolete by now - https://github.com/minishift/minishift/blob/3b82cbed7eba3ee6890621e5e966ea4515b19fa0/cmd/minishift/cmd/config/validations.go#L60-L60

@gbraad WDYT?

[2017-06-01 20:45] michelebariani commented on #976
Very good point from @thomasmckay and I thought it would be the fix for the default boot2docker iso, but no luck in my case.

On a fresh minishift (b2d) VM tried pushing into myproject, both as *developer* and as *system:admin*, without success.
Also added *system:image-builder* role (not 100% sure it's the right one, anyway) to *developer*, no luck. Even added *admin* role to developer, still no

[2017-06-02 08:52] thatdocslady commented on #364
@hferentschik ok so I understand that the strings come from external components, was wondering if we can use a foss-first method and maybe contribute edits to the components so it also helps others who use them.

If you have different plans for these or think that they'll become obsolete in the near future then we can close this task and accept the icky strings for now :)

[2017-06-02 09:12] hferentschik commented on #364
I don't think that there is something inherently wrong with the messages. It just does not quite fit our style. Also, I would like to be able to control all this our own logging facade.

To answer your question, no, in this case I was not planning to contribute anything into a library.

[2017-06-02 09:42] hferentschik commented on #639
Hmm I thought about ForkExec, but yes there is an issue. The alternative is to as part of the update, write a marker file into the MINISHIFT_HOME directory. In root.go we add some code which checks the marker. If it detects it, it does the requires post binary update actions and removes the marker.

[2017-06-02 10:54] hferentschik commented on #780
Merged via pull request #875

[2017-06-02 10:54] #780 closed

[2017-06-02 11:21] gbraad commented on #964
This task is now mostly about adding functionality to the `godog`-based integration tests to be able to deal with more complex scenarios, such as the one above. Some of the functionality is focussed on allowed variables to be used integration:

  * Especially as `oc process` can not write to a file (depends on piping)
  * and that `oc rsh` needs a podname (these are dynamic)

After this, I will al

[2017-06-02 11:27] jorgemoralespou commented on #976
Docker push into the registry will not create the projects/namespaces in the registry. These need to exist and you need to have permissions to push to them. You would most likely push to either one of your projects (as you'll use the image there) or a shared project (openshift) that is meant to be shared for every user (although not sure you can push here), but never to a non existent project.

In

[2017-06-02 11:30] jorgemoralespou commented on #976
@michelebariani as you're using self-signed certificates, you either add the certificates to your docker trust or you add the registry to the list of insecure registries.

And for the permission, you can validate the builder serviceaccount, which is the one that pushes internally.
https://docs.openshift.org/latest/dev_guide/managing_images.html#accessing-the-internal-registry

[2017-06-02 11:53] LalatenduMohanty commented on #964
+1

[2017-06-02 12:30] agajdosi commented on #964
I would suggest to add `@openshift` tag to coolstore feature and then to MSA hello world feature in future and not tag them with `@basic` to exclude them from `make integration` which currently runs only those tests, which have `@basic` tag. Following this plan `make integration` would stay relatively quick check for developers to assure that basic functionality is working, while they could specif

[2017-06-02 12:39] budhrg commented on #639
@hferentschik , how about executing `minishift addons install --defaults` once the binary is replaced?

[2017-06-02 13:24] LalatenduMohanty commented on #964
@agajdosi +1. IMO we should run the @opeshidt tests before each release.

[2017-06-02 13:36] agajdosi commented on #964
@LalatenduMohanty agree, for downstream I am planning for every night on builds of CDK

[2017-06-02 14:49] hferentschik commented on #849
Merged via pull request #973

[2017-06-02 14:49] #849 closed

[2017-06-02 15:07] gbraad commented on #977
Unable to reproduce for a new instance. This is a duplicate of #179.

[2017-06-02 17:39] gastaldi opened #983 "Support piping and redirection in addon commands"
This limits using `oc process` (impossible)

[2017-06-02 17:42] gbraad commented on #983
The `oc process` command relies on streaming/piping the output or redirecting it to a file, for instance as:

[code]

Since the `oc process` command does not offer an `--output / -o` option, it is now not possible to use this function.

[2017-06-02 17:42] jorgemoralespou commented on #983
@gastaldi why do you need oc process?
I've found that most of the times what people do with "oc process | oc apply" can be also done with "oc new-app".
If you're updating a running application, then yes, you need that syntax, if you're creating an application from scratch "oc new-app" works the same.

[2017-06-02 17:48] gastaldi commented on #983
@jorgemoralespou I want to add an existing Openshift YAML template to the catalog (this one specifically: https://github.com/openshiftio/launchpad-templates/blob/master/openshift/launchpad-template.yaml).

The only way that I found is using `oc process -f template.yaml | oc apply -f -`.

I appreciate any ideas. Thanks!

[2017-06-02 17:48] tobias opened #984 "`minishift start` should verify the minishift-b2d.iso"
If `~/.minishift/cache/iso/minishift-b2d.iso` exists, it is assumed to be the complete iso. If it is from a previous `minishift start` call that was interrupted, it may not be a complete download. One solution would be to check the `sha256` sum of the file, comparing it to the published sum, and redownloading if it doesn't match.

[2017-06-02 17:49] gastaldi commented on #983
That is the Red Hat OpenShift Application Runtimes app, and it generates apps and deploys on OpenShift

[2017-06-02 17:58] jorgemoralespou commented on #983
To add a template to the catalog, just add the template, with "oc create -f"

[code]

And should be in the openshift namespace if you want it globally accessible, or in your namespace in case not.

oc process -f instantiates the template, so not doing the same at all, that will deploy the application in your current project.

I hope I understand what you want to do. Any other pointer, maybe to the

[2017-06-02 18:06] LalatenduMohanty commented on #984
@tobias I think this is duplicate of https://github.com/minishift/minishift/issues/344. If you agree lets close this issue and track it in the former issue.

[2017-06-02 18:13] gastaldi commented on #983
What is the role needed to allow a user to upload templates?
I get `User "admin" cannot create templates in project "openshift"` when running

`oc create -f https://raw.githubusercontent.com/openshiftio/launchpad-templates/master/openshift/launchpad-template.yaml -n openshift`

This is my addon contents (under `~/.minishift/rhoar/rhoar.addon`) (I don't see those outputs either):
[code]

[2017-06-02 18:18] orf commented on #977
Perhaps @praveenkumar and @gbraad, but `docker-machine` doesn't list any active machines. I will have another try later.

[2017-06-02 18:20] jorgemoralespou commented on #983
@gastaldi Why do you get admin user?
@hferentschik what user are the addons installed with? Also, is developer sudo enabled?

If the addons are installed with a user, and not a sudo user or real cluster admin, then you will most likely not be able to install a template on the openshift namespace, as you would also not be able to assign you user the required permissions.

But AFAIK the addons are i

[2017-06-02 18:26] hferentschik commented on #977
docker-machine and Minishift are independent and use different directories to keep their state. Minishift uses docker-machine (or better libmachine) under the hood to create and manage its VM, but they are not part of the docker-machine managed VMs.

[2017-06-02 18:31] orf commented on #977
Ahh, that makes sense. I cleared out `.minishift/machines` and now `minishift start` works as expected with virtualbox.

I was confused as the `virtualbox` docker-machines show up in `docker-machine ls` whereas the `xhyve` one does/did not.

Thanks for the quick replies, I will close this issue as it seems to be #179.

[2017-06-02 18:31] #977 closed

[2017-06-02 18:35] #984 closed

[2017-06-02 18:36] hferentschik commented on #984
Duplicate of #344

[2017-06-02 18:45] gastaldi commented on #983
@jorgemoralespou same error happens with `system:admin`

[2017-06-02 18:52] tobias commented on #984
Yes, I agree it is a dupe. Thanks!

[2017-06-02 19:12] jorgemoralespou commented on #983
system:admin is not a user you can directly use.

How are you trying to install the addon?

[2017-06-02 19:15] gastaldi commented on #983
This is what I am doing:
[code]

[2017-06-02 19:24] gastaldi commented on #983
https://github.com/openshiftio/launchpad-templates/issues/2 explains the use case I am working on

[2017-06-02 19:28] jorgemoralespou commented on #983
Hi @gastaldi
The team is working on a command to apply an addon at any time, so easier if you use that mode, at least to validate your addon work. I tried it and it's working ;-)

Here's the process.

- Get one of the latest daily builds of minishift (http://artifacts.ci.centos.org/minishift/minishift/master/171/) for your architecture. I have it in my HOME/Downloads. Give it execution permissions

[2017-06-02 19:29] jorgemoralespou commented on #983
I'll take a look at this on Monday, and I'll tell you my recommendation. Please, tag me in that issue ;-)

[2017-06-02 19:33] gastaldi commented on #983
Excellent, just tried and it works great! Thank you!

[2017-06-02 19:34] gastaldi commented on #983
Although the command is `$ minishift addons apply rhoar`

[2017-06-02 20:28] jorgemoralespou commented on #983
@gastaldi. Yes, problem of going and not copy and paste. 😁 Happy it works. It's easier to work with than having to start the minishift.

[2017-06-02 22:38] fiunchinho commented on #872
Fresh minishift install gave me the same problems as @linux360 . [Doing these steps fixed the issue](https://github.com/minishift/minishift/issues/872#issuecomment-300870649), but I don't think this is the expected behavior.

[2017-06-03 02:59] gbraad commented on #983
Note: The current implementation only runs a subset of commands inside the addons. This also means that the commands can not support piping or redirection. The question remains if we need to support this. (or allow a bash command which can wrap command with `-c` as a 'hidden' option?)

[2017-06-03 09:10] marcindulak commented on #827
Fedora (Rawhide, 27) provides now jWalterWeatherman as lowercase https://bugzilla.redhat.com/show_bug.cgi?id=1427336

[2017-06-03 16:09] marcindulak commented on #974
It's feasible: https://github.com/marcindulak/minishift-quickstart-with-vagrant

[2017-06-03 17:36] gbraad commented on #974
Essentially you can do the following for KVM
[code]

this is what I do to test... but this is not something you want to develop your applications with.

[2017-06-05 04:55] gbraad commented on #964
@agajdosi it was already tagged as `@coolstore` for this purposes. Consider them extended tests... just wondering why you chose the tag `@openshift`, as I believe everything we do is kind of related to OpenShift ;-). I'd rather allow for more fine-grained specification... WDYT?

[2017-06-05 04:56] gbraad commented on #964
Removed the `oc process -f | oc apply -f -` (this way no `stdin` workaround is needed

[code]

[2017-06-05 05:27] budhrg opened #985 "Unable to install default add-ons: Asset xpaas not found in master branch"
Unable to install xpaas as default addons during `minishift addons install --defaults` after compiling the master branch.

[code]

[2017-06-05 05:40] praveenkumar commented on #964
@gbraad Since now xpaas addon contain required imagestreams, shouldn't we run minishift with this addon enabled so we can remove imagestream details? At least once we have this addon as part of default so it can be installed and enabled.

[2017-06-05 05:51] praveenkumar commented on #960
No I don't think it autostart VM (if you restart your OSx host when minishift is running on xhyve then it will after restart it minishift state not be running) If that is you meant.

[2017-06-05 06:14] praveenkumar commented on #985
@budhrg You used old asset which produced by `go-bindata`. What you need to do is

[code]

Please close this issue once you verified it.

[2017-06-05 06:46] praveenkumar commented on #950
I do agree. Either we create a separate command option for this which provide info about what can be set as environment variable. Also as per `minikube` document it says only config which are part of `config view` can be set as env but for us this list is very big now.

[2017-06-05 06:52] gbraad commented on #964
@praveenkumar if enabled by default, sure...

[2017-06-05 07:33] gbraad commented on #964
Not sure what happened here ...
[code]

[2017-06-05 07:58] hferentschik commented on #985
+1

[2017-06-05 07:58] #985 closed

[2017-06-05 08:07] hferentschik commented on #964
+1

[2017-06-05 08:10] hferentschik commented on #964
I am not sure whether this is going to work all the time. The problem is that there is a timing issue and the log command might not successfully tail after a new-app. This was one of the reasons why it used to be so hard to write a reliable script to wait for a build to complete. IMO we should remove the _oc logs_ commands and just use _oc rollout_. AFAIK this is the right way of doing it.

[2017-06-05 08:35] hferentschik commented on #975
Merged via pull request #980

[2017-06-05 08:35] #975 closed

[2017-06-05 08:43] hferentschik commented on #410
Merged via pull request #972

[2017-06-05 08:43] #410 closed

[2017-06-05 08:51] agajdosi commented on #964
I agree. OpenShift is the reason why all in Minishift is happening, but there are also plenty of stuff on this way to have OpenShift running locally and that was my perspective - we can have `@vm`, `@ux`, `@error-reporting`... and also `@openshift` (not sure with the name on 100% - maybe it could be `@app-deployment` or something more accurate). More and more I am starting to think of `@oc` as thi

[2017-06-05 09:21] praveenkumar commented on #430
@hferentschik So what action we need to take for this issue (add document around how to include a insecure registry)?

[2017-06-05 09:26] hferentschik commented on #837
Merged via pull request #981

[2017-06-05 09:26] #837 closed

[2017-06-05 09:30] #688 closed

[2017-06-05 09:35] hferentschik commented on #688
Merged via pull request #982

[2017-06-05 09:56] hferentschik commented on #842
Merged via pull request #979

[2017-06-05 09:56] #842 closed

[2017-06-05 10:13] praveenkumar commented on #665
@hferentschik right, I meant if we want to implement this feature which should also handle priority as part of enable multiple addons as single go then user have to specify name and priority of addon.
Something like `minishift addons enable A <priority_A> B <priority_B> ...etc.`

[2017-06-05 10:22] praveenkumar commented on #665
If this is what we want to implement then I am not sure how much value we will add for users.  what if a user have lot of addons with a specific priority then does he able to use this way? If we want to have this only for same priority then there should be a option to mention priority for this addon then default. Something like `minishift addons enable A B C <priority_addon>`

[2017-06-05 11:02] 40a commented on #884
+1

[2017-06-05 11:08] hferentschik commented on #960
We are actually discouraging a right out deletion of  ~/.minishift (MINISHIFT_HOME). If anything, you want to remove the _machines_ sub-directory.

[2017-06-05 11:09] hferentschik commented on #957
Is there still something to do here?

[2017-06-05 14:19] budhrg opened #989 "Extra progress bar during minishift start"
Hi,

I am not able to remember whether we are allowing progress bars during `minishift start`. Anyone experiencing same?

[code]

[2017-06-05 14:26] gbraad commented on #989
if you resize your terminal you can end up having the same problem.. user problem I call this. Should we address this? (The user did get the feedback to his action, just not what he expected to see)

[2017-06-05 14:29] jorgemoralespou commented on #989
@here all these progress bars suck. :-(

[2017-06-05 14:29] LalatenduMohanty commented on #989
I am seeing
[code]

[2017-06-05 14:35] gbraad commented on #989
currently testing in a different way (godog), so... you see this during normal usage now with master? If so, this is a blocker... right?

[2017-06-05 14:36] budhrg commented on #989
Yes, blocker

[2017-06-05 14:48] jorgemoralespou commented on #989
@gbraad yeah, I downloaded a release on friday to get "addons apply" functionality, and it's no good

[2017-06-05 15:04] jorgemoralespou commented on #665
Why not adding the order you enable the addons as a relative priority? Also, the order in which they appear in the config file, so they can just be moved up/down in the execution chain.

At the end, addons will not be executed in parallel, but rather sequentially, so why not chaining them, and if I define:

addons apply anyuid cluster-admin cors sample-app

that will be the order they get executed

[2017-06-05 18:13] LalatenduMohanty commented on #989
It seems https://github.com/minishift/minishift/commit/bc3fb3e1a53c6ef4aa3fcdb876ce53a7f159f4f3 is the bad commit.

On master, revert the commit and then see if you can reproduce it.
[code]

[2017-06-05 18:19] hferentschik commented on #989
I don't see this issue at all on OS X. @LalatenduMohanty, not sure about this commit you are pointing out. It am not sure why this should be causing this issue.

[2017-06-05 18:35] LalatenduMohanty commented on #989
@hferentschik I am seeing this on OS X as well. The issue is with fresh installs
[code]

[2017-06-05 18:37] LalatenduMohanty commented on #989
I am not sure why the said commit is an issue. Thats something we need to find out.

[2017-06-05 18:37] hferentschik commented on #989
Turns out the issue only occurs when our code makes use of the progress bar, aka it needs to download the ISO or oc. Most likely it is related to the update to cheggaaa in the commit @LalatenduMohanty pointed out. Either the latest version of cheggaaa has a bug or it requires some additional pulldown information.

[2017-06-05 18:38] hferentschik commented on #989
Because _ cheggaaa_ got updated as well.

[2017-06-05 18:48] LalatenduMohanty commented on #989
@hferentschik You are right, after I used the older version of `cheggaaa`  the issue got fixed.

[code]

[2017-06-05 18:52] hferentschik commented on #989
@LalatenduMohanty I am working on a patch. cheggaaa did not have a pinned version, hence we ran into this issue during the last upgrade.

[2017-06-05 18:56] LalatenduMohanty commented on #989
@hferentschik ok, I was interested to fix this issue, hence was working towards fixing it.

[2017-06-05 19:03] hferentschik commented on #989
cheggaaa did not have a pinned version which was introducing the issue as side effect of the docker-machine upgrade. Pull request #991 will pin cheggaaa to the last known working version.

Moving forward, I'd like to replace cheggaaa once we get a chance to work on some ux gloss.

[2017-06-06 01:48] gbraad commented on #989
we will have to manually merge, as CircleCI is not triggered

[2017-06-06 02:49] gbraad commented on #989
Merged

[2017-06-06 02:49] #989 closed

[2017-06-06 05:13] gbraad opened #993 "Refine release instructions"
The release instructions can lead to ambiguity due to scarsity of information and changed permissions:

  * push as a branch to your own repo? push as a branch to origin? or push to master?
However pushing to master is not allowed, as this is a declined hook

Show Gist disallowed pushing to master: https://gist.github.com/gbraad/08b1ab53453afe2fe25ee1f8347bb782#file-when-pushing-to-master

  * "up

[2017-06-06 05:22] gbraad commented on #993
Permissions to master where not properly set. However, instructions around this still needs to be refined.

[2017-06-06 05:53] LalatenduMohanty commented on #993
I think you need to be an owner of the project to able to do it.

[2017-06-06 06:45] LalatenduMohanty commented on #993
Nope, `make release` will do it for you.

[2017-06-06 09:08] gbraad commented on #993
The text is phrased as if you should do this yourself

[2017-06-06 09:24] budhrg opened #994 "Fix PowerShell instruction to add HYPERV_VIRTUAL_SWITCH env variable"
Found that the PowerShell instructions for adding environment variable `HYPERV_VIRTUAL_SWITCH` is missing `$`.
Check here https://docs.openshift.org/latest/minishift/getting-started/setting-up-driver-plugin.html#hyper-v.
![screenshot from 2017-06-06 14-53-51](https://cloud.githubusercontent.com/assets/1132451/26822550/0e2d4a7e-4ac8-11e7-9ccd-7917d642d722.png)

[2017-06-06 09:53] gbraad commented on #994
it is not missing... it is plain wrong: `PS> ` or `PS C:\>` is better for PS... and `C:\> ` for DOS

[2017-06-06 10:58] agajdosi opened #996 ""Stop" command should check state of minishift VM"
We should improve around the way in which Minishift handles states of VM and commands which change these states.

Great fact is that it is not possible to start a running VM anymore if the VM is running. However `minishift stop` command seem to be still not handling the situation correctly:

[code]

Similar situation is in case when VM is already stopped. I think it could be useful to prevent stop

[2017-06-06 11:09] budhrg commented on #994
May be unnecessary space here.

[2017-06-06 11:10] #994 closed

[2017-06-06 12:09] LalatenduMohanty commented on #996
@agajdosi Thanks. I agree that ` $ minishift stop` should check the state of VM and accordingly should provide the error.

[2017-06-06 12:17] agajdosi commented on #996
We can also add a feature which will describe behaviour of Minishift when handling states with `start`, `stop` and `delete` commands. Focusing only on problematic cases it could look like this:

[code]

[2017-06-06 13:39] jayunit100 opened #997 "Improve xhyve error reporting"
**Problem**

Looks like my minishift isn't working on a corporate laptop OOTB, I suspect its related to security but not sure yet.

**Suggested improvement**

Prevent users from needing to know wether "should we be troubleshoot xhyve ?" or "should we be troubleshooting minishift?" .

- https://docs.openshift.org/latest/minishift/getting-started/docker-machine-drivers.html is a 404
- followed:
[cod

[2017-06-06 17:00] rawlingsj opened #999 "certificate is valid for *.xip.io not certificate is valid for *.nip.io"
minishift v1.1.0

I'm trying to log into the new fabric8 ui vi a keycloak openshift provider.  We get a certificate error which mentions valid "xip.io" hostnames but not "nip.io" which is the route suffix that's used.

`post fail Post https://keycloak-fabric8.192.168.64.82.nip.io/auth/realms/fabric8/protocol/openid-connect/token: x509: certificate is valid for *.192.168.64.82.xip.io, 192.168.64.82

[2017-06-06 17:15] gbraad commented on #964
@agajdosi locally I can run the test on b2d. But as soon as I use the CentOS image, I run into issues...

At the moment it seems the `set variable`-step is faulty and does not assign any value.

[2017-06-06 17:18] gbraad commented on #640
When running from `godog`, I am unable to run the test successfully with the same settings: CentOS + 4G fails to deploy locally. However the build runs well in CentOS CI. However, I can run the same test locally when I use the b2d image: #964

[2017-06-06 17:19] gastaldi opened #1000 "Add launch.openshift.io template to minishift addon list"
As discussed in the devtools-program mailing list, it would be nice to have the Openshift template used in launch.openshift.io as part of the Minishift/CDK catalog

[2017-06-06 17:20] gastaldi commented on #1000
PR created: https://github.com/minishift/minishift/pull/998

[2017-06-06 17:59] LalatenduMohanty commented on #999
@rawlingsj Sounds like a bug with `oc cluster up` . I have seen similar when I was creating edge termination route https://github.com/openshift/origin/issues/13646.  @csrwng have fixed it in `cluster up`. But I am not sure if the fix is in Origin version 1.5.1 or in https://github.com/openshift/origin/releases/tag/v3.6.0-alpha.1. Can you please check with https://github.com/openshift/origin/releas

[2017-06-06 18:16] LalatenduMohanty commented on #1000
The question is whether we want to make it a default addon or not. I would vote for making it a default add-on. Lets see what others think.

[2017-06-06 18:23] csrwng commented on #999
@LalatenduMohanty at some point .xip.io was the default suffix in cluster up. However, this can be overridden by specifying --route-suffix=[your-ip].nip.io.

[2017-06-06 18:28] rawlingsj commented on #999
thanks @csrwng but I also get the error when I provide the --route-suffix flag, any chance the certificate generation still uses xip?  I've not tried @LalatenduMohanty suggestion of v3.6.0-alpha.1 yet but will do later this evening.

[2017-06-06 18:39] csrwng commented on #999
@rawlingsj I'll try it on minishift as well... I would have thought that the --route-suffix flag would work

[2017-06-06 18:56] rawlingsj commented on #999
Yay!  So running with v3.6.0-alpha.1 I get a different error but I think I'm further along and just need to trust insecure certs.

Using:
[code]
I get now get:
`Post https://keycloak-fabric8.192.168.64.151.nip.io/auth/realms/fabric8/protocol/openid-connect/token: x509: certificate signed by unknown authority`

Does that seem a fair assumption?

[2017-06-07 06:15] praveenkumar commented on #545
@jfclere Does clean installation works for you?

[2017-06-07 07:09] LalatenduMohanty commented on #997
Right. The file name has changed to https://docs.openshift.org/latest/minishift/getting-started/setting-up-driver-plugin.html

I could not find the broken link as if I start from https://docs.openshift.org/latest/minishift/getting-started/installing.html links are working fine for me.  Can you please point us to the page where you found the broken link?

[2017-06-07 07:15] LalatenduMohanty commented on #997
Ideally the steps for Xhyve driver should have worked. Are you still facing the issue? You might want to try the manual steps mentioned in the documentation.

Right, if we can verify that the perquisites are not in place then report, it would improve UX. You  suggestion is similar to https://github.com/minishift/minishift/issues/485 and #966

[2017-06-07 07:55] jfclere commented on #545
I haven't tried yet :-(

[2017-06-07 08:31] hferentschik commented on #1000
I think this would be more something for the add-on repo we discussed. Not sure whether we should add it as a default add-on. We can for sure add it to our repo until we figure out where we want to take the add-on registry, but adding it right away to the defaults seems a bit too much right now.

[2017-06-07 08:34] rawlingsj commented on #999
I'll close this as running with `--openshift-version=v3.6.0-alpha.1` means I don't see the error.

[2017-06-07 08:34] #999 closed

[2017-06-07 08:35] rawlingsj commented on #999
Thanks both @LalatenduMohanty and @csrwng for your help!

[2017-06-07 09:26] LalatenduMohanty commented on #1000
+1. @gastaldi I thought that this add-on would be useful for upstream Minishift users but it seems like it is not. comments?

[2017-06-07 09:31] jorgemoralespou commented on #1000
I agree 100% with @hferentschik Default addons should be a few, and valuable to 100% of the population (whether they use them or not is something else). Rest of addons should be created in the addon registry.

Nevertheless, it should be possible and easy to list and install addons from the (default and alternates) registry.

Something like:

[code]

And depending how you want to support registries

[2017-06-07 11:06] hferentschik commented on #1000
+1

+1

not sure about the zip case, but from directory as well as URL for sure.

[2017-06-07 11:30] jorgemoralespou commented on #1000
@hferentchik yeah. Not sure about zip also myself, but used same syntax as oc did for start-build to try to be consistent with existing options, either from minikube or openshift.

[2017-06-07 13:08] budhrg commented on #486
Ya it seems so.

[2017-06-07 13:28] gbraad commented on #510
can you have a look at:
https://github.com/kubernetes/kubernetes/issues/39225#issuecomment-269588375 if this would help you?

[2017-06-07 13:41] dharmit commented on #996
If I'm seeing this correctly, it's only the `minishift stop` command that's a concern here. Right?

[2017-06-07 14:21] thatdocslady commented on #275
@praveenkumar @hferentschik following a discussion in the upstream/downstream doc team, we realize that the GH issue queue should be sufficient for upstream tracking, and the CDK downstream plan is managed by the downstream writers and is meant to address different stakeholder requirements.

Recommending to close this issue.

[2017-06-07 15:20] praveenkumar commented on #275
@thatdocslady Ack, closing the issue.

[2017-06-07 15:20] #275 closed

[2017-06-07 18:43] hferentschik commented on #583
As agreed, I am going to close this issue. There is no real actionable item and other already started tasks are adding new feature files.

[2017-06-07 18:43] #583 closed

[2017-06-07 19:22] druminik commented on #872
Had the same problem and fix as described by @fiunchinho and @linux360

[2017-06-07 19:46] hferentschik commented on #919
@gbraad So where is the limitation coming from that I cannot run an interactive ssh session when using Go's native ssh implementation. This sounds very wired to me. Also reading the docker-machine docs - https://docs.docker.com/machine/reference/ssh/ - it seems to me that one can even enforce a session using the native ssh client:

    docker-machine --native-ssh ssh dev

[2017-06-08 05:00] sabre1041 opened #1002 "Allow to specify additional default and blocked docker registries"
Add support to specify additional default registries and blocked registries at startup

[2017-06-08 07:36] LalatenduMohanty commented on #430
+1

[2017-06-08 07:45] LalatenduMohanty commented on #1002
@sabre1041 Can you please explain the use case for `default and blocked registries`.

It seems it would be useful for users when they want to completely work with 3rd party or private registries. However it is tricky as we download OpenShift images from docker hub and if users blocks it during startup `minishift start` will fail.

Also do you want to have these flags for both secure and in-secure

[2017-06-08 07:50] agajdosi commented on #996
@dharmit Yes, that is true.

[2017-06-08 08:19] praveenkumar opened #1004 "Make basic.feature work for upstream and downstream"
We need to make sure our basic features works for upstream and downstream without any additional patching. Currently we have below scenario doesn't work with downstream.

[code]

[2017-06-08 09:28] jorgemoralespou commented on #1002
In RHEL based docker (RHEL and centos) these flags exist. Upstream docker
don't support them.

This is useful in an Enterprise environment when they want to prevent
developers or deployments from images coming from dockerhub or any other
registry not trusted by the organization. The default registry prevents
having to fully qualify the registry, so the images can be hosted in places
like satellite

[2017-06-08 10:26] gbraad opened #1005 "Using Go's native SSH implementation will not open interactive shell"
## Steps to reproduce
[code]
this behaviour is also observed in Minikube

while:
[code]

works.

[2017-06-08 10:35] quagliero opened #1006 "oc-env command errors on fish shell"
[code]
This appears to be due to an unnecessary closing quote on https://github.com/minishift/minishift/blob/master/pkg/util/shell/shell.go#L77. If that is indeed the solution
I shall submit a PR shortly.

[2017-06-08 11:07] praveenkumar commented on #1002
Having it upstream will fail for b2d iso which doesn't have RHEL based docker. If we implement those flags here then user might be hit bug for b2d.

[2017-06-08 11:09] jorgemoralespou commented on #1002
@praveenkumar Agree with you, but for CDK you might end up in trouble. So either you support all the bootstrapping and don't act in case of B2D image, or don't support it and run into CDK not supporting same features as OCP. I would think the former is better :-D, Although I guess it needs more thought than what @sabre1041 has provided.

[2017-06-08 11:17] sabre1041 commented on #1002
@jorgemoralespou @praveenkumar I would like to at least see this in the RHEL based CDK.

I can configure these options to only apply to the RHEL template if it is detected

[2017-06-08 11:23] praveenkumar commented on #1002
@sabre1041 For me it need some more time to figure out if we can have those options only passed to our provision templates.

@jorgemoralespou I hear you and will try to make to make sure those options only work for rhel/centos ISO.

[2017-06-08 12:45] hferentschik commented on #1006
@quagliero thanks for the issue report and pull request. Much appreciated. The quotes are indeed unbalanced. My question though is why you think that the closing quote should be removed over adding a actual opening quote. I am not a fish user, so hence I am asking. If this were bash I clearly say we should be adding a opening quote.

[2017-06-08 13:08] agajdosi commented on #1004
If I move my perspective from addons to whole Minishift I think there is need to design the way how to handle these differences. For particular CDK only features/scenarios we can have `@cdk` tag, but still there will be particular spheres where both Minishift and CDK will differ - list of addons, expected version of oc, list of example apps available in OpenShift... I did some research today to fi

[2017-06-08 13:39] quagliero commented on #1006
@hferentschik as far as I'm aware both would work, but the fish docs themselves don't use quotes (https://fishshell.com/docs/current/tutorial.html#tut_exports), and I never have when adding things to the $PATH in fish so didn't consider adding one :smile:

[2017-06-08 14:12] rhuss commented on #359
@hferentschik since which version is this feature available? I'm using 1.1.0

but still, it does not know about a context `minishift`:

[code]

[2017-06-08 14:47] agajdosi commented on #1004
So logical operations are possible on Godog tags. This solution is working with our current code:
`make integration GODOG_OPTS="--tags='@test&&~@cdk' -format pretty"`. When I created experimental test.feature file next to basic.feature:

[code]
only 2 scenarios were executed: `Scenario: test` and `Scenario: test and minishift`.

So we can use this path to handle CDK/Minishift variants for particul

[2017-06-08 16:27] gbraad commented on #1005
Notes:
  * https://github.com/docker/machine/blob/master/libmachine/host/host.go#L75
  * https://github.com/docker/machine/blob/e1a03348ad83d8e8adb19d696bc7bcfb18ccd770/commands/ssh.go#L18
  * https://github.com/kubernetes/minikube/blob/master/pkg/minikube/cluster/cluster.go#L537

[2017-06-08 17:55] praskrish opened #1008 "Error starting minishift with CDK 3.0 on mac OS Sierra"
Hello,

I am seeing an error while starting minishift using CDK:
Starting local OpenShift cluster using 'xhyve' hypervisor...
E0608 10:40:20.559121    3552 start.go:176] Error starting the VM: Error attempting to get plugin server address for RPC: Failed to dial the plugin server in 10s. Retrying.

https://pastebin.com/pDUdYPmX

kprasann-OSX:~ kprasann$ minishift version
Minishift version: 1.0.0+4

[2017-06-08 18:28] linux360 commented on #872
Apologies for the delay, yes this can be closed and thank you for the assistance

[2017-06-08 18:28] #872 closed

[2017-06-08 18:41] hferentschik commented on #1008
A couple of questions. Do you have VirtualBox installed as well and can you try starting with VirtualBox?

    $ minishift start --vm-driver virtualbox

Basically just trying to isolate whether this is a driver issues (which it kind of looks like) or an actual Minishift issue.
Also you can try to download the latest Minishift community release and try with that version. Again, just to narrow down

[2017-06-08 18:55] praskrish commented on #1008
Hi,
I have Virtualbox installed and have tried the command as below:
[code]
let me try wth latest minishift community release and let you know. I have disabled the firewalls.

[2017-06-08 19:01] hferentschik commented on #1008
Try `minishift delete` first. You might now already have some stale data in your $MINISHIFT_HOME directory.

    $ minishift delete
    $ minishift start --vm-driver virtualbox

[2017-06-08 19:12] hferentschik commented on #1006
What's about multiple values though and potential spaces in them? The code we are looking at just recently got refactored and I think a regression got introduced. Before it properly used quotes which is what Minikube uses as well as docker-machine. For example:

    $ docker-machine env --shell=fish xhyve
    ...
    set -gx DOCKER_HOST "tcp://192.168.64.18:2376";
    ...

Also looking at the curr

[2017-06-08 19:18] hferentschik commented on #359
Since v1.0.0-rc.1.

Using 1.1.0, I get:

    $ oc config use-context minishift
     switched to context "minishift".

The context gets created in some post provisioning we run, once the initial OpenShift cluster is up. Did you upgrade Minishift, but try to keep an old Minishift VM around? That would explain it. You need to provision a new Minishift instance using a Minishift version post 1.0.0-rc.

[2017-06-08 19:19] hferentschik commented on #359
Since v1.0.0-rc.1.

Using 1.1.0, I get:

    $ oc config use-context minishift
     switched to context "minishift".

The context gets created in some post provisioning we run, once the initial OpenShift cluster is up. Did you upgrade Minishift, but try to keep an old Minishift VM around? That would explain it. You need to provision a new Minishift instance using a Minishift version post 1.0.0-rc.

[2017-06-08 19:20] hferentschik commented on #1006
See also https://github.com/docker/machine/blob/master/commands/env.go

[2017-06-08 21:16] praskrish commented on #1008
Here is what I get now

[code]

[2017-06-09 00:08] praskrish commented on #1008
ok. Here are the steps I followed on my mac.

#1 Instead of using the CDK 3.0 GUI to install minishift. I downloaded the executable from  :https://access.redhat.com/downloads/content/293/ver=3.0/rhel---7/3.0/x86_64/product-software
#2 ran the command with minishift start --vm-driver virtualbox and it works well.

minishift start which by default uses xhyve fails with the error:
$ minishift start -

[2017-06-09 01:21] budhrg commented on #1005
I had mentioned that earlier here https://github.com/minishift/minishift/pull/911#issuecomment-302043786.

+1 for fixing it.

[2017-06-09 01:24] budhrg commented on #1006
@hferentschik , will sort this today, verify the PR and merge it.

[2017-06-09 03:42] praveenkumar commented on #1008
@praskrish This mean xhyve driver doesn't have required permission. Which instruction you followed to install it https://docs.openshift.org/latest/minishift/getting-started/setting-up-driver-plugin.html#xhyve-driver-install ?

[2017-06-09 03:47] praskrish commented on #1008
@praveenkumar I followed the steps below:

$ brew install docker-machine-driver-xhyve

$ sudo chown root:wheel $(brew --prefix)/opt/docker-machine-driver-xhyve/bin/docker-machine-driver-xhyve
$ sudo chmod u+s $(brew --prefix)/opt/docker-machine-driver-xhyve/bin/docker-machine-driver-xhyve

[2017-06-09 03:52] praveenkumar commented on #1008
@praskrish Can you check which version of xhyve driver you have installed using `brew info docker-machine-driver-xhyve` and put output here?

[2017-06-09 04:18] praskrish commented on #1008
@praveenkumar $ This is what I see below. looks like a permission issue like you noted.
[code]

[2017-06-09 05:12] praveenkumar commented on #1008
@praskrish please try https://docs.openshift.org/latest/minishift/using/troubleshooting.html#create-vmnet-interface-permission troubleshoot and let me know if still don't work. I am not able to reproduce it.

[2017-06-09 05:46] budhrg commented on #1006
Yes, we can do that `set -gx PATH /Users/foo/.minishift/cache/oc/v1.5.1 $PATH;

[2017-06-09 06:49] rhuss commented on #359
[code]

So, that's not working for me. (BTW, since 1.0.0 I always get this `Error during post cluster up configuration: Error reading config file /Users/roland/.minishift/machines/minishift_kubeconfig`).

[2017-06-09 06:56] rhuss commented on #359
After removing ~/.kube/config and ~/.minishift it worked for me, too.

thanks ...

[2017-06-09 07:52] gbraad commented on #996
Can't assign an outsider as assignee... Will for now assign it to myself, but @dharmit will work on it

[2017-06-09 08:50] gbraad commented on #1005
Still not sure why the QnD approach is needed, as it seems https://github.com/docker/machine/blob/master/libmachine/ssh/client.go#L318 actually checks for the length of the args.

[2017-06-09 08:52] gbraad commented on #1005
@budhrg the understanding was that the native-client did not support interactive shell, but this is because we inherited it from Minikube. :-s Still looking for a cleaner fix.

[2017-06-09 09:04] quagliero commented on #1006
Updated and rebased.

[2017-06-09 09:19] gbraad commented on #1005
We invoke the shell as follows https://github.com/minishift/minishift/blob/master/pkg/minikube/cluster/cluster.go#L511
[code]
What happens is that we provde an empty string instead of no value: https://play.golang.org/p/z7DDUWnuYm (you can verify this with:

[code]

At https://github.com/docker/machine/blob/master/libmachine/ssh/client.go#L269 the use of `args ...string` will result in args having

[2017-06-09 09:21] budhrg commented on #1005
Thanks for the wonderful explaination @gbraad Appreciated!

[2017-06-09 09:58] #486 closed

[2017-06-09 10:32] gbraad commented on #919
It is possible to perform SSH-based interaction with the VM instance, for this we provide a subcommand. In our documentation it should reflect the following:

   * SSH is not a requirement (not on Windows, Linux and/or Mac
   * Usage is as follows:
      and available on the discoverable PATH of the shell instance
      * using `minishift ssh` will open an interactive shell
      * using `minishif

[2017-06-09 10:49] praveenkumar opened #1011 "Adding developer to sudoers fails when using 3.6.x version of OpenShift"
Looks like we have some code regression the way `minishift_kubeconfig` created and this make minishift failed during adding `developer` user to sudoers.

@jorgemoralespou

[code]

[2017-06-09 11:01] jorgemoralespou commented on #1011
So, here's what I saw, not sure what's the real problem, but taking a guess, would be because I have a real messed up kubeconfig in my HOME.

In the minishift_kubeconfig you save in .minishift/machines the user system:admin that's there is not a valid one. Probably could be taken from a previous run of minishift.

Think that every time you start minishift, in the $HOME/.kube/config you'll have an

[2017-06-09 11:04] fiunchinho commented on #872
But I don't think that's the expected behavior. I wouldn't close it

[2017-06-09 11:09] hferentschik commented on #1005
Merged via pull request #1009

[2017-06-09 11:09] #1005 closed

[2017-06-09 11:22] hferentschik commented on #1006
I did not say, that you cannot do it. In fact in most cases it will work just fine. However, this we are interpolating a variable ($PATH) we might have spaces in it (unlikely but who knows). Using " is more defensive.

If nothing else there is an argument for aligning with Minikube and docker-machine.

@quagliero, if you like feel free to update your pull request to add quotes. If not, we can merg

[2017-06-09 11:23] budhrg commented on #919
:+1:

[2017-06-09 11:42] quagliero commented on #1006
@hferentschik update pushed.

[2017-06-09 17:13] gbraad opened #1012 "Releasing Chocolatey and brew packages?"
Currently, it seems packages for both [brew cask](https://github.com/caskroom/homebrew-cask/blob/master/Casks/minishift.rb) and [Chocolatey](https://github.com/abejenaru/chocolatey-packages/blob/master/automatic/minishift/minishift.nuspec) are published by outside maintainers. While this is not per se a problem, this can lead to a skew in expectation and availability of the release. Would like to

[2017-06-09 21:23] erioness1125 commented on #933
I got the same issue, and this could be the way to reproduce the problem:

For the first time starting minishift, I ran `minishift start` without the option `--vm-driver=virtualbox`, so it was failed and the error message said the driver "xhyve" not found. I retried the command with the option, and the installation seemed to be succeeded but the error was printed out at the end:
[code]
The file `~

[2017-06-09 23:24] jayunit100 commented on #997
Thanks, looking forward to the fixes

[2017-06-12 07:32] hferentschik commented on #396
Merged via pull request #988

[2017-06-12 07:32] #396 closed

[2017-06-12 07:34] budhrg commented on #1012
Make sense.

[2017-06-12 07:39] hferentschik commented on #1012
+1 for creating a pull request for brew as part of the release. In fact the pull request creation can easily be automated. Let's create a script which does that.

Regarding Chocolatey, let's see what's required there.

[2017-06-12 08:19] hferentschik commented on #996
Merged via pull request #1010

[2017-06-12 08:19] #996 closed

[2017-06-12 10:40] kameshsampath opened #1015 "Pods Liveliness/Readiness fails"
When deploying Spring Boot application in OpenShift (minishift v1.1.0) once the application is deployed i see the following logs repeatedly in the `oc get events -w`and it really takes very long time for the liveliness/readiness to make the pod live, even if that happens the pod's state is quickly back to check live and ready.

Sample error logs in the oc get events -w
[code]
I tried switching the

[2017-06-12 10:47] praveenkumar commented on #1015
@jorgemoralespou any idea about this, do we need anything from minishift side?

[2017-06-12 11:20] hferentschik commented on #639
Merged via pull request #990

[2017-06-12 11:20] #639 closed

[2017-06-12 21:10] hferentschik commented on #1002
So what have we decided is the way forward on this. Where do we add what type of functionality?

[2017-06-13 06:56] praveenkumar commented on #1002
@hferentschik it's trivial right now only have to update downstream document. We can have this as part of implement upstream only  https://github.com/minishift/minishift/compare/master...praveenkumar:sabre1041-docker-options?expand=1

[2017-06-13 07:08] LalatenduMohanty commented on #1015
@kameshsampath Can you please check after increasing the CPU and memory and see if it makes any difference.

[2017-06-13 09:32] kameshsampath commented on #1015
@LalatenduMohanty yes i did try it no luck..  i was running minishift with 8G and 2 CPU.

[2017-06-13 12:09] praveenkumar commented on #1008
@praskrish Any luck?

[2017-06-13 12:54] praveenkumar commented on #1011
@jorgemoralespou @csrwng So I tried to find out what actually causing the issue and looks like the way kubeconfig generated for v1.5.1 and v3.6.x is changed. For 3.6.x we only have `system:admin` cert for `127.0.0.1` not with the cluster IP. I generated kubeconfig for both version and pasted https://paste.fedoraproject.org/paste/ZmtA98~gc31O3MYo3cLpwQ. The way we were creating `minishift_kubeconfi

[2017-06-13 13:57] LalatenduMohanty commented on #1015
@kameshsampath Can you please point us to the application and instructions for running it. I think it is worth to check what kind of checks the liveliness/readiness do.

[2017-06-13 14:12] LalatenduMohanty opened #1020 "Update OpenShift container registry doc with oc-env command"
OpenShift container registry  document does not use `minishift oc-env command` i.e. step 1.
[code]

[1] https://docs.openshift.org/latest/minishift/using/accessing-the-openshift-docker-registry.html

[2017-06-13 14:13] LalatenduMohanty commented on #1020
This is not required as user is redirected to quickstart guide.

[2017-06-13 14:13] #1020 closed

[2017-06-13 14:59] gmargosian opened #1021 "Internal Container registry Login Failure"
Hi all,

I've been having trouble logging into Minishift's Docker registry. What I've executed is below:

[code]
[code]
[code]
[code]
The host OS is Ubuntu 16.04 and I'm using Minishift version 1.0.0.

Thank you in advance.

EDIT: Spelling Errors

[2017-06-13 15:37] jhcook commented on #430
With minishift shipped in CDK3 please see the following error when starting an instance:

`$ minishift --vm-driver virtualbox --insecure-registry docker.mgmt.licensing.service.trade.gov.uk.test:80 start
Starting local OpenShift cluster using 'virtualbox' hypervisor...
Registering machine using subscription-manager
-- Checking OpenShift client ... OK
-- Checking Docker client ... OK
-- Checking Doc

[2017-06-13 15:46] jhcook commented on #873
I've just ran in to this issue and this is very much a bug. Why has it been closed?

[2017-06-13 16:01] praveenkumar commented on #873
@jhcook Can you described how you used it and failed for you?

[2017-06-13 16:03] jhcook commented on #873
Exactly how it did on 10 May for @budhrg. It should be in the documentation at the very least, but actually this should be compensated for in the code. I should not have to specify --insecure-registry 172.30.0.0/16 in addition to other insecure registries.

[2017-06-13 19:32] nanomad opened #1022 "Minishift VM hangs indefinitely on Windows10+HyperV due to possible missing hardware support in the B2D image"
Steps run:

- Add minishift to PATH
- Set HYPERV_VIRTUAL_SWITCH
- Run minishift start

VM gets stuck in the following state:
Waiting as requested ... 10

System details:
- Windows 10 build 1703
- minishift version v1.1.0 (clean install)
- CPU: AMD Ryzen 5 1600

[2017-06-13 19:45] gbraad commented on #1022
Can you provide more information? What is the hypervisor you are using? What is the full output you are seeing?

Would it be possible to run `minishift start --show-libmachine-logs -v 9` and post the results here?

[2017-06-13 20:26] hferentschik commented on #873
+1 this is required internal setting and should be handled transparently by Minishift.

[2017-06-13 21:29] #929 closed

[2017-06-13 21:30] hferentschik commented on #929
Merged via pull request #1018

[2017-06-13 21:52] nanomad commented on #1022
I'm using HyperV. The log is below:

https://gist.github.com/nanomad/f0316fe77410cf074a8818f3ebf817ae

(it continues the same way without changes)

To me the VM looks stuck, maybe a kernel panic or similar but I have no idea how to check for it. There no feedback on the console when pressing F1-F12

![Screenshot](http://i.imgur.com/NhL1VZ2.png)

[2017-06-13 21:59] nanomad commented on #1022
Possibly related to https://github.com/boot2docker/boot2docker/issues/1245 ?

[2017-06-14 03:27] gbraad commented on #1022
There are several issues we have filed for this: #417 #418 #419 (and most likely exhibits the feeling the VM hangs). But to be sure, can you remove the cached iso from `C:\Users\[username]\.minishift\cache\iso\` and rerun? This way we are sure it is not a broken download.

And yes, make sure you have assigned a Virtual Switch that has DHCP (and allows external communication). There are limitations

[2017-06-14 03:32] gbraad commented on #1022
As you can see in the log:
[code]
we try to get the assigned IP address, but fail to do so. Please verify you did: https://github.com/minishift/minishift/blob/master/docs/source/getting-started/setting-up-driver-plugin.adoc#hyper-v (follow the links as provided)

[2017-06-14 06:24] gbraad opened #1024 "Document installation of SSH client on Windows"
Since https://github.com/DarwinJS/ChocoPackages/issues/34 got resolved, we can describe the installation process using chocolatey. Is this what we want?

[2017-06-14 06:55] nanomad commented on #1022
The network is properly configured: it's bridged to the Ethernet network adapter where DHCP is available.
Truth be told, I don't think this is a network-related issue.
I was able to boot properly on a different machine with the same configuration steps but with different, older, hardware.

I have a feeling this may be just hardware incompatibility with my workstation setup. Ryzen CPUs are supporte

[2017-06-14 07:47] gbraad commented on #1022
@nanomad Unfortunately I can not reproduce this, as I have no access to a Ryzen-based machine. Will try to see what I can do. Since you have the issue with the boot2docker image. There are several things we can try to narrow this down:

   * can you try to use the CentOS image?
     https://github.com/minishift/minishift/blob/master/docs/source/using/managing-minishift.adoc#choosing-the-iso-image

[2017-06-14 08:02] LalatenduMohanty commented on #1024
@gbraad My understanding is that we do not need a SSH client now isn't it? If we do not want a SSH client we need to document this.

[2017-06-14 08:05] nanomad commented on #1022
@gbraad
Indeed I was looking into testing it with minikube. I'll also try minikube later this evening

[2017-06-14 08:25] LalatenduMohanty commented on #1024
As discussed with @gbraad his question is related to our plan for host folder implementation using SSHFS.

[2017-06-14 08:40] hferentschik commented on #1024
I don't think for the hostfolder implementation we need a native client. Preferably we also do it natively.

[2017-06-14 08:50] gbraad commented on #1024
a native client => external client
natively, use a Go implementation? If so, this means that minishift forks a
daemon task?

[2017-06-14 08:54] hferentschik commented on #1024
yes

yes

[2017-06-14 08:56] hferentschik commented on #1024
Also, for the sshfs approach to work we don't need the SSH client on the host, but the SSH server. Not sure whether this is part of the package you are referring to. When using cygwin you need the sftp binary, not necessarily the ssh client.

[2017-06-14 09:06] gbraad commented on #1024
Exactly. in openssh-win32 there is a sftp-server. but this is also part of the same openssh install. There is no difference between server and client.

[2017-06-14 09:14] hferentschik commented on #1024
Cool. So yes, if we are going to rely on a native sftp-server binary, openssh-win32 is a viable solution and definitely preferable over Cygwin (not that I think a Windows without Cygwin would make sense ;-)

[2017-06-14 09:29] gbraad commented on #1024
There are still pros and cons of using cygwin over the powershell based openssh port or even using WSL, but that is a separate discussion ;-)

In this case, let's marks this as a possible item to pick up for the milestone when sshfs is considered.

[2017-06-14 10:30] jorgemoralespou commented on #1011
@praveenkumar not sure about what was the change in "oc cluster" that broke that, as there has been many changes related to how the node binds to an ip so that roaming of IPs work. As you recall, there's an issue in "oc cluster/minishift" where if you have a cluster and the host/VM changes it's IP, the cluster might not longer work. This might be a change coming for there.

@csrwng We need you to

[2017-06-14 10:34] budhrg opened #1025 "Add test for verifying content of oc-env and docker-env commands"
This is a follow up issue as a result of the PR https://github.com/minishift/minishift/pull/1016 where we need to add tests to verify the content generated as part of `minishift oc-env` and `minishift docker-env` commands.

[2017-06-14 10:52] hferentschik commented on #1006
Resolved via pull request #1007

[2017-06-14 10:53] #1006 closed

[2017-06-14 13:23] hferentschik commented on #1004
Merged via pull request #1019

[2017-06-14 13:23] #1004 closed

[2017-06-14 16:21] csrwng commented on #1011
@praveenkumar (sorry for the delayed response) The config that is generated internally will only contain a server entry for 127.0.0.1 and not the external server IP. This was part of the change to support changing external ips: https://github.com/openshift/origin/pull/13112. However, the config that is generated for the client (at ${HOME}/.kube/config) is correct... it includes the external server

[2017-06-14 16:42] hferentschik commented on #1011
So here we go, we look at the wrong config.

[2017-06-14 16:58] hferentschik commented on #1011
@praveenkumar or @budhrg - can any of you two take care of this? This is a quite important issue.

[2017-06-14 17:01] hferentschik commented on #993
@gbraad Are you able to provide some refinements to the notes? Let's do this before the next release.

BTW, release is of the master branch, so all actions are assumed to be executed for the master. However, I agree that we would make this explicit.

[2017-06-14 17:14] gbraad commented on #993
Will submit improvements ASAP.

Note: work on the master branch was not possible as I did not have te right permissions. This has been corrected since.

[2017-06-14 17:17] hferentschik commented on #993
Sure, I got that.

[2017-06-14 20:29] rawlingsj commented on #860
@hferentschik we're close to getting this sorted, hopefully by next week we might be in a position to try this.

[2017-06-14 21:30] jstrachan commented on #860
One challenge is after the template is run as 'developer' we need to switch to 'system:admin' to create an 'OAuthClient' using the newly created Route host name as it's required for KeyCloak.

Am sure we can figure something out; it's just not gonna just be one static Template.

[2017-06-14 21:35] nanomad commented on #1022
Tests Result:
- Pass: CentOS Image v1.0.0 (Kernel 3.10.0)
- Pass: minikube v0.19.1 (Kernel 4.7.2)

Any ideas on how to debug the boot2docker boot process?

[2017-06-14 21:55] ThomasSchoenbeck commented on #957
I have the same problem using hyper-v, getting the same error log.
I for myself have no openssh installed. looks like windows is picking the ssh binary from the installed git for windows version 2.13.1

[2017-06-15 00:46] gbraad commented on #957
This means it works as expected. If you have issues with the git tools ssh client, please open a new issue.

Closing this issue

[2017-06-15 00:46] #957 closed

[2017-06-15 00:49] gbraad commented on #957
Note: Since version 0.0.15.0, openssh-win32 works as expected. https://github.com/DarwinJS/ChocoPackages/issues/34

[2017-06-15 00:57] gbraad commented on #957
@ThomasSchoenbeck if you file a new issue, be sure to specify a version and instructions of the used version. Especially since the unix tools bundle has been the recommended alternative by users of minions. Looking forward to more info.

[2017-06-15 05:52] johnreytanquinco opened #1026 "Connect to dockerized rest service from mobile app in development"
We are developing both a mobile app and a backend REST service. The rest service (and database) run in OpenShift (using Minishift), as docker containers.

We would like to be able to develop both the mobile app and the backend rest service on the same laptop. But, when running the app, we are not able to connect to the REST services running in OpenShift.

How can we enable requests from the app to

[2017-06-15 06:37] gbraad commented on #1026
Can you provide an overview of the services and how they are exposed by routes?

[2017-06-15 06:54] johnreytanquinco commented on #1026
Hi @gbraad , I updated the post.

[2017-06-15 07:47] gbraad commented on #1026
Understanding your use case better now, you want the VM network to be exposed on the external IP address of the laptop. The issue here is: we can not bind as 0.0.0.0 on the laptop interface, as this only lives inside the VM. This is why your local non-dockerized environment works. It can bind to 0.0.0.0.

I would suggest you to setup a reverse proxy. You can use either nginx or Apache for this:

[2017-06-15 08:16] budhrg commented on #1011
@hferentschik it is assigned to @praveenkumar  and I believe he is working on it.

[2017-06-15 08:20] LalatenduMohanty commented on #1026
I think this is an use case which application developers will try with Minishift and we need to come up with a recommended solution.

[2017-06-15 08:37] hferentschik commented on #860
@rawlingsj Let's sync next week. Happy to help to get this sorted or look into what's missing to get this to work.

[2017-06-15 09:28] gbraad commented on #1022
@nanomad We will investigate what we can do, but it seems to be related to the hardware supports (some calls might not be properly passed to or interpreted by the underlying AMD). I suggest you to use the CentOS image for now...

[2017-06-15 09:30] gbraad commented on #1022
would it be possible to check the outcome when using Virtualbox? This means you have to disable Hyper-V for the moment

[2017-06-15 11:09] praveenkumar commented on #1011
@csrwng right so pastebin which I provided is what we get `~/.kube/config` for different version of openshift and what we have right now https://github.com/minishift/minishift/blob/master/pkg/minikube/kubeconfig/config.go#L62-L102 which take care of caching current context of config file to `~/.minishift/machine/minishift_kubeconfig`  because we can't directly copy complete `~/.kube/config` as it

[2017-06-15 11:12] hferentschik opened #1029 "Improve ability to apply CDK customisations"
There are a few simple changes we can to do some code and Makefile to reduce the change set when applying CDK customisations. We should try to keep the customisation as small as possible.

[2017-06-15 14:10] sabre1041 commented on #1002
@praveenkumar I really like your approach as it is agnostic and generic. It would support the concerns in this issue with examples/documentation on how to implement in the downstream CDK

[2017-06-15 14:39] jstrachan opened #1031 "Can we do anything on minishift to help folks use HTTPS based Routes from browsers?"
one of the challenges of running stuff locally on your laptop is that its local and on your laptop. When running stuff on, say, openshift.io we have certs created on all public URLs and associated with the `Route` resources so that browsers can just open URLs via https fine.

When running anything on minishift over https you get that chrome dance where chrome first says its insecure - you then hav

[2017-06-15 17:54] hferentschik commented on #618
Merged via pull request #1030.

[2017-06-15 17:54] #618 closed

[2017-06-15 18:14] hferentschik commented on #938
Resolved via pull request #1014

[2017-06-15 18:14] #938 closed

[2017-06-15 19:13] LalatenduMohanty commented on #1031
Related #391.

[2017-06-15 23:09] hangtwenty commented on #124
I keep getting this. Here's my info.

[code]

[2017-06-16 10:35] jstrachan opened #1034 "Create a fabric8 add-on"
lets create an addon so its easy to install fabric8 into minishift from the command line.

We're getting close to a repeatable install on minishift; so I should be able to submit a PR for a first spike at an addon next week.

Is there a way to specify a parameter to an addon? e.g. I'd like the fabric8 addon to use the latest release of fabric8 but it might be nice to let a user override which vers

[2017-06-16 11:10] hferentschik commented on #430
The problematic part here is that "172.30.0.0/16" is a required parameter. We use it as default value for the flag creation which will then pass this value along, if _insecure-registry_ is not specified at all.

The problem is that, if you want to use an additional insecure-registry, then you also need to add "172.30.0.0/16", otherwise a required setting is missing.

Really it is wrong to handle t

[2017-06-16 11:11] hferentschik commented on #430
@praveenkumar can you take of this as part of your current work on #1002 (I believe)?

[2017-06-16 12:08] hferentschik commented on #1034
Duplicate of issue #860

+1

That would be awesome. Let me know whether I can help. I currently have a bit of slack.

[2017-06-16 12:41] hferentschik commented on #1031
Can you describe this approach a bit more?

[2017-06-16 13:57] jstrachan commented on #1034
@hferentschik ah great thanks. I should have a first cut of the addon later today, fingers crossed, just polishing the bash ;)

is an addon able to run minishift commands to reconfigure minishift? e.g. stuff like this:
[code]
also is there a way to test a new addon file on a current build of minishift?

[2017-06-16 14:02] budhrg commented on #1034
@jstrachan These [commands](https://docs.openshift.org/latest/minishift/using/addons.html#addon-commands) are available to be run through the `*.addon` file. You might be interested in `openshift` command for your `config set --patch` use case.

We have now [`minishift addons apply`](https://docs.openshift.org/latest/minishift/command-ref/minishift_addons_apply.html) command to test new addon file

[2017-06-16 14:03] hferentschik commented on #1034
yes, see also https://docs.openshift.org/latest/minishift/using/addons.html#addon-commands

[2017-06-16 14:03] hferentschik commented on #1034
See @budhrg response

[2017-06-16 14:08] jstrachan commented on #1034
@budhrg @hferentschik thanks! I tried to find docs on addons and failed; I was looking in the 'Developing Minishift" section https://docs.openshift.org/latest/minishift/developing/index.html and didn't see anything. Now I know to check the using section too :)

[2017-06-16 14:10] hferentschik commented on #1034
Doh. To be fair, I find this confusing as well. I think this topic name is ambiguous. I'd prefer "Contributing to Minishift". I think it would make it clearer from the outright what to expect in this sub section.

[2017-06-16 14:10] budhrg commented on #1034
Great :) :+1:

[2017-06-16 14:11] budhrg commented on #1034
+1 for "Contributing to Minishift" in-place of "Developing Minishift"

[2017-06-16 14:46] jstrachan commented on #1034
BTW @budhrg @hferentschik do you have any good ideas on how I can fetch the latest version from maven central to find the version for fabric8 to install in the addon?

In the bash script I'm using the lovely combination of `curl`, `cut` and `grep` ;)
https://github.com/fabric8io/fabric8-platform/blob/master/install.sh#L14

I guess one option is every time we release fabric8 we do a PR on minishift

[2017-06-16 14:49] jstrachan commented on #1034
I guess I could use `ssh` to invoke the curl / grep / cut thing; but I can't output those results to an environment variable that I can use in the rest of the addon file right?

[2017-06-16 14:54] hferentschik commented on #1034
Right, there is a feature request to allow custom variables to be provided to the add-ons. The idea is to either provide them via the command line or setting them by using (a yet to be implemented) add-on command.

Right now there is no easy way of doing what you are after.

[2017-06-16 14:57] hferentschik commented on #1034
That's a possibility. For now one would have to download the add-on first though and then install it from disk. However, it is on our todo list to allow an URL as add-on location. We could add this to our next sprint. We have several contributors at the moment who are interested in adding/providing add-ons. In most case it would make more sense if this add-ons live in their corresponding repo and

[2017-06-16 15:00] hferentschik commented on #1034
Ok, re-opening this issue and closing #860 instead. Seems the action is taking place here :-)

[2017-06-16 15:01] hferentschik commented on #860
Closing this issue in favour of #1034

[2017-06-16 15:01] #860 closed

[2017-06-16 15:04] hferentschik commented on #1034
So the issue I was referring to was #635. So we would be looking at something like:

    $ minishift addon install http://fabric8.io/minishift/addon/latest

[2017-06-16 15:05] budhrg commented on #1034
I was searching it :) . Thanks for putting it here.

[2017-06-16 16:22] rawlingsj commented on #1031
Sure, the main problem of generating signed certs on minishift as I see it is a CA server needs to validate the requester does own the domain they're requesting a cert for.  This validation is in the form of a challenge and can happen via HTTP or DNS but the domain needs to be public for the CA server to challenge it.  I.e. it wont work when you're on a private network like when minishift runs on

[2017-06-16 16:47] NickLaMuro commented on #710
@praveenkumar Must have missed [this](https://github.com/minishift/minishift/issues/710#issuecomment-305165716), but I think that https://github.com/minishift/minishift/issues/635 will be solving this need.

#729 was just solving a bug with the addon code I had provided above, but not solving the core of this issue.

But again, because of #635, and some of the good points about having to maintain

[2017-06-16 16:49] budhrg commented on #710
Thanks @NickLaMuro  for update.

I am closing it in favor of #635  as per your comment.

[2017-06-16 16:49] #710 closed

[2017-06-16 20:42] nanomad commented on #1022
@gbraad
Booting fine on VirtualBox

The bump to 4.4 broke something in b2d according to git bisect (you can check that ticket if you want). Notice that if I take vanilla TCL (either 7.x or 8.x) it boots properly and that has 4.8 kernel

[2017-06-16 21:31] hangtwenty commented on #124
I have just moved onto running other examples but I am still curious what is wrong with this one. Does it basically come down to, this echoserver container doesn't do the right user/groups set up? ( https://blog.openshift.com/understanding-service-accounts-sccs/ )

[2017-06-17 06:02] jstrachan commented on #1031
I wonder if NodePorts would be easier to support on minishift? The downside would be Routes are the default openshift approach & the urls are not as clean

[2017-06-18 18:01] gbraad commented on #1022
Very valuable. At least glad an alternative exists; CentOS or virtualbox.
But we'll try to schedule the upgrade sooner than later

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-06-19 02:47] khatribharat commented on #933
On OSX, facing the same issue.

[code]
I've tried the above with all available namespaces: `default`, `openshift`, `openshift-infra`, `kube-system` and `myproject` and it fails with the same message.

[code]

[2017-06-19 05:51] budhrg commented on #933
@erioness1125 ,

During your first installation, your setup got corrupted. (i.e `~/.minishift`) folder.

Glad to know that during reinstallation the problem has resolved.

Currently, on any such incident, we recommend to perform [uninstallation](https://docs.openshift.org/latest/minishift/getting-started/uninstalling.html) i.e. remove previous installation artifacts like `minishift delete && rm -r

[2017-06-19 05:52] budhrg commented on #933
@khatribharat ,

Could you perform clean reinstallation as mentioned in above comment?

[2017-06-19 08:00] LalatenduMohanty commented on #899
Just for information, here is how minikube implementation works
[code]

[2017-06-19 08:19] LalatenduMohanty commented on #899
There is the `profile` command which supposed help manage multiple minikube instance, but sure if it works as expected.
[code]
[code]

[2017-06-19 09:29] jorgemoralespou commented on #899
@LalatenduMohanty I think that profiles in the scope of minikube are something totally different with what is requested in #549, which does define a set of addons to be applied at once, atomically, at machine creation.

minikube feature does align with #126. Not sure if you want to mix both on the same feature, but definitely not the same.

Currently to change profiles in qinikube, you need to:
[c

[2017-06-19 10:06] budhrg commented on #353
Resolved via https://github.com/minishift/minishift/pull/1032

[2017-06-19 10:06] #353 closed

[2017-06-19 10:10] budhrg opened #1036 "Add spinning wheel during registration process"
It would be great to have a progress bar to show the on going status during registration.

Mostly, the progress bar would be in the form of spinning wheel as we don't the total time taken here.

[2017-06-19 10:23] hferentschik commented on #899
@LalatenduMohanty Is this not a mixup  as @jorgemoralespou says?

What we discussed so far under the term _profile_ was about a name for a custom configuration of OpenShift. This parameter really only is relevant during `minishift start`.

In my world, _profile_ was just names list of add-ons. Instead of enabling a specific set of add-ons manually, specifying a _profile_ would do the job for you.

[2017-06-19 10:31] hferentschik commented on #899
Personally I would prefer to stick with our usage of the term 'profile' and use 'name' for multiple instances. However, that won't go down so well with the intend of aligning with Minikube.

[2017-06-19 10:45] jorgemoralespou commented on #899
@hferentschik I would prefer to align with minikube. Maybe you should monitor minikube community more to avoid them taking names wrong :-D

In my case, probably I've been one of the advocates of profiles as a name for that feature, taking into account what I had in my wrapper, and not having the use case of bundles/addons in mind. Although I could agree with you that probably naming wise is more c

[2017-06-19 10:54] jorgemoralespou commented on #1031
I would think this is a topic that openshift (oc cluster and the likes) could/should solve.

cc/ @pweil- @mfojtik @smarterclayton Any idea who could help here?

[2017-06-19 10:56] budhrg commented on #412
Reopening it as I am unable to compile/clean without cygwin:

### make
[code]

### clean
[code]

[2017-06-19 11:00] jorgemoralespou commented on #124
@hangtwenty probably that container requires to do an action that is not allowed. Could you paste the Dockerfile to that container, and I might be able to give you an answer.

[2017-06-19 11:11] hferentschik commented on #899
We did ;-), but they moved fast on this.

As said, I think even add-ons and wrapper aside, _profile_ is a bad name. For me a profile is something you a apply to a single instance to modify its behaviour, not multiple instances altogether. Also if you look at docker-machine, they use the _name_ parameter.

Probably. Not happy about this at all, but it might be the best option, given the users who s

[2017-06-19 11:17] hferentschik commented on #1031
Sure that will work, but it won't be OpenShift idiomatic.

We also should remember, if it would be so easy to by-pass this browser certificate checks, something would be seriously wrong here. Sure it is a pita in our particular case, but it is also what one would expect when thinking about what happens here.

AFAIK, all browsers have a way to add self signed certificates. We could document how to

[2017-06-19 11:18] hferentschik commented on #124
+1

[2017-06-19 11:19] hferentschik commented on #412
Hmm, probably better to open new issue.

[2017-06-19 11:20] budhrg commented on #412
@hferentschik , I think this is the same issue also error seems to be same too.

[2017-06-19 11:22] gbraad commented on #412
Rather open a new issue

[2017-06-19 11:24] gbraad commented on #412
And I guess this is actually related to the fact you do not have the path set to $GOPATH/bin, right?

[2017-06-19 11:31] budhrg commented on #412
@gbraad I don't think so.

[code]

Also, `$env:PATH` contains path `$GOPATH/bin`.

[2017-06-19 11:33] budhrg opened #1037 "Unable to compile/build binary in Windows without cygwin"
I am unable to build/compile the binary in Windows without cygwin. With cygwin installed, it is working as expected.

[code]

[2017-06-19 11:34] budhrg commented on #412
Closing in favor of https://github.com/minishift/minishift/issues/1037

[2017-06-19 11:34] #412 closed

[2017-06-19 11:35] budhrg commented on #1037
I am also tempted to add documentation on how to build/compile binary in Windows with Cygwin till we have this issue resolved.

[2017-06-19 11:40] hferentschik commented on #1011
Merged via pull request #1028

[2017-06-19 11:56] hferentschik commented on #899
One thing I am wondering about is how the 'cluster-profile' relates to other enabled add-ons. Does it just ignore otherwise installed add-ons, re-configure them to match the requested 'cluster-profile' or does it throw an error. To give an example, say the user has the _anyuid_ add-on installed and enabled and then executes:

    $ minishift start --cluster-profile openshift-online

What is going

[2017-06-19 12:05] hferentschik commented on #1037
My guess is that it is the _mkdir -p_. Not sure whether this is portable.

[2017-06-19 12:07] hferentschik commented on #1037
one could make the mkdir command a variable or create the various parts explicitly skipping the '-p' option.

[2017-06-19 12:12] budhrg commented on #1037
Also, rm -rf <folder>  where `rm -r` works but -f is not there.

[2017-06-19 12:25] hferentschik commented on #1037
So I take it that AppVeyor has the mingw tools or similar installed per default in this case? Otherwise we would have noticed this, right?

BTW, we should btw, on all CI jobs call `make clean` as well. For the actual build on the CI server it might not be so important, since we are getting a new VM on each build, but it might help us to detect errors in `make clean`. Atm we don't call it at all on

[2017-06-19 12:40] budhrg commented on #428
Resolved via https://github.com/minishift/minishift/pull/1033

[2017-06-19 12:40] #428 closed

[2017-06-19 12:43] budhrg commented on #1037
Yes.

:+1:

[2017-06-19 12:52] hferentschik commented on #899
Another question is, do we just support 'cluster-profiles' we define, or can the user define their own. If so, what type of commands do we need? Will we add them under the 'add-on' scope?

[2017-06-19 13:15] LalatenduMohanty commented on #899
@jorgemoralespou @hferentschik I somehow think both the things are related i.e. #126 and #549. Which may be incorrect.  I should have put my observations to #126 .

 There are couple of things we need to decide first which you already mentioned
 * Do we want to align with the `profile` command similar to minikube `profile` feature. You should see a mail about this from me.

*  how the 'cluster-pro

[2017-06-19 13:31] gbraad commented on #1037
Appveyor has cygwin installed on path, but undocumented it does so

[2017-06-19 14:05] mfojtik commented on #1031
@cswong for `oc cluster up`

[2017-06-19 14:06] mfojtik commented on #1031
can't we use lets encrypt here?

[2017-06-19 14:09] jorgemoralespou commented on #1031
No. As it's explained in the thread, you need a public IP.

Fixing @csrwng name.

El 19 jun. 2017 16:06, "Michal Fojtik" <notifications@github.com> escribió:

[2017-06-19 14:10] jstrachan commented on #1031
@hferentschik agreed, a solution with Routes & https would be preferable. I'm not asking to by-pass the browser cert checks; just to improve the UX which is right now terrible for developers (accepting 5 separate pages of insecure warnings, one after the other before you can try use the web console).

If we could create a single cert and associate it with the 4 Routes in fabric8 we need (plus idea

[2017-06-19 14:45] LalatenduMohanty commented on #899
Specially talking about `--cluster-profile openshift-online`  it is a combination of CPU, RAM and some SCC rules. I do not think we can do it  with just add-on.

[2017-06-19 17:37] hferentschik commented on #899
Where is the relation? There is a detail which is indeed related and that's the fact that Minikube decided to share it's addon directory across instances. I don't think we should do this for our case. Add-ons should also be per instance. If anything we should at best share the cache and even there we might need to think twice whether it would not be easier not to do it. If we want to share the cac

[2017-06-19 17:41] hferentschik commented on #899
I am not quite sure whether this is correct. I don't think CPU and RAM constraints should be managed on VM level. The VM should always get as much CPU and RAM as possible. In terms of matching OpenShift Online I would expect that OpenShift quotas and limits will be used to ensure constraints on a project/namespace. This can be configured via add-ons.

[2017-06-19 17:54] rawlingsj commented on #1031
Agree with all that. I wonder if there's two ways forward here?
1. Short term generate a single (wildcard?) self signed cert that reduces the number of accepting browser tasks regardless of how many routes are created
2. Longer term work with openshift / kubernetes to come up with a nice automated approach to generating signed certs for both public and private networks + automatically update opens

[2017-06-19 18:43] hferentschik commented on #1011
I think we will have to re-open this issue or create a follow up issue. See discussion starting https://github.com/minishift/minishift/pull/1017#issuecomment-309434671

The current approach won't work if one starts with 1.5.x, then provisions a 3.6.x and then back to 1.5.x.

[2017-06-19 18:58] hferentschik commented on #1031
Sure, I hear you. We want the same thing.

Right, that's for sure a start.

This is where I am atm lost. I am a bit of a novice here, but my understanding is that the problem is not signing the certs. They are always signed. The problem is that they are self signed and hence the browser cannot verify the certificate chain up to a trusted root.

Given the dynamic nature on how the certificates are

[2017-06-19 19:23] hferentschik commented on #477
I am wondering whether there is anything to do for this issue, or whether we can close it?

[2017-06-19 19:26] hferentschik commented on #666
So we have `minishift addons apply` now, which allows you to apply add-ons manually. In this case a user has a way to manually add add-ons. @budhrg, so does this work for you? This is basically offering what @jorgemoralespou describes in https://github.com/minishift/minishift/issues/666#issuecomment-292269493.

[2017-06-19 19:36] hferentschik commented on #660
I think this a case of bad error message and in fact bad error handling. The error message originates here -https://github.com/minishift/minishift/blob/7974f5edc9697c6b878794aa9f98d9d0fe668588/cmd/minishift/cmd/ssh.go#L39

Obviously the message is misleading, since we actually had a connection. The other problem is that per default the ssh session returns with the exit command of the last command

[2017-06-19 20:03] rawlingsj commented on #1031
Yes I think that is a better explanation.  We're looking to avoid self signed certs so that browsers don't need a manual approve of each https route created + avoid code needing to trust insecure certs, here's an example https://github.com/fabric8io/fabric8-init-tenant/commit/5164ca51ca23e6a169ade70db4697ef15d5703c2

We already have a controller that watches services and dynamically creates Ingres

[2017-06-19 20:32] hferentschik commented on #635
On second thought, I am wondering whether we need to point to a zip/tar which gets downloaded, extracted, verified and installed.

The problem is there is no easy way to implement a crawler for HTML pages. It would need to be specific per site. Take https://github.com/minishift/minishift/tree/master/addons/xpaas for example. Looking at the HTML, there are plenty of links there to follow and proces

[2017-06-19 20:34] hferentschik commented on #1034
Please have a look at https://github.com/minishift/minishift/issues/635#issuecomment-309565251.
I tried to think the http location through a bit and I think the URL would need to point to an archive of sorts (zip, tar). Would that work for you?

[2017-06-19 20:35] gastaldi opened #1039 "Support `dnf install minishift`"
It would be nice to have minishift installed using DNF (Fedora) or YUM (CentOS).
That would ease the adoption and keep clients updated.

Another option is by providing a Homebrew formula, so `brew install minishift` would do the job.

[2017-06-19 20:48] hferentschik commented on #1011
On second thought, how come that on the host KUBECONFIG  I have something like 127.0.0.1 and how does this even work? And how would this ever work with multiple instances?

@budhrg @praveenkumar Are we looking at the internal Kube config or the one on the host? Something is really fishy here.

[2017-06-19 21:31] rawlingsj commented on #1034
I wonder if github releases might be useful too as they support  `latest` in the URL? It might make it easier for folks to create their own addons too.

for example:
[code]
Creating zip / tar can be done although sometimes it's nice to take a quick look (on github for example) at the script / yaml you're installing first?

[2017-06-19 21:42] jstrachan commented on #1034
I've made the release process update a canonical file we can just refer to - kinda like the 'latest' on GitHub releases but without needing tar balls or redirects
https://github.com/fabric8io/fabric8-resources/blob/master/fabric8-system-openshift.yml

[2017-06-19 21:44] rawlingsj commented on #1034
That's nice.

[2017-06-19 22:17] jstrachan commented on #1031
Just saw this blog on certbot & openshift
https://blog.openshift.com/create-https-based-encrypted-urls-using-routes/

[2017-06-19 23:16] hangtwenty commented on #124
Page about this container is here, https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/echoserver (hitting gcr.io/google_containers/echoserver redirects me there). I don't have exact Dockerfile but here is the `docker history`

[code]

[2017-06-19 23:21] hangtwenty commented on #124
I think users are likely to try this container out because it is used in other tutorial material, for example:

* https://github.com/kubernetes/minikube#quickstart ([same steps show up in other tutorial locations like this one](https://stackoverflow.com/documentation/kubernetes/4099/getting-started-with-kubernetes/14274/installing-minikube#t=201706192317453953774) )

I know it is not minishift's r

[2017-06-20 04:21] budhrg commented on #635
Like the idea of remote location being pointed to a zip/tar.

:+1:

[2017-06-20 06:31] rawlingsj commented on #1031
Yeah saw that too although it's for public domains so we'd still have the same problem with nip.io when running locally on minishift.

[2017-06-20 07:03] jstrachan commented on #1031
agreed - just thought it would add a bit more background to the discussion. I do think local / nip.io based stuff is a special case - in particularly the use of nip.io probably makes it even more challenging

[2017-06-20 07:44] amitkrout commented on #477
I download minishift 1.1.0 and follow the steps to reproduce this
[code]
The problem was with the command ```minishift config set log_dir /Users/amit/NightlyBuildcdk3.0/logs```.It should be something like ```minishift config set vm-driver virtualbox --log_dir /Users/amit/NightlyBuildcdk3.0/minishift-1.1.0/```

So closing the issue.

[2017-06-20 07:44] #477 closed

[2017-06-20 08:54] hferentschik commented on #1029
Merged via pull request #1038

[2017-06-20 08:54] #1029 closed

[2017-06-20 09:31] hferentschik commented on #1031
@jstrachan, thanks for the link. Clarifies a few things in my mind. Having a public domain is a game changer. I don't think any "serious"  Certificate Authority would and can verify a URL which is host visible only.

Also for them it would not even be unique. There can be many users out there using/getting the same VM IP.  I think the only viable solution is to get the browser to trust your certif

[2017-06-20 09:37] hferentschik commented on #1034
https://github.com/fabric8io/fabric8-resources/blob/master/fabric8-system-openshift.yml

Not quite sure I follow. As Minishift add-on you need a *.addon file as well as any additional resources, e.g. JSON and YAML files. Somehow we need to download the whole add-on "bundle".

[2017-06-20 09:39] jhcook commented on #660
I have no idea if this is related, but I am having the same issue, and it appears it is an erroneous use of a volume. The / is filling up and I can no longer connect.

https://github.com/minishift/minishift/issues/355

[2017-06-20 09:44] jstrachan commented on #1034
@hferentschik my comment above referred to how to access the latest fabric8 release YAML from inside the `fabric8.addon` without doing any magic bash commands

[2017-06-20 09:48] jstrachan commented on #1034
here's a first spike at a `fabric8.addon`
https://gist.github.com/jstrachan/4ddcf5b0cf64d485d2a917e3df89078f#file-addon-sh

I suspect its a little way from being usable mind you ;)

One thing I'm not sure is how to port this command to work inside an addon:
https://gist.github.com/jstrachan/4ddcf5b0cf64d485d2a917e3df89078f#file-addon-sh-L12-L21

i.e. we want to embed a simple blob of YAML we can `

[2017-06-20 10:01] jstrachan commented on #1031
@hferentschik generating one new certificate for each time you recreate MiniShift and then reuse it on all the routes (and for the OpenShift console) would at least mean you've only 1 certificate to approve to access any of the consoles or REST APIs running locally on minishift - which would be a huge UX improvement ;)

I guess a next level of improvement could be to allow reusing the certificate

[2017-06-20 10:06] hferentschik commented on #124
But Minishift does have a different example - https://docs.openshift.org/latest/minishift/getting-started/quickstart.html#deploy-sample-app

Or are you saying that Minikube should use an example which will also work on Minishift?

Thanks for the honest feedback. Much appreciated. Definitely understand your concern.

[2017-06-20 10:13] hferentschik commented on #887
Additional docs merged via pull request #1035. Thanks @durandom for the discussion around this.

[2017-06-20 10:13] #887 closed

[2017-06-20 10:22] jorgemoralespou commented on #1011
@hferentschik @praveenkumar I would think that kubeconfig should not be a general file for all the "profiles" but rather for the VM created, if you tackle #126, probably this would not be an issue anymore.

In any case, as #126 will probably require a lot of changes to keep config/files per profile/VM, I would consider that a top feature. As otherwise, you'll be working on many things probably twi

[2017-06-20 10:27] jstrachan commented on #1034
aha - I could use an openshift template! :) lemme just do that!

[2017-06-20 10:29] hferentschik commented on #1031
:-( That's bad indeed.

Right, that's my thinking. We need to dig a bit into this to see what's need to make this happen. I guess this will also affect 'cluster up'. I would think we need a way to pass "our" certificate to cluster up. @csrwng , does this make sense?

[2017-06-20 10:39] hferentschik commented on #873
@budhrg I think this will be addressed by what @praveenkumar is doing for #1002. @budhrg can you check/sync?

[2017-06-20 10:41] hferentschik commented on #515
I am basically ok with this, but don't we use the version as well for checks against GitHub? We cannot just append the sha I would think, but rather pass it in separately and then just append it when `minishift version` is called. Right?

[2017-06-20 10:44] jorgemoralespou commented on #899
I totally agree with @hferentschik on all comments. I would think that implementing a cluster-profile as a set of addons, could simplify those use cases where one wants a modified version of a cluster-profile.
I would also consider that if a cluster-profile is specified, no "addons" should be installed that are not part of the cluster-profile, unless manually installed, but not as part of the init

[2017-06-20 10:54] jstrachan commented on #1034
here's my latest attempt at an addon:
https://gist.github.com/jstrachan/0d9bb130ffbb4f2f64316fb20d8f6daf

I'm stuck on 2 parts. enabling CORS via something like this:
[code]
being able to run `oc process .... | oc apply -f -` so that we can process a template, substitute parameters using interpolation like these lines:
* https://gist.github.com/jstrachan/0d9bb130ffbb4f2f64316fb20d8f6daf#file-fabri

[2017-06-20 11:00] budhrg commented on #515
Yes, similar to how minishift version / openshift version are being used presently.

[2017-06-20 11:03] jorgemoralespou commented on #124
@hferentschik that container is made to run as a specific user, hence it requires the anyuid.

@hangtwenty you can do:

[code]

An yes, agree that the error message is not very intuitive.

[2017-06-20 11:13] jorgemoralespou commented on #1034
@hferentschik Agree with @jstrachan on the first point. That's one of the requirements we missed to discuss when talking about addons.

This is how I do:
- On addon, if it requires a restart, I mark it to be restarted after the addons has been applied.
https://github.com/openshift-evangelists/oc-cluster-wrapper/blob/master/plugins.d/pipelines.local.plugin#L33

- This just sets a flag, that will in

[2017-06-20 11:14] jstrachan commented on #1034
BTW @jorgemoralespou just helped me out on twitter, I can use `oc new-app --template=bar --param=foo` instead of `oc process .... | oc apply -f -`

[2017-06-20 11:15] jeremyeder commented on #197
whats the command to list versions?

[2017-06-20 11:29] jeremyeder opened #1040 "Error during post cluster up configuration: Error reading config file ~/.minishift/machines/minishift_kubeconfig"
[code]

This appears to be because I have an existing ~/.kube directory.

If I rename that directory and re-run minishift start, then the error does not occur.
Note that while .kube exists and I run minishift start, minishift does successfully update my .kube/config file but still the error is emitted.

[2017-06-20 11:34] jorgemoralespou commented on #197
@jeremyeder

[code]

[2017-06-20 11:38] jhcook commented on #355
This needs to be reopened and I'm cross posting this from 660.

I have no idea if this is the same, but I am having the same symptom, and it appears it is a volume issue. The / is filling up and I can no longer connect.

https://github.com/minishift/minishift/issues/355

I am using Red Hat CDK on macOS with the latest VirtualBox.

Here is the script in full:
[code]

And, here is the output:

[code

[2017-06-20 12:20] praveenkumar commented on #1040
@jeremyeder `Error during post cluster up configuration: Error reading config file /home/jeder/.minishift/machines/minishift_kubeconfig` this mean `minishift_kubeconfig` is not a valid yaml file any more can you please do `minishift delete` and then again `minishift start`. you shouldn't need to do any manual changes for these config file.

[2017-06-20 12:29] hferentschik commented on #233
@praveenkumar any updates on this?

[2017-06-20 12:30] hferentschik commented on #320
@budhrg do you still have you feature branch? Maybe we can dust it off a bit in a spare minute?

[2017-06-20 12:37] Preeticp opened #1042 "Modify docs build process to enable addition of images as per OpenShift docs guidelines"

[2017-06-20 13:06] budhrg commented on #320
@hferentschik , yes. its here https://github.com/budhrg/minishift/commit/f19b66e8cc3f4300bd9fe7d5881526487071b54a.

[2017-06-20 13:11] jstrachan commented on #1034
here's my first spike https://github.com/minishift/minishift/pull/1043

its close.

current pending issues are:
* routing-suffix does not seem to work? Any ideas why [these expressions](https://github.com/jstrachan/minishift/blob/91814cf1403e5721931dd7ffc06cc74f7e44b8ff/addons/fabric8/fabric8.addon#L30) don't get evaluated?
* does not enable CORS
* does not pass in the github OAuth client ID or se

[2017-06-20 13:39] #1040 closed

[2017-06-20 14:36] jstrachan opened #1044 "Allow add-ons to define which version of `oc` should be installed"
The `oc` binary is typically found on the users `$PATH` and could be quite old. It would be nice if we could supply a minimum `oc` version (e.g. 1.5/3.5) so that `minishift addons apply` could check and give some kind of warning like

[code]

[2017-06-20 14:37] jstrachan opened #1045 "Allow add-ons to refer to environment variables"
it would be nice to be able to refer to environment variables inside an addon to aid parameterisation.

e.g. we'd like to pass in a github oauth app client id / secret when installing fabric8

[2017-06-20 14:40] jstrachan opened #1046 "`#{routing-suffix}` does not get populated"
here's a sample PR
https://gist.github.com/jstrachan/0d9bb130ffbb4f2f64316fb20d8f6daf

the routing-suffix does not get replaced with `nip.io` though - its blank https://github.com/jstrachan/minishift/blob/91814cf1403e5721931dd7ffc06cc74f7e44b8ff/addons/fabric8/fabric8.addon#L7

[2017-06-20 14:40] jstrachan opened #1047 "How should an addon enable CORS?"
doesn't seem like we have a command we can use in the addon yet?

[2017-06-20 14:42] carljmosca commented on #1022
I was able to start minishift (HyperV on Windows 10) after adding an external virtual network switch and removing the DockerNAT.

[2017-06-20 14:58] gbraad commented on #1022
@carljmosca removal of DockerNAT should not have been needed. Can you please reinstall Docker for Windows to make sure DockerNAT is recreated and let us know the results.

[2017-06-20 15:01] carljmosca commented on #1022
DockerNAT was created but is not enabled for minishift

Should it be?

[2017-06-20 15:21] gbraad commented on #1022
@carljmosca DockerNAT does not provide DHCP #418, which at the moment is essential to operate properly. As the current documentation describes, you should use an External virtual switch. Removal of DockerNAT is not needed, and we actually explicitly test for the co-existence with Docker for Windows. Can you please confirm this is thee case. If not, please file a new issue.

[2017-06-20 16:11] carljmosca commented on #1022
I do have an external virtual switch.

I have not been able to get it to work with DockerNAT but it seems fine w/o it so far (pulled images, started, etc.)

Now I am trying it on the VPN w/o DockerNAT.  I will try various combinations before filing a new issue.

[2017-06-20 16:23] gbraad commented on #1022
@carljmosca connecting Minishift to DockerNAT does not work; #418. Using a VPN might also lead to unexpecred behaviour as is described in the troubleshooting guide: #842.

[2017-06-20 16:24] gbraad commented on #842
Adding reference to #417 to track behaviour related to Hyper-V networking

[2017-06-20 16:24] carljmosca commented on #1022
@gbraad I am confused.  I thought you wanted me to try it with DockerNAT.

[2017-06-20 16:31] nanomad commented on #1022
@carljmosca Did you tell minishift which adapter it should use?
It is explained here:
https://docs.openshift.org/latest/minishift/getting-started/setting-up-driver-plugin.html#hyper-v

[2017-06-20 16:32] gbraad commented on #1022
I had not mentioned to use it, but remind you that removal was not necessary. This is in response to:

As removal makes Docker for Windows unusable. but be aware that the issue you are having is unrelated to the OP.

[2017-06-20 16:35] nanomad commented on #1022
@gbraad Maybe it's better to change the issue title to reflect that this ticket is for an hardware incompatibility between b2d and hyperv

[2017-06-20 16:35] gbraad commented on #1022
Thanks, @nanomad, this is the reason why I pointed at https://github.com/minishift/minishift/issues/590#issuecomment-297928009 (was unable to access the docs, but knew when the functionality got introduced). Much appreciated.

[2017-06-20 16:41] nanomad commented on #1026
Wouldn't oc port-forward suffice for this scenario?

This is what we are currently using on a real openshift cluster for development. I'm assuming it also works on minishift (I'll try it later today)

[2017-06-20 17:56] carljmosca commented on #1022
Docker for Windows does not seem to have an issue with removing DockerNAT.  I stopped all VMs (including Docker), installed minishift, and restarted Docker.  DockerNAT was available once again and I have not noticed issues with Docker or minishift...so far. :)

[2017-06-20 18:11] hferentschik commented on #1045
+1, variable support is high on my list of features as well.

[2017-06-20 18:14] hferentschik commented on #1046
#{routing-prefix} is not a valid variable name. There is the #{routing-suffix} which gets interpolated. Is this what you want? And if not, what do you expect #{routing-prefix} to expand to?

[2017-06-20 18:17] hferentschik commented on #1044
The _oc_ version used by the add-on mechanism is the one cached by Minishift which aligns with the OpenShift version bootstrapped. The $PATH does not come into play here and the binary should never be out of date. One of the key features of current Minishift is that it caches the "right" version of _oc_ on your host. If you want to use it, run `minishift oc-env`.

I am going to close this issue, s

[2017-06-20 18:17] #1044 closed

[2017-06-20 18:29] hferentschik commented on #1047
You should use the _openshift_ command - https://docs.openshift.org/latest/minishift/using/addons.html#addon-commands. This executes the _openshift_ binary on the container. Something like:

    openshift ex config patch /var/lib/origin/openshift.local.config/master/master-config.yaml --patch='{"corsAllowedOrigins": [".*"]}'

[2017-06-20 18:29] #1047 closed

[2017-06-20 18:50] hferentschik commented on #1026
So where is this mobile app running? Are you trying to connect literally with a external phone to the service running on the laptop, or are you trying to connect from your mobile phone application environment to the service?

In the case of the former you will have to jump through some hoops as @gbraad mentioned. If your mobile dev environment is on your laptop itself, you should have several opti

[2017-06-20 19:00] hferentschik opened #1050 "Typo in exposing-services.adoc"

[2017-06-20 19:06] hferentschik commented on #1050
Merged via pull request #1049

[2017-06-20 19:06] #1050 closed

[2017-06-20 20:10] hferentschik commented on #1011
@csrwng, there might be a misunderstanding here. So you were saying:

So on the host ${HOME}/.kube/config should contain entries for the developer and system:admin using the external server name (or in our case the VM IP). However, what we are seeing is that the entry for system:admin ends up to be:

    system:admin/127-0-0-1:8443

That cannot be right, or?

[2017-06-20 21:24] jstrachan commented on #1046
sorry bad typing on the issue - I copy pasted the name `routing-suffix` from the docs into the source code and thats the one that doesn't work - I didn't copy the text into the issue though ;) just editted it

[2017-06-20 22:06] lucastheisen commented on #418
I think this may be related to my problem as well... Th only difference is that when i run start it never gets past this:
[code]
Using hyperv manager, i can _Connect..._ to the vm and watch it boot all the way to the root prompt:
[code]
Also, inside of hyperv manager i can see an IPV6 address assigned under the network tab...  But then it just hangs.

[2017-06-20 22:40] hangtwenty commented on #124
@hferentschik Oh, I see, silly me. I think when I hit this two things happened.

* I saw the `new-app` command and for some reason I thought this was exercising the whole build pipeline feature of openshift, rather than "just" running or deploying a one-off. vague impression, but meant to circle back back
* Then I think I clicked "Interacting with OpenShift" link and went down a different path and

[2017-06-20 22:43] gbraad commented on #418
@lucastheisen we have since provided a way to select the networking switch https://docs.openshift.org/latest/minishift/getting-started/setting-up-driver-plugin.html#hyper-v hopefully this helps. Do you have Docker for Windows installed?

[2017-06-20 22:45] hangtwenty commented on #124
@jorgemoralespou Thanks for the tips about `anyuid`, I have a cursory understanding of SCC stuff ... but I see your tip aligns with  [this section of the docs](https://docs.openshift.org/latest/admin_guide/manage_scc.html#enable-images-to-run-with-user-in-the-dockerfile) and that helps me understand how to workaround this. This will be especially helpful as I relay some information to teammates.

[2017-06-20 23:15] gbraad commented on #124
On Tue, Jun 20, 2017 at 7:21 AM, Michael Floering <notifications@github.com>
wrote:

Correct, this example app is actually one of the first I ran too. But it
also teaches you easily not to run root-user containers.

[2017-06-21 00:09] lucastheisen commented on #418
@gbraad, I did set up my network switch in that fashion.  Created one according to the instructions you linked to on the Microsoft page...  The only difference being that I created it as an internal Network with NAT...

[2017-06-21 00:43] johnreytanquinco commented on #1026
HI @hferentschik ,

Both my mobile app(connected as external phone) and REST api is running in the same laptop. I want that the app can talk/connect to the api. In minishift, REST api service is already exposed as route and that is what I am testing, adding the link as base URL in my code for the app to be able to talk to the api.

I have already spin up another REST api in OpenShift server, which

[2017-06-21 02:32] gbraad commented on #418
@lalatenduM @hferentschik one of the things we can do on startup is to throw an error when the host has two (or no) virtual switches, and of course report which one is used

[2017-06-21 04:25] gbraad commented on #1039
@gastaldi someone has already provided a `brew cask install minishift`. Does this work for you?

@LalatenduMohanty I remember you once worked on an initial .spec to create an RPM package.

[2017-06-21 05:11] gbraad commented on #418
@lucastheisen The text mentions "set the environment variable HYPERV_VIRTUAL_SWITCH to the name of the **external** virtual switch"

At the moment we do not support NAT or Internal, as they do not provide the necessary DHCP functionality.

[2017-06-21 05:18] gbraad opened #1051 "Make documentation about Hyper-V setup slightly more specific about virtual switch setup"
Currently it states:

---
## Hyper-V
### To use Minishift with Hyper-V:
 1. Install Hyper-V.
 2. Add a Virtual Switch.
---

I believe we should mention:

---
## Hyper-V
### To use Minishift with Hyper-V:
 1. Install Hyper-V.
 2. Add an **external** Virtual Switch.
---

As the only mention of External is now in point 3:

---
 3. <snip/> set the environment variable HYPERV_VIRTUAL_SWITCH to the name

[2017-06-21 05:20] gbraad commented on #1051
Would rather call it trivial, but that means assigning two priorities, and easyfix would prevent us from working on this.

[2017-06-21 06:14] gbraad commented on #1047
@hferentschik @jstrachan https://github.com/sabre1041/cdk-minishift-utils/blob/master/addons/cors-allowed-origins-wildcard/cors-allowed-origins-wildcard.addon

[2017-06-21 08:54] hferentschik commented on #1026
@johnreytanquinco, thanks for the update.

So is there still an actual problem or do you have it working?

Sure, let us know how it goes.

[2017-06-21 09:01] #1051 closed

[2017-06-21 09:01] hferentschik commented on #1051
Merged via pull request #1052.

[2017-06-21 09:34] hferentschik commented on #873
Addressed by pull request #1027

[2017-06-21 09:35] hferentschik commented on #1002
Merged via pull request #1027

[2017-06-21 09:35] #1002 closed

[2017-06-21 10:24] lucastheisen commented on #418
@gbraad, I did see that, but thought this issue was about getting NAT support, so I hoped that little please was outdated (given that docker for Windows has this feature).  Without NAT, my team is out of luck, as corporate won't assign ips to non-corporate managed images.  If I keep watch on this ticket will it let us know when NAT is supported?

[2017-06-21 11:51] jstrachan commented on #1046
I just confirmed this error occurs on the default openshift 3.5.x as well as 3.6.x; it also doesn't matter if I deploy some Routes first before I try and use the `#{routing-suffix}` or not

[2017-06-21 11:54] jstrachan opened #1053 "using `oc --as system:admin` no longer works with 3.6.x of openshift due to `Unable to add sudoer role`"
if you create a cluster using a 3.6.x. distro like this:
[code]
Notice the last line!!!

then if you try and use `oc --as system:admin` it barfs

[code]

whereas if we use `oc login` instead:
[code]

[2017-06-21 13:10] budhrg commented on #1053
@jstrachan , which version you are using here? Did you build the binary from master branch ?

[2017-06-21 13:17] jstrachan commented on #1053
I was using the latest release (1.1.0) - but can workaround now with a snapshot build: http://artifacts.ci.centos.org/minishift/minishift/master/198/darwin-amd64/minishift

[2017-06-21 14:20] gastaldi commented on #1039
@gbraad unfortunately `brew cask` works only in macOS. I am using [Linuxbrew](http://linuxbrew.sh) in Fedora 25, where a Brew Formula would be a better choice instead.

[2017-06-21 15:01] budhrg opened #1054 "Improve user experience when registration process timeout"
Currently, when the registration process get timeout for RHEL ISO, we have empty VM with no openshift and only timeout error.
[code]

Probably, we should add message what next action to perform as:
[code]

Related to https://issues.jboss.org/browse/CDK-113.

[2017-06-21 15:46] gbraad commented on #1039
Cask and Chocolatey are described in #1012

[2017-06-21 16:08] gastaldi commented on #1012
I created a PR to Homebrew with Minishift formulas: https://github.com/Homebrew/homebrew-core/pull/14817

[2017-06-21 16:59] gastaldi commented on #1012
For LinuxBrew, I opened a PR in https://github.com/Linuxbrew/homebrew-extra/pull/17

[2017-06-21 17:26] gastaldi commented on #1012
There are some CI failures in the Homebrew PR because, as beforementioned, there is already a cask file (https://github.com/caskroom/homebrew-cask/blob/master/Casks/minishift.rb). IMHO I believe it should be a Homebrew Formula, not a Cask, since Minishift is not a GUI app.

If that makes sense, I can provide a PR to remove the existing cask file. Thoughts?

[2017-06-21 18:11] hferentschik commented on #1053
Duplicate of #1011

[2017-06-21 18:11] #1053 closed

[2017-06-21 18:20] hferentschik opened #1055 "Failure in `oc cluster up` does not abort bootstrapping"
If an error occurs in the following code in _start.go_

        err = clusterup.ClusterUp(clusterUpConfig, clusterUpParams, &util.RealRunner{})
	if err != nil {
		atexit.ExitWithMessage(1, fmt.Sprintf("Error during 'cluster up' execution: %v", err))
	}

	if !isRestart {
		postClusterUp(hostVm, clusterUpConfig)
	}

there won't be an error returned from clusterup.ClusterUp, meaning that _postCluster

[2017-06-21 19:21] hferentschik commented on #1046
@jstrachan Are you using `minishift addons apply fabric8` when you test this? My guess is yes. If you enable the plugin and run `minishift start` you most likely will see that the substitution will work. The problem is not so much that interpolation does not occur, but rather that the routing-suffix is not properly set when `addons apply` is executed.

Aside of this, I noticed something along the

[2017-06-21 19:56] hferentschik commented on #1046
@jstrachan FYI https://github.com/minishift/minishift/pull/1056

[2017-06-22 07:04] jstrachan commented on #1046
@hferentschik so previously I'd done something like this...
[code]
after your comment I realised maybe the way you're meant to use addons is to install & enable them first then just run minishift start. So I tried that...
[code]
and still no `#{routing-suffix}` in the echo commands or the generated oauthclient
[code]
I wonder is there a different way to invoke the fabric8 addon where the `#{routin

[2017-06-22 07:17] praveenkumar commented on #1054
Looks like `The system has been registered with ID: 13f11716-9521-4d8e-b2ab-94468123357d ` is already registered so user have to make sure that during delete `unregistration` happen as expected.

[2017-06-22 07:37] hferentschik commented on #1046
There is no wrong or right. It depends what you are after. `addons apply` is great for development and testing of add-ons. Or when you create an add-on which does something ad-hoc, foe example you could have two add-ons which on demand (aka `addons apply`) toggle a certain feature.

The other use case is to configure OpenShift or deploy an application on each start of Minishift. That's where enabl

[2017-06-22 07:41] jstrachan commented on #1046
BTW I tried `minishift addons enable fabric8 && minishift start` as shown in the log above and that didn't work either

[2017-06-22 07:46] hferentschik commented on #1046
Let me double check that.

[2017-06-22 07:57] gbraad commented on #1055
This means that `oc cluster up` does not return appropriate error codes in all cases?
Maybe @csrwng can shed some light on this...

[2017-06-22 08:21] hferentschik opened #1057 "Add link checker to docs build"
We should add a link checker target to the Rake setup for the docs build. The idea is to serve the site and let the link checker traverse it to detect any stale links.

This way we can easily detect broken cross references as well as changed external links.

[2017-06-22 08:34] #1011 closed

[2017-06-22 08:35] hferentschik commented on #1011
Merged second related pull request #1041

[2017-06-22 11:14] praveenkumar opened #1058 "Add support for Minikube ISO"
Currently we are only supporting b2d and centOS, we should also check minikube iso which is based on buildroot and have docker + rkt runtime.

### related pulls
  * [x] bind mount https://github.com/kubernetes/minikube/pull/1968
  * [x] Minishift paths https://github.com/kubernetes/minikube/pull/1993

[2017-06-22 11:16] hferentschik commented on #1046
right, it was not working during `minishift start` either. Fixed now as well.

[2017-06-22 11:18] hferentschik commented on #1058
Relates to issue #195

[2017-06-22 14:21] brandonforster commented on #695
I came across this same issue trying to install OpenShift on a Windows 7 machine. A Google search brought me to this issue, and I can confirm that installing OpenSSH and restarting my command prompt fixed the issue.

I hope you find this report useful.

[2017-06-22 14:39] gastaldi commented on #1012
A PR was created in https://github.com/caskroom/homebrew-cask/pull/35760 to remove the Cask file. Can someone else approve it?

[2017-06-23 07:05] gbraad commented on #786
it should be possible to trigger the release from the command line, pretty much like is done for the documentation. as this is the only guarantee that the release is cleanly built and had an integration run on at least one platform.

[2017-06-23 11:03] khatribharat commented on #933
Performed a clean reinstallation - still the same problem

I deleted the old binaries, VM et al. and ran the following:

[code]

[2017-06-23 11:18] budhrg commented on #933
@khatribharat could you join #minishift in irc.freenode.net so that we can sync deeply on the issue?

[2017-06-23 11:19] gbraad commented on #933
Take note: in the original report it mentions "myproject doesn't exist",
but now it is "default doesn't exist".

On Fri, Jun 23, 2017 at 7:03 PM, Bharat Khatri <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2017-06-23 11:20] budhrg commented on #933
Because in the original report, user has exclusively mentioned namespace by `-n myproject` and hence the error.

[2017-06-23 16:27] csrwng commented on #1031
@hferentschik you'd basically need to update the router's default certificate with whatever certificate you want to use.

However, by default all certificates are generated using the same certificate authority (/var/lib/origin/openshift.local.config/master/ca.crt). On my Mac, if I open that file with Keychain Access and trust it, then I'm no longer asked to accept a self-signed cert on the console

[2017-06-23 16:29] csrwng commented on #1055
@hferentschik @gbraad do you have the output of cluster up in such a case? Could it be that the server died after cluster up thought it was running?

[2017-06-24 21:39] bjozet commented on #933
I also had this problem, and found a solution in #1040 where @jeremyeder pointed to the fact that this occurs if you have a preexisting ~/.kube directory. Although, I've found that it's not the existence of the directory that causes it, but if you have a config-file within that directory

I, for example, have a ~/.kube/config that contain items for my Google Cloud setup, and this somehow renders m

[2017-06-26 02:11] gbraad commented on #355
@jhcook Please create a new issue
The reason why you see this issue is that you exhaust the `/` filesystem. We will need to find an alternative approach to installing packages to the disk. I would suggest to remap/symlink `/opt/` to the datadisk (`/mnt/sda1/opt`) to be used for this purpose.

[2017-06-26 02:25] gbraad commented on #640
Waiting for feedback from the performance team.

[2017-06-26 05:38] gbraad commented on #1034
@jstrachan CORS enablement has been mentioned in https://github.com/minishift/minishift/issues/1047#issuecomment-309847261

[2017-06-26 05:49] gbraad commented on #563
Still an issue... currently this takes 2+ mins for me during startup

[2017-06-26 06:17] gbraad commented on #355
@jhcook

Reproducible on CentOS 7 image, and for the reason mentioned previously:

[code]

A workaround is to do something like the following:

[code]

You can alter the `.bash_profile` to do the export... but I would really like to see another issue and also find out what your usecase is.

[2017-06-26 06:50] gbraad commented on #1055
@csrwng for me it happens when the OpenShift origin fails to be pulled (such as index.docker.io being unreachable by timeout).

[2017-06-26 07:47] gbraad commented on #563
This happens to .kube/config containing many entries: https://gist.github.com/gbraad/607e88772340eec49988a2dd1be4960b

[2017-06-26 08:20] hferentschik commented on #1046
Merged via pull request #1056

[2017-06-26 13:02] hferentschik commented on #691
Merged via pull request #1048

[2017-06-26 13:02] #691 closed

[2017-06-26 13:03] #1046 closed

[2017-06-26 13:08] hferentschik commented on #430
Fixed via pull request #1027 which will transparently apply "172.30.0.0/16" as  insecure docker registry, even if additional insecure registries are applied on the CLI.

[2017-06-26 13:08] #430 closed

[2017-06-26 13:40] hferentschik commented on #899
Ok, let's try to sum this up:

* We call this feature _cluster-profile_ moving forward to be able to call multiple instances "profiles" (in order to align with Minikube)
*  Cluster profiles are based on add-ons
* A profile is a name for a list of add-ons to apply (defining the add-ons to apply and the order in which they apply)
* When Minishift is started with the --cluster-profile option, the add

[2017-06-26 13:41] hferentschik commented on #899
I am marking this issue as resolved. I think we have enough to implement this. There are still some questions around the right defaults, but I think we can deal with this as part of the actual implementation for issue #549.

[2017-06-26 13:41] #899 closed

[2017-06-26 14:17] jorgemoralespou commented on #899
@hferentschik just making one comment.

openshift-online has many flavours that you can see [online](https://www.openshift.com/pricing/index.html). I would not make this a default cluster-profile, as I think main target for minishift is users that don't use online but rather OpenShift on-premises. I would go for "none" as default.

[2017-06-26 15:52] jorgemoralespou commented on #1031
@csrwng Is every instance created by "oc cluster up" have a different /var/lib/origin/openshift.local.config/master/ca.crt?

If I do what you suggest, I'll have to add that file for every instance I create.

Would this be an option?
- Create my own "untrusted ca" (https://datacenteroverlords.com/2012/03/01/creating-your-own-ssl-certificate-authority/)
- Add that file my-ca.crt to the mac KeyChain

[2017-06-26 16:05] csrwng commented on #1031
@jorgemoralespou yes it will have a different one for every different config directory. If you reuse your config directory of course you'll get the same one as before.

As for what you suggest, it'd be good to try it out. Even without a flag to cluster up, it is possible to do something similar by generating your certs with `oc adm ca create-signer-cert`, save it to your favorite directory, trust

[2017-06-26 16:06] jorgemoralespou opened #1062 "Add the ability to know the "commit sha" from where a client has been built"
When trying to debug multiple features, I have downloaded multiple different clients from PR and master URLs from CI server. Now I don't know which client is which, as there's no way to tell the difference.

It owuld be nice to be able to do:

[code]

Or similar

[2017-06-26 17:51] hferentschik commented on #143
Merged via pull request #1017

[2017-06-26 17:51] #143 closed

[2017-06-26 18:24] hferentschik opened #1063 "Use Minikube as dependency"
Core idea is to consume _pgk/minikube_ as a dependency. Moving forward this will make it easier to quicker get changes from Minikube and in return make it easier to contribute bug fixes.

The idea is to "share" the core of Minikube which sits on top of libmachine. Effectively this is _pgk/minikube_. This packages are mainly untouched, but we need to make sure to back port some changes we made.

Re

[2017-06-26 18:30] hferentschik commented on #285
@praveenkumar what's the state on this?

[2017-06-26 18:32] hferentschik commented on #666
Closing this issue.

[2017-06-26 18:32] #666 closed

[2017-06-26 18:33] hferentschik commented on #959
@gbraad Do you want to rename this issue to match what we are planning to do, aka "Add command line switches for `minishift hostfolder add`" or shall we create a new issue and reference it from here?

[2017-06-26 18:34] budhrg commented on #1062
Duplicate of https://github.com/minishift/minishift/issues/515. :smile:

[2017-06-26 18:34] #1062 closed

[2017-06-26 18:35] hferentschik commented on #1036
As part of this we want to add some timings as well.

[2017-06-26 18:42] hferentschik opened #1064 "Empty echo command in add-on does not print empty line"
Adding an empty "echo" command in an add-on to print an empty lines fails. Should just print the empty line.

[2017-06-26 18:43] hferentschik commented on #1055
That's one of the cases, but not the only one.

[2017-06-26 18:53] hferentschik commented on #933
Having an existing  ~/.kube/config should not matter. It it does we have indeed a bug in the code which extract the data for minishift_kubeconfig from ~/.kube/config. I also have other data on ~/.kube/config, but not Google Cloud related.
@bjozet, are you saying that with the Google Cloud data in  ~/.kube/config it consistently fails for you? What is the exact error message.

I also have a feeling

[2017-06-26 18:58] hferentschik commented on #1031
I think we are onto something here :-). I think the way forward is the --certificate-authority option. Generate the cert once and trust it and then provide it to the bootstrap process. Seems to me the cleanest approach. Given the Minishift VMs are deleted often, we will otherwise still keep getting new master certificates. Also the --host-config-dir seems a bit of a "hack".

[2017-06-26 18:59] hferentschik commented on #786
+1, in fact it should be the only option.

[2017-06-26 19:02] hferentschik commented on #899
+1 this would be preferred choice as well. It keep backwards compatibility and we "nicely" add a new feature. I just recall that in some discussion we have some preference for default being _openshift-online_, but for my part definitely _none.

[2017-06-26 19:24] csrwng commented on #1031
@hferentschik I wasn't suggesting the host config dir bit as a final solution, just something to try to see if this is feasible. (Also, not much of a hack if you consider that minishift always keeps the config in the same directory inside the vm) As far as the flag goes, keep in mind that it may not be as simple as adding a single flag to cluster up. Afaik you at least need the cert, key and seria

[2017-06-27 03:26] gbraad commented on #1036
@LalatenduMohanty
It seems the milestone has been modified to the next one, and timing has been added.

[2017-06-27 05:33] LalatenduMohanty commented on #1064
@hferentschik It is not failing for me. However there seems to be a bug for sure. For example if I execute an addon with following content
[code]
The out put contains the `echo` as below.
[code]

[2017-06-27 08:38] hferentschik commented on #1031
sure, git that

Let's take a look at that.

[2017-06-27 08:47] jstrachan commented on #1031
I love the idea of a persistent shared cert we can use on routes etc.

Another idea we had this morning on the walk to the office is to use the same domain name for all the various Routes but use sub-paths instead.

e.g. instead of: `https://foo-namespace.ip.nic.io/` we go with `https://namespace.ip.nic.io/foo/` so that there's only 1 URL to accept

[2017-06-27 09:06] budhrg commented on #1064
This is happening in this PR as well https://github.com/minishift/minishift/pull/1043

[2017-06-27 09:09] hferentschik commented on #1064
@LalatenduMohanty, so it is "failing", right?

[2017-06-27 09:11] hferentschik commented on #1031
+1, I was always wondering why you creates these top level domains

[2017-06-27 09:22] jorgemoralespou commented on #1031
-1
What would be the benefit of you can trust the CA, you can create many certs as required. On the downside, I would never be able to hit those URLs without a link or deep knowledge of the application. I would trade simplicity of use for complexity on the development/admin side.

[2017-06-27 09:24] budhrg commented on #1055
@csrwng It happened with me when testing one of PR here https://github.com/minishift/minishift/pull/1017#issuecomment-309434671.

It says
[code]
righter after `Docker up and running`.

[2017-06-27 09:26] LalatenduMohanty commented on #1055
@hferentschik  Shouldn't we open an issue in Origin as `cluster up` does not return proper error codes.

[2017-06-27 09:32] hferentschik commented on #1055
Sure, once we looked into this and can confirm that this is the case. In fact there is already now some additional check in place on our side. We need to look at the full call change to see what needs to be done.

[2017-06-27 09:33] hferentschik commented on #1031
@jorgemoralespou, trying to understand you here. You are saying it helps you understand the application better if you have multiple top level domain over a single top level domain with various subpaths?

[2017-06-27 10:58] jorgemoralespou commented on #1031
@hferentschik yes. And eventually that's what most users/customers do. They provide top level domains for the applications themselves. That's what a wildcard dns provides as a benefit. You know in an easier way where to locate your app.

Think about google.

Would you rather have:

www.google.com/mail
www.google.com/docs
www.google.com/drive

or

mail.google.com
docs.google.com
drive.google.com

N

[2017-06-27 11:00] bjozet commented on #933
@hferentschik, i've managed to reduce my google cloud ~/.kube/config to a version that fails consistently with errormessage `Error during post cluster up configuration: Error reading config file /Users/bjozet/.minishift/machines/minishift_kubeconfig`, and no such file is created. And this error causes the errormessage `Namespace myproject doesn't exits`, as @chenchik reported too (but it's ofcours

[2017-06-27 11:04] hferentschik commented on #933
@bjozet awesome, thanks a lot. Now we have something to go by

[2017-06-27 11:10] jorgemoralespou commented on #933
@csrwng Please, take a look at previous comment as this seems to be an "oc cluster up" issue.

[2017-06-27 11:18] jorgemoralespou opened #1066 "Error deleting a running VM"
Scenario:

I was running minishift, when I restarted the host laptop. After restart the laptop, I updated the client to latest minishift (1.2.0) although I don't think this is related. I tried to delete the minishift VM to test caching of images, and I got this output:

[code]

[2017-06-27 11:18] jstrachan commented on #1031
@jorgemoralespou I agree, I'd prefer to use host names rather than sub paths; was just thinking of the sub paths as a workaround while we work out the cert sharing thingy

[2017-06-27 11:24] jorgemoralespou commented on #1066
I deleted the VM, and started a new one, and got:

[code]

And stuck there. I have deleted *.minishift/machines* and same error.

Deleted .minishift, and then this error:

[code]

[2017-06-27 11:27] jorgemoralespou commented on #1066
Restarting seem to have fixed the issue for me. Although I'm working, there's an issue with deleting a VM that has been somehow stopped by a host restart.

Using xhyve.

[2017-06-27 11:34] hferentschik commented on #1031
Fair enough :-)

[2017-06-27 11:37] jorgemoralespou opened #1067 "Networking issues inside VM fail to download containers"
I have a new .minishift directory and I have image-caching enabled and I get this error:

[code]

But of course docker is working:

[code]

Seems like networking from the VM is not working correctly after #1066

[2017-06-27 11:51] jorgemoralespou opened #1068 "Unknown error creating VM if disk-size is not valid"
With virtualbox:

[code]

[2017-06-27 11:58] jimmidyson opened #1070 "config set does not support new centos iso-url option"
[code]

centos needs to be added as a valid value to the validator.

Great release btw!